<a href="#" class="btn btn-primary" ng-click="prevSection()" ng-if="currentSection > 1">Back</a>
<a href="#" class="btn btn-primary" ng-click="nextSection()" ng-if="currentSection < totalSections">Next</a>
<a href="#" class="btn btn-primary" ng-click="onFinish()" ng-if="currentSection == totalSections && finishButton">Finish</a>
