<div class="ui-modal-header">
  <p class="modal-title">{{componentModalTitle}}</p>
  <ul class="menu-list">
    <li class="component-modal-close-btn">
      <button class="btnMenu btn-close close ngdialog-close"></button>
    </li>
    <li class="component-modal-back-btn" ng-if="enableBackButton" ng-click="goToSection(backTo, 'left')">
      <button class="btn-back"></button>
    </li>
  </ul>
</div>
