.slide-left, .slide-right{
  opacity: 1;
  background: #fff;
  display: block;

}
.slide-left.ng-animate, .slide-right.ng-animate
{
  -webkit-transition:all ease 0.5s;
  transition:all ease 0.5s;
    display: block;
}

.slide-left.ng-hide-remove-active{
  -webkit-animation:0.5s slideLeftIn ease;
  animation:0.5s slideLeftIn ease;
}

.slide-left.ng-hide-add-active{
  -webkit-animation:0.5s slideLeftOut ease;
  animation:0.5s slideLeftOut ease;
}
.slide-right.ng-hide-remove-active{
  -webkit-animation:0.5s slideRightIn ease;
  animation:0.5s slideRightIn ease;
}

.slide-right.ng-hide-add-active{
  -webkit-animation:0.5s slideRightOut ease;
  animation:0.5s slideRightOut ease;
}

@-webkit-keyframes slideLeftIn {
  0% {
    -ms-transform: translate(100%,0); /* IE 9 */
    -webkit-transform: translate(100%,0); /* Safari */
    transform: translate(100%,0);
    opacity: 0;
  }

  100% {
    -ms-transform: translate(-0%,0); /* IE 9 */
    -webkit-transform: translate(-0%,0); /* Safari */
    transform: translate(-0%,0);
    opacity: 1;
  }
}

@-webkit-keyframes slideLeftOut {
  0% {
    -ms-transform: translate(0%,0); /* IE 9 */
    -webkit-transform: translate(0%,0); /* Safari */
    transform: translate(0%,0);
    opacity: 1;
  }

  100% {
    -ms-transform: translate(-100%,0); /* IE 9 */
    -webkit-transform: translate(-100%,0); /* Safari */
    transform: translate(-100%,0);
    opacity: 0;
  }
}

@-webkit-keyframes slideRightIn {
  0% {
    -ms-transform: translate(-100%,0); /* IE 9 */
    -webkit-transform: translate(-100%,0); /* Safari */
    transform: translate(-100%,0);
    opacity: 0;
  }

  100% {
    -ms-transform: translate(0%,0); /* IE 9 */
    -webkit-transform: translate(0%,0); /* Safari */
    transform: translate(0%,0);
    opacity: 1;
  }
}

@-webkit-keyframes slideRightOut {
  0% {
    -ms-transform: translate(0%,0); /* IE 9 */
    -webkit-transform: translate(0%,0); /* Safari */
    transform: translate(0%,0);
    opacity: 1;
  }

  100% {
    -ms-transform: translate(100%,0); /* IE 9 */
    -webkit-transform: translate(100%,0); /* Safari */
    transform: translate(100%,0);
    opacity: 0;
  }
}

.ngdialog-theme-default .ngdialog-content {
  margin-top: 0;
}
.ngdialog { display: flex; flex-direction: column; justify-content: center; }
