﻿// Best Buy french specific

// Core variables
@import "../variables.less"; // Modify this for custom colors, font-sizes, etc


/** reusables ------------------------------------------------------------ */
.fr-CA .std-btn-shop {
	background: transparent url('/images/buttons/btn_shop_fr.png') no-repeat left top;
}

.fr-CA .std-btn-big-shop {
	background: transparent url('/images/buttons/btn_shop_big_fr.png') no-repeat left top;
}

/* button fix ----------------------------------------------------------- */
.fr-CA .ta3 .mccpblue .mccpright{
	width:110px;
}
.fr-CA .ta3 .mccpblue .mccpright .btnmccpstd, .fr-CA .tc3 .mccpblue .mccpright .btnmccpstd{
	font-size:10px;
	font-family: Tahoma;
	padding: 4px 9px 5px !important;
}
.quick-view .box .mccpblue .mccpright, .quick-view .box .mccpgray .mccpright {
	width: 140px!important;
}
.fr-CA .tbl-compare .mccpblue .mccpright .btnmccpstd {
	font-size: 10px;
	font-family: Tahoma;
	padding: 4px 9px 5px !important;
}
.fr-CA .l4a .ta3 .buttons .mccpblue .mccpmain input {
	font-size: 10px;
	font-weight: bold;
	font-family: Tahoma;
}
.fr-CA .l4a .ta3 .buttons .mccpblue .mccpmain {
	padding: 0;
	margin: 0;
}
.fr-CA .l4a .ta3 .buttons .mccpblue {
	padding: 0;
	margin: 0;
}
.fr-CA .search input.txtbox {
	width: 93px;
}

// above button fix needs to be cleaned up 
.btn-paypal{
	background: transparent url('/images/buttons/btn_paypal_fr.gif') no-repeat left top;
}


// pdp
// --------------------------
.purchasing-module {
	.btn-primary-alt {
		line-height: 32px;
		padding: 5px 8px 0;
		font-size: 15px;
	}
}


/* my account ----------------------------------------------------------- */
.fr-CA .check-on-order .viewpromocodes .hdr {
	background: #f3f3f3 url(/images/common/backgrounds/graygradient.gif) repeat-x 0 12px;	
	border: 1px solid #ccc;
	vertical-align: middle;
}

/* cart ----------------------------------------------------------------- */
.fr-CA .page-cart .btn-reserve a {
	background-position: 8% 8px;
}
.fr-CA .basket td.qty{
	width: 90px;
}
.fr-CA .basket td.item .description{
	width: 170px;
}
.fr-CA .basket ul.warranty li div.right-warranty {
	width: 170px !important;
}
.fr-CA .basket .mccpsmall{
	width: 63px !important;
}
.fr-CA .basket .accessories-item .mccpsmall, .fr-CA .basket ul.warranty .mccpsmall{
	width: auto !important;
}
.fr-CA .basket .accessories-item .mccpmain, .fr-CA .basket ul.warranty .mccpmain {
	width: 99px !important;
}
.fr-CA .chkout_right .review-payment-btn {
	width: 390px;
}
.fr-CA .chkout_right .button-right .mccpgray, .fr-CA .chkout_right .button-right .mccpblue{
	white-space: nowrap;
}
.fr-CA .standardblock dl.inner-padding dt{
	width: 95px;		
}
.fr-CA .standardblock dl.inner-padding dd{			
	margin-left: 115px;
}

.fr-CA .cedb .brandcontent {
	background: transparent url(/Projects/_Content/Headlines/Assets/accordion_brand_fr.gif) no-repeat scroll left bottom;
}

/* Order line total fix --------------------------------------------------- */
 
.fr-CA .order-total .line-total {
	font-size: 15px;
}

/* Address help tips fix --------------------------------------------------- */

.fr-ca .checkout-fieldset li span.address-tips-help {
	font-size: 10px;
	left: 55px;
}


// header
// --------------------------
.hdr-search {
	.hdr-search-input {
		width: 204px;
	}
}

.hdr-secondary-nav {
	width: 530px;

	li {
		margin: 0 0 0 12px;
	}
}

.bbym-master {
	.hdr-search {
		.hdr-search-input {
			width: 170px;
		}
	}
	
	.hdr-secondary-nav {
		width: 520px;
	}
	
	.global-nav {
		.parent-carriers .sub-nav {
			left: 134px;
		}

		.parent-accessories .sub-nav {
			left: 243px;
		}

		.parent-m-community .sub-nav {
			left: 490px;
		}

		.parent-m-services .sub-nav {
			left: 383px;
		}
	}

	.hdr-top {
		.bbym-logo {
			a {
				background-position: left -130px;
			}
		}
	}
}


// footer
// --------------------------
.ftr-rz-asset {
	background-position: left -334px;
}

.ftr-secure-wrapper {
	.visa {
		background-position: -100px -569px;
	}

	.paypal-vendor {
		background-position: left -752px;
	}
}


// homepage
// --------------------------
#home-content .community-wrapper .community-heading .link .two {
	right: 166px;
}

.tech-spotlight-home {
	.all-articles {
		font-size: 11px;
	}
	
	&.three-spotlight-article .tech-spotlight-inner .all-articles {
		padding-top: 58px;
		width: 115px;
		padding-left: 6px;
		font-size: 11px;
		background-image: url('/images/common/backgrounds/showcase-home-fr.jpg');
	}		
}


// plp
// --------------------------
.tech-spotlight-dept {
	.tech-spotlight-inner {
		background-image: url('/images/common/backgrounds/showcase-dept-fr.jpg');
		
		.all-articles {				
			padding-top: 48px;				
		}
		.article-arrow {	
		    background-image: url('/images/common/buttons/learn-more-button-fr.jpg');			
		}  		
	}
}

.grid-view {
	.prod-info {
		margin: 0 0 116px;
	}

	.prod-availability {
		min-height: 72px;
	}
}

.listing-control-wrapper {
	
    .sort-by-wrapper .sorting-label {
		float: left;
		margin: 5px 0 0;
	}

	.sort-by-list {
		float: right;

		.sorting-item .label {
			display: inline-block;
			float: left;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 57px;
			*display: inline;
			*zoom: 1;
		}
	}
}

.listing-item .item-inner .compare-checkbox .btn-compare {
	width: 141px;
}
	
.pagination-control {
	.pagi-prev a {
		padding: 6px 10px 6px 14px;
	}

	.pagi-next a {
		background-position: -68px -73px;
		padding: 6px 14px 6px 10px;
	}

	.disabled.pagi-next a {
		background-position: -68px -92px;
	}		
}


// products
// --------------------------
.across-wrapper {
	.rz-bubble {
		background-position: -97px 108px;			
	}    
	
	.rz-dept-icon {
		background-position: 5px 171px;			
	} 
	
	.rz-pc-icon {
		background-position: -2px 329px;	
		width: 142px;		
	} 
	
	.rz-2across-icon {
		background-position: 13px 568px;			
	}  
	
	.rz-2across-special-icon {
		background-position: 2px 791px;
		width: 100px;
		height: 75px;	
	}
	
	.rz-3across-special-icon {
		background-position: -99px 662px;
		width: 55px;
		height: 55px;	
	}
}


// vendor
// --------------------------
.master-content-wrap{
	&.marketing {
		.section-heading .span3 {
			width: 170px;				
		}
		
		.vendor-promotion-item {

			.promotion-item-1 .secondary-promotion-content {
				padding: 139px 20px 0;            
			}
			
			.promotion-item-2 .secondary-promotion-content {
				padding: 100px 20px 0;            
			}
			
			.promotion-item-3 .secondary-promotion-content {
				padding: 118px 22px 0;            
			}
		}
		
		.vendor-promotion-banner {
			.promo-link-block p {
					font-size:12px;
			}

            .promo-link-block &#second {
				padding: 16px 0px 0 83px;
			}				
		}		
	}
}


// search page
// --------------------------

// widget related
.widget-related {
	.related-label {
		width: 146px;
	}

	ul {
		width: 587px;
	}
}

// listing forum specific
.meta-attributes-wrapper {
	.meta,
	.forum-attributes {
		width: 50%;
	}
}

//Modal styling fixes for French
.ui-modal-warranties {

    .ui-modal-body {
        height: 520px;
    }

    .ui-modal-body h2 {
        margin: 8px 0;
    }
}

.ui-modal.small input[type=text].big {
    width: 208px;
}

.ui-modal.small input.medium, .ui-modal.small input[type=text].medium {
    width: 154px;
}

.ui-modal-header h3,
.ui-modal-header .modal-title,
.modal-header h3,
.modal-header .modal-title {
    font-size: 16px;
    top: 13px;
}

.store-list
li .address-details {
    padding: 0 100px 0 0;
}