﻿/*/////////////////////////////////////////////////////////////*/
/*/////////////////////// PRODUCT DETAIL //////////////////////*/
/*/////////////////////////////////////////////////////////////*/
#productdetail h1,
#productdetail .p-new {
	line-height: 24px;
}
#productdetail {    
	clear: both;
	margin: 0 0 20px 0;
	overflow: hidden;
}
#productdetail .left{    
	float:left;
	width:300px;
	padding:0 10px 0 0;	
}
#productdetail .left .img300x300 {    	
	padding: 0 0 5px 0;
	cursor:pointer;
}
#productdetail .left a.largerimg {    	
	float: left;		
	margin: 0 6px 5px 0;
}
#productdetail .left .image-set{    	
	float:right;
	font-size:11px;
	margin-right:5px;
}
#productdetail .left .color-options{   	
	font-weight:bold;
	padding:5px 0 5px 0;
	clear:both;
}
#productdetail .left .color-options .small{
	font-size:11px;
}
#productdetail .left .color-options div{
	float:left;
	text-align:center;
	padding-right:5px;
}
#productdetail .left .color-options a{
	font-size:11px;
	font-weight:normal;
	display: block;
}
#productdetail .left .color-options .colors{
	margin:2px 0 7px 0;
}
#productdetail .left .color-options img {
	width: 24px;
	height: 24px;
	border: 1px solid #C3C1C1 !important;
}

#productdetail .left .pdp-brand-store 
{
	float: right;
}
#productdetail .right {
	float: left;
	width: 610px;
}
#productdetail .right #pdpoverview {
	padding: 10px 12px 5px 14px;
	background: url(/images/common/backgrounds/pdp_overview_top.png) no-repeat left top;
	border-bottom: 1px solid #ccc;
}
#productdetail .demo-wrapper {
	float: left;
	margin: 0 0 5px;
}
#productdetail .360view-wrapper {
	float:left;
	margin:0 0 5px;
}
.psp-image{
	padding: 0 8px 10px 0;
	float: left;
}
/* PRODUCT DETAIL PAGE OVERVIEW */
#pdpoverview h1,
#pdpoverview .p-new {
	display: inline;
	padding:0 0 4px 0;
	margin:0;
	font-size:20px;
	position: relative;
}
	#pdpoverview .p-new {
		color: red;
		font-weight: bold;
		margin: 0 8px 0 0;
	}
#pdpoverview .content .hdr { 	
	font-weight: bold;
	margin-bottom: 2px;
}
#pdpoverview .sof-control {
	margin-bottom: 15px;
}
#pdpoverview .content ul li{
	padding-top:2px;
}
#pdpoverview .infos{		
	padding-bottom:3px;
	clear:both;
	position: relative;
}
#pdpoverview .infos li{		
	background:url(/images/common/backgrounds/shiphead_divider.gif) no-repeat 0 1px;	
	padding-left:8px;
	margin-left:6px;
	display:inline;
}
#pdpoverview .infos .first{		
	background:none;
	display:inline;
	margin-left:0 !important;
	padding-left:0 !important;
}
#pdpoverview .content{    
	margin: 14px 0 0 0;
	background: url(/images/common/backgrounds/pdpoverview_dashedsep.gif) repeat-y top left;
	/* min-height: 200px; */
}
#pdpoverview .content .onsale{    
	width:228px;
	padding:0 15px 0 0;	
	float:left;	
}
#pdpoverview .content .shipping {
	float: left;
	padding: 0 13px;
	width: 158px;
}
#pdpoverview .shipping .question-icon {
	position: relative;
	top: 2px;
}

/* availability messaging starts ----------------------------------------- */
#pdpoverview .availability-message h6 {
	font-size: 12px;
	margin: 0 0 2px;
}
#pdpoverview .order-online {
	margin: 0 0 12px;
	border-bottom: 1px dashed #999;
	padding: 0 0 13px;
}
#pdpoverview .online-quantity {
	padding: 12px 0 0;
}
#pdpoverview .content .availability-message ul li {
	padding: 0;
}
#pdpoverview .content .availability-message ul .inner {
	margin: 0 0 2px;
}
#pdpoverview .content .availability-message ul .separator {
	display: none;
	font-size: 0px;
	line-height: 0;
	height: 0px;
}
#pdpoverview .availability-message .limit {
	font-style: italic;
	margin-top: 12px;
	font-size: 11px;
}
#pdpoverview .check-more-stores {
	margin-top: 12px;
	font-weight: bold;
}
#pdpoverview .order-ispu {
	padding-bottom: 13px;
}

/* availability messaging ends ------------------------------------------- */

.buttons .btnLink
{
	margin: 5px 0 0 16px;
	display: block;
}

.skulist .buttons .btnLink 
{
	margin: 5px 0 0 2px;
}

#pdpoverview .buttons{
	width: 155px;
	padding: 0;	
	overflow: hidden;
	float: left;
}
#pdpoverview .buttons .mccpgray{
	margin:6px 0 0 0;	
	clear:both;
	text-align:center;
}
#pdpoverview .buttons .mccpblue{	
	clear:both;
	text-align:center;
}
#pdpoverview .buttons .mccpright{	
	text-align:center;	
	width:135px;	
}
#pdpoverview .buttons .mccpblue, #pdpoverview .buttons .mccpgray, #pdpoverview .buttons .mccpsmall{
	margin-right:0px;
	margin-left:15px;
}

/*PDP OVERVIEW STANDARD RATING SYTEM*/
#pdpoverview .std-ratingsystem p {
	float: left;
	width: 420px;
}
#pdpoverview .std-ratingsystem p.mpaa {
	width: 500px;
}
#pdpoverview .std-ratingsystem p span, #pdpoverview .std-ratingsystem p a {
	display: block;
}

/* PRICE BLOCK PDP */
#pdpoverview .priceblock {	
	font-weight: normal;
	margin: 0 0 2px 0;
	overflow: hidden;	
	clear: both;
	font-size: 18px;
	font-weight: bold;
}
#pdpoverview .priceblock .pricetitle{    
	float:left;		
}
#pdpoverview .priceblock .price {  
	float: right;	
	white-space: nowrap;	
	text-align: right;
}
#pdpoverview .sale-regular .pricetitle, #pdpoverview .sale-regular .price { 
	font-size: 12px !important;	
	font-weight: normal !important;
	color: #000;
}
#pdpoverview .priceblock.sale {    	
	color: #ff0000;		
	margin: 0;
}
#pdpoverview .details {
	float: right;
	clear: both;
}
#pdpoverview .lowestprice {
	font-size: 12px;
	font-weight: normal;
	padding-top: 3px;
	clear: both;
}
#pdpoverview .sale-end {    	
	font-size: 12px;
	font-weight: bold;	
	display: block;
	clear: both;
	padding: 5px 0 0 0;
	color: #000;	
}
.priceblock .price {
	width: 90px;
	white-space: nowrap;	
}

#social-media span 
{
	display: block;
	float:left;
}

#social-media .gplusone 
{
	width: 73px;
}
*html #social-media .gplusone 
{
	width: 0;
}
#pdpoverview .pdp-plugin-article 
{
	width: 140px;
	float:left;
}
/* these are used in tabbed layouts of pdp */
#pdptabs
{
	margin: 0;
	float: none;
	background: transparent url('/Projects/MTH/Assets/tab_bg_sprite.gif') repeat-x left bottom;
	zoom: 1;
}
#pdptabs .layout_tabs
{
	vertical-align: middle;
	background: url('/Projects/MTH/Assets/tab_bg_sprite.gif') no-repeat right top;
	margin: 0 3px 0 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	float: left;
	display: inline;
}
.tabs_container
{
	float: left;
}
#pdptabs .layout_tabs .left_bg
{
	background: url('/Projects/MTH/Assets/tab_bg_sprite.gif') no-repeat left top;
	width: 12px;
	height: 40px;
	float: left;
}
#pdptabs .layout_tabs a, #pdptabs .selected a
{
	vertical-align: middle;
	text-decoration: none;
	color: #000;
	text-align: center;
	font-weight: normal;
	display: block;
	float: left;
	padding: 12px 11px 13px 0;
	zoom: 1;
}
#pdptabs .selected .layout_tabs, #pdptabs .selected .layout_tabs:hover
{
	background-position: right -40px;
	cursor: pointer;
}
#pdptabs .layout_tabs:hover
{
	background-position: right -80px;
	cursor: pointer;
}
#pdptabs .selected .left_bg, #pdptabs .selected .layout_tabs:hover .left_bg
{
	background-position: left -40px;
}
#pdptabs .layout_tabs:hover .left_bg
{
	background-position: left -80px;
}
#pdptabs .layout_tabs.selected a, #pdptabs .selected a
{
	font-weight: bold;
}

/* GENERAL LISTS */
.skublocklist h4 {
	display: inline;
}
	.skublocklist .p-new {
		display: inline;
		font-size: 13px;
		font-weight: bold;
		color: red;
	}

/* PDP GENERAL TAB CONTENT */
.tabcontent {
	background: #ffffff;
	border: 1px solid #cccccc;
	border-top: none;
	padding: 18px;  
	overflow: hidden;
	clear: both;
}
.tabcontent h2 {
	font-size:16px;
	font-weight:bold;	
}
.tabcontent h2 span{
	font-size:16px;
	font-weight:bold;	
}
.tabcontent h3 {
	font-size:12px;
	font-weight:bold;	
}
.tabcontent h4 {
	font-size:14px;
	margin:0 0 3px 5px;
}
.tabcontent .skublocklist h4 {
	margin-left: 0;
	margin-bottom: 0;
}
.tabcontent p, .tabcontent ul {	
	margin-bottom:12px;
}
.tabcontent .hr-dashed, .tabcontent .hr {	
	margin:15px 0 15px 0;
}
.tabcontent p.policies {
	font-size:10px;
	color:#666;
}
.tabcontent p.rating {
	font-weight:bold;
	padding:0;
	overflow:auto;
	margin-bottom:0px;
}
.tabcontent p.rating span {	
	padding: 0 4px 0 0;	
}
.tabcontent p.rating-numbers {	
	font-size:11px;
	color:#666;
}
.tabcontent .rating-list .review {	
	overflow:auto;
	height:100%;
	clear:both;
	padding-bottom:4px;
}
.tabcontent .rating-list .review span, .tabcontent .rating span {	
	float: left;
	padding-right: 5px;
	width: 90px;
}
.tabcontent .rating-list .review span.rating-score{
	width: auto;
	padding-left: 5px;        
}    
.tabcontent .rating-list .review span.nbr, .tabcontent .rating span.nbr {		
	padding: 0;
	margin-left: 4px;
	width: auto;
}
.tabcontent .rating img, .tabcontent .rating span {
	float: left;
	margin-right: 1px;
}
.tabcontent .skublocklist .rating img, .tabcontent .rating span {
	margin-right: 0 !important;
}
.tabcontent .rating span.nbr{
	font-weight: bold;
	margin-left: 4px;
}
.tabcontent .rating-list .review .empty {		
	padding:1px;
	margin-top:3px;
	width:77px;
	height:9px;
	background:url(/images/common/backgrounds/ratingattribback.gif) no-repeat left top; 
	float:left;	
}
.tabcontent .rating-list .review .empty .fill {			
	background:url(/images/common/backgrounds/ratinglistfill.gif) no-repeat top right;		
	height:9px;
}

/*PDP STANDARD LIST*/
.tabcontent ul.std-tablist {
	padding: 0 0 9px 0;
	overflow: hidden;
}
.tabcontent ul.std-tablist li {
	padding: 3px 5px 3px 5px;
	margin: 0;	
	clear: both;
	overflow: hidden;
}
.tabcontent ul.std-tablist li span {
	margin: 0;
	padding: 0;
}
.tabcontent ul.std-tablist.music-detail li span,.tabcontent ul.std-tablist.music-detail li .time {	
	width:258px;
}
.tabcontent ul.std-tablist.music-detail li span.alink{
	width:172px;
}
.tabcontent ul.std-tablist.music-detail li .time span {	
	width:auto !important;
	float:left;
	padding-right:5px;
}
.tabcontent ul.std-tablist.music-detail li p {	
	width:235px !important;
	float:left;
}
.tabcontent ul.std-tablist li p {
	margin: 0;
	padding: 0;
}
.tabcontent ul.std-tablist li.alt {
	background: #f3f3f3;
	height: 100%;
}
.tabcontent ul.std-tablist li span.attribute-key {
	width: 250px;
	float: left;
}
.tabcontent ul.std-tablist li div.attribute-value {
	width: 442px;
	float: left;
}
.tabcontent ul.std-tablist.tab-details li span.attribute-key {
	width: 140px;
	float: left;
}
.tabcontent ul.std-tablist.tab-details li div.attribute-value {
	width: 310px;
	float: left;
}
.tabcontent .pdplogo {
	float: none;
	margin-left: 2px;
}
/*PDP Standard table*/
.tabcontent table.std-tabtable tr.alt {
	background:#f3f3f3;
}
.tabcontent table.std-tabtable tr td {
	padding:2px 6px 3px 6px;	
	vertical-align:top;
}
.tabcontent table.std-tabtable tr.hdr {
	background:#e5e5e5;
	text-align:left;
	margin-bottom:2px;
}
.tabcontent table.std-tabtable tr.hdr th{
	border-top:solid 1px #ccc; 
	border-bottom:solid 1px #ccc; 
	padding:7px 5px 7px 5px;
	font-weight:bold;
}
.tabcontent table.std-tabtable tr.hdr th.first, .tabcontent table.std-tabtable tr.hdr th.last{
	border-left:solid 1px #ccc; 		
}

/*PDP STANDARD RATING SYTEM*/
.tabcontent .std-ratingsystem {
	padding-bottom:25px;
	width:100%;
	display:block;
	clear:both;
	overflow:auto;
}
#pdpoverview .std-ratingsystem  {
	width:100%;
	display:block;
	clear:both;
	overflow:auto;
}
.tabcontent .std-ratingsystem p {
	float: left;
}
.tabcontent .std-ratingsystem img, #pdpoverview .std-ratingsystem img {
	float: left;
	padding-right: 10px;	
}
#pdpoverview .std-ratingsystem img {
	
}
.tabcontent .std-ratingsystem p span, .tabcontent .std-ratingsystem p a {
	display: block;
	width: 300px;
}
.tabcontent .std-ratingsystem p.mpaa span, .tabcontent .std-ratingsystem p.mpaa a {
	width: 360px;
}
.tabcontent ol.std-listnbr {
	font-size:13px;
	font-weight:bold;
	vertical-align:top !important;	
	text-align:left;
	padding:4px 0 9px 0;
	margin-bottom:9px;
	overflow:auto;	
	background:url(/images/common/backgrounds/hrdashed.gif) repeat-x bottom left;      	
}
.tabcontent ol.std-listnbr li {	
	padding:4px 0 0 2px;
	color:#003399;
	clear:both;	
}
.tabcontent ol.std-listnbr li.active a:link,#page .tabcontent ol.std-listnbr li.active a,.tabcontent ol.std-listnbr li.active label {	
	color:#000;
}
.tabcontent ol.std-listnbr li.active a.details {	
	display:none;
}
.tabcontent ol.std-listnbr li a.title, .tabcontent ol.std-listnbr li label {	
	float:left;	
}
.tabcontent ol.std-listnbr li a.details {	
	float:right;
	font-size:10px;
	font-weight:normal;
	padding-right:5px;
}
.tab-content a{
	color:#003399 !important;
}
.tab-editorial div.hr-dashed {
	margin: 10px 0;
}
.tab-editorial ul.editorial-list .item {
	margin-left: 10px;
}
.tab-editorial ul.editorial-list h2{
	font-size: 14px;
}
.tab-editorial ul.editorial-list p.editorial-content {
	margin-top: 10px;
	font-size: 12px;
}

/* STD TAB LIST */
.tab-list li{
	vertical-align:top;
	background:#f3f3f3;
	padding:3px 13px 3px 6px;
	clear:both;
	overflow:auto;
}
.tab-list li.alt{
	background:#fff;
}
.tab-list li span{
   float:left;
}
.tab-list li label{
   display:inline;
}

/* TAB COMPARE */
.tab-compare .btn-compare{
   float: right;
   clear: both;
}
.tab-compare h2{
   font-size: 14px !important; 
}
.btn-compare .mccpgray{
  margin-right:0 !important;
}
.tab-compare td.infos {
	width: 428px !important;
	vertical-align: top;
}
.tab-compare td.prices{
	width:151px !important;
}
.tab-compare td.rating{
	display:none;
}
.tab-compare .priceblock p{
	display:inline;
	font-size:13px;
	font-weight:bold;
}
.tab-compare .sep{
	padding:0 !important;
}
.tab-compare .hr{
	margin:0;
	height:3px;
	margin:10px 0 10px 0 !important;
}
.tab-compare .paging3cols{
	padding:5px 9px 2px 9px;
	height:22px !important;
}
.tab-compare .summary {
	width: 25%;
}
.tab-compare .selector {
	width: 29%;
	padding-top:3px !important;
}
.tab-compare .show {
	width: 45%;
}
/*TEMP CSS, will have to be done on the DEV side*/
.tab-compare .show .results {
	display:none;
}
.tab-compare .show .xsmall {
	margin-right:5px;
}

/* COMPARE PRODUCT RESULT */
.tbl-compare{
	width:100%;
	overflow:auto;
}
.tbl-compare h3{
	padding:0 !important;
}
.tbl-compare .standardblock{
	padding-left:10px !important;
}
.tbl-compare td{
	padding-left: 10px;
	padding-right: 9px;
	width: 15%;
}
.tbl-compare .availability-message {
	background: #f0f0f0;
	padding: 4px 6px;
	font-size: 11px;
	margin-top: 10px;
}
.tbl-compare .availability-message h6{
	clear: both;
	font-size: 11px;
}
.tbl-compare .availability-message .inner {
	float: left;
	margin-right: 4px;
}
.tbl-compare .availability-message .separator {
	margin-right: 4px;
	color: #ccc;
	font-size: 11px;
	float: left;
}
.tbl-compare .availability-message .limit {
	font-style: italic;
	clear: both;
}
.tbl-compare .availability-message .check-more-stores {
	clear: both;
}
.tbl-compare .hdr td{
	height: 30px;
	padding: 0 0 0 10px !important;
	border-top: 1px solid #ccc;
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
}
.tbl-compare .hdr td a, .tbl-compare .hdr td h3 {
	font-size: 12px;
	top: -1px;
	position: relative;
}
.tbl-compare .first{
	padding-bottom: 0px !important;
	font-size: 11px;
}
.tbl-compare .line-attributes td {
	font-size: 11px;
	padding: 3px 6px 3px 9px !important;
}
.tbl-compare .overall-rating {
	padding-top: 0 !important;
}
.tbl-compare .tot-rating {
	font-size: 11px;
	color: #999999;
}
.tbl-compare .cprc img {
	float: left;
}
.tbl-compare .cprc .nbr {
	font-size: 11px;
	margin-left: 5px;
	float: left;
	font-weight: bold;
}
.tbl-compare .prod-image {
	margin-bottom: 7px;
}
.tbl-compare .img120x40 {
	margin-bottom: 7px;
}
.tbl-compare .hdr .first{
	border-left:1px solid #ccc !important;
}
.tbl-compare .top{
	vertical-align:top;
}
.tbl-compare .remove-cell {
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}
.tbl-compare .dotted-cell {
	background: url(/images/common/backgrounds/vertical_dashed.gif) repeat-y top left;
}
.tbl-compare .dotted-cell2 {
	background: url(/images/common/backgrounds/vertical_dashed2.gif) repeat-y top left;
}
.tbl-compare .alternate {
	background: #f0f0f0;
}
.tbl-compare .alt-spec-cell{
	background:#f0f0f0 url(/images/Common/backgrounds/vertical_dashed2.gif) repeat-y top left;
}
.tbl-compare .spacer td{
   padding: 0;
   margin: 0;
   height: 10px;
}
.tbl-compare .dotted-cell .sale, h1.res-title{
	color:#ff0000;
}
.tbl-compare .dotted-cell .sof-control{
	padding-top: 10px;
	color: #003399;
}
.tbl-compare .sof-control ul.stdlist2 {
	margin-bottom: 0;
}
.tbl-compare .sof-control ul.stdlist2 li {
	background-position: 0 5px !important;
	font-size: 11px;
	margin: 0;
}
table.tbl-compare td.dotted-cell div.mccpblue, table.tbl-compare tr.avail-bottom td.dotted-cell ul.availability-message {
	margin-top: 10px;
}
table.tbl-compare td.dotted-cell div.mccpblue{
	margin-right:0px;
}
table.tbl-compare td.dotted-cell div.mccpblue div.mccpright {
	width: 120px;
}
.tbl-compare .priceblock p{
	display:inline;
}
.tbl-compare .priceblock .pricetitle, .tbl-compare .priceblock .price {
	font-size: 12px;
	font-weight: bold;
}
table.tbl-compare td.first div.spc-title{
	margin-bottom:8px;
}

#divTab_compare .tab-compare table.skublocklist td.visual .prod-image img{
	padding-bottom:8px;
}
#divTab_compare .tab-compare table.skublocklist td.infos p.model {
	font-size: 11px;
}
#divTab_compare .tab-compare .compare-check{
	vertical-align: top;
}
#divTab_compare .tab-compare .compare-check input{
	vertical-align:bottom;
	height:13px;
}
#divTab_compare.tabcontent h4{
	font-size: 13px;
	margin-bottom: 0;
}
#divTab_compare .tab-compare td.prices{
	vertical-align:top;
}
#divTab_compare .tab-compare .priceblock{
	font-weight:bold;
	}
#divTab_compare .tab-compare td.prices .priceblock, #divTab_compare .tab-compare td.prices .priceblock .pricetitle, #divTab_compare .tab-compare td.prices .priceblock .price{
	font-size:14px;
}
#divTab_compare .tab-compare td.prices p.details{
	margin-bottom:0;
}
#divTab_compare .tab-compare .skublocklist .buttons {
	display: none;
}
/* PDP TAB DETAIL NOTE: #177910 changed the width and margin right*/
#divTab_details .customer-rating .rating-title, #divTab_custReview .customer-rating .rating-title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 12px;
}

#divTab_details .customer-rating .rating-stars span, #divTab_custReview .customer-rating .rating-stars span {
	margin-right: 6px;
}
#divTab_details .customer-rating .rating-stars span.rating-score{
	padding-left: 3px;
}

#divTab_details .customer-rating .rating-stars img, #divTab_custReview .customer-rating .rating-stars img {
	margin-right: 1px;
	vertical-align: bottom;
}

#divTab_details .customer-rating .rating-stars .nbr, #divTab_custReview .customer-rating .rating-stars .nbr {
	margin: 0 0 0 4px;
	font-weight: bold;
}
#divTab_details h3.bundlesdetails
{
	font-size: 16px;
	line-height: 14px;
}

#divTab_details .left {
	width:202px;
	margin:0 40px 0 0;
	float:left;
}
#divTab_details .box2gray {
	padding:6px;
}
#contentleft3 .left h2.rating-title {
	margin-bottom:10px;	
}
#divTab_details .left .stdlist {
	padding-bottom:0px;
}
#divTab_details .right {
	width:460px;	
	float:left;
}
#divTab_details .hdr {
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 13px 0;
	clear: both;
}

#divTab_details .right h2.small {
	font-size: 14px;
	margin: 0 0 13px 0;
}

#divTab_details .right .box2gray h2{
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:0;
}
#divTab_details .right p.policies {
	font-size: 10px;
	color: #666;
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid #cccccc;
}
#divTab_details h3{
	font-size:16px;
	font-weight:bold;
	margin:15px 0 5px;
}
#divTab_details .logos {
	padding-bottom: 12px;
	float: left;
	margin-right: 8px;
}
#divTab_details .pdp-bundle-details ol li label {
	display: inline;
	float: none;
}
#divTab_details .pdp-bundle-details ol li a.title {
	float: none;
}
#divTab_details .pdp-bundle-details .package-desc .logos {
	padding-bottom: 0;
	float: right;
	margin: 0 0 2px 5px;
	width: 75px;
}
#divTab_details .pdp-bundle-details .package-desc .logos img {
	width: 75px;
}
#divTab_details .pdp-bundle-details .package-desc .logos a {
	font-size: 10px;
}
#divTab_details .logos a, #divTab_details .logos img {
}
#divTab_details .logo{
	float:left;
	margin-right:10px;
}
#divTab_details .left h2{
	margin-bottom:7px;
}
#divTab_details .left h3 {
	font-size: 12px;
	margin: 10px 0px 0px 0px;
}
#divTab_details .left .learn-more{
	font-weight:bold;
}
#divTab_details .right .description ul, #divTab_specs .description ul {
	padding-left: 15px;
	margin: 12px 0 15px 0;
}
#divTab_details .right .description ul li, #divTab_specs .description ul li {
	background: transparent url(/images/common/pictures/bulletsmallsquare.gif) no-repeat scroll 0 6px;
	margin-bottom: 4px;
	padding-left: 10px;
}
/* PDP MOVIE DETAILS */
#divTab_details table.moviedetails {
	width:460px;
	border-bottom:solid 1px #ccc;
	margin-bottom:20px;
}
#divTab_details table.moviedetails tr.hdr th.first{
	width:129px;
}
#divTab_details table.moviedetails tr.hdr th.category{
	width:168px;
}
#divTab_details table.moviedetails tr.hdr th.status{
	width:92px;
}
#divTab_details table.moviedetails tr.hdr th.last{
	width:23px;
	border-left:0;
}
#divTab_details .hr-solid {	
	margin-top: 0;	
}
#divTab_details .pdp-bundle-details .hr-solid {
	margin-top: 10px;
}
#divTab_details .package-desc  {	
	padding-top:1px;
}
#divTab_details .package-desc .img {	
	float:left;	
	padding-right:14px;
	text-align:center;
	margin-bottom:10px;
}
#divTab_details .package-desc .infos {
	float: left;
	width: 371px;
	overflow: hidden;
}
#divTab_details .package-desc .infos h4 {	
	padding:0;
	font-size:13px !important;
	margin:2px 0 14px 0;
}
#divTab_details .package-desc .infos span {		
	display:block;
	font-size:11px;
}
#divTab_details .package-desc .infos p {	
	padding-bottom:14px;
}
#divTab_details .package-desc .right {	
	float:right;
	width:100px;
	padding-left:10px;
	text-align:center;
}
#divTab_details h3.boxtitle{
	font-size:18px;   
}
#divTab_details ul.specifications li{
	padding:3px 5px;
}
#divTab_details .box2gray{
	padding-left:10px;
}
/* PDP TAB SPECS */
#divTab_specs .box2gray {
	padding-top:7px;
	padding-bottom:7px;
}
#divTab_specs .hr-solid {
	margin: 0 0 15px 0 !important;	
}
#divTab_specs .left {
	width:192px;	
	float:left;
}
#divTab_specs .left ol.nbr {
	list-style-type:decimal !important; 
	list-style-position:outside;
	font-size:14px;
	font-weight:bold;	
}
#divTab_specs .left ol.nbr li {	
	position: relative;
	right: -1px;
	padding: 7px 0 0 0;		
	list-style-type: decimal !important;
	color: #003399;	
	margin: 0 0 0 33px;	
}
#divTab_specs .left ol.nbr li.first {
	border-top:none !important;
}
#divTab_specs .left ol.nbr li p {	
	padding:0;
	margin:0;	
}
#divTab_specs .left ol.nbr li.active {
	background:#fff;
	color:#000;
}
#divTab_specs .left ol.nbr li.active a:link, #divTab_specs .left ol.nbr li.active a:visited, #divTab_specs .left ol.nbr li.active a {
	color:#000 !important;
	padding:0 4px 6px 0;
}
#divTab_specs .left ol.nbr li.active a.details, #divTab_specs .left ol.nbr li.active a.details:visited{
	display:none;
}
#divTab_specs .left ol.nbr li a:link, #divTab_specs .left ol.nbr li a, #divTab_specs .left ol.nbr li a:visited {	
	text-decoration:none;	
	color:#003399;
	display:block;
	padding:0 4px 6px 0;
	line-height:18px;
	position:relative;
	left:-6px;	
}
#divTab_specs .left ol.nbr li a.details {		
	padding:0 6px 9px 0 !important;
	line-height:10px;
	font-size:11px;
	font-weight:normal;
}
#divTab_specs .left ol.nbr li div.hr {	
	position:relative;
	margin:0 0 0 -33px !important;	
}
#divTab_specs .right {
	float:left;	
	padding:9px 0 0 10px;
	border-left:solid 1px #ccc;
	width:499px;
	min-height:150px;	
}
#divTab_specs .right h4 {
	font-size:14px !important;
	margin:0 0 3px 5px;
}
#divTab_specs .right .attribute-key {
	width: 200px !important;
	margin-right: 6px;
	float: left;
}
#divTab_specs .right .attribute-value {
	width: 280px !important;
	display: block;
	float: left;
}

/* SYSTEM REQUIREMENT */
#divTab_sysrequire ul.std-tablist li span {
	width: 250px;
}
#divTab_sysrequire ul.std-tablist li p {
	width:auto;
}

/* PDP TRACK */
#divTab_tracks h2 {
	font-size: 18px;
}
#divTab_tracks .tracks-options{
	float:right; 
	width:148px;
	text-align:left;
}
#divTab_tracks .tracks-options .sep{
   background:#ccc;
   margin:2px 8px 0 8px;
   height:11px;
   width:1px;
   display:block;
   float:left;
}
#divTab_tracks .tracks-options label{
	float:left;
}
#divTab_tracks .tracks-options img{
	float:left;
	margin:1px 5px 0 0;
}
#divTab_tracks p.intro{
	margin-bottom:22px !important;
}
#divTab_tracks .details-work{
	margin-bottom:15px;
}
#divTab_tracks .details-work h3{
	padding:10px 0 4px 7px;
}
#divTab_tracks dl dt, .pdp-tracks dl dd{
	background:#f3f3f3;
	padding:3px;
}
#divTab_tracks dl dt.alt, .pdp-tracks dl dd.alt{
	background:#fff;
}
#divTab_tracks dt.field{
	width:252px;
	padding-left:6px;
	float:left;
}
#divTab_tracks dt.field a{
	cursor:pointer;
}
#divTab_tracks p.footer{
	padding-top:5px;
}
.trackname{
	margin-left:5px;
}
.tracks-options{
	float:right;
	text-align:right;
}
.tracks-options img{
	float:left;
	margin-right:5px;
}

/* PDP CAST */
#divTab_castcrew h2{
	font-size:14px;
	font-weight:bold;
}
#divTab_castcrew p.intro{
   padding-bottom:24px;
   margin-bottom:0;
}
#divTab_castcrew .hr{
	margin-bottom:18px;
}
/* PDP EXPERT REVIEWS */
#divTab_prodExpReview h2{
	font-size:14px;
	font-weight:bold;   
}
#divTab_prodExpReview .right{
	float:left;  
	padding-left:10px;
	width:570px;
}

#divTab_prodExpReview .expert
{
	float: left;
	padding-left: 10px;
	width: 100px;
}
#divTab_prodExpReview .right span{
	display:block;
}
#divTab_prodExpReview .right p{
   padding-bottom:9px;
}
#divTab_prodExpReview .right p.infos{
   font-size:13px;
}
#divTab_prodExpReview .right p .copyright{
   color:#999;
   font-size:10px;
}
/* PDP CUSTOMER REVIEWS */
#divTab_custReview {
	padding-left:28px;
}
#divTab_custReview .rev-left{
	float:left;
	width:216px;
	margin-right:25px;
	margin-bottom:10px;
}
#divTab_custReview #productdetail .rev-left{
	margin-bottom:11px;
}
h2.smallh2{
	font-size:14px !important;
}
#divTab_custReview h2 span.ver-sep2 {
	font-weight: normal;
}
#divTab_custReview .rev-right{
	float:left;
	width:445px;
	margin-bottom:10px;
}
#divTab_custReview .ver-sep{
	float:right;
	margin-right:5px;
	color:#999;
}
#divTab_custReview .paging3cols .summary{
	float:left;	
	padding-top:2px !important;
	width:120px;
}
#divTab_custReview .paging3cols .show{
	float:right;	
	font-weight:bold;
	padding-top:2px !important;	
}
#divTab_custReview .paging3cols .show img{
	margin-left:3px;
}
#divTab_custReview .paging3cols .show a:link{
	font-weight:normal;
}
#divTab_custReview .paging3cols .selector{
	font-weight:bold;
	float:left;
	padding:2px 5px 0 10px;	
	width:288px;
	vertical-align:middle;
}
#divTab_custReview .sort-opt{
	margin-right:5px;
}
#divTab_custReview .hr-dashed{
	margin-top:0;
	margin-left:-10px;
	margin-bottom:8px;
}
#divTab_custReview .rev-left h2.rating-title{
	margin-bottom:10px;
}
#divTab_custReview .rev-left .std-bottomspace{
	padding-bottom:8px!important;
}
#divTab_custReview .rev-left p.rating{
	padding-bottom:0 !important;
	margin-bottom:0 !important;
}
#divTab_custReview #productdetail{
	margin-bottom:3px !important;
}
#divTab_custReview .box2gray.paging3cols{
	margin-left:-10px;
}

/* PDP Related Movies Tab ---------------------------------------------------------------------- */
#divTab_relatedMovies div.hdr2 {
	margin: 10px 0;
}
#divTab_relatedMovies .hr{
	display: none;
}
#divTab_relatedMovies .skublocklist td.infos{
	width: 297px !important;
}
#divTab_relatedMovies .skublocklist td.rating{
	display: none;
}
#divTab_relatedMovies.tabcontent h4 {
	margin: 0;
}
#divTab_relatedMovies.tabcontent .itemslisting td.prices .buttons .mccpblue {
	margin: 0;
}

/* PDP Cast & Crew Tab ---------------------------------------------------------------------- */

/* PDP ACCESSORY */
#divTab_accessory .box-padding{
	border:none;
	padding:0;
}
#divTab_accessory ul.specifications li{
	width:340px;
}
#divTab_accessory ul.specifications li.alt1, #divTab_accessory ul.specifications li.alt3{
	margin-right:0;
	width:347px;
}
#divTab_accessory #warranty_picker p.strong{
	margin-bottom:0px;
}
#divTab_accessory .accessory-heading{
	display:none;
}
#divTab_accessory .skublocklist td.rating div.shipping {
	width: 580px !important;
}
#divTab_accessory #warranty_picker .right-info {
	width: 594px;
	margin-bottom: 0 !important;
	overflow: hidden;
}
#divTab_accessory #warranty_picker .right-info .box-psp {
	width: 290px;
}
#divTab_accessory .pdb-accessories .skublocklist .infos {
	width: 376px;
}
/* PDP DEMO & SCREENSHOT */
.tab-demo .icon{
   float:left;
}
.tab-demo .link{
   margin-left:7px;
}
.tab-demo-list{
	padding:0 10px 0 10px !important;
	margin-top:12px;
	border-top:3px solid #999;
	border-bottom:3px solid #999;
}
.tab-demo-list li{
	padding:7px 0 7px 0;
	background:transparent url(/images/Common/backgrounds/hrdashed.gif) repeat-x scroll bottom left;
	overflow:hidden;
}
.tab-demo-list li.last{
	background:transparent;
}
.tab-demo .footer{
	padding-top:25px;
}

/* PDP EXPERT REVIEW */
.tab-review .selector {
	float:right;    
}
.tab-review p.article-summary{
	padding-top:15px;
}
.tab-review .copyright{
	font-size:10px;
	color:#999;
	clear:both;
	display:block;
	margin-top:-10px;
}
.tab-review .article-date{
	display:block;
	clear:both;
	padding-bottom:10px;
}
.tab-review .box2gray{
   height:12px;
}

/* PDP LEARNING RESOURCES */
#divTab_learnRes h2{
	font-size:14px !important;
}
#divTab_learnRes .intro{
	margin-bottom:24px;
}
#divTab_learnRes .bottom{
	margin-bottom:18px;
}
#divTab_learnRes .selector{
	text-align:right;
	font-weight:bold;
}
#divTab_learnRes .selector a{
	font-weight:normal;
}
#divTab_learnRes .box2gray{
	padding:7px !important;
}
.pdb-accessories .skublocklist .rating span.nbr{
	margin-left:6px;
	padding:0;
}
/* ALTERNATE PRODUCT VIEW */
.lft-arrow{
	margin-right:5px;
	padding-top:6px;
	float:right;
}	
.rgt-arrow{
	margin-left:5px;
	padding-top:6px;
	float:right;
}
.lnk-nomargin{
	float:right;
	margin:0 !important;
}
.equal-btn .mccpright{
	width:100px;
	text-align:center;
}
.content .equal-btn .mccpgray, .content .equal-btn .mccpblue{
	margin-bottom:0;
}
/* SELECT WARRANTY SECTION */
.select-warranty .container{
	margin-bottom:10px;
	margin-top:0;
	padding-top:0;
}
.select-warranty .pagemessage2{
	padding-bottom:10px;
}
.select-warranty .box-padding{
	margin:10px 0;
}
.select-warranty .benefits {
	margin: 20px 0 10px 0;
}
.select-warranty .benefits h2 {
	padding: 0 0 13px 0;
	font-size: 14px;
	border: none;
	background: none;
}
.select-warranty .benefits ul {
	padding: 0 0 13px 24px;
}
.select-warranty .benefits ul li {
	list-style-type: disc;
	margin-bottom: 2px;
}
/*////////////////////////////////////////////////////*/
/*/////////////// ARTIST DETAIL PAGE  ////////////////*/
/*////////////////////////////////////////////////////*/
.media-listing .box2gray {
	padding: 7px 8px;
}
.media-listing .box2gray h2{
	font-size:16px;
}
.media-listing table.std {
	text-align:left;	
	border-top:none !important;
}
.media-listing table.std tr.hdr th.first{	
	width:411px;
}
.media-listing td.rating div.shipping{
	width:606px;
}
.media-listing td.infos{
	padding-left:0;
	width:310px;
}
.media-listing table.std {
	border:none !important;
}
.media-listing table.std td.sku-list{
	padding:9px 0;
}
.media-listing div.hr{
	margin:20px 0 17px 0;
}
.media-listing table.std td.sku-list div.hr {
	height:1px;
	background:#ccc;
}
.media-listing table.std td.sku-list td{
	border-top:none !important;
}
.media-listing .copyright{
	color:#999;
}
table.std th.media-first {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width: 391px;
}
table.std th.media-last {
	border-left: solid 1px #fff;
	border-right: 1px solid #ccc;
}
#art-det .media-listing div.hr{
	height:1px;
	background:#ccc;
	margin:0 0 10px;
}
#art-det .media-listing div.content-pmessage div.hr{
	margin-top:10px;
}
#art-det .media-listing table.std td.sku-list div.hr{
	display:none;
}
#art-det .media-listing table.std td.sku-list table.skublocklist td.infos{
	width:310px;
}
#art-det .media-listing table.std td.sku-list table.skublocklist td.visual{
	padding-right:9px;
}
#art-det .media-listing table.std td.sku-list table.skublocklist td.visual div.prod-image img{
	margin-bottom:5px;
}
#art-det .media-listing table.std td.sku-list table.skublocklist td.infos p.model{
	padding-left:1px;
} 
#art-det .media-listing table.std td.sku-list table.skublocklist td.prices div.buttons div.mccpblue{
	margin-top:0px;
}
#art-det .lnkbackto{
	clear:none;
}

/* category headlines css styles -------------------------------------------------- */ 
div.headlines-inner-content {
	padding: 10px 10px 10px 0;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

/* group pages' category select --------------------------------------------------- */
.category-image-selector {
	margin-bottom: 20px;
}

.category-image-selector .category-image {
	float: left;
	width: 130px;
	padding: 0 5px 0 5px;
	font-weight: bold;
	text-align: center;
}
.category-image-selector .std-spacingsm {
	padding-bottom: 8px;
}
.category-image-selector .std-spacinglg {
	padding-bottom: 10px;
}

/* category mid content ----------------------------------------------------------- */
.box-midoffers {
	background: transparent url('/images/common/backgrounds/bg_box.png') no-repeat left top;
	margin-bottom: 10px;
	padding: 8px 0 0;
	font-size: 11px;
}
.box-midoffers .box-wrap {
	background: transparent url('/images/common/backgrounds/bg_box.png') no-repeat left bottom;
	padding: 0 0 8px 0;
}
.box-midoffers .box {
	float: left;
	width: 160px;
	padding: 0 11px 0 15px;
}
.box-midoffers .box-img, .box-midoffers .box-link {
	text-align: center;
}
.box-midoffers .box-title {
	height: 38px;
	overflow: visible;
	position: relative;
}
.box-midoffers .box-center {
	text-align: center;
}
#page .box-midoffers .box-title a {
	color: #4d4d4f;
}
.box-midoffers .no-link {
	cursor: default;
	text-decoration: none;
}

.mid-offers .feature-box 
{
	background: url('/images/common/backgrounds/bg_mid_offer.gif') repeat-x bottom;
	margin-top: 0;
	padding-bottom: 0;
}

.mid-offers .prodWrap h4.prodTitle, .mid-offers .prodDetails .details
{
	font-size: 11px;
	font-weight: normal;
}

.mid-offers .prodWrap h4.prodTitle a
{
	color: #3f3f3f;
}

/*ie6 gap removal */
.mid-offers .hdr 
{
	display: none;
}
.mid-offers .prod-orient-ver 
{
		border-right: 1px dashed #CCCCCC;
		margin-bottom: 10px;
		position: relative;
}
.mid-offers .prodOffer 
{
		padding-bottom: 130px;
}
.mid-offers .prodDetails 
{   
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
}
/* pdp buttons in details block as content ----------------------------------------- */
.pdpBtnWrap .btnLeft {
	background: transparent url(/Marketing/Popup_PDP/Images/btn_left.gif) no-repeat scroll right top;
	float: left;
	height: 48px;
	width: 10px;
}
.pdpBtnWrap .btnBody {
	background: transparent url(/Marketing/Popup_PDP/Images/btn_bkg.gif) repeat-x scroll left top;
	float: left;
	height: 48px;
}
.pdpBtnWrap .btnBody .btnText {
	float: left;
	margin: 12px 0 0;
}
.pdpBtnWrap .btnBody a, .pdpBtnWrap .btnBody a:visited, .pdpBtnWrap .btnBody a:active {
	color: #000000;
	text-decoration: none;
}
.pdpBtnWrap .btnBody .btnArrow {
	float: left;
	margin: 0 0 0 5px;
	padding: 0;
}
.pdpBtnWrap .btnRight {
	background: transparent url(/Marketing/Popup_PDP/Images/btn_right.gif) no-repeat scroll left top;
	float: left;
	height: 48px;
	width: 10px;
}
.clearDIV {
	clear: both;
}

/* adding a default styling for static pc templates ------------------------------- */


/* center PC static tempalte with tabs --------- */
#pc-static-template #pdptabs {
	margin-left:auto;
	margin-right:auto;
	width:740px;
}

#pc-static-template .feature-box .hdr { /* hiding featured product group name from pc pages as it's empty */
	display: block;
}

/*/////////////////////////////////////////////////////////////*/
/*////////////////////////// SEARCH ///////////////////////////*/
/*/////////////////////////////////////////////////////////////*/
.search-category {		
	padding:5px 10px 4px 13px;
	margin-bottom:20px;
	height:25px;
}
.search-category .txtbox {	
	float:left;
	padding:3px 2px 4px 10px;
	margin-right:10px;
	vertical-align:middle;
	font-weight:bold !important;
}
.search-category .mccpblue {	
	float:left;	
	vertical-align:middle;
}
.search-category .mccpblue .mccpright {	
	width:105px;	
}

/* SEARCH BAR - RESEARCH CENTRE */
.search-researchcentre
{
	padding: 5px 5px 5px 9px;
	margin: 0 0 10px 0;
	height: 25px;
}
.search-researchcentre .txtbox
{
	float: left;
	padding: 3px 2px 4px 2px;
	margin-right: 10px;
	vertical-align: middle;
}
.search-researchcentre .mccpblue
{
	float: left;
	vertical-align: middle;
}
.search-researchcentre label
{
	float: left;
	font-weight: bold;
	padding: 4px 6px 0 0;
}
.search-researchcentre a
{
	float: right;
	font-size: 11px;
	padding: 5px 0 0 0;
}
.search-researchcentre a.btnmccpstd
{
	float: left;
}

/* SEARCH STANDARD BLOCK */
.standardblock-search{	
	border:1px solid #ccc;	
	margin:0 0 10px 0;	
}
.standardblock-search .hdr{	
	background:#f1f1f1 url(/images/common/backgrounds/graygradient.gif) repeat-x bottom left;
	padding:5px 9px 8px 9px;
	height:100%;
	overflow:auto;
}
.standardblock-search .hdr h2{	
	padding-right:5px;
	float:left;	
}
.standardblock-search .hdr a{	
	float:left;
	padding-top:1px;
}
.standardblock-search .content{
	padding:9px;
}
/* SEARCH RESULTS */

#sr h1.red{
	padding-bottom:16px;
}
#sr ul.stdlist{
	padding-top:5px;
}
#sr ul.stdlist li{
	padding-bottom:3px;
}
#sr .help-content{
	height:200px;
	background:url(/images/common/backgrounds/marketingRebateCenter2.gif) -9px 0 no-repeat;
	padding-left:174px;
}
#sr .help-content p{
	font-size:12px;
}
#sr .help-content a{
	font-size:12px;
}

#sr #contentleft3 .standardblock{
	margin-top:9px;
	float:left;
	width:345px;
}

#sr .second-col{
	padding-bottom:0;
}
#sr .second-col p{
	padding-bottom:2px;
}
#sr .second-col h2{
   padding-bottom:10px; 
}
#sr .second-col a, #sr .sitemap-block h2 a, #sr-nores-uc .sitemap-block h2 a{
	font-size:12px;
}
#sr .second-col .title{
	font-weight:bold;
	padding-top:5px;
}
#sr .sitemap-left, #sr .sitemap-right, #sr-nores-uc .sitemap-left, #sr-nores-uc .sitemap-right{
	float:none;
	margin:0;
}
#sr .sitemap-block, #sr-nores-uc .sitemap-block{
	float:none;
	width:auto;
}
#sr .sitemap-block h2, #sr-nores-uc .sitemap-block h2{
	padding-top:0;
	font-weight:normal;
	padding-left:10px;
	background:url(/images/common/pictures/bulletsmallsquare.gif) no-repeat 0 6px;
}
#sr #pagecontentmain2 .boxlgray{
	padding:7px;
	margin-top:7px;
}
#sr #searchbottom .globalsearch span{
	padding-top:3px!important;
	font-size:11px;
}
#sr #searchbottom .globalsearch input{
	margin-top:1px!important;
}
#sr #searchbottom .globalsearch a.btnmccpstd{
	margin-top:0 !important;
	padding: 0 0 5px 0 !important;
	float:left;   
}
#sr #searchbottom .globalsearch select{
	margin-top:1px;
}
#sr #searchbottom .globalsearch{
	width:540px;
}
#sr #sr-sll .nbr{
	display:none;
}
#sr #sr-sll .itemslisting td.prices .buttons .mccpblue{
	padding:0 0 2px !important;
}
#sr #sr-sll .itemslisting td.prices .buttons .mccpgray{
	padding:2px 0 2px !important;
}
#sr #sr-sll .shipping .chk-store{
	font-weight:normal;
}
#sr-sll .letter_space {
	color: #000 !important;
}
#sr-s11 .chk-store {
	color: #003399 !important;
}

#sr .sku-grid-area .compare input {
	margin-top:0px;
}
#sr .sku-grid-area div.hr{
	margin-bottom:10px!important;
}
/* SEARCH RESULT --- MULTIPLE CATEGORIES */
#sr-mc .softline3x2 {
	padding: 15px 0 0;
}
#sr-mc .softline3x2 div.sep, .softline3x2 div.nosep{
	padding:0 14px;
}
#sr-mc .softline3x2 div.top{
	display:none;
}
#sr-mc .res-title{
	font-size:18px;
	font-weight:bold;
}
#sr-mc .ctitle{
	font-size:16px;
	font-weight:bold;
	float:left;
}
#sr-mc .c-res{
	font-size:16px;
	display:inline;
}
#sr-mc .lnkall{
	margin: -3px 10px 0 0;
	padding-bottom: 9px;
	font-weight:bold;
	clear:both;
	display:block;
}
#sr .helpblock{
	margin-top:0px;
}
#sr-mc .temp-featurebox{
	background:#E5E5E5 none repeat scroll 0 0;
	border:4px solid #CCCCCC;
	height:100px;
	margin-bottom:10px;	
}
/* SEARCH RESULT --- SYS MESSAGE */
#sr #pagecontentmain2 .sysm, #sr-noreserrmsg .sysm{
	color:#ff0000;
	padding:0 0 9px 0;
}
#srchsys-error{
	padding: 0 0 15px 0;
	overflow:hidden;
}
#srchsys-error img, #sr-noreserrmsg img{
	width:35px;
	height:32px;
	float:left;
	padding:0 10px 0 0;
}	
#srchsys-error .sysm h3, #sr-noreserrmsg .h3{
	float:left;
	margin-left:10px;
}

/* SEARCH NO RESULTS */
.sr-nores{
	float:left;
	padding-left:9px;
}
#sr .pagemessage3{
	margin-left:9px;
}
#sr .noresultpagemessage3{
	margin-left:9px;
}
#sr-noresultmap{
	margin-right:10px;
	float:left;
	width:340px;
}
#sr-noresultmap-right{
	margin-right:10px;	
	float:left;
	width:340px;
}
#sr-noresultmap-right .help-content .title{
	font-weight:bold;
}
#sr-noresultmap-right .help-content p a{
	font-size:12px;
}
#sr .feature-box h2.hdr{
	background-image:url(/images/common/backgrounds/graygradient.gif);
	background-position:bottom;
	background-repeat:repeat-x;
	display:block;
	margin:0 0 10px 0;
	position:static;
	top:auto;
	padding:5px 9px 7px;
	color:#000;
}
#sr .feature-box{
	margin-top:0;
	padding:0 0 15px 0;
}
#sr #divHelp .pagemessage3{
	margin-left: 0px;
	width: 540px;
	clear: both;
}
#sr #divHelp div.hr-dashed {
	background-image: none;
	height: 15px;
	margin: 0;
}
div.nonproduct-search-wrapper .pagemessage3{
	margin-left:0px;
}
#sr .rating .nbr {
	font-weight: normal;
}
#sr .ta8 .priceblock {
	margin-bottom: 0 !important;
}

/*FAST Promo*/
.state2, .state4, #column-sku{
	overflow: hidden;
}
.state2 .box2gray, .state4 .box2gray, .state5 .box2gray, #column-sku .box2gray{
	margin-bottom: 10px;
	border-left: 0;
	padding: 6px 7px 8px 9px;
}
.state2 .box2gray, .state5 .box2gray, .state4 .box2gray {
	border-top: 0;
	border-right: 1px solid #cccccc;
	border-left: 0;
}
.state2 .last .box2gray, .state5 .last .box2gray, .state4 .last .box2gray {
	border-right: 0 none;
}
.state4 .item {
	border: 1px solid #cccccc;
	display: block;
}
.state4 .item .ta2 {
	padding-bottom: 10px;
}
.state2 .box2gray h2, .state4 .box2gray h2, .state5 .box2gray h2, #column-sku .box2gray h2{
	font-size: 12px;
}
.state2 .item, .state4 .item, .state5 .item,  #column-sku .item {
	float: left;
	width: 186px;
	overflow: hidden;
	margin: 0 !important;
}
.state5 .item {
	padding-bottom: 10px;
	display: block !important;
}
.state2 .last{
	display:block;
}
.state2 .item .ta2, .state5 .item .ta2 {
	background: url(/images/Common/backgrounds/vertical_dashed.gif) repeat-y right center;
}
.state2 .last .ta2, .state5 .last .ta2 {
	background-image: none;
}
.state2 .first .box2gray, .state4 .first .box2gray, #column-sku .first{
	border-left:border-top:0;
}
#sr .state3 .feature-box h2.hdr{
	border-bottom:1px solid #ccc;
	background:none;
	background-color:#e5e5e5;
	font-size:12px;
	padding:7px 9px 8px;
}
#sr .state2.layout-accross {
	border: 1px solid #cccccc !important;
	margin-bottom: 10px;
	padding-bottom: 10px;
	position: static; /* ie6 bug fix */
}
#sr .state3 .layout-accross { /* ie6 bug fix */
	border: 0 none !important;
	padding: 0;
}
.state4 .html{
	width: 362px;
	float: left;
	margin-right: 10px;
}
#sr .state5.layout-accross { /* ie6 bug fix */
	border: 0 none !important;
	padding-bottom: 0px !important;
}
.state5 .box{
	border: 1px solid #cccccc;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}
.state5 .html{
	width: 176px;
	float: left;
	overflow: hidden;
}
.fast-headline{	
	margin-bottom:10px;
}

/* miniview starts ---------------------------------------------------------------- */
#category {
	position: relative;
}
#category .mini-view {
	width: 350px;
	height: 100%;
	background: url(/images/Common/backgrounds/stdblackborder.gif) repeat;
	position: relative;
	right: 0;
}
#category .mini-view .content {
	border: solid 1px #ccc;
	background: #fff;
	position: relative;
	top: -2px;
	left: -2px;
	padding: 9px 9px 9px 12px;
	overflow: auto;
	height: 100%;
}
#category .mini-view .content .left {
	float: left;
	padding-right: 10px;
	width: 100px;
}
#category .mini-view .content .right .mccpblue .mccpright {
	width: 130px;
}
#category .mini-view .content .right {
	float: left;
	width: 216px;
}
#category .mini-view .infos {
	margin: 10px 0 12px;
}
#category .mini-view .priceblock {
	padding: 0;
	margin: 0;
}
#category .mini-view .details.save, #category .mini-view .sale-end {
	display: block !important;
	margin: 0;
}
#category .mini-view .content .left div.rating p.rating {
	margin: 7px 0 0 0;
}
#category .mini-view .right .title {
	font-weight: bold;
}
#category .hr {
	margin: 10px 0 10px 0;
}

/* miniview ends ------------------------------------------------------------------ */

/*SEARCH SPECIFIC CONFIGURATION*/
div.standardblock.nomargin.first
{
	margin-right: 10px !important;
}

/* plug-in group category page API --------------------------- */
.plugin-group-api {
	border: 1px solid #ccc;
	margin: 30px 0 10px;
	padding-bottom: 10px;
}

.plugin-group-api h2 {
	text-align: right;
	background: url('/Projects/MTH/Assets/title_plugin_en.gif') no-repeat 12px 7px #fff200;
	border-bottom: 1px solid #ccc;
	padding: 12px;
}

.fr-CA .plugin-group-api h2 {
	background: url('/Projects/MTH/Assets/title_plugin_fr.gif') no-repeat 12px 7px #fff200;
}

.plugin-group-api h2 span {
	display: none;
}

.plugin-group-api h2 a {
	color: #77787b;
}

.plugin-group-api ul li {
	margin: 3px 7px 0;
	padding: 5px 5px 10px;
	color: #77787b;
	border-bottom: 1px dotted #ccc;
}

.plugin-group-api li .subject {
	display: block;
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 4px;
}

/* Accessories widget -----------------------------------------------------------*/
/** PDP Page Recommended Accessories **/

#accessoriesWidget {
	background: url(/images/common/backgrounds/accessor_widget_bkg.gif) repeat-y top left;
	width: 920px;
	margin: 0px;
	padding: 0px;
	display: none;
}

.accessoryWidgetOriginal {
	display: none;
}

#accessoriesWidget .tabsWrap {
	float: left;
	width: 184px;
	
}

#accessoriesWidget .tab.hover {
	border: none;
	background: none;
}

#accessoriesWidget a.tabLink {
	border-left: 1px solid #fff;
	padding: 16px;
	display: block;
	width: 151px;
	color: #77787b;
	font-size: 14px;
}

#accessoriesWidget a.tabLink:hover, #accessoriesWidget a.tabLink:active, #accessoriesWidget a.tabLink:visited {
	text-decoration: none;
	color: #4d4d4f;
}

#accessoriesWidget .selected a.tabLink {
	background: #fff url(/images/common/backgrounds/accessor_widget_vtabs_selected.gif) repeat-x bottom right;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding-top: 15px;
	-moz-box-shadow: 0px 3px 3px #e1e1e1;
	-webkit-box-shadow: 0px 3px 3px #e1e1e1;
	box-shadow: 0px 3px 3px #e1e1e1;
	color: #4d4d4f;
}

#accessoriesWidget .tabsTopBkg {
	width: 184px;
	height: 13px;
	background: #fff url(/images/common/backgrounds/accessor_widget_sprite.gif) no-repeat 0px 0px;
}

#accessoriesWidget .tabsBottomBkg {
	width: 184px;
	height: 11px;
}

#accessoriesWidget .tabContent {
	float: left;
	width: 734px;
	position: relative;
}

#accessoriesWidget .ui-tabcontrol-contents {
	border-top: 1px solid #ccc;
	padding: 10px;
}

#accessoriesWidget .ui-tabcontrol-content {
	display: none;
}

#accessoriesWidget .ui-tabcontrol-content.selected {
	display: block;
}

#accessoriesWidget .productWrap {
	padding: 5px 5px 0px;
	margin: 0px;
	width: 132px; /* 153px*/
	height: 185px;
	float: left;
	display: none;
	position: relative;
	border-bottom: 1px dotted #ccc;
	border-right: 1px dotted #ccc;
	background: #fff;
}

#accessoriesWidget .productWrap.noBottomBorder {
	border-bottom: none;
}

#accessoriesWidget .productWrap.noBorder {
	border-right: none;
}

#accessoriesWidget .field-title {
	margin: 10px 0px;
	font-size: 11px;
	display: none;
}

#accessoriesWidget .field-price {
	font-weight: bold;
	font-size: 14px;
	color: #4d4d4f;
	margin-top: 5px;
}

#accessoriesWidget .pricetitle {
	display: none;
}

#accessoriesWidget .product-details {
	display: none;
}

#accessoriesWidget .product {
	position: relative;
	background: #fff;
	/*margin: 15px;*/
	padding: 8px;
	width: 112px; /* 123px */
	border: 1px solid #fff;
}

#accessoriesWidget .sale-regular, #accessoriesWidget .sale-end {
	display: none;
}

#accessoriesWidget .price {
	color: #4d4d4f;
}

#accessoriesWidget .details.save {
	font-size: 9px;
	color: #77787b;
}

#accessoriesWidget .productWrap .hover {
	position: absolute;
	border: 1px solid #ccc;
	background: #fff url(/images/common/backgrounds/accessor_widget_hover_bkg.gif) repeat-x bottom left;
	-moz-box-shadow: 3px 3px 3px #e1e1e1;
	-webkit-box-shadow: 3px 3px 3px #e1e1e1;
	box-shadow: 3px 3px 3px #e1e1e1;
}

#accessoriesWidget .btnmccpstd {
	font-size: 9px;
	line-height: 7px;
	font-weight: normal;
}

.accessoriesWidgetShowMore {
	padding: 0 10px 5px;
	text-align: center;
	font-size: 16px;
	margin: 5px 0 0;
	cursor: pointer;
	color: #006ebd;
	background: #fff;
	display: none;
	position: absolute;
	left: 316px;
}

#accessoriesWidget .prodImageWrap {
	position: relative;
	cursor: pointer;
	text-align: center;
	width: 112px;
}

#accessoriesWidget .prodStatus {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 106px; 
	height: 94px; /*100px*/
	background: transparent url(/images/common/backgrounds/accessor_widget_selected.png) no-repeat 80px 3px;
	display: none;
	border: 3px solid #ccc;
}

#accessoriesWidget .alsoAddThis {
	background: #d5dded url(/images/common/backgrounds/accessor_widget_btn_bkg.gif) repeat-x bottom left;
	border: 1px solid #ccc;
	padding: 5px;
	color: #000;
	text-align: center;
	font-weight: bold;
	font-size: 11px;
	cursor: pointer;
}

#accessoriesWidget .tabsBottom {
	background: #fff url(/images/common/backgrounds/accessor_widget_sprite.gif) no-repeat 0px -40px;
	width: 920px;
	height: 20px;
	padding-bottom: 20px;
}

#accessoriesBoxStatusWrap {
	display: none;
}

#accessoriesBoxStatus {
	width: 124px;
	margin: 5px 0px 0px 16px;
	color: #77787b;
	padding: 10px 5px;
	display: none;
	background: #e1e1e1;
}

#accessoriesBoxStatusBottom {
	background: #fff url(/images/common/backgrounds/accessor_widget_sprite.gif) no-repeat 0px -80px;
	width: 134px;
	height: 15px;
	margin: 0px 0px 5px 16px;
	display: none;
}

#accessoriesBoxStatus.active {
	display: block;
}

#accessoriesBoxStatus .quantity {
	font-size: 18px;
	padding: 3px;
	font-weight: bold;
}

#accessoriesBoxStatus .thumbs {
	display: none;

	width: 120px;
	margin-top: 5px;
}

#accessoriesBoxStatus .smallThumb {
	float: left;
	width: 55px;
	height: 55px;
	border: 1px solid #ccc;
	margin: 3px 3px 0px 0px;
}

/**** END PDP Accessories Widget CSS ****/

/* plug-in featured posts widget ----------------------------------------------- */
.plugin-featured-widget {
	margin-bottom: 10px;
	background-color: #fff;
}

.plugin-featured-widget h2 {
	text-indent: -2000px;
	font-size: 0;
	overflow: hidden;
	height: 55px;
	background: url('/Projects/Community/Assets/headline_featured_widget_en.png') transparent no-repeat left top;
}

.fr-CA .plugin-featured-widget h2 {
	background: url('/Projects/Community/Assets/headline_featured_widget_fr.png') transparent no-repeat left top;
}

.plugin-featured-widget .threads-list {
	border: solid 2px #fff200;
	border-top: none;
	padding: 10px 10px 13px;
}

.plugin-featured-widget li {
	padding: 0 0 8px;
	margin: 0 0 10px;
	border-bottom: dotted 1px #ccc;
}

.plugin-featured-widget .author {
	font-size: 11px;
	color: #4d4d4f;
	padding: 2px 0 6px 24px;
	background: url('/Projects/Community/Assets/icon_human.gif') transparent no-repeat left top;
}

.plugin-featured-widget .author a, .plugin-featured-widget .author a:visited {
	font-weight: bold;
	color: #4d4d4f;
}

.plugin-featured-widget .share-opinion {
	display: block;
	text-align: right;
	font-size: 11px;
	font-weight: bold;
}

.CaseFinderWidget {     
	background:#fff;
	height:97px;
	width:920px;
	clear:both;
	margin-bottom: 10px;
}
	.CaseFinderCatWidget 
	{
		width:560px;
		height:200px;
	}
	.CaseFinderBBYMWidget 
	{
		background:none;
		margin-bottom: 0;
	}
	
	.CaseFinderWidget .wrapper 
	{
		border: 1px solid #ccc;
		overflow:auto;
		background: transparent url(/projects/casefinder/assets/widget_bg.jpg) repeat-x top left;
	}
	.CaseFinderWidget .dropdowns 
	{
		float:left;
		padding-top:10px;
	}
	
	.CaseFinderWidget .dropdowns .label
	{
		color:White;
		font-size:1.1em;
		padding-top:10px;
	}
	.CaseFinderWidget .dropdowns select
	{
		display:block;
		margin-top:5px;
	}
	.CaseFinderWidget .buttons 
	{
		float:left;
		padding-top: 31px;
		padding-left: 10px;
	}
	.CaseFinderWidget .btnContinue a 
	{
		padding:10px;
		border:1px solid #ccc;
		background: yellow url(/projects/casefinder/assets/btn_grad.jpg) repeat-x top left;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.CaseFinderWidget .btnContinue a:hover
	{
		text-decoration:none;
	}
	
	
.CaseFinderWidget .content {     
	background:#fff;
	border:1px solid #999;
}

.CaseFinderWidget .btnContinue {		
}
	.CaseFinderBBYMWidget .btnContinue {
		margin-top:5px;				
	}
.CaseFinderWidget .btnContinue a {
	display:block;
	padding: 2px 20px;
	color:#333;
	font-weight: bold;
	text-align:center;   
	font-size:1em;
}
.CaseFinderBBYMWidget .btnContinue a {
	display:inline;
	color:#003399;
	padding:0;
	border:none;
	background:none;
}
.CaseFinderWidget .selectwrapper, .CaseFinderWidget .buttonwrapper {
	padding:0 20px;
}
.CaseFinderWidget .buttonwrapper {
	text-align: right;
	padding:5px 20px 10px 0;
}
	.CaseFinderCatWidget .buttonwrapper {
		padding:5px 10px 10px 0;
	}
.CaseFinderWidget .mccpmain {
	float:right;
}	  
.CaseFinderWidget span.title {
	background:transparent url(/projects/casefinder/assets/widget_pdp_title_en.jpg) no-repeat top left;
	position:relative;
	top:0px;
	left:0px;
	width:346px;
	height:98px;
	display:block;
	text-indent:-9999px;
}
.CaseFinderWidget span.titlefr {
	background:transparent url(/projects/casefinder/assets/widget_pdp_title_fr.jpg) no-repeat top left;
	position:relative;
	top:0px;
	left:0px;
	width:346px;
	height:98px;
	display:block;
	text-indent:-9999px;
}
	.CaseFinderCatWidget span.title
	{
		background:transparent url(/projects/casefinder/assets/widget_cat_title_en.jpg) no-repeat top left;
		width:369px;
	}	
	.CaseFinderCatWidget span.titlefr
	{
		background:transparent url(/projects/casefinder/assets/widget_cat_title_fr.jpg) no-repeat top left;
		width:369px;
	}
	.CaseFinderCatWidget .wrapper 
	{
		background: transparent url(/projects/casefinder/assets/widget_cat_bg.jpg) repeat-x top left;
	}		  
.CaseFinderWidget .section-title {
	font-weight:bold;
	margin:12px 0 5px 0;
}
	
.CaseFinderWidget .selDropdown {
	font-size:1em;
	width:195px;
	color:#666;
	border: 1px solid #999;
	padding: 2px;
}
	.CaseFinderBBYMWidget .selDropdown {
	font-size:1em;
	width:160px;
	color:#666;
	border: 1px solid #999;
	padding: 2px;
	margin-top:5px;
}
.CaseFinderWidget .cases {
	font-size:0.7em;
	font-weight:normal;
	display:block;
}

.leftnavHeading h1,
.optemo .y_heading  h1 {
	line-height: 1.35;
}

.optemo .price_breakdown {
	font-size: 11px;
	font-weight: 400;
	color: #2e3337;
}