﻿/*/////////////////////////////////////////////////////////////*/
/*///////////////////// MASTER PAGE LAYOUTS ///////////////////*/
/*/////////////////////////////////////////////////////////////*/
.master-wrapper {
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}

.gs-master { /* these wrappers are added into masterpagesubheader_brand.ascx. the closing divs are placed in masterpagefooter_brand.ascx */
    width: 920px;
    margin: 0 auto;
}

.global-banner {
    width: 920px;
    margin-bottom: 10px;
}


.bannertopmargin {
margin: 10px 0 0 0;
}

.bannertopmargin {
margin: 10px 0 0 0;
}

/*////////////////////////////////////////////////////*/
/*/////////////// HEADER / NAV / FOOTER //////////////*/
/*////////////////////////////////////////////////////*/

.gs-master #welcomejs {
    float: right;
    height: 40px;
    margin: 13px 6px 0px 0px;
    text-align: right;
    width: 360px;
}

/* TOOLBAR / BREADCRUMB / BACK TO LINK */
.lnkbackto {
    padding: 0 0 17px 9px;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    height: 100%;
    clear: both;
    width: 600px;
    float: left;
}

#contentleft1 .lnkbackto {
    width: auto;
}

.lnkbackto a:hover {
    color: #003399;
    text-decoration: underline;
}

.lnkbackto-bottom {
    padding-top: 16px;
    padding-bottom: 0;
}

.backsize {
    font-size: 14px;
}

.line {
    margin-left: 10px;
    margin-right: 10px;
    color: #cccccc;
}

.copyright {
    font-size: 10px;
    color: #666;
}



/*/////////////////////////////////////////////////////////////*/
/*/////////////////////// REUSABLE ELEMENTS ///////////////////*/
/*/////////////////////////////////////////////////////////////*/


.std-btn-shop {
    background: transparent url('/images/buttons/btn_shop_en.png') no-repeat left top;
    width: 88px;
    height: 29px;
    display: block;
    text-indent: -2000px;
    font-size: 0;
    line-height: 0;
}

.std-btn-big-shop { /* should be combined with .std-btn-shop */
    background: transparent url('/images/buttons/btn_shop_big_en.png') no-repeat left top;
    width: 135px;
    height: 44px;
}

.pointer, .pointer-default {
    cursor: pointer;
}

.nopadding {
    padding: 0 !important;
}

.nobpadding {
    padding-bottom: 0 !important;
}

.nomargin {
    margin: 0 !important;
}

.std-topspace {
    padding-top: 10px !important;
}

.std-bottomspace {
    padding-bottom: 10px !important;
}

.std-buttonspace {
    margin-bottom: 10px !important;
    overflow: auto;
}

.std-input-label-space {
    display: block;
    margin-bottom: 2px;
}

.textbox-space input {
    margin: 3px 0 2px;
}

.overflow {
    overflow: hidden;
    clear: both;
}

.clear {
    clear: both;
    font-size: 0;
    background: none;
}

.clear-li {
    clear: both;
}

span.clear {
    display: block;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.no-clear ol, .no-clear {
    clear: none !important;
}

.text-right .small {
    font-size: 11px;
}

.center {
    text-align: center;
}

.inline-text
{
    display: inline;
}
.noborder
{
    border: none !important;
}
.nobr
{
    white-space: nowrap;
}
.button-bottompage div.mccpgray, .button-bottompage div.mccpblue, .button-bottompage div.mccpsmall, .button-holder div.mccpgray, .button-holder div.mccpblue, .button-holder div.mccpsmall
{
    float: left;
}
.button-holder
{
    padding-top: 10px;
    overflow: auto;
    clear: both;
}
.button-bottompage
{
    clear: both;
    display: block;
    overflow: auto;
}
.button-left
{
    padding: 10px 6px 10px 0;
    clear: both;
    overflow: hidden;
}
.button-left .mccpgray, .button-left .mccpblue
{
    float: left;
    overflow: hidden;
    padding: 0px 6px 0px 0px;
}
.button-left .mccpsmall
{
    float: left;
    overflow: hidden;
    margin-right: 6px;
}
.button-right
{
    padding: 10px 0 10px 6px;
    clear: both;
    float: right;
}
.button-right .mccpgray, .button-right .mccpblue, .button-right .mccpsmall
{
    float: left;
    overflow: hidden;
    padding: 0 0 0 6px;
    margin: 0;
}
.button-right input
{
    display: block;
}

.img-replace 
{
    text-indent:-5000px;
    display:block;
    width:0;
    height:0;
    overflow:hidden;
}
/* HR STANDARD */
div.hr
{
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    background: #ccc;
    border: none;
    margin: 0;
    padding: 0;
}

#totalsblock div.hr
{
    margin-top: 5px;
    margin-bottom: 5px;
    clear: both;
}
.basket-total #totalsblock div.hr
{
    margin-top: 9px;
    margin-bottom: 9px;
}
/* HR DASHED */
div.hr-dashed
{
    background: url(/images/Common/backgrounds/hrdashed.gif) repeat-x;
    height: 1px;
    border: none;
    margin: 10px 0 10px 0;
}
div.hr-dashed.last
{
    display: none;
}
div.hr-dashed hr
{
    display: none;
}
div.hr-dashed2
{
    background: url(/images/Common/backgrounds/hrdashed.gif) repeat-x;
    width: 350px;
    height: 1px;
    border: none;
    margin: 4px 0 4px 0;
}
div.hr-dashed2.floatleft
{
    margin-left: 10px;
}
div.hr-dashed2.floatright
{
    margin-right: 10px;
}
div.hr-dashed2 hr
{
    display: none;
}
/* HR SOLID */
div.hr-solid
{
    height: 3px;
    background: #999;
    margin: 10px 0 10px 0;
}
div.hr-solid hr
{
    display: none;
}

/* more reusable classes ----------------------------------------------------- */
.nomargin-bottom
{
    margin-bottom: 0px !important;
}
.nomargin-right
{
    margin-right: 0px !important;
}
.notop, p.notop, div.notop
{
    padding-top: 0 !important;
    margin-top: 0 !important;
}
.notopm
{
    margin-top: 0 !important;
}
.nobottom
{
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.nobottomm
{
    margin-bottom: 0 !important;
}
.nobottomp
{
    padding-bottom: 0 !important;
}
.left-margin
{
    margin-left: 5px;
}
.right-margin
{
    margin-right: 5px;
}
.letter_space
{
    margin-right: 6px;
}
.skublocklist .letter_space
{
    margin-right: 3px;
}
.dash_space
{
    margin: 0 3px 0 2px;
}
.sub-info .right-margin
{
    margin-right: 3px;
}
.bottom-margin
{
    margin-bottom: 5px;
}
table.rebates th.first
{
    width: 220px;
}
.indent
{
    margin-left: 10px !important;
}
.line-spacing
{
    line-height: 17px;
}

#feat-artist, #feat-song
{
    padding: 6px 6px 6px 6px;
    margin-bottom: 10px;
    background: #f0f0f0;
}
#feat-artist .artistname, #feat-song .songname
{
    font-weight: bold;
    margin: 0 5px 0 5px;
}
#feat-artist-grid .artistname, #feat-song-grid .songname
{
    font-weight: bold;
}
#delivery-method ol li label .grayout
{
    color: Red;
}

/* ie fix -----------------------------------------------------------------------*/
.disable
{
    color: #999 !important;
}
.relative
{
    position: relative;
}
.checkbox-space label
{
    padding-left: 3px;
}
.checkbox-space input, .checkbox-space label, .checkbox-space span, .checkbox-space a
{
    line-height: 11px;
    vertical-align: middle;
}

/* --------------------------------------------------------------- */
/* HOME PAGE ACCORDION BEGINS ------------------------------------ */
/* --------------------------------------------------------------- */

/* layout helpers ------------------------------------------------ */
.ui-helper-reset
{
    line-height: 1.3;
}
.ui-icon
{
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.ui-widget-content
{
    background: url(/Projects/_Content/Headlines/Assets/accordion_btm.gif) no-repeat left bottom;
}

/* interaction states -------------------------------------------- */
.ui-state-default, .ui-widget-content .ui-state-default
{
    background: url(/Projects/_Content/Headlines/Assets/accordion_bar.png) no-repeat scroll left top;
    cursor: pointer;
    height: 37px;
    margin: 0;
    padding: 0;
}
.ui-accordion .ui-accordion-header.ui-state-hover.ui-state-default
{
    cursor: pointer;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus
{
    background: url(/Projects/_Content/Headlines/Assets/accordion_bar.png) no-repeat 0 -37px;
}
.ui-state-hover a, .ui-state-hover a:hover
{
    color: #212121;
    text-decoration: none;
    outline: none;
}
.ui-state-active, .ui-widget-content .ui-state-active
{
    background: url(/Projects/_Content/Headlines/Assets/accordion_bar.png) no-repeat 0 -111px;
    cursor: default;
    height: 37px;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
{
    color: #212121;
    outline: none;
    text-decoration: none;
}

/* overlays -------------------------------------------------------- */
.ui-accordion .ui-accordion-header
{
    cursor: default;
    position: relative;
    zoom: 1;
}
.ui-accordion .ui-accordion-header h3
{
    float: left;
    font-size: 16px;
    line-height: 13px;
    font-weight: normal;
    color: #212121;
    padding: 12px 0 3px 15px;
}
.ui-accordion .featured-brands h3 {padding-top:17px;}
.ui-accordion .ui-accordion-header .ui-icon
{
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}
.ui-accordion .ui-accordion-content
{
    overflow: hidden;
    position: relative;
}
.ui-accordion .ui-accordion-content .cedb
{
    position: relative;
    overflow: hidden;
    display: none;
}
.ui-accordion .ui-accordion-content-active
{
    display: block;
}

/* content layout -------------------------------------------------- */
.cedbcontent
{
    background: transparent url(/Projects/_Content/Headlines/Assets/accordion_bg.gif) repeat-y scroll 0 0;
    position: relative;
    width: 920px;
    margin: 15px 0 20px;
}
.cedbcontent.featured
{
    /* to be used with homepage featured product */
    background-image: none;
}
.cedbspacer
{
    height: 20px;
}
.cedb .hproduct, .cedb .feature
{
    float: left;
    overflow: hidden;
    padding: 0px 12px 0px 15px;
    width: 203px;
}
.cedb .prod-image
{
    overflow: hidden;
    text-align: center;
}
.cedb .feature .prod-image img
{
    width: 190px;
    height: 100px;
}
.cedb .prod-info h4
{
    font-size: 12px;
}
.cedb .prod-buy
{
    font-weight: bold;
    font-size: 11px;
    margin-top: 6px;
}
.cedb .prod-buy a
{
    display: block;
}
#accordion .section
{
    background: #ffffff url(/Projects/_Content/Headlines/Assets/accordion.gif) repeat-y scroll 0 0;
    margin-bottom: 5px;
    width: 920px;
}
#accordion .section.xml-promo .cedbcontent
{
    margin-bottom: 0;
}
#accordion .section-featured-brands {
    background:none;
    margin-bottom:5px;
    width:920px;
}
.section-featured-brands .featured-brands {
    background: url("/Projects/_Content/Headlines/Assets/featured-brands_bg.gif") no-repeat scroll left top transparent;
    width:920px; height:50px;
}
.cedb .brandcontent
{
    margin-bottom: 0;
    position: relative;
    width: 920px;
    background: transparent url(/Projects/_Content/Headlines/Assets/accordion_brand_en.gif) no-repeat scroll left bottom;
}
.brandstorelinks
{
    height: 40px;
    padding: 7px 0 0 0;
}
.brandstorelinks img
{
    padding: 0px 10px;
}
.cedb .brandcontent .geek-squad
{
    width: 189px;
    padding: 15px 120px 20px 15px;
    float: left;
}
.cedb .brandcontent .bby-mobile
{
    width: 178px;
    padding: 15px 10px 20px 15px;
    float: left;
}
.cedb .brandcontent .kodak-gallery
{
    width: 152px;
    padding: 15px 10px 20px 15px;
    float: left;
}
.cedb .brandcontent .reclaim
{
    width: 191px;
    padding: 15px 10px 20px 15px;
    float: left;
}
.cedb .brandcontent .brand-links
{
    margin-top: 6px;
    font-size: 11px;
}

/* tabs starts */
.ui-accordion .acc-tabs
{
    float: left;
    margin-left: 50px;
}
.ui-accordion .acc-tabs ul li
{
    float: left;
    background: transparent url(/Projects/_Content/Headlines/Assets/tab_off_bg.gif) no-repeat 0 0;
    height: 30px;
    margin: 7px 4px 0px 0px;
    font-size: 11px;
    cursor: pointer;
}
.ui-accordion .acc-tabs ul li a
{
    display: block;
    padding: 8px 5px 0px 12px;
    float: left;
}
.ui-accordion .acc-tabs ul li span
{
    display: block;
    width: 5px;
    height: 30px;
    background: transparent url(/Projects/_Content/Headlines/Assets/tab_off_right.gif) no-repeat 0 0;
    float: left;
}
.ui-accordion .ui-accordion-content .tab-content-selected
{
    display: block;
}
.ui-accordion .acc-tabs ul li.tab-selected
{
    display: block;
    background: transparent url(/Projects/_Content/Headlines/Assets/tab_on_bg.gif) no-repeat 0 0;
}
.ui-accordion .acc-tabs ul li.tab-selected span
{
    background: transparent url(/Projects/_Content/Headlines/Assets/tab_on_right.gif) no-repeat 0 0;
}
/* tabs ends */

/* Plug-in Integration starts */
.ui-accordion .section-plugin-integration {
    overflow:hidden;
}
.ui-accordion .section-plugin-integration .homepage-plugin  {
    background: transparent url(/Projects/_Content/Headlines/Assets/plugin-bg_en.jpg) no-repeat 0 0;
    width:920px; height:45px;
}
.fr-CA .ui-accordion .section-plugin-integration .homepage-plugin { background: transparent url(/Projects/_Content/Headlines/Assets/plugin-bg_fr.jpg) no-repeat 0 0; }

.ui-accordion .section-plugin-integration .homepage-plugin .plugin-header { height:45px; }
.ui-accordion .section-plugin-integration .homepage-plugin .plugin-header h3 {
    padding:15px 0 3px 115px;
    color:#212121;
    font-size:16px; line-height:13px;
    font-weight:normal;
}
.fr-CA .ui-accordion .section-plugin-integration .homepage-plugin .plugin-header h3 { padding:15px 0 3px 160px; }

.ui-accordion .section-plugin-integration .recent-posts { padding: 15px; }
.ui-accordion .section-plugin-integration .homepage-blog-posts {
    float:left;
    display:inline;
    width:560px;
    border-right: 1px solid #C3C3C3;    
}
.ui-accordion .section-plugin-integration .homepage-blog-posts .meta {
    font-size: 11px;
    margin-bottom:5px;
}
.ui-accordion .section-plugin-integration .homepage-blog-posts h2 {margin-bottom:10px;}
.ui-accordion .section-plugin-integration .homepage-blog-posts .plugin-articles,
.ui-accordion .section-plugin-integration .homepage-blog-posts .brand-articles { float:left; }
.ui-accordion .section-plugin-integration .homepage-blog-posts .plugin-articles a { text-align:right; }

.ui-accordion .section-plugin-integration .article-secondary {
    width: 156px;
    float: left;
    display:inline;
    margin:0 30px 0 0; 
    position:relative;
}
.ui-accordion .section-plugin-integration .article-secondary .inside {
    margin-bottom: 5px;
    height: 215px;
    overflow: hidden;
}
* html .ui-accordion .section-plugin-integration .article .inside {float: left;}

.ui-accordion .section-plugin-integration .article-secondary .inside h4 {margin-top: 100px;}
.ui-accordion .section-plugin-integration .recent-posts .inside h4 a {font-size:12px;}
.ui-accordion .section-plugin-integration .recent-posts .inside a {color:#00447f;}

.ui-accordion .section-plugin-integration .article-secondary img {
    position:absolute;
    top:0; left:0;
    width: 90px; height:90px; 
    padding-left:32px;
}
.ui-accordion .section-plugin-integration .article-secondary p {font-size: 11px;}
.ui-accordion .section-plugin-integration .article-secondary .readmore {text-align: right;}
.ui-accordion .section-plugin-integration .plug-in-more .omega {border-right:none;}
.ui-accordion .section-plugin-integration .article .emoticon {display:none;}

.ui-accordion .section-plugin-integration .view-all-blogs {float:left; margin-top:12px;}
.ui-accordion .section-plugin-integration .view-all-blogs li {display:inline;}
.ui-accordion .section-plugin-integration .view-all-blogs li.view-all-brand-post {margin-left:205px;}

.ui-accordion .section-plugin-integration .homepage-forum-posts  {
    float:left;
    display:inline;
    width:295px;
    padding:0 15px;
    margin-top: 5px;
}

.ui-accordion .section-plugin-integration .homepage-forum-posts h2 {margin-bottom:0;}

.ui-accordion .section-plugin-integration .homepage-forum-posts .thread {
    padding: 8px 0;
    border-bottom: 1px dotted #C3C3C3;
}
.ui-accordion .section-plugin-integration .homepage-forum-posts .last {
    margin-top:5px;
    border-bottom:none;
}                 
.ui-accordion .section-plugin-integration .homepage-forum-posts .topic a {
    font-weight: bold;
    color:#00447f;
}
.ui-accordion .section-plugin-integration .homepage-forum-posts .meta {
    background: url("/Projects/Community/Assets/icon_human.gif") no-repeat 0 0;
    padding: 0 0 0 24px;
    margin-top: 5px;
}
.ui-accordion .section-plugin-integration .homepage-forum-posts ul.view-all-forum-post {margin-top:10px;}

                
/* Plug-in Integration ends */


/* --------------------------------------------------------------- */
/* HOME PAGE ACCORDION ENDS -------------------------------------- */
/* --------------------------------------------------------------- */

/* BBYM Top Banner Slot Styling STARTS */
div.bbym-banner-top
{
    background: #ecf0f9;
    padding-top: 10px;
    height: 108px;
}

div.bbym-banner-top div.bbym-banner-top-label
{
    float: left;
    height: 32px;
    width: 34px;
}

div.bbym-banner-top-inner
{
    text-align: center;
}

.bbym-banner-top-footer
{
    height: 8px;
    margin: 0px;
    padding: 0px;
    margin-top: -14px;
}

.bbym-back-link
{
    float: left;
    margin-top: 7px;
}
/* BBYM Top Banner Slot Styling ENDS */

/* Music special layer to add some spacing */
.music-custom img, .music-custom div.prod-image
{
    margin-top: 10px;
}
/* Back button on Store locator */
.btnback
{
    vertical-align: top;
    margin-top: 2px;
    display: inline;
}

/*Quickview selector */
.qv-bottomright .availability-message li.last, #pdpoverview .content .availability-message li.last
{
    clear: both;
    line-height: 0;
    font-size: 0px;
    padding: 0;
}

.quick-links p.sale
{
    margin-top: 0 !important;
}
.quick-links p.sale.first
{
    margin-top: 14px !important;
}


/****************************************************/
/*  MODULE: ui-Lightbox
/*
/*  Developer: Scott Yu
/*  Date: 11/26/2009
/*
/****************************************************/
.ui-lightbox
{
    display: none;
    z-index: 100;
    padding: 12px;
    background: #ffffff;
    border: 3px solid #cccccc;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 200px;
    min-height: 200px; /* CSS3 Box Shadow */
    -moz-box-shadow: 0 0 40px #000000;
    -webkit-box-shadow: 0 0 40px #000000;
    box-shadow: 0 0 40px #000000;
}
#ui-lightbox-dim
{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 99;
    -moz-opacity: 0.45;
    opacity: 0.45;
    filter: alpha(opacity=45);
}
.ui-controls
{
    position: relative;
    z-index: 200;
}
.ui-viewpanel
{
    position: relative;
}
.ui-lightbox .ui-controls .pnlClose
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.ui-lightbox .ui-controls .pnlClose .btnClose
{
    text-indent: -9999px;
    background: transparent url(/images/ui/lightbox/lightbox-close.png) no-repeat scroll 0 0;
    width: 30px;
    height: 39px;
    display: block;
}
* html .ui-lightbox .ui-controls .pnlClose .btnClose
{
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/ui/lightbox/lightbox-close.png', sizingMethod='scale');
}
.ui-lightbox .ui-controls .pnlClose .btnClose:hover
{
    background: transparent url(/images/ui/lightbox/lightbox-close-hover.png) no-repeat scroll 0 0;
}
.ui-lightbox-pop
{
    display: none;
}
.ui-viewpanel .popcontent
{
    padding: 14px;
    overflow: auto;
}
.ui-viewpanel .popcontent h3
{
    font-size: 1.4em;
    line-height: 1.8em;
    padding: 4px 10px;
    margin-bottom: 7px;
    color: White;
    background: #333;
}
.ui-viewpanel .popcontent h4
{
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.6em;
    margin: 4px 0 3px 0;
}
.ui-viewpanel .popcontent p
{
    font-size: 1.1em;
    line-height: 1.5em;
    padding-bottom: 7px;
}

/****************************************************/
/*  MODULE: ui-ImageViwer
/*
/*  Developer: Scott Yu
/*  Date: 11/26/2009
/*
/****************************************************/
.ui-imageviewer ul.gallery, .ui-imageviewer ul.gallery li
{
    padding: 0;
    margin: 0;
    list-style: none;
}
.ui-imageviewer ul.gallery li
{
    display: none;
}

.ui-imageviewer .ui-controls .pnlNext
{
    position: absolute;
    top: 0;
    left: 0;
}
.ui-imageviewer .ui-controls .pnlNext .btnNext
{
    text-indent: -9999px;
    background: transparent url(/images/ui/lightbox/btnNext-hover.png) no-repeat scroll 0 0;
    width: 35px;
    height: 49px;
    display: block;
}
* html .ui-imageviewer .ui-controls .pnlNext .btnNext
{
    background-image: url(/images/ui/lightbox/btnNext-hover.gif);
}
.ui-imageviewer .ui-controls .pnlPrevious
{
    position: absolute;
    top: 0;
    left: 0;
}
.ui-imageviewer .ui-controls .pnlPrevious .btnPrevious
{
    text-indent: -9999px;
    background: transparent url(/images/ui/lightbox/btnPrevious-hover.png) no-repeat scroll 0 0;
    width: 35px;
    height: 49px;
    display: block;
}
* html .ui-imageviewer .ui-controls .pnlPrevious .btnPrevious
{
    background-image: url(/images/ui/lightbox/btnPrevious-hover.gif);
}
.ui-imageviewer .btnNext-extend, .ui-imageviewer .btnPrevious-extend
{
    height: auto;
    width: 50%;
    z-index: 1;
    position: absolute;
}

/****************************************************/
/*  MODULE: ui-Loader
/*
/*  Developer: Scott Yu
/*  Date: 11/27/2009
/*
/****************************************************/

.ui-loader
{
    display: block;
    width: 107px;
    height: 22px;
    background: url(/images/ui/lightbox/loading-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin: auto auto;
    position: relative;
}
.ui-loader .ui-loader-bar
{
    position: relative;
    top: 4px;
    left: 4px;
    display: block;
    width: 99px;
    height: 13px;
    background: url(/images/ui/lightbox/loading-bar.png);
    background-repeat: no-repeat;
    background-position: -99px 0;
}

/****************************************************/
/*  MODULE: ui-popover
/*
/*  Developer: Philip Yee
/*  Date: 03/26/2010
/*
/****************************************************/

.ui-popover
{
    position: relative;
}

.ui-popover .topleft
{
    width: 25px;
    height: 25px;
    float: left;
    background: transparent url(/images/ui/popover/top_left.png) no-repeat top left;
    _background: url(/images/ui/popover/top_left.png) no-repeat top left;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/ui/popover/top_left.png');
    _background-image: none;
}

.ui-popover .topmid
{
    width: 1px;
    height: 25px;
    float: left;
    background: transparent url(/images/ui/popover/top_mid.png) repeat-x top left;
    _background: url(/images/ui/popover/top_mid.png) repeat-x top left;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/ui/popover/top_mid.png');
    _background-image: none;
}

.ui-popover .topright
{
    width: 25px;
    height: 25px;
    float: left;
    background: transparent url(/images/ui/popover/top_right.png) no-repeat top left;
    _background: url(/images/ui/popover/top_right.png) no-repeat top left;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/ui/popover/top_right.png');
    _background-image: none;
}

.ui-popover .midleft
{
    width: 25px;
    height: 1px;
    float: left;
    background: transparent url(/images/ui/popover/mid_left.png) repeat-y top left;
    _background: url(/images/ui/popover/mid_left.png) repeat-y top left;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/ui/popover/mid_left.png');
    _background-image: none;
}

.ui-popover .midright
{
    width: 25px;
    height: 1px;
    float: left;
    background: transparent url(/images/ui/popover/mid_right.png) repeat-y top left;
    _background: url(/images/ui/popover/mid_right.png) repeat-y top left;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/ui/popover/mid_right.png');
    _background-image: none;
}

.ui-popover .bottomleft
{
    width: 25px;
    height: 24px;
    float: left;
    background: transparent url(/images/ui/popover/bottom_left.png) no-repeat top left;
    _background: url(/images/ui/popover/bottom_left.png) no-repeat top left;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/ui/popover/bottom_left.png');
    _background-image: none;
}

.ui-popover .bottommid
{
    width: 1px;
    height: 25px;
    float: left;
    background: transparent url(/images/ui/popover/bottom_mid.png) repeat-x top left;
    _background: url(/images/ui/popover/bottom_mid.png) repeat-x top left;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/ui/popover/bottom_mid.png');
    _background-image: none;
}

.ui-popover .bottomright
{
    width: 25px;
    height: 25px;
    float: left;
    background: transparent url(/images/ui/popover/bottom_right.png) no-repeat top left;
    _background: url(/images/ui/popover/bottom_right.png) no-repeat top left;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/ui/popover/bottom_right.png');
    _background-image: none;
}

.ui-popover .closeBtn
{
    width: 25px;
    height: 24px;
    position: absolute;
    cursor: pointer;
    background: transparent url(/images/ui/popover/closebtn.png) no-repeat top left;
    _background: url(/images/ui/popover/closebtn.png) no-repeat top left;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/ui/popover/closebtn.png');
    _background-image: none;
}

/** Bubble price **/

.priceblock .priceBubble
{
    width: 126px; /* 146px */
    height: 73px;
    padding: 10px 0px 0px 20px;
    background: url(/images/common/pictures/bubble_big.gif) no-repeat top left;
    margin: 0px auto;
}

.priceblock .mainPrice
{
    width: 125px;
    height: 20px;
    float: left;
}

.priceblock .priceBubbleSmall
{
    width: 128px; /* 145px */
    height: 49px;
    padding: 8px 0px 0px 17px;
    background: url(/images/common/pictures/bubble_small.gif) no-repeat top left;
    margin: 0px auto;
}

.ps_dollarSign
{
    width: 11px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat 0px 0px;
    float: left;
}

.ps_savingsEN
{
    width: 28px;
    height: 17px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat 0px -20px;
    float: left;
}

.ps_savingsFR
{
    width: 53px;
    height: 17px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat 0px -43px;
    float: left;
}

.ps_savingsWrap
{
    padding: 2px 0px 0px 0px;
    height: 19px;
    float: left;
    width: 125px;
}

.ps_0
{
    width: 20px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -11px 0px;
    float: left;
}

.ps_1
{
    width: 10px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -31px 0px;
    float: left;
}

.ps_2
{
    width: 18px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -41px 0px;
    float: left;
}
.ps_3
{
    width: 18px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -59px 0px;
    float: left;
}
.ps_4
{
    width: 20px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -77px 0px;
    float: left;
}

.ps_5
{
    width: 19px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -97px 0px;
    float: left;
}
.ps_6
{
    width: 20px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -116px 0px;
    float: left;
}

.ps_7
{
    width: 18px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -136px 0px;
    float: left;
}

.ps_8
{
    width: 20px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -154px 0px;
    float: left;
}
.ps_9
{
    width: 20px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -174px 0px;
    float: left;
}

.ps_99
{
    width: 23px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -194px 0px;
    float: left;
}

.ps_sDollarSign
{
    width: 4px;
    height: 17px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat 0px -61px;
    float: left;
}

.ps_s0
{
    width: 7px;
    height: 17px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -5px -61px;
    float: left;
}

.ps_s1
{
    width: 4px;
    height: 17px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -14px -61px;
    float: left;
}

.ps_s2
{
    width: 7px;
    height: 17px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -20px -61px;
    float: left;
}

.ps_s3
{
    width: 6px;
    height: 17px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -29px -61px;
    float: left;
}

.ps_s4
{
    width: 6px;
    height: 17px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -38px -61px;
    float: left;
}

.ps_s5
{
    width: 6px;
    height: 17px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -46px -61px;
    float: left;
}

.ps_s6
{
    width: 6px;
    height: 17px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -55px -61px;
    float: left;
}

.ps_s7
{
    width: 6px;
    height: 17px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -64px -61px;
    float: left;
}

.ps_s8
{
    width: 7px;
    height: 17px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -72px -61px;
    float: left;
}

.ps_s9
{
    width: 7px;
    height: 17px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -81px -61px;
    float: left;
}

.ps_sub0
{
    width: 12px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -220px 0px;
    float: left;
}

.ps_sub1
{
    width: 5px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -236px 0px;
    float: left;
}

.ps_sub2
{
    width: 10px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -245px 0px;
    float: left;
}

.ps_sub3
{
    width: 12px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -258px 0px;
    float: left;
}

.ps_sub4
{
    width: 12px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -273px 0px;
    float: left;
}

.ps_sub5
{
    width: 12px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -288px 0px;
    float: left;
}

.ps_sub6
{
    width: 11px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -303px 0px;
    float: left;
}

.ps_sub7
{
    width: 10px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -318px 0px;
    float: left;
}

.ps_sub8
{
    width: 11px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -332px 0px;
    float: left;
}

.ps_sub9
{
    width: 11px;
    height: 20px;
    background: url(/images/common/pictures/price_bubble_sprite.gif) no-repeat -347px 0px;
    float: left;
}

/** End Bubble Price **/

#homepage-slide {
    width: 920px;
    height: 323px;
    position: relative;
    overflow: hidden;
}

ul.slides
{
    display: none;
    background: #fff;
}

ul.slides li
{
    display: none;
    background: #efefef;
    position: relative;
}

ul.slides li.html
{
    background: #cecece;
}

.ui-slideshow .tooltip
{
    display: none;
    position: absolute;
    left: 512px;
    top: 10px;
    z-index: 150;
    width: 300px;
    padding: 5px;
    color: #4d4d4f;
    margin: 0px;
    text-align: right;
}

ul.slideThumbs li
{
    width: 34px;
    height: 34px;
    display: block;
    padding: 0px;
    background: #fff200;
    margin: 5px 2px 0px;
    float: left;
    border: 2px solid #c7c8ca;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.ui-slideshow ul.slideThumbs li.hover
{
    border: 2px solid #00447f;
}

ul.slideThumbs li a
{
    color: White;
    padding: 0px;
    margin: 0px;
    display: block;
}

ul.slides li
{
    display: inline-block;
}

#progress
{
    width: 34px;
    height: 34px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
}

#roller
{
    height: 34px;
    cursor: pointer; /*background: transparent url(../Assets/progress_roller.png);*/
    background: #fff;
    opacity: 0.5;
}

/* ---------------------------------------------------- */
/* SLIDESHOW > BUBBLES
/* ---------------------------------------------------- */
.ui-slideshow .indicator
{
    width: 51px;
    height: 51px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 160;
    background: transparent url(/images/ui/slideshow/bubble_plus.png) no-repeat top left;
}

.ui-slideshow .bubble .indicator.ie6
{
    background: transparent url(/images/ui/slideshow/bubble_plus.png) no-repeat top left;
    _background: url(/images/ui/slideshow/bubble_plus.png) no-repeat top left;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/ui/slideshow/bubble_plus.png');
    _background-image: none;
}

.ui-slideshow .bubble
{
    position: absolute;
    z-index: 170;
}

.bubble.plus_br .indicator
{
    background: transparent url(/images/ui/slideshow/bubble_plus_br.png) no-repeat top left;
}

.bubble.plus_bl .indicator
{
    background: transparent url(/images/ui/slideshow/bubble_plus_bl.png) no-repeat top left;
}

.bubble.plus_tl .indicator
{
    background: transparent url(/images/ui/slideshow/bubble_plus_tl.png) no-repeat top left;
}

.bubble.plus_tr .indicator
{
    background: transparent url(/images/ui/slideshow/bubble_plus_tr.png) no-repeat top left;
}

.bubble.star_br .indicator
{
    background: transparent url(/images/ui/slideshow/bubble_star_br.png) no-repeat top left;
}

.bubble.star_bl .indicator
{
    background: transparent url(/images/ui/slideshow/bubble_star_bl.png) no-repeat top left;
}

.bubble.star_tl .indicator
{
    background: transparent url(/images/ui/slideshow/bubble_star_tl.png) no-repeat top left;
}

.bubble.star_tr .indicator
{
    background: transparent url(/images/ui/slideshow/bubble_star_tr.png) no-repeat top left;
}

.ui-slideshow .bubbleContent
{
    display: none;
    overflow: hidden;
    clear: both;
    border: 1px solid #ccc;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 100;
    padding: 10px;
    width: 250px;
    background: #fff url(/images/ui/slideshow/bubble_grad.gif) repeat-x bottom left;
}

.ui-slideshow .bubbleInsert
{
    background: #fff;
    margin: 0px 12px 12px;
    font-style: normal;
}

.ui-slideshow .close
{
    float: right;
    padding: 0px;
    margin-right: 5px;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

.ui-slideshow .slideshowControls
{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 90;
}

.ui-slideshow .btnArrowLeft
{
    width: 37px;
    height: 56px;
    background: transparent url(/images/ui/slideshow/btn_arrow_small_left.png) no-repeat top left;
    z-index: 90;
    position: absolute;
    left: 10px;
    top: 107px;
}

.ie6.ui-slideshow .btnArrowLeft
{
    background: transparent url(/images/ui/slideshow/btn_arrow_small_left.png) no-repeat top left;
    _background: url(/images/ui/slideshow/btn_arrow_small_left.png) no-repeat top left;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/ui/slideshow/btn_arrow_small_left.png');
    _background-image: none;
}

.ui-slideshow .btnArrowLeft.hoverLeft
{
    background: transparent url(/images/ui/slideshow/btn_arrow_left.png) no-repeat top left;
}

.ie6.ui-slideshow .btnArrowLeft.hoverLeft
{
    background: transparent url(/images/ui/slideshow/btn_arrow_left.png) no-repeat top left;
    _background: url(/images/ui/slideshow/btn_arrow_left.png) no-repeat top left;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/ui/slideshow/btn_arrow_left.png');
    _background-image: none;
}

.ui-slideshow .btnArrowRight
{
    width: 36px;
    height: 56px;
    background: transparent url(/images/ui/slideshow/btn_arrow_small_right.png) no-repeat top left;
    z-index: 90;
    position: absolute;
    left: 874px;
    top: 107px;
}

.ie6.ui-slideshow .btnArrowRight
{
    background: transparent url(/images/ui/slideshow/btn_arrow_small_right.png) no-repeat top left;
    _background: url(/images/ui/slideshow/btn_arrow_small_right.png) no-repeat top left;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/ui/slideshow/btn_arrow_small_right.png');
    _background-image: none;
}

.ui-slideshow .btnArrowRight.hoverRight
{
    background: transparent url(/images/ui/slideshow/btn_arrow_right.png) no-repeat top left;
}

.ie6.ui-slideshow .btnArrowRight.hoverRight
{
    background: transparent url(/images/ui/slideshow/btn_arrow_right.png) no-repeat top left;
    _background: url(/images/ui/slideshow/btn_arrow_right.png) no-repeat top left;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/ui/slideshow/btn_arrow_right.png');
    _background-image: none;
}

.ui-slideshow .bottomBar
{
    width: 920px;
    height: 48px;
    background: transparent url(/images/ui/slideshow/bottombar_grad.png) repeat-x top left;
    position: absolute;
    left: 0px;
    top: 275px;
}

.ui-slideshow .technology-slogan
{
    width: 307px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 275px;
    background: transparent url(/projects/_content/_weekly/home/h-home-end/assets/technology-en.jpg) no-repeat top left;    
}

.fr-CA .ui-slideshow .technology-slogan
{
    width: 290px;
    background: transparent url(/projects/_content/_weekly/home/h-home-end/assets/technology-fr.jpg) no-repeat top left;
}

.ui-slideshow .btnSlidePause
{
    width: 37px;
    height: 37px;
    position: absolute;
    left: 875px;
    top: 281px;
}

.ui-slideshow .slideThumbs
{
    padding-right: 60px;
    float: right;
}

.ui-slideshow .slides .prodDetail
{
}

.ui-slideshow .slides .prodDetail .logo
{
    margin-bottom: 5px;
}

.ui-slideshow .btnShop
{
    width: 113px;
    height: 23px;
    background: url(/images/ui/slideshow/btn_shop_en.gif);
    margin-top: 10px;
}

.ui-slideshow .clickArea
{
    z-index: 80;
}

.ui-slideshow .slides .btnLabel
{
    display: none;
}

.clearDIV
{
    clear: both;
}
/* End CSS for bubble price */


/*/////////////////////////////////////////////////////////////*/
/*/////////////////// INNER CONTENT LAYOUTS ///////////////////*/
/*/////////////////////////////////////////////////////////////*/

/*IE 6 Fix for #179665*/
.research .helpblock2 .content
{
    padding-right: 0 !important;
}
/*End IE6 Fix */
#contentright1 .standardblock .chkbox label
{
    font-weight: normal;
}
#contentright3 .contact-us
{
    padding-left: 9px;
    padding-bottom: 10px;
}
#contentleft4 select
{
    margin-top: 0;
}

/* PAGE MESSAGES */
div.pagemessage
{
    margin-left: 9px;
    clear: both;
}
.pagemessage1
{
    margin-left: 9px;
    width: 541px;
    clear: both;
}
.pagemessage2
{
    margin-left: 9px;
    width: 641px;
    clear: both;
}
.pagemessage3
{
    width: 731px;
    clear: both;
}
.pagemessage2 .description
{
    width: 650px;
}
.pagemessage1 p, .pagemessage2 p, .pagemessage3 p, div.pagemessage p
{
    margin: 0 0 6px 0;
}
p.pagemessage
{
    margin: 0 0 12px 0;
}
p.reqfield
{
    margin: 0 0 4px 0;
}
.reqfield
{
    font-weight: bold;
    padding: 5px 0 0 0;
}
.content-pmessage .reqfield
{
    padding: 0 0 5px 0 !important;
}
.reqfield em
{
    margin-right: 3px;
    font-weight: bold;
}

/* CONTENT PAGE MESSAGE */
.content-pmessage
{
    padding: 0 0 0 9px;
}
.content-pmessage h1
{
    padding-left: 0 !important;
}
.content-pmessage h3
{
    margin: 0 0 4px 0;
}
.content-pmessage h1
{
    margin: 0;
    padding: 0 0 5px 0;
}
.content-pmessage p
{
    margin: 0;
    padding: 0 0 15px 0;
}
.content-pmessage p.learnmore
{
    margin: 20px 0 0 0;
    padding: 0 0 10px 13px;
    background: url(/images/common/buttons/redarrow_right.gif) no-repeat 0 3px;
}
p.learnmore a
{
    margin-left: 2px;
}

/*/////////////////////////////////////////////////////////////*/
/*/////////////////////// REUSABLE ELEMENTS ///////////////////*/
/*/////////////////////////////////////////////////////////////*/
.font-middle
{
    font-size: 12px !important;
}
.rem-botspace .helpblock
{
    margin-bottom: 0 !important;
}
.nopadding-leftright
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
label.inline
{
    display: inline;
}
.radio-inline
{
    margin-bottom: 5px;
    clear: both;
}
.radio-inline label, .radio-inline input
{
    display: inline;
    font-weight: normal !important;
}
.std-bottomspace2
{
    padding-bottom: 20px !important;
}
.std-topspace2
{
    padding-top: 20px !important;
}
.std-topspace-sm
{
    padding-top: 6px !important;
}
.std-rightspace
{
    padding-right: 9px;
}
.std-leftpad
{
    padding-left: 10px;
}
.std-topmargin
{
    margin-top: 10px !important;
}
.std-bottommargin
{
    margin-bottom: 10px !important;
}
.small-bot-pad
{
    padding-bottom: 2px !important;
}
ol.no-clear .chkbox
{
    margin-bottom: 0px;
    padding-top: 0;
    padding-bottom: 0;
}
.std-topspace.large
{
    padding-top: 50px !important;
}
.pagemessage2 .backto-top, .pagemessage1 .backto-top, .pagemessage3 .backto-top
{
    padding: 10px 0 10px 0;
}
.pagemessage3 .button-bottompage
{
    margin-bottom: 5px;
}
#contentright2 .button-right
{
    padding-top: 4px;
    padding-bottom: 6px;
}
#contentright2 .button-right.last
{
    margin-top: 0;
    padding-top: 0;
}
#contentleft3 .content-pmessage img.right
{
    padding: 0 0 10px 10px;
}
#contentleft3 h1
{
    padding-bottom: 10px;
    line-height: 20px;
}
.std-first-col
{
    margin-right: 10px !important;
}
p.inline-labellnk
{
    padding: 0 !important;
    margin: 0 !important;
}
p.inline-labellnk label
{
    display: inline !important;
    padding: 0 2px 0 0;
    margin: 0;
}
.credit-swipe p.inline-labellnk a
{
    display: inline !important;
    padding: 0 0 0 6px;
}
.limited-characters *
{
    font-size: 11px !important;
}
p.policies, div.policies
{
    font-size: 11px;
    color: #666;
}
h2.expandtitle
{
    float: left;
}

/* BOXES */
.boxlgray
{
    background: #f3f3f3;
    border: solid 1px #ccc;
    padding: 9px;
}
.dark
{
    background: #e5e5e5;
}
.box2gray
{
    background: #e5e5e5;
    border: solid 1px #ccc;
    padding: 9px;
}
.box2gray .mccpblue .mccpright
{
    background: url(/images/common/buttons/mccpblueright_grey.gif) no-repeat top right;
}
.box2gray .mccpblue .mccpleft
{
    background: url(/images/common/buttons/mccpblueleft_grey.gif) no-repeat top left;
}
.box2gray .mccpblue .mccpmain
{
    background: url(/images/common/buttons/mccpbluebackground_grey.gif) repeat-x;
}
.box1yellow
{
    background: #ffffcc;
    border: 1px solid #ccc;
    padding: 9px;
}
.box1white, .tab_section
{
    background: #fff;
    border: 1px solid #ccc;
    padding: 9px;
}
tr.box2gray th
{
    background: #e5e5e5;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    padding: 9px;
}
tr.box2gray th.first
{
    border-left: solid 1px #ccc;
}
tr.box2gray th.last
{
    border-right: solid 1px #ccc;
}
.box2gray h2
{
    font-size: 16px;
}
.hdr-expand, .hdr-collapse
{
    overflow: hidden;
    cursor: pointer;
}
.chkout-fieldbox ol li ol li {
    float: left;
    display: inline;
    margin: 0 12px 0 0;
    font-size: 12px;
    padding: 0;
}

/* STANDARD BLOCK HEADER */
.standardblock .hdr
{
    padding: 7px 0 0 0;
    height: 30px;
}
.standardblock .hdr .left
{
    float: left;
}
.standardblock .hdr .right
{
    float: right;
}
.standardblock .hdr h2
{
    display: inline;
}
.standardblock .hdr input
{
    margin: 1px 3px 0 0;
    vertical-align: top;
    height: 13px;
    width: 15px;
}
/* STANDARD TABLE */
table.std
{
    border: solid 1px #ccc;
    width: 100%;
}
table.std tr.hdr
{
    background: url(/images/common/backgrounds/graygradient.gif) repeat-x top left;
    border: 1px solid #ccc;
}
table.std th
{
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px 6px 10px;
    border-left: solid 1px #ccc;
    border-right: solid 1px #fff;
    text-align: left;
}
table.std th.first
{
    border-left: none !important;
    vertical-align: top;
}
table.std th.last
{
    border-right: none !important;
}
table.std tr td
{
    border-top: solid 1px #ccc;
    padding: 9px;
}
table.std tr.child td
{
    border-top: none;
}

/* CHECKBOX ZONE */
div.chkbox
{
    margin: 4px 0 10px 0;
    padding: 8px 9px;
    border: solid 1px #ccc;
    background: #ffffdb;
    font-weight: bold;
    display: block;
    float: left;
    position: relative;
}
div.chkbox label
{
    display: inline;
    margin: 0;
    vertical-align: middle;
    line-height: 12px;
}
div.chkbox input
{
    margin: 0 7px 0 0;
    height: 12px;
    width: 12px;
    vertical-align: middle;
}

/* GRAY PAGING */
.paging, .paging3cols
{
    margin: 0 0 9px 0;
    height: 18px;
    padding-top: 6px;
    text-align: center;
    vertical-align: middle;
}
.paging .summary, .paging3cols .summary
{
    float: left;
    padding-top: 2px !important;
}
.paging .selector
{
    float: right;
    font-weight: bold;
    padding-top: 1px !important;
}
.paging .selector1
{
    float: right;
    font-weight: bold;
    width: 70%;
}

.paging .show1
{
    font-weight: bold;
    padding-top: 1px !important;
    width: 35%;
}
.paging3cols .summary
{
    width: 15%;
    text-align: left;
}
.paging3cols .selector
{
    font-weight: bold;
    float: left;
    padding: 2px 0 0 0;
    width: 53%;
    vertical-align: middle;
    text-align: center;
}
.paging3cols .show
{
    float: right;
    width: 32%;
    font-weight: bold;
    text-align: right;
}
.paging3cols .show select
{
    font-size: 11px;
    vertical-align: middle;
}
.paging3cols .show span
{
    display: inline;
    vertical-align: middle;
    margin-right: 3px;
}
.paging .selector, .paging3cols .selector
{
    /*font-size:0;  line-height: 0;*/
}
.paging .selector a, .paging3cols .selector a
{
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    padding: 3px 1px;
}
.paging .selector a:hover, .paging3cols .selector a:hover
{
    cursor: pointer;
}
.paging .selector span, .paging3cols .selector span
{
    margin-right: 2px;
    margin-left: 2px;
    font-size: 12px;
}

/* ALPHA ORDER */
.alpha-order
{
    text-align: center;
    margin-bottom: 10px;
}
.alpha-order ol
{
    margin: 0 120px;
}
.alpha-order li
{
    float: left;
    width: 18px;
    text-align: center;
}
.alpha-order li a
{
    text-decoration: underline;
    padding: 0 4px;
}

/* STANDARD Bullet List */
ul.stdlist
{
    margin: 0 0 10px 0;
    padding: 0;
}
ul.stdlist li
{
    background: url(/images/common/pictures/bulletsmallsquare.gif) no-repeat 0 5px;
    margin: 0 0 2px 0;
    padding: 0 0 0 10px;
}
ul.stdlist li a
{
    font-size: 12px;
    font-weight: normal;
}
ul.stdlist2
{
    margin: 0 0 10px 0;
    padding: 0;
}
ul.stdlist2 li
{
    background: url(/images/common/pictures/stdlist2.gif) no-repeat 0px 8px;
    margin: 0 0 0 2px;
    padding: 0 0 0 10px;
}
.bullet-list li
{
    list-style: none;
    background: url(/images/common/pictures/bulletsmallsquare.gif) no-repeat 2px 7px;
    padding: 0 0 0 12px;
    margin: 4px 0 0 1px;
}
ul.stdlist3
{
    margin-bottom: 10px;
}
/* Validation Summary */
div.validation-summary
{
    margin: 7px 0 10px 1px;
    padding-right: 0 !important;
    font-weight: bold;
    clear: both;
    display: block;
    overflow: hidden;
}
.validation-summary img
{
    float: left;
    margin: 3px 10px 0 0;
}
.validation-summary ul
{
    margin: 0 0 0 50px;
    font-weight: normal !important;
}
.validation-summary ul li
{
    padding: 0 0 6px 0;
}
.validation-summary p
{
    float: left;
    color: #ff0000;
}
.error-txt
{
    color: #ff0000 !important;
}

/* CONFIRMATION UC SECTION */
.confirmation-main
{
    margin-bottom: 7px;
    overflow: auto;
}
.confirmation-top
{
    height: 5px;
    overflow: hidden;
    clear: both;
    background: url(/images/common/backgrounds/confirmation_msg_topright.gif) no-repeat top right;
    position: relative;
    top: 5px;
}
.confirmation-content
{
    border-right: 1px solid #d0cccd;
    border-left: 1px solid #d0cccd;
    clear: both;
    background: #fdffce;
    padding: 10px;
    margin-bottom: 5px;
    height: 100%;
    min-height: 17px;
}
.confirmation-content span
{
    padding: 5px 0 0 8px;
    float: left;
    width: 93%;
}
.confirmation-content img
{
    float: left;
}
.confirmation-bottom
{
    height: 5px;
    overflow: hidden;
    clear: both;
    background: url(/images/common/backgrounds/confirmation_msg_bottomright.gif) no-repeat bottom right;
    position: relative;
    top: -5px;
}


/* PROGRESS INDICATOR */
.progress {
    width: 850px;
    margin: 0 0 20px 9px;
    overflow: auto;
    display: block;
    clear: both;
    float: left;
}

* html .progress {
    display: inline;
    padding-bottom: 20px;
    margin-bottom: 0;
} *:first-child+html .progress {
    padding-bottom: 20px;
    margin-bottom: 0;
}

.progress li {
    float: left;
    text-align: center;
    padding-right: 30px;
    background: url(/images/common/pictures/progressbasketdash.gif) no-repeat right;
    margin-right: 2px;
}

.progress li.last
{
    background: none;
    padding-right: 0;
}
.progress li span
{
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #999;
}
.progress li span.current
{
    color: #2e3337;
}
.progress li img
{
    vertical-align: middle;
}
p.processing-text
{
    padding-top: 20px;
    padding-bottom: 25px;
}

/*//////////////////////////////////////////////////////////////*/
/*//////////////// GENERAL MARKETING / CATALOG /////////////////*/
/*//////////////////////////////////////////////////////////////*/

/* ITEMS LISTING */
.itemslisting {
    border: none;
    padding: 0;
    margin: 0;
}
.itemslisting table tr td {
    vertical-align: top;
}

.itemslisting .hr, .hdr2 {
    height: 4px;
    background: #999;
    margin: 10px 0 10px 0;
    line-height: 4px;
    font-size: 4px;
}
.hr-bottom {
    padding: 0 0 5px 10px !important;
    border-bottom: 4px solid #999;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: -3px;
}
.itemslisting .hr.top {
    margin-top: 0 !important;
}
div.hdr2 {
    margin-top: 7px;
}
.itemslisting div.hr hr
{
    display: none;
}
.skublocklist .visual img
{
    margin: 0 0 9px 0;
    float: left;
}
.skublocklist .visual label
{
    display: inline;
    margin: 2px 3px 0 2px;
    vertical-align: middle;
    line-height: 11px;
    color: #003399;
}
.skublocklist .visual input
{
    display: inline;
    height: 16px;
    vertical-align: middle;
    margin: 0 2px 0 0;
}
.skublocklist .infos h4
{
    font-size: 13px;
    font-weight: bold;
    color: #003399;
}
.skublocklist .infos h4 .hypArtistDetailsDiv a {
    display: none;
}
.skublocklist .infos p.model
{
    font-size: 11px;
    margin: 0 0 10px 1px;
    padding-top: 2px;
}
.skublocklist .infos p
{
    margin: 10px 0 10px 0;
}
.skublocklist .infos ul.stdlist2
{
    margin: 0 0 10px 0;
    padding: 0;
}
.skublocklist .infos ul.stdlist2 li
{
    background: url(/images/common/backgrounds/red_check_sm.gif) no-repeat 0 5px;
    margin: 0 0 2px 2px;
    padding: 0 0 0 10px;
}
.skublocklist .prices .buttons .mccpblue
{
    margin: 10px 0 0 0;
    padding: 0 0 4px 0 !important;
    clear: both;
}
.skublocklist .prices .buttons .mccpgray
{
    padding: 2px 0 4px 0 !important;
    clear: both;
}
.skublocklist .prices .buttons div.mccpblue .mccpright, .skublocklist .prices .buttons div.mccpgray .mccpright
{
    width: 130px;
}
.skublocklist .rating {
    background: url(/images/common/backgrounds/tblpricewatcherseptop.gif) repeat-x center 5px;
    padding: 15px 0 0 0;
}
.skublocklist .rating .shipping {
    float: right;
    padding: 4px 6px 6px 6px;
    background: #f0f0f0;
}
.skublocklist .sale, .softline3x2 .sale {
    color: #ff0000 !important;
    margin-bottom: 0;
}
.skublocklist .leftbox {
    float: left;
    width: 74px;
    text-align: center;
}
.itemslisting .skublocklist .sale-regular {
    margin-bottom: 1px;
}
.skublocklist .availability-message .title {
    clear: both;
    font-size: 12px;
    float: left;
    padding: 0 5px 0 0;
}
.skublocklist .availability-message .title .normal {
    float: none;
}
.skublocklist .availability-message ul {
    margin: 0;
}
.skublocklist .availability-message li {
    float: left;
}
.skublocklist .availability-message .order-ispu {
    clear: both;
}
.skublocklist .availability-message .inner {
    margin-right: 6px;
    white-space: nowrap;
}
.skublocklist .availability-message .limit {
    float: left;
    font-size: 11px;
    font-style: italic;
    padding: 1px 0 0;
    margin: 0 0 0 12px;
}
.skublocklist .availability-message .separator {
    margin-right: 6px;
    color: #ccc;
    font-size: 12px;
}
.skublocklist .availability-message .check-more-stores {
    float: left;
    margin: 0 0 0 12px;
}
.skublocklist .availability-message span {
    width: auto !important;
}

/*General Price*/
.pricetitle 
{
    padding-right: 5px;
}
/* PRICE BLOCK WHISHLIST / PRICE WATCH*/
.skublocklist .priceblock
{
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 8px 0;
}
.skublocklist .priceblock .pricetitle
{
    display: inline;
    padding-right: 5px;
    white-space: nowrap;
}
.skublocklist .priceblock .price
{
    white-space: nowrap;
    display: inline;
    padding-left: 0;
}
.skublocklist .priceblock .sale-end
{
    font-size: 11px;
    color: #2e3337;
    font-weight: normal;
    
}

/* artist ------------------------------------------------------- */
.skublocklist .priceblock2 {
    width: 155px;
    padding: 0 0 0 10px;
    font-size: 11px;
    background: url('/images/common/backgrounds/vertical_dashed.gif') repeat-y scroll left top transparent;
}

/* skulistinglistarea is a wrapper for entire subclass sku list and pagination/sort options ---------------- */
.skulistinglistarea .cat-sortby-area {
    height: 25px;
    padding: 0 0 0 10px;
}
.skulistinglistarea table .infos {
    width: 282px;
}
.skulistinglistarea table .rating .shipping {
    width: 440px;
}

/* sku-grid-area is replaced with prod-size-3 as they mostly share the same style ------------------------ */

/* GENERAL */
.tbl-spacing
{
    height: 10px;
    width: 100%;
}
.prev-next
{
    width: 220px;
}
.prev-next a
{
    font-weight: bold !important;
    font-size: 12px;
    margin-right: 10px;
}
ul.litem li, ul.litem2 li
{
    font-weight: normal !important;
}
ul.litem, ul.litem2 li
{
    margin: 10px 0;
}
p.sub-hdr
{
    font-weight: bold;
    font-size: 13px;
}
ul.warranty
{
    overflow: hidden;
    float: right;
}
ul.warranty li
{
    margin: 0 0 4px 10px;
    width: 540px;
    overflow: hidden;
}
ul.warranty li .normal
{
    font-size: 11px;
}
ul.warranty li div.right-warranty
{
    float: right;
    width: 135px;
}
.availability img {
    padding-right: 5px;
}
.disclaimer {
    font-size: 11px;
    color: #999;
    margin-left: 9px;
}
.specialoffers {
    margin-top: 15px;
    margin-bottom: 15px;
}
td.item div.description
{
    float: left;
    padding-left: 15px;
}

/*//////////////////////////////////////////////////////////////*/
/*/////////////////// OTHER SHARED SECTIONS ////////////////////*/
/*//////////////////////////////////////////////////////////////*/

/* WARRANTY PICKER */
#warranty_picker label
{
    display: inline;
    margin-bottom: 4px;
}
#warranty_picker p.strong
{
    padding-bottom: 8px;
}
#warranty_picker h3
{
    padding: 0 0 7px 0;
    font-size: 13px;
}
#warranty_picker .right-info .box-psp ul li
{
    padding-bottom: 2px;
}
#accept_terms
{
    clear: both;
    padding: 3px 0 3px 0;
}
#accept_terms label, .box-psp ul li label, .right-info p.strong label
{
    margin-left: 5px;
}
#accept_terms .hid
{
    visibility: hidden;
}
/* ALL ACCESSORIES */
.all-accessories table
{
    width: 100%;
}

.all-accessories h1
{
    padding-top: 0;
}
.all-accessories h2
{
    position: relative;
}
.all-accessories h2 a
{
    font-weight: normal;
    font-size: 12px;
}
.all-accessories h2 .help-link
{
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 11px;
}
.all-accessories h3
{
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 0 10px;
}
.all-accessories h3.boxtitle
{
    padding-left: 3px;
    padding-bottom: 3px;
}
.all-accessories .container h3
{
    padding-top: 0;
}
.all-accessories .box2gray
{
    margin-bottom: 6px !important;
    padding: 7px 9px 7px 9px !important;
}
.all-accessories .hr
{
    margin-bottom: 8px !important;
    margin-top: 10px !important;
}
.all-accessories
{
    overflow: hidden;
}
.all-accessories .dotted
{
    width: 1px;
    border-right: 1px solid #666;
}
.all-accessories .right-info
{
    float: left;
    overflow: auto;
    width: 612px;
    margin-top: 10px;
    margin-bottom: 7px;
}
.select-warranty .right-info
{
    float: left;
    overflow: auto;
    width: 588px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.select-warranty .right-info
{
    width: 631px;
}
.all-accessories .right-info input, #warranty_picker .right-info input
{
    vertical-align: middle;
}
.all-accessories .right-info p
{
    padding: 0 0 3px 0;
}
.all-accessories .right-info .box-psp
{
    float: left;
    width: 300px;
    margin: 0 6px 5px 0;
}
#warranty_picker .right-info .box-psp
{
    float: left;
    width: 189px;
}
#warranty_picker .hdr2 {
    font-size: 12px;
    height: auto;
    line-height: 1.35;
    background: none;
}
.select-warranty #warranty_picker .right-info .box-psp
{
    width: 210px;
}
.all-accessories .right-info .box-psp ul
{
    margin-bottom: 0px;
}
.all-accessories .right-info .hdr, .select-warranty .right-info .hdr
{
    font-weight: bold;
    margin: 0;
    padding: 0 0 8px 0;
}
.all-accessories .right-info .hdr2, .select-warranty .right-info .hdr2
{
    font-weight: bold;
    margin: 0;
    padding: 0 0 4px 0;
}
.all-accessories .right-info .hdr2
{
    padding-left: 1px;
}
.all-accessories .right-info .hdr3
{
    font-weight: bold;
    margin: 0;
    padding: 0 0 0 10px;
    background: url(/images/common/backgrounds/red_check_sm.gif) no-repeat left;
}
.all-accessories .right-info .left
{
    float: left;
    width: 400px;
    padding-right: 10px;
}
.all-accessories .right-info .center
{
    width: 121px;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.all-accessories .right-info .right
{
    float: left;
    padding-left: 20px;
}
.all-accessories .container, .select-warranty .containter
{
    padding-bottom: 10px;
    overflow: auto;
    padding-top: 10px;
}
.all-accessories h3
{
    font-size: 14px;
    padding: 9px;
    padding-bottom: 0;
}
.all-accessories h2, .select-warranty h2
{
    font-size: 16px;
    padding: 6px 9px;
    background: #e5e5e5;
    border: 1px solid #ccc;
    margin-top: 0;
    zoom: 1;
}
.main-product .container, .select-warranty .container
{
    border: 1px solid #ccc;
    border-top: 0;
    overflow: auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #fff;
}
.main-product .container .hdr, .select-warranty .hdr
{
    font-size: 13px;
    font-weight: bold;
}
.box-padding
{
    padding: 9px;
    border: 1px solid #ccc;
}
.all-accessories ul.specifications li
{
    line-height: 20px;
    padding-left: 4px;
    margin: 0 7px 0 -1px;
    width: 352px;
    float: left;
}
.all-accessories ul.specifications li.alt0, .all-accessories ul.specifications li.alt1
{
    background: #f3f3f3;
}
.all-accessories .box-bot
{
    clear: both;
    margin-bottom: 9px;
}
.all-accessories .container .image
{
    padding-top: 0;
    margin-top: 0;
}
.all-accessories .uchose
{
    padding-top: 0 !important;
}
.all-accessories .uchose .image, .select-warranty .image
{
    margin-top: 10px;
    float: left;
}
.select-warranty .image
{
    padding-right: 9px;
}
.all-accessories .uchose .boxtitle
{
    padding-top: 7px;
}
span.sku-list-title
{
    font-size: 14px;
    font-weight: bold;
    margin-left: 9px;
}
.all-accessories .skublocklist .rating div.shipping
{
    width: 600px;
}

.ver-sep2
{
    color: #999;
    font-weight: normal;
}

/*COMPARE PRODUCT*/
.rating-cell
{
    vertical-align: top;
}
#trPriceBlockTop td, #trPriceBlockBottom td
{
    font-size: 11px;
}
.tbl-compare .title label, #trProductLabelBottom td, #trProductLabelTop td
{
    font-weight: bold;
}
#trPriceBlockBottom td, #trPriceBlockTop, #trProductLabelBottom td, #trProductLabelTop td, #trAvailabilityMessageTop td, #trAvailabilityMessageBottom td
{
    vertical-align: top;
}
#trPromotionLinks td
{
    font-size: 12px;
    font-weight: bold;
}

/*///////////////////////////////////////////////////////////////////////////*/

/*Kiosk*/
.radio-inline label
{
    margin-right: 8px;
    vertical-align: middle;
}
.radio-inline input
{
    margin-right: 4px;
    vertical-align: middle;
}
.kiosk-card ol li
{
    padding-bottom: 5px !important;
}
.kiosk-card ol li ol li
{
    padding-bottom: 0px !important;
}
.kiosk-card .link
{
    font-weight: normal !important;
    font-size: 11px;
}
.kiosk-card .link_devider
{
    background: url(/images/common/backgrounds/shiphead_divider.gif) no-repeat right;
    margin-right: 6px;
    padding-right: 6px;
}
.kiosk-card .kiosk_clear
{
    clear: both;
}
.kiosk_clear li on li
{
    display: block;
}
ol.kiosk-card li ol li
{
    float: none;
    display: block;
}
.standardblock .kiosk-card dl.ccv2
{
    float: left;
}
/* SAVE INFORMATION BLOCK */
.saveinfoblock
{
    width: 220px;
    clear: both;
    overflow: auto;
    background: #ffffdb;
    border: 1px solid #ccc;
    padding: 7px;
    margin: 0 0 10px 0;
    font-weight: bold;
}
.saveinfoblock input
{
    float: left;
}
.saveinfoblock label
{
    float: left;
    padding: 2px 0 0 0;
}

.text-box-space .textbox-max {
    width: 95%;
}

/* newsletter email notification */
.chkout-fieldbox .email-notification ul.check-box li
{
    padding-bottom: 0px;
}
/* ends */

/*///////////////////////////////////////////*/
/*END SANDBOX STYLES*/
/*///////////////////////////////////////////*/

/* splash ads wrapper starts --------------------------------------------- */
.splash-ads
{
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
    background-color: #eaeaea;
    height: 600px;
}

.splash-ads-hor {
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin-bottom: 10px;
    background-color: #eaeaea;
    height: 90px;
}
/* splash ads wrapper ends ----------------------------------------------- */

/* POLL UC CONTROL */
ul.left-pollresult li .result
{
    overflow: hidden;
}
ul.left-pollresult li
{
    padding-bottom: 7px;
}
.left-pollresult li .result
{
    width: 125px;
    clear: both;
    padding-bottom: 0px;
    overflow: auto;
}
.left-pollresult li .result .result-colorbar
{
    background: #ffff00;
    border: solid 1px #c0c0c0;
    height: 8px;
    margin-top: 2px;
    float: left;
    padding: 0;
    font-size: 1px;
    line-height: 1px;
}
.left-pollresult li .result p
{
    float: left;
    margin: 0 0 0 4px;
    padding: 0;
    display: inline !important;
    position: absolute;
}
.left-pollresult li label
{
    clear: both;
}
.left-pollresult p.total
{
    margin-top: 7px;
    clear: both;
}
.left-pollresult p.error
{
    color: #ff0000;
    font-size: 11px;
}
.opt-bottompad
{
    padding-bottom: 5px;
}
.pdplogo
{
    float: left;
    margin-left: 23px;
}
.nobold_text
{
    font-weight: normal !important;
}

/* Movie tab */
.fb-title
{
    width: 100px;
    color: #00447f;
    margin-top: 5px;
}
.fb-subtitle
{
    width: 100px;
    color: Black;
    margin-top: 5px;
    font-weight: normal;
}

/* BUBBLE STYLES */
/* SYawan - 20121018 - don't delete snippet, .less won't compile this IE Hack */
.ui-indicator {
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src='/images/ui/slideshow/bubble_plus.png');
    _background-image: none;
}
.ui-indicator img {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)" !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF) !important;
}
/* END BUBBLE STYLES */


.prodprice,
.prod-saving
{ font-weight:bold; }

.prod-ehf,.prod-sale-ends
{ color:#88898b; }

.prod-saving,.price-onsale
{ color:#da1a36; }

#pdpoverview .prodprice
{ font-size:27px; }

.prod-size-1 .prodprice,.prod-size-2 .prodprice
{ font-size:24px; }

.prod-size-3 .prodprice,
.prod-size-4am .prodprice,
.prod-size-5 .prodprice,
.feature-box .prodprice
{ font-size:20px; }

.skublocklist .prodprice,
#tblCompareProduct .prodprice
{ font-size:16px; }

#pdpoverview .prod-ehf,
#pdpoverview .prod-saving,
#pdpoverview .prod-sale-ends,
.prod-size-1 .prod-ehf,
.prod-size-1 .prod-saving,
.prod-size-1 .prod-sale-ends
{ font-size:12px; }

.prod-ehf,.prod-saving,.prod-sale-ends
{ font-size:11px; }
