﻿/*//////////////////////// Geek Squad /////////////////////////*/

.gs-master #languageheader a:hover, .gs-master #bbyback a:hover, .gs-master .breadcrumb a:hover, .gs-master .main-toolbar a:hover{
    text-decoration:none;
}
#geekheader *, #geekfooter *, .gs-master .globalsearch *, .gs-master #languageheader *, .gs-master #bbyback *, .gs-master #welcomejs *, .gs-master .breadcrumb *, .gs-master .main-toolbar *, #geeksquadcontent *, .gs-master .menu *{
	font-family:Verdana, Helvetica, sans-serif;
}
.gs-master .searchin{
    display:none;
}

.gs-master .breadcrumb {
    padding: 0 0 17px 9px;
}

#bbyback{
    font-size:10px;
    height:27px;
    float:left;
    margin:2px 0 0 7px;
}
#bbyback a{
    background: transparent url(/images/geeksquad/common/pictures/bestbuy.gif) no-repeat right top;
    display:inline-block;
    height:19px;
    padding:6px 45px 0 0;
    color:#7c7c7b !important;
    
}
.gs-master #languageheader{
    float: right;
    margin: 8px 16px 0 0;
}

.gs-master #languageheader li {
    display: inline;
}

/* GEEK HEADER */
#geekheader {	
	width: 920px;
	height: 69px;		
	background: url(/images/geeksquad/common/backgrounds/mainheader_middle.png) repeat-x 0 0;	
	text-align: left;
	color: #000;		
	clear: both;		
}
#geekheader a{
    text-decoration:underline !important;
}
#geekheader a:hover{
    text-decoration:none !important;
}
    
/* geek logo */
#geekheader #hdr-left {	
	padding: 9px 0 0 10px;
	float: left;	
}

/* hdr-right */
#geekheader #hdr-right{
    padding-top:5px;
    width:520px;
    height:64px;
    float:right;
}


/* hdr-right cart */

#geekheader #hdr-right .cart-widget-wrapper {
    width: 129px;
    height: 30px;
    background: transparent url(/images/geeksquad/common/backgrounds/mainheader_tab.png) no-repeat left top;
    overflow: hidden;
    float: right;
    padding-right:6px;
    text-align:center;
}
#geekheader #hdr-right .cart-widget-wrapper .cart 
{
    padding:0;
    margin-right:2px;
    height:30px;
    display:inline-block;
    vertical-align:middle;
}
#geekheader #hdr-right .cart-widget-wrapper .item 
{
    font-size:11px;
    color:#7c7c7b;
    display:inline-block !important;
}

/* hdrbox-content */

#geekheader #hdr-right .hdrbox-content {		
	float: right;
	padding: 0;
	height:30px;
}
#geekheader #hdr-right .hdrbox-content li {
    background: transparent url(/images/geeksquad/common/backgrounds/mainheader_tab.png) no-repeat left top;
    float: left;
	line-height: 14px;
	padding: 5px 10px 5px 5px;
	height:20px;
	width:120px;
	text-align:center;
}
#geekheader #hdr-right .hdrbox-content li a {
    color: #000;
    font-size:11px;
}

/* header-sub-menu */
#geekheader .header-sub-menu {
    float: right;
    height: 34px;
}
#geekheader .header-sub-menu .sub-wrapper {
    background: transparent url(/images/geeksquad/common/backgrounds/mainheader_sub_bg.png) no-repeat left top;
    font-weight:bold;
    font-size:11px;
}
#geekheader .header-sub-menu .sub-wrapper ul {
    padding: 0 1px;
    height: 34px;
    width:507px; overflow:hidden;
}
#geekheader .header-sub-menu .sub-wrapper ul li
{
    float: left;
    padding: 7px 10px;
    border-right: solid 1px #000;
    font-size: 11px;
    display: inline-block;
    text-align: right;
}
#geekheader .sub-wrapper ul li a{
    color:#fff; 
}

.gs-header #hdrsearchwelcome {
    height: 43px;
    width: 920px;
    clear: both;
    margin-bottom: 8px;
    background: transparent url('/images/common/backgrounds/bg_welcome.png') no-repeat left top;
}

.gs-header #hdr-sw-left, .gs-header #hdr-sw-right {
    width: 9px;
}

.gs-header #hdr-sw-left, .gs-header #hdr-sw-center, .gs-header #hdr-sw-right {
    height: 43px;
    float: left;
}

.gs-header #hdr-sw-center {
    font-size: 11px;
    width: 902px;
    overflow: hidden;
}

.gs-header .globalsearch {
    float: left;
    width: 520px;
    margin: 3px 0 0 5px;
    text-align: left;
}

.gs-header .globalsearch span {
    float: left;
    padding: 11px 8px 0 0;
    font-weight: bold;
    text-transform: uppercase;
}

.gs-header .globalsearch input {
    float: left;
    margin: 5px 8px 0 0;
    padding-left: 3px;
    font-size: 11px;
    color: black;
    padding-top: 1px;
}

.gs-header .globalsearch .btnmccpstd {
    margin-top: 7px;
    float: left;
    padding: 0 !important;
}

/* main menu */
.gs-master #hdrmenu {
	height: 35px;
	background-color: #000;	
	border-top: none;
	overflow: visible;
	position: relative;
	z-index: 200;
}

.gs-master .menudep .menu .dropdowns {
    visibility: hidden;
}

.gs-master div.menudep ul.menu {
	margin-left:9px;
	width:911px;
	height:35px;
}
.gs-master div.menudep ul.menu li.bbymenus {
    padding: 0;
    height: 35px;
 	border-left:solid 1px #000;
 	float:left;
}
.gs-master .gs-master div.menudep ul.menu li a.section {
	padding: 0 !important;
}
/* tab sprites */
.gs-master div.menudep ul.menu .clipwrapper{
    position:relative;
    height:35px;
    overflow:hidden;
    float:left;
}
.gs-master .menudep ul.menu .hover img {
	position:relative;
	margin-top:-35px;
}
/* dropdowns */
.gs-master div.menudep ul.menu .dropdowns {
	position: absolute;
	top: 35px;
}
.gs-master div.menudep ul.menu .compnetmenu {
	left: 9px;
}
.gs-master div.menudep ul.menu .tvvidmenu {
	left: 210px;
}
.gs-master div.menudep ul.menu .audiomenu {
	left: 385px;
}
.gs-master div.menudep ul.menu .audiomenufr {
	left: 412px;
}
.gs-master div.menudep ul.menu .cargpsmenu {
	left: 537px;
}
.gs-master div.menudep ul.menu .cargpsmenufr {
	left: 563px;
}
.gs-master .geek_menu{
    background: #BC500B url(/images/geeksquad/common/backgrounds/dropmenu_bkg.gif) no-repeat 2px 2px;
    border-bottom:1px solid #BC500B;
    padding-left:2px;
    padding-right:2px;
    width:193px;
}
.gs-master .geek_menu ul{
    margin-top:2px;
    float:left;
}
.gs-master div.menudep .geek_menu li {
    background:url(/images/geeksquad/common/backgrounds/dropmenu_bullet.gif) no-repeat 10px 11px;
    border-bottom:1px solid #BC500B;
    clear:both;
    color:#2C2C2C;
    font-family:Verdana,Geneva,sans-serif;
    font-size:11px;
    line-height:14px;
    margin:0;
    padding:0 !important;
    text-decoration:underline;
    width:193px;
    float:left;
}
.gs-master div.menudep .geek_menu li a {
    color:#2C2C2C;
    display:block;
    margin:0;
    padding:5px 5px 5px 18px;
    text-decoration:underline;
    font-weight:normal;
}
.gs-master div.menudep .geek_menu li a:hover {
    background-color:#EE7824;
    color:#FFFFFF;
    text-decoration:none;
}
/* search bar */
.gs-master .globalsearch select{
	display:none;
}
/* breadcrumb */
.gs-master .breadcrumb{
    font-size:12px;
}
.gs-master .main-toolbar .print{
    display:none;
}
/* left menu */
.gs-master .leftnavbox, .gs-master .leftnavbox .bottom, .gs-master .leftnav{
    background:none;
}
.gs-master .leftnav{
    padding:0px 0 0 5px;
    line-height:14px !important;
}
.gs-master .gs-master .leftnavbox a{
    background:transparent url(/images/geeksquad/common/backgrounds/nav-expand-closed.gif) no-repeat scroll 0 2px;
    color:#BA4E09;
    display:block;
    font-size:11px;
    font-weight:600;
    margin:3px 0!important;
    padding-left:14px;
    text-decoration:none;
}
.gs-master .gs-master .leftnavbox a:hover{
    text-decoration:underline;
}
/* main content */
#geeksquadcontent{
    clear:both;
}
#geeksquadcontent #pagecontentleft2,
#geeksquad-class-template #pagecontentleft2,
#geeksquad-department-template #pagecontentleft2 {
    width:160px;
    margin-right:10px;
}
.gs-master .gs-master .leftnavbox a.topTitleLink
{
    color: #535353;
    list-style-type: none;
}

.gs-master .gs-master .leftnavbox a.topTitleLink
{
    color: #535353;
    background: none;
    text-indent: -10px;
}
#geeksquadcontent #pagecontentright {
    float:right;
    width:750px;
}
#geeksquad-group-template #pagecontentright2,
#geeksquadcontent #pagecontentright2,
#geeksquad-class-template #pagecontentright2 {
    width:230px;
    float:right;
}
#geeksquadcontent #pagecontentmain2,
#geeksquad-class-template #pagecontentmain2 {
    width:520px;
    float:left;
}
#geeksquadcontent #pagecontentmain1,
#geeksquad-department-template #pagecontentmain2 {
    width:680px;
    float:left;
}

/* compare layout header */
.headline {
    background:transparent url(/images/geeksquad/common/backgrounds/gs-headline-full-bg.gif) no-repeat scroll 0 0;
    color:#FFFFFF;
    font-size:17px;
    height:58px;
    margin:0;
    padding:17px 0 0 26px;
    width:494px;
}
#pagecontentright .headline {
    background:transparent url(/images/geeksquad/common/backgrounds/gs-headline-long-bg.gif) no-repeat scroll 0 0;
    margin:0 0 -19px;
    width:724px;
}
div.listholder{
    position:relative;
    top:-19px;
}
div.listheader {
    background:url(/images/geeksquad/common/backgrounds/listheader_bg.gif) no-repeat 0 0;
    color:#FFF;
    font-size:14px;
    font-weight:bold;
    height:25px;
    padding:8px 0 0 15px;
}
/* compare layout */
div.priceholder{
	background-color: #efeeec;
	width:502px;
	padding:3px;
}
table#price-table{
	background-color:#fff;
	padding:3px;
	margin:0;
}
table#price-table td{
	padding:0;
	margin:0;
}
table#price-table h2{
	font-size:12px;
	font-weight:bold;
	color:#dd6f3e;
	padding:0;
	margin:0;
}
table#price-table th.info{
	font-size:12px;
	font-weight:bold;
	color:#fff;
	text-align:right;
	background: #828282 url(/images/geeksquad/common/backgrounds/row_subhead_bg.gif) repeat-x;
	border-right: 1px solid #c6cdd8;
	border-bottom: 1px solid #c6cdd8;
	padding:6px 10px 8px 5px;
	margin:0 0 3px 0;
}
table#price-table td.altinfo{
	text-align:center;
	background: #828282 url(/images/geeksquad/common/backgrounds/row_subhead_bg.gif) repeat-x;
	border-right: 1px solid #c6cdd8;
	border-bottom: 1px solid #c6cdd8;
	padding:6px 5px 8px 5px;
	margin:0 0 3px 0;
}
table#price-table td.altinfo h3{
    color:#fff;
    font-size:11px;
	font-weight:bold;
}
table#price-table td.info{
	color:#666;
	background: #efeeec url(/images/geeksquad/common/backgrounds/row_bg.gif) repeat-x;
	border-right: 1px solid #cecdcc;
	border-bottom: 1px solid #cecdcc;
	padding:6px 10px 8px 5px;
	margin:0;
	font-size:11px;
}
table#price-table .attributes a{
	color:#666;
}
table#price-table .attributes .attribute{
	position:relative;
}
table#price-table .attributes .glossary{
    display:none;
}
#glossaryPopover{
	position:absolute;
	padding: 5px;
	background: white;
	border:1px solid #999;
	display: none;
	top:0;
	left:0;	
	width: 250px;
	-moz-box-shadow: 0  0 12px #999;
	-webkit-box-shadow: 0 0 12px #999;
	box-shadow: 0 0 12px #999;
}
#glossaryPopover .std-topspace
{
    padding-top: 0px !important;
}

table#price-table td.info h3{
	color:#666;
	font-size:12px;
	font-weight:bold;
	text-align:right;
	padding:0;
	margin:0;
}
table#price-table td.pricing{
	background-color:#FAFAFA;
    border-bottom:1px solid #D8D8D8;
    border-right:1px solid #DCDCDC;
    font-size:12px;
    font-weight:normal;
    padding:0;
    text-align:center;
    width:73px;
}
table#price-table td.altpricing{
	font-size:12px;
	font-weight:normal;
	text-align:center;
	background: #fffefa url(/images/geeksquad/common/backgrounds/pricing_alt_bg.gif) repeat-y;
	border-right: 1px solid #dcdcdc;
	border-bottom: 1px solid #cccccc;
	width: 73px;
	padding:0;
}
table#price-table .attributes td.pricing, table#price-table .attributes td.altpricing{
    padding:2px;
}
#price-table .pricetitle, #price-table p.save, #price-table .sale-end, #price-table .sale-regular {
    display:none;
}
#price-table .priceblock.sale-regular .pricetitle, .priceblock.sale-regular .price{
    /*font-size:12px !important;*/
}
#price-table tr img.buybutton{
    margin:2px 0;
}
table#price-table .attributes span.checked{
    background: url(/images/geeksquad/common/backgrounds/pricing_checkmark.gif) no-repeat;
	display:block;
	width:21px;
	height:19px;
	text-indent:-10000px;
	color:#fff;
	margin:0 auto;
}
table#price-table .attributes span.nocheck{
    display:block;
	text-indent:-10000px;
}

/* main slider ------------------------------------------------------------------- */
.slides a {
    color: #ffad37;
    text-decoration: none;
}

/* ------------------------------------------------------------------------------- */
/* side schedule widget starts --------------------------------------------------- */
/* ------------------------------------------------------------------------------- */

.schedule-widget {
    background: url('/Projects/GeekSquad/Assets/bg_side.gif') no-repeat left bottom transparent;
    color: #fff;
    line-height: 1.4;
    width: 190px;
    margin: 0 0 0 40px;
}

.schedule-widget h3 {
    padding: 0;
    margin: 0;
}

.schedule-widget .phone-num {
    text-align: center;
    font-size: 16px;
}

.schedule-widget ul {
    padding: 10px 10px 20px;
}

.schedule-widget ul li {
    padding: 6px 0 7px 26px;
    border-top: 1px dotted #fff;
    background: url('/Projects/GeekSquad/Assets/bg_sprite_side.gif') no-repeat left 6px transparent;
}

.schedule-widget ul .online-support {
    background-position: left -48px;
}

.schedule-widget ul .plug-in {
    background-position: left -104px;
}

.gs-master .gs-master .schedule-widget a {
    color: #fff;
    text-decoration: none;
}

/* ------------------------------------------------------------------------------- */
/* side schedule widget ends ----------------------------------------------------- */
/* ------------------------------------------------------------------------------- */

/* footer */
.gs-master #footer {display:none;}
.gs-master #footer-sub {margin-top:30px;}
.gs-master #gsfooter
{
	background:url(/images/geeksquad/common/backgrounds/footer.png) no-repeat;
	height:69px;
	font-size:10px;
	padding:0 9px;
	margin-top:30px;
}
.gs-master #gsfooter #UIContainer{
    height: 27px;
    margin: 7px 0 5px 0;
    float: left;
}
.gs-master #gsfooter #UIContainer ul li{
    float:left;
    margin: 0;
}
.gs-master #gsfooter h6{
    font-size:10px;
    font-weight:normal;
    margin:3px 10px 0 0;
    color:#7c7b7b;
}
.gs-master #gsfooter .links{
    float: left;
    margin: 9px 0 5px 40px;
    height: 25px;
}
.gs-master #gsfooter .links a{
    color:#7c7b7b;
}
#gsfooter .copyright{
    color: #7c7b7b;
    float: right;
    margin-top: 4px;
}
.gs-master .gs-footer-sub .e-accessibility {
    float: left;
}


.sIFR-flash {
margin:0;
padding:0;
visibility:visible !important;
}
.sIFR-replaced {
visibility:visible !important;
}
.sIFR-alternate {
display:block;
height:0;
left:0;
overflow:hidden;
position:absolute;
top:0;
width:0;
}
.sIFR-replaced > div {
display:none !important;
}
.sIFR-active .headline {
line-height:1em;
visibility:hidden;
}
.sIFR-active .onlinehead {
color:#4C4D4E;
font-size:12px;
line-height:1em;
visibility:hidden;
}
.sIFR-active .stymie-black {
line-height:1em;
visibility:hidden;
}
.sIFR-active .stymie-white {
line-height:1em;
visibility:hidden;
}
.sIFR-active .stymie-white-center {
line-height:1em;
visibility:hidden;
width:180px;
}
.sIFR-active .din-white {
line-height:1em;
overflow:hidden;
visibility:hidden;
}
.sIFR-active .din-white a {
text-decoration:none;
}
.sIFR-active .din-white a:hover {
text-decoration:underline;
}
.sIFR-active .din-white-center {
line-height:1em;
overflow:hidden;
visibility:hidden;
}
.sIFR-active .din-dk-orange {
line-height:1em;
visibility:hidden;
}
.sIFR-active .stymie-dk-orange {
line-height:1em;
visibility:hidden;
}
.sIFR-active .searchhead {
line-height:1em;
visibility:hidden;
}


.connectnow-wrapper 
{
    margin-left: 15px;
}

/* Dept promo */

#promo-computers {  background: url(/projects/geeksquad/assets/dept-swf/bg_computers.jpg); }
#promo-tvvideo {  background: url(/projects/geeksquad/assets/dept-swf/bg_tv.jpg); }
#promo-audio {  background: url(/projects/geeksquad/assets/dept-swf/bg_audio.jpg); }
#promo-cargps {  background: url(/projects/geeksquad/assets/dept-swf/bg_car.jpg); }

.geeksquad-deptpromo 
{
    width: 750px;
    height: 529px;
    position: relative;
    overflow: hidden;
}
.geeksquad-deptpromo .tooltips li 
{
    position: absolute;
}
.geeksquad-deptpromo .tooltips li a
{
    width: 41px;
    height: 41px;
    background: url(/projects/geeksquad/assets/dept-swf/bg_tooltip.png);
    display:block;
    font-size: 15px;
    color:White !important;
    text-decoration: none !important;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}
.geeksquad-deptpromo .tooltips li a.over
{
    text-decoration: none !important;
    background: url(/projects/geeksquad/assets/dept-swf/bg_tooltip_over.png);
}
.geeksquad-deptpromo .tooltips li.computers-1 { top:190px; left:15px;  }
.geeksquad-deptpromo .tooltips li.computers-2 { top:140px; left:247px; }
.geeksquad-deptpromo .tooltips li.computers-3 { top:142px; left:516px; }
.geeksquad-deptpromo .tooltips li.computers-4 { top:13px;  left:670px; }
.geeksquad-deptpromo .tooltips li.computers-5 { top:174px; left:657px; }

.geeksquad-deptpromo .tooltips li.tvvideo-1   { top:40px;  left:324px; }
.geeksquad-deptpromo .tooltips li.tvvideo-2   { top:14px;  left:176px; }
.geeksquad-deptpromo .tooltips li.tvvideo-3   { top:32px;  left:113px; }
.geeksquad-deptpromo .tooltips li.tvvideo-4   { top:144px; left:140px; }
.geeksquad-deptpromo .tooltips li.tvvideo-5   { top:175px; left:140px; }
.geeksquad-deptpromo .tooltips li.tvvideo-6   { top:214px; left:160px; }
.geeksquad-deptpromo .tooltips li.tvvideo-7   { top:233px; left:263px; }
.geeksquad-deptpromo .tooltips li.tvvideo-8   { top:172px; left:272px; }
.geeksquad-deptpromo .tooltips li.tvvideo-9   { top:176px; left:389px; }
.geeksquad-deptpromo .tooltips li.tvvideo-10  { top:92px;  left:530px; }
.geeksquad-deptpromo .tooltips li.tvvideo-11  { top:10px;  left:530px; }

.geeksquad-deptpromo .tooltips li.audio-1     { top:49px;  left:21px; }
.geeksquad-deptpromo .tooltips li.audio-2     { top:4px;   left:268px; }
.geeksquad-deptpromo .tooltips li.audio-3     { top:156px; left:300px; }
.geeksquad-deptpromo .tooltips li.audio-4     { top:6px;   left:367px; }
.geeksquad-deptpromo .tooltips li.audio-5     { top:3px;   left:451px; }
.geeksquad-deptpromo .tooltips li.audio-6     { top:105px; left:487px; }
.geeksquad-deptpromo .tooltips li.audio-7     { top:48px;  left:510px; }
.geeksquad-deptpromo .tooltips li.audio-8     { top:204px; left:494px; }
.geeksquad-deptpromo .tooltips li.audio-9     { top:30px;  left:660px; }

.geeksquad-deptpromo .tooltips li.cargps-1    { top:64px;  left:373px; }
.geeksquad-deptpromo .tooltips li.cargps-2    { top:4px;   left:187px; }
.geeksquad-deptpromo .tooltips li.cargps-3    { top:227px; left:241px; }
.geeksquad-deptpromo .tooltips li.cargps-4    { top:136px; left:291px; }
.geeksquad-deptpromo .tooltips li.cargps-5    { top:220px; left:396px; }
.geeksquad-deptpromo .tooltips li.cargps-6    { top:173px; left:563px; }
.geeksquad-deptpromo .tooltips li.cargps-7    { top:86px;  left:563px; }
.geeksquad-deptpromo .tooltips li.cargps-8    { top:7px;   left:563px; }


.geeksquad-deptpromo .infopanel 
{
    position:absolute;
    top: 320px;
    left: 10px;
    width: 730px;
    height: 199px;
    background: white;
    overflow: hidden;
    filter:alpha(opacity=95);
    opacity:0.95;
    -moz-opacity: 0.95;
}
.geeksquad-deptpromo .infopanel .items
{
    float: left;
    width: 530px;
    height: 199px;
} 
.geeksquad-deptpromo .infopanel .globalservices 
{
    float:right;
    width: 200px;
    height: 199px;
}

.geeksquad-deptpromo .detailpanel 
{
    width: 730px;
    height: 199px;
    position: absolute;
    top: 199px;
    left: 0;
    background: white;
}

.geeksquad-deptpromo .globalservices h3,
.geeksquad-deptpromo .items h3
{
    display:block;
    padding: 10px 10px 0 10px;
}

.geeksquad-deptpromo .globalservices ul,
.geeksquad-deptpromo .items ol
{
    display: block;
    padding: 10px;
}
.geeksquad-deptpromo .globalservices ul li
{
    list-style-type: disc;
    font-size: 10px;
    margin: 0 0 3px 15px;
}
.geeksquad-deptpromo .globalservices ul li a
{
    text-decoration: none !important; 
    line-height: 14px;
    color: #b46226 !important;
}
.geeksquad-deptpromo .items ol 
{
    padding-left: 18px;
}
.geeksquad-deptpromo .items ol li 
{
    list-style-type: decimal;
    font-size: 14px;
    margin: 0 0 3px 15px;
}
.geeksquad-deptpromo .items ol li a
{
    text-decoration: none !important;
    line-height: 19px;
    font-weight: bold;
    color: #b46226 !important;
}

.geeksquad-deptpromo .items ol li a.over
{
    color: #003399 !important;
}

.geeksquad-deptpromo .detailpanel h2 
{
    font-size: 15px;
    font-weight: bold;
    color: White;
    background: #ec7d2b;
    padding: 5px;
    margin: 2px 2px 7px 2px;
}
.geeksquad-deptpromo .detailpanel .scrollpanel
{
    height: 163px;
    
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}
.geeksquad-deptpromo .detailpanel .desc 
{
    font-size: 11px;
    padding: 0 10px 10px 10px;
    line-height: 19px;
}
.geeksquad-deptpromo .detailpanel .services 
{
    float: right;
    width: 200px;
    margin: 0 10px 10px 10px;
    line-height: 19px;
    border: 1px solid #999;
    padding: 10px;
    background: #ddd;
} 
.geeksquad-deptpromo .detailpanel .services a.title
{
    display: block;
    text-decoration: none !important;
    color: #b46226 !important;
}

.geeksquad-deptpromo .detailpanel .btnClose 
{
    float: right;
    padding-right: 10px;
    font-size: 11px;
}

.geeksquad-deptpromo .detailpanel .content 
{
    display: none;
}