﻿/*/////////////////////////////////////////////////////////////*/
/*////////////////////////// POP-UP ///////////////////////////*/
/*/////////////////////////////////////////////////////////////*/
body.popup{	
	padding:0 !important;
	margin:0px;
	height:100%;
}
/*STANDARD POP-UP*/

.pop-std ol{
    font-size:14px;
	display:block;
}

.pop-std h1{
    padding:0 0 15px 0;
	display:block;
}
.pop-std h1.tight{
    padding-bottom:0 !important;
}
.pop-std .hr{
    margin-bottom:20px;
    margin-top:15px;
    clear:both;
}
.pop-std h1.left-side{
    width:400px;
    float:left;
    display:inline;
}
.pop-std .bot{
    margin-top:5px;
}
.pop-std .mccpblue{
    margin-bottom:15px;
}
.pop-std p{
    padding-bottom:15px;
}
.pop-std ul.pricing li p.label{
    float:left;
    text-align:left;
    width:80%;
}
.pop-std p.prev-next{
    float:right;
    width:150px;
    text-align:right!important;
}
.pop-std ul.pricing li p{
    float:right;
    text-align:right;
    width:20%;
    padding-bottom: 6px;
    font-size:14px;
    font-weight:bold;
}
.pop-std ul.pricing li{
    clear:both;
}
.pop-std .large-image{
    width:500px;
    height:500px;
    float:right;
    border:1px solid #ccc;
    text-align:center;
}
.pop-std .large-image img{
}
.pop-std .tumb-images{
    width:151px;
    margin-right:0px;
    float:left;
    height:360px;
    overflow:auto;
    font-size:11px;
}
.pop-std .tumb-images .out-image img{
    width:55px;
    height:55px;
    border:1px solid #ccc;
}
.pop-std .text-info{
    width:134px;
    margin-right:16px;
    float:left;
}
.pop-std p.text-info{
    font-size:11px;
    padding-top:6px;
}
.pop-std .tumb-images .out-image {
    padding: 0 10px 10px 0;
    background: #ffffff;
    float: left;
    cursor: pointer;
}
.pop-std .tumb-images .out-image-hover {
    background: #d1dbf3;
}
.pop-std p.redarrow {
	margin:0;
	padding:0 0 5px 13px;
	background:url(/images/common/buttons/redarrow_right.gif) no-repeat;
	background-position:0px 3px;
}
.pop-std .content-pmessage {
    padding: 0 !important;
}

/* hiding learnmore links in help topic poup */
.pop-std p.learnmore {
    display: none;
}
/* BLUE HEADER POP-UP */
.pop{
	left:10px;
	right:10px;
	position:absolute;
	padding:10px 0 10px 0;
}
.pop .hdr-informational{
	background:#d1dbf3;
	padding:6px 5px 7px 5px;
	text-align:right; 
	line-height:19px;
	color:#000;
	border:1px solid #ccc;
	border-bottom:0;
}
.pop .hdr-informational a{
	font-weight:bold;
	background:url(/images/common/buttons/close_x.gif) no-repeat left 0;	
	padding-left:15px;
	color:#000;
}
.pop .hdr-promotional .left{
	width:185px;
	background:url(/images/common/backgrounds/popup2_left.png) no-repeat top left;
	padding:6px 0 0 20px;
	float:left;
}
.pop .hdr-promotional{
	background:#0035ad url(/images/common/backgrounds/popup2_middle.png) repeat-x top left;
	height:58px;
	color:#fff;
	position:relative;
}
.pop .hdr-promotional .right{
	background:url(/images/common/backgrounds/popup2_right.png) no-repeat top right;
	padding:24px 20px 0 0;
}
.pop .hdr-promotional .right a.close{
	font-weight:bold;
	background:url(/images/common/backgrounds/popup2_close.png) no-repeat left 2px;	
	padding:0 0 0 15px;
	text-decoration:none;
	color:#fff;
	float:right;
}
.pop .content{
	background:#fff;
	padding:20px;
	color:#000;
	border:1px solid #ccc;
	overflow:hidden;
}
.pop .content .bottom-br{
    height:11px;  
}
.pop .content table{
	width:100%;	
}
.pop h1{
	padding-left:0px;
	line-height: 20px;
}
.pop .last{
	margin-bottom:0 !important;
}
.pop .waranty{
	padding:10px 15px 0 15px;
	border-top:1px solid #ccc;
	margin: 15px -15px 0 -15px;
}
.pop .waranty .image, .pop .prnt-sku .image{
	float:left;
}
.pop .waranty .description, .pop .prnt-sku .description{
	float:left;
	margin-left:14px;
	width:622px;
}
.pop .waranty .description h2, div.webcode{
	padding-bottom:15px;
}
.pop .footer{
	float:left;
	width:600px;
	font-size:11px;
}
.pop .footer p{
	padding-bottom:9px;
	padding-top:3px;
}
.pop .footer p.intro{
	padding-top:7px;
}
.pop .prnt-sku .sale{
    font-size:12px !important;
    font-weight:normal !important;
}
.printable-cart .prnt-sku .description{
	width: 509px !important;
}
.printable-cart .prnt-sku .surcharge {	
	padding-top:10px;	
}
.printable-cart .prnt-sku .surcharge li.name{
	width:380px;
	float:left;
}
.printable-cart .prnt-sku .surcharge li.total-price{
	width:180px;
	float:right;
}
.printable-cart .prnt-sku .description-items li, .printable-cart .waranty .description-items li{
	width: 169px;
}
.printable-cart .prnt-sku .description-items li.unit-price {
    text-align: left;
}
/* REBATES FORM POP-UP */
#pop-up2 .info, #pop-up2 .nopad-pmessage{
    width:570px;
}
#pop-up2 .hdr .left img{
	margin-left:20px;
}
#pop-up2 .hdr .left{
	float:left;
}
#pop-up2 h1, #pop-up2 h3, #pop-up2 .shrt-line, #pop-up2 .med-line, #pop-up2 .wide-line, #pop-up2 label{
	float:left;
}
#pop-up2 .topr-but{
	float:right;
	margin-bottom:3px;
}
#pop-up2 .nopad-pmessage{
	padding-left:0px !important;
	clear:both;
}
#pop-up2 div.reb-logo{
	float:left;
	width:125px;
	height:40px;
	margin-right:10px;
}
#pop-up2 .proof-purchase h4{
	font-size:11px; 
	font-weight:bold; 
	color:#666;
}
#pop-up2 .proof-purchase p{
	font-size:11px; 	
	color:#666;
}
#pop-up2 .shrt-line{
	width:48px;
	margin-right:5px !important;
}
#pop-up2 .med-line{
	width:170px !important;
	margin-right:5px !important;
}
.hr.med-line, .hr.shrt-line, .hr.wide-line{
	margin-top:20px !important;
}
#pop-up2 .wide-line{
	width:470px;
}
#pop-up2 h3.std-bottomspace{
    padding-bottom:13px!important;
}
#pop-up2 h2{
    margin-bottom:4px;
}
#pop-up2 .med-title-spaces{
	width:170px;
	margin-top:6px;
	margin-right:5px;
}
#pop-up2 .reb-left{
    margin-top:7px;
	float:left;
	width:490px;
}
#pop-up2 .reb-right{
	margin-top:7px;
	float:left;
	width:200px;
}
#pop-up2 .info{
	margin-left:135px;
}
.store-details ul li.img{
	float:left;
}

/* store locator popup ------------------------------------------------------------- */
.slocator-popup .slocator-details {
    background: url(/images/common/backgrounds/tblpricewatchersep.gif) repeat-y 239px 0;
}
.slocator-popup .main-toolbar {
    width: 150px;
}
.slocator-popup h1{
    padding-top:0;
}
.slocator-popup .slocator-details .left{
	border-right:0 !important;
    padding-top: 17px;
}
.slocator-popup .pagemessage2{
    padding-bottom:10px;
}
.slocator-popup .getdirections-width{
    width:203px;
}
.slocator-popup a.print{
    float: right;
    padding-right: 0;
}
.slocator-popup h1, .slocator-popup p, .slocator-popup .pagemessage1, .slocator-popup .pagemessage2, .slocator-popup .pagemessage3{
	margin-left:0 !important;
	padding-left:0 !important;
}
.store-details .store-name {
    font-size: 14px;
}
.slocator-details{
	border: solid 1px #ccc;
	width: 720px;
}
.slocator-details .left {
	width: 200px;
	float: left;
	padding: 17px 20px 20px 19px;
	border-right: solid 1px #ccc;
}
.store-details ul.litem2 li.store-hour-header {
    font-weight: bold !important;
    margin-bottom: 0;
}
.slocator-details .left .litem2 .sbullet{
	list-style-image:url("/images/common/pictures/bulletsmallsquare.gif");
	margin: 0 0 2px 12px;
}
.slocator-details .right {
	width: 440px;
	float: left;
	padding: 20px;
}
* html .slocator-details .right {
    padding: 18px;
}
.slocator-details .left p{
	margin:0 0 15px 0;
}

/* terms and conditions in WPTermsAndConditions.aspx ----------------------------- */
.pop-std .terms-and-conditions ul {
    margin: 0 0 15px 15px;
    padding: 0;
}
.pop-std .terms-and-conditions ul li {
    background: transparent url(/images/common/pictures/bulletsmallsquare.gif) no-repeat scroll 0 5px;
    margin: 0 0 2px;
    padding: 0 0 2px 10px;
}
.pop-std .terms-and-conditions ol {
    margin: 0 0 15px 35px;
    padding: 0;
}
.pop-std .terms-and-conditions ol li {
    list-style-type: decimal;
    margin: 0 0 2px;
}
.pop-std .terms-and-conditions h2 {
    margin: 0 0 15px;
}

.popup ol {
    padding-left: 24px;
    margin: 0 0 15px;
}

.popup ol li {
    list-style-type: decimal;
}

.popup .promo-btns {
    margin: 0 0 10px;
}
