﻿* {
    overflow: visible !important;
}

#page {
    width: auto !important;
    padding: 0 !important;
    margin: 0 !important;
}
#mainheader, #mainheader-chk {
    width: auto !important;
    margin: 10px 0 5px !important;
    border-bottom: solid 3px #cccccc;
}
#mainheader #hdr-left, #mainheader-chk #hdr-left {
    float: none !important;
    padding: 0 !important;
}
#mainheader #hdr-right, #mainheader-chk #hdr-right {
    display: none !important;
}
#hdrmenu, #hdrsearchwelcome {
    display: none !important;
}/*
#pagecontent {
    width: auto !important;
}*/
#pagecontentmain2 {
    width: auto !important;
    margin-right: 10px !important;
    float: none !important;
}
#servertime {
    display: block !important;
    font-size: 14px;
    font-weight: bold;
}
#languageheader {
    display: none !important;
}
.main-toolbar {
    display: none !important;
}
.printable-cart {
    min-height: 580px;
    width: 610px;
}
.printable-cart a {
    padding: 0 0 0 20px;
}
.printable-cart a.print {
    background: url(/images/common/backgrounds/toolbar_print.gif) 0 2px no-repeat;
}
.printable-cart .line-items {
    min-height: 18px;
}
#footer, #footer-sitemap, #footer-sub, #footer-chk {
    display: none !important;
}
#pagecontentleft, #pagecontentleft2 {
    display: none !important;
    float: none !important;
}
#contentleft1, #contentleft2 {
    width: auto !important;
    float: none !important;
}
#pagecontentright, #contentright1, #contentright2 {
    width: auto !important;
    float: none !important;
    margin-left: 0 !important;
}
#pagecontentright2 {
    display: none !important;
}
.breadcrumb {
    padding: 0 0 10px 0 !important;
    font-weight: bold;
}
.breadcrumb a {
    font-weight: normal;
}
.mccpblue .btnmccpstd, .mccpgray .btnmccpstd {
    text-decoration: underline !important;
    font-size: 12px !important;
    padding: 5px !important;
    border: solid 2px #cccccc;
    text-align: left;
}
.mccpblue .mccpmain, .mccpblue .mccpmainleft, .mccpblue .mccpmainleft2, .mccpblue .mccpmainright, .mccpblue .mccpmainright2, .mccpblue .mccpleft, .mccpblue .mccpright, .mccpgray .mccpleft, .mccpgray .mccpright, .mccpgray .mccpmain, .mccpgray .mccpmainleft, .mccpgray .mccpmainleft2, .mccpgray .mccpmainright, .mccpgray .mccpmainright2 {
    height: auto !important;
}
#cartlinkheader {
    display: none !important;
}
h1 {
    padding: 0 0 5px 0 !important;
}
.pagemessage1, .pagemessage2, .pagemessage3 {
    margin-left: 0 !important;
    width: auto !important;
}
.content-pmessage {
    padding: 0 !important;
}
.lnkbackto {
    display: none !important;
}
.sitemap-block {
    width: 320px !important;
}
.sitemap-left, .sitemap-right {
    float: left !important;
    margin: 0 20px 0 0 !important;
}

/* pdp ----------------------------------------------------------------------- */
#productdetail .left {
    height: auto !important;
}
#productdetail .left a.largerimg, #productdetail .left .image-set {
    display: none !important;
}
#productdetail .right {
    height: auto !important;
    border: solid 1px #cccccc;
    float: left !important;
    width: 350px !important;
    background: none !important;
}
div.hr-dashed {
    background: none !important;
    border-top: dotted 1px #cccccc !important;
}
div.hr {
    background: none !important;
    border-top: solid 1px #cccccc !important;
}
#pdpoverview {
    padding: 15px !important;
}
#pdpoverview .content {
    background: none !important;
}
#pdpoverview .content .onsale {
    padding: 0 0 15px 0 !important;
    margin: 0 0 15px 0 !important;
}
#pdpoverview .content .shipping {
    padding: 15px 0 !important;
    margin: 15px 0 !important;
    border-top: dotted 1px #cccccc;
    border-bottom: dotted 1px #cccccc;
}
#pdpoverview .content .onsale, #pdpoverview .content .shipping, #pdpoverview .content .buttons {
    float: none !important;
    width: auto !important;
}
#pdpoverview .buttons .mccpblue, #pdpoverview .buttons .mccpgray, #pdpoverview .buttons .mccpsmall {
    margin-left: 0 !important;
}
#pdpoverview .buttons .mccpgray {
    display: none !important;
}

#pdpoverview #pdp-fb 
{
    display: none !important;
}
    
#contentleft3, .contentleft3 {
    float: none !important;
    width: auto !important;
}
#contentright3 {
    display: none !important;
}
#pdptabs .layout_tabs {
    display: none !important;
}
#pdptabs .tabs_container .selected .layout_tabs, #pdptabs .tabs_container.selected .layout_tabs {
    display: block !important;
    font-size: 21px !important;
}
#pdptabs .layout_tabs a, #pdptabs .selected a {
    padding-left: 0 !important;
}
#pdptabs .selected .left_bg, #pdptabs .layout_tabs .left_bg {
    display: none !important;    
}
#pdptabs .selected .layout_tabs .bottom_ln {
    display: none !important;
}
#divTab_details .left {
    width: auto !important;
    float: none !important;
    margin: 0 !important;
}
#divTab_details .right {
    float: none !important;
    width: auto !important;
}
#divTab_details .right .description ul li, #divTab_specs .description ul li {
    background: none !important;
    list-style-type: square;
    padding-left: 0 !important;
}
#pdpoverview ul.infos li {
    background: none !important;
    border-left: solid 1px #cccccc;
}
#pdpoverview ul.infos li.first {
    border: none;
}
#pdpoverview .pdp-icons {
    margin: 20px 0 0 0 !important;
}
#pdpoverview .pdp-icons div {
    padding: 0 !important;
    background: none !important;
}
#divTab_specs ul.std-tablist li {
    border-bottom: dashed 1px #cccccc;
    overflow: hidden !important;
    height: auto !important;
}
.tabcontent {
    border: solid 1px #cccccc !important;
}
.tabcontent ul.std-tablist li div.attribute-value {
    width: 350px !important;
}
#divTab_accessory #warranty_picker .right-info {
    width: 500px !important;
}
#divTab_accessory.tabcontent .skublocklist td.rating div.shipping {
    width: 500px !important;
    border: 1px solid #cccccc;
}
#divTab_custReview .rev-right {
    width: 380px !important;
}
.itemslisting div.hr, div.hdr2 {
    background: none !important;
    border-top: solid 4px #cccccc;
}
.itemslisting td.rating div.shipping {
    float: left !important;
}
.skublocklist .compare-check {
    display: none;
}
table.skublocklist td.visual {
    width: 20% !important;
}
.skulistinglistarea table td.infos {
    width: 50% !important;
}
table.skublocklist td.prices {
    width: 30% !important;
}
table.skublocklist td.rating div.customer-rating {
    float: none !important;
    width: auto !important;
    padding: 0 !important;
}
.skulistinglistarea table td.rating div.shipping {
    float: none !important;
    width: auto !important;
    padding: 5px 0 0 0 !important;
}
.itemslisting td.rating {
    border-top: solid 1px #cccccc;
}
ul.stdlist2 li {
    list-style-type: square;
    padding: 0 !important;
    background: none !important;
}
ul.stdlist2 {
    padding: 5px 0 0 16px !important;
}

/* homepage ------------------------------------------------- */
#accordion .section {
    background: none !important;
    border: solid 1px #cccccc !important;
    overflow: hidden !important;
}
.ui-accordion .acc-tabs ul li {
    display: none;
}
.ui-accordion .acc-tabs ul li.tab-selected {
    display: block;
    font-weight: bold;
    border-bottom: none !important;
    background: none !important;
    border: solid 1px #cccccc;
}
.ui-accordion .ui-accordion-content {
    display: block !important;
}
.cedb .brandcontent .brandstorelinks {
    display: none;
}
.cedb .brandcontent {
    background: none !important;
    overflow: hidden !important;
}
.cedb .brandcontent .geek-squad, .cedb .brandcontent .bby-mobile, .cedb .brandcontent .kodak-gallery, .cedb .brandcontent .reclaim {
    width: 23% !important;
    padding: 15px 0 15px 15px !important;
}

/* help ----------------------------------------- */
.help-faq .faq-content {
    border: solid 1px #cccccc;
}
.content-pmessage p.learnmore {
    padding: 0 !important;
}
.hcs-boxes {
    float: none !important;
    width: auto !important;
    height: auto !important;
}
.help-content .standardblock h2 {
    font-size: 14px !important;
}
.help-content .standardblock h2 img.category-image {
    display: none;
}
.help-content .standardblock h2 a {
    float: none !important;
    margin-left: 0 !important;
}
.hcs-boxes ul.stdlist {
    padding-left: 20px !important;
}
.hcs-boxes ul.stdlist li {
    padding-left: 0 !important;
    list-style-type: square;
}

/* press release ------------------------------------------------- */
#PressReleaseDetails ul {
    padding-left: 20px !important;
    margin-bottom: 15px;
}
#PressReleaseDetails ul li {
    list-style-type: square !important;
    padding-left: 0 !important;
}

/* about us and my account ---------------------------------------- */
.myaccountblock, .myaccountblock2 {
    float: none !important;
    width: auto !important;
    height: auto !important;
    margin-right: 0 !important;
}
.myaccountblock h2, .myaccountblock2 h2 {
    font-size: 14px !important;
}