﻿/*/////////////////////////////////////////////////////////////*/
/*///////////////////// RESEARCH-CENTRE ///////////////////////*/
/*/////////////////////////////////////////////////////////////*/
.research-centre h2 {
	font-size:16px;		
	padding:9px 0 9px 9px;
}
.research-centre h1 {	
	padding:0 0 12px 9px;
}
.research-centre .validation-summary{
    margin-left:9px;
}
.research-centre .standardblock{	
	width: 220px;
	min-height: 174px;
	margin-right: 10px;
	float: left;
	margin-left: 0;
}
.research-centre .standardblock .more input {
    margin-bottom: -2px;
}
.research-centre .standardblock ul li {
    margin-bottom: 4px;
    background-position: left 6px;
}
.research-centre .standardblock h3{
	padding: 6px 0 16px 0;	
}
.research-centre .standardblock ul.stdlist{
	float:left;
}
.research-centre .standardblock a.more{
	background:url(/images/common/backgrounds/plus.gif) no-repeat left top;
	cursor:pointer;
	font-weight:bold;
	font-size:12px;
	padding:0 0 0 15px;
}
.research-centre .standardblock .more a{
	font-weight:bold;
	font-size:12px;
	padding:0 0 0 3px;
}
.research-centre .standardblock .more input img{
	margin-top:3px;
}
.research-centre .standardblock .product{
	float:right;
	padding:0 2px 0 0;
}
.research-centre .sep{	
	width:10px;
	height:5px;
    float:left;
}
.research-centre .sub-title{
    margin-top:-8px!important;
}

/* RESEARCH CENTRE RIGHT COL */
.research-centre .helpblock2 ul li{
	padding-bottom:0 !important;
}
.research-centre .helpblock2 p a{
	display:block;
}
div.research-centre div.content-pmessage h3{
	padding-top:10px;
}

/* RESEARCH CENTRE CATEGORY */		
.rcat-lstitem{
	float:left;
	width:350px;
	padding:0 10px 0 10px;	
}
.rcat-flow{
	overflow:hidden;
}
.rcat-sortlist{
	padding:4px 10px 0 0;
	float:right;
}
.rcat-pager{
	padding:7px 315px 0 0;
}
.rcat-inlistitem{
	float:left;
	padding-top:5px;
}
.rcat-lstitem .hr-dashed2{
	padding-left: 0px !important;
	margin-top: 10px;
}
.rcat-itemimg{
	float:right;	
	clear:right;
}
.box-nopad{
	height:30px;
	padding:0px !important;
}
.rcat-bottompad{
	padding:0 0 5px 0;
}
.rcat-itemimg{
	width:80px;
	height:60px;
}	
.img-box{
	float:left;
	margin:0 10px 0 0;
	padding:12px !important;
}
.rcarticle-left{
	float:left;
	width:370px;	
}
.rcarticle-right{
	float:left;
	width:370px;	
}
.research-centre .askgeeksquad input, .research-centre .askgeeksquad textarea{
	width:145px !important;
	margin-bottom:5px;
}
.research-centre .askgeeksquad label{
	font-weight:bold;
}
.research-centre .askgeeksquad .mccpblue .mccpright{
	width:110px !important;		
}
.research-centre .askgeeksquad .mccpblue{
	margin:5px 0 5px 0;		
}
.research-centre .askgeeksquad a.questions{
	margin:9px 0 9px 0;	
}
.research-centre .brand-img{
	float:right;	
	margin-top:5px;
}
.research-centre .cat-itemleft{
	float:left;
	width:375px;	
}
.research-centre a.lnkpdf{
	background:url(/images/common/pictures/lnkpdficon.gif) no-repeat right 2px;	
	padding:0 17px 0 0;
}
.research-centre a.lnkvid{
	background:url(/images/common/pictures/lnkvidicon.gif) no-repeat right 2px;	
	padding:0 17px 0 0;	
}
.research-centre .standardblock a.more-active{
	background:url(/images/common/backgrounds/minus.gif) no-repeat left top;
	cursor:pointer;
	font-weight:bold;
	font-size:12px;
	padding:0 0 0 15px;
}
.learning-resources-list li{
    background:transparent url(/images/Common/backgrounds/hrdashed.gif) repeat-x scroll bottom left;
    clear:both;
    padding:10px 0 10px 0;     
}
.learning-resources-list li.last{
    background:transparent;
    padding-bottom:0 !important;
}
.learning-content{
   padding-left:10px;
   float:left; 
}
.learning-img{
    width:100px;
    float:right;
    margin-right:40px;
}
* html .learning-img {
	margin-right:0px;
}
.expert-review-list{
    padding:0;
}
.expert-review-list li{
    background:transparent url(/images/Common/backgrounds/hrdashed.gif) repeat-x scroll bottom left;
    clear:both;
    padding-bottom:10px;
    margin-bottom:12px;
}
.expert-review-list li.last{
    background:transparent;
    margin-bottom:0;
    padding-bottom:0 !important;
}
.expert-content{
   padding-left:10px;
   float:left;
   width:560px;
}
.expert-img{      
    float:left;
    margin-left:10px;
}

/* research centre article page ----------------------------------------- */
.rc-article {
    font-size: 14px;
    color: #737474;
    line-height: 1.55;
    position:relative;
}

.rc-article h1, .rc-article h2, .rc-article h3 {
    color: #2e3337;
    line-height: 1.15;
}

.rc-article sup {
    font-size: 11px;
    font-weight: normal;
    vertical-align: top;
    margin-left: 2px;
}

.rc-article .header {
    margin: 0 0 20px;
    
}

.rc-article .header .author {
    font-size: 12px;
}

.rc-article .header .author span {
    border-right: solid 1px #ccc;
    padding-right: 8px;
    margin-right: 6px;
}

.rc-article .header .author .date {
    border-right: none;
}


.rc-article .top-header .bg 
{
    background: url('/Projects/ResearchCentre/Assets/black_headline.png') left top; 
    padding:10px 10px 10px 10px;
}

.rc-article .side-header .bg 
{
    background: url('/Projects/ResearchCentre/Assets/black_headline.png') left top; 
    padding:10px 10px 10px 10px;
    margin-bottom:10px;
}

.rc-article .side-header .white_bg 
{
    background: url('/Projects/ResearchCentre/Assets/white_headline.png') left top; 
    padding:10px 10px 10px 10px;
    margin-bottom:10px;
}

.rc-article .btn-video img {
    vertical-align: text-bottom;
}

.rc-article #social-media {
    padding: 0;
}
    
.rc-article .top-header h1 {
    font-size: 22px;
    color: #fff;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-family:'Arial Black', arial;
    font-weight:900;
    margin-bottom:-5px;
   
}
.rc-article .top-header h2 {
    font-size: 20px;
    color: #fff;
    margin: 0 0 5px 0;
    font-weight:lighter;
    line-height: 1;
}

.rc-article .side-header h1{
    font-size: 20px;
    color: #fff;
    margin: 0 0 5px 5px;
    font-weight:lighter; 
    margin-bottom:-5px;
    line-height: 1;
    
}

.rc-article .side-header h2{
    font-size: 16px;
    color: #fff;
    margin: 0 0 5px 5px;
    font-weight:lighter; 
    
}

.rc-article .side-header p{
    color: #fff;
    margin: 0 0 5px 5px;
    padding:10px 0 0 0;

}
.rc-article h1 {
    font-size: 22px;
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
}

.rc-article p {
    margin-bottom: 15px;
    color: #4d4d4f;
}

.rc-article ul {
    margin-bottom: 15px;
    padding-left: 32px;
}

.rc-article li {
    list-style-type: disc;
    margin-bottom: 15px;
}

.rc-article .lnk-showcase-archive {
    position: absolute;
    top: 97px;
    right: 10px;
    font-size: 14px;
    color: #fff;
}

.rc-article .showcase {
    background: #000 url('/Projects/ResearchCentre/Assets/headline_showcase_en.jpg') no-repeat left top;
    height: 66px;
}

.fr-CA .rc-article .showcase {
    background: #000 url('/Projects/ResearchCentre/Assets/headline_showcase_fr.jpg') no-repeat left top;
}

.rc-article .showcase h2 {
    display: none;
}

.rc-article .showcase a {
    display: none;
    color: #fff;
    padding: 30px 15px 0 0;
    float: right;
}

.rc-article .buyingguide 
{
    background: #000 url('/Projects/ResearchCentre/Assets/headline_buyingguide_en.jpg') no-repeat left top;
    height: 50px;
}

.fr-CA .rc-article .buyingguide 
{
    background: #000 url('/Projects/ResearchCentre/Assets/headline_buyingguide_fr.jpg') no-repeat left top;
    height: 50px;
}

.rc-article .teaser .wrapper {
    padding: 30px 30px 0 0;
}
.rc-article .topteaser .wrapper {
    padding: 20px 20px 0 20px;
}


.rc-article .teaser h2 {
    font-size: 24px;
    
}

.rc-article .teaser h3 {
    font-size: 16px;
    line-height: 1.45;
}

.rc-article .teaser p {
    margin-top: 20px;
}

.rc-article .sub-teaser {
    background: transparent url('/Projects/ResearchCentre/Assets/bg_know_en.png') no-repeat left top;
    height: 130px;
    margin: 0 0 30px;
        
}

.fr-CA .rc-article .sub-teaser {
    background: transparent url('/Projects/ResearchCentre/Assets/bg_know_fr.png') no-repeat left top;
}

.rc-article .sub-teaser .btns {
    height: 65px;
}


.rc-article .sub-teaser .did-you-know .wrapper {
    padding: 20px 0 0 280px;
    
}

.rc-article .sub-teaser .did-you-know a {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    padding-right: 20px;
    background: transparent url('/Projects/ResearchCentre/Assets/arrow_bg_yellow.gif') no-repeat right 1px;
}
.rc-article .new-sub-teaser {
    background: transparent url('/Projects/ResearchCentre/Assets/new_bg_know_en.png') no-repeat left top;
    height: 64px;
    margin: 0 0 30px;
    position:relative;
}
.fr-CA .rc-article .new-sub-teaser {
    background: transparent url('/Projects/ResearchCentre/Assets/new_bg_know_fr.png') no-repeat left top;
}

.rc-article .new-sub-teaser .btns {
    height: 20px;
}

.rc-article .new-sub-teaser .did-you-know .wrapper {
    padding: 0px 0 0 280px;
    

}
    
.rc-article .new-sub-teaser .did-you-know a {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    padding-right: 20px;
    background: transparent url('/Projects/ResearchCentre/Assets/arrow_bg_yellow.gif') no-repeat right 1px;
   
}

.rc-article .new-sub-teaser .did-you-know .girlhead {
    background: transparent url('/Projects/ResearchCentre/Assets/new_bg_know_head.png') no-repeat;
    display:block;
    width:90px;
    height:85px;
    position: absolute;
    z-index:10;
    top:-30px;
    left:130px;
    
}
.rc-article .main-body {
    margin-bottom: 60px;
}

.rc-article .intro h2 {
    text-transform: uppercase;
    background: #e5e5e5 url('/Projects/ResearchCentre/Assets/bg_headline.png') no-repeat left top;
    padding: 14px 0 13px 30px;
}

.rc-article .main-body h2 {
    font-size: 24px;
    margin-bottom: 20px;
    
}


.rc-article .main-body h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.rc-article .newmain-body h2 
{
    text-transform: uppercase;
    font-size: 21px;
    color:#003b64;
    font-family:'Arial Black', arial;
    font-weight:900;
    margin-bottom:-5px;
}

.rc-article .newmain-body h3 
{
    text-transform: uppercase;
    font-size: 21px;
    color: #4d4d4f;
    font-weight:lighter;
    margin-bottom:-5px;
    
    
}
.rc-article .newmain-body p {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #4d4d4f;
    

}
.rc-article .main-body p {
    margin-bottom: 20px;
    

}

.rc-article .img-right {
    float: right;
    margin-left: 15px;
}

.rc-article .img-left {
    float: left;
    margin-right: 15px;
}

.rc-article .rc-section {
    clear: both;
    margin: 0 0 30px;
    border-bottom: solid 1px #fff;
}

.rc-article .rc-section .details {
    margin: 0 30px;
}

.rc-article .intro .details {
    
    padding-bottom: 10px;
}

.rc-article .main-body .disclaimer-inline {
    font-style: italic;
    font-size: 11px;
}

.rc-article .back-to-top a {
    padding-right: 20px;
    background: transparent url('/Projects/ResearchCentre/Assets/back_to_top.gif') no-repeat right top;
}

.rc-popover-know {
    width: 640px;
    height: 390px;
    padding: 0;
    background: transparent url('/Projects/ResearchCentre/Assets/bg_pop_know_en.png') no-repeat left top;
}

.ui-viewpanel .rc-popover-know {
    padding: 0;
}

.fr-CA .rc-popover-know {
    background: transparent url('/Projects/ResearchCentre/Assets/bg_pop_know_fr.png') no-repeat left top;
}

.rc-popover-know-fr {
	background: transparent url('/Projects/ResearchCentre/Assets/bg_pop_know_fr.png') no-repeat left top;
}

.rc-popover-know .popover-details {
    padding: 142px 320px 0 46px;
    font-size: 12px;
    line-height: 1.35;
    color: #ffffff;
}

.rc-popover-know sup {
    font-size: 11px;
    font-weight: normal;
    vertical-align: top;
    margin-left: 2px;
}

.ui-viewpanel .rc-popover-know .popover-details p {
    font-size: 14px;
    line-height: 1.45;
    padding-bottom: 0;
}


/* GLOSSARY MAIN PAGES */
.glo-maintitle{
	padding-left:0 !important;
	padding-top:1px !important;
	padding-bottom:11px;
	line-height:12px;
}
.glo-col li{
	float: left;
	width: 235px;
	margin: 0 6px 2px 0 !important;
}
.glo-bigletter{
    font-weight: bold;
	font-size: 30px;
	float: left;
	width: 44px;
	padding: 5px 0 0 0;
}
.glo-item{
	padding-top: 8px;
	float: left;
	width: 450px;
}
.glo-back{
	padding-top:10px;
}
.lnk-all{
	float:right;	
	font-size:11px;
}
.lnk-all-bt{
	font-size:11px;
	/*Requested on #176821 Next 2 lines*/
	margin-top:15px;
	font-weight:bold;
}
.glo-pagebox{
	padding:8px 15px 8px 20px!important;
}
.glo-pagebox a{
    text-decoration:underline;
}
.glo-pagebox a:hover{
    text-decoration:none;
}
.glo-hr{
    margin-bottom:5px!important;
    margin-top:10px!important;
}
.itemlist li{
    padding:3px 0;
    clear:both;
}
.glo-backtotop a {
    float: right;
    font-size: 11px;
    display: block;
    width: 200px;
    text-align: right;
}
.glo-item .links{
    line-height:16px;
}
ul.glossaries-page{
    padding:0;
}
.glossaries-page li{
    list-style:none;
    display:inline;
    padding:0 5px;
}

/* DATE RESULTS */
.std-dateresults .subject {
	float:left;		
	width:620px;
	min-height:15px;
}
.std-dateresults .subject h2{	
	font-size:12px;
	font-weight:normal;		
	padding:0 !important;	
}
.std-dateresults .subject p{	
	margin:0;	
}
.std-dateresults p.date {	
	float:left;	
	margin:0 10px 0 9px;
}
.std-dateresults div.hr-dashed {
	margin-top:0 !important;
	clear:both;
}

/*/////////////////////////////////////////////////////////////*/
/*////////////////////// STORE LOCATOR ////////////////////////*/
/*/////////////////////////////////////////////////////////////*/
.storelocator-title {
	font-size: 18px;
	padding-left: 9px;
}

.slocator-search .stock-container{
	float: left;
	width: 180px;
	padding-top: 40px;
}
.slocator-search .details-container{
	float: left;
	width: 140px;
	padding-top: 40px;
}
.slocator-search .details-container a{
	font-size:12px;
}
.slocator-search .but-container{
	float: right;
	width: 95px;
	padding-top: 35px;
}
.slocator-search .but-container .mccpblue {
    margin-right: 0;
}
.slocator-search .add-container{
	float: left;
	width: 250px;
}
.slocator-search .item-container{   
    width: 670px; 
    margin: 10px 0 0 0;
	overflow:hidden;
	background:transparent url(/images/Common/backgrounds/vertical_dashed.gif) repeat-y scroll 170px top;
}
.slocator-search .lbl-nobold{
	font-weight:normal !important;
}
.slocator-search .hr2{
	margin-top: 10px;
	height: 3px;
	line-height: 1px;
	font-size: 1px;
	background: #ccc;
	border: none;
	margin-bottom: 10px;
}
.slocator-search .availability-message img {
    float: left;
    margin-top: 2px;
    margin-right: 5px;
}
.slocator-search .availability-message span {
    float: left;
    display: block;
    width: 150px;
}
.slocator-search .saved-store {
    margin-left: 15px;
}
.find-a-store h2 {
    zoom: 1;
}
#storelocatormain .standardblock.slocator-search .bg-line {
    padding-top: 6px;
}

/* Store Details */
ul.litem li.store-address,
ul.litem li.store-address-details {
	font-weight: bold !important;
}

.store-messages li .store-message-1,
.store-messages li .store-message-2 {
	margin: 0 0 5px 0;
	padding: 10px;
	border-bottom: 1px solid #E9E9E9;
	background: #F5F5F5;
}

.store-divider {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #ccc;
	height: 0;
	clear: both;
	display: block;
}

.store-description {
	padding: 0;
}

/* store hours styling ------------------------------------------------ */
.store-details h1 {
    padding: 0 0 15px;
    line-height: 1.15;
}

.store-details h4 {
    margin-bottom: 2px;
    font-size: 12px;
}

.store-details .store-hours li {
    clear: both;
    margin: 0 0 2px;
}

.store-details .store-hours div {
    float: left;
    width: 80px;
}

.store-details .store-hours .hours {
    width: 130px;
}

.store-details .store-hours, .store-details .services {
    margin: 0 0 10px;
}

.slocator-search .store-details h1.store-name {
    padding: 0 0 15px;
    font-size: 14px;
}

.slocator-search .searchdetails {
    padding-top: 34px;
}

.slocator-search .searchdetails a:hover {
    text-decoration: none !important;
}
.slocator-details .right .directions-map
{
    margin: 20px 0 0 0;
}
.slocator-infos p
{
    margin: 0 0 10px 0;
}
.slocator-infos a
{
    font-size: 12px !important;
}
.slocator-details .left .yourlocation
{
    background: #f3f3f3;
    padding: 9px;
}
.slocator-details .left .yourlocation fieldset
{
    padding: 0 0 10px 0;
}
.slocator-details .left .yourlocation fieldset label
{
    font-weight: bold;
    padding-top: 5px;
}
#storelocatormain .prev-next {
    margin-bottom: 10px;
}
.searchresults{
	float:left; 
	clear:left !important;
	width:210px;
}
.searchdetails{
	float:right;
	width:438px;
	clear:right;
	margin-bottom:5px;
	margin-top:0;
	margin-right:0;
}
#storelocatormain .searchdetails {
	width: 440px;
	margin-top: 2px;
}
#storelocatormain .standardblock.slocator-search h2, #storelocatormain .standardblock.chkout-fieldbox h2{
	padding-bottom:8px !important;
}
#storelocatormain .standardblock .bg-line{
    background:url(/images/common/backgrounds/tblpricewatchersep.gif) repeat-y 221px 0;   
    padding-top:8px;
    padding-bottom:3px;
    height:100%;
}
.store-results .litem.first, .preferred-store .litem.first{
    margin-top:0;
    padding-top:10px !important;
}
.store-results ul{
    line-height:15px;
}
.store-results a, .preferred-store a, .store-details a{
	font-size: 12px;
}
.store-results .distance {
	margin-left: 17px;
	font-weight: normal;
	font-size: 11px;
}
#storelocatormain .chkout-fieldbox{
    padding-bottom:0;
}
#storelocatormain .slocator-search {
	padding-bottom:10px;
}
#storelocatormain .chkout-fieldbox h2{
    padding-bottom:12px;
}
#storelocatormain .slocator-search h2{
    padding-bottom:8px;
}
#storelocatormain .standardblock .list-items li img{
    margin: 0;
    padding: 0;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
.searchdetails td.hdr1{
	float:left;
	width:350px;
	font-weight:bold;	
}
.searchdetails td.hdr2{
	float:right;
	width:80px;
	text-align:right;
	font-weight:bold;
}

.standardblock .store-results ul li{
    clear: left;
    margin-bottom: 0;
}

.standardblock .store-results ul li.img, .store-details ul li.img {
    margin: 0 10px 8px 0;
}

.standardblock .store-results ul li.img img, .store-details ul li.img img {
    max-width: 90px;
    max-height: 90px;
}

.chkout-fieldbox ol li.locator-options{	
	margin-top:19px;	
}
.chkout-fieldbox ol.stores-chkboxes li{	
	margin:1px 0 0 0;	
	padding:0;
	font-weight:normal;
}
.chkout-fieldbox ol.stores-chkboxes li ol li{			
}
.chkout-fieldbox ol.stores-chkboxes li ol li label{	
	display:inline;
	font-weight:normal;	
}
.chkout-fieldbox ol.stores-chkboxes li ol li a{	
	display:inline;
	font-weight:normal;	
	font-size:12px;
}
.chkout-fieldbox ol.stores-chkboxes li ol li input{	
	margin:1px 3px 0 0;
    vertical-align:top;
    height:13px;
    width:15px;    
}
.chkout-fieldbox ol.stores-chkboxes li.items {		
	height:20px;
	width:180px;
	padding:0 !important;
	margin:0 !important;
}
.chkout-fieldbox ol.stores-chkboxes li.items table {	
	float:left !important; 
}
.chkout-fieldbox ol.stores-chkboxes li.items a, .chkout-fieldbox ol.stores-chkboxes li.items input{	
	float:left !important;
}
.chkout-fieldbox ol.stores-chkboxes li.col{
	width:223px;
}
.stores-chkboxes a{
	 font-size:12px !important;
}
.border-dash{
	border-bottom:dashed 1px #999;
	margin:10px 0;
}
#directionresults .floatleft, #directionresults .floatright{
	margin:0 7px 0 3px;
	font-weight:bold;
}
#directionresults tr.alt td{
	background:#f3f3f3;
}
#directionresults tr td{
	padding:3px;
}
#directionresults tr th{
	padding:0 0 3px 0;
}
#directionresults .total td{
	padding:3px 10px 18px 0;
	text-align:right;
	clear:both;
	font-weight:bold;
}

#storelocatormain .right-side-direction{
    width:445px;
    float:right;
}
#storelocatormain .btn-get-directions, .pop .btn-get-directions{
    padding-top:6px !important;
    margin-bottom:0;
}
.distence{
	min-width:60px;
}
/* FOR GET DIRECTIONS USER CONTROL */
.getdirections-width{
	width:210px;
}
.getdirections-width .boxlgray{
	border:none;
}

/* VIRTUAL EARTH OVERRIDES */
ol.vearth{
	font-size:11px;
	font-weight:normal;
}
.vemapcontent h3{
	font-size:14px;
	text-align:center;
	margin-bottom:10px;
}
.vemapcontent ol h3{
	text-align:left;
}
.vemapcontent .sep{
	margin:10px 0;
}
#getdirections a.back_link{
	position:relative;
	font-size:12px;
	font-weight:bold;
	margin-left:6px;
	top:-3px;
}
.MSVE_MapContainer{
	border:solid 1px #ccc;
}
/* Hover */
.MSVE_Dashboard_V5 #MSVE_navAction_RoadMapStyle:hover, .MSVE_Dashboard_V5 #MSVE_navAction_AerialMapStyle:hover, .MSVE_Dashboard_V5 #MSVE_navAction_HybridMapStyle:hover, .MSVE_Dashboard_V5 #MSVE_navAction_RoadMapStyle.ms_pseudoHover, .MSVE_Dashboard_V5 #MSVE_navAction_AerialMapStyle.ms_pseudoHover, .MSVE_Dashboard_V5 #MSVE_navAction_HybridMapStyle.ms_pseudoHover{
	background-color:#b7c3dc !important;
	color:yellow !important;
}
/* Selected */
.MSVE_Dashboard_V5 #MSVE_navAction_mapStyleCell.MSVE_RoadMapStyle #MSVE_navAction_RoadMapStyle, .MSVE_Dashboard_V5 #MSVE_navAction_mapStyleCell.MSVE_AerialMapStyle #MSVE_navAction_AerialMapStyle, .MSVE_Dashboard_V5 #MSVE_navAction_mapStyleCell.MSVE_HybridMapStyle #MSVE_navAction_HybridMapStyle{
	font-weight:bold !important;
	color:yellow !important;
	font-size:8pt;
}
.MSVE_Dashboard_Small #MSVE_mapStyleRow{	
	opacity:0.85;
	-moz-opacity:0.85;
	border:1px solid #7b92bf;
}
.MSVE_Dashboard_Small #MSVE_zoomDiv{
	opacity:0.85;
	-moz-opacity:0.85;
}
.MSVE_Dashboard_Small .MSVE_MapStyle{
	background-color:#7b92bf !important;
	color:#fff !important;
}
.MSVE_RoadMapStyle{
	padding-left:1px;
}
.MSVE_Dashboard_Small .MSVE_ZoomBar_minus{
	margin-top:-1px;
	background:url(/images/Common/buttons/zoomminus.gif) !important;
}
.MSVE_Dashboard_Small .MSVE_ZoomBar_plus{
	background:url(/images/Common/buttons/zoomplus.gif) !important;
}
.MSVE_Dashboard_Small #MSVE_navAction_tinyZoomBar_minus:hover,  .MSVE_Dashboard_Small #MSVE_navAction_tinyZoomBar_minus.ms_pseudoHover{
	background:url(/images/Common/buttons/zoomminushover.gif) !important;
}
.MSVE_Dashboard_Small #MSVE_navAction_tinyZoomBar_plus:hover, r, .MSVE_Dashboard_Small #MSVE_navAction_tinyZoomBar_plus.ms_pseudoHover{
	background:url(/images/Common/buttons/zoomplushover.gif) !important;
}
.MSVE_Dashboard_Small .MSVE_ZoomBar_plus, .MSVE_Dashboard_Small .MSVE_ZoomBar_minus{
	border:solid 1px #FFF !important;
}
.MSVE_Dashboard_V5 .MSVE_ZoomBar{
	background:#7b92bf;
}
.pinformat{
	position:relative;
	padding-left:20px;
}
.pinid{
	height:18px;
	width:18px;
	background:#fff;
	border:1px solid #7b92bf;
	position:relative;
	left:-18px;
	top:6px;	
	opacity:0.85;
	-moz-opacity:0.85;
	display:block;
}
.pinid a {
	color: #ffffff !important;
	background: #7b92bf;
	font-weight: bold;
	font-size: 11px !important;
	display: block;
	padding-top: 1px;
}
.pinid span{
	background:#7b92bf;
	color:#fff !important;
	font-size:11px !important;
	font-weight:bold;
	display:block;
	margin:1px;
	height:16px;
	text-align:center;
}
.pinid a:hover, .pinformat a:hover, .pinformat img:hover, .standardblock a:hover {
	text-decoration: none !important;
}
.ero-actionsBackground {
    margin: 0 !important;
}
.ero .ero-previewArea div.firstChild {
    margin: 10px !important;
}
.ero .ero-previewArea p {
    padding: 0 !important;
}
/*/////////////////////////////////////////////////////////////*/
/*////////////////////// PRESS RELEASES ///////////////////////*/
/*/////////////////////////////////////////////////////////////*/
.preleases-featured { 	
	padding:9px 12px 16px 12px;
	margin-bottom:15px;
}
.preleases-featured .item { 
	padding:14px 0 0 0;
}
.preleases-featured .item .left { 
	float:left;
	width:530px;
	padding-right:20px;
}
.preleases-featured .item .left p.date{ 
	padding:0;
}
.preleases-featured .item .left p{ 
	padding:14px 0 0 0;
}
.preleases-featured .item .box1white { 
	float:right;
	width:135px;
	text-align:center;
}
.latest-releases h2{ 
	padding:0 0 2px 9px;	
}
.latest-releases .paging{ 
	margin:0 0 4px 9px !important;
	padding-top:0 !important;
	padding-left:1px !important;
}
.latest-releases .standardblock{ 	
	margin-bottom:10px !important;
}
.latest-releases .standardblock dl dt.title, .latest-releases .standardblock dl dd.title{ 	
	font-weight:bold;
	padding:5px 30px 15px 0;
}
.latest-releases .standardblock dl dt, .latest-releases .standardblock dl dd{ 		
	padding:0 30px 5px 0;
}
.latest-releases .standardblock dl dd a{ 		
	font-size:12px;
}
.latest-releases .standardblock dl dt label{
	width:100px !important;
	font-weight:normal !important;
}

/* default list item styler */
.press-release-details .press-wrap ul {
    padding: 0 0 0 24px;
}

.press-release-details .press-wrap ul li {
    list-style-type: disc;
    margin: 0 0 4px;
    padding: 0 0 0 4px;
}

.press-release-details .press-wrap ol li {
    list-style-type: decimal;
    margin: 0 0 4px 28px;
}

/* Help Customer Service */
div.search .help-go-btn input {
    float: left;
}
div.search .help-go-btn a {
    float: left;
    padding: 0 !important;
}
div.search .help-go-btn a img {
    padding: 0 !importnat;
}
.help-faq {
    float: left; /* fix for ie7 double margin bug */
    width: 740px;
    height: 153px;
    background: transparent url(/Projects/_Content/Static/Assets/p-help-faq/bg_top_5.gif) no-repeat left top;
}
.help-faq .faq-content {
    padding: 10px;
}
.help-faq .faq-content h2 {
    font-size: 16px;
}
.help-faq .faq-content h2 span {
    display: block;
    padding: 2px 0px 12px 8px;
}
.help-faq .faq-content li {
    margin-bottom: 5px;
}
.help-content .standardblock h2 {
    padding: 3px 0 10px;
}
.help-content .standardblock h2 img.category-image, .help-category-content img.category-image {
    float: left;
    width: 24px;
    height: 24px;
}
.help-content .standardblock h2 a {
    margin: 4px 0 0 5px;
    display: block;
    float: left;
}
.help-category-content .category-name {
    margin: 2px 0 0 5px;
    display: block;
    float: left;
}

/* help detail section starts */
.help-detail-content .lnkbackto, .help-detail-content h1 {
    clear: none;
    float: none;
}
.help-detail-content .lnkbackto {
    width: 500px; /* ie6 bug fix */
    padding-bottom: 0 !important;
    margin-bottom: 17px;
}
.help-detail-images {
    float: right;
    margin: 34px 0 0 10px;
}
.pop-std .help-detail-images {
    margin-top: 0px;
}
.help-detail-images img {
    margin: 0 0 10px 10px;
}
.help-detail-content ul {
    margin: 0 0 15px 15px;
    padding: 0;
}
.help-detail-content ul li {
    background: transparent url(/images/common/pictures/bulletsmallsquare.gif) no-repeat scroll 0 5px;
    margin: 0 0 2px;
    padding: 0 0 2px 10px;
}
.help-detail-content ol {
    margin: 0 0 15px 35px;
}
.help-detail-content ol li {
    list-style-type: decimal;
    margin: 0 0 2px;
}
.help-detail-content blockquote {
    padding: 0pt 0pt 20px 20px;
}

/* accordion in help articles -------------------------------- */

.help-detail-content .ui-accord {
    margin: 0;
}

.help-detail-content .ui-accord .ui-accord-content {
    padding: 10px 10px 0;
}


/*/////////////////////////////////////////////////////////////*/
/*//////////////////////// SITE MAP ///////////////////////////*/
/*/////////////////////////////////////////////////////////////*/
.sitemap-left {
	float: left;
	margin-left: 9px;
	display: inline; /* ie6 double margin fix */
}
.sitemap-right {
	float: right;
	margin-right: 8px;
}
.sitemap-block {
    width: 440px;
    float: left;
    clear: both;
}
.sitemap-block h2{
	padding: 20px 0 7px 0;
}
.sitemap-block li {
	vertical-align: top;  
    padding: 2px 0px 0px 20px;
	clear: both;
    overflow: auto;
    background: #f3f3f3 url(/images/common/pictures/sitemap-node.gif) no-repeat 0 0;
}
.sitemap-block li.top-class {
    _position: relative; /* ie6 position fix */
}
.sitemap-block li a {
	padding: 0 6px 2px 0;
}
.sitemap-block li.alt{
    background: #ffffff url(/images/common/pictures/sitemap-node.gif) no-repeat 0 0;
}
.sitemap-block ul.list .listitem {
	background: transparent none;
}
.sitemap-block .list .listCategory h2 {
	font-size: 12px;
	font-weight: normal;
	padding: 0 0 2px 0;
}
.sitemap-block .list .listCategory, .sitemap-block ul li.top-class ul {
    margin-bottom: 2px;
}
.sitemap-block .list .listCategory li, .sitemap-block ul ul{
	background-color: #ffffff;
}
.sitemap-block .class-links {
    zoom: 1;
    _position: absolute; /* ie6 position fix */
    _top: 0;
    _left: 0;
    display: block;
}
.lnk-more {
	float: right;
	font-size: 11px;
}
.listitem h2 {
	padding: 20px 0 7px 0;
}
.sitemap-left ul li h3 {
	padding: 2px 6px 2px 5px;
	font-weight: normal !important;
}
.sitemap-left ul li ul li ul li ul li h3 {
	background: #fff;
	padding: 2px 6px 2px 5px;
	font-weight: normal !important;
}
.sitemap-left .listitem ul li ul li{
	vertical-align: top;
	padding-left: 15px;
	clear: both;
	overflow: auto;
	background: url(/images/common/pictures/sitemap-node.gif) no-repeat 0 3px;
}


/*/////////////////////////////////////////////////////////////*/
/*//////////////////////// CONTACT-US /////////////////////////*/
/*/////////////////////////////////////////////////////////////*/
.contact-method label{
	display:inline;
	font-weight:normal !important;
}
.contact-method input{
	height:13px;
	margin:1px 3px 0 0;
	padding:0;
	vertical-align:middle;
	width:13px;
}

/*/////////////////////////////////////////////////////////////*/
/*////////////////////// REVIEW RATE BLOCK ////////////////////*/
/*/////////////////////////////////////////////////////////////*/
.reviewrateblock ul {
	overflow:auto;
	clear:both;
}
.reviewrateblock ul li.item {
	clear:both;
	padding-bottom:3px;
}
.reviewrateblock ul li ol {
	font-size:1px;
	overflow:auto;
}
.reviewrateblock ul li ol li{
	display: block;
	width: 30px;
	float: left;
	font-size: 12px;
	padding: 1px 0 0 0;	
	text-align: center;	
	font-weight: normal;
}
.reviewrateblock ul li ol li input{
	margin:1px 1px 0 0;
    vertical-align:top;
    height:13px;
    width:15px;
}
.reviewrateblock ul li ol li.first{
	width:140px;	
	text-align:left;
}
.reviewrateblock .legend{
	margin:5px 0 0 148px;	
	clear:both;
	font-weight:normal;
	font-size:11px;
}
.reviewrateblock ul li.last ol li{
	font-weight:bold;
}
.rem-bold{
	font-weight:normal !important;
}
.rating span.nbr{
	margin-left:10px;
	font-size:12px;
	font-weight:bold;
}
.num-rates{
	float:left;
	margin-right:3px;
}
.tot-rating{
	margin-left:3px;
	font-size:11px; 
	color:#666;
}
.cprc .rating-list .review .empty {		
	padding:1px;
	margin-top:3px;
	margin-right:10px;
	width:77px;
	height:9px;
	background:url(/images/common/backgrounds/ratingattribback.gif) no-repeat left top; 
	float:left;	
}
.cprc .rating-list .review .empty .fill {			
	background:url(/images/common/backgrounds/ratinglistfill.gif) no-repeat top right;		
	height:9px;
}
.cprc p.rating{
    margin-left:5px;
	padding-top:0;
}
.cprc p.rating span{
	vertical-align:top;
}
.cprc div.review{
	margin-bottom:4px;
}
.item-desc{
	float: left;
	margin: 10px 10px 0 0;
	padding-left: 10px;
}
.prod-title a{
	margin-top:9px;
	display:block;
	font-weight:bold;
	color:#003399 !important;
	font-size:12px !important;
}
.rem-boottom-pad{
    padding-bottom:0 !important;
}
.prod-price{
	float: left;
	width: 360px;
	padding-top: 2px;
}
.prod-price .info{
	width: 230px;
	float: left;
}
.prod-price .priceblock.sale-regular{
	display:none;
}
.prod-price .priceblock.sale, .prod-price .details, .prod-price .sale-end{
	margin-bottom:2px!important;
	padding-bottom:0!important;
	padding-top:0!important;
	margin-top:0!important;
}
.standardblock .bg-line-rating{
    background: url(/images/common/backgrounds/tblpricewatchersep.gif) repeat-y 359px 0;
    overflow: hidden;
    height: auto;
}
.bg-line-rating .item-desc, .bg-line-rating .prod-title a{
	margin-top:0px;
}
.prod-price .priceblock{
	font-size: 12px !important;
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
.prod-price .itemslisting{	
	margin-top: 10px;
	padding: 0;
	border: none;
}
.prod-price .sale{	
	margin-bottom:10px !important;
}
.prod-rating{
	margin-left:20px;
	float:left;
}
.line-pages a{
	display:inline;
	float:left;
	padding-right:5px;
}
.line-images img{
	float:left;
	padding-right:5px;
}
.pag-pos{
	padding-left:230px;
}

/* CONTEST PAGE */
ul.contest-emailnotifications li{	
	font-weight:normal !important;
	padding:0 !important;
}  

/* customer review page ------------------------------- */
.review-tip p {
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: bold;
}
.review-tip p.reqfield {
    padding: 0 0 4px;
    border-bottom: dotted 1px #cccccc;
}
.review-tip ul {
    padding: 0 0 10px 15px;
}
.review-tip li {
    padding-left: 12px;
    margin-bottom: 2px;
    font-weight: normal !important;
    background: transparent url(/images/common/pictures/bulletsmallsquare.gif) no-repeat left 6px;
}

/* search listing result page --------------------------- */

.skublocklist .prod-price {
    float: none;
    width: auto;
    padding: 0;
}