﻿/********************************************************************
style.css is for additional default styling (apart from default.css).
provide sufficient comment and group styling together based usage.
********************************************************************/

/*****************************/
/****** general styling ******/

/* enter general styling here */


/*****************************/
/****** homepage slider ******/

.homepage-slide {
    border-bottom: 1px solid #ccc;
    margin: 0 0 0px;
}

.homepage-slide.ui-slideshow .bubbleContent {
	background: transparent url('/images/ui/slideshow/bg-bubble-gradient.png') 0 0 repeat;
	box-shadow: inset 0 0 50px #333;
	    -khtml-box-shadow: inset 0 0 50px #333;
	    -moz-box-shadow: inset 0 0 50px #333;
	    -webkit-box-shadow: inset 0 0 50px #333;
	color: #ffffff;
	font-size: 11px;
    padding: 10px 20px !important;
	width: 350px;
}

.homepage-slide.ui-slideshow .bubbleContent .bubbleInsert {
	 background: transparent !important;
	 margin: 8px 10px;
	 width: auto;
}

/* IE6 dynamic fix for 24bit PNG's -> on extreme side of IE-hacks (MUST be removed after we drop IE6 support) */
* html .bubble img {
	position:relative;
	behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
	this.src = "/images/ui/slideshow/transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
	this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
	this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
	);
}

.bubble img {
    clear:right;
    float:right;
    margin:0 0 5px 20px;
}

.bubble .title,
.bubble .desc,
.bubble .price,
.bubble a {
    display: block;
    font-size: 13px;
    font-weight: normal;
    margin: 0 0 5px;
}

.bubble .desc {
    font-size: 11px;
    font-style: italic;
}

.bubble .price {
    color:#fff200;
    font-weight: bold;
}

.bubble a {
    color:#fff;
    font-weight: bold;
    margin: 0;
}

.bubble a:hover,
.bubble .special {
    color:#fff200;
    font-style:normal;
}

/*#home-ss-dc .bubbleContent {
    width:300px;
}

#home-ss-phone .bubbleContent {
    width:250px;
}*/

.cedb .feature .prod-image img {
    height:auto !important;
    width:auto !important;
}

.slides .slide-thumb {
    display: none;
}

#homepage-slide .slides
{
    display: none;    
}


.prod-info sup
{
    font-size:7px;
    line-height:100%;
}