<div class="community flyout-menu drop-shadow" id="flyout-community" data-ng-mouseleave="$parent.hideFlyout($event)">
  <div class="row medium-vertical-padding-bottom">
    <div class="small-12 columns">
      <h3 class="text-left">The Best Buy Plug-In Community</h3>
      <p>Join the conversation and learn more about the latest gadgets, technology, and more with Plug-In. Become a member and be a part of the community.</p>
      <a href="#" class="cta-link">See what everyone's talking about!</a>

      <ul class="medium-block-grid-4" data-equalizer>
        <li data-equalizer-watch>
          <a href="#" class="header-link icon icon-forum">Plug-in Forum</a>
          <p>Discuss topics, share your tips and tricks, and check out what products everyone is raving about.</p>
          <a href="#">Check it out <i class="fa fa-angle-right"></i></a>
        </li>
        <li data-equalizer-watch>
          <a href="#" class="header-link icon icon-blog">Plug-in Blog</a>
          <p>Get the latest news and reviews about technology, movies, music, and so much more.</p>

          <a href="#">Check it out <i class="fa fa-angle-right"></i></a>
        </li>
        <li data-equalizer-watch>
          <a href="#" class="header-link icon icon-viva-chatter">VIVA Chatter</a>
          <p>Welcome to VIVA Chatter! Join the conversation and stay in the know.</p>

          <a href="#">Check it out <i class="fa fa-angle-right"></i></a>
        </li>
        <li data-equalizer-watch>
          <img src="../../images/assets/header/community/mixer.jpg" alt="" class="block article-image">
          <a href="#" class="header-link">A brief history of mixers</a>
          <p></p>
          <a href="#">Check it out <i class="fa fa-angle-right"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
