<div class="deals-shops flyout-menu drop-shadow" id="flyout-deals" data-ng-mouseleave="$parent.hideFlyout($event)">
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-5">
        <li class="text-center">
          <a href="#" class= "icon icon-viva">VIVA from Best Buy</a>
        </li>
        <li class="text-center">
          <a href="#" class= "icon icon-home-lifestyle">Home &amp; Lifestyle</a>
        </li>
        <li class="text-center">
          <a href="#" class= "icon icon-bb-mobile">Best Buy Mobile</a>
        </li>
        <li class="text-center">
          <a href="#" class= "icon icon-bb-business">Best Buy for Business</a>
        </li>
        <li class="text-center">
          <a href="#" class= "icon icon-cinemanow">CinemaNow</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <hr>
      <ul class="small-block-grid-5">
        <li class="text-center">
          <a href="#" class= "icon icon-flyer">Weekly Flyer</a>
        </li>
        <li class="text-center">
          <a href="#" class= "icon icon-clearance">Clearance Outlet</a>
        </li>
        <li class="text-center">
          <a href="#" class= "icon icon-refurbished">Refurbished Outlet</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="newsletter-cta">
        <i class="fa fa-envelope"></i>
        <h2 class="inline">Never miss a deal.</h2>
        <h4 class="inline">Sign up for the newsletter.</h4>
        <a href="#" class="sign-up">Sign Up Now <i class="fa fa-angle-right"></i></a>
    </div>
  </div>
</div>
