<div class="featured-brands flyout-menu drop-shadow" id="flyout-brands" data-ng-mouseleave="$parent.hideFlyout($event)">
  <div class="flyout-header">
    <div class="row">
      <div class="small-12 columns">
        <p class="text-center">Thousands of brands you know and trust. <a href="#">Shop All Brands <i class="fa fa-chevron-right"></i></a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 columns large-logos">
      <ul class="medium-block-grid-6">
        <li><a href="#" class="first-item"></a></li>
        <li><a href="#" class="second-item"></a></li>
        <li><a href="#" class="third-item"></a></li>
        <li><a href="#" class="fourth-item"></a></li>
        <li><a href="#" class="fifth-item"></a></li>
        <li><a href="#" class="sixth-item"></a></li>
      </ul>
    </div>
  </div>

  <div class="row small-logos-wrapper">
    <div class="medium-9 columns">
      <ul class="medium-block-grid-6 small-logos">
        <li><a href="#" class="first-item"></a></li>
        <li><a href="#" class="second-item"></a></li>
        <li><a href="#" class="third-item"></a></li>
        <li><a href="#" class="fourth-item"></a></li>
        <li><a href="#" class="fifth-item"></a></li>
        <li><a href="#" class="sixth-item"></a></li>
        <li><a href="#" class="seventh-item"></a></li>
        <li><a href="#" class="eighth-item"></a></li>
        <li><a href="#" class="ninth-item"></a></li>
        <li><a href="#" class="tenth-item"></a></li>
        <li><a href="#" class="eleventh-item"></a></li>
        <li><a href="#" class="twelth-item"></a></li>
        <li><a href="#" class="thirteenth-item"></a></li>
        <li><a href="#" class="fourteenth-item"></a></li>
        <li><a href="#" class="fifteenth-item"></a></li>
        <li><a href="#" class="sixteenth-item"></a></li>
        <li><a href="#" class="seventeenth-item"></a></li>

      </ul>
    </div>

    <div class="medium-3 columns">
      <div class="cta-wrapper">
        <img src="../../images/placeholders/featured-brands-cta.jpg" alt="">
        <h4>The hottest brands for back to school</h4>
        <a href="#">Shop Now <i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>

  </div>
</div>
