<div class="products flyout-menu drop-shadow" id="flyout-products" data-ng-mouseleave="$parent.hideFlyout($event)">
  <div class="row collapse medium-vertical-padding-bottom" data-ng-mouseleave="$parent.hideFlyout($event)">
    <div class="small-3 columns">
      <ul class="product-categories" data-ng-mouseover="showProductMenu($event)" aria-label="submenu" >
        <li><a href="#" data-submenu-id="computers-tablets" class="selected" tab-index="-1">Computers, Tablets &amp; eReaders</a></li>
        <li><a href="#" data-submenu-id="ink-office-supplies" tab-index="-1">Ink, Office Supplies &amp; Telephones</a></li>
        <li><a href="#" data-submenu-id="tv-home-theatre" tab-index="-1">TV &amp; Home Theatre</a></li>
        <li><a href="#" data-submenu-id="cameras-camcorders" tab-index="-1">Cameras &amp; Camcorders</a></li>
        <li><a href="#" data-submenu-id="ipod-headphones" tab-index="-1">iPod, Headphones &amp; Portable Audio</a></li>
        <li><a href="#" data-submenu-id="cell-phones" tab-index="-1">Cell Phones</a></li>
        <li><a href="#" data-submenu-id="car-gps-satellite" tab-index="-1">Car, GPS &amp; Satellite Radio</a></li>
        <li><a href="#" data-submenu-id="wearable-technology" tab-index="-1">Wearable Technology</a></li>
        <li><a href="#" data-submenu-id="musical-instruments" tab-index="-1">Musical Instruments</a></li>
        <li><a href="#" data-submenu-id="video-games-movies-music" tab-index="-1">Video Games, Movies &amp; Music</a></li>
        <li><a href="#" data-submenu-id="appliances" tab-index="-1">Appliances</a></li>
        <li><a href="#" data-submenu-id="beauty-personal-care" tab-index="-1">Beauty, Personal Care &amp; Baby</a></li>
        <li><a href="#" data-submenu-id="health-naturals-style" tab-index="-1">Health, Naturals &amp; Style</a></li>
        <li><a href="#" data-submenu-id="home-furniture-kitchen" tab-index="-1">Home, Furniture &amp; Kitchen</a></li>
        <li><a href="#" data-submenu-id="toys-sports-recreation" tab-index="-1">Toys, Sports &amp; Recreation</a></li>
      </ul>
    </div>

    <div class="product-submenu" ng-include src="'/partials/header/flyouts/products/' + $parent.selectedSubMenu + '.html'"></div>
</div>
