<div class="services flyout-menu drop-shadow" id="flyout-services" data-ng-mouseleave="$parent.hideFlyout($event)">
  <div class="row medium-vertical-padding-bottom">
    <div class="small-12 columns">
      <ul class="medium-block-grid-5">
        <li>
          <img src="../../images/assets/geek-squad/logo.png" class="geek-squad-logo centered-img">
          <a href="#" class="header-link">Geek Squad</a>
          <p>From computer glitches to smartphone mishaps, Geek Squad can save the day. Our Agents are ready adn waiting to set up, support, protect, and repair.</p>
          <a href="#">Learn more <i class="fa fa-angle-right"></i></a>
        </li>
        <li>
          <a href="#" class="header-link icon icon-recycle">Recycling</a>
          <p>Let us help you recycle your old and unwanted electronics. Find out more Best Buy's commitment to the environment and how your province is working to make a difference.</p>
          <a href="#">Learn more <i class="fa fa-angle-right"></i></a>
        </li>
        <li>
          <a href="#" class="header-link icon icon-parts">Parts Store</a>
          <p>The Parts Store has millions of parts for your appliance, electronic, and wireless device needs, so if there's something you're looking for, chances are they've got it.</p>
          <a href="#">Learn more <i class="fa fa-angle-right"></i></a>
        </li>
        <li>
          <a href="#" class="header-link icon icon-reclaim">ReClaim Insurance Replacement</a>
          <p>With our team of experienced, non-commisioned Consultants making a claim they will be less stressful. They can help you replace your lost goods quickly and easily.</p>
          <a href="#">Learn more <i class="fa fa-angle-right"></i></a>
        </li>
        <li>
          <img src="../../images/assets/logo.svg" class="trade-in-logo centered-img">
          <h5 class="trade-in-text">Trade-in</h5>
          <a href="#" class="header-link">Trade-In Program</a>
          <p>Best Buy's Trade-In Program is a great way to trade your gently used electronics for a Best Buy Canada gift card that can be used in-store or online.</p>
          <a href="#">Learn more <i class="fa fa-angle-right"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
