<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <title>Component Modal</title>
  <meta name="description" content="Module Reference" />
  <meta name="keywords" content="module, reference, nga" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="/bower_components/core-assets/styles/core.min.css">
  <link rel="stylesheet" href="/bower_components/core-assets/styles/marketplace.min.css">

</head>

<body id="ng-app" data-ng-app="exampleApp">
  <div class="container" data-ng-controller="MainController">
    <div class="row">
      <h1>Component Modal</h1>
      <p><a href="single-modal.html" class="btn btn-primary">Single Modal</a></p>
      <p><a href="multi-step.html" class="btn btn-primary">Multistep Modal</a></p>
      <p><a href="no-navigation-modal.html" class="btn btn-primary">Multistep Modal without navigation</a>
        <br>
        <br>
      </p>

      <p><a href="#" data-ng-click="openModal()" class="btn-demo btn btn-primary" data-ng-cloak="true">Demo modal (protractor)</a></p>
    </div>

  <script src="/bower_components/core-assets/scripts/core-vendor.min.js"></script>
  <script src="/bower_components/core-assets/scripts/core-app.min.js"></script>

  <!-- bower:js -->
  <!-- endinject -->
  <!-- inject:js -->
  <script src="scripts/bbyModal-app.min.js"></script>
  <!-- endinject -->

    <script type="text/ng-template" id="modal">
      <div bby-wizard class="slide-container" transition="slide" navigation="true" on-finish="finishAction()">
        <div bby-wizard-section template="dynamic" on-enter="getProducts()" title="Dynamic"></div>
        <div bby-wizard-section title="Static">
          <h1>Static</h1>
          <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em>            Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum
            orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="dynamic">
      <h1 id="dynamicTitle">Dynamic</h1>
      <ul>
        <li ng-repeat="product in products | limitTo: 10">
          {{ product.name}}
        </li>
        <ul>
    </script>
    <script>
      'use strict';
      var app = angular.module('exampleApp', ['modal','ngDialog']);
      app.factory('ProductsFactory', function() {
        var url = 'http://www.bestbuy.ca/api/v2/json/search';
        return {
          all: function() {
            return $.ajax({
              url: url,
              type: 'get',
              jsonpCallback: 'products',
              dataType: 'jsonp',
              cache: true
            });
          }
        };
      });
      app.controller('MainController', ['$scope', 'ProductsFactory', 'ngDialog', function($scope, ProductsFactory, ngDialog) {
        $scope.buttonLabel = 'Open modal';
        $scope.products = [];
        $scope.openModal = function() {
          ngDialog.open({
            template: 'modal',
            scope: $scope,
            showClose: false
          });
        };
        $scope.getProducts = function() {
          ProductsFactory.all().done(function(data) {
            $scope.products = data.products;
            $scope.$digest();
          });
        };
        $scope.finishAction = function() {
          alert('This is the end');
        };
      }]);
    </script>
  </div>
</body>

</html>
