// Best Buy animations

// animations mixins
// --------------------------
.animation (@arguments) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	-o-animation: @arguments;
	animation: @arguments;
}


// fade in
// --------------------------
@-webkit-keyframes fadeIn{.fadeIn;}
@-moz-keyframes fadeIn{.fadeIn;}
@-o-keyframes fadeIn{.fadeIn;}
@keyframes fadeIn{.fadeIn;}

.fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

.fade-in {
	.animation(fadeIn 1.5s);
}


// fade in down
// --------------------------
@-webkit-keyframes fadeInDown{.fadeInDown;}
@-moz-keyframes fadeInDown{.fadeInDown;}
@-o-keyframes fadeInDown{.fadeInDown;}
@keyframes fadeInDown{.fadeInDown;}

.fadeInDown {
	0% {
		opacity: 0;
		.translate(0, -15px);
	}

	100% {
		opacity: 1;
		.translate(0, 0);
	}
}

.fade-in-down {
	.animation (fadeInDown 1.5s);
}


// fade in up
// --------------------------
@-webkit-keyframes fadeInUp{.fadeInUp;}
@-moz-keyframes fadeInUp{.fadeInUp;}
@-o-keyframes fadeInUp{.fadeInUp;}
@keyframes fadeInUp{.fadeInUp;}
.fadeInUp {
	0% {
		opacity: 0;
		.translate(0, 20px);
	}
	
	100% {
		opacity: 1;
		.translate(0, 0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}


// fade out
// --------------------------
@-webkit-keyframes fadeOut{.fadeOut;}
@-moz-keyframes fadeOut{.fadeOut;}
@-o-keyframes fadeOut{.fadeOut;}
@keyframes fadeOut{.fadeOut;}

.fadeOut {
	0% {opacity: 1;}	
	100% {opacity: 0;}
}

.fade-out {
	.animation(fadeOut 1.5s);
}

// ui-carousel-item-wrap
// --------------------------
@-webkit-keyframes overlayOut{.overlayOut;}
@-moz-keyframes overlayOut{.overlayOut;}
@-o-keyframes overlayOut{.overlayOut;}
@keyframes overlayOut{.overlayOut;}

@-webkit-keyframes overlayIn{.overlayIn;}
@-moz-keyframes overlayIn{.overlayIn;}
@-o-keyframes overlayIn{.overlayIn;}
@keyframes overlayIn{.overlayIn;}

.overlayOut {
	0% {
		opacity: 1;
		height: 100%;
	}
	99% {
		opacity: 0;
		height: 100%;
	}
	100% {
		opacity: 0;
		height: 0;
	}
}

.overlayIn {
	0% {
		opacity: 0;
		height: 0
	}
	1% {
		opacity: 0;
		height: 100%;
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}

.overlay-out {
	.animation(overlayOut 0.6s forwards);
}

.overlay-in {
	.animation(overlayIn 0.6s forwards);
}


// fade out up
// --------------------------
@-webkit-keyframes fadeOutUp{.fadeOutUp;}
@-moz-keyframes fadeOutUp{.fadeOutUp;}
@-o-keyframes fadeOutUp{.fadeOutUp;}
@keyframes fadeOutUp{.fadeOutUp;}

.fadeOutUp {
	0% {
		opacity: 0;
		.translate(0, 0);
	}

	100% {
		opacity: 1;
		.translate(0, -15px);
	}
}

.fade-out-upn {
	.animation (fadeOutUp 1.5s);
}


// drop from top
// --------------------------
@-webkit-keyframes dropTop{.dropTop;}
@-moz-keyframes dropTop{.dropTop;}
@-o-keyframes dropTop{.dropTop;}
@keyframes dropTop{.dropTop;}

.dropTop {
	0% {
		opacity: 0;
		.translate(0,-1000px);
	}
	
	60% {
		opacity: 1;
		.translate(0,40px);
	}

	80% {
		.translate(0,-15px);
	}
	
	100% {
		.translate(0,0);
	}
}

.drop-from-top {
	.animation(dropTop 2s);
}
