// Best Buy buttons

// BBY button variables
// -------------------------

// btn
@btnBgStart:                        #f5f5f5;
@btnBgEnd:                          #bebebe;

@btnHoverBgStart:                   #f5f5f5;
@btnHoverBgEnd:                     #7b7b77;

@btnActiveBgStart:                  @btnHoverBgEnd;
@btnActiveBgEnd:                    @btnHoverBgStart;

@btnDisabledBgStart:                #ebebeb;
@btnDisabledBgEnd:                  #f5f5f5;

@btnBorder:                         #bababa;
@btnDisabledBorder:                 #9d9fa2;

// btn primary
@btnPrimaryBgStart:                 #83b7db;
@btnPrimaryBgEnd:                   #003b65;
@btnPrimaryColor1:                  #2a6ba7;
@btnPrimaryStop1:                   52%;

@btnPrimaryHoverBgStart:            #00508c;
@btnPrimaryHoverBgEnd:              #87c3ed;
@btnPrimaryHoverColor1:             #1d81dd;
@btnPrimaryHoverStop1:              52%;

@btnPrimaryActiveBgStart:           @btnPrimaryHoverBgStart;
@btnPrimaryActiveBgEnd:             @btnPrimaryHoverBgEnd;
@btnPrimaryActiveColor1:            @btnPrimaryHoverColor1;
@btnPrimaryActiveStop1:             @btnPrimaryHoverStop1;

@btnPrimaryBorder:                  #1c7ed9;
@btnPrimaryDisabledBorder:          #e5e5e5;

@btnPrimaryDisabledBgStart:         #d9e7f3;
@btnPrimaryDisabledBgEnd:           #b2cee1;

// btn PrimaryAlt
@btnPrimaryAltBgStart:              #fff657;
@btnPrimaryAltBgEnd:                #ffd800;
@btnPrimaryAltColor1:               #f3df00;
@btnPrimaryAltStop1:                52%;

@btnPrimaryAltHoverBgStart:         #fffbb3;
@btnPrimaryAltHoverBgEnd:           @btnPrimaryAltBgEnd;

@btnPrimaryAltActiveBgStart:        @btnPrimaryAltHoverBgEnd;
@btnPrimaryAltActiveBgEnd:          @btnPrimaryAltHoverBgStart;

@btnPrimaryAltBorder:               @btnPrimaryAltBgEnd;

@btnPrimaryAltDisabledBgStart:      #fffbb2;
@btnPrimaryAltDisabledBgEnd:        #feee8c;

// btn secondary
@btnSecondaryBgStart:               #f5f5f5;
@btnSecondaryBgEnd:                 #bebebe;
@btnSecondaryColor1:                #d3d3d3;
@btnSecondaryStop1:                 52%;

@btnSecondaryHoverBgStart:          #ffffff;
@btnSecondaryHoverBgEnd:            #7B7B77;
@btnSecondaryHoverColor1:           #c7c8ca;
@btnSecondaryHoverStop1:            52%;

@btnSecondaryActiveBgStart:         @btnSecondaryHoverBgEnd;
@btnSecondaryActiveBgEnd:           @btnSecondaryHoverBgStart;
@btnSecondaryActiveColor1:          @btnSecondaryHoverColor1;
@btnSecondaryActiveStop1:           @btnSecondaryHoverStop1;

@btnSecondaryBorder:                #9d9fa2;

@btnSecondaryDisabledBGStart:       #fafafa;
@btnSecondaryDisabledBGEnd:         #d4d5d5;

// btn cancel
@btnCancelText:                     @linkColor;
@btnCancelTextHover:                @linkColorHover;


// mixins - setting base buttons elements
// --------------------------------------------------
.button-base (@font-size, @font-weight, @height, @padding-x, @padding-y) {
	font-size: @font-size;
	font-weight: @font-weight;
	height: @height;
	line-height: @height;
	padding: @padding-x @padding-y;
}


// default button / action button
// --------------------------------------------------
.btn {
	.button-base(12px, bold, 24px, 0, 15px);
	border: 1px solid @btnBorder;
	.border-radius(6px);
	.box-shadow(inset 0 0 2px @bbyGray + #010101);
	.gradient(@btnBgStart, @btnBgEnd);
	cursor: pointer;
	display: inline-block;
	.ie7-inline-block();
	.ie7-restore-left-whitespace();
	margin: 0 8px 0 0;
	text-align: center;
	text-shadow: 1px -1px 1px @white;
	vertical-align: middle;

	&:hover, &.active, &:active {
		.gradient(@btnHoverBgStart, @btnHoverBgEnd);
	}

	&:last-child {
		margin: 0;
	}
	
	a, a:visited, a:hover, a:active {
        display: block;
		color: #2e3337;
		text-shadow: 1px -1px 1px @white;
		text-decoration: none;
	}
	
	&.loading {
		position: relative;
		text-indent: -9999px;
		&:before {
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background-position: center center;
			background-repeat: no-repeat;
			top: 0;
			left: 0;
		}

		&.disabled {
			.gradient(@btnBgStart, @btnBgEnd);
		}
	}
    
     &:focus {outline:none;}		
}

button:focus {outline:none;}

// common button styling
.btn-primary,
.btn-secondary,
.btn-primary-alt {
  &:hover {
    a {
      text-decoration: none;
    }
  }
}

// overriding default link colour
.btn,
.btn:hover,
.btn:active,
.btn.active, 
.btn:visited {
	color: @black;
	text-decoration: none;
}
	
// focus
.btn:focus {
	//.tab-focus();
}

// disabled state
.btn.disabled,
.btn[disabled],
.disabled .btn,
.btn.disabled:hover,
.btn[disabled]:hover,
.disabled .btn:hover,
.btn.disabled:active,
.btn[disabled]:active,
.disabled .btn:active,
.modal-footer .btn-primary.disabled,
.modal-footer .btn-primary.disabled:hover {
	border: 1px solid @btnDisabledBorder;
	.gradient(@btnDisabledBgStart, @btnDisabledBgEnd);
	.box-shadow(none);
	cursor: default;
	text-shadow: none;
	text-decoration: none;
}

.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary.disabled,
.btn-primary.disabled a,
.btn-primary.disabled a:hover,
.disabled .btn-primary,
.btn-primary.disabled:hover,
.disabled .btn-primary:hover,
.modal-footer .btn-primary.disabled,
.modal-footer .btn-primary.disabled:hover {
	.gradient(@btnPrimaryDisabledBgStart, @btnPrimaryDisabledBgEnd);
    
    border: 1px solid #e5e5e5;
	text-shadow: none;
}

.btn-primary.disabled a,
.btn-primary.disabled a:hover {
    border: none;
}

.btn-PrimaryAlt[disabled],
.btn-PrimaryAlt[disabled]:hover,
.btn-primary-alt.disabled,
.btn-primary-alt.disabled:hover,
.btn-PrimaryAlt.disabled,
.disabled .btn-PrimaryAlt,
.btn-PrimaryAlt.disabled:hover,
.disabled .btn-PrimaryAlt:hover, 
.modal-footer .btn-primary.disabled,
.modal-footer .btn-primary.disabled:hover {
	border: 1px solid #ffed8c;
	.gradient(@btnPrimaryAltDisabledBgStart, @btnPrimaryAltDisabledBgEnd);
}

.disabled a,
.btn-primary-alt.disabled a,
.btn.disabled,
.btn[disabled],
.disabled .btn,
.btn.disabled:hover,
.btn[disabled]:hover,
.disabled .btn:hover,
.disabled a:hover,
.btn.disabled:active,
.btn[disabled]:active,
.disabled .btn:active,
.btn.disabled:visited,
.btn[disabled]:visited,
.disabled .btn:visited,
.disabled.ui-link,
.modal-footer .btn-primary.disabled,
.modal-footer .btn-primary.disabled:hover {
	color: #ccc;
    cursor: default;
    text-shadow: none;
}


// Alternate buttons
// --------------------------------------------------


// primary button
// --------------------------------------------------
.btn-primary {
	.button-base(16px, bold, 37px, 0, 15px);
	border: 1px solid @btnPrimaryBorder;
	.border-radius(6px);
	.gradient(@btnPrimaryBgStart, @btnPrimaryBgEnd, @btnPrimaryStop1, @btnPrimaryColor1);
	min-width: 180px;
	text-shadow: -1px -1px 0px #000; /* mixin */
	
	&:hover {
		.gradient(@btnPrimaryHoverBgEnd, @btnPrimaryHoverBgStart, @btnPrimaryHoverStop1, @btnPrimaryHoverColor1);
	}
	
	&.active,
	&:active {
		.gradient(@btnPrimaryActiveBgEnd, @btnPrimaryActiveBgStart, @btnPrimaryActiveStop1, @btnPrimaryActiveColor1);
	}
	
	a, a:active, a:hover, a:visited {
		color: #fff;
		text-decoration: none;
		text-shadow: -1px -1px 0 #000;
	}

	a {
		span {
			img {
				vertical-align: top;
				margin: 6px 6px 0 0;
				float: none; // IE 7 fix override
			}
		}
	}
	
	&.loading {
		&:before {
			background-image: url('/assets/ui/sm_loading_bby.gif');
		}

		&.disabled {
			.gradient(@btnPrimaryBgStart, @btnPrimaryBgEnd, @btnPrimaryStop1, @btnPrimaryColor1);	
		}
	}
}


// PrimaryAlt button
// --------------------------------------------------
.btn-primary-alt {
	.button-base(16px, bold, 37px, 0, 15px);
	border: 1px solid @btnPrimaryAltBorder;
	.border-radius(6px);
	.gradient(@btnPrimaryAltBgStart, @btnPrimaryAltBgEnd, @btnPrimaryAltStop1, @btnPrimaryAltColor1);
	min-width: 180px;
	text-shadow: 1px 1px @white;  
	&:hover {
		.gradient(@btnPrimaryAltHoverBgStart, @btnPrimaryAltHoverBgEnd);
	}
	
	&.active,
	&:active {
		.gradient(@btnPrimaryAltActiveBgEnd, @btnPrimaryAltActiveBgStart);
	}
	a {
	color: #2e3337;
	}

	&.loading {
		&:before {
			background-image: url('/assets/ui/sm_loading_bby_bg_yellow.gif');
		}

		&.disabled {
			.gradient(@btnPrimaryAltBgStart, @btnPrimaryAltBgEnd, @btnPrimaryAltStop1, @btnPrimaryAltColor1);
		}
	}

	.fr-CA & {
		font-size: 15px;
	}
}


// secondary button
// --------------------------------------------------
.btn-secondary {
	.button-base(16px, bold, 37px, 0, 15px);
	border: 1px solid @btnSecondaryBorder;
	.box-shadow(inset 0 0 2px #FFF);
	.border-radius(6px);
	.gradient(@btnSecondaryBgStart, @btnSecondaryBgEnd, @btnSecondaryStop1, @btnSecondaryColor1);
	text-shadow: 1px 1px @white; 
	
	&:hover {
		.gradient(@btnSecondaryHoverBgStart, @btnSecondaryHoverBgEnd, @btnSecondaryHoverStop1, @btnSecondaryHoverColor1);
	}
	
	&.active,
	&:active {
		.gradient(@btnSecondaryActiveBgStart, @btnSecondaryActiveBgEnd, @btnSecondaryActiveStop1, @btnSecondaryActiveColor1);
	}
}

// cancel button
// --------------------------------------------------
.btn-cancel,
.btn-cancel:hover,
.btn-cancel:active {
	.button-base(14px, bold, 36px, 0, 16px);
	border: none;
	background: none;
	.box-shadow(none);
	color: @btnCancelText;
}

.btn-cancel:hover {
	color: @btnCancelTextHover;
	text-decoration: underline;
}

.btn-previous {
	background-position: -57px -185px;
	float: left;
	line-height: @baseLineHeight;
	height: 36px;
	width: 36px;
	padding: 0;
	position: relative;
	top: -9px;
	right: 10px;
	.hide-text;
	&:hover {
		cursor: pointer;
	}
}


// checkout button
// --------------------------------------------------
.btn-checkout .btn-primary{
  .box-shadow(inset 0 0 2px @bbyGray + #010101);
}


// set text color
// -------------------------
.btn-primary,
.btn-primary:hover,
.btn-primary:visited{
	color: @white;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:visited{
	color: @black;  
}


// medium button
// -------------------------
.btn-medium{
	.button-base (14px, bold, 29px, 0px, 15px);
	min-width: 0px;
}


// small button
// -------------------------
.btn-small{
	.button-base (12px, 700, 27px, 0, 10px);
	min-width: 0px;
}


// paypal button
// --------------------------------------------------
.btn-paypal{
	background: transparent url('/images/buttons/btn_paypal_en.gif') no-repeat left top;
	opacity: 1;
	
	a {
		width: 282px;
		height: 37px;
		cursor: pointer;  
		display: block;
	}

	&:hover{
		opacity: 0.85;    
	}   

	&.disabled{
		opacity: 0.25;
		
		a {
			cursor: default;
		}
	}

	&.btn-primary {
		background-image: none;
	}
}


// -----------------------------------
// MCCP button legacy from default.css
// -----------------------------------
.mccpblue .mccpmain, .mccpblue .mccpmainleft, .mccpblue .mccpmainleft2, .mccpblue .mccpmainright, .mccpblue .mccpmainright2 {
	float: left;
	height: 25px;
	width: auto;
}

.mccpblue .mccpmain {
	background: url(/images/common/buttons/mccpbluebackground.gif) repeat-x;
}

.mccpblue .mccpmainleft, .mccpblue .mccpmainleft2 {
	background: url(/images/common/buttons/mccpbluebgleft.gif) no-repeat top left;
}

.mccpblue .mccpmain input, .mccpgray .mccpmain input {
	padding-left: 4px !important;
	padding-right: 4px;
}

.mccpblue .mccpmainleft2 input, .mccpgray .mccpmainleft2 input {
	padding-left: 13px !important;
	padding-right: 5px;
}

.mccpblue .mccpmainright2 input, .mccpgray .mccpmainright2 input {
	padding-right: 13px !important;
	padding-left: 5px;
}

.mccpblue .mccpmainright, .mccpblue .mccpmainright2 {
	background: url(/images/common/buttons/mccpbluebgright.gif) no-repeat top right;
}

.mccpblue .mccpleft {
	float: left;
	height: 25px;
	width: auto;
	background: url(/images/common/buttons/mccpblueleft.gif) no-repeat top left;
}

.mccpblue .leftarrow {
	height: 25px;
	background: url(/images/common/buttons/mccpblueleftarrow.gif) no-repeat top left;
}

.mccpblue .mccpright {
	float: left;
	overflow: hidden;
	height: 25px;
	width: auto;
	text-align: center;
	background: url(/images/common/buttons/mccpblueright.gif) no-repeat top right;
}

.mccpblue .rightarrow {
	height: 25px;
	background: url(/images/common/buttons/mccpbluerightarrow.gif) no-repeat top right;
}

// GRAY
.mccpgray .mccpmain, .mccpgray .mccpmainleft, .mccpgray .mccpmainleft2, .mccpgray .mccpmainright, .mccpgray .mccpmainright2 {
	float: left;
	height: 25px;
	overflow: hidden;
	cursor: pointer;
}

.mccpgray .mccpmain {
	background: url(/images/common/buttons/mccpgraybackground.gif) repeat-x;
}

.mccpgray .mccpmainleft, .mccpgray .mccpmainleft2 {
	background: url(/images/common/buttons/mccpgreybgleft.gif) no-repeat top left;
}

.mccpgray .mccpmainright, .mccpgray .mccpmainright2 {
	background: url(/images/common/buttons/mccpgreybgright.gif) no-repeat top right;
}

.mccpgray .mccpleft {
	float: left;
	height: 25px;
	width: auto;
	background: url(/images/common/buttons/mccpgrayleft.gif) no-repeat top left;
}

.mccpgray .leftarrow {
	height: 25px;
	background: url(/images/common/buttons/mccpgrayleftarrow.gif) no-repeat top left;
}

.mccpgray .mccpright {
	float: left;
	height: 25px;
	width: auto;
	background: url(/images/common/buttons/mccpgrayright.gif) no-repeat top right;
}

.mccpgray .rightarrow {
	height: 25px;
	background: url(/images/common/buttons/mccpgrayrightarrow.gif) no-repeat top right;
}

// SMALL GRAY
.mccpsmall {
	height: 17px;
	background: url(/images/common/buttons/mccpsmallleft.gif) no-repeat top left;
	padding-left: 6px;
}

.mccpsmall .mccpmain {
	float: left;
	height: 17px;
	background: url(/images/common/buttons/mccpsmallbackground.gif) no-repeat right;
	padding: 0 !important;
	margin: 0 !important;
	display: block;
}

.mccpsmall .mccpright {
	display: none;
}

// DEFAULT
.btnmccpstd {
	cursor: pointer;
	font-weight: bold !important;
	font-size: 11px;
	background: transparent;
	border: 0;
	padding: 4px 12px 5px 12px !important;
	overflow: visible;
	line-height: 14px;
	color: #2e3337 !important;
	text-align: center;
	display: block;
}

.rightarrow .btnmccpstd {
	padding-right: 25px !important;
}

.leftarrow .btnmccpstd {
	padding-left: 25px !important;
}

.mccpsmall .btnmccpstd {
	padding: 1px 5px 0 5px;
}

.mccpblue .mccpmain a:hover, .mccpgray .mccpmain a:hover, .mccpsmall .mccpmain a:hover {
	text-decoration: none !important;
}

.btnmccpsmall {
	cursor: pointer;
	font: bold 9px Tahoma !important;
	background: transparent;
	border-width: 0px;
	min-width: 15px;
	color: #2e3337 !important;
	overflow: visible;
	line-height: 9px;
	padding: 3px 7px 3px 8px;
	margin-left: -6px;
	display: block;
}

// GLOBAL
.mccpblue, .mccpgray, .mccpsmall {
	overflow: hidden;
	margin-right: 4px;
}


// disabled buttons
// --------------------------
.mccpblue .point {
	.opacity(45);
}

.mccpblue .point .btnmccpstd,
.btnmccpstd a.point {
	color: #666 !important;
	cursor: default !important;
}


/* MCCP Button General Fix */

.mccp-css {
	
	.btn-wrapper {

		text-align: center;
		float: left;

		img {

			float: left;
			margin: 6px 4px 0 0px;
		}

		.mccpblue {

			margin: 0px;

			.mccpmain,
			.mccpleft,
			.mccpright {

				float: none;
				height: auto;
				width: auto !important;
				background: none;

				a {

					vertical-align: top;
				}
				
				.btnmccpstd {
					color: #FFF !important;
				}
			}
		}
	}
}

// MCCP button override

.btn-override {

	.mccpsmall,
	.mccpmain,
	.btnmccpsmall {
		background: none;
		height: inherit;
		font-size: inherit;
	}

	.mccpmain a {
		font-size: 12px !important;
		line-height: 12px;
		padding: 4px 7px 3px 8px
	}
}