// Cart Specific Styling
.sold-shipped-by {
    background: #d4eff4;
    padding: 12px 20px;

    a {
        margin-top: 0;
        margin-left: 8px;
    }

    p {
        line-height: 100%;
        margin-bottom: 0 !important;
    }

    small {
        font-size: 12px;
    }
}

.bottom-cart-buttons {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}


.cart-list li:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
}

ul.cart-list {
    margin-bottom: 0;
}

.cart-line-item {
    list-style: none;
}