// Best Buy Catalog Page styles

// Product Detail
// PRODUCT DETAIL PAGE OVERVIEW
// PDP OVERVIEW STANDARD RATING SYTEM
// PRICE BLOCK PDP
// PDP STANDARD LIST
// PDP Standard table
// PDP STANDARD RATING SYTEM
// Warranty


#productdetail {    
	clear: both;
	margin: 0 0 20px 0;
	overflow: hidden;

	h1,
	.p-new {
		line-height: 24px;
	}

	.left{    
		float:left;
		width:300px;
		padding:0 10px 0 0;	
	
		.img300x300 {    	
			padding: 0 0 5px 0;
			cursor:pointer;
		}

		a.largerimg {    	
			float: left;		
			margin: 0 6px 5px 0;
		}

		.image-set{    	
			float:right;
			font-size:11px;
			margin-right:5px;
		}

		.color-options{   	
			font-weight:bold;
			padding:5px 0 5px 0;
			clear:both;
		}

		.color-options .small{
			font-size:11px;
		}

		.color-options div{
			float:left;
			text-align:center;
			padding-right:5px;
		}

		.color-options a{
			font-size:11px;
			font-weight:normal;
			display: block;
		}

		.color-options .colors{
			margin:2px 0 7px 0;
		}

		.color-options img {
			width: 24px;
			height: 24px;
			border: 1px solid #C3C1C1 !important;
		}

		.pdp-brand-store {
			float: right;
		}

	} //left

	.right {
		float: left;
		width: 610px;
	

		#pdpoverview {
			padding: 10px 12px 5px 14px;
			background: url(/images/common/backgrounds/pdp_overview_top.png) no-repeat left top;
			border-bottom: 1px solid #ccc;
		}
	} //right

	.demo-wrapper {
		float: left;
		margin: 0 0 5px;
	}

	.360view-wrapper {
		float:left;
		margin:0 0 5px;
	}
} //#productdetail

.psp-image{
	padding: 0 8px 10px 0;
	float: left;
}

// PRODUCT DETAIL PAGE OVERVIEW 

#pdpoverview {
	h1,
	.p-new {
		display: inline;
		padding:0 0 4px 0;
		margin:0;
		font-size:20px;
		position: relative;
	}
	
	.p-new {
		color: red;
		font-weight: bold;
		margin: 0 8px 0 0;
	}

	.content .hdr { 	
		font-weight: bold;
		margin-bottom: 2px;
	}

	.sof-control {
		margin-bottom: 15px;
	}

	.content ul li{
		padding-top:2px;
	}

	.infos{		
		padding-bottom:3px;
		clear:both;
		position: relative;
	}

	.infos li{		
		background:url(/images/common/backgrounds/shiphead_divider.gif) no-repeat 0 1px;	
		padding-left:8px;
		margin-left:6px;
		display:inline;
	}

	.infos .first{		
		background:none;
		display:inline;
		margin-left:0 !important;
		padding-left:0 !important;
	}

	.content{    
		margin: 14px 0 0 0;
		background: url(/images/common/backgrounds/pdpoverview_dashedsep.gif) repeat-y top left;
		/* min-height: 200px; */
	}

	.content .onsale{    
		width:228px;
		padding:0 15px 0 0;	
		float:left;	
	}

	.content .shipping {
		float: left;
		padding: 0 13px;
		width: 158px;
	}

	.shipping .question-icon {
		position: relative;
		top: 2px;
	}
}//pdpoverview

// availability messaging starts

#pdpoverview {
	
	.availability-message h6 {
		font-size: 12px;
		margin: 0 0 2px;
	}

	.order-online {
		margin: 0 0 12px;
		border-bottom: 1px dashed #999;
		padding: 0 0 13px;
	}

	.online-quantity {
		padding: 12px 0 0;
	}

	.content .availability-message ul li {
		padding: 0;
	}

	.content .availability-message ul .inner {
		margin: 0 0 2px;
	}

	.content .availability-message ul .separator {
		display: none;
		font-size: 0px;
		line-height: 0;
		height: 0px;
	}

	.availability-message .limit {
		font-style: italic;
		margin-top: 12px;
		font-size: 11px;
	}

	.check-more-stores {
		margin-top: 12px;
		font-weight: bold;
	}

	.order-ispu {
		padding-bottom: 13px;
	}
}//pdpoverview

// availability messaging ends

.buttons .btnLink {
	margin: 5px 0 0 16px;
	display: block;
}

.skulist .buttons .btnLink {
	margin: 5px 0 0 2px;
}

#pdpoverview {

	.buttons {
		width: 155px;
		padding: 0;	
		overflow: hidden;
		float: left;
	}

	.buttons .mccpgray{
		margin:6px 0 0 0;	
		clear:both;
		text-align:center;
	}

	.buttons .mccpblue{	
		clear:both;
		text-align:center;
	}

	.buttons .mccpright{	
		text-align:center;	
		width:135px;	
	}

	.buttons .mccpblue, 
	.buttons .mccpgray, 
	.buttons .mccpsmall{
		margin-right:0px;
		margin-left:15px;
	}
}

// PDP OVERVIEW STANDARD RATING SYTEM

#pdpoverview {
	
	.std-ratingsystem p {
		float: left;
		width: 420px;
	}

	.std-ratingsystem p.mpaa {
		width: 500px;
	}

	.std-ratingsystem p span, 
	.std-ratingsystem p a {
		display: block;
	}
}


// PRICE BLOCK PDP 

#pdpoverview {

	.priceblock {	
		font-weight: normal;
		margin: 0 0 2px 0;
		overflow: hidden;	
		clear: both;
		font-size: 18px;
		font-weight: bold;
	}

	.priceblock .pricetitle{    
		float:left;		
	}

	.priceblock .price {  
		float: right;	
		white-space: nowrap;	
		text-align: right;
	}

	.sale-regular .pricetitle, 
	.sale-regular .price { 
		font-size: 12px !important;	
		font-weight: normal !important;
		color: #000;
	}

	.priceblock.sale {    	
		color: #ff0000;		
		margin: 0;
	}

	.details {
		float: right;
		clear: both;
	}

	.lowestprice {
		font-size: 12px;
		font-weight: normal;
		padding-top: 3px;
		clear: both;
	}

	.sale-end {    	
		font-size: 12px;
		font-weight: bold;	
		display: block;
		clear: both;
		padding: 5px 0 0 0;
		color: #000;	
	}

	.price {
		width: 90px;
		white-space: nowrap;	
	}
}//pdpoverview 

#social-media span {
	display: block;
	float:left;
}

#social-media .gplusone {
	width: 73px;
}

*html #social-media .gplusone {
	width: 0;
}

#pdpoverview .pdp-plugin-article {
	width: 140px;
	float:left;
}

// these are used in tabbed layouts of pdp 

#pdptabs {
	margin: 0;
	float: none;
	background: transparent url('/Projects/MTH/Assets/tab_bg_sprite.gif') repeat-x left bottom;
	zoom: 1;
}

#pdptabs .layout_tabs {
	vertical-align: middle;
	background: url('/Projects/MTH/Assets/tab_bg_sprite.gif') no-repeat right top;
	margin: 0 3px 0 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	float: left;
	display: inline;
}

.tabs_container {
	float: left;
	background: url('/Projects/MTH/Assets/tab_bg_sprite.gif') no-repeat left bottom;
}

#pdptabs .layout_tabs .left_bg {
	background: url('/Projects/MTH/Assets/tab_bg_sprite.gif') no-repeat left top;
	width: 9px;
	height: 40px;
	float: left;

	.fr-CA &{
		width: 6px;
	}
}

#pdptabs .layout_tabs a, 
#pdptabs .selected a {
	vertical-align: middle;
	text-decoration: none;
	color: #000;
	text-align: center;
	font-weight: normal;
	display: block;
	float: left;
	padding: 11px 9px 13px 0;
	zoom: 1;

	.fr-CA & {
	
		padding: 11px 4px 13px 0;
		font-size: 11px;
	}
}

#pdptabs .selected .layout_tabs, #pdptabs .selected .layout_tabs:hover {
	background-position: right -40px;
	cursor: pointer;
}

#pdptabs .layout_tabs:hover {
	background-position: right -80px;
	cursor: pointer;
}

#pdptabs .selected .left_bg, #pdptabs .selected .layout_tabs:hover .left_bg {
	background-position: left -40px;
}

#pdptabs .layout_tabs:hover .left_bg {
	background-position: left -80px;
}

#pdptabs .layout_tabs.selected a, #pdptabs .selected a {
	font-weight: bold;
}

// GENERAL LISTS 

.skublocklist h4 {
	display: inline;
}

.skublocklist .p-new {
	display: inline;
	font-size: 13px;
	font-weight: bold;
	color: red;
}

// PDP GENERAL TAB CONTENT 

.tabcontent {
	background: #ffffff;
	border: 1px solid #cccccc;
	border-top: none;
	padding: 18px;  
	overflow: hidden;
	clear: both;

	h2 {
		font-size:16px;
		font-weight:bold;	
	}

	h2 span{
		font-size:16px;
		font-weight:bold;	
	}

	h3 {
		font-size:12px;
		font-weight:bold;	
	}

	h4 {
		font-size:14px;
		margin:0 0 3px 5px;
	}

	.skublocklist h4 {
		margin-left: 0;
		margin-bottom: 0;
	}

	p,
	ul {	
		margin-bottom:12px;
	}

	.hr-dashed, 
	.hr {	
		margin:15px 0 15px 0;
	}

	p.policies {
		font-size:10px;
		color:#666;
	}

	p.rating {
		font-weight:bold;
		padding:0;
		overflow:auto;
		margin-bottom:0px;
	}

	p.rating span {	
		padding: 0 4px 0 0;	
	}

	p.rating-numbers {	
		font-size:11px;
		color:#666;
	}

	.rating-list .review {	
		overflow:auto;
		height:100%;
		clear:both;
		padding-bottom:4px;
	}

	.rating-list .review span, 
	.rating span {	
		float: left;
		padding-right: 5px;
		width: 90px;
	}

	.rating-list .review span.rating-score{
		width: auto;
		padding-left: 5px;        
	}   

	.rating-list .review span.nbr, 
	.rating span.nbr {		
		padding: 0;
		margin-left: 4px;
		width: auto;
	}

	.rating img, 
	.rating span {
		float: left;
		margin-right: 1px;
	}

	.skublocklist .rating img, 
	.rating span {
		margin-right: 0 !important;
	}

	.rating span.nbr{
		font-weight: bold;
		margin-left: 4px;
	}

	.rating-list .review .empty {		
		padding:1px;
		margin-top:3px;
		width:77px;
		height:9px;
		background:url(/images/common/backgrounds/ratingattribback.gif) no-repeat left top; 
		float:left;	
	}

	.rating-list .review .empty .fill {			
		background:url(/images/common/backgrounds/ratinglistfill.gif) no-repeat top right;		
		height:9px;
	}
}//tabcontent

//PDP STANDARD LIST

.tabcontent {

	ul.std-tablist {
		padding: 0 0 9px 0;
		overflow: hidden;
	}

	ul.std-tablist li {
		padding: 3px 5px 3px 5px;
		margin: 0;	
		clear: both;
		overflow: hidden;
	}

	ul.std-tablist li span {
		margin: 0;
		padding: 0;
	}

	ul.std-tablist.music-detail li span,
	ul.std-tablist.music-detail li .time {	
		width:258px;
	}

	ul.std-tablist.music-detail li span.alink{
		width:172px;
	}

	ul.std-tablist.music-detail li .time span {	
		width:auto !important;
		float:left;
		padding-right:5px;
	}

	ul.std-tablist.music-detail li p {	
		width:235px !important;
		float:left;
	}

	.ul.std-tablist li p {
		margin: 0;
		padding: 0;
	}

	ul.std-tablist li.alt {
		background: #f3f3f3;
		height: 100%;
	}

	ul.std-tablist li span.attribute-key {
		width: 250px;
		float: left;
	}

	ul.std-tablist li div.attribute-value {
		width: 442px;
		float: left;
	}

	ul.std-tablist.tab-details li span.attribute-key {
		width: 140px;
		float: left;
	}

	ul.std-tablist.tab-details li div.attribute-value {
		width: 310px;
		float: left;
	}

	.pdplogo {
		float: none;
		margin-left: 2px;
	}
}

// PDP Standard table

.tabcontent {
	table.std-tabtable tr.alt {
		background:#f3f3f3;
	}

	table.std-tabtable tr td {
		padding:2px 6px 3px 6px;	
		vertical-align:top;
	}

	table.std-tabtable tr.hdr {
		background:#e5e5e5;
		text-align:left;
		margin-bottom:2px;
	}

	table.std-tabtable tr.hdr th{
		border-top:solid 1px #ccc; 
		border-bottom:solid 1px #ccc; 
		padding:7px 5px 7px 5px;
		font-weight:bold;
	}

	table.std-tabtable tr.hdr th.first, 
	table.std-tabtable tr.hdr th.last{
		border-left:solid 1px #ccc; 		
	}
}

// PDP STANDARD RATING SYTEM

#pdpoverview {
	
	.std-ratingsystem  {
	width:100%;
	display:block;
	clear:both;
	overflow:auto;
	}

	.std-ratingsystem img {
		float: left;
		padding-right: 10px;	
	}

}

#page .tabcontent ol.std-listnbr li.active a{
	color:#000;

}

.tabcontent {
	.std-ratingsystem {
		padding-bottom:25px;
		width:100%;
		display:block;
		clear:both;
		overflow:auto;
	}

	.std-ratingsystem p {
		float: left;
	}

	.std-ratingsystem img{
		float: left;
		padding-right: 10px;	
	}


	std-ratingsystem p span, 
		.std-ratingsystem p a {
		display: block;
		width: 300px;
	}

	.std-ratingsystem p.mpaa span, 
	.std-ratingsystem p.mpaa a {
		width: 360px;
	}

	ol.std-listnbr {
		font-size:13px;
		font-weight:bold;
		vertical-align:top !important;	
		text-align:left;
		padding:4px 0 9px 0;
		margin-bottom:9px;
		overflow:auto;	
		background:url(/images/common/backgrounds/hrdashed.gif) repeat-x bottom left;      	
	}

	ol.std-listnbr li {	
		padding:4px 0 0 2px;
		color:#003399;
		clear:both;	
	}

	ol.std-listnbr li.active a:link
	ol.std-listnbr li.active label {	
		color:#000;
	}

	ol.std-listnbr li.active a.details {	
		display:none;
	}

	ol.std-listnbr li a.title, 
	ol.std-listnbr li label {	
		float:left;	
	}

	ol.std-listnbr li a.details {	
		float:right;
		font-size:10px;
		font-weight:normal;
		padding-right:5px;
	}

	a{
		color:#003399 !important;
	}
}

.tab-editorial {
	
	div.hr-dashed {
		margin: 10px 0;
	}

	ul.editorial-list .item {
		margin-left: 10px;
	}

	ul.editorial-list h2{
		font-size: 14px;
	}

	ul.editorial-list p.editorial-content {
		margin-top: 10px;
		font-size: 12px;
	}
}

/* STD TAB LIST */
.tab-list {
	
	li{
		vertical-align:top;
		background:#f3f3f3;
		padding:3px 13px 3px 6px;
		clear:both;
		overflow:auto;
	}

	li.alt{
		background:#fff;
	}

	li span{
	   float:left;
	}

	li label{
	   display:inline;
	}
}

/* TAB COMPARE */
.btn-compare .mccpgray{
  margin-right:0 !important;
}

.tab-compare {

	.btn-compare{
	   float: right;
	   clear: both;
	}
	
	h2{
	   font-size: 14px !important; 
	}

	td.infos {
		width: 428px !important;
		vertical-align: top;
	}

	td.prices{
		width:151px !important;
	}

	td.rating{
		display:none;
	}

	.priceblock p{
		display:inline;
		font-size:13px;
		font-weight:bold;
	}

	.sep{
		padding:0 !important;
	}

	.hr{
		margin:0;
		height:3px;
		margin:10px 0 10px 0 !important;
	}

	.paging3cols{
		padding:5px 9px 2px 9px;
		height:22px !important;
	}

	.summary {
		width: 25%;
	}

	.selector {
		width: 29%;
		padding-top:3px !important;
	}

	.show {
		width: 45%;
	}
}

/*TEMP CSS, will have to be done on the DEV side*/

.tab-compare {
	
	.show .results {
		display:none;
	}

	.show .xsmall {
		margin-right:5px;
	}
}

/* COMPARE PRODUCT RESULT */
.tbl-compare{
	width:100%;
	overflow:auto;

	h3{
		padding:0 !important;
	}

	.standardblock{
		padding-left:10px !important;
	}

	td{
		padding-left: 10px;
		padding-right: 9px;
		width: 15%;
	}

	.availability-message {
		background: #f0f0f0;
		padding: 4px 6px;
		font-size: 11px;
		margin-top: 10px;
	}

	.availability-message h6{
		clear: both;
		font-size: 11px;
	}

	.availability-message .inner {
		float: left;
		margin-right: 4px;
	}

	.availability-message .separator {
		margin-right: 4px;
		color: #ccc;
		font-size: 11px;
		float: left;
	}

	.availability-message .limit {
		font-style: italic;
		clear: both;
	}

	.availability-message .check-more-stores {
		clear: both;
	}

	.hdr td{
		height: 30px;
		padding: 0 0 0 10px !important;
		border-top: 1px solid #ccc;
		border-left: 1px solid #fff;
		border-right: 1px solid #ccc;
	}


	.hdr td a, 
	.hdr td h3 {
		font-size: 12px;
		top: -1px;
		position: relative;
	}

	.first{
		padding-bottom: 0px !important;
		font-size: 11px;
	}

	.line-attributes td {
		font-size: 11px;
		padding: 3px 6px 3px 9px !important;
	}

	.overall-rating {
		padding-top: 0 !important;
	}

	.tot-rating {
		font-size: 11px;
		color: #999999;
	}

	.cprc img {
		float: left;
	}

	.cprc .nbr {
		font-size: 11px;
		margin-left: 5px;
		float: left;
		font-weight: bold;
	}

	.prod-image {
		margin-bottom: 7px;
	}

	.img120x40 {
		margin-bottom: 7px;
	}

	.hdr .first{
		border-left:1px solid #ccc !important;
	}

	.top{
		vertical-align:top;
	}

	.remove-cell {
		padding-bottom: 0 !important;
		padding-top: 0 !important;
	}

	.dotted-cell {
		background: url(/images/common/backgrounds/vertical_dashed.gif) repeat-y top left;
	}

	.dotted-cell2 {
		background: url(/images/common/backgrounds/vertical_dashed2.gif) repeat-y top left;
	}

	.alternate {
		background: #f0f0f0;
	}

	.alt-spec-cell{
		background:#f0f0f0 url(/images/Common/backgrounds/vertical_dashed2.gif) repeat-y top left;
	}

	.spacer td{
	   padding: 0;
	   margin: 0;
	   height: 10px;
	}

	.dotted-cell .sale {
		color:#ff0000;
	}

	.dotted-cell .sof-control{
		padding-top: 10px;
		color: #003399;
	}

	.sof-control ul.stdlist2 {
		margin-bottom: 0;
	}

	.sof-control ul.stdlist2 li {
		background-position: 0 5px !important;
		font-size: 11px;
		margin: 0;
	}

	.priceblock p{
		display:inline;
	}

	.priceblock .pricetitle, 
	.priceblock .price {
		font-size: 12px;
		font-weight: bold;
	}
}

h1.res-title{
	color:#ff0000;
}

table.tbl-compare {
	
	td.dotted-cell div.mccpblue, 
	tr.avail-bottom td.dotted-cell ul.availability-message {
		margin-top: 10px;
	}

	td.dotted-cell div.mccpblue{
		margin-right:0px;
	}

	td.dotted-cell div.mccpblue div.mccpright {
		width: 120px;
	}

	td.first div.spc-title{
		margin-bottom:8px;
	}
}

#divTab_compare {

	.tab-compare table.skublocklist td.visual .prod-image img{
		padding-bottom:8px;
	}

	.tab-compare table.skublocklist td.infos p.model {
		font-size: 11px;
	}

	.tab-compare .compare-check{
		vertical-align: top;
	}

	.tab-compare .compare-check input{
		vertical-align:bottom;
		height:13px;
	}

	&.tabcontent h4{
		font-size: 13px;
		margin-bottom: 0;
	}

	.tab-compare td.prices{
		vertical-align:top;
	}

	.tab-compare .priceblock{
		font-weight:bold;
	}

	.tab-compare td.prices .priceblock, 
	.tab-compare td.prices .priceblock .pricetitle, 
	.tab-compare td.prices .priceblock .price{
		font-size:14px;
	}

	.tab-compare td.prices p.details{
		margin-bottom:0;
	}

	.tab-compare .skublocklist .buttons {
		display: none;
	}
}

/* PDP TAB DETAIL NOTE: #177910 changed the width and margin right*/
#divTab_details .customer-rating .rating-title, 
#divTab_custReview .customer-rating .rating-title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 12px;
}

#divTab_details .customer-rating .rating-stars span, 
#divTab_custReview .customer-rating .rating-stars span {
	margin-right: 6px;
}

#divTab_details .customer-rating .rating-stars span.rating-score{
	padding-left: 3px;
}

#divTab_details .customer-rating .rating-stars img, 
#divTab_custReview .customer-rating .rating-stars img {
	margin-right: 1px;
	vertical-align: bottom;
}

#divTab_details .customer-rating .rating-stars .nbr, 
#divTab_custReview .customer-rating .rating-stars .nbr {
	margin: 0 0 0 4px;
	font-weight: bold;
}

#contentleft3 .left h2.rating-title {
	margin-bottom:10px;	
}

#divTab_details {

	h3.bundlesdetails {
		font-size: 16px;
		line-height: 14px;
	}

	.left {
		width:202px;
		margin:0 40px 0 0;
		float:left;
	}

	.box2gray {
		padding:6px;
	}

	.left .stdlist {
		padding-bottom:0px;
	}

	.right {
		width:460px;	
		float:left;
	}

	.hdr {
		font-size: 18px;
		font-weight: bold;
		margin: 0 0 13px 0;
		clear: both;
	}

	.right h2.small {
		font-size: 14px;
		margin: 0 0 13px 0;
	}

	.right .box2gray h2{
		font-size:16px;
		font-weight:bold;
		margin:0;
		padding:0;
	}

	.right p.policies {
		font-size: 10px;
		color: #666;
		margin-top: 15px;
		padding-top: 15px;
		border-top: 1px solid #cccccc;
	}

	h3{
		font-size:16px;
		font-weight:bold;
		margin:15px 0 5px;
	}

	.logos {
		padding-bottom: 12px;
		float: left;
		margin-right: 8px;
	}

	.pdp-bundle-details ol li label {
		display: inline;
		float: none;
	}

	.pdp-bundle-details ol li a.title {
		float: none;
	}

	.pdp-bundle-details .package-desc .logos {
		padding-bottom: 0;
		float: right;
		margin: 0 0 2px 5px;
		width: 75px;
	}

	.pdp-bundle-details .package-desc .logos img {
		width: 75px;
	}

	.pdp-bundle-details .package-desc .logos a {
		font-size: 10px;
	}

	.logo{
		float:left;
		margin-right:10px;
	}

	.left h2{
		margin-bottom:7px;
	}

	.left h3 {
		font-size: 12px;
		margin: 10px 0px 0px 0px;
	}

	.left .learn-more{
		font-weight:bold;
	}

	.right .description ul,
	.description ul {
		padding-left: 15px;
		margin: 12px 0 15px 0;
	}

	.right .description ul li, 
	.description ul li {
		background: transparent url(/images/common/pictures/bulletsmallsquare.gif) no-repeat scroll 0 6px;
		margin-bottom: 4px;
		padding-left: 10px;
	}
}

/* PDP MOVIE DETAILS */
#divTab_details {
	
	table.moviedetails {
		width:460px;
		border-bottom:solid 1px #ccc;
		margin-bottom:20px;
	}

	table.moviedetails tr.hdr th.first{
		width:129px;
	}

	table.moviedetails tr.hdr th.category{
		width:168px;
	}

	table.moviedetails tr.hdr th.status{
		width:92px;
	}

	table.moviedetails tr.hdr th.last{
		width:23px;
		border-left:0;
	}

	.hr-solid {	
		margin-top: 0;	
	}

	.pdp-bundle-details .hr-solid {
		margin-top: 10px;
	}

	.package-desc  {	
		padding-top:1px;
	}

	.package-desc .img {	
		float:left;	
		padding-right:14px;
		text-align:center;
		margin-bottom:10px;
	}

	.package-desc .infos {
		float: left;
		width: 371px;
		overflow: hidden;
	}

	.package-desc .infos h4 {	
		padding:0;
		font-size:13px !important;
		margin:2px 0 14px 0;
	}

	.package-desc .infos span {		
		display:block;
		font-size:11px;
	}

	.package-desc .infos p {	
		padding-bottom:14px;
	}

	.package-desc .right {	
		float:right;
		width:100px;
		padding-left:10px;
		text-align:center;
	}

	h3.boxtitle{
		font-size:18px;   
	}

	ul.specifications li{
		padding:3px 5px;
	}

	.box2gray{
		padding-left:10px;
	}
}

/* PDP TAB SPECS */

#divTab_specs {

	.box2gray {
		padding-top:7px;
		padding-bottom:7px;
	}

	.hr-solid {
		margin: 0 0 15px 0 !important;	
	}

	.left {
		width:192px;	
		float:left;
	}

	.left ol.nbr {
		list-style-type:decimal !important; 
		list-style-position:outside;
		font-size:14px;
		font-weight:bold;	
	}

	.left ol.nbr li {	
		position: relative;
		right: -1px;
		padding: 7px 0 0 0;		
		list-style-type: decimal !important;
		color: #003399;	
		margin: 0 0 0 33px;	
	}

	.left ol.nbr li.first {
		border-top:none !important;
	}

	.left ol.nbr li p {	
		padding:0;
		margin:0;	
	}

	.left ol.nbr li.active {
		background:#fff;
		color:#000;
	}

	.left ol.nbr li.active a:link, 
	.left ol.nbr li.active a:visited, 
	.left ol.nbr li.active a {
		color:#000 !important;
		padding:0 4px 6px 0;
	}

	.left ol.nbr li.active a.details, 
	.left ol.nbr li.active a.details:visited{
		display:none;
	}

	.left ol.nbr li a:link, 
	.left ol.nbr li a, 
	.left ol.nbr li a:visited {	
		text-decoration:none;	
		color:#003399;
		display:block;
		padding:0 4px 6px 0;
		line-height:18px;
		position:relative;
		left:-6px;	
	}

	.left ol.nbr li a.details {		
		padding:0 6px 9px 0 !important;
		line-height:10px;
		font-size:11px;
		font-weight:normal;
	}

	.left ol.nbr li div.hr {	
		position:relative;
		margin:0 0 0 -33px !important;	
	}

	.right {
		float:left;	
		padding:9px 0 0 10px;
		border-left:solid 1px #ccc;
		width:499px;
		min-height:150px;	
	}

	.right h4 {
		font-size:14px !important;
		margin:0 0 3px 5px;
	}

	.right .attribute-key {
		width: 200px !important;
		margin-right: 6px;
		float: left;
	}

	.right .attribute-value {
		width: 280px !important;
		display: block;
		float: left;
	}
}

/* SYSTEM REQUIREMENT */

#divTab_sysrequire {

	ul.std-tablist li span {
		width: 250px;
	}

	ul.std-tablist li p {
		width:auto;
	}
}

/* PDP TRACK */

.pdp-tracks dl dd{
	background:#f3f3f3;
	padding:3px;

	&.alt{
		background:#fff;
	}
}

#divTab_tracks {

	h2 {
		font-size: 18px;
	}

	.tracks-options{
		float:right; 
		width:148px;
		text-align:left;
	}

	.tracks-options .sep{
	   background:#ccc;
	   margin:2px 8px 0 8px;
	   height:11px;
	   width:1px;
	   display:block;
	   float:left;
	}

	.tracks-options label{
		float:left;
	}

	.tracks-options img{
		float:left;
		margin:1px 5px 0 0;
	}

	p.intro{
		margin-bottom:22px !important;
	}

	.details-work{
		margin-bottom:15px;
	}

	.details-work h3{
		padding:10px 0 4px 7px;
	}

	dl dt{
		background:#f3f3f3;
		padding:3px;
	}

	dl dt.alt {
		background:#fff;
	}

	dt.field{
		width:252px;
		padding-left:6px;
		float:left;
	}

	dt.field a{
		cursor:pointer;
	}

	p.footer{
		padding-top:5px;
	}
}

.trackname{
	margin-left:5px;
}

.tracks-options{
	float:right;
	text-align:right;

	img{
		float:left;
		margin-right:5px;
	}
}

/* PDP CAST */
#divTab_castcrew {

	h2{
		font-size:14px;
		font-weight:bold;
	}

	p.intro{
	   padding-bottom:24px;
	   margin-bottom:0;
	}

	.hr{
		margin-bottom:18px;
	}
}

/* PDP EXPERT REVIEWS */
#divTab_prodExpReview {

	h2{
		font-size:14px;
		font-weight:bold;   
	}

	.right{
		float:left;  
		padding-left:10px;
		width:570px;
	}

	.expert {
		float: left;
		padding-left: 10px;
		width: 100px;
	}

	.right span{
		display:block;
	}

	.right p{
	   padding-bottom:9px;
	}

	.right p.infos{
	   font-size:13px;
	}

	.right p .copyright{
	   color:#999;
	   font-size:10px;
	}
}

/* PDP CUSTOMER REVIEWS */
h2.smallh2{
	font-size:14px !important;
}

#divTab_custReview {
	padding-left:28px;

	.rev-left{
		float:left;
		width:216px;
		margin-right:25px;
		margin-bottom:10px;
	}

	#productdetail .rev-left{
		margin-bottom:11px;
	}

	h2 span.ver-sep2 {
		font-weight: normal;
	}

	.rev-right{
		float:left;
		width:445px;
		margin-bottom:10px;
	}

	.ver-sep{
		float:right;
		margin-right:5px;
		color:#999;
	}

	.paging3cols .summary{
		float:left;	
		padding-top:2px !important;
		width:120px;
	}

	.paging3cols .show{
		float:right;	
		font-weight:bold;
		padding-top:2px !important;	
	}

	.paging3cols .show img{
		margin-left:3px;
	}

	.paging3cols .show a:link{
		font-weight:normal;
	}

	.paging3cols .selector{
		font-weight:bold;
		float:left;
		padding:2px 5px 0 10px;	
		width:288px;
		vertical-align:middle;
	}

	.sort-opt{
		margin-right:5px;
	}

	.hr-dashed{
		margin-top:0;
		margin-left:-10px;
		margin-bottom:8px;
	}

	.rev-left h2.rating-title{
		margin-bottom:10px;
	}

	.rev-left .std-bottomspace{
		padding-bottom:8px!important;
	}

	.rev-left p.rating{
		padding-bottom:0 !important;
		margin-bottom:0 !important;
	}

	#productdetail{
		margin-bottom:3px !important;
	}

	.box2gray.paging3cols{
		margin-left:-10px;
	}
}

/* PDP Related Movies Tab ---------------------------------------------------------------------- */

#divTab_relatedMovies {

	div.hdr2 {
		margin: 10px 0;
	}

	.hr{
		display: none;
	}

	.skublocklist td.infos{
		width: 297px !important;
	}

	.skublocklist td.rating{
		display: none;
	}

	&.tabcontent h4 {
		margin: 0;
	}

	&.tabcontent .itemslisting td.prices .buttons .mccpblue {
		margin: 0;
	}
}

/* PDP Cast & Crew Tab ---------------------------------------------------------------------- */

/* PDP ACCESSORY */
#divTab_accessory {

	.box-padding{
		border:none;
		padding:0;
	}

	ul.specifications li{
		width:340px;
	}

	ul.specifications li.alt1, 
	ul.specifications li.alt3{
		margin-right:0;
		width:347px;
	}

	#warranty_picker p.strong{
		margin-bottom:0px;
	}

	.accessory-heading{
		display:none;
	}

	.skublocklist td.rating div.shipping {
		width: 580px !important;
	}

	#warranty_picker .right-info {
		width: 594px;
		margin-bottom: 0 !important;
		overflow: hidden;
	}

	#warranty_picker .right-info .box-psp {
		width: 290px;
	}

	.pdb-accessories .skublocklist .infos {
		width: 376px;
	}
}

/* PDP DEMO & SCREENSHOT */
.tab-demo {
	.icon{
	   float:left;
	}

	.link{
	   margin-left:7px;
	}

	.footer{
		padding-top:25px;
	}
}

.tab-demo-list{
	padding:0 10px 0 10px !important;
	margin-top:12px;
	border-top:3px solid #999;
	border-bottom:3px solid #999;

	li{
		padding:7px 0 7px 0;
		background:transparent url(/images/Common/backgrounds/hrdashed.gif) repeat-x scroll bottom left;
		overflow:hidden;
	}

	li.last{
		background:transparent;
	}
}

/* PDP EXPERT REVIEW */
.tab-review {

	.selector {
		float:right;    
	}

	p.article-summary{
		padding-top:15px;
	}

	.copyright{
		font-size:10px;
		color:#999;
		clear:both;
		display:block;
		margin-top:-10px;
	}

	.article-date{
		display:block;
		clear:both;
		padding-bottom:10px;
	}

	.box2gray{
	   height:12px;
	}
}

/* PDP LEARNING RESOURCES */
#divTab_learnRes {
	
	h2{
		font-size:14px !important;
	}

	.intro{
		margin-bottom:24px;
	}

	.bottom{
		margin-bottom:18px;
	}

	.selector{
		text-align:right;
		font-weight:bold;
	}

	.selector a{
		font-weight:normal;
	}

	.box2gray{
		padding:7px !important;
	}
}

.pdb-accessories .skublocklist .rating span.nbr{
	margin-left:6px;
	padding:0;
}

/* ALTERNATE PRODUCT VIEW */

.lft-arrow{
	margin-right:5px;
	padding-top:6px;
	float:right;
}	

.rgt-arrow{
	margin-left:5px;
	padding-top:6px;
	float:right;
}

.lnk-nomargin{
	float:right;
	margin:0 !important;
}

.equal-btn .mccpright{
	width:100px;
	text-align:center;
}

.content .equal-btn .mccpgray, .content .equal-btn .mccpblue{
	margin-bottom:0;
}

/* SELECT WARRANTY SECTION */

.select-warranty {

	h1 {
		margin-bottom: 8px;
	}

	.container{
		margin-bottom:10px;
		margin-top:0;
		padding-top:0;
	}

	.pagemessage2{
		padding-bottom:10px;
	}

	.warranty-intro {
		padding-bottom: 16px;
	}

	.box-padding{
		margin:10px 0;
	}

	.benefits {
		margin: 20px 0 10px 0;
	}

	.benefits h2 {
		padding: 0 0 13px 0;
		font-size: 14px;
		border: none;
		background: none;
	}

	.benefits ul {
		padding: 0 0 13px 24px;
	}

	.benefits ul li {
		list-style-type: disc;
		margin-bottom: 8px;
	}

	.benefits {
		.coverage {
			font-size: 14px;
		}
	}

	.image {
		margin: 10px 0;
	}
}

// ARTIST DETAIL PAGE

.media-listing {

	.box2gray {
		padding: 7px 8px;
	}

	.box2gray h2{
		font-size:16px;
	}

	table.std {
		text-align:left;	
		border-top:none !important;
	}

	table.std tr.hdr th.first{	
		width:411px;
	}

	td.rating div.shipping{
		width:606px;
	}

	td.infos{
		padding-left:0;
		width:310px;
	}

	table.std {
		border:none !important;
	}

	table.std td.sku-list{
		padding:9px 0;
	}

	div.hr{
		margin:20px 0 17px 0;
	}

	table.std td.sku-list div.hr {
		height:1px;
		background:#ccc;
	}

	table.std td.sku-list td{
		border-top:none !important;
	}

	.media-listing .copyright{
		color:#999;
	}
}

table.std {

	th.media-first {
		border-right: 1px solid #ccc;
		border-left: 1px solid #ccc;
		width: 391px;
	}

	th.media-last {
		border-left: solid 1px #fff;
		border-right: 1px solid #ccc;
	}
}

#art-det {

	.media-listing div.hr{
		height:1px;
		background:#ccc;
		margin:0 0 10px;
	}

	.media-listing div.content-pmessage div.hr{
		margin-top:10px;
	}

	.media-listing table.std td.sku-list div.hr{
		display:none;
	}

	.media-listing table.std td.sku-list table.skublocklist td.infos{
		width:310px;
	}

	.media-listing table.std td.sku-list table.skublocklist td.visual{
		padding-right:9px;
	}

	.media-listing table.std td.sku-list table.skublocklist td.visual div.prod-image img{
		margin-bottom:5px;
	}

	.media-listing table.std td.sku-list table.skublocklist td.infos p.model{
		padding-left:1px;
	}

	.media-listing table.std td.sku-list table.skublocklist td.prices div.buttons div.mccpblue{
		margin-top:0px;
	}

	.lnkbackto{
		clear:none;
	}
}

/* category headlines css styles -------------------------------------------------- */ 
div.headlines-inner-content {
	padding: 10px 10px 10px 0;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

/* group pages' category select --------------------------------------------------- */
.category-image-selector {
	margin-bottom: 20px;

	.category-image {
		float: left;
		width: 130px;
		padding: 0 5px 0 5px;
		font-weight: bold;
		text-align: center;
	}

	.std-spacingsm {
		padding-bottom: 8px;
	}

	.std-spacinglg {
		padding-bottom: 10px;
	}
}

/* category mid content ----------------------------------------------------------- */
.box-midoffers {
	background: transparent url('/images/common/backgrounds/bg_box.png') no-repeat left top;
	margin-bottom: 10px;
	padding: 8px 0 0;
	font-size: 11px;

	.box-wrap {
		background: transparent url('/images/common/backgrounds/bg_box.png') no-repeat left bottom;
		padding: 0 0 8px 0;
	}

	.box {
		float: left;
		width: 160px;
		padding: 0 11px 0 15px;
	}

	.box-img, 
	.box-link {
		text-align: center;
	}

	.box-title {
		height: 38px;
		overflow: visible;
		position: relative;
	}

	.box-center {
		text-align: center;
	}

	.no-link {
		cursor: default;
		text-decoration: none;
	}
}

#page .box-midoffers .box-title a {
	color: #4d4d4f;
}

.mid-offers {

	.feature-box {
		background: url('/images/common/backgrounds/bg_mid_offer.gif') repeat-x bottom;
		margin-top: 0;
		padding-bottom: 0;
	}

	.prodWrap h4.prodTitle, 
	.prodDetails .details {
		font-size: 11px;
		font-weight: normal;
	}

	.prodWrap h4.prodTitle a {
		color: #3f3f3f;
	}
}

/*ie6 gap removal */

.mid-offers {

	.hdr {
		display: none;
	}

	.prod-orient-ver {
			border-right: 1px dashed #CCCCCC;
			margin-bottom: 10px;
			position: relative;
	}

	.prodOffer {
			padding-bottom: 130px;
	}

	.prodDetails {   
			position: absolute;
			bottom: 0;
			text-align: center;
			width: 100%;
	}
}

/* pdp buttons in details block as content ----------------------------------------- */

.pdpBtnWrap {

	.btnLeft {
		background: transparent url(/Marketing/Popup_PDP/Images/btn_left.gif) no-repeat scroll right top;
		float: left;
		height: 48px;
		width: 10px;
	}

	.btnBody {
		background: transparent url(/Marketing/Popup_PDP/Images/btn_bkg.gif) repeat-x scroll left top;
		float: left;
		height: 48px;
	}

	.btnBody .btnText {
		float: left;
		margin: 12px 0 0;
	}

	.btnBody a, 
	.btnBody a:visited, 
	.btnBody a:active {
		color: #000000;
		text-decoration: none;
	}

	.btnBody .btnArrow {
		float: left;
		margin: 0 0 0 5px;
		padding: 0;
	}

	.btnRight {
		background: transparent url(/Marketing/Popup_PDP/Images/btn_right.gif) no-repeat scroll left top;
		float: left;
		height: 48px;
		width: 10px;
	}
}	
.clearDIV {
	clear: both;
}

/* adding a default styling for static pc templates ------------------------------- */


/* center PC static tempalte with tabs --------- */
#pc-static-template #pdptabs {
	margin-left:auto;
	margin-right:auto;
	width:740px;
}

#pc-static-template .feature-box .hdr { /* hiding featured product group name from pc pages as it's empty */
	display: block;
}

// SEARCH

.search-category {		
	padding:5px 10px 4px 13px;
	margin-bottom:20px;
	height:25px;

	.txtbox {	
		float:left;
		padding:3px 2px 4px 10px;
		margin-right:10px;
		vertical-align:middle;
		font-weight:bold !important;
	}

	.mccpblue {	
		float:left;	
		vertical-align:middle;
	}

	.mccpblue .mccpright {	
		width:105px;	
	}
}

/* SEARCH BAR - RESEARCH CENTRE */

.search-researchcentre {

	padding: 5px 5px 5px 9px;
	margin: 0 0 10px 0;
	height: 25px;

	.txtbox {
		float: left;
		padding: 3px 2px 4px 2px;
		margin-right: 10px;
		vertical-align: middle;
	}

	.mccpblue {
		float: left;
		vertical-align: middle;
	}

	label {
		float: left;
		font-weight: bold;
		padding: 4px 6px 0 0;
	}

	a {
		float: right;
		font-size: 11px;
		padding: 5px 0 0 0;
	}

	a.btnmccpstd {
		float: left;
	}
}

/* SEARCH STANDARD BLOCK */

.standardblock-search{	
	border:1px solid #ccc;	
	margin:0 0 10px 0;	

	.hdr{	
		background:#f1f1f1 url(/images/common/backgrounds/graygradient.gif) repeat-x bottom left;
		padding:5px 9px 8px 9px;
		height:100%;
		overflow:auto;
	}

	.hdr h2{	
		padding-right:5px;
		float:left;	
	}

	.hdr a{	
		float:left;
		padding-top:1px;
	}

	.content{
		padding:9px;
	}
}

/* SEARCH RESULTS */

#sr {

	h1.red{
		padding-bottom:16px;
	}

	ul.stdlist{
		padding-top:5px;
	}

	ul.stdlist li{
		padding-bottom:3px;
	}

	.help-content{
		height:200px;
		background:url(/images/common/backgrounds/marketingRebateCenter2.gif) -9px 0 no-repeat;
		padding-left:174px;
	}

	.help-content p{
		font-size:12px;
	}

	.help-content a{
		font-size:12px;
	}

	#contentleft3 .standardblock{
		margin-top:9px;
		float:left;
		width:345px;
	}

	.second-col{
		padding-bottom:0;
	}

	.second-col p{
		padding-bottom:2px;
	}

	.second-col h2{
	   padding-bottom:10px; 
	}

	.second-col a, #sr .sitemap-block h2 a, #sr-nores-uc .sitemap-block h2 a{
		font-size:12px;
	}

	.second-col .title{
		font-weight:bold;
		padding-top:5px;
	}

	.sitemap-left, #sr .sitemap-right, #sr-nores-uc .sitemap-left, #sr-nores-uc .sitemap-right{
		float:none;
		margin:0;
	}

	.sitemap-block, #sr-nores-uc .sitemap-block{
		float:none;
		width:auto;
	}

	.sitemap-block h2, #sr-nores-uc .sitemap-block h2{
		padding-top:0;
		font-weight:normal;
		padding-left:10px;
		background:url(/images/common/pictures/bulletsmallsquare.gif) no-repeat 0 6px;
	}

	#pagecontentmain2 .boxlgray{
		padding:7px;
		margin-top:7px;
	}

	#searchbottom .globalsearch span{
		padding-top:3px!important;
		font-size:11px;
	}
	
	#searchbottom .globalsearch input{
		margin-top:1px!important;
	}

	#searchbottom .globalsearch a.btnmccpstd{
		margin-top:0 !important;
		padding: 0 0 5px 0 !important;
		float:left;   
	}

	#searchbottom .globalsearch select{
		margin-top:1px;
	}

	#searchbottom .globalsearch{
		width:540px;
	}

	#sr-sll .nbr{
		display:none;
	}

	#sr-sll .itemslisting td.prices .buttons .mccpblue{
		padding:0 0 2px !important;
	}

	#sr-sll .itemslisting td.prices .buttons .mccpgray{
		padding:2px 0 2px !important;
	}

	#sr-sll .shipping .chk-store{
		font-weight:normal;
	}

	#sr-sll .letter_space {
		color: #000 !important;
	}

	#sr-s11 .chk-store {
		color: #003399 !important;
	}

	.sku-grid-area .compare input {
		margin-top:0px;
	}

	.sku-grid-area div.hr{
		margin-bottom:10px!important;
	}
}

/* SEARCH RESULT --- MULTIPLE CATEGORIES */

#sr-mc {

	.softline3x2 {
		padding: 15px 0 0;
	}

	.softline3x2 div.sep, 
	.softline3x2 div.nosep{
		padding:0 14px;
	}

	.softline3x2 div.top{
		display:none;
	}

	.res-title{
		font-size:18px;
		font-weight:bold;
	}

	.ctitle{
		font-size:16px;
		font-weight:bold;
		float:left;
	}

	.c-res{
		font-size:16px;
		display:inline;
	}

	.lnkall{
		margin: -3px 10px 0 0;
		padding-bottom: 9px;
		font-weight:bold;
		clear:both;
		display:block;
	}

	.temp-featurebox{
		background:#E5E5E5 none repeat scroll 0 0;
		border:4px solid #CCCCCC;
		height:100px;
		margin-bottom:10px;	
	}
}

#sr {

	.helpblock{
		margin-top:0px;
	}
}


/* SEARCH RESULT --- SYS MESSAGE */
#sr-noreserrmsg img{
	width:35px;
	height:32px;
	float:left;
	padding:0 10px 0 0;

	.h3{
		float:left;
		margin-left:10px;
	}
}	

#sr {

	#pagecontentmain2 .sysm, #sr-noreserrmsg .sysm{
		color:#ff0000;
		padding:0 0 9px 0;
	}
}

#srchsys-error{
	padding: 0 0 15px 0;
	overflow:hidden;

	img {
		width:35px;
		height:32px;
		float:left;
		padding:0 10px 0 0;
	}

	.sysm h3 {
		float:left;
		margin-left:10px;
	}
}

/* SEARCH NO RESULTS */
.sr-nores{
	float:left;
	padding-left:9px;
}

#sr {

	.pagemessage3{
		margin-left:9px;
	}

	.noresultpagemessage3{
		margin-left:9px;
	}
}

#sr-noresultmap{
	margin-right:10px;
	float:left;
	width:340px;
}

#sr-noresultmap-right{
	margin-right:10px;	
	float:left;
	width:340px;

	.help-content .title{
		font-weight:bold;
	}

	.help-content p a{
		font-size:12px;
	}
}

div.nonproduct-search-wrapper .pagemessage3 {
	margin-left:0px;
}

#sr {

	.feature-box h2.hdr{
		background-image:url(/images/common/backgrounds/graygradient.gif);
		background-position:bottom;
		background-repeat:repeat-x;
		display:block;
		margin:0 0 10px 0;
		position:static;
		top:auto;
		padding:5px 9px 7px;
		color:#000;
	}

	.feature-box{
		margin-top:0;
		padding:0 0 15px 0;
	}

	#divHelp .pagemessage3{
		margin-left: 0px;
		width: 540px;
		clear: both;
	}

	#divHelp div.hr-dashed {
		background-image: none;
		height: 15px;
		margin: 0;
	}

	.rating .nbr {
		font-weight: normal;
	}

	.ta8 .priceblock {
		margin-bottom: 0 !important;
	}
}

/*FAST Promo*/

.state2, 
.state4, 
#column-sku{
	overflow: hidden;
}

.state2 .box2gray, 
.state4 .box2gray, 
.state5 .box2gray, 
#column-sku .box2gray{
	margin-bottom: 10px;
	border-left: 0;
	padding: 6px 7px 8px 9px;
}

.state2 .box2gray, 
.state5 .box2gray, 
.state4 .box2gray {
	border-top: 0;
	border-right: 1px solid #cccccc;
	border-left: 0;
}

.state2 .last .box2gray, 
.state5 .last .box2gray, 
.state4 .last .box2gray {
	border-right: 0 none;
}

.state4 .item {
	border: 1px solid #cccccc;
	display: block;
}

.state4 .item .ta2 {
	padding-bottom: 10px;
}

.state2 .box2gray h2, 
.state4 .box2gray h2, 
.state5 .box2gray h2, 
#column-sku .box2gray h2{
	font-size: 12px;
}

.state2 .item, 
.state4 .item, 
.state5 .item, 
#column-sku .item {
	float: left;
	width: 186px;
	overflow: hidden;
	margin: 0 !important;
}

.state5 .item {
	padding-bottom: 10px;
	display: block !important;
}

.state2 {

	.last{
		display:block;
	}
}

.state2 .item .ta2, 
.state5 .item .ta2 {
	background: url(/images/Common/backgrounds/vertical_dashed.gif) repeat-y right center;
}

.state2 .last .ta2, 
.state5 .last .ta2 {
	background-image: none;
}

.state2 .first .box2gray, 
.state4 .first .box2gray, 
#column-sku .first{
	border-left:0;
	border-top:0;
}

#sr {

	.state3 .feature-box h2.hdr{
		border-bottom:1px solid #ccc;
		background:none;
		background-color:#e5e5e5;
		font-size:12px;
		padding:7px 9px 8px;
	}

	.state2.layout-accross {
		border: 1px solid #cccccc !important;
		margin-bottom: 10px;
		padding-bottom: 10px;
		position: static; /* ie6 bug fix */
	}

	.state3 .layout-accross { /* ie6 bug fix */
		border: 0 none !important;
		padding: 0;
	}
}

.state4 .html{
	width: 362px;
	float: left;
	margin-right: 10px;
}

#sr .state5.layout-accross { /* ie6 bug fix */
	border: 0 none !important;
	padding-bottom: 0px !important;
}

.state5 .box{
	border: 1px solid #cccccc;
	overflow: hidden;
	float: left;
	margin-right: 10px;
}

.state5 .html{
	width: 176px;
	float: left;
	overflow: hidden;
}

.fast-headline{	
	margin-bottom:10px;
}

/* miniview starts ---------------------------------------------------------------- */
#category {
	position: relative;
}

#category .mini-view {
	width: 350px;
	height: 100%;
	background: url(/images/Common/backgrounds/stdblackborder.gif) repeat;
	position: relative;
	right: 0;

	.mini-view .content {
		border: solid 1px #ccc;
		background: #fff;
		position: relative;
		top: -2px;
		left: -2px;
		padding: 9px 9px 9px 12px;
		overflow: auto;
		height: 100%;
	}

	.mini-view .content .left {
		float: left;
		padding-right: 10px;
		width: 100px;
	}

	.mini-view .content .right .mccpblue .mccpright {
		width: 130px;
	}

	.mini-view .content .right {
		float: left;
		width: 216px;
	}

	.mini-view .infos {
		margin: 10px 0 12px;
	}


	.mini-view .priceblock {
		padding: 0;
		margin: 0;
	}

	.mini-view .details.save, #category .mini-view .sale-end {
		display: block !important;
		margin: 0;
	}

	.mini-view .content .left div.rating p.rating {
		margin: 7px 0 0 0;
	}

	.mini-view .right .title {
		font-weight: bold;
	}

	.hr {
		margin: 10px 0 10px 0;
	}
}

/* miniview ends ------------------------------------------------------------------ */

/*SEARCH SPECIFIC CONFIGURATION*/
div.standardblock.nomargin.first {
	margin-right: 10px !important;
}

/* plug-in group category page API --------------------------- */
.plugin-group-api {
	border: 1px solid #ccc;
	margin: 30px 0 10px;
	padding-bottom: 10px;

	h2 {
		text-align: right;
		background: url('/Projects/MTH/Assets/title_plugin_en.gif') no-repeat 12px 7px #fff200;
		border-bottom: 1px solid #ccc;
		padding: 12px;
	
		.fr-CA & {
			background: url('/Projects/MTH/Assets/title_plugin_fr.gif') no-repeat 12px 7px #fff200;
		}
	}

	h2 span {
		display: none;
	}

	h2 a {
		color: #77787b;
	}

	ul li {
		margin: 3px 7px 0;
		padding: 5px 5px 10px;
		color: #77787b;
		border-bottom: 1px dotted #ccc;
	}

	li .subject {
		display: block;
		font-size: 16px;
		line-height: 1.4;
		margin-bottom: 4px;
	}
}


/* Accessories widget -----------------------------------------------------------*/
/** PDP Page Recommended Accessories **/

.accessoryWidgetOriginal {
	display: none;
}

.accessoriesWidgetShowMore {
	padding: 0 10px 5px;
	text-align: center;
	font-size: 16px;
	margin: 5px 0 0;
	cursor: pointer;
	color: #006ebd;
	background: #fff;
	display: none;
	position: absolute;
	left: 316px;
}

#accessoriesWidget {
	background: url(/images/common/backgrounds/accessor_widget_bkg.gif) repeat-y top left;
	width: 920px;
	margin: 0px;
	padding: 0px;
	display: none;


	.tabsWrap {
		float: left;
		width: 184px;
		
	}

	.tab.hover {
		border: none;
		background: none;
	}

	a.tabLink {
		border-left: 1px solid #fff;
		padding: 16px;
		display: block;
		width: 151px;
		color: #77787b;
		font-size: 14px;
	}

	a.tabLink:hover, 
	a.tabLink:active, 
	a.tabLink:visited {
		text-decoration: none;
		color: #4d4d4f;
	}

	.selected a.tabLink {
		background: #fff url(/images/common/backgrounds/accessor_widget_vtabs_selected.gif) repeat-x bottom right;
		border-left: 1px solid #ccc;
		border-top: 1px solid #ccc;
		padding-top: 15px;
		-moz-box-shadow: 0px 3px 3px #e1e1e1;
		-webkit-box-shadow: 0px 3px 3px #e1e1e1;
		box-shadow: 0px 3px 3px #e1e1e1;
		color: #4d4d4f;
	}

	.tabsTopBkg {
		width: 184px;
		height: 13px;
		background: #fff url(/images/common/backgrounds/accessor_widget_sprite.gif) no-repeat 0px 0px;
	}

	.tabsBottomBkg {
		width: 184px;
		height: 11px;
	}

	.tabContent {
		float: left;
		width: 734px;
		position: relative;
	}

	.ui-tabcontrol-contents {
		border-top: 1px solid #ccc;
		padding: 10px;
	}

	.ui-tabcontrol-content {
		display: none;
	}

	.ui-tabcontrol-content.selected {
		display: block;
	}

	.productWrap {
		padding: 5px 5px 0px;
		margin: 0px;
		width: 132px; /* 153px*/
		height: 185px;
		float: left;
		display: none;
		position: relative;
		border-bottom: 1px dotted #ccc;
		border-right: 1px dotted #ccc;
		background: #fff;
	}

	.productWrap.noBottomBorder {
		border-bottom: none;
	}

	.productWrap.noBorder {
		border-right: none;
	}

	.field-title {
		margin: 10px 0px;
		font-size: 11px;
		display: none;
	}

	.field-price {
		font-weight: bold;
		font-size: 14px;
		color: #4d4d4f;
		margin-top: 5px;
	}

	.pricetitle {
		display: none;
	}

	.product-details {
		display: none;
	}

	.product {
		position: relative;
		background: #fff;
		/*margin: 15px;*/
		padding: 8px;
		width: 112px; /* 123px */
		border: 1px solid #fff;
	}

	.sale-regular, 
	.sale-end {
		display: none;
	}

	.price {
		color: #4d4d4f;
	}

	.details.save {
		font-size: 9px;
		color: #77787b;
	}

	.productWrap .hover {
		position: absolute;
		border: 1px solid #ccc;
		background: #fff url(/images/common/backgrounds/accessor_widget_hover_bkg.gif) repeat-x bottom left;
		-moz-box-shadow: 3px 3px 3px #e1e1e1;
		-webkit-box-shadow: 3px 3px 3px #e1e1e1;
		box-shadow: 3px 3px 3px #e1e1e1;
	}

	.btnmccpstd {
		font-size: 9px;
		line-height: 7px;
		font-weight: normal;
	}

	.prodImageWrap {
		position: relative;
		cursor: pointer;
		text-align: center;
		width: 112px;
	}

	.prodStatus {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 106px; 
		height: 94px; /*100px*/
		background: transparent url(/images/common/backgrounds/accessor_widget_selected.png) no-repeat 80px 3px;
		display: none;
		border: 3px solid #ccc;
	}

	.alsoAddThis {
		background: #d5dded url(/images/common/backgrounds/accessor_widget_btn_bkg.gif) repeat-x bottom left;
		border: 1px solid #ccc;
		padding: 5px;
		color: #000;
		text-align: center;
		font-weight: bold;
		font-size: 11px;
		cursor: pointer;
	}

	.tabsBottom {
		background: #fff url(/images/common/backgrounds/accessor_widget_sprite.gif) no-repeat 0px -40px;
		width: 920px;
		height: 20px;
		padding-bottom: 20px;
	}
}

#accessoriesBoxStatusWrap {
	display: none;
}

#accessoriesBoxStatusBottom {
	background: #fff url(/images/common/backgrounds/accessor_widget_sprite.gif) no-repeat 0px -80px;
	width: 134px;
	height: 15px;
	margin: 0px 0px 5px 16px;
	display: none;
}

#accessoriesBoxStatus {
	width: 124px;
	margin: 5px 0px 0px 16px;
	color: #77787b;
	padding: 10px 5px;
	display: none;
	background: #e1e1e1;


	&.active {
		display: block;
	}

	.quantity {
		font-size: 18px;
		padding: 3px;
		font-weight: bold;
	}

	.thumbs {
		display: none;
		width: 120px;
		margin-top: 5px;
	}

	.smallThumb {
		float: left;
		width: 55px;
		height: 55px;
		border: 1px solid #ccc;
		margin: 3px 3px 0px 0px;
	}
}

/**** END PDP Accessories Widget CSS ****/

/* plug-in featured posts widget ----------------------------------------------- */

.plugin-featured-widget {
	margin-bottom: 10px;
	background-color: #fff;

	h2 {
		text-indent: -2000px;
		font-size: 0;
		overflow: hidden;
		height: 55px;
		background: url('/Projects/Community/Assets/headline_featured_widget_en.png') transparent no-repeat left top;

		.fr-CA & {
			background: url('/Projects/Community/Assets/headline_featured_widget_fr.png') transparent no-repeat left top;
		}
	}

	.threads-list {
		border: solid 2px #fff200;
		border-top: none;
		padding: 10px 10px 13px;
	}

	li {
		padding: 0 0 8px;
		margin: 0 0 10px;
		border-bottom: dotted 1px #ccc;
	}

	.author {
		font-size: 11px;
		color: #4d4d4f;
		padding: 2px 0 6px 24px;
		background: url('/Projects/Community/Assets/icon_human.gif') transparent no-repeat left top;
	}

	.author a, 
	.author a:visited {
		font-weight: bold;
		color: #4d4d4f;
	}

	.share-opinion {
		display: block;
		text-align: right;
		font-size: 11px;
		font-weight: bold;
	}
}

.CaseFinderCatWidget {
	width:560px;
	height:200px;
}

.CaseFinderBBYMWidget {
	background:none;
	margin-bottom: 0;

	.btnContinue {
		margin-top:5px;				
	}

	.btnContinue a {
		display:inline;
		color:#003399;
		padding:0;
		border:none;
		background:none;
	}

	.selDropdown {
		font-size:1em;
		width:160px;
		color:#666;
		border: 1px solid #999;
		padding: 2px;
		margin-top:5px;
	}
}

.CaseFinderWidget {     
	background:#fff;
	height:97px;
	width:920px;
	clear:both;
	margin-bottom: 10px;

	.wrapper {
		border: 1px solid #ccc;
		overflow:auto;
		background: transparent url(/projects/casefinder/assets/widget_bg.jpg) repeat-x top left;
	}

	.dropdowns {
		float:left;
		padding-top:10px;
	}

	.dropdowns .label {
		color:White;
		font-size:1.1em;
		padding-top:10px;
	}

	.dropdowns select {
		display:block;
		margin-top:5px;
	}

	.buttons {
		float:left;
		padding-top: 31px;
		padding-left: 10px;
	}

	.btnContinue a {
		padding:10px;
		border:1px solid #ccc;
		background: yellow url(/projects/casefinder/assets/btn_grad.jpg) repeat-x top left;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}

	.btnContinue a:hover {
		text-decoration:none;
	}

	.content {     
		background:#fff;
		border:1px solid #999;
	}

	.btnContinue a {
		display:block;
		padding: 2px 20px;
		color:#333;
		font-weight: bold;
		text-align:center;   
		font-size:1em;
	}


	.selectwrapper, 
	.buttonwrapper {
		padding:0 20px;
	}

	.buttonwrapper {
		text-align: right;
		padding:5px 20px 10px 0;
	}

	.buttonwrapper {
		padding:5px 10px 10px 0;
	}

	.mccpmain {
		float:right;
	}

	span.title {
		background:transparent url(/projects/casefinder/assets/widget_pdp_title_en.jpg) no-repeat top left;
		position:relative;
		top:0px;
		left:0px;
		width:346px;
		height:98px;
		display:block;
		text-indent:-9999px;
	}

	span.titlefr {
		background:transparent url(/projects/casefinder/assets/widget_pdp_title_fr.jpg) no-repeat top left;
		position:relative;
		top:0px;
		left:0px;
		width:346px;
		height:98px;
		display:block;
		text-indent:-9999px;
	}

	span.title 	{
		background:transparent url(/projects/casefinder/assets/widget_cat_title_en.jpg) no-repeat top left;
		width:369px;
	}	

	span.titlefr {
		background:transparent url(/projects/casefinder/assets/widget_cat_title_fr.jpg) no-repeat top left;
		width:369px;
	}
	
	.wrapper {
		background: transparent url(/projects/casefinder/assets/widget_cat_bg.jpg) repeat-x top left;
	}

	.section-title {
		font-weight:bold;
		margin:12px 0 5px 0;
	}
	
	.selDropdown {
		font-size:1em;
		width:195px;
		color:#666;
		border: 1px solid #999;
		padding: 2px;
	}

	.cases {
		font-size:0.7em;
		font-weight:normal;
		display:block;
	}
}

.leftnavHeading h1,
.optemo .y_heading  h1 {
	line-height: 1.35;
}

.optemo .price_breakdown {
	font-size: 11px;
	font-weight: 400;
	color: #2e3337;
}
