﻿@charset "utf-8";
@import "variables.less";
@import (reference) "mixins.less";

/* ------------------------------------------------------------------------------------- */
/* CORE: check-out page renewal -------------------------------------------------------- */
/* all reusable elements' CSS are defined at the top ----------------------------------- */
/* any page specific CSS should be appended at the bottom ------------------------------ */
/* ------------------------------------------------------------------------------------- */


/* move to global.css ------------------------------------------------------------------ */
.txt-no-wrap {
    white-space: nowrap;
}

/* global -------------------------------------------------------------------- */
.link-help {
	font-size: 11px;
}

.small-txt {
	font-size: 12px;
}

.tiny-txt {
	font-size: 11px;
}

.float-right {
	float: right !important;
}

.float-left {
	float: left !important;
}

.txt-highlight {
	border-bottom: 1px dotted @tableBorderDivider;
}

/* integration css starts -------------------------------------------------------------- */

.ui-viewpanel {

	.popcontent {
	    overflow: hidden;
	}
}

#ui-lightbox-dim {
	z-index: 1010;
}

.ui-lightbox {
	
	z-index: 1020;

	.ui-controls{

		.pnlClose{

			.btnClose,
			.btnClose:hover{

				background: transparent url('/images/common/checkout/icon_close.png') no-repeat scroll left top !important;
				display: block;
				height: 47px;
				width: 47px;
				text-indent: -9999px;
			}
		}
	}
}

* html{

	.ui-lightbox {

		.ui-controls {

			.pnlClose {

				.btnClose {
				    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/common/checkout/icon_close.png', sizingMethod='scale');
				    background: transparent none;
				}
			}	
		}
	}
}

/* integration css ends ---------------------------------------------------------------- */
.checkout-master {

	.disclaimer {
		font-size: 11px;
		color: @tableBorderDivider;
		margin: 0;
	}	

	p {
		margin-bottom: 2px;
	}

	h1 {
		font-size: 26px;
		margin: 0 0 5px;
		padding:0px 0 5px;
	}

	h2 {
		font-size: 18px;
	}

	h3 {
		font-size: 16px;
		margin-bottom: 15px;
	}

	h4 {
		font-size: 14px;
		margin-bottom: 15px;
	}

	.pagemessage3 {

		margin: 0px;
		width: 920px;
	}
}

.checkout-pages {
	line-height: 1.45;
	color: #2e3337;
	font-size: 14px;
	/*margin-bottom: 40px;*/
	clear: both;

	.grid-5 {
		float: right;
        
        &.top-fixed {
            position: fixed;
            top: 5px;
	}
	}


	/* integration -------------------------------------------------------------------- */
	.email-registration {
		background: #ffffcc url('/images/common/checkout/icon_mail.png') no-repeat 15px 5px;
		padding: 12px 15px 15px 95px;
		border: 1px solid @hrBorder;
		margin: 32px 0;
	}

	/* age verification ---------------------------------------------------------------- */
	.instruction {
		margin: 0 0 0 10px;
	}
	
	
	.checkout-form {

		fieldset {

			&.checkout-fieldset {

				span {
				    width: auto;
				
				    &.dash_space{
					    margin:0 5px 0 2px;
					    width:auto;
				    }
				}
			}
		}
	}
	
	.or-block {
		text-align: center;
		margin-bottom: 10px;	
	}
}


* html {
	
	.checkout-pages { 
		
		.grid-11 {
			overflow: hidden; /* affects bubble in other browsers */
		}
		
		.grid-5 {
			overflow: hidden; /* affects bubble */
		}

	}
}

/* error message and confirmation message ------------------------------------ */
.page-msg {
	border: dotted 1px @hrBorder;
	line-height: 1.45;
	padding: 7px 10px 10px 90px;
	font-size: 12px;
}

.error-msg {

	background: url('/images/common/checkout/icon_alert.gif') @hoverListBackground no-repeat 12px 10px;
	min-height: 68px;

	* {
	color: #ae1231;
	}

	p {
		font-weight: bold;
		margin-bottom: 2px;
	}

	ul {
		padding-left: 14px;
	}

	li {
		list-style-type: disc;
	}

}

* html {
	.error-msg {

		ul {
		margin-left: 2px;
 		}
 	}
 }

 *:first-child+html{

	.error-msg ul {
		margin-left: 2px;
	}
}


.error-field input[type=text] {
	background-color: #ffffdb;
}

.inline-error-icon {
	vertical-align: top;
	margin: 3px 0 0 0px;
}

.confirmation-msg {
	background: url('/images/common/checkout/icon_success.gif') @hoverListBackground no-repeat 12px 10px;
	color: #2cab00;
	min-height: 68px;
}

#errorMessage {

	padding: 0 0 0 10px;
	font-size: 14px;	

	h1, h2, h3, h4 {

		margin: 0 0 15px 0;
		padding: 0px;
	}
	
	h1 { 
	
		font-size: 26px;
	}

	p {

		margin: 0 0 20px 0;			
	}

	.errorSubText {
		
		margin: 0 0 15px 0;
	}
	
	.errorSubHeading {
		
		font-size: 18px;
		font-weight: bold;
	}

	.shippingAddress {

		padding: 0 0 0 20px;
		margin: 0 0 15px 0;

		p {

			margin: 0 0 5px 0;
		}
	}

	.btn-wrapper {

		.button {

			float: left;
			margin: 0 8px 0 0;
		}
	}
}

/* accordion ----------------------------------------------------------------- */
.ui-accord {
	.ui-accord-section {

		.ui-accord-header h3{
			margin: 0;
			
		}
	}
}

.ui-accord-header h3 a {

    background: url('/images/common/checkout/sprite_collapse.gif') transparent no-repeat left top;
    padding: 2px 0 0 28px;
}

.expanded {

	.ui-accord-header h3 a{

		background-position: left -33px;		
	}

	.ui-accord-content {
		display: block;
	}
}

.ui-accord-content {
	display: none;
}

.ui-accord-header {
	a, 
	a:visited {
		color: @gray;
	}
}

/* order total --------------------------------------------------------------- */
.order-total {
	background: #e6e7e8;
	font-size: 14px;

    .header {
        border-bottom: solid 1px #fff;
        padding: 10px 15px;
    }

    #totalsblock {
        padding: 15px;
    }

	h2 {
		float: left;
	}

	.edit-cart-link {
		float: right;
		font-size: 12px;
		padding-top: 5px;
	}

	li {
		margin: 0 0 6px;
		text-align: right;
		line-height: 1.35;

		&:after {
			content: " ";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}

		&.line-sub {
            border-bottom: dotted 1px @hrBorder;
            padding: 0 0 12px;

			span {
				font-weight: bold;
			}
		}

		&.ehf-message:empty {

			display: none;
		}

		&.line-total {

			font-size: 18px;
			font-weight: bold;
			padding: 16px 0 0;
			margin: 16px 0 0;
			border-top: dotted 1px @hrBorder;
		}

        &>ul {
            margin-top: 6px;

            >li {
                font-size: 12px;
                margin-left: 10px;
                position: relative;

                .price {
                    position: absolute;
                    bottom: 0;
                    right: 0;
	}
            }
        }
	}

	.price-desc {

		float: left;
		width: 160px;
		text-align: left;

        a {
            font-size: 11px;    
        }

		.help-link {
		    margin-left: 4px;
		    font-size: 11px;
		}
	}



	.postal-radio {

		.price-desc{
		    border-top: 1px dotted @grayLightFaint;
		    font-size: 11px;
		    margin: 10px 0 0;
		    padding: 0 0 0 20px;
		    width: 200px;
		} 
	}

	input,
	input[type='text'] {
		padding: 2px;
		height: 23px;
		font-size: 14px;

		&.small {
			width: 40px;
		}

		&.medium {
			width: 180px;
		}

		&.big {
			width: 350px;
		}
	}
}

.order-total-wrapper {
	div.cart-order-title {
        padding: 15px;

		p {
			display: inline;
			font-size: 14px;
			font-weight: bold;
}

		a {
			display: inline;
		} 
	}
}

.check-list-small {
	
	border-bottom: 1px solid #fff;
	font-size: 12px;
	margin: 0 0 16px;
	padding: 0 16px 8px;

	li {
		background: url('../assets/icons/icon_sm_check.png')no-repeat 0 4px;
		padding: 0 0 0 16px;
		text-align: left;
	}
}

.ehf-message 
{
    text-align: left;
    color: Red;
}

/* General Checkout Section Styling */
.checkout-section {

	margin-bottom: 10px;

	&.review-submit {

		.verify-info {

			padding: 16px;
		}

		p,
		.verifiy-info-txt {

			text-align: left;
		}

		.btn {

			float: right;
		}
	}

	.payment-submit {

		.cc-billing-wrapper {

			min-height: 132px;
		}

		.section {

			border-top: 1px dotted @hrBorder;
			margin-top: 15px;
			padding-top: 15px;
		}
	}

	#PaymentContentEdit {

		padding: 16px;

		.BtnContinueFromPayment {

			float: right;
			margin: 0;
			background-image: none;
			padding: 4px 0 0 0;

			&.btn-paypal {

				a {

					width: auto;
				}
			}
		}
	}
}
/* checkout steps --------------------------------------------------------------- */
.checkout-steps {

	.header {
		height: 48px;
		background: url('/images/common/checkout/bg_sprite_accordion.png') #e5e5e5 no-repeat left -96px;
		padding: 0 16px;
		overflow: hidden; /* clear fix */
		display: inline-block;
		display: block;
		zoom: 1;

		h2 {
			padding: 12px 0 0;
			float: left;
		}

	}

	.submitted {

		.header {
			background: url('/images/common/checkout/bg_sprite_accordion.png') #e5e5e5 no-repeat left top;
		}

		.content {
			background-color: @white;
			display: block;
			
			#divPaymentSummaryTarget {

				.summary-title {

					width: 255px;
					float: left;
					font-weight: bold;
				}

				.summary-content {

					width: 210px;
					float: left;
				}

				.summary-edit-link {

					width: 130px;
					float: left;
				}

				a {

					float: right;
					font-size: 12px;
					text-align: right; 
				}

				.pnlPayPalSummaryMode {
			
					padding: 0 0 15px;
					border-bottom: 1px dotted @hrBorder;
					overflow: hidden;
					margin: 0 0 15px;

					.summary-title {

						width: 465px;
						vertical-align: top;

						img {

							float: left;
						}

						p {

							margin: 20px 0 0 16px;
							float: left;
						}
					}

					.summary-content {

						padding: 20px 0px 0 0px;
						overflow: hidden;
						text-overflow: ellipsis;
						font-weight: bold;
					}

					.summary-edit-link {

						padding: 20px 0 0 0;
					}
				
					.payPal-confirm-title {
						
						float: left;
						width: 256px;
						
						span {
							
							font-weight: bold;
						}
					}
					
					.payPal-confirm-info {
						
						float: left;
						width: 300px;
					}
				}
			}
		}
	}

	.shipping-method.checkout-form .help-link {
		font-size: 11px;
		padding-left: 2px;
	}

	.shipping-method.checkout-form h3 {
		margin-bottom:2px;
	}

	.selected {

		.header {
			background-position: left -48px;

			h2 {
				color: @white;
			}

		}

		.content {
			background: @white;
			display: block;
			zoom: 1;
		}
	}

	.content {
		display: none;
		background: @white;
		border: 1px solid #e6e7e8;
		border-top: none;

		#divPaymentSummaryTarget,
        .address-choice,
        .shipping-address-section {
			padding: 16px;
		}
	}

	.shipping-address-section {

        .edit-address {
            float: right;
        }
	}

	.shipments-container .content {
		border: none;
	}

	.checkout-section {

		.paymentPromo {

			color: #DA1A36;
			text-align: center;
			font-weight: bold;
			background: url('/images/common/checkout/checkout-steps-sprite.png') no-repeat transparent;
			height: 36px;
			background-position: 0 -8px;
			margin: 0 0 10px 0;	
		}	

		.selectPaymentMethod {

			padding: 0px 0px 32px 0px;
		
			.payment-container {

				clear: both;
				background: @white;
				border-top: 1px dotted @tableBorderDivider;
				height: 53px;

				.payment-title, 
				.payment-image {
					float: left;
				}

				.payment-title {

					font-size: 16px;
					font-weight: bold;
					padding: 15px;
					color: @gray;
				}

				.payment-select {
					float: right;
					padding: 7px;
				}
			
				&.credit-card {

					.payment-image {

						background: url('/images/common/checkout/checkout-steps-sprite.png') no-repeat transparent;
						background-position: 13px -88px;
						width: 290px;
						height: 44px;

						.fr-CA & {

							background-position: -9px -88px;
							width: 262px;
						}
					}
				}

				&.paypal {

					border-bottom: 1px dotted @tableBorderDivider;

					.payment-image {

						background: url('/images/common/checkout/checkout-steps-sprite.png') no-repeat transparent;
						background-position: 48px -48px;
						width: 110px;
						height: 44px;
					}

					.statusInfo {
						width: 340px;
						text-align: right;
						float: left;
					}

					.btn-primary {
						float: right;
					}

					&.disabled {

						cursor: default;
						
						.payment-image {

							background: url('/images/common/checkout/checkout-steps-sprite.png') no-repeat transparent;
							background-position: -60px -48px;
							width: 60px;
							height: 44px;
							margin-left: 53px;

						}

						a {

							color: #039;
						}

					}					

				}

			}

			.payment-container {

				&.disabled:hover {

					background: @white;
				}

				&:hover{

					background: #FFFFCC;
					cursor: pointer;

					.payment-select {

						
					}
				}
			}

			.btn  {
				min-width: 50px;
			}
		}

		&.payment {

			&.selected {

				.content {

					padding: 0px;

					.selectedPaymentInfo {

						background: url('/images/common/checkout/checkout-steps-sprite.png') no-repeat transparent;
						background-position: -10px -138px;
						height: 90px;

						.selectedPaymentInfoTxt {

							float: left;
							margin-left: 120px;
							margin-top: 15px;
							width: 280px;

							a {

								font-weight: bold;
							}
						}
					}
				}
			}
		}

		/** MCCP BUTTON Fixes **/

		.btn-wrapper {

			margin: 9px 0 0 0;

			.txt-btn {

				&.inline-sec-btn {

					height: 29px;

					a {

						font-size: 12px;
						font-weight: 700;
						height: 27px;
						line-height: 27px;
						padding: 0 10px;
						border: 1px solid #bababa;
						-webkit-border-radius: 6px;
						-moz-border-radius: 6px;
						border-radius: 6px;
						-webkit-box-shadow: inset 0 0 2px #ececec;
						-moz-box-shadow: inset 0 0 2px #ececec;
						box-shadow: inset 0 0 2px #ececec;
						background: @hoverListBackground;
						background: -moz-linear-gradient(top, @hoverListBackground 0, #bebebe 100%);
						background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, @hoverListBackground),color-stop(100%, #bebebe));
						background: -webkit-linear-gradient(top, @hoverListBackground 0, #bebebe 100%);
						background: -o-linear-gradient(top, @hoverListBackground 0, #bebebe 100%);
						background: -ms-linear-gradient(top, @hoverListBackground 0, #bebebe 100%);
						background: linear-gradient(top, @hoverListBackground 0, #bebebe 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#7b7b77', GradientType=0);
						cursor: pointer;
						display: inline-block;
						margin: 0;
						text-align: center;
						text-shadow: 1px -1px 1px @white;
						vertical-align: middle;
						font-weight: 700;

						&:hover {

							color: #000;
							text-decoration: none;
							background: @hoverListBackground;
							background: -moz-linear-gradient(top, @hoverListBackground 0, #7b7b77 100%);
							background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, @hoverListBackground),color-stop(100%, #7b7b77));
							background: -webkit-linear-gradient(top, @hoverListBackground 0, #7b7b77 100%);
							background: -o-linear-gradient(top, @hoverListBackground 0, #7b7b77 100%);
							background: -ms-linear-gradient(top, @hoverListBackground 0, #7b7b77 100%);
							background: linear-gradient(top, @hoverListBackground 0, #7b7b77 100%);
						    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#7b7b77', GradientType=0);
						}

						span {

							background: transparent;
							padding: 0px 16px;
						}
					}
				}

				&.primary-btn {

					a {
						color: @white;
						font-size: 16px;
						font-weight: 700;
						height: 37px;
						line-height: 37px;
						padding: 0 15px;
						border: 1px solid #1c7ed9;
						-webkit-border-radius: 6px;
						-moz-border-radius: 6px;
						border-radius: 6px;
						background: #83b7db;
						background: -moz-linear-gradient(top, #83b7db 0, #2a6ba7 52%, #003b65 100%);
						background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #83b7db),color-stop(52%, #2a6ba7),color-stop(100%, #003b65));
						background: -webkit-linear-gradient(top, #83b7db 0, #2a6ba7 52%, #003b65 100%);
						background: -o-linear-gradient(top, #83b7db 0, #2a6ba7 52%, #003b65 100%);
						background: -ms-linear-gradient(top, #83b7db 0, #2a6ba7 52%, #003b65 100%);
						background: linear-gradient(top, #83b7db 0, #2a6ba7 52%, #003b65 100%);
						filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#83b7db', endColorstr='#003b65', GradientType=0);
						min-width: 180px;
						text-shadow: -1px -1px 0 #000;

						&:hover {

							background: #87c3ed;
							background: -moz-linear-gradient(top, #87c3ed 0, #1d81dd 52%, #00508c 100%);
							background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #87c3ed),color-stop(52%, #1d81dd),color-stop(100%, #00508c));
							background: -webkit-linear-gradient(top, #87c3ed 0, #1d81dd 52%, #00508c 100%);
							background: -o-linear-gradient(top, #87c3ed 0, #1d81dd 52%, #00508c 100%);
							background: -ms-linear-gradient(top, #87c3ed 0, #1d81dd 52%, #00508c 100%);
							background: linear-gradient(top, #87c3ed 0, #1d81dd 52%, #00508c 100%);
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87c3ed', endColorstr='#00508c', GradientType=0);
						}

						span {

							background: transparent;
							padding: 0 16px;
						}

						&.btn-disabled,
						&.btn-disabled:hover {

							border: 1px solid #e5e5e5;
							background: #d9e7f3;
							background: -moz-linear-gradient(top,#d9e7f3 0,#b2cee1 100%);
							background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d9e7f3),color-stop(100%,#b2cee1));
							background: -webkit-linear-gradient(top,#d9e7f3 0,#b2cee1 100%);
							background: -o-linear-gradient(top,#d9e7f3 0,#b2cee1 100%);
							background: -ms-linear-gradient(top,#d9e7f3 0,#b2cee1 100%);
							background: linear-gradient(top,#d9e7f3 0,#b2cee1 100%);
							filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9e7f3', endColorstr='#b2cee1', GradientType=0);

							span {

								color: @grayLightFaint;
							}
						}
					}

					.btn-disabled,
					.btn-disabled:hover {

						border: 1px solid #e5e5e5;
						background: #d9e7f3;
						background: -moz-linear-gradient(top,#d9e7f3 0,#b2cee1 100%);
						background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#d9e7f3),color-stop(100%,#b2cee1));
						background: -webkit-linear-gradient(top,#d9e7f3 0,#b2cee1 100%);
						background: -o-linear-gradient(top,#d9e7f3 0,#b2cee1 100%);
						background: -ms-linear-gradient(top,#d9e7f3 0,#b2cee1 100%);
						background: linear-gradient(top,#d9e7f3 0,#b2cee1 100%);

						span {

							color: @grayLightFaint;
						}
					}
				}
			}

			&.PnlContinueButtonPayPal {

				border-top: 1px dotted @hrBorder;
				padding-top: 16px;

				p {
					width: 362px;
					float: left;
					text-align: right;
					font-size: 11px;
					padding: 0 0 2px 0;
					margin: 0;

					.fr-CA & {

						margin: 0;
						padding: 0 0 2px 0;
					}
				}
			}

			&.gift-cards {

				.btn {

					float: left;
				}
			}
		}

		.btn {

			float: left;
		}

        .btnContinueFromShipping {
            float: right;
        }
	}//checkout-wrapper
}//checkout-steps

/* radio select ------------------------------------------------------------------- */


.ui-radio-head {
	display: block;

		input {
		float: left;
		width: 26px;
		height: 21px;
	}

	&:after {
		content: " ";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}


	label {
		float: left;
		font-size: 16px;
		font-weight: bold;
		padding-right: -26px;
	}

}

.ui-radio-content {
	margin: 10px 0 10px 26px;
	display: none;

	.checkout-form & {

		margin: 10px 0;
	}
}

.ui-radio-selected {

	.ui-radio-content {
		display: block;
	}
}

/* tabs --------------------------------------------------------------------------- */
.ui-tabcontrol-tabs {
	background: url('/images/common/checkout/bg_sprite_tab.png') repeat-x scroll left bottom transparent;
	overflow: hidden;
	line-height: 20px;
	font-size: 14px;

	.ui-tabcontrol-tab {

		&.selected {
			margin-right: 4px;
		}
	}

	.selected {

		.tab_bg {
		    background: url('/images/common/checkout/bg_sprite_tab.png') no-repeat scroll left top transparent;
		    background-position: left -46px;
			width: 1px;
			height: 46px;
		}

		a {
		    background: url('/images/common/checkout/bg_sprite_tab.png') no-repeat scroll right top transparent;
			background-position: right -46px;
			font-size: 16px;
			padding: 13px 30px 13px 29px;
		}

	}

	.hover {

		a {
			background-position: right -92px;
			color: #fff200 !important;
		}

		.tab_bg {
			background-position: left -92px;
		}
	}

}

.ui-tabcontrol-tab{

	margin-right: 4px;

	.tab_bg{
	    background: url('/images/common/checkout/bg_sprite_tab.png') no-repeat scroll left top transparent;
		width: 1px;
		height: 46px;
	}

	.ui-tabcontrol-tab {

		a{
		    background: url('/images/common/checkout/bg_sprite_tab.png') no-repeat scroll right top transparent;
			padding: 13px 15px 13px 14px;
		}
	}
} 

.ui-tabcontrol-content {
	border-top: none;
}

/* equal buttons --------------------------------------------------------------------- */
.ui-pseudotab-control {

	.ui-pseudotabs {
		line-height: 20px;
		margin-bottom: 10px;
	}		

	.ui-pseudotab {
		float: left;
		margin: 0 0 0 2px;
	}

	.ui-pseudotab-content {
		display: none;
		padding: 15px 0 0 8px;
	}

	.content-selected {
		border-top: solid 7px @hrBorder;
		display: block;
	}
}


/* form ------------------------------------------------------------------- */
.checkout-form {
	font-size: 14px;

	input,
	input[type='text'] {
		padding: 2px;
		height: 23px;
		font-size: 14px;

		&.small {
			width: 40px;
		}

		&.medium {
			width: 180px;
		}

		&.big {
			width: 350px;
		}
		
		&.bigger {
			width: 380px;
			float: left;
			margin-right: 5px;
		}
	}

	select {
		padding: 2px;
		
		&.medium {
			width: 188px;
		}

		&.big {
			width: 358px;
		}
	}

	input[type=radio], 
	input[type=checkbox] {
		width: 13px;
		height: 13px;
		margin: 4px 6px 4px 0px;
		background: grey;
		border: 1px solid grey;
	}
	
	
	input[type="radio"] {
	
		-webkit-appearance: radio;
		-moz-appearance: radio;
		appearance: radio;
		border: 1px solid grey;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border-radius: 7px;
		width: 14px;
		height: 14px;
	}
	
	&[type="checkbox"]{
		margin: 5px 8px 4px 2px;
		 -webkit-appearance: checkbox;
		-moz-appearance: checkbox;
		appearance: checkbox;
	}
	label  {
		width: 165px;
		float: left;
		display: inline; /* ie6 fix */
		margin: 5px 10px 0 0;
	}

	.ext-label{
	    margin-left: 10px !important;
	    width: auto !important;
	    float:left;
	}

	.ui-radio-head {
		label {
			width: auto;
			margin: 0;
		}
	}
	
	.fr-CA & {

		.checkout-form {
			select {
				&.big {
    				width:320px;
    			}
    		}
		}
	}
}



.checkout-fieldset {

	span {
		float: left;
		width: 388px;
		margin: 0;
		position: relative; 
		display: inline-block; /* clear fix is implemented. method 2 not using overflow */
	}
}

.ui-radio-control {

	.checkout-fieldset {

		span {
			width: 360px;
			display: block;

			&:after {
				content: " ";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}
		}

		label {

			span {

				&.tiny-txt {
		    		clear:both;
		    	}
		    }
		}

		.inline-form {

			span {
				display: inline;
				width: auto;
			}
		}
	}
}

.error-field {

	span {
		display: inline;
		float: none;
		width: auto;
		vertical-align: top;
	}
}

.checkout-fieldset {

	.inline-form * {
		display: inline;
		width: auto;
	}

	.inline-form {
		label {
			float: left;
			margin: 0 0 8px 0;
			clear: right;
		}

		.tiny-txt  {

			clear: left;
		}
	}

	.returning-customers  {

		.inline-form {
			
			label {
				width:95%;

				label {

					margin: 0 0 10px;
				}
			}
		}

	}

	li {

		position: relative; 
		margin: 0 0 10px;
		display: block;
		clear: both;
		height: 29px;

		.page-signin & {

			height: auto;
		}

		span {

			&.address-tips-help{
				position: absolute;
			    font-size: 11px;
			    left: 60px;
			    top: 8px;
			}
		}

		&:after {

	    	height: 0px;
	    	visibility: hidden;
	    	clear: both;
	    	content: " ";
  	  	}

  	  	.phone-number, 
  	  	.phone-extension {

  	  		display: inline;
  	  	}

  	  	&.payment-credit-cards {

  	  		height: 38px;
  	  	}
	}

	span {

		
		&:after {
			content: " ";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}

		&:last-child:after {
		    display: inline;
		}
	}
}


/*.checkout-fieldset .inline-form span {
	clear: both;
}*/

.new-billing-address {

	li {
		span {

			&.address-tips-help {
			    position: absolute;
			    font-size: 11px;
			    left: 60px;
			    top: 5px;
			}
		}
	}
}

.checkout-form {

	.field-suite {
		input {
		    width: 103px !important;
		}
	}
}

.simple-form {

	label, 
	span {
		display: block;
		float: none;
	}

	label {
		margin: 2px 10px 4px 0;
		width:auto;
	}

	.chkbox {

		input[type="checkbox"]{
		    float:left;
		}

		label {
			float:left;
			clear:right;
		}
	}

	.btn-wrapper {
		margin-top: 15px;
	}
}

/* button related -------------------------------------------------------------- */
.btn-wrapper {
	display: inline-block; /* clear fix implemented */
	display: block;
	zoom: 1;
	overflow: hidden;
    margin: 0 0 10px;
    text-align: center;
}

.txt-btn {
	overflow: hidden;
	display: block;
	zoom: 1;
	font-size: 18px;
	float: left;
	margin-right: 5px;

	.btn-disabled {
		
		background-position: left top !important;
		cursor: default;
		opacity: 0.65;
		filter: alpha(opacity=65);
	
		span {
			background-position: right top !important;
			color: @tableBorderDivider;
			text-shadow: none;
		}
	}

	a {
	
		font-weight: bold;
		text-decoration: none;
		height: 39px;
		padding: 0 0 0 30px;
		line-height: 1.96em;
		float: left;
		background: url('/images/common/checkout/bg_sprite_btn_main_2.png') @white no-repeat left top;
	
		&:hover, 
		&:active {
			background-position: left -39px;
		}

		&:hover span, 
		&:active span {
			background-position: right -39px;
		}

	}

	span {
		background: url('/images/common/checkout/bg_sprite_btn_main_2.png') @white no-repeat right top;
		height: 39px;
		display: block;
		padding: 0 32px 0 0;
		text-align: center;
		color: #2e3337;
		text-shadow: @white  1px 1px 0;

		img {
			vertical-align: middle;
			margin: -1px 10px 0 0;
		}
	}
	
}

.btn-no-margin{
    margin-right:0px !important;
}


* html {
	.txt-btn {
		a {
			&:hover, 
			&:visited, 
			&:link {
				text-decoration: none;
			}
		}
	}
}

* html {
	.txt-btn {
		span {
			float: left;
		
			img {
				margin: 7px 10px 4px 0;
			}
		}
	}
}

.primary-btn {

	span {
		color: @white;
		text-shadow: #000000 -1px -1px 0;
		min-width: 160px;
	
		img {
			margin: -4px 6px 0 -6px;
		}
	}

	.btn-disabled {
			
			span {
			color: #002e4e;
			text-shadow: none;

		}
	}
}

.secondary-btn {

	a {
		background-position: left -117px;

		&:hover, 
		&:active {
			background: url('/images/common/checkout/bg_sprite_btn_main_2.png') @white no-repeat left -156px;
		}

		&:hover span, 
		&:active span {
			background: url('/images/common/checkout/bg_sprite_btn_main_2.png') @white no-repeat right -156px;
		}
	}

	.btn-disabled {
		background-position: left -117px !important;
	
		span {
			background-position: right -117px !important;
		}
	}

	span {
		background-position: right -117px;
		color: #2e3337;
	}

}

.inline-btn,
.inline-sec-btn,
.inline-tertiary-btn{

	font-size: 12px;
	height: 27px;

	a {
		height: 27px;
		padding: 0 0 0 24px;
		line-height: 2.05em; /*24px;*/
		background: url('/images/common/checkout/bg_sprite_btn_inline_2.png') @white no-repeat left -81px;

		&:hover,
		&:active{
			background-position: left -108px;
		
			span{
				background-position: right -108px;
			}
		}
	}

	.btn-disabled{
		background-position: left -81px !important;
	
		span{
			background-position: right -81px !important;
		}
	}

	span{
		background: url('/images/common/checkout/bg_sprite_btn_inline_2.png') @white no-repeat right -81px;
		height: 27px;
		padding: 0 24px 0 0;	

		span{
		    display:none;/*fix the empty span generated after clicking on add to cart */
		}
	}
} 


.fr-CA {

	.inline-btn, 
	.inline-sec-btn, 
	.inline-tertiary-btn{

		a {
		padding: 0 0 0 14px;
		}

		span {
			padding: 0 14px 0 0;
		}
	}
}

.on-grey {
	
	.inline-btn, 
	.inline-sec-btn{

		a, 
		span{
			background-color: #e5e5e5;			
		}
	}

	.primary-btn{

		a,
		span{
			background-color: @hoverListBackground;			
		}
	}	
}

.header {

	.btn-wrapper {
		float: right;
		margin: 11px 0 0 0;
	}

	.txt-btn {
		margin: 0;
	}
}

.ui-pseudotabs {

	.txt-btn {

		a {
			font-size: 14px;
			line-height: 2.56em;
			padding: 0 0 0 10px;
		}

		span {
			padding: 0 12px 0 0;
		}
	}
}



.special-btn {
	width: 160px;
	height: auto;
	margin: 0;
	float: none;
	background: transparent url('/images/common/checkout/btn_special.png') no-repeat left top;
	display: block;

	&:hover {
		background-position: left -73px;
	}

	a,
	span {
		background: none;
		width: 160px;
		height: 67px;
		padding: 0;
		display: block;
		line-height: 62px;
	}
}


.btn-wrapper {

	.cancel,
	.done {

		span{
			width: 46px;
		}
	}
}

/* ----------------------------------------------------------------------------- */
/* per page custom css --------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

/* for style guide page.  to be deleted for production ------------------------- */
h2 {
	
	&.comment {
		color: @gray !important;
		margin: 30px 0 10px;
		padding: 0 0 5px 5px;
		border-bottom: 3px dotted @gray;
		font-family: Trebuchet MS;
		font-size: 24px;
	}
}

.filler {
	background-color: #e5e5e5;
	padding: 12px 15px;
	min-height: 100px;
}

.comment-position {
	position: relative;
}

.comment-name-2-form {
    border-top: 1px dotted #E5E5E5;
    margin: 15px 0;
    padding-top: 15px;
	border-bottom: 1px dotted #e5e5e5;
}

.comment-section-name-1 .btn-wrapper span {
	width: 130px;
}

/* cart line item on checkout page --------------------------------------------- */
.page-cart {

	.cart-title {
	    float: left;
	}
	
	.main-toolbar {
	    padding: 5px 0 0 0;
	
	    a {

	    	&:last-child {
			    padding-right: 0;
			}
		}
	}
}

.cart-item {

	font-size: 11px;
	background-color: @white;
	border: 1px dotted @hrBorder;
	margin-bottom: 10px;
	padding: 7px 10px 8px;
    zoom: 1;

    .item-detail {
		margin: 7px 0;
		padding-top: 7px;
		border-top: 1px dotted #afafb0;
		zoom: 1;
	}

	.shipment-title {
		font-weight: bold;
		margin-bottom: 5px;
		font-size: 14px;

        &.top-fixed {
            position: fixed;
            top: 0;
            width: 596px;
            z-index: 1;
        }
	}

	.item-heading p {
		margin-bottom: 0;
	}

	.item-img {
		display: none;
	}

	.item-info {

		.info {
			float: left;
			width: 170px;
		}

		.cart-items-price{
		    text-align:right;
		    font-weight:bold;
		}

		.price {
			float: right;
			font-weight: bold;
		}

		.availability {
			margin-right: 8px;
			padding-right: 6px;
			border-right: 1px solid @hrBorder;
			display: inline;
		}
	}

	.availability {

		.help-link {
		    white-space: nowrap;
		}
	}

	.item-title {
		margin-bottom: 4px;
	}
}

* html {

	.cart-item{  
		
		.item-detail{ 

			.clear {
				height: 0.01em;
			}
		}

		.item-info {
            
			.availability {
			    border: none;
			}
		}

		.availability {

			.help-link {
			    border-right: 1px solid @hrBorder;
			    padding-right: 8px;
			}
		}
	}
} 


*:first-child+html {

	.cart-item {
		
		.item-detail{ 
			
			.clear {
				height: 0.01em;
			}
		}
	}

}

/* shipping, in-store section -------------------------------------------------- */
.edit-form {

	.ship-to-address-form {

		.check-use-billing {
			margin: 0 0 2px;
		}
	}
}

.continue-to-payment {
	padding: 15px;
	border-top: dotted 1px @tableBorderDivider;

	.btnContinueFromShipping {

		float: right;
		margin: 0px;
	}
}

.select-shipping-address {
	float: left;
}

.existing-address {

	.use-new-address {
		border-top: none;
		float: right;
		padding: 0 0 24px 15px;
		margin-left: 15px;
		border-left: 1px dotted @hrBorder;

		p {
			clear: both;
			padding: 15px 0 0;
			width: 154px;
		}

		.txt-btn {
			margin: 0;
		}
	}

	ul {
	    margin:0 0 0 26px;
	
	    li{
		    clear:both;
		    margin:0 0 10px;
		    overflow:hidden;
		
		    input,
		    .dash_space {

		    	&.small{
		    		float:left;	
		    	}
		    }
		}		
	}

	p {
		margin: 0;
	}

	.address {
		margin: 15px 0;		
	}
}


.existing-address-info{
    clear:both;
    padding:5px 0 0;
}

.new-billing-address,
.existing-address {

	ul {

		li {

			input,
			.dash_space{

				&.small{
				    /*float:left;*/
				}
			}

			.phone-number {
				float: left;
			}
		}
	}
}

.edit-form {

		.btn-wrapper {
		padding: 5px 0 15px 0;
		border: none;
	}
}

.shipping-ispu {

	h3 {
		margin-bottom: 15px;
	}
}

.multiple-shipment {
	margin-bottom: 15px;

	h4 {
		margin: 0 0 10px;
		padding: 4px 6px 6px 10px;
		border-radius: 3px;
		background-color: #e7e7e7;
	}

	p {
		margin-left: 10px;
	}

	.items {
		margin-bottom: 10px;
		padding-bottom: 8px;
		border-bottom: 1px dotted @tableBorderDivider;

		li {
			margin: 0 0 4px;
			padding-left: 22px;
			background: transparent url('/images/common/checkout/bullet_disc.png') no-repeat 4px 7px;
		}
	}

	ul {
		margin: 0 0 0 24px;
	}
}

.store-checkout-shipping-options {

	.multiple-shipment {
	
		ul {
		
			margin: 0;
		}
	}
}

.shipping-method {
	margin: 15px 0;
	padding-top: 15px;
	
	.multiple-shipment {

		ul {

			li {

				height: auto;
			}
		}
	}
}

.store-checkout-shipping-speed .shipping-method {
	margin: 0;
	padding-top: 0;
}

* html {

	.shipping-method {
		display: inline-block; /* double padding fix for ie */
	} 
}

*:first-child+html {

	.shipping-method {
		display: inline-block;
	}
}

.shipping-method-final {
	float: left;
	border-left: 1px dotted @hrBorder;
	padding-left: 15px;
	width: 240px;
	display: inline;

	h4 {

		margin: 0px;
	}

	a {
		font-size: 11px;
	}
}


.ship-to-final {
	float: left;
	width: 340px;
	margin: 0;
	border-right: none;

	p {
	    margin-bottom: 0;
	}

	.checkout-form {

		.big {
			width: 320px;
			margin-bottom: 10px;
		}
	}
}

.ispu {

	.ispu-info {
		width: 240px;
		float: right;
		display: inline;
	}

	.primary-btn {
		float: right;
		margin: 0 0 0 5px;
	}

	.ispu-store {
		width: 310px;
		float: left;
		margin: 0 15px 15px 0;
		border-right: 1px dotted @hrBorder;

		.store-info {
			width: 235px;
		}
	}

	.availability {
		float: left;
		margin-right: 10px;
		width: 60px;
		text-align: center;
		font-size: 10px;
		line-height: 1.2;
		font-family: tahoma;

		img {
			padding: 2px 0 5px;
			display: block;
		}
	}

	.store-info {
		float: left;
		width: 420px;

		.store-address {
			font-size: 11px;
			margin-bottom: 8px;
		}

		p {
			margin: 0;
		}
	}

	.find-select-store {

		.store-info {

			a {
				font-size: 11px;
			}
		}
	}

	.ispu-store-selected {

		.store-info {

			.store-address {
				font-size: 14px;
			}
		}
	}

	.store-detail {

		.radio {
			float: left;
			margin: 4px 10px 0 0;
			display: inline;
		}

		.btn-wrapper {
			float: left;
		}
	}

	.saved-stores, 
	.search-stores {
		padding: 12px 15px 15px;
		border: dotted 1px #999;
		margin: 0 0 15px;
	}

	.ispu-wrapper {
		border-bottom: dotted 1px @grayLightFaint;
		margin-bottom: 15px;
	}
}
 
.store-result {
	padding-bottom: 7px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #999;

	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.saved-store{
	padding-bottom: 7px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #999;

	&:last-child{

		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;		
	}
}

.search-store-form {
	margin: 0 0 15px;
	border: 3px @grayLightFaint solid;
	border-left: none;
	border-right: none;
	padding: 10px 0 15px 0px;

	.checkout-fieldset {

		li {
			float: left;
			/*margin: 0 10px 0 0;*/
			padding-right:10px;
			display: inline;
		}

		label,
		span{

			display: block;
			float: none;
			text-align: left;
			width: auto;
			margin: 0;		
		}
	}

	input{

		&.small {
			width: 70px;
			margin-top:1px;
		}

		&.medium {
			width: 120px;
			margin-top:1px;
		}
	}

	.or {
		padding: 10px 5px 10px 3px;
		font-weight: bold;
		margin-right: 5px;
	}

	.btn-wrapper {
		padding: 18px 0px 0;
	}

	.primary-btn {
		float: right;
		margin: 0 0 0 5px;
	}
}

* html {

	.search-store-form {

		.checkout-fieldset {

			.txt-btn span {
				float: left; /* ie6 */
			}

			label,
			span{
				
				float: left;
				clear: both;
			}
		}
	}
}

* html {

	.address-choice {

		.ui-pseudotabs {

			.btn-wrapper {
				float: left;
			}
		}
	}
}

.address-choice {

	.ui-pseudotabs {

		.txt-btn span {
			width: 210px;
		}
	}
}

.shipping-price {
	font-weight: bold;
	display: inline;
	float: none !important;
}

/* processing ----------------------------------------------------------------- */
.processing-page {
	margin: 40px 0 120px;
	text-align: center;
	color: @gray;

	.title {
		margin: 0 0 20px;
		padding: 0 0 5px;
		display: inline-block;
		font-size: 26px;
		font-weight: bold;
	}

	.instruction {
		margin: 20px 0 0;
	}

	p {
		margin: 0 0 5px;
	}

	.loading {
		margin: 50px 50px 30px 0;
		/*font-size: 21px;
		font-weight: bold;
		font-style: italic;*/
		font: italic bold 21px Arial;
	
		img {
			vertical-align: middle;
			margin-right: 20px;
		}
	}
}

/* thank you (order complete) ------------------------------------------------- */
.order-complete-page {

	.top-info {
		margin: 0 0 20px 10px;

		.txt-highlight {
			border-bottom: none;
		}
	}

	.email {
		font-weight: bold;

		label{
			display: inline;		
		}

		span{
			font-weight: bold;			
		}
	}

	.order-num {

		label{
			display: inline;	
		}

		span{
			font-weight: bold;
		}
	}

	.email, 
	.order-num, 
	.associate {
	
		margin: 0 0 10px;
	}

	.simple-form {

		.email-address {
		    display: inline;
		}
	}

	.forgot-password {
	    font-size: 11px;
	    margin: 10px 0 4px 134px;
	}

	.guest{

		h2 {
			margin-bottom: 5px;
			padding-bottom: 8px;
			font-size: 18px;
		}

		.save-your-info {
			float: left;
			width: 370px;

			ul {
				margin-top: 20px;

				li {
					margin-left: 26px;
					margin-bottom: 6px;
					list-style-type: disc;
				}
			}
		}

		.create-account-form {
			float: left;
			width: 460px;
			padding-left: 20px;
			margin-left:20px;
			border-left: 1px dotted #a2a2a2;
		    min-height: 180px;

		    li {
			    margin-bottom: 10px;
			}

			label {
			    font-weight: normal;
			    width: 120px;
			    float: none;
			    display: inline-block;
			}		

			.simple-form {

				li {
					margin-bottom: 6px;
				}
			}

			.inline-form {
				margin: 0px 0 0;
				clear: both;
				display: inline-block; /* clear fix is implemented. method 2 not using overflow */
				display: block;
				margin: 15px 0;

				 span {
					float: left;
					width: auto;
				}

				label {
					width: auto;
					margin: 0;
					float: left;
					width: 430px;
				}

				&:after {
					content: " ";
					display: block;
					height: 0;
					clear: both;
					visibility: hidden;
				}
			}

			.btn-wrapper {

				float: left;
			}
		}

		.checkout-form {

			.btn-wrapper {

				.btn-primary {

					float: left;
				}
			}
		}

		.btn-wrapper {
			margin: 15px 0 0;
		}		
	}

	.guest, 
	.guest-wrapper {
		background: #fff url('/images/common/checkout/bg_inner_2.png') no-repeat left top;
		padding: 12px 0 0;
		margin-bottom: 10px;
	}

	.guest-wrapper {
		background-position: left bottom;
		padding: 0 15px 15px;
		display: inline-block; /* clear fix is implemented. method 2 not using overflow */
		display: block;
		min-height: 300px;

		&:after {
			content: " ";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}

		.checkout-form {

			.simple-form {

				.inline-form {

					input {
					    display:inline;
					    float:left;
					}
				}

				.forgot-password{
				    font-size:11px; 
				}

				li {

					label{
					    width:460px;
					    float:none;
					    font-weight:normal;
					}
				}

				.inline-error-icon{
				    margin:2px 0 0 0;
				}
			}
		}

	}

	.checkout-form {

		.email,
		.forgot-password {

			&:empty{
				display: none;
			}
		}
	}
}

.create-account-form {

	.guest-login-title:empty {
	    display: none;
	}

	.guest-login-title {

		h2 {
		    padding: 0 0 4px;
		    border-bottom: none;
		    margin: -3px 0 0;
		}
	}

	.field-list {
	    margin-top: 15px;

	    li:empty {

	    	display: none;
	    }
	}
}

/*.guest .guest-wrapper .checkout-form .simple-form .acc-password input{
    background-color: #E5E5E5;
    border: 1px solid @hrBorder;
    border-radius: 2px 2px 2px 2px;
    color: #9D9D9D;
    cursor: default;
    padding: 2px;
}*/


/* what's next ------------------------------------------------------------ */
.order-complete-page {

	.what-next {
		margin: 20px 0 10px 10px;
	
		ul {
			padding-left: 20px;
		
			li {
				list-style-type: disc;
				margin-bottom: 4px;
			}
		}
		
		.highlight {
			border-bottom: 1px dotted @tableBorderDivider;
		}
	}

	.btns-print-continue {
		margin: 0 0 0 10px;

		.txt-btn {
			margin: 0 5px 0 0;
		}

		.btn {

			float: left;
		}
	}
}

/* create account page ------------------------------------------------------------ */
.account-page {

	.instruction {
		margin-left: 9px;
	}

	.account-detail {
		margin-left: 9px;
	
		ul {
			margin: 15px 0 20px 10px;
			padding-left: 16px;
		}

		li {
			margin-bottom: 6px;
			list-style-type: disc;

			 span {
				font-weight: bold;
			}
		}
	}

	.lnk-account {
		font-weight: bold;
	}

	.btns-print-continue {

		float: left;
	}	
}


/* cart pop-over tab -------------------------------------------------------------- */
.cart-popover-content {
	font-size: 12px;
	color: @gray;
	line-height: 1.45;
	background: transparent url('/images/common/checkout/accessory_wide_bg.gif') repeat-y left top;
	height: 100%;
}

.cart-popover {

	.ui-tabcontrol-tabs {
		float: left;
		width: 183px;
		background: none;
		overflow: hidden;

		.ui-tabcontrol-tab {

			&.selected {
				margin: 15px 0 0;
			}

			a {
				background: none;
			}
		}

		.selected {
			a {
				padding: 10px 10px 13px 15px;
				border-top: 1px solid @hrBorder;
				border-left: 4px solid #003388;
				border-right: none;
				border-bottom: none;
				background: @white url('/images/common/checkout/accessory_bg.gif') repeat-x left bottom;
				color: #2a2a2a;
			}
		}

		.tab_bg {
			display: none;
			background: none;
		}
	}

	.ui-tabcontrol-contents {
		float: left;
		width: 637px;
		height: 100%;
		border: solid @hrBorder 1px;
	}

	.ui-tabcontrol-content {
		border-left: none;
		padding: 0;
		height: 99.7%;
		overflow: scroll;
		overflow-x: hidden;
	}

	.ui-tabcontrol-tab {
		float: none;
		margin: 10px 0;

		a {
			font-size: 16px;
			float: none;
			padding: 7px 10px 7px 19px;
			color: @gray;
		}		
	}

	.psp-info {
	    padding: 15px 0 0 15px;
	
		.link-help {
			font-size: 12px;
		}
	}

	.warranty-selection {
	    padding: 0 0 15px 15px;
	}

	.hover{

		a {
		    color: #2a2a2a !important;
		}
	}

	.unchecked {
	    margin: 10px 0;

	    span {
		    float: none;
		}

		img {
		    vertical-align: top;
		    margin: 0 4px 0 0;
		}
	}

	.confirm-agreement {
	    display: inline;

	    label {
		    width: auto;
		    float: none;
		}
	}

	.psp-disclosure {

		.inline-form {
		    margin-bottom: 10px;
		}
	}

	.psp-header {		
		padding-left: 110px;
		margin-bottom: 10px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            background: transparent url('/assets/backgrounds/sprite-interstitial.png') no-repeat -10px -10px;
            width: 84px;
			height: 61px;
            left: 0;
            top: 10px;

            html[lang="fr-CA"] & {
                background: url('/assets/backgrounds/geeksquad-protection-fr.png') 0 0 no-repeat;
                height: 81px;
            }
        }

		h2 {
			font-size: 18px;
			margin-bottom: 10px;
			color: @gray;
		}
	}

	.psp-benefits {
		clear: both;
		border-bottom: 1px dotted @hrBorder;
		margin-bottom: 10px;
		padding-bottom: 12px;
	
		ul {
			padding-left: 24px;
			margin-bottom: 10px;
		}

		.benefits-1st,
		.benefits-2nd {
			float: left;
			width: 280px;
			margin-right: 15px;
		}

		li {
			list-style-type: disc;
			margin-bottom: 4px;
		}
	}

	.psp-info,
	.psp-option {

		h3{
			background: none;
			color: @gray;
			font-size: 14px;
			line-height: 1.45;
			padding: 0;
			margin-bottom: 10px;
			overflow:hidden;
		}
	}

	.psp-option {

		clear: both;
    	margin: 10px 0 0;

		h3{
			margin-bottom: 4px;
		}

		.description {
		    clear: both;
		}
	}

	.psp-program {
		float: left;
		width: 280px;
		margin-right: 15px;

		span {
		    width: 100%;
		}

		.psp-form {

			input {
			    margin: 3px 8px 4px 0;
			}
		}

		.link-help {
		    display: block;
	    	font-size: 12px;
		}

		li {
		    overflow: hidden;
		    min-height: 24px;
		}
	}

	.psp-disclosure {

		input {
		    margin: 3px 8px 4px 0;
		}

		span {
		    float: none;
		    width: auto;
		    display: inline;
		}

		label {
		    margin: 2px 0 0;
		}
	}

	.btn-psp {
		margin-top: 15px;

		.txt-btn {

			span {
				float: none;
				width: auto;
			}
		}
	}

	.psp-form {
		padding-left: 12px;
		overflow: hidden;

		label {
		    margin: 0 3px 0 0;
		    width: auto;
		}

		input {
		    float: left;
		}
	}

	.none-option {
	    padding: 0 0 10px;
	    border-bottom: 1px dotted @hrBorder;

	    label {
		    font-weight: bold;
		    font-size: 14px;
		}
	}

	.checkout-form {
		font-size: 12px;
	}

	.checkout-fieldset {

		li {
			margin-bottom: 4px;
		}

		.inline-form {

			label {
				margin: 2px 0 0;
			}
		}
	}

	.cart-accessories-list {
	    padding: 15px 0 15px 15px;
	}
}

.cart-accessories-list {

	li {
		float: left;
		width: 137px;
		border-right: 1px dotted @hrBorder;
		margin: 0 10px 15px 0;
		padding-right: 5px;
	
		&:nth-child(4n) {
			border-right: none;
			margin-right: 0;
		}
	}

	.prod-info {
		min-height: 132px;
	}

	.prod-image {
		text-align: center;
		margin-bottom: 5px;
	}

	.title {
		margin-bottom: 10px;
	}

	.price {
		margin-bottom: 10px;

		.label {
			margin-right: 6px;
		}

		.on-sale,
		.regular {
			font-size: 12px;
			font-weight: bold;
			line-height: 1.25;
		}

		.on-sale {
			color: #ff0000;
		}

		.you-save,
		.sale-end {
			font-size: 11px;
		}
	}

	.rating {

		.overall {
			font-size: 12px;
			vertical-align: top;
			margin-top: 1px;
		}

		img {
			margin-right: 1px;
		}
	}

	.btn-wrapper {

		.inline-btn {

			a {
			    padding: 0 0 0 8px;
			}

			 span {
			    padding: 0 8px 0 0;
			    width: 110px;
			}
		}
	}
}

* html .cart-accessories-list .btn-wrapper .inline-btn span {
    width: 106px;
}


* html {

	.cart-popover {

		.ui-tabcontrol-contents {
		    width: 630px;
		}

		.psp-program {

			li {
			    height: 24px;
			}

			.psp-form {

				input {
				    margin: 0 8px 4px 0;
				}
			}
		}

		.psp-disclosure {

			span * {
			    vertical-align: middle;
			}
		}

		.none-option {
		    height: 18px;
		}
	}
}

* html {

	.cart-accessories-list {

		li {
		    width: 132px;
		} 
	
		.prod-info {
			height: 150px;
		}
	}
}

*:first-child+html {

	.cart-accessories-list {

		li {
		    width: 134px;
		}
	}
}

/* giftcard section ----------------------------------------------------- */

.gc-number,
.gc-code, 
.gc-balance {

	float: left;
	margin: 0 30px 0 0;

	label{
		display: block;
		float: none;
		text-align: left;
		width: auto;
		padding: 0 0 5px;
	}

	span{
		width: auto;
		height: 30px;
		float: none;		
	}
}

.gc-number {
	text-align: left;
	width: 200px;
}
	
.gc-code {
	width: 110px;
}
	
.gc-balance     {
	float: left;
	width: 80px;
}


/* accordions --------------------------------------------------------- */
.payment {

	.promo-code {

		.checkout-form {
			width: 250px;
			float: left;
		}

		.promo-applied {
			width: 300px;
			float: right;
			display: inline;
			border-left: 1px dotted @hrBorder;
			min-height: 90px;
			padding: 4px 0 0 10px;

			 li {
				margin-bottom: 4px;
			}
		}

		.code-applied {
			font-weight: bold;
			display: block;
		}

		.remove {
			margin-left: 10px;
			font-size: 11px;
		}
	}

	.rz-membership {

		.applied-rz {
			font-weight: bold;

			.rz-lnk-wrapper {
			    font-size: 11px;
			    font-weight: normal;
			    padding: 4px 0 0;
			}
		}
	}

	.giftcard {

		.applied-gc {
			border-top: 1px solid @hrBorder;
			margin-top: 15px;
			padding-top: 12px;

			 h4 {
				margin-bottom: 10px;
			}

			li {
				display: inline-block; /* clear fix is implemented. method 2 not using overflow */
				margin-bottom: 2px;
				display: block;

				&:after {
					content: " ";
					display: block;
					height: 0;
					clear: both;
					visibility: hidden;
				}
			}

			span {
				float: left;
			}

			.gc-num {
				font-weight: bold;
				width: 230px;
			}

			.gc-amount {
				width: 140px;
			}

			.remove {
				font-size: 11px;
			}
		}
	}
}
 
/* cart CSS ----------------------------------------------------- */

.page-cart {

	.checkout-fieldset {

		li {
		    margin: 0 0 5px 0;
		    position: relative;
		}
	}

	.see-all-link {
	    font-weight: bold;
	}

    .free-shipp {
	    margin: 0 0 10px 0;
	}

	.order-total-wrapper {

		h2 {
			float: none;
		}
	}

	.postal-code {
		float: left;
		margin: 0 8px 0 0;

		input {
			width: 80px;
		}
	}

	.ui-accord-header {

		h3 {

			a {
				padding-bottom: 1px;
                display: block;
			}
		}
	}

	.accessories-icon {
	    margin: 0 7px 0 0;
	}

	.security {
		margin: 20px 0 0 1px;
        padding-left: 80px;
		font-size: 11px;
		background: transparent url('/assets/icons/icon_secure_big.png') no-repeat 10px top;

		h6 {
		    color: #77787B;
		    margin: 0 0 3px 0;
		    text-transform: uppercase;
			font-size: 11px;
		}

		.subtext {
		    margin: 0 0 15px 0;
		}
	}

	.postal-title,
	.panel-title {
	    font-weight: bold;
		font-size: 14px;
		min-height: 18px;
		margin-bottom: 10px;
	}
	
    .postal-title {
		line-height: 1.35;
	}

	.cart-ad {
		margin: 0 0 20px 0;
		text-align: center;
	
		.splash-ads-hor {
		    background-color: transparent;
		}
	}

    .bottom-cart-buttons {
        margin: 0;
	}

    .cart-items-info {
		margin: 15px;
	}

	.cart-line-item {

		.prod-info {
		    width: 310px;
			margin: 0 20px 0 0;
		}

		.price-qty-wrapper {
		    width: 180px;
		}

		.prod-price-wrap {
			margin: 0 0 8px;
		}

		.qty-update-text {
			text-align: left;
			text-indent: 8px;
		}

        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
        }
	}

	.online-availability,
	.in-store-availability {
		font-size: 12px;
		font-weight: bold;
		margin: 0 0 8px;
		padding: 0 0 0 24px;
	}

	.online-availability {
        margin: 0 0 16px;
	}

	.instore-availability-prompt,    
	.online-availability-prompt {
		font-size: 11px;
		font-weight: normal;
	}

    .prod-info .online-availability,
    .prod-info .in-store-availability, 
	.prod-info .sold-out-online,
    .prod-info .not-available-in-nearby-store {
		background: transparent url('/assets/icons/icon_availability.png') no-repeat 3px -76px;
		color: @notAvailable;
	}

    .p-info .available,
	.prod-info .available-online,
    .prod-info .available-online-only,
	.prod-info .available-in-store,
	.prod-info .available-for-preorder, 
    .prod-info .available-for-backorder {
		background: transparent url('/assets/icons/icon_available.png') no-repeat 3px 0;    
        color: #2e3337;
	}

	.prod-links {
		font-size: 11px;
		margin: 4px 0 12px;
	}

	.prod-esrb-rating {
	    font-size: 11px;
	    margin: 4px 0;
	}

	.link-divider {
		border-right: solid 1px @hrBorder;
		margin: 0 8px 0 0;
		padding: 0 6px 0 0;
	}

	.remove-but {
	    font-size: 12px;
	    text-align: center;
	    margin: 4px 0 0;
	}

	.prod-ship-box {
		margin: 12px 0;
		border-radius: 4px;
		    -moz-border-radius: 4px;
		    -webkit-border-radius: 4px;
		    -khtml-border-radius: 4px;
		font-size: 12px;

		div {
		    margin: 0 0 4px;
		}

		.delivery-icon {
			margin: 2px 4px 0 0;
			vertical-align: top;
		}

		.available {
			color: #2e3337;
		}

		.unavailable {
			color: #9a9a9a;
		}

		.link-learn {
			margin: 2px 0 0 23px;
		}
	}

	.accessories-box {
		margin: 15px 0;
	}

	.price-onsale {
		font-size: 16px;
		color: #da1a36;
		font-weight: bold;
	}

	.price-onsale *,
	.prod-price-total * {
	    font-family: "Arial Black", Arial, Helvetica, Sans-Serif;
	    font-size: 16px; 
	    font-weight: 900;
	}

	.prodprice .label,
	.sale-regular,
	.price-onsale .label {
	    display: none;
	}

	.prod-price-total {

		.label {
		    font-family: Arial, Helvetica, Sans-Serif;
		    font-weight: 700;
		}
	}	

	.qty-update,
	.qty-update-entry {
		margin: 7px 0 10px 0;
		background-color: @hoverListBackground;
		padding: 7px;
		width: 118px;	
		
		.fr-CA & {
			width: 138px;
		}	
	}

	.cart-line-item {

		.qty-update {
			width: 115px;

			.fr-CA & {
				width: 135px;
			}
		}
	}

	.qty-update-field {
	   	float: left;

	   	input {
		    padding: 0 1px 0 0;
		}
	}

	.qty-arrows {
		float: left;
	    border: none;
	}



	.qty-update-text {
		padding: 1px 0 0;
		font-size: 11px;
	}

	input {

		&.small {
		   border: none;
		   height: 20px;
		   width: 26px;
		   text-align: center;
		}
	}

	.extra-prod-info {
		text-align: right;
		margin: 0 0 10px 0;
	}

	.sof-control {

		ul {
		    border-top: 1px dotted @tableBorderDivider;
		    padding: 10px 0 15px 7px;
		}
	}

	.special-offers {

		li {
			padding: 0 0 0 0;
			margin: 0 0 0 15px;
			font-size: 11px;
			list-style-type: disc;
		}
	}

	.postal-radio {
	    margin: 10px 0 0 0;
	    font-size: 14px;
	    line-height: 18px;

	    label {
			float: none;
			margin: 1px 0 0;
			width: 198px;
			font-size: 14px;
			display: inline-block;
		}

		.delivery-method-desc {
		    font-size: 11px;
		    line-height: 1.35;
		}

		li {
			text-align: left;
		}


 		table {

 			tr {

 				td {
				    vertical-align: top;
				    padding-bottom: 4px;
				}
			}
		}
	
 		.delivery-method {
			display: block;
			font-size: 14px;
		}

		.disabled {

			label {
				color: @tableBorderDivider;
			}

			strong {
				font-weight: normal !important;
			}
		}
		

		.postal-code-form {

			span {
			      margin: 2px 10px 0 0;
			      float: left;
			
                input {
					    border: 1px solid @grayLightFaint;
					    width: 54px;
					    height: 24px;
					}
			}
		}
	}

	.special-delivery {

		.help-link {
		    margin-left: 6px;
		}
	}


	.estimate-form {
		border-bottom: dotted 1px @hrBorder;
        padding: 5px 0 0 0;
		margin: 0 0 15px 0;

		.checkout-form {
			margin: 0 0 0 28px;
		}

		.ui-accord-section {

			.ui-accord-header {

				h3 {
					margin: 0 0 4px 0;
				}
			}
		}

		.inline-form input[type='radio'] {
			margin: 4px 8px 4px 0;
			float: left;
		}

		.special-shipment {
			border-top: 1px dotted @hrBorder;
			padding-top: 7px;
			margin-top: 10px;
		
			input {
				visibility: hidden;
			}
		}

        &.postal-code-panel {
			border-bottom: none;

			.checkout-form {
				margin: 0px;
			}
		}
	}

	.btn-estimate {
	    float: left;
	}

	.pick-up-text {
	    color: @hrBorder;
		font-weight: bold;
	}

	.btn-reserve {

		a {
		    display: block;
		    text-align: center;
		    background: transparent url('/assets/icons/icon_lock.png') no-repeat 42px 8px;
		    text-indent: 10px;    
		}

		.disabled {

			a {
			    display: block;
			    text-align: center;
			    background: none;        
			    text-indent: 0px;
			}
		}
	}

    .glb-footer {
	    border: 1px dotted @grayLightFaint;
	    line-height: 1.45;
	    padding: 20px 20px 20px 20px;
		margin: 10px 0 0 0;

		.ftr-top {
		    background-color: @hoverListBackground;
		    border-bottom: 3px solid @grayLightFaint;
		    border-top: 3px solid @grayLightFaint;
		    padding: 13px 0 0;
		}
	}
	
	.promotionalCodeArea {
		
		.ui-accord-content {
			padding-left: 28px;
		
			.txtbox {
				width: 120px;
			}			
		}
	}
}

.cart-line-item .cart-line-item {
    border: none;
    margin: 0;
    padding: 0;

    .prod-image-remove {
        margin: 0 0 0 -115px;
    }
}

.fr-CA {

	.page-cart {

		.cart-line-item {

			.prod-info {
			    width: 300px;
				margin: 0 10px 0 0;
			}

			.price-qty-wrapper {
			    width: 200px;
			}
		}

		.prod-price-total * {
		    font-family: "Arial Black",Arial, Helvetica, Sans-Serif;
		    font-size: 16px; 
		    font-weight: 900;
		}

		.price-regular,
		.price-onsale {
		    font-size: 14px;
		}
	}

}

* html {

	.page-cart {

		.qty-update-field {

			input {
			    padding: 2px 1px 0 0;
			    height: 18px;
			} 
		}
	}
}

*:first-child+html {

	.page-cart {

		.qty-update-field {

			input {
			    padding: 2px 1px 0 0;
			    height: 18px;
			}
		}
	}
}

* html {

	.page-cart {

		.postal-radio {

			input {
			    vertical-align: top;
			}
		}
	}
}

.giftcard {

	.gc-number, 
	.gc-code, 
	.gc-balance, 
	.link-remove {
		float: left;
		margin: 0 20px 5px 0;
	}

	.link-remove {
		margin: 0 0 5px;
		font-weight: normal;
		font-size: 11px;
	}
}

* html {

	.giftcard {

		.gc-number, 
		.gc-code, 
		.gc-balance, 
		.link-remove {
			display: inline;
		}
	}
}

.GrdGiftCardEntry{
 
    width:100%;

    th{
	    border-bottom: 1px dotted @grayLightFaint;
	    padding: 0 0 2px;
	}
}

.giftcard {

	.gc-number,
	.gc-code,
	.gc-balance	 {

		label {
			border-bottom: 1px dotted @hrBorder;
			padding: 0 0 2px;
			margin:0 0 5px;
		}
	}

	.checkout-fieldset {

		.gc-number {
			text-align: left;
			width: 214px !important;
		}

		.gc-code {
			width: 110px !important;
		}

		.gc-balance {
			width: 80px !important;
		}

		li {
			clear: both;
			margin: 0;
		}

		.applied {
			margin: 0 0 10px;
			font-weight: bold;

			.gc-number {
				text-indent: 24px;
				background: transparent url('/images/common/checkout/bullet_check.png') no-repeat left 3px;
			}
		}

		.link-remove {
			width: auto;
			float: right;
		}
	}
}

.fr-CA {

	.giftcard {

		.checkout-fieldset {

			.gc-number {
				width: 280px !important;
			}
		}
	}
}

/* ---------------------------------------------------------------------------- */

/* Code from  jB_Checkout.css ------------------------------------------------- */

/* ---------------------------------------------------------------------------- */
.page-box {
	padding: 12px 0 0 0;
	margin: 0 0 20px 0;
	
	.ui-accord-content & {

		padding: 2px 0 0 28px;
	}

	&.existing-user {
	    margin: 0 0 32px 0;
	    padding: 0px;

	    .cc-template {

	    	padding: 0px;
	    }
	}
}

.estimate-form-form {
	padding: 5px 0 0 25px;
	margin: 0 0 0 0;
}

.payment {

	.CC-group{
		margin: 60px 0 0 15px;
		width: 142px;
		height: 83px;
	}

	.continue-to-review {
		padding-top: 15px;
		margin-top: 15px;
		border-top: 1px dotted @hrBorder;
	
		.primary-btn {
			float: right;
			margin:0 0 0 10px;
		}

		p {
			margin: 6px 230px 0 0;
			text-align: right;
			font-size: 12px;
		}
	}

}

.billing-address-section {
	padding-top: 15px;
	margin-top: 15px;

	h4 {
		margin: 0 0 5px;
		padding: 0;
		font-weight: bold;
		font-size: 16px;
	}

}

.select-billing-address {
	float: left;

	.select-cc-form {

		.existing-cc-info {

			clear: both;
			padding: 8px 0;
		}
	}
}

.cc-template {

	padding: 0 16px;

	p {
		margin: 0;
	}

	.address {
		margin: 15px 0 0;
	
	}

	.btn-new-cc {
		border-top: none;
		float: right;
		margin-left: 14px;
		height: 160px;
		border-left: 1px dotted @hrBorder;
		padding: 0 0 24px 14px;
	
		p {
			clear: both;
			padding: 15px 0 0;
			width: 154px;
		}

		.txt-btn {
			margin: 0;
		}
	}

	.select-cc-form {

		select {

			&.big{
			    float:none;
			    width:280px;
			}
		}
	}

	.existing-address {
		margin: 0 0 20px 0;

		p {
			margin-top: 10px;

			&.tiny-txt {
				margin-top: 4px;
			}
		}

		select {

			&.big {
			    width:310px;
			}
		}

		.phone-number {

			input {
				float: none;
			}
		}
	}
}

.select-cc-form {
	margin: 0;
	
	.existing-cc-info {

		.txt-btn {

			span {
				width: auto;
			}
		}
	}
}


.use-existing-card {

	li {

		span {
			width: auto;
		}
	}

	.tbox-cid-wrap {
	    float: left !important;
	}
}

.tbox-cid-wrap {
    display: inline !important;
}

.review-cid {

	.tbox-cid-wrap > span:last-child {
	    float: none;
	}
}

.tbox-cid-wrap > span:last-child {
    float: left;
    /*min-width: 75px;*/

    &:after {
	    display: inline;
	}
}

.field-cid-wrap {
    margin-top: 4px;

    .show-msg-bubble-on-hover {
	    vertical-align: top;
	}
}

.dotted-line {
    border-top: 1px dotted @grayLightFaint;
}

.ui-radio-head {

	label{
	font-size: 14px;
	}
}

.payment-type-final{
	width: 310px;
	float: left;
	margin: 0 15px 15px 0;

}
                               
.billing-final{
	width: 240px;
	padding: 0 0 0 15px;
	float: right;
	border-left: 1px dotted @hrBorder;
	display: inline;

}

.lock-msg{
	background: url('../images/common/checkout/lock.gif') no-repeat 0px 3px;
	margin: 2px 5px 0 0;
	padding: 0 0 0 20px;
	width: 400px;
	height: 18px;
	float: left;
}

.checkout-policies{
    clear: both;
    font-size: 11px;
    margin: 30px 0 0 15px;
}

.button-spacing {
	margin-top: 10px;
}


.payment-fast-track {
	padding: 0 0 10px 0;
	margin: 0 0 15px 0;
	border-bottom: 1px dotted @hrBorder;
}

.payment-fast-track .email-address {
	font-weight: bold;
}

/* collapsed payment section ----------------------------------------------------- */
.cc-billing-wrapper {
	padding: 0 0 15px;
	border-bottom: 1px dotted @hrBorder;
	/*overflow: hidden;*/
	margin: 0 0 15px;
}

.cc-billing-image-container{
	float: left;
	width: 122px;
	min-height: 1px;
}

.cc-billing-info {
	float: left;
	width: auto;
	.cc-num {
		font-weight: bold;
	}
}

.cc-billing-card-num {
	float: left;
	width: 130px;
}
                        
.cc-billing-address{
	float: left;
	width: 200px;
}
                        
.cc-billing-remove{
	float: right;
}

.cc-billing-cid{
	float: right;
	width:140px;

	.cc-billing-card-num & {

		width: auto;
		margin: 16px 0 0 0;

		.tbox-cid-wrap {

			input {

				background: #FFFFCC;
			}
		}
	}
}

.cc-billing-cid {

	.inline-error-icon{
	    margin:0px;
	}

	.help-link{
	    font-size:11px;
	}
}

.review-cid {
	margin: 0 0 0 00px;
}

.review-cid label {
	font-weight: bold;
}

* html {

	.field-cid {

		.small {
		    width: 210px;
		}
	}
}


.gc-wrapper,
.rz-payment-confirm-wrapper {

	padding: 0 0 15px 0;
	border-bottom: 1px dotted @hrBorder;
	margin-bottom: 15px;
	overflow: hidden;
}

.gc-wrapper{

	position: relative;

	.gc-image-container{
		float: left;
		width: 122px;
		
	}
	
	.gc-info{
		float: left;
		width: auto;		
	}

	a {

		position: absolute;
		top: 0px;
		right: 0px
	}
}

.gc-card-num {
	float: left;
	width: 134px;
	font-weight: bold;
}
                        
.gc-card-amount {
	float: left;
	width: 200px;
	font-weight: bold;
}
                        
.gc-remove{
	float: right;
}

.rz-payment-confirm-title{
	float: left;
	width: 282px;
}

.rz-payment-confirm-code{
	float: left;
	width: 300px;
}

.promo-confirm-title{
	float: left;
	width: 282px;
}

.promo-confirm-code{
	float: left;
	width: 300px;
}

.edit-link{
	float: right;
}

.payment-submit {

	.edit-link {
		font-size: 11px;
	}

	.cc-billing-wrapper {

		.edit-link {

			width: 144px;
			float: left;

			a {

				&:first-child {

					margin: 0px;
				}
			}
		}

		a {

			margin: 10px 0 0 0;
		}
	}
}

.card-switch{
	padding: 13px 10px 12px 15px;
	background: transparent url('../images/common/checkout/bg_switch_card.png') no-repeat left top;

	select {
		width: 330px;
	}
}

.card-switch-txt{
    float: left;
	width: 240px
}

.card-switch-form{
    float: left;
	width: 300px
}

.payment-submit {

	label, 
	span {
		margin: 0 0 4px;
		width: auto;
	}

	span {

		&.letter_space {
		    font-weight:bold;
		}
	}
}

.btn-submit-order {

	.primary-btn {
	    float: right;
		margin:0 0 0 10px;
	}

	p {
		margin: 0 0 5px;
	}
}

/* promo-code section ----------------------------------------------------- */
.checkout-fieldset {

	.promo-form {

		label{
			width: auto;
		}
	}
}

.page-cart {

	.promo-code-accord {
	
		border: 0;
		border-top: 1px solid white;
		padding: 16px 15px;
		margin: 16px -15px 0;	
		
		.ui-accord-header .panel-title {
			background: none;
			color: #039;
			font: normal 14px/1em Arial,"Helvetica Neue",sans-serif;			
			margin: 0 0 16px;
			padding: 0;
		}		

		.ui-accord-content {padding: 0;}

				.promo-form {

					float: left;
					margin: 0 8px 10px 0;
				}

		.promoSummary {
            clear: both;
			font-size: 11px;
		}

		.promoSummary li {

				text-align: left;
			}			
		}		
	}	

.helpful-info {
	background: url('/assets/icons/icon_phone.gif') no-repeat 16px 30px;
	padding: 24px 8px 16px 75px;
	min-height: 60px;

	.title {
		font-size: 16px;
		font-weight: bold;
		margin: 0;
	}
}


/* email address registration ----------------------------------------- */
.email-registration {

	.inline-form {

		label {
			width: 464px;
		}
	}

	.email-address {
		font-weight: bold;
		float: none;
		margin-bottom: 4px;
	}
}

.payment {

	.email-registration {

		p {
			font-size: 14px;
			margin: 10px 0 15px 0;
			text-align: left;
			float: none;
		}

		.inline-form {
		    padding: 10px 0 0;
		    margin: 15px 0 0;
		}
	}
}

/* existing user, add new credit card --------------------------------- */
.checkout-form {

	.ui-radio-head {

		input[type="radio"] {
			width: 26px;
			height: 22px;
			margin: 0;
			padding: 0;
		}
	}
}

*:first-child+html {

	.checkout-form {

		.ui-radio-head {

			input[type="radio"] {
				height: 21px;
				margin: 0 3px 0 -3px;
			}
		}
	}
}

.existing-user-add-card {

	.billing-address-section {
		margin: 5px 0 15px;
	
		p {
			margin: 0;
		}
	}
}

.billing-address-section {

	p {
		margin-bottom: 10px;
	}
}

.btns-new-address {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px dotted @hrBorder;
}

/* recommended items pop-up CSS ----------------------------------------------------- */

.recommended-container {

	.ui-tabcontrol-content {
	    
	}

	.recommended {
		padding-bottom: 25px;
		margin: 0 0 15px 0;
		border-bottom: 1px solid #e7e7e7;
	}

	.services {
		padding-bottom: 25px;
		margin: 10px 0 0 0;
	}

	&.product-group-wrap {
		align: center;
	}

	.product-wrap {
		width: 130px;
		float: left;
		padding:  0 0 0 20px;
	}

	.product-wrap-border {
		border-right: 1px solid #e7e7e7;
	}

	.show-more {
		text-align: center;
	}

	.rec-field-title{
	    float: left;
		width: 120px;
		padding: 15px 0 10px 0;
	}

	.price-block{
	    float: left;
		width: 80px;
		padding: 0 0 10px 0;
	}

	.add-button{
	    float: left;
	}
}

.services-container {

	.services {
		padding-bottom: 25px;
		margin: 10px 0 10px 0;
		
	}
}


/* secure checkout sign in ----------------------------------------------------- */
.checkout-master {

	.page-signin {

		.checkout-form {

			span {

				&.radio {

					input[type='radio'] {
					    margin: 6px 12px 4px 2px;
					}
				}
			}
		}
	}
}

.page-signin {

	.secure-signin {

		margin: 0 0 20px 0;

		.title {
			font-size: 18px;
			font-weight: bold;
			display: block;
			float: none;
		}

		.returning-customers {

			clear: both;

		}
	}

	.secure-title-txt{
		font-size: 21px;
	}

	.title-lg-txt{
		font-size: 24px;
		margin: 0 0 7px 0;
	}

	.guest-customers {

			label {
		    width: 96%;
		}
	}

	.checkout-form {

		.guest-customers {

			margin: 0px;
			padding: 0px;

			.inline-form {

				height: auto;

				.fr-CA & {

					height: 65px;
				}
			}
		}

		.returning-customers {

			.inline-form {

				height: 65px;
			}
		}

		input {

			&.radio {
			    margin: 10px 12px 4px 2px;
			}
		}

		.email-pass {
		
		    margin: 15px 0 10px 27px;
		    height: 26px;

		    label {
				width: 120px;
			}

			input {
				width: 240px;
				font-size: 14px;
				padding: 2px;
			}
		}
	}

	.email-pass {

		input {
			background-color: #e5e5e5;
			cursor: default;
			border: 1px solid @hrBorder;
			padding: 2px;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			color: #9d9d9d;
			float: left;
			margin-right: 5px;
		}
	}

	.selected {

		.email-pass {

			input {
				background-color: @white;
				cursor: text;
				color: @gray;
			}
		}
	}

	.forgot-pass {
		margin: 2px 0 0 157px !important;
		font-size: 11px;
	}

	.grid-5{
	    float: left;
	}
	
	.inline-form {
		
		li {
		
			margin: 0 0 15px;
		}
	}
}

/* age verification  ----------------------------------------------------- */


.page-age-verification {

	.std-single-cln-wrapper {
		padding: 10px 10px 20px 20px;
	}

	.esrb-txt {
		margin: 10px 0 0 0;
		font-weight: bold;
	}

	.age-description {
		margin: 10px 0 0;
		padding-top: 15px;
		border-top: 1px dotted @hrBorder;

		li {
		    -moz-border-radius: 5px;
		    -webkit-border-radius: 5px;
		    border-radius: 5px;
		    background-color: @white;
		    border: 1px solid #e5e5e5;
		    float: left;
		    margin: 0 10px 10px 0;
		    padding: 14px;
		    width: 138px;
		}
	}
	
	.button-container {
		margin: 15px 0;

		.txt-btn {

			a {
				min-width: 200px;
			}
		}
	}
	
	.age-prod-list {

		.prod-image {
			text-align: center;
			margin-bottom: 10px;
		}
	}

	.btn-back-to-cart {
		float: left;
	}

	.btn-continue {
		float: right;

		.txt-btn {
			margin: 0;
		}
	}

}


/* surcharge pop up  ----------------------------------------------------- */

.help-detail-content {

	&.surcharge-info {
	    margin: 0 9px 15px;
	    border-bottom: 1px dashed;
	    padding: 0 0 15px;
	}


	.content-pmessage {

		.ehf-wrapper {
	    	padding-right: 9px;
	    	height: 550px;
			padding-bottom: 30px;
			overflow-y: scroll;
		}
	}

	.surcharge-info {
		
		.help-detail-content {
		
			height: 510px;
			padding-bottom: 30px;
			overflow-y: scroll;
		}
	}
}

.surchargeinfo {

	h1 {
	    font-size: 15px;
	    margin-bottom: 10px;
	}

	.ehf-wrapper {

		li {

			&.ui-accord-section {
			    margin-bottom: 0px;
			}
		}


		p {

			&.no-ehf {
			    padding: 10px 0 15px 10px;
			}
		}
	}
}

.surcharge-box {
    
    border: solid 1px @hrBorder;
	width: 450px;
	padding: 25px;

	.surcharge-details {
	    margin: 15px 0 25px 0;
	}

	.surcharge-product-row {
		border-top: solid 1px @hrBorder;
		padding: 15px 0 30px 0;
	    margin: 15px 0 15px 0;
	}

	.surcharge-title{
	    float: left;
		width: 200px;
		font-weight: bold;
	}

	.surcharge-qty{
	    float: left;
		width: 100px;
	}

	.surcharge-total{
	    float: left;
		width: 100px;
	}

}

.surcharge-table {

	.help-detail-content {

		h1 {
		    margin-bottom: 10px;
		}
	}

	table {

		&.surcharge-fee {
		    background:#eee;
		    padding: 10px 15px;
		}
	}
}

/* accessories pop up  ----------------------------------------------------- */

.blockOverlay {
	z-index: 1500;
}

.blockMsg {
	position: fixed!important;
	left: 50%!important;
	top: 50%!important;
	margin: -300px -423px -423px -423px!important;
	width: 852px!important;	
}

/* spinner */
.blockElement {
	width: 64px !important;
	left: 46% !important;
	position: absolute !important;
	top: 39% !important;
	margin: 0 !important;
	background: @white;
	border-radius: 5px;
	box-shadow: 0 0 12px @grayLightFaint;
	padding: 12px;
}

.cart-popup {

	#accessoriesWidget {
	    background: url("http://www.bestbuy.ca/images/common/backgrounds/accessor_widget_bkg.gif") repeat-y scroll left top transparent;
	    display: none;
	    margin: 0;
	    padding: 0;
	    width: 800px;
	    border-bottom: 1px solid @grayLightFaint;
	    border-right: 1px solid @grayLightFaint;
	
	    .tabContent {
		    float: left;
		    position: relative;
		    width: 646px;
		}

		.ui-tabcontrol-contents {
		    border-top: 1px solid @grayLightFaint;
		  padding: 0 0 0 0;
		    
		}

		.tabsBottomBkg {
		    height: 11px;
		    width: 130px;
		}

		.tab {

			selected {
			    width: 130px;
			}

			hover {
			    width: 130px;
			}
		}

		.tabsWrap {
			float: left;
			width: 154px;
			
		}

		a {

			&.tabLink {
				border-left: 1px solid @white;
				padding: 16px;
				display: block;
				width: 131px;
				color: #77787b;
				font-size: 12px;
			}
		}
	}
}


/* back to cart popup -------------------------------------------------- */

.ui-editcartpopover {
	margin-top: 50px;
}

/* popover-styling ----------------------------------------------------- */

.rc-popover-know {

	.popover-details {
	    color: @gray;
	    font-size: 12px;
	    line-height: 1.35;
	    padding: 142px 370px 0 36px;
	}
}

/* ---------------------------------------------------------------------------- */

/* Code from jK_Checkout.css -------------------------------------------------- */

/* ---------------------------------------------------------------------------- */


/* integration --------------------------------------------------------- */
* html {

	.checkout-fieldset {

		li {
			margin: 0 0 8px;
		} 
	}

	.payment {

		.promo-code {

			.checkout-form {
				overflow: hidden;
			}
		}
	}

	.cc-template {

		.select-cc-form {
			width: 358px;
		}
	}
}

*:first-child+html {

	.checkout-fieldset {

		li {
			margin: 0 0 8px;
		}
	}
}

.rz-payment-confirm-title {
	width: 256px;
}

.promo-confirm-title {
	width: 256px;
}

.account-page {

	h2 {
		margin-bottom: 10px;
	}
}

.cc-template {

	.btn-new-cc {
		background: none;
		height: auto;

		p {
			width: 174px;
		}
	}
}

.order-complete-page {

	.existing-account {

		.email-address{
			display: inline;
		}
	}
}



/* ---------------------------------------------------------------------------- */

/* Tweaks --------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------- */


.page-cart {

	.prod-info {

		.prod-title-links{
		    font-weight:bold;
		}
	}
}

.checkout-master {

	.btn-checkout,
	.btn-lock {

		a {
		    text-align: center;
		    display: block;
		}
	}

	 #contentleft3{
	    margin-right:0px;
	    width:920px;
	}

	.checkout-form {

		span {

			&.radio {

				input[type="radio"] {
				    margin: 10px 12px 4px 2px;
				}
			}
		}
	}
}

.checkout-form {
	
	.checkout-fieldset {

		input {

			&.big,
			&.medium,
			&.small{
				float:left;
    			margin-right:5px;
			}
		}

		select{
			float:left;
    		margin-right:5px;
    		height: 25px;
    		padding: 2px 2px 2px 0px;
    		font-size: 14px;
		} 

		.inline-error-icon {
		    margin: 0 4px 2px 0;
		    float: left;
		}
	}

	label {

		em {
		    position: absolute;
		    left: -8px;
		}
	}	

 	.new-billing-address {

 		ul {

 			li {
			    clear: both;
			    margin: 0 0 10px;
			    position: relative;
			    overflow: visible;
			    min-height: 23px;
			}
		}

		label {
		    float:left;
		    display:inline;
		    width:150px;
		    margin:2px 10px 0 0;
		}

		.inline-form {

			label{
			    width:auto;
			    float:none;
			}
		}

		.ddl {

			font-size: 14px;
		}
	}

	.postal-radio {

		input[type="radio"]{
		    float: left;
		    margin: 3px 6px 4px 0;
		}
	}

	&.shipping-method {

		.checkout-fielset {

			li {

				margin: 0 0 12px;
				height: 32px;		
			}
		}
	}
}

.same-shipping-address {
    clear: both;
    margin: 0 0 10px;
    overflow: hidden;
    width: 100%;
}

.inline-form {

	input[type="checkbox"]{
	    float:left;
	}
}

.ui-lightbox {

	.ui-controls {

		.checkout_pnlClose{
		    top:-22px;
		}
	}
}
      
.backtocart-pop-over {

	p {
	    font-size: 14px;
	}

	.btn-wrapper {
	    margin: 30px 0 0 0;
		width: 400px;
	}
}

.postal-radio-desc {
    border-top: 1px dotted @hrBorder;
    font-size: 11px;
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
}

.payment-credit-cards {

	img{
	    margin:0 5px 0 0;
	}
}

.warranty-img-wrapper{
    display: none;
}

.empty-cart-msg,
.bottom-cart-buttons{
    margin-left: 10px;
}
 
/* INFORMATION POPOVER */
.information-popover {
	display: inline;
	position: relative;

	.msg-bubble {
		display:none;
		position:absolute;
		top:-190px;
		left:0;
	}
	
	&:hover .msg-bubble {
		display:block;
	}

	img {

		vertical-align: top;
		margin: 1px 0;
	}
}

* html {

	.payment-submit {

		.information-popover {
		    margin-left: 4px;
		} 
	}
}

*:first-child+html {

	.payment-submit {

		.information-popover {
		    margin-left: 4px;
		}
	}
}

.cid-field-with-tip {
	width: 67px !important;
	float: left !important;
}

.newsletter-label {
    width: 500px;
}

.same-as-shipping {

	input {
	    float: left;
	    margin-right: 20px;
	}

	label {
	    width: 300px;
	}
}

.onsale-savings {
    color: Red;
    font-weight: bold;
}


/** Custom Lightbox **/

.ui_lightbox {

	.ui-viewpanel {

		max-width: 850px;
	}

	&.checkout-page-btc-dialog {		
		
		&.ui-lightbox-mvc {
			margin: -300px auto -423px;
			margin-left: -150px;		
            position: fixed;
            top: 50%;
            left: 50%;            	
		}
				
						
		.backtocart-pop-over {

			border: 2px solid @hrBorder;
			border-radius: 10px;
			height: 299px;			
			left: 50%;
			position: absolute;
			width: 300px;
			
			.modal-header {

				border-radius: 7px 7px 0 0;
			}

			.ui-lightbox-body {

				background: @white;
				border-radius: 0 0 7px 7px;
			}
		}

		.modal-header {

			h3 {

				width: auto;
			}

			.ui-lightbox-mvc-close {

				text-indent: -99999px;

				a {

					display: block;
					height: 23px;
					width: 23px;
					padding: 2px;
				}
			}
		}

		.ui-lightbox-body {

			text-align: left;
			height: 220px;
			font-size: 16px;
			padding: 16px;
			width: auto;
			position: relative;

			p {

				margin: 8px 0;
				line-height: 1.45;

				&.title {

					margin: 0 0 8px 0;
					font-weight: bold;
				}
			}

			.btn-wrapper {

				bottom: 16px;
				position: absolute;
				width: 90%;

				.btn-primary {

					margin: 0 0 8px 0;
				}

				.btn-secondary {

					a {

						color: #000;

						&:hover {

							text-decoration: none;
						}
					}
				}

				.btn-primary,
				.btn-secondary {

					a {

						display: block;
					}
				}
			}
		}
	}

	/** EHF LightBox **/

	.help-detail-content {

		h1 {

			text-align: center;
			padding: 16px 0;
		}
	}
}


/** Regular EHF Lightbox **/
.ui-imageviewer {

	.modal-header {

		background: transparent;
		border: none;

		.ui-lightbox-mvc-close {

			display: none;
		}
	}
}

/* checkout progress indicator --------------------------------------- */
.checkout-progress {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
	margin-top: 6px;
	
    li {
        background: transparent url('/assets/images/progress-indicator.png') no-repeat right -50px;
        padding: 12px 0 12px 26px;
        position: relative;
        box-sizing: border-box;
            -webkit-box-sizing: border-box;
        float: left;
        z-index: 3;
        margin: 0;
        width: 126px;
  
		border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px;
    
        +li {
            z-index: 2;
            padding-left: 40px;
			margin: 0 0 0 -20px;
        	width: 205px;

			border-radius: 0;
			-webkit-border-radius: 0;
    
            .fr-CA & {

                width: 208px;
            }
        }

        +li+li {
            z-index: 1;
            padding-left: 40px;
            padding-right: 25px;
            background-position: -54px -50px;
			margin: 0 0 0 -20px;
        	width: 205px;

			border-radius: 0;
			-webkit-border-radius: 0;
    
            .fr-CA & {
				width: 240px;
				background-position: -12px -50px;
            }
            
            &.current-step {
				background-position: -54px -2px;
            
				.fr-CA & {
					background-position: -14px -2px;
				}
            }
        }
    }

    .step-title {
        
        span {

            font-size: 14px;
        }
    }

    .current-step {
        background-position: right -2px;
        color: @white;
       
    }
}

