// Best Buy basic components
// all basic components (ones that don't require constant edit)

// Table of Contents
// alerts
// background / gradient variation
// breadcrumbs
// banner wrapper
// full width body background
// image sizes
// price pill
// progress indicator / bar (!new - added in Delivery Promise)
// shadow dividers
// sprites
// swatch
// loading
// tooltip
// inline controls (!new, added in DP, inline control + content (radio/checkbox next to body of text)
// sprites -----------------------------------
// -------------------------------------------
.sprite-base {
	background-image: url('/assets/backgrounds/sprite-base-component.png');
	background-repeat: none;
	display: inline-block;
	vertical-align: middle;
	.ie7-restore-right-whitespace();
	.hide-text();
}

.icon-arrow {
	background-position: -25px -70px;
	height: 8px;
	width: 13px;
}

// price pill --------------------------------
// -------------------------------------------

// variables
@priceDefaultText:    #2E3337;
@priceSale:					  #DA1A36;
@priceProdFont: 			Arial Black, Arial, Helvetica Neue, Sans-Serif;

// general/shared price pill style
.price-wrapper {
	color: @priceDefaultText;
	line-height: 1.35;

	.prodprice,
	.amount {
		font-family: @priceProdFont;
		font-weight: 900;		
	}

	.prod-saving, 
	.price-onsale{
		color: @priceSale;
	}

	.prod-clearance {
		line-height: normal;
		margin: 0;
		text-transform: uppercase;
	}

	.prod-ehf,
	.prod-sale-ends {
		font-weight: normal;
		font-size: 12px;
		color: @priceDefaultText;
	}

	.decimal {
		display: none;
	}

	.prod-ehf,
	.prod-saving,
	.prod-sale-ends {
		font-size: 11px;
	}
 
	.prod-saving {
		font-weight: bold; 
	}
}

.prodprice {
	.price-extra-large & {
		font-size: 27px;
	}

	.price-large & {
		font-size: 24px;
	}

	.price-medium & {
		font-size: 20px;
	}

	.price-small & {
		font-size: 16px;
	}

	.price-cart & {
		font-size: 16px;
	}
}

// progress bars -----------------------------
// -------------------------------------------

.progress-indicator {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
	margin-top: 6px;
	
	img {display: none;}

    li {
        background: transparent url('/assets/ui/progress-indicator.png') no-repeat right 0px;
        padding: 14px 26px 14px 26px;
        position: relative;
        box-sizing: border-box;
            -webkit-box-sizing: border-box;
        float: left;
        z-index: 3;
        margin: 0;
  
		border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px;
         
		&.current {
			background: transparent url('/assets/ui/progress-indicator.png') no-repeat right -63px;
			color: white;
		}
	}

	li+li {
		margin: 0 -14px;
		z-index: 2;
	}

	li+li+li {
		margin: 0;
		z-index: 1;
	}

    .step-title {
        
        span {

            font-size: 14px;
        }
    }

    .current-step {
        background-position: right -2px;
        color: #fff;
       
    }
}

/*
  +li {
            z-index: 2;
            padding-left: 40px;
			margin: 0 0 0 -20px;
        	width: 205px;

			border-radius: 0;
			-webkit-border-radius: 0;
    
            .fr-CA & {

                width: 208px;
            }
        }

        +li+li {
            z-index: 1;
            padding-left: 40px;
            padding-right: 25px;
            background-position: -54px -50px;
			margin: 0 0 0 -20px;
        	width: 205px;

			border-radius: 0;
			-webkit-border-radius: 0;
    
            .fr-CA & {
				width: 240px;
				background-position: -12px -50px;
            }
            
            &.current-step {
				background-position: -54px -2px;
            
				.fr-CA & {
					background-position: -14px -2px;
				}
            }
        }
*/


// shadow dividers ---------------------------
// -------------------------------------------

// horizontal shadow
.shadow-horizontal {
	background-image: -webkit-radial-gradient(50% 0%, ellipse farthest-side, rgba(0, 0, 0, 0.25) 0%, transparent 80%);
	background-image: -moz-radial-gradient(50% 0%, ellipse farthest-side, rgba(0, 0, 0, 0.25) 0%, transparent 80%);
	background-image: -ms-radial-gradient(50% 0%, ellipse farthest-side, rgba(0, 0, 0, 0.25) 0%, transparent 80%);
	background-image: -o-radial-gradient(50% 0%, ellipse farthest-side, rgba(0, 0, 0, 0.25) 0%, transparent 80%);
	background-image: radial-gradient(50% 0%, ellipse farthest-side, rgba(0, 0, 0, 0.25) 0%, transparent 80%);
	width: 100%;
	height: 12px;
	display: block;
	float: center;
	margin: 8px 0;
	position: relative;
	z-index: 0;

	// for thinner shadow look
	&-narrow {
		background-image: -webkit-radial-gradient(50% 0%, ellipse farthest-side, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
		background-image: -moz-radial-gradient(50% 0%, ellipse farthest-side, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
		background-image: -ms-radial-gradient(50% 0%, ellipse farthest-side, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
		background-image: -o-radial-gradient(50% 0%, ellipse farthest-side, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
		background-image: radial-gradient(50% 0%, ellipse farthest-side, rgba(0, 0, 0, 0.25) 0%, transparent 100%);
		width: 100%;
		height: 6px;
		display: block;
		float: center;
		margin: 8px 0;
		position: relative;
		z-index: 0;
	}
}

// vertical shadow
.shadow-vertical {
	.border-image(url('/assets/shadow-vertical.png') 0 0 0 10 stretch);
	border-left-width: 5px;
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	margin: 0 0 0 39px;
	padding: 0 0 0 39px;
}

// space based on percentage when row-fluid - ensuring consistent margin and padding
.row-fluid .shadow-vertical {
	margin: 0 0 0 4.6938775510203985% ;
	padding: 0 0 0 4.6938775510203985% ;
}

// just some default box shadow
.shadow-box {
	.box-shadow(0 14px 10px -12px rgba(0,0,0,0.5));
	position: relative;

	&:before,
	&:after {
		bottom: 15px;
		.box-shadow(0px 15px 15px rgba(0, 0, 0, 0.5));
		content: '';
		position: absolute;
		z-index: -1;
	}
}


// alerts ------------------------------------
// -------------------------------------------
// Base alert styles
.alert {
		padding: 12px 15px 12px 97px;
		margin-bottom: @baseLineHeight;
		background-image: url('/assets/backgrounds/sprite-base-component.png');
		background-repeat: no-repeat;
		background-color: @alertBackground;
		border: 1px dotted @alertBorder;
		font-size: 12px;
		line-height: 1.45;
		min-height: 64px;

		p,
		h2,
		h3,
		li {
			margin: 0 0 4px;
		}

		li {
			list-style: disc;
			margin: 0 0 8px 12px;
		}
}

.alert-heading {
	color: inherit;
	font-weight: bold;
}

// Alternate styles
.alert-success {
	background-position: -40px -313px; 
	color: @successText;
}

.alert-danger,
.alert-error {
	background-position: -180px -170px;
	color: @errorText;

	&-small {
		background-position: -125px -254px;
		padding: 16px 0 0 65px;
}
}

.alert-error {
	
	width: auto;

	img {
		display: none;
	}

	ul {
		margin: 8px 0 0 0;
	}
}

.alert-inline {
	background-color: transparent;
	background-position: -140px -274px;
	border: 0;
	color: @errorText;
	font-size: 16px;
	font-weight: bold;
	min-height: 32px;
	padding: 0 0 0 45px;
}

.alert-info {
	background-color: @infoBackground;
	background-position: 16px -393px;
	color: @infoText;
	font-size: 14px;
	min-height: 37px;
	padding: 15px 15px 15px 66px;

	.alert-heading {
		font-size: 18px;
	}
}

// Block alerts
.alert-block > p,
.alert-block > ul {
	margin-bottom: 0;
}
.alert-block p + p {
	margin-top: 5px;
}

.error-notice {
	display: none;
}


// breadcrumbs -------------------------------
// -------------------------------------------
.breadcrumb-toolbar {
	font-size: 14px;
	margin: 16px auto 24px;
}

.breadcrumb {
	float: left;
	padding: 0 0 8px 6px;
	font-size: 12px;
	line-height: 16px;
	width: 600px;
	
	// just because breadcrumb control sucks
	a img {
		display: none;
	}
	
	li,
	span {
		margin: 0 3px 0 0;

		&:last-child {
			margin: 0;
		}
	}

	&-current {
		color: @black;
	}
}

// override breadcrumb for pc static template pages to only show current
.pc-static-template {
	.breadcrumb {
		li {
			display: none;
		}

		.breadcrumb-current {
			display: block;
		}
	}
}

// set breadcrumb current font size for pc static template
.pc-static-template,
.pc-static-title-template {
	.breadcrumb {
		font-size: 14px;
	}
}


// bookmark / print / email toolbar ----------
// -------------------------------------------
.main-toolbar {
	float: right;
	padding: 0 0 15px 0;
	margin: 0;

	a {
		padding: 0 11px 0 20px;

		&.email {
			background: url(/images/common/backgrounds/toolbar_email.gif) 0 2px no-repeat;
		}

		&.print {
			background: url(/images/common/backgrounds/toolbar_print.gif) 0 2px no-repeat;
		}

		&.bookmark {
			background: url(/images/common/backgrounds/toolbar_bookmark.gif) 0 2px no-repeat;
		}
	}

	&:after {
		/*Fix for when breadcrumb shows up*/
		clear: both;
		content: "";
		display: table;
		margin-bottom: 3px;
	}
}

.main-toolbar a {
	padding: 0 11px 0 20px;
}

.main-toolbar a.email {
	background: url(/images/common/backgrounds/toolbar_email.gif) 0 2px no-repeat;
}

.printable-cart a.print, .main-toolbar a.print {
	background: url(/images/common/backgrounds/toolbar_print.gif) 0 2px no-repeat;
}

.main-toolbar a.bookmark {
	background: url(/images/common/backgrounds/toolbar_bookmark.gif) 0 2px no-repeat;
}


// banner wrapper --------------------------------
// -----------------------------------------------
.banner-wrapper{
	position: relative; 

	.banner-price-module{
		position: absolute;
	
		.btn-primary,
		.btn-primary-alt{
			min-width: 58px;
		}
	}
}

.bubble-wrapper{

	.bubbleContent {
		background: url("/images/ui/slideshow/bg-bubble-gradient-white.png") repeat scroll 0 0 transparent;
		.box-shadow(0 0 14px #AAAAAA inset);
		color:#4d4d4f;
		padding:20px !important;
		font-size:12px;

		.bubbleInsert {
			margin:0px;
		}
	}

	.bubble .title, 
	.bubble .desc, 
	.bubble a {
		display: block;
		font-size: 12px;
		font-weight:bold;
	}
	
	.bubble a{
		color:#003399 !important;
		font-weight:normal;
	}
}


// bubble styles
// -------------
.ui {
	&-bubble {
		position: absolute;
		display: none;
		z-index: 170;
	}

	&-indicator {
		background: transparent url("/images/ui/slideshow/bubble_plus.png") 0 0 no-repeat;
		height: 24px;
		left: 0;
		position: absolute;
		top: 0;
		width: 24px;
		z-index: 101;
		zoom: 1;

		img {
			background: transparent;
			zoom: 1;
		}
	}

	&-bubbleContent {
		background: #fff;
		background: rgba(255,255,255,0.9);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";

		zoom: 1;
		.box-shadow(0 0 14px #9d9fa2);
		border: none;
		.border-radius(4px);
		color: #4d4d4f;
		clear: both;
		font-size: 12px;
		overflow: hidden;
		padding: 16px;
		position: absolute;
		left: 20px;
		z-index: 100;
		width: 250px;

		.ui-bubbleInsert {
			background: transparent none;
			margin: 8px 10px;
			width: auto;
			font-style: normal;
			
			.title, 
			.desc, 
			a {
				display: block;
				font-size: 12px;
				font-weight:bold;
			}

			a{
				color:#003399 !important;
				font-weight:normal;
			}
		}
	}
}


// swatch ------------------------------------
// -------------------------------------------
.swatches {
	font-size: 10px;
	text-align: left;

	.colors {
		float: left;
		margin: 2px 4px 2px 0;

		img {
			border: solid 1px #999999;
			width: 16px;
			height: 16px;
		}
	}
}

// gradient variations -----------------------
// -------------------------------------------
@gradientYellowStart: #fff200;

.gradient {
	&-yellow {
		.gradient(@gradientYellowStart, @white, 60%, @white);
	}

	&-light-gray {
		.gradient(#fff, #e8e8e8);
	}
}


// image sizes -------------------------------
// -------------------------------------------
.img {
	&16x16 {
		width: 16px;
		height: 16px;
	}

	&55x55 {
		width: 55px;
		height: 55px;
	}

	&75x75 {
		width: 75px;
		height: 75px;
	}

	&100x100 {
		width: 100px;
		height: 100px;
	}

	&120x40 {
		width: 120px;
		height: 40px;
	}

	&130x130 {
		width: 130px;
		height: 130px;
	}

	&150x150 {
		width: 150px;
		height: 150px;
	}

	&250x250 {
		width: 250px;
		height: 250px;
	}

	&300x300 {
		width: 300px;
		height: 300px;
	}

	&500x500 {
		width: 500px;
		height: 500px;
	}
}


// full width body background
// ------------------------
.master-content-wrap {				
	.container {
		position: relative;
	}
}

// body background image
.main-background-promotion {
	left: 0;	
	position: absolute;
	width: 100%;

	a {
		cursor: pointer;
		display: block;
		text-decoration: none;
		width: 100%;

		i {
			visibility: hidden;
		}
	}
}

.adsplash-728x90~#pagecontent
{
	.main-background-promotion {	
		top: 311px;
	}
}

// hide body background image on tablet and mobile devices
.device {
	&-tablet,
	&-mobile {
		.main-background-promotion {
			display: none;
		}
	}
}

//global banner object
.banner {

	&.horizontal {

		//brand store banners
		&.brand-store {
			width: 734px;
			height: 70px;
			border: 1px solid @hrBorder;
			position: relative;

			p {
				margin: 0;
			}

			.brand-logo {
				float: left;
				width: 140px;
				height: 50px;
				padding: 10px 0 8px 16px;
			}

			.brand-content {
				float: left;
				width: 546px;
				padding: 16px;
				color: @grayDarker;
			}

			.banner-cta {
				float: left;
				display: block;
				width: 382px;
				margin: 0 0 5px 0;
				font-size: 18px;
			}

			.banner-action-link {
				float: right;
				display: block;
				width: auto;
				font-weight: bold;
				font-size: 12px;
				position: absolute;
				right: 16px;
				bottom: 12px;
			}

			//search page specific
			&-search {

			}
		}
	}

	&.vertical {

		//brand store banners
		&.brand-store {

			//search page specific
			&-search {

			}
		}
	}
}

/** Quantity Update **/


.cart-line-item .price-cart .qty-update-field {
	border: 1px solid #9d9fa2;
	text-align: center;
    
}

/** loading **/

.loading-big,
.loading-medium,
.loading-small{

	position: relative;
	z-index: 0;
	
	&:before {
		background: #FFF;
		.box-sizing(border-box);
		content: "";
		
		position: absolute;
		
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		
		width: 100%;
		height: 100%;
		
		z-index: 50;

        .opacity(60)
	}

	&:after {
		background: #FFF;

		border: 1px solid @hrBorder;
		.border-radius(5px);
		.box-sizing(border-box);
		.box-shadow(2px 2px 4px rgba(0,0,0,0.2));
		
        position: absolute;
		
        content: '';
		text-align: center;
		
        margin: -60px 0 0 -60px;
		padding: 24px 0 15px;
		
        top: 50%;
		left: 50%;
		
        width: 120px;
		height: 120px;
		
        z-index: 100;
		
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        -moz-opacity: 1;
        -khtml-opacity: 1;
		opacity: 1;			
	}
}

.loading-big:after {
	content: url('/Assets/ui/progress.gif');
}

.loading-medium:after {
	content: url('/Assets/ui/progress-medium.gif');
	height: 60px;
	width: 60px;
	margin: -30px 0 0 -30px;
	padding: 13px 0 15px;
}

.loading-small:after  {
	content: url('/Assets/ui/progress-small.gif');
	height: 24px;
	width: 24px;
    padding: 4px 0 15px;
	margin: -12px 0 0 -16px;
}

/** ToolTip **/

.tooltip-wrap {
    display: inline;
    position: relative;

    .tooltip:hover:after {
        background: #333;
        background: rgba(0,0,0,.8);
        border-radius: 5px;
        bottom: 26px;
        color: #fff;
        content: attr(title);
        left: 25%;
        padding: 5px 15px;
        position: absolute;
        z-index: 98;
        min-width: 100px;
        margin: 0 0 0 -14px;
    }

    .tooltip:hover:before {
        border: solid;
        border-color: #333 transparent;
        border-width: 6px 6px 0 6px;
        bottom: 20px;
        content: "";
        left: 30%;
        position: absolute;
        z-index: 99;
    }
}
// inline-controls
.inline-control {
    display: inline-block;
    margin: 2px 4px 0 0;
    padding: 0 4px 0 0;
    vertical-align: top;
    width: 2%;
    *zoom: 1;
    *display: inline;
}

.inline-content {
    display: inline-block;
    vertical-align: top;
    width: 95%;
    *zoom: 1;
    *display: inline;
}