// Best Buy compate page

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";


// heading
.compare-product-heading {
	color: @textColor;
	font-size: 28px;
	line-height: normal;
	margin: 0 0 8px;
	padding: 0;
}


// table
.table-compare-product {
	color: @textColor;
	font-size: 11px;

	p {
		font-size: 11px;
	}
	
	td {
		border-left: 1px dotted @hrBorder;
		width: 15%;
	}

	.product-thumb,
	.prod-brand-image {
		img {
			margin: 0 auto;
		}
	}

	.review-wrapper {
		display: none;
	}

	.price-wrapper {
		line-height: normal;
	}

	.cell-first {
		border: 0;
	}
}

.row {
	&-remove,
	&-product-title {
		font-size: 12px;
	}

	&-remove {
		border-top: 3px solid @hrBorder;
		border-bottom: 1px solid @hrBorder;
		font-weight: 700;

		a {
			background: url('/assets/backgrounds/sprite-base-component.png') no-repeat 0 -261px;
			padding: 4px 0 4px 25px;
		}
	}
	
	&-availability-block {
		h3 {
			font-size: 11px;
		}

		a,
		.qty-limit {
			display: none;
		}
		
		.messaging {
			margin: 0 0 5px;
		}

		.order-online {
			margin: 0 0 11px;
		}
		
		.availability-status,
		.buttons,
		.ispu-online-only,
		.order-reserve .messaging span {
			padding: 0 0 0 20px;
		}
		
		.order-reserve {
			.messaging span {
				display: block;
			}

			.buttons {
				display: none;
			}
		}

		.available {
			background: url('/images/common/pictures/ico-in-stock.gif') no-repeat left top;
		}

		.not-available {
			background: url('/images/common/pictures/ico-not-available.gif') no-repeat left top;
		}
	}
	
	&-button-block {
		.btn-primary {
			font-size: 12px;
			font-weight: 700;
			height: 29px;
			line-height: 29px;
			padding: 0 15px;
			min-width: 0;
			width: 117px;
		}
	}
	
	&-rating-block {
		border-top: 1px solid @hrBorder;
		border-bottom: 1px solid @hrBorder;

		.rating-score {
			margin: 0 0 0 5px;
			vertical-align: top;
		}
	}
	
	&-product-thumb-bottom {
		border-top: 1px solid @hrBorder;
	}

	&-no-striped {
		td {
			background: 0 !important;
		}
	}
}