#MasterContentFrame {
	width:920px;
	margin:0 auto;
	text-align:left;
	padding:10px 0 0 0;

	#PageText {
		margin:0 0 6px 0;
	}

	.box1white {
		margin-bottom:10px;

		ol { 

			li {
				font-size:12px;
				font-weight:bold;
				margin-bottom:8px;

				ol li {
					display:inline;
					float:left;
					font-size:12px;
					margin:0 12px 0 0;
					padding:0;
				}
			}
			
			.csrclear{
				clear:both;
			}
		}
	}

	li {

		&.label{
			width:150px;
		}

		&.details{
			font-weight:normal!important;
		}
	}
}

.csr-buttons{
	margin:10px 0;
	overflow:auto;

	&.mccpgray, 
	&.mccpblue, 
	&.mccpsmall{
		float:left;
	}
}

.brandCheckBoxes {
	margin:10px 0;
	overflow:auto;

	.landing-but {
		float:left;
		margin-left:90px;
		width:160px;
	}
}

.csr-table {

	table {
		width:100%;
		border:1px solid #ccc;
		border-width:1px 0px 0px 1px;

		th {
			padding:5px 10px 5px 5px;
			font-weight:bold;
			background-color:#ccc;
			vertical-align:top;
			text-align:left;
		}
		
		td {
			padding:2px 5px;
			vertical-align:top;
			border-bottom:1px solid #ccc;
			border-right:1px solid #ccc;
		}
	}
}

.csr-pager {
	text-align:right;
	overflow:auto;
}

.csr-close {
	float:right;
	margin-top:5px;
	margin-right:10px;
}

.csr-pop-up {
	margin:10px;
}

.csr-progress {
	margin:10px 0;
	
}

.csr-header {

	.optional-text{
		margin-top: 10px!important;
	}
}

.csr-conform-text {
	padding:10px;
	border:3px solid #ccc;
}

.standardblock {

	.csr-list {

		li {
			overflow:auto;
			min-height:20px;
			padding:3px;
			font-weight:normal;
		}
	}
}

.csr-list {

	li {

		&.alt {
			background-color:#F3F3F3;
		}
	}

	p{
		width:180px;
		float:left;
		padding-left:5px;
		overflow:auto;
		font-weight:bold;
	
		&.second{
			font-weight:normal;
		}
	}

	li{
		line-height:16px;
	
		&.bot{
			padding-bottom:5px;
		}
	}
}

.csr-breadcrumb{
	clear:both;
	overflow:auto;


	.breadcrumb {

		span {

			&.breadcrumb{
				font-size:12px;
				font-weight:normal;
			}

			&.actual-page{
				font-size:12px;
			}
		}
	}
}

.csr-header {

	table {

		&.viewpromocodes {

			&.csr-css {

				th {

					&.last {
						border-right:1px solid #CCCCCC!important;
					}

					&.csr-last{
						border-right:medium none !important;
					}
				}
			}
		}
	}
}

.search-account{
	margin-top:5px;
	border:1px solid #ccc;
	padding-left:5px;
	padding-right:5px;

	.big-01{
		width:150px;
	}

	th{
		border-bottom:1px solid #ccc;
		font-weight:bold;
		padding:2px;
	}

	td{
		padding:2px;
	}

	.small-01{
		width:100px;
	}
}

/* new csr header and footer ---------------------------------- */
.csr-header {
    width: 920px;
    height: 90px;
    margin: 10px auto;
    background: url('/images/common/backgrounds/bg_csr_header.png') no-repeat transparent left top;
    font-size: 16px;
    line-height: 1.15;

	* {
	    color: #fff;
	}

	a,
	a:visited {
	    color: #fff
	}

	a:hover {
	    color: #fff200;
	}

	.csr-title {
	    font-size: 24px;
	    font-weight: bold;
	    float: left;
	    padding: 30px 0 0 160px;
	    width: 200px;
	}

	.links {
	    float: left;
	    width: 480px;
	    padding: 18px 0 0 20px;
	

		div {
		    text-align: right;
		}
	}

	.quit {

		a {
		    margin: 0 20px 0 0;
		    padding: 0 20px 0 0;
		    border-right: 1px solid #ccc;
		}

		.last {
		    border: none;
		    margin: 0;
		    padding: 0;
		}
	}

	.customer {
	    font-weight: bold;
	    padding: 14px 0 0;
	}

	.csr-footer {
	    width: 920px;
	    margin: 20px auto 0;
	}
}

/** MCF Specific **/

.checkout-master {

	.checkout-form {
			
		&.create-account-form {
		
			clear: none;
		}
	}
	
	.store-checkout-billing-info {
	
		.subtext-notification {
			
			width: 385px;
		}			
	}
	
	.store-checkout, 
	.mcf-checkout {

		h1 {
			padding: 0 0 12px 0;
		}
	}
	
	.email-address {
	
		input {
			margin-bottom: 8px;
		}
	}
	
	.store-checkout{ 
	
		h2 {
			margin-bottom: 10px;
		}
		
		li {
			list-style: none;
		}
	}
	
	.store-detail {
	
		float: none;
	}
	
	.store-save-basket {
	
		text-align: left;
		margin-bottom: 32px;
	}
	
	
	.store-checkout-additional-information label, 
	.store-checkout-shipping-info .shipping-info label {
	
		width: auto;
		float: none;
		display: block;
	}
	
	.store-checkout-shipping-info {
	
		.shipping-info {
	
			margin-bottom: 26px;
		}
	
		.checkout-fieldset {
			
			margin-left: 16px;
			
			&.ship-diff-address {
				
				h4.ship-diff {
					display: block;
				}
			}
		}		
	}
	.mcf_store_locator {
	
		margin-left: 16px;
		margin-rigth: 16px;
	}
	
	.input-append.btm-margin3x{
		margin-bottom: 24px;
	}
}

.store-receipt {

	/* imported from checkout.less */
	
	h1 {
		font-size: 26px;
		margin: 0 0 5px;
		padding:0px 0 5px;
	}

	/* end import */
	
	table {
		border: 1px solid #ccc;
		margin-bottom: 32px;
		
		tbody tr:first-child {
			height: 40px;
		}
	}
	
	table td {
		padding: 0 10px;
	}
}

.checkout-form {

	.btn-lock {

		a {
		    text-align: center;
		    display: block;
		    background: url('/images/common/checkout/icon_lock.png') no-repeat 0px 6px;
			padding-left: 28px;
		}
	}
}

/** Order Details **/

#order-details {

	h1 {
		clear: both;
	}
	
	dl.order {
	
		padding: 8px 0 0px 0;
	}
	
	#contentright1 {
	
		.btn-store-receipt .btn {
		
			margin: 5px 16px 16px;
		
			a {
			
				display: block;
			}
		}
	}		
}

/* MCF Error Pages */

.store-checkout-additional-information{
	margin-bottom: 16px;
	padding-bottom: 24px;
	border-bottom: 1px dotted #9d9fa2;					

	p {
		
		margin-bottom: 24px;
		
		select {
		
			margin-left: 12px;
		}
	}
}

#errorMessage {

	padding: 0;
	font-size: 14px;	

	h1, h2, h3, h4 {

		margin: 0 0 15px 0;
		padding: 0px;
	}
	
	h1 { 
	
		font-size: 26px;
	}

	p {

		margin: 0 0 20px 0;			
	}

	.errorSubText {
		
		margin: 0 0 15px 0;
	}
	
	.errorSubHeading {
		
		font-size: 18px;
		font-weight: bold;
	}

	.btn-wrapper {

		.button {

			float: left;
			margin: 0 8px 0 0;
		}
	}
}


/* Pickup Contact Form */
.pickup-contact-title {
	display: none;
}

.pickupContactOption {
	clear: both;
}

.checkout-fieldset.pickup-contact{

	h4.pickup {
	
		display: block;
	}

	margin-left: 34px;

	.pickup-contact-title {
		display: block;
	}
	
	ul{	
		li {
		
			& + li +li,
			& + li +li + li,
			& + li +li + li + li + li,
			& + li +li + li + li + li + li,
			& + li +li + li + li + li + li + li,
			& + li +li + li + li + li + li + li + li + li + li{
			
				display: none;
			}
			
			& + li +li + li + li + li + li + li + li {
			
				display: block;
			}
		}
	}
}

/** MCF Header flicker fix **/

.notification-banner{
	
	display: none;
}

/** Is MCF check **/
.is-mcf {

	.psp-block {display: none;}
	.notification-banner {display: block;}
}