// Best Buy global footer styling

.global-footer {
	line-height: 1.45;
	margin: 40px 0 0;
}

.ftr-top, .ftr-bot {
	border-top: 1px solid #ccc;
	background: #eee;
	
	&-content {
		width: 920px;
		margin: 0 auto;
	}
}

.ftr-top {
	padding: 24px 0 0;
	font-size: 11px;
	
	h5 {
		text-transform: uppercase;
		font-size: 11px;
		color: #77787b;
		margin: 0 0 2px;
	}
}

.ftr-item {
	float: left;
	width: 18%;
	margin-right: 2%;
	
	ul {
		margin: 0 0 24px;
	}
	
	li {
		margin: 0 0 2px;
	}
	
	&.last-col {
		width: 20%;
		margin: 0;
	}
}

.ftr-apps {
	li {
		float: left;
		margin: 4px 0 0 0;
		width: 74px;
	}
	
	a {
		background: url('/assets/backgrounds/sprite_global.png') no-repeat -4px -510px;
		padding: 4px 0 6px 26px;
		display: block;
	}
	
	.iphone a {
		background-position: -75px -510px;
		padding: 4px 0 6px 28px;
	}
}

.ftr-creditcard-asset, .ftr-rz-asset {
	height: 63px;
	background: url('/assets/backgrounds/sprite_global.png') no-repeat left -264px;
	margin: 0 0 4px -4px;
}

.ftr-rz-asset {
	background-position: left -404px;
}

.ftr-more-sites select {
	height: 29px;
	.box-shadow(inset 0 0 2px #aaa);
	margin: 4px 0;
	min-width: 150px;
	line-height: 29px;
}

.ftr-btn-signup {
	min-width: 0;
	margin: 6px 0 0 !important;
}

.ftr-social-links {
	li {
		float: left;
		margin-right: 6px;
		display: inline;
	}
	
	a {
		background: url('/assets/backgrounds/sprite_global.png') no-repeat -2px -479px;
		display: block;
		width: 23px;
		height: 23px;
	}
	
	.twitter a {
		background-position: -29px -479px;
	}
	
	.facebook a {
		background-position: -54px -479px;
	}
	
	.flickr a {
		background-position: -79px -479px;
	}
	
	.pinterest a {
		background-position: -104px -479px;
	}
	
	.youtube a {
		background-position: -128px -479px;
	}
}

.ftr-bot {
	background: #003e6a;
	color: #fff;
	padding: 12px 0;
	font-size: 11px;

	p {
		color: @white;
		font-size: 11px;
	}
}

.ftr-call-center {
	font-weight: bold;
	margin: 0 0 4px;
}

.ftr-secure-wrapper {
	li {
		float: left;
		margin-left: 15px;
		display: inline;

		&:first-child {
			margin-left: 11px;
		}
	}
	
	a {
		background: url('/assets/backgrounds/sprite_global.png') no-repeat left -538px;
		height: 38px;
		display: block;
		width: 66px;
	}
	
	.visa {
		background-position: left -569px;
		width: 58px;
	}
	
	.paypal-vendor {
		background-position: left -711px;
		width: 112px;
	}

	.cybertrust {
		background-position: left -606px;
		width: 106px;
	}
}

.ftr-back-to-mobile {
	clear: both;
	margin: 0 0 30px;
	
	.lnk-to-mobile {
		height: 60px;
		font-size: 26px;
		font-weight: bold;
		border: 1px solid #B2B3B5;
		line-height: 60px;
		background: lightGrey url('/images/common/backgrounds/cta_blue_big.png') no-repeat 98.5% center;
		display: block;
		text-shadow: 1px 1px 0 white;
		-webkit-text-shadow: 1px 1px 0 #ffffff;
		text-align: center;
		color: #2E3337;
		margin: 0 0 10px;
		
		.border-radius(7px 7px 7px 7px);
		.box-shadow(inset 0 0 5px white);
		
		&:active {
			color: #191919;
			text-decoration: none;
			background: #c7c8ca url('/images/common/backgrounds/cta_blue_big.png') no-repeat 98.5% center;
		}
	}
}


// checkout footer
.checkout-master {
	.global-footer {
		margin: 50px 0 0;
	}
	
	.ftr-top {
		padding: 24px 0 34px;
	}
	
	.ftr-item {
		width: 48%;
		margin: 0 2% 0 0; 
	}
	
	.ftr-secure {
		width: 406px;
		padding: 0 0 0 54px;
		background: url('/assets/icons/icon_secure_big.png') no-repeat left top;
		margin: 0;
	}
}

.explore-content li .banner-title {
	width: 280px;
	font-size: 14px;
	line-height: 19px;
	font-weight: bold;
	color: @bbyBlueDarker;
	padding: 10px 0 8px 0;
}