// Best Buy form
// Base styles for various 
// input types
// form layouts
// states

@import "variables.less";

// Mini reset for unique input types
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	*margin-top: 0; // IE7
	line-height: normal;
	cursor: pointer;
	background-color: transparent;
	border: 0; // IE9 and down
	.border-radius(0px);
	vertical-align: middle;
}


// textboxes - legacy style
// -----------------------------------
.txtbox {
	border: solid 1px @bbyGrayDarker; 
	color: #333;
	width: 293px;
	font-size: 12px;
	font-weight: normal !important;
	padding: 2px 1px 1px 1px;
}

.textbox-max {
	width: 96%;
	border: solid 1px #7f9db9;
	color: #333;
}

.quest-box {
	width: 148px;
	height: 45px;
}

.searchhdr {
	margin-top: 2px;
	padding-top: 2px;
	text-indent: 4px;
	width: 225px;
}

.emailftr {
	font-size: 11px;
	width: 198px;
	height: 15px;
	padding: 1px 0 0 3px;
	margin: 0;
	color: #999;
	line-height: 12px;
	vertical-align: top;
}

input {
	font-size: 12px;

	&.small {
		width: 22px;
	}

	&.small2 {
		width: 48px;
	}

	&.small3 {
		width: 62px;
	}

	&.small4 {
		width: 70px;
	}

	&.medium {
		width: 90px;
	}

	&.medium2 {
		width: 100px;
	}

	&.medium3 {
		width: 150px;
	}

	&.medium3-1 {
		width: 148px;
	}

	&.medium4 {
		width: 175px;
	}

	&.large {
		width: 190px;
	}

	&.large2 {
		width: 205px;
	}

	&.large3 {
		width: 230px;
	}

	&.large4 {
		width: 245px;
	}
	
	&.large5 {
		width: 265px;
	}

	&.xlarge {
		width: 320px;
	}

	&.xlarge2 {
		width: 362px;
	}

	&.xlarge3 {
		width: 392px;
	}

	&.xlarge4 {
		width: 477px;
	}
}


// dropdown list - legacy style
// -----------------------------------
.ddl {
	border: solid 1px #9d9fa2;
	color: #333;
	margin: 1px 0 0 0;
	padding: 0;
	width: 140px;
	font-size: 12px;
}


// select - legacy style
// -----------------------------------
select {

	padding: 2px;
	background-color: @white;
	cursor: text;
	color: #4d4d4f;
	border: 1px solid #9d9fa2;
	.border-radius(2px);

	/* Inset Shadow */
	-moz-box-shadow: inset 1px 1px 1px #c7c8ca;
	-webkit-box-shadow: inset 1px 1px 1px #c7c8ca;
	box-shadow: inset 1px 1px 1px #c7c8ca;

	&.ddl {
		font-weight: normal !important;
	}

	&.xsmall {
		width: 43px;
	}

	&.small {
		width: 63px;
	}

	&.small2 {
		width: 86px !important;
	}

	&.small3 {
		width: 116px;
	}

	&.medium {
		width: 133px;
	}

	&.medium2 {
		width: 150px;
	}

	&.medium3 {
		width: 157px;
	}

	&.medium4 {
		width: 168px;
	}

	&.large {
		width: 182px;
	}

	&.large2 {
		width: 237px;
	}

	&.large3 {
		width: 260px;
	}

	&.large4 {
		width: 268px;
	}

	&.xlarge {
		width: 302px;
	}

	&.xlarge2 {
		width: 318px;
	}
}

.exp-size {
	width: 75px;
	border: solid 1px #7f9db9;
	color: #333;
	margin-right: 5px;
}

.inline-option input {
	display: inline;
	margin: 1px 3px 0 0;
	vertical-align: top;
	height: 13px;
	width: 15px;
	font-weight: normal;
}

.inline-option label {
	font-weight: normal !important;
}

.radio-only .inline-option label {
	font-weight: bold !important;
}

.ddlhdrsearch {
	border: solid 1px #7f9db9;
	color: #333;
	margin: 2px 5px 0 0;
	width: 140px;
}

// reset filedset
// -----------------------------------
fieldset {
	margin: 0;
	padding: 0;
}


// checkout field box form - legacy style
// -----------------------------------
#contentright1 .chkout-fieldbox, #contentright2 .chkout-fieldbox {  
	width: auto;
}

#contentleft1 .chkout-fieldbox, #contentleft2 .chkout-fieldbox {
	width: auto;
}

.nobottomp ul.check-box, .nobottomp ul.check-box li {
	margin-bottom: 0 !important;
	padding-bottom: 3px;
}

.chkout-fieldbox {
	margin: 0 0 10px 0;

	ol {
		clear: both;
		cursor: pointer;
		font-weight: bold;
		font-size: 12px;
		margin: 0;

		li {
			list-style: none;
		}

		li label {
			padding: 0 0 1px 0;
		}

		li em {
			float: left;
			margin-right: 1px;
		}

		li.link label {
			float: left;
			margin-right: 5px;
		}
		
		li.link.regular label {
			color: @black;
		}
		
		li.link label.cid {
			float: left;
			margin-right: 5px;
		}

		li.link .linkblock {
			display: block;
			clear: left;
		}

		li.link p {
			clear: both;
			text-align: left;
			height: 16px;
			overflow: auto;
			padding: 0;
		}

		li.link .linkblock input {
			clear: none;
			display: inline;
		}

		li p.card-type {
			margin-bottom: 2px;
			margin-top: 0;
			padding-top: 0;
		}

		li a {
			font-size: 11px;
			font-weight: normal;
			padding: 4px 0 0 0;
			clear: right;
		}

		li ol {
			overflow: hidden;
			font-size: 1px;
		}

		li a.showmorelink {
			font-size: 12px;
			cursor: pointer;
		}

		li.link a {
			font-size: 11px;
			clear: right;
		}

		li p {
			font-size: 12px;
			font-weight: bold;
			padding: 4px 0 0 0;
		}

		li select.province {
			width: 146px;
		}

		li .inline-option {
			margin: 2px 0 2px 0;
		
			label {
				display: inline;
				padding: 0 5px 0 0;
			}
		}

		li input.postalcode {
			width: 100px;
		}

		li.col {
			width: 186px;
			float: left;
		}
	}
	
	ul.check-box {
		margin: 0 0 8px 0;
	   
		li {
			line-height: 18px;
		
			input {
				margin: 0 3px 0 0;
				vertical-align: middle;
				height: 13px;
				width: 13px;
			}
		}
	}

	.hdr-left {
		float: left;
	}

	.hdr-right {
		float: right;
		padding: 6px 0 0 0;
		margin: 0;
	
		a {
			font-size: 11px !important;
		}
	}

	.textrighttop {
		padding-left: 60px;
	}  
}


// standard single column window
// -----------------------------------
.std-single-cln {
	background: @white url('../images/common/checkout/bg_inner_1.png') no-repeat left top;
	padding: 12px 0 0;
	margin-bottom: 10px;
}

.std-single-cln-wrapper {
	background: @white url('../images/common/checkout/bg_inner_1.png') no-repeat left bottom;
	padding: 0 15px 15px;
}

// standard half column window
// -----------------------------------
.std-half-cln {
	background: @white url('../images/common/checkout/std-half-cln.png') no-repeat left top;
	padding: 12px 0 0;
	
	li {
	
		input {
			
			width: 145px;
			float: left;
		}
		
		&.large {
		
			input { 
				width: 250px;
			}
		}
	}
	
	.subtext-wrapper {
	
		padding-left: 140px;
	}
	
	.checkout-fieldset {
	
		span {
		
			width: auto;
			
			img {
			
				margin: 6px 0 0 8px; 
			}
		}
		
		label {
		
			width: 130px;
		}
	}
}

.std-half-cln-wrapper {
	background: @white url('../images/common/checkout/std-half-cln.png') no-repeat left bottom;
	padding: 0 16px 16px;
}


// HR styles
hr {
	&.break {
		margin: 0 0 10px 0;
		border-top: 1px dotted #9d9fa2;
		border-right: none;
		border-bottom: none;
		border-left: none;
	}
}

// Input styles
input {

    &:focus,
    &:active {
        /* Inset Shadow */
		-moz-box-shadow: inset 0 0 4px 0 rgba(0,0,0,.25);
		-webkit-box-shadow: inset 0 0 4px 0 rgba(0,0,0,.25);
		box-shadow: inset 0 0 4px 0 rgba(0,0,0,.25);

        /*outline*/
            outline:none;
    }

	&.small,
	&.medium,
	&.large,
	&.big,
	&.bigger {

		padding: 2px;
		background-color: @white;
		cursor: text;
		color: #4d4d4f;
		border: 1px solid #9d9fa2;
		.border-radius(2px);

       
	}
	
	&.small {
		width: 40px;
	}

	&.small2 {
		width: 48px;
	}

	&.small3 {
		width: 62px;
	}

	&.small4 {
		width: 70px;
	}

	&.medium {
		width: 90px;
	}

	&.medium2 {
		width: 100px;
	}

	&.medium3 {
		width: 150px;
	}

	&.medium4 {
		width: 175px;
	}
 
	&.large {
		width: 190px;
	}
 
	&.large2 {
		width: 205px;
	}

	&.large3 {
		width: 230px;
	}

	&.large4 {
		width: 245px;
	}

	&.xlarge {
		width: 320px;
	}

	&.xlarge2 {
		width: 362px;
	}

	&.xlarge3 {
		width: 392px;
	}

	&.xlarge4 {
		width: 477px;
	}

	&.big {
		width: 350px;
	}
}

// INPUT GROUPS
// ------------

// Allow us to put symbols and text within the input field for a cleaner look
.input-prepend,
.input-append {
	margin-bottom: 5px;
	input,
	select,
	.uneditable-input {
		position: relative; // placed here by default so that on :focus we can place the input above the .add-on for full border and box-shadow goodness
		margin-bottom: 0; // prevent bottom margin from screwing up alignment in stacked forms
		*margin-left: 0;
		vertical-align: middle;
		.border-radius(0 @inputBorderRadius @inputBorderRadius 0);
		// Make input on top when focused so blue border and shadow always show
		&:focus {
			z-index: 2;
		}
	}
	.uneditable-input {
		border-left-color: #ccc;
	}
	.add-on {
		display: inline-block;
		width: auto;
		height: @baseLineHeight;
		min-width: 16px;
		padding: 4px 5px;
		line-height: @baseLineHeight;
		text-align: center;
		text-shadow: 0 1px 0 @white;
		vertical-align: middle;
		background-color: @grayLighter;
		border: 1px solid #ccc;
	}
	.add-on,
	.btn {
		margin: 0 0 0 -3px;
		.border-radius(0);
	}
	.active {
		background-color: lighten(@green, 30);
		border-color: @green;
	}
}

// Input prepend
.input-prepend {
	.add-on,
	.btn {
		margin: 0 -3px 0 0;
	}
	.add-on:first-child,
	.btn:first-child {
		.border-radius(@inputBorderRadius 0 0 @inputBorderRadius);
	}
	.btn {
		height: 19px;
		line-height: inherit;
		padding: 4px 10px;
	}
	.btn-primary,
	.btn-secondary {
		height: 21px;
		line-height: inherit;
		min-width: 100px;
		padding: 0 8px;
		top: -1px;
	}
}

// Input append
.input-append {
	input,
	select,
	.uneditable-input {
		.border-radius(0);
		border-right: 1px solid transparent;
	}
	.uneditable-input {
		border-right-color: #ccc;
		border-left-color: #eee;
	}
	.add-on:last-child,
	.btn:last-child {
		.border-radius(0 @inputBorderRadius @inputBorderRadius 0);
	}
	.btn {
		height: 19px;
		line-height: inherit;
		padding: 4px 10px;
	}
	.btn-primary,
	.btn-secondary {
		height: 21px;
		line-height: inherit;
		min-width: 100px;
		padding: 0 8px;
		top: -1px;
	}
}
// Remove all border-radius for inputs with both prepend and append
.input-prepend.input-append {
	input,
	select,
	.uneditable-input {
		.border-radius(0);
	}
	.add-on:first-child,
	.btn:first-child {
		margin-right: 0 -3px 0 0;
		.border-radius(@inputBorderRadius 0 0 @inputBorderRadius);
	}
	.add-on:last-child,
	.btn:last-child {
		margin: 0 0 0 -3px;
		.border-radius(0 @inputBorderRadius @inputBorderRadius 0);
	}
}


.contact-us {
	padding-top: 20px;
	font-size: 14px;
	line-height: 1.35;
	color: #2e3337;

	h2 {
		font-size: 21px;
		line-height: 18px;
		font-weight: normal;
		margin-bottom: 16px;
	}

	h3 {
		font-size: 18px;
		line-height: 18px;
		font-weight: normal;
		margin-bottom: 16px;
		font-weight: bold;
	}

	input[type='text'], select {
	    font-size: 14px;
	    padding: 4px;
	}

	p {
		color: #4d4d4f;
	}

	select {
	    padding: 3px 4px;		    
	    cursor:default;
	}

	input {
		&.x-small {
			width: 40px;
		}
		
		&.small[type='text'] {
			width: 50px;
		}
		
		&.medium[type='text'] {
			width: 170px;
		}

		&.large[type='text'] {
			width: 250px;
		}
		
		&.big {
			width: 320px;
		}
		
		&[type='text'] {
			border: 1px solid #c7c8ca;
			.border-radius(2px);
			text-indent: 3px;
			height: 21px;
			line-height: 24px;
		}
	}

	textarea {
		padding: 2px;
		background-color: @white;
		cursor: text;
		color: #4d4d4f;
		border: 1px solid #9d9fa2;
		.border-radius(2px);
		
		/* Inset Shadow */
		-moz-box-shadow: inset 1px 1px 1px #c7c8ca;
		-webkit-box-shadow: inset 1px 1px 1px #c7c8ca;
		box-shadow: inset 1px 1px 1px #c7c8ca;
		width: 333px;
	}

	
	.validation-summary {

		background: url('/images/common/checkout/icon_alert.gif') #f5f5f5 no-repeat 12px 10px;
		min-height: 68px;
		padding: 10px 0 0 90px;
		border: 1px dotted #c7c8ca;
		margin: 0 0 16px 0;
		font-size: 12px;
		color: #ae1231 !important;
	
		p {
			font-weight: bold;
			margin-bottom: 2px;
		}

		ul {
			margin:8px 0 0 19px;
		}

		li {
			list-style-type: disc;
		}

	}

	.contact-section {
		padding: 0 16px 0 16px;
		.icon {
			width: 50px;
			height: 50px;
			background: url('/assets/icons/icon_phone.jpg') no-repeat;
			float: left;
			margin: 0 10px 28px 0;
		}

		.phone {
			margin: 3px 0 0 0px;
			font-weight: bold;
			font-size: 16px;
			width: 192px;
		}

		.info-block {
			border-bottom: 1px dotted #ccc;
			margin: 0 0 24px;
		}

		.stores-info {
			border-bottom: none;
			margin: 0;
		}

		.mailing-address {
			padding: 0 0 24px;
		}

        .phone-logo {
            float: left;
            margin: 0 10px 0 0;
	}

        .phone-number {
            display: block;
            margin: 4px 0 0 0;
        }
	}

	.contact-information {
		border-left: 1px dotted #ccc;
		width: 295px;
	}

	.contact-form {

		.limited-characters {
			margin: 10px 0 0 218px;
		}

		/* message bubble ------------------------------------------------------------ */
		.msg-bubble {
			position: absolute;
			z-index: 1000;
		}

		.msg-bubble-content {
			background: url('/images/common/checkout/bg_sprite_bubble.png') transparent no-repeat left top;
			padding: 12px 20px 0 15px;
			width: 193px;
			font-size: 12px;
		}

		.msg-bubble-btm {
			background: url('/images/common/checkout/bg_sprite_bubble.png') transparent no-repeat -250px bottom;
			width: 228px;
			height: 48px;
		}

		* html .msg-bubble-content { /* ie6 png fix */
			background: url('/images/common/checkout/bg_sprite_bubble.gif') transparent no-repeat left top;
		}

		* html .msg-bubble-btm { /* ie6 png fix */
			background: url('/images/common/checkout/bg_sprite_bubble.gif') transparent no-repeat -250px bottom;
		}

		.information-popover {
			display: inline;
			position: relative;

			.msg-bubble {
				display:none;
				position:absolute;
				top:-180px;
				left:0;

				.fr-CA & {
					top:-195px;
				}
			}
			
			&:hover .msg-bubble {
				display:block;
			}

			img {

				vertical-align: top;
				margin: 1px 0;
			}
		}
		
		.help-topic-list {					
			li {
				list-style: disc outside none;
				margin-left: 31px;
			}
		}

		.form-select-wrapper {
			padding-bottom: 20px;
			
			.left {
				float: left;
				width: 305px;
			}

			.form-item {
				.border-radius(4px);
			    background: @hoverListBackground;
			    border: 1px solid @tableBorder;
			    width: 290px;	    			    
			    margin-bottom: 3px;
			    float: left;
			    padding: 0px 10px 0px 0px;
			    position: relative;

			    label, input {
			    	float: left;
			    }

			    label {
			    	padding: 13px 0 13px 33px;
			    	width: 250px;
			    	&:hover {
			    		cursor: pointer;
			    	}
			    }

			    input {			    	
			    	position: absolute;
			    	left: 13px;
			    	top: 15px;
			    }

			    &:hover, &.active {
					background-color: @hoverListHover;
					font-weight: bold;				
				}		
			}
		}

		.form-general-wrapper {
			padding-top: 10px;
			.form-item {
				margin-bottom: 8px;
				label {
					width: 230px;
					float: left;
					padding-top: 4px;
				}

				.help-description {
					padding-left: 230px;
					font-size: 11px;
				}
			}
            .preferred-option {
                clear: both; 
                margin-left: 230px;
            }

            .preferred-option input[type="radio"] { 
                float: left; 
                margin: 8px;
		}
		}

		.form-returns-wrapper {
			.returns-add-trigger {
				display: block;
				margin: 0 0 16px 16px;
			}

			.returns-item {
				background-color: #f5f5f7;
				border-top: 1px dotted #ccc;
				border-bottom: 1px dotted #ccc;
				margin: 9px 0 8px 0;				
				padding: 16px;

				.returns-title {
					label {
						font-weight: bold;
						display: inline;
					}
				}

				.form-item {
					margin-bottom: 8px;
					label {
						width: 230px;
						float: left;
						span {
							display: block;
							font-size: 11px;
						}
					}			
					.description {
						padding-left: 230px;
						font-size: 11px;
					}
				}
			}

			.form-item {
					margin-bottom: 8px;
					label {
						width: 230px;
						float: left;
						span {
							display: block;
							font-size: 11px;
						}
					}			
					.description {
						padding-left: 230px;
						font-size: 11px;
					}
			}

		}

		.contact-us-submit {
			padding-top: 24px;
			margin: 16px 0;

			.privacy-policy {
				padding-top: 12px;
			}
		}

		.form-other-wrapper {
					
			h4 {
				font-size: 15px;
				font-weight: bold;
			}
			
			span {
				height: 60px;
                word-wrap:break-word;
			}
		}

		.form-product-assistance-wrapper {
			h4 {
				font-size: 15px;
				font-weight: bold;
			}
		}
	}
}

.store-locator .pagination-wrapper {
	
	margin-bottom: 16px;
	min-height: 16px;
	
	.nav { 
		
		a {

			font-size: 14px;
			font-weight: bold;
			color: @black;
			text-decoration: none;
			cursor: pointer;
			background: url('/assets/backgrounds/sprite-pagination.png') no-repeat left top;
			
			&.disabled {
			
				text-decoration:none;
				cursor: default;
				color: #999;
			}			
		}
		
		&.pull-left {
		
			a {
				background-position: -13px -2px;
				padding: 0 10px 0 16px;

				
					&.disabled {					
					
					background-position: -13px -35px;
				}
			}
		}
		
		&.pull-right {
		
			a {
				background-position: 93px 1px;
				padding: 0 16px 0 0;
				
					&.disabled {
										
					background-position: 93px -35px;
				}
			}
		}
	}	
}

.store-detail {
	
	.address-details,
	.btn-wrapper {
		margin-bottom: 16px;
	}
	
	.address-details {
		h4,
		p {
		
			margin-bottom: 0px;
		}
	}
	
	.btn-wrapper {
			
		text-align: left;
	}
}

.list-section {
	margin-bottom: 16px;
	padding-bottom: 16px;
	border-bottom: 1px dotted @formBorderSection;
	
    &:last-child {margin:0;padding:0;}				
}

/** MCF Content left**/

#contentleft3.mcf-signin {
	width: 100%;
}

.subtext-notification {
	font-size: 11px;
	clear: both;
	margin: 8px 0;
}

/* message bubble ------------------------------------------------------------ */
.msg-bubble {
	position: absolute;
	z-index: 1000;
}

.msg-bubble-content {
	background: url('/images/common/checkout/bg_sprite_bubble.png') transparent no-repeat left top;
	padding: 12px 20px 0 15px;
	width: 193px;
	font-size: 12px;
}

.msg-bubble-btm {
	background: url('/images/common/checkout/bg_sprite_bubble.png') transparent no-repeat -250px bottom;
	width: 228px;
	height: 48px;
}

* html .msg-bubble-content { /* ie6 png fix */
	background: url('/images/common/checkout/bg_sprite_bubble.gif') transparent no-repeat left top;
}

* html .msg-bubble-btm { /* ie6 png fix */
	background: url('/images/common/checkout/bg_sprite_bubble.gif') transparent no-repeat -250px bottom;
}


.input-group {
  
  text-align: left;
  
  label { 
    display: block;
    font-size: 16px;
    font-weight: bold;
	margin: 0 0 16px;
  }

  .entry {

    border: 1px solid #9d9fa2;
    border-right: none;
    display: inline-block;
    font-size: 14px;
    text-indent: 6px;
    float: left;
    font-family: inherit;
    height: 37px;
	margin: 0;
    padding: 8px 4px;
	vertical-align: top;
	width: 160px;
	.border-radiuses(0, 0, 5px, 5px);
  }

  .input-group-btn {
    display: inline-block;
    margin-left: 0;
    vertical-align: top;
  }

  .btn {
    .border-radiuses(5px, 5px, 0, 0);
    margin: 0;
    padding: 6px 13px 8px 13px;
    height: 37px;
    border: 1px solid #9d9fa2;
    color: #2e3337;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #FFF;
  }

  .btn-geo {
    background: url('../assets/images/stloc_searchSprite.png') no-repeat scroll -43px 0 transparent;
    float:right;
    height: 37px;
    vertical-align: top;
    width: 39px;
    margin-left: 1px;
  }

  html[lang="fr-CA"] & {
	.search-button {
		font-size: 13px;
	}
  }
}
.hover-list {
	
    .border-radius(6px);
    background: @hoverListBackground;
    border: 1px solid @tableBorder;
    
	li {
		
		padding: 8px 10px 9px 10px;
		margin: 0px;
		border-bottom: 1px solid @white;
		
		label {		
			float: none;
			width: auto;
			display: block;
			vertical-align: bottom;
			margin: 0px;
		}
	
		&:first-child {
			-webkit-border-top-left-radius: 6px;
			-webkit-border-top-right-radius: 6px;
			-moz-border-radius-topleft: 6px;
			-moz-border-radius-topright: 6px;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;			
		}
		
		&:last-child {
			border-bottom: none;
			-webkit-border-bottom-right-radius: 6px;
			-webkit-border-bottom-left-radius: 6px;
			-moz-border-radius-bottomright: 6px;
			-moz-border-radius-bottomleft: 6px;
			border-bottom-right-radius: 6px;
			border-bottom-left-radius: 6px;
		}
		
		&.active,
		&:hover {
			background-color: @hoverListHover;
		}		
	}
	
	.help-link-container {
	
		z-index: 100;
		display: inline-block;
		vertical-align: top;
		margin-top: 5px;
		margin-left: 8px;
		font-size: 11px;
	}
}

.store-list {	
	clear: both;

	li {
	position: relative;
		
        .address-details {padding: 0 70px 0 0;}

		.btn-wrapper {		
			position: absolute;
			top: 0;
			right: 0;
		}
		
		h4, p { margin-bottom: 0px; }			
	}
}

// Generic form layout (labels inline with input boxes)

.form-standard {
	li {
		border-bottom: none;
		padding: 0;
		position: relative;
		margin: 0 0 10px;
		display: block;
		clear: both;
		height: 29px;
		list-style: none;
	}

	li label {
		width: 165px;
		float: left;
		display: inline;
		margin: 5px 10px 0 0;
	}

	label em {
		display: none;
	}
}


/*standard-nested - addressUC uses a nested <ol> structure*/
	
.form-standard-nested { 

	li {
		border-bottom: none;
		list-style: none;
		padding: 0;
	}

	li li {
		&:extend(.form-standard li);
	}

	label {
		&:extend(.form-standard li label);
	}

	label em{
		&:extend(.form-standard label em);
	}
}