*{
		margin:0;
		padding:0;
		font-family:Arial, Helvetica, sans-serif;
		}
	
	body{
		background:#000 url('/static/geeksquad_splash/Assets/bg.jpg') center 0 no-repeat;
		color:#fff;
		}
		
	.gs-container-wrapper{
		width:980px;
		margin:0 auto;
		overflow:hidden;
		}
	
	/**************************/
	/*  Geek Squad Type Setup */
	/**************************/
	
	::selection,
	::-moz-selection {
		color:#fff;
		background:#e37222;
	}
	
    @import "type-geeksquad.less"; // GStymie font declarations
	
	h2{
		font-size:112px;
		line-height:96px;
		text-shadow: 0px 0px 16px #666;
		}
		
	h3{
		font-size:32px;
		line-height:36px;
		margin-bottom:20px;
		text-shadow: 0px 0px 16px #666;
		}

    h3.gstymie-bold-s{
        font-size: 24px;
        line-height: 30px;
        } 
	
	p{
		font-size:18px;
		line-height:24px;
		margin-bottom:24px;
		}	
	
	a, a:visited{
		color:#fff;
		text-decoration:none;
		}
	
	a:hover{
		text-decoration:underline;
		}
		
	.small-type{
		font-size:14px;
		line-height:20px;
		}
	
	/**************************/
	/*  Header                */
	/**************************/
		
	.gs-header-wrapper{
		background:#000;/* IE fall back */
		background: rgba(0, 0, 0, .6);
		position:fixed;
		top:0;
		right:0;
		width:100%;
		height:64px;
		line-height:64px;
		}
	
	.gs-header-wrapper .gs-logo{
		position:absolute;
		left:50%;
		top:18px;
		margin:0 0 0 -63px;
		}
	
	.gs-header-wrapper .gs-container-wrapper{
		text-align:right;
		line-height:64px;
		}
	
	.gs-header-wrapper .gs-container-wrapper span{
		cursor:pointer;
		}
	
	.gs-header-wrapper .gs-container-wrapper span:hover{
		text-decoration:underline;
		}
	
	/*  Language Switch  */
	#fr-CA, .selected{
		display:none;
		}
	
	/**************************/
	/*  Hero headline         */
	/**************************/
		
	.gs-headline-wrapper{
		text-align:center;
		margin:240px 0 72px;
		}
		
	
	/**************************/
	/*  Information & links   */
	/**************************/
    
	.row-fluid{
		width:100%;
		}
		
	.row-fluid .span6{
		width:50%;
		float:left;
		}    	

	.row-fluid .span6>div{
		padding: 24px 40px 24px 120px;
		min-height:192px;
		}
		
	#fr-CA .row-fluid .span6>div{
		padding:24px 56px 24px 112px;
		min-height:192px;
		}
	
	/*  Logos link  */	
	.futureshop{
		display:inline-block;
		height:34px;
		width:164px;
		background:url('/static/geeksquad_splash/Assets/gs-sprite.png') -17px -36px no-repeat;
		margin:0 0 9px;
		}	
	
	.futureshop:hover{
		background-position: -17px -236px;
		}	
	
	.bestbuy{
		display:inline-block;
		height:56px;
		width:80px;
		margin: 0 8px 0 -6px;
		background:url('/static/geeksquad_splash/Assets/gs-sprite.png') -210px -26px no-repeat;
		}	

	.bestbuy:hover{
		background-position:-210px -226px;
		}	
	
	/*  Supports Links  */		
	.phone-icon{
		background:url('/static/geeksquad_splash/Assets/gs-sprite.png') -31px -132px no-repeat;
		padding-left:48px;
		}

	.online-icon{
		background:url('/static/geeksquad_splash/Assets/gs-sprite.png') -31px -332px no-repeat;
		padding-left:48px;
		display:block;
		}

    .instant-support p{
        font-size:18px;
        line-height:24px;
        margin-bottom:8px; 
        }
	
	/**************************/
	/*  Misc                  */
	/**************************/	
	.margin-none{
		margin-bottom:0px;
		}	
	
	.margin-small{
		margin-bottom:8px;
		}
	
	.orange{
		color:#e37222;
		}
	
	.divider{
		border-left: 1px solid #fff;
		}
	
	.break{
		font-family:inherit !important;
	}
	
	
	/**************************/
	/*  Mobile                  */
	/**************************/
	@media (max-width: 980px) {
	
		.gs-container-wrapper{
			width:90%;
			}
			
		.gs-headline-wrapper{
			margin:176px 0 64px;	
			}
		
		.row-fluid .span6>div,
		#fr-CA .row-fluid .span6>div{
			padding:24px 10%;
			min-height:160px;
			}
	}
		
	
	@media (max-width: 480px) {
	
		body{
			background:#000 url('/static/geeksquad_splash/Assets/bg-mobile.jpg') center 0 no-repeat;
			}
		
		h2{
			font-size:80px;
			line-height:72px;}
	
		
		.gs-container-wrapper{
			width:90%;
			}
		
		.gs-headline-wrapper{
			margin:160px 0 64px;	
			}
			
		.row-fluid .span6{
			width:100%;
			float:none;
			}
		
		.row-fluid .span6>div,
		#fr-CA .row-fluid .span6>div{
			border-top:1px solid #fff;
			padding:16px 0 32px;
			margin:24px 4%;
			min-height:160px;
			}
			
		.row-fluid .span6>div h3{
			text-shadow:none;}
		
		.divider{
			border:0px;
			}
			
		.break{
			display:block;
			}
	}
	
	@media (max-width: 360px) {
		h2{
			font-size:64px;
			line-height:56px;
			}
			
		.gs-headline-wrapper h3{
			font-size:24px;
			line-height:30px;
			}
	}