// Best Buy global header styling

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

// variables
// -----------------------------------
@DropDownHeight:	440px;
@DropDownSpacing:	20px;

// server time - only visible on print
// -----------------------------------
#servertime {
	display: none;
}

// shared
// -----------------------------------
.remove-empty:empty {
	display: none;
}

.std-inline-list li {
	display: inline;
}

.replace-text {
	text-indent: -2000px;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
}

// global header
// -----------------------------------
.adsplash-glb-header {
	margin: 0 auto;
	
	> div {
		margin: 15px auto;
	}
}

.global-header {
	margin: 0 0 10px;
	position: relative;
	z-index: 171;
}


// header promo
// -----------------------------------
.hdr-promo {
	font-size: 14px;
	margin: 0 auto;
	width: 920px;
	
	.hdr-free-shipping {
		float: left;
		line-height: 45px;
		
		a, a:hover, a:active, a:visited {
			color: #2e3337;
			background: url('/assets/backgrounds/sprite_global.png') no-repeat right -217px;
			padding-right: 16px;
			display: block;
		}
	}
	
	.hdr-non-core {
		float: right;
		position: relative;
		z-index: 1600;

		.btn-primary {
			vertical-align: top;
			font-size: 14px;
			height: 31px;
			line-height: 31px;
			margin: 0 0 0 6px;			
			.border-radius(4px 4px 4px 4px);
		}
	}
}


// shared header top and header bottom
// -----------------------------------
.hdr-top, .hdr-bot {
	background-color: #003b64;
	color: @white;
}


// header top
// -----------------------------------
.hdr-top {
	height: 102px;
	
	.bby-logo {
		position: relative;
		top: -17px;
		width: 140px;
		
		a {
			display: block;
			width: 92px;
			height: 62px;
			background: url('/assets/backgrounds/sprite_global.png') no-repeat left top;
		}
	}
}


// header bottom
// -----------------------------------
.hdr-bot {
	height: 41px;
	.box-shadow(0 -2px 0 #003B64); /* to fix 1px line rendering issue in iPad */
}


// header toolbar
.hdr-toolbar  {
	padding: 12px 0;
	
	a, a:visited, a:hover {
		color: #a9e0ea;
	}
	
	a:hover {
		text-decoration: underline;
	}
	
	ul {
		float: right;
		text-align: right;
	}
	
	li {
		float: left;
		border-right: 1px solid #a9e0ea;
		margin: 0 6px 0 0;
		padding: 0 8px 0 0;
		line-height: 1.15;
		
		&.customer-service {
			padding: 0;
		}
	}	
}

// Lightbox
// -----------------------------------

#ui-lightbox-dim {
	z-index: 172;
}

.ui-imageviewer {

	z-index: 173;
}


// search
// -----------------------------------
@searchIconBgStart:           #ffea0f;
@searchIconBgEnd:             #f3ca00;
@searchIconBorder:            #ffc500;

.hdr-search {
	position: relative;
	top: 9px;

	.hdr-search-input {
		.box-shadow(inset 2px 2px 5px #ddd);
		.box-sizing(border-box);
		.border-radius(4px 0 0 4px);
		border: none;
		color: #2e3337;
		font-size: 14px;
		height: 36px;
		padding: 9px 8px;
		outline: 0;
		width: 293px;

		&:-ms-input-placeholder {color: @grayLight;}
	}

	.placeholder-text {
		color: @grayLight;
	}

	.btn-search {
		.gradient(@searchIconBgStart, @searchIconBgEnd);
		border: 1px solid @searchIconBorder;
		.border-radius(0 4px 4px 0);
		color: #003b64;
		font-weight: bold;
		height: 34px;
		padding: 0;
		text-transform: uppercase;
		width: 44px;

		&-icon {
			background-position: -112px -37px;
			height: 34px;
			width: 42px;
		}
	}
}


// search history & auto complete
// -----------------------------------
.widget-search-extend {
	ul {
		background: @white;
		border: 1px solid #c7c8ca;
		.box-shadow(3px 3px 5px rgba(0,0,0,0.15));
		.box-sizing(border-box);
		display: none;
		font-size: 14px;
		position: absolute;
		top: 34px;
		width: 480px;
		z-index: 1002;
		.animation(fadeInDown 0.1s linear);
	}

	li {
		line-height: 19px;
		margin: 0;
	}
	
	.active {
		background: #e6e7e8;
	}
	
	a {
		color: @black;
		display: block;
		padding: 7px 8px;
		text-decoration: none;

		&:hover,
		&:active {
			background: #e6e7e8;
		}
	}

	.clear-history,
	.history-cleared {
		a {
			color: @linkColor;
			font-style: italic;
		}
	}

	.ac-highlight {
		font-weight: 700;
	}

	.ac-category {
		color: #888;
		font-style: italic;
	}
}


// header secondary navigation
// -----------------------------------
.hdr-secondary-nav {
	font-size: 15px;
	font-weight: bold;
	position: relative;
	text-align: right;
	top: 19px;
	
	a, a:hover, a:visited {
		color: @white;
	}
	
	a:hover {
		text-decoration: underline;
	}
	
	li {
		margin: 0 0 0 15px;
		
		&.store {
			margin: 0;
		}
	}
}


// header cart
// -----------------------------------
.hdr-cart {
	float: right;
	.border-radius(3px 3px 0 0);
	.gradient(#ffeb0f, #f5ce00, 96%, #edc100);
	
	.cart-image {
		display: block;
		height: 19px;
		padding: 12px 17px 10px 13px;
		min-width: 50px;
		font-weight: bold;
		font-size: 14px;
		color: #003b64;
		text-align: center;
		
		span {
			margin: 0 0 0 6px;
		}
	}
	
	.hdr-cart-img {
		vertical-align: top;
		margin-top: -2px;
	}
}


// mobile site link
// -----------------------------------
.hdr-toolbar .hdr-back-to-mobile,
.ftr-back-to-mobile {
	display: none;
	
	span {
		display: none;
	}
	
	&.show-tablet-link .tablet-section,
	&.show-mobile-link .mobile-section {
		display: block;
	}
}


// viva drop down menu
// -----------------------------------
.viva-nav {
	z-index: 1001;		
	
	li {
		margin: 0px;
	}
	a {
	
		&.link-shopall {
			position:absolute;
			width:250px;
			height:380px;
			top:0;
			left:0;
			color:@white;
		
			&:hover {
				text-decoration:none;
			}
			
			p {
				font-size:15px;
				font-weight:bold;
				text-transform:uppercase;
				margin:320px 0 0 15px;
				background: url('/Projects/_Content/Static/Assets/DropDownMenu_Viva/arrow-white.png') no-repeat 170px 20px;
				
				.fr-CA {
				
					font-size:16px;
					font-weight:bold;
					text-transform:uppercase;
					margin:320px 0 0 15px;
					background: url('/Projects/_Content/Static/Assets/DropDownMenu_Viva/arrow-white.png') no-repeat 160px 20px;		    
				}
			}
			
			span {
				display:block;
				font-weight:normal;
				
				.fr-CA {
				
				    font-size:12px;
				}
			}
		}
	}
	
	.parent-lifestyle a.link-shopall p {
		background-position: 160px 20px;
		
		.fr-CA {
		
			font-size:15px;
			margin:290px 0 0 15px;
			background-position:190px 33px;
		}
    }
    
    .links-container {
    
		position:absolute;
		left:300px;
		top:20px;
		font-size:12px;
		
		ul li {
			margin:6px 0;
			
			a:hover {
			text-decoration:none;
			}
		}
		
		.title-category {
			font-weight:bold;
			font-size:14px;
			margin-top:16px;
		}
		
		.first-title {
			margin-top:0;
		}
	}
	
	.brand-logos {
		position: absolute;
		top: 382px;
		
		ul li {
			float:left;
			display:block;
			margin: 0 10px;
			
			&.brands-title {
				padding-top: 26px;
				color:#888;
				margin-left:15px;
			}
		}
	}
	
	.lifestyle-content .brand-logos ul li {
		margin: 0 18px;
	}	
   
	.top-lvl {
		float: left;
		
		.link-top {
			display: inline-block;
			height: 45px;
			line-height: 42px;			
			font-weight: bold;
			color: @white;			
			padding: 0 20px;
			background: url('/assets/backgrounds/sprite_viva.jpg') no-repeat left top;

			&:hover {
				text-decoration: none;
			}
			
			i {
				visibility:hidden;					
			}
			
			.fr-CA & {
				background: url('/assets/backgrounds/sprite_viva_fr.jpg') no-repeat left top;
			}
		}
		
		.link-viva {
			background: url('/Projects/_Content/Static/Assets/DropDownMenu_Viva/gh-tab-viva.jpg') no-repeat left top;
			padding:0;
			width: 115px;		
		}
		
		&.parent-viva {
			.sub-nav {
				left: -398px;	
				
				.fr-CA & {
					left: -365px;
				}						
			}
		}
		
		&.parent-lifestyle {
			.sub-nav {
				
				left: -398px;
				
				.fr-CA {
				
					left: -365px;
				}
				
				border: none;
				
				.fr-CA & {
					left: -336px;
				}				
			}
		}
		
		.link-home-lifestyle {
			background: url('/Projects/_Content/Static/Assets/DropDownMenu_Viva/gh-tab-hl.jpg') no-repeat left top;
			padding:0;
			width: 200px;
			
			.fr-CA & {
				background: url('/Projects/_Content/Static/Assets/DropDownMenu_Viva/gh-tab-hl.jpg') no-repeat left top;
				padding:0;
				width: 233px;
				background-position:left -45px;
			}
		}
		
		.sub-nav {
			display: none;
			position: absolute;
			top: 45px;
			z-index: 1500;
			background-color: @white;
			border: none;
			
			.lifestyle-content {				
				width: 713px;
				height: 455px;
				background: url('/Projects/_Content/Static/Assets/DropDownMenu_Viva/gh-bg-hl.jpg') no-repeat left top;
				
				.fr-CA & {
					width: 713px;
					height: 455px;
					background: url('/Projects/_Content/Static/Assets/DropDownMenu_Viva/gh-bg-hl.jpg') no-repeat left top;
				}
				
				a {
					i {
						font: 0/0 a;
					}
				}
				
				.arrow {
					background: url('/Projects/_Content/Static/Assets/DropDownMenu_Viva/gh-tabselect-arrow.jpg') no-repeat left top;
					position: absolute;
					width: 15px;
					height: 7px;
					top:-7px;
					left: 682px;
					
					.fr-CA & {
						left: 652px;
					}					
				}
				
				.lifestyle-from-bby {					
					width: 156px;
					height: 245px;
					padding: 15px 10px 10px 10px;
					color: #000;
					text-decoration: none;					
					
					h2 {
						font-size: 16px;
					}
					
					p {
						padding-top: 13px;
						font-size: 13px;
						
						.fr-CA & {
							padding-top: 5px;
						}
					}
										
				}
				
				.background-link-kitchen {
					.fr-CA & {
						padding: 250px 0 0 8px;
						height: 50px;
					}
					
					width: 112px;
					height: 42px;
					font-size: 13px;
					color: @white;
					padding: 258px 0 0 8px;			
				}
				
				.background-link-furniture {
					width: 92px;
					height: 42px;
					font-size: 13px;
					color: @white;
					padding: 258px 0 0 28px;
				}
				
				.background-link-toys {
					width: 104px;
					height: 49px;
					font-size: 13px;
					color: @white;
					padding: 251px 0 0 11px;
					
					.fr-CA & {
						padding: 244px 0 0 11px;
						height: 56px;
					}
				}
				
				.background-link-patio {
					width: 101px;
					height: 49px;					
					font-size: 13px;
					color: @white;
					padding: 251px 0 0 11px;
																	
				}
				
				.feature-brands {
					width: 105px;
					height: 75px;															
				}				
				
				.background-link-samsonite {
					width: 179px;
					height: 75px;															
				}
				
				.background-link-traxxas {
					width: 179px;
					height: 75px;															
				}
				
				.background-link-goalo {
					width: 179px;
					height: 75px;															
				}
			}
			
			
			.viva-content {				
				width: 713px;
				height: 455px;
				background: url('/Projects/_Content/Static/Assets/DropDownMenu_Viva/gh-bg-viva.jpg') no-repeat left top;
				
				.viva-container {
					width: 559px;
				}
				
				.fr-CA & {
					width: 713px;
					height: 455px;
					background: url('/Projects/_Content/Static/Assets/DropDownMenu_Viva/gh-bg-viva.jpg') no-repeat left top;
				}
				
				a {
					i {
						font: 0/0 a;
					}
				}
				
				.arrow {
					background: url('/Projects/_Content/Static/Assets/DropDownMenu_Viva/gh-tabselect-arrow.jpg') no-repeat left top;
					position: absolute;
					width: 15px;
					height: 7px;
					top:-7px;
					left: 486px;
					
					.fr-CA &{
						
						left: 454px;
					}
				}
				
				.background-link-viva {
					width: 106px;
					height: 120px;					
				}
				
				.background-link-viva-baby {
					width: 317px;
					height: 120px;					
				}
				
				.background-link-viva-health {
					width: 126px;
					height: 120px;					
				}
				
				.background-link-viva-style {
					width: 100px;
					height: 166px;					
				}
				
				.background-link-viva-naturals {
					width: 100px;
					height: 163px;					
				}
				
				.background-link-viva-beauty {
					width: 155px;
					height: 124px;										
				}
				
				.viva-from-bby {
					width: 248px;
					height: 104px;					
					padding: 10px;
					color: @white;
					text-decoration: none;
					
					h2 {
						font-size: 16px;
						
						.fr-CA & {
							font-size: 14px;
						}
					}
					
					p {
						padding-top: 5px;
						font-size: 13px;
						
						.fr-CA & {
							font-size: 12px;
						}
					}				
				}
				
				.background-link-viva-health {
					width: 124px;
					height: 120px;					
				}
				
				.background-link-viva-beauty-2 {
					width: 155px;
					height: 86px;					
				}
				
				.background-link-viva-personal-care {
					width: 392px;
					height: 86px;					
				}
				
				
				.feature-brands {
					width: 102px;
					height: 75px;															
				}				
				
				.background-link-covergirl {
					width: 105px;
					height: 72px;															
				}
				
				.background-link-default {
					width: 105px;
					height: 72px;															
				}
				
				.background-link-evenflo {
					width: 134px;
					height: 72px;															
				}
				
				.background-link-liveclean {
					width: 157px;
					height: 72px;															
				}
				
				
			}	
		}		
	}
}

.content-shadow {
	background-color: @white; /* Needed for IEs */

	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.5);
	box-shadow: 0 3px 3px rgba(0,0,0,0.5);

	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=2,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=2,MakeShadow=true,ShadowOpacity=0.30)";
	zoom: 1;
	
	.viva-content, 
	.lifestyle-content {
		position: relative; /* This protects the inner element from being blurred */
		background-color: @white;
	}
}

// drop down menu
// -----------------------------------
.global-nav {
	float: left;
	position: relative; // this is for mega drop down menu over-ride
	zoom: 1;
	
	a:hover {
		text-decoration: none;
	}
	
	h2 {
		font-size: 18px;
		margin: 0 0 15px;
		color: #2e3337;
	}
	
	li {
		margin: 0;
	}

	p {
		font-size: 12px;
	}

	.last { /* for r.1.0 */
		border-right: 0 none @white !important;
	}

	.title {
		font-weight: bold;
		padding: 0;
		text-rendering: optimizelegibility;
	
	
		&.menu-title {
			color: @textColor;
			font-size: 18px;
			margin: 0 0 15px;
		}
	
		&.sub-menu-title {
			color: inherit;
			font-size: 14px;
			margin: 0 0 10px;
		}

		&.viva-menu-title {
			font-size: 15px;
			line-height: 20px;
			margin: 0 0 5px 0;
			color: @bbyBlueDarker;

			&.bottom {
				margin: 18px 0 5px 0;
			}
		}

		&.deals-menu-title {
		
			text-align: center;
			font-size: 13px;
			margin: 0 0 10px;
			color: inherit;
		}
	}

	.inline-title {
		font-size: 12px;
		font-weight: normal;
	}

	.deals-newsletterSignup {
		p {
		
			font: bold 18px/62px Arial;
			float: left;
			color: #003b64;
			text-transform: uppercase;
		}

		span {
			font: normal normal 18px/62px Arial;
			text-transform: none;
		}
	}

	.link-shop-all {
		clear: both;
		font-weight: bold;
	}
	
	.new {
		background-color: @bbyBlueDarker;
		.border-radius(2px 2px 2px 2px);
		padding: 1px 3px;
		font-size: 8px;
		color: @white;
		vertical-align: middle;
		margin-left: 4px;
	}

	.parent-item {
		z-index: 1000;
	}
	
	.top-lvl {
		float: left;
		border-left: 1px solid @bbyBlueDark;
		border-right: 1px solid @bbyBlueDarkLight;
		position: static; /* this is for mega drop down menu over-ride */
		
		.link-top {
			display: inline-block;
			height: 41px;
			line-height: 42px;
			font-size: 15px;
			font-weight: bold;
			color: @white;
			background: #006abf;
			.gradient(@bbyGradientBase, @bbyGradientBaseEnd);
			padding: 0 20px;

			.fr-CA & {
				padding: 0 15px;
			}
			
			&:active, &.hover {
				color: #00447f;
				background: #eee;
				.gradient(#cdcdcd, @white);
				text-decoration: none;
			}
		}
		
		.link-departments {
			&:active, &.hover {
				.gradient(#cdcdcd, #eee);
			}
		}
		
		&.hover .link-top {
			color: #00447f;
			background: #eee;
			.gradient(#cdcdcd, @white);
			text-decoration: none;
		}
		
		&.hover .link-departments {
			.gradient(#cdcdcd, #eee);
		}
		
		&.parent-departments, &.parent-cellphones {
			border-left: none;
			
			.link-top {
				border-radius: 3px 0 0 0;
			}
		}
		
		&.parent-community,
		&.parent-m-community {
			border-right: none;
			
			.link-top {
				border-radius: 0 3px 0 0;
			}
		}
		
		.link-department { /* fixed width is for positioning of drop down menu */
			width: 86px;
			
			.fr-CA & {
				width: 79px;
			}
		}
		
		.link-brands {
			
			
			.fr-CA & {
				width: 178px;
			}
		}
		
		.link-services {
			width: 75px;
		}
		
		.link-shops {
			width: 124px;
			
			.fr-CA & {
				width: 181px;
			}
		}
		
		.link-community {
			width: 95px;
			
			.fr-CA & {
				width: 111px;
			}
		}
	}

	.sub-nav {
		display: none;
		position: absolute;
		background: @white;
		border: 1px solid #eaeaea;
		border-top: none;
		.box-shadow(3px 3px 4px rgba(0, 0, 0, 0.35));
		top: 41px;
		left: 0;
		z-index: 1000;
		color: #2e3337;
		width: 908px;
		height: @DropDownHeight;
		
		&:after {
			content: "";
			position: absolute;
			bottom: -4px;
			left: -1px;
			height: 4px;
			background: #004b91;
			width: 910px;
		}
		
		&.no-flyout {
			width: 238px;
		}
		
		&.no-flyout:after {
			width: 240px;
		}
		
		a, a:active, a:visited {
			text-decoration: none;
			color: #039;
		}
	}
	
	.menu-item a {
		display: block;
	}
	
	/* size of fly out ----------------------------------------- */
	.parent-brands .sub-nav {
		width: 800px;
		
		&:after {
			width: 802px;
		}
		
		height: auto;
	}
	
	.parent-services .sub-nav {
		height: @DropDownHeight - 70px;
		
		&:after {
			width: 740px;
		}
		
		.fr-CA & {
			height: @DropDownHeight - 30px;
		}
	}
	
	.parent-shops .sub-nav {
		height: @DropDownHeight + 10px;
		
		.fr-CA & {
			width: 726px;
		}
		
		.fr-CA &:after {
			width: 728px;
		}		
	}
	
	.parent-community .sub-nav {
		width: 746px;
		height: @DropDownHeight - 70px;
		left: 97px;
		
		&:after {
			width: 748px;
		}
		
		.fr-CA & {
			left: 223px;
			width: 600px;
		}
		
		.fr-CA &:after {
			width: 602px;
		}
	}
	
	.parent-departments .sub-nav {
		background: #eee;
		
		.fr-CA & {
			height: @DropDownHeight + 20px;
		}
	}
	
	.menu-item-category {
		background: #eee;
		width: 208px;
		height: 15px;
		color: #2e3337 !important;
		padding: 6px 15px;
		cursor: default;
		
		&.hover {
			background: @white;
			color: #2e3337;
			text-decoration: none;
		}
		
		&:visited {
			color: #2e3337;
		}
		
		.fr-CA & {
		
			height: auto;
		}
	}
	
	.link-see-all {
		font-weight: bold;
		cursor: pointer;
	}
	
	.menu-non-core .menu-item-category {
		/* background: #e2e2e2; */
	}
	
	.mega-content {
		position: absolute;
		top: 0;
		left: 238px;
		background: @white;
		display: none;
		width: 630px;
		height: @DropDownHeight - @DropDownSpacing - 16px; /* padding-bottom, padding-top */
		padding: 16px @DropDownSpacing @DropDownSpacing;
		
		.fr-CA & {
			height: @DropDownHeight - @DropDownSpacing - 16px + 20px;
		}
		
		.icon-hammocks {    
			background: url("/assets/backgrounds/bg_mega_menu_cat_travel.jpg") no-repeat scroll 30px -150px transparent;
		}
		
		.icon-binoculars {
			background: url("/assets/backgrounds/bg_mega_menu_cat_travel.jpg") no-repeat scroll 30px -300px transparent;
		}

		.icon-fishing {
			background: url("/assets/backgrounds/bg_mega_menu_cat_travel.jpg") no-repeat scroll 30px -450px transparent;
		}
	}

	.sub-nav .menu-item.hover .menu-item-category {
		background: @white;
	}
	
	.simple-menu {
		width: 200px;
		height: auto;
		padding-bottom: 5px;
		
		
		&:after {
			width: 202px;
		}
		
		.menu-item a {
			padding: 6px 15px;
			
			&:hover, &:active {
				background: #eee;
				text-decoration: none;
			}
		}
	}
	
	.mega-content {
		.icon {
			padding: 105px 0 0;
			text-align: center;
		}
		
		.icon, .icon:hover, .icon:visited, .icon:active {
			color: #2e3337;
		}
		
		a {
			padding: 0;
			
			&:hover, &:active {
				color: #039;
			}
		}
		
		li {
			margin: 0 0 8px;
		}
		
		.featured-cat {
			float: left; 
			margin: 0 0 10px;
		}
		
		&.column-5 {
			.featured-cat li {
				width: 126px;
				float: left;
			}
		}
		
		&.column-4 {
			.featured-cat li {
				width: 157px;
				float: left;
			}
		}
		
		.icon-laptops {
			background: url('/assets/backgrounds/bg_mega_menu_cat_computers.jpg') no-repeat 15px top;
		}
		
		.icon-tablets {
			background: url('/assets/backgrounds/bg_mega_menu_cat_computers.jpg') no-repeat 15px -150px;
		}

		.icon-apple {
			background: url('/assets/backgrounds/bg_mega_menu_cat_computers.jpg') no-repeat 15px -300px;
		}

		.icon-pc {
			background: url('/assets/backgrounds/bg_mega_menu_cat_computers.jpg') no-repeat 15px -450px;
		}
		
		.icon-components {
			background: url('/assets/backgrounds/bg_mega_menu_cat_computers.jpg') no-repeat 15px -600px;
		}
		
		.icon-tv {
			background: url('/assets/backgrounds/bg_mega_menu_cat_tv.jpg') no-repeat 15px top;
		}
		
		.icon-home-audio {
			background: url('/assets/backgrounds/bg_mega_menu_cat_tv.jpg') no-repeat 15px -150px;
		}
		
		.icon-blu-ray {
			background: url('/assets/backgrounds/bg_mega_menu_cat_tv.jpg') no-repeat 15px -300px;
		}
		
		.icon-ht-accessories {
			background: url('/assets/backgrounds/bg_mega_menu_cat_tv.jpg') no-repeat 15px -450px;
		}
		
		.icon-stands {
			background: url('/assets/backgrounds/bg_mega_menu_cat_tv.jpg') no-repeat 15px -600px;
		}
		
		.icon-ipods {
			background: url('/assets/backgrounds/bg_mega_menu_cat_audio.jpg') no-repeat 15px top;
		}
		
		.icon-headphones {
			background: url('/assets/backgrounds/bg_mega_menu_cat_audio.jpg') no-repeat 15px -150px;
		}
		
		.icon-speaker-docks {
			background: url('/assets/backgrounds/bg_mega_menu_cat_audio.jpg') no-repeat 15px -300px;
		}
		
		.icon-ipod-accessories {
			background: url('/assets/backgrounds/bg_mega_menu_cat_audio.jpg') no-repeat 15px -450px;
		}
		
		.icon-ht-audio {
			background: url('/assets/backgrounds/bg_mega_menu_cat_audio.jpg') no-repeat 15px -600px;
		}
		
		.icon-cameras {
			background: url('/assets/backgrounds/bg_mega_menu_cat_cameras.jpg') no-repeat 15px top;
		}
		
		.icon-dslr {
			background: url('/assets/backgrounds/bg_mega_menu_cat_cameras.jpg') no-repeat 15px -150px;
		}
		
		.icon-compact-camera {
			background: url('/assets/backgrounds/bg_mega_menu_cat_cameras.jpg') no-repeat 15px -300px;
		}
		
		.icon-camcorder {
			background: url('/assets/backgrounds/bg_mega_menu_cat_cameras.jpg') no-repeat 15px -450px;
		}
		
		.icon-lenses {
			background: url('/assets/backgrounds/bg_mega_menu_cat_cameras.jpg') no-repeat 15px -600px;
		}
		
		.icon-cellphones {
			background: url('/assets/backgrounds/bg_mega_menu_cat_mobile.jpg') no-repeat 30px top;
		}
		
		.icon-pre-paid {
			background: url('/assets/backgrounds/bg_mega_menu_cat_mobile.jpg') no-repeat 30px -150px;
		}
		
		.icon-cellphone-accessories {
			background: url('/assets/backgrounds/bg_mega_menu_cat_mobile.jpg') no-repeat 30px -300px;
		}
		
		.icon-cellphone-cases {
			background: url('/assets/backgrounds/bg_mega_menu_cat_mobile.jpg') no-repeat 30px -450px;
		}
		
		.icon-bbym {
			background: url('/assets/backgrounds/bg_mega_menu_cat_mobile.jpg') no-repeat right -658px;
		}
		
		.icon-gps {
			background: url('/assets/backgrounds/bg_mega_menu_cat_gps.jpg') no-repeat 30px top;
		}
		
		.icon-car-audio {
			background: url('/assets/backgrounds/bg_mega_menu_cat_gps.jpg') no-repeat 30px -150px;
		}
		
		.icon-marine {
			background: url('/assets/backgrounds/bg_mega_menu_cat_gps.jpg') no-repeat 30px -300px;
		}
		
		.icon-satellite {
			background: url('/assets/backgrounds/bg_mega_menu_cat_gps.jpg') no-repeat 30px -450px;
		}
		
		.icon-movies {
			background: url('/assets/backgrounds/bg_mega_menu_cat_movies.jpg') no-repeat 15px top;
		}
		
		.icon-cinemanow {
			background: url('/assets/backgrounds/bg_mega_menu_cat_movies.jpg') no-repeat 15px -150px;
		}
		
		.icon-kiosk {
			background: url('/assets/backgrounds/bg_mega_menu_cat_movies.jpg') no-repeat 15px -300px;
		}
		
		.icon-pre-order {
			background: url('/assets/backgrounds/bg_mega_menu_cat_movies.jpg') no-repeat 15px -450px;
		}
		
		.icon-music {
			background: url('/assets/backgrounds/bg_mega_menu_cat_movies.jpg') no-repeat 15px -600px;
		}
		
		.icon-guitars {
			background: url('/assets/backgrounds/bg_mega_menu_cat_instruments.jpg') no-repeat 15px top;
		}
		
		.icon-keyboards {
			background: url('/assets/backgrounds/bg_mega_menu_cat_instruments.jpg') no-repeat 15px -150px;
		}
		
		.icon-drums {
			background: url('/assets/backgrounds/bg_mega_menu_cat_instruments.jpg') no-repeat 15px -300px;
		}
		
		.icon-dj {
			background: url('/assets/backgrounds/bg_mega_menu_cat_instruments.jpg') no-repeat 15px -450px;
		}
		
		.icon-recording {
			background: url('/assets/backgrounds/bg_mega_menu_cat_instruments.jpg') no-repeat 15px -600px;
		}		
		
		.icon-ps3 {
			background: url('/assets/backgrounds/bg_mega_menu_cat_games.jpg') no-repeat 15px 0;
		}
		
		.icon-xbox360 {
			background: url('/assets/backgrounds/bg_mega_menu_cat_games.jpg') no-repeat 15px -150px;
		}
		
		.icon-3ds {
			background: url('/assets/backgrounds/bg_mega_menu_cat_games.jpg') no-repeat 15px -450px;
		}
		
		.icon-wiiu {
			background: url('/assets/backgrounds/bg_mega_menu_cat_games.jpg') no-repeat 15px -600px;
		}		
		
		.icon-preorder {
			background: url('/assets/backgrounds/bg_mega_menu_cat_games.jpg') no-repeat 15px -300px;
		}		
		
		.icon-printers {
			background: url('/assets/backgrounds/bg_mega_menu_cat_office.jpg') no-repeat 15px 0;
		}
		
		.icon-ink {
			background: url('/assets/backgrounds/bg_mega_menu_cat_office.jpg') no-repeat 15px -150px;
		}
		
		.icon-office-supplies {
			background: url('/assets/backgrounds/bg_mega_menu_cat_office.jpg') no-repeat 15px -300px;
		}
		
		.icon-paper {
			background: url('/assets/backgrounds/bg_mega_menu_cat_office.jpg') no-repeat 15px -450px;
		}
		
		.icon-telephone {
			background: url('/assets/backgrounds/bg_mega_menu_cat_office.jpg') no-repeat 15px -600px;
		}
		
		.icon-kitchen {
			background: url('/assets/backgrounds/bg_mega_menu_cat_appliances.jpg') no-repeat 15px 0;
		}
		
		.icon-coffee {
			background: url('/assets/backgrounds/bg_mega_menu_cat_appliances.jpg') no-repeat 15px -150px;
		}
		
		.icon-bar {
			background: url('/assets/backgrounds/bg_mega_menu_cat_appliances.jpg') no-repeat 15px -300px;
		}
		
		.icon-vacuums {
			background: url('/assets/backgrounds/bg_mega_menu_cat_appliances.jpg') no-repeat 15px -450px;
		}
		
		.icon-humidifiers {
			background: url('/assets/backgrounds/bg_mega_menu_cat_appliances.jpg') no-repeat 15px -600px;
		}		

		.icon-rc {
			background: url('/assets/backgrounds/bg_mega_menu_cat_toys.jpg') no-repeat 15px 0;
		}
		
		.icon-lego {
			background: url('/assets/backgrounds/bg_mega_menu_cat_toys.jpg') no-repeat 15px -150px;
		}		
		
		.icon-educational {
			background: url('/assets/backgrounds/bg_mega_menu_cat_toys.jpg') no-repeat 15px -300px;
		}
		
		.icon-action-figures {
			background: url('/assets/backgrounds/bg_mega_menu_cat_toys.jpg') no-repeat 15px -450px;
		}
		
		.icon-board-games {
			background: url('/assets/backgrounds/bg_mega_menu_cat_toys.jpg') no-repeat 15px -600px;
		}
		
		.icon-beauty {
			background: url('/assets/backgrounds/bg_mega_menu_cat_beauty.jpg') no-repeat 30px 0;
		}

		.icon-health {
			background: url('/assets/backgrounds/bg_mega_menu_cat_beauty.jpg') no-repeat 30px -150px;
		}

		.icon-baby {
			background: url('/assets/backgrounds/bg_mega_menu_cat_beauty.jpg') no-repeat 30px -300px;
		}

		.icon-fashion {
			background: url('/assets/backgrounds/bg_mega_menu_cat_beauty.jpg') no-repeat 30px -450px;
		}

		.icon-furniture {
			background: url('/assets/backgrounds/bg_mega_menu_cat_furniture.jpg') no-repeat 15px 0;
		}

		.icon-mattress {
			background: url('/assets/backgrounds/bg_mega_menu_cat_furniture.jpg') no-repeat 15px -150px;
		}
		
		.icon-dining {
			background: url('/assets/backgrounds/bg_mega_menu_cat_furniture.jpg') no-repeat 15px -300px;
		}

		.icon-patio {
			background: url('/assets/backgrounds/bg_mega_menu_cat_furniture.jpg') no-repeat 15px -450px;
		}

		.icon-tools {
			background: url('/assets/backgrounds/bg_mega_menu_cat_furniture.jpg') no-repeat 15px -600px;
		}

		.icon-travel {
			background: url('/assets/backgrounds/bg_mega_menu_cat_travel.jpg') no-repeat 30px 0;
		}

		.icon-sports {
			background: url('/assets/backgrounds/bg_mega_menu_cat_travel.jpg') no-repeat 30px -150px;
		}

		.icon-outdoor {
			background: url('/assets/backgrounds/bg_mega_menu_cat_travel.jpg') no-repeat 30px -300px;
		}
	}
	
	.additional-cat-wrapper {
		clear: both;
		margin: 10px 0 0;
		padding: @DropDownSpacing 0 0;
		border-top: 1px dotted #c7c8ca;
	}
	
	.additional-cat-content {
		float: left;
		width: 64%;
		
		ul {
			float: left;
			width: 47%;
			margin: 0 3% 0 0;
		}
	}
	
	.resources-content {
		float: right;
		width: 33%;
		border-left: 1px dotted #c7c8ca;
		padding-left: 2.5%;
	}
	
	h4 {
		margin: 0 0 10px;
		font-size: 14px;
	}
	
	.featured-brands {
		height: 112px;
		margin: 15px 20px 20px;
		border-bottom: 1px dotted #C7C8CA;
		padding: 0 0 15px;
		
		li {
			float: left;
			width: 25%;
		}
	}
	
	.logo {
		display: block;
		background: url('/assets/backgrounds/bg_menu_brands.gif') no-repeat -5px top;
		padding: 70px 0 0;
		text-align: center;
		color: #2e3337;
	}
	
	.logo-canon {
		background-position: 14px top;
	}
	
	.logo-blackberry {
		background-position: -144px top;
	}

	.logo-monster {
		background-position: -306px top;
	}
	
	.logo-samsung {
		background-position: -466px top;
	}
	
	
	.all-brands {
		margin: 15px 20px 20px;
		min-height: 30px;
		
		li {
			float: left;
			/*width: 16.6%;*/
			width: 20%;
			margin: 0 0 10px;
		}
		
		&.more-brands {
			border-top: 1px dotted #C7C8CA;
			padding-top: 11px;			
		}
	}

	.services-content {
		margin: 15px 20px 20px;
		
		li {
			float: left;
			width: 16.5%;
			margin: 0 2% 0 0;
			border-right: 1px dotted #c7c8ca;
			padding: 0 2% 0 0;
			min-height: 320px;
			
			&.last {
				margin: 0;
				padding: 0;
			}
			
			.fr-CA & {
				min-height: 360px;
			}
		}
		
		.icon {
			font-size: 14px;
			font-weight: bold;
			margin: 0 0 10px;
			background: url('/assets/backgrounds/bg_menu_services_en.jpg') no-repeat -8px top;
			padding: 110px 0 0;
			
			.fr-CA & {
				background-image: url('/assets/backgrounds/bg_menu_services_fr.jpg');
			}
		}
		
		.icon-recycling {
			background-position: -165px top;
		}
		
		.icon-parts {
			background-position: -325px top;
		}
		
		.icon-reclaim {
			background-position: -485px top;
			
			.fr-CA & {
				background-position: -490px top;
			}
		}
		
		.icon-kiosk {
			background-position: -640px top;
		}
		
		.compare-rate {
			clear: both;
			margin: 12px 0 0;
			border-top: 1px dotted #c7c8ca;
			padding: 12px 0 0;
		}
	}
	
	.shops-content {
		margin: 15px 20px 20px;
		
		li {
			float: left;
			width: 16.5%;
			margin: 0 2% 0 0;
			padding: 0 2% 0 0;
			height: 160px;

			&.left-border {
				border-left: 1px dotted #c7c8ca;
			}
			
			&.right-border {
				border-right: 1px dotted #c7c8ca;
			}

			.text {
				color: #77787b;
				font-size: 14px;
			}
			
			.fr-CA & {
				width: 16.5%;
			}
			
			&.last {
				margin: 0;
				padding: 0;
			}
		}

		h2 {
			margin: 16px 0 8px 0;
		}
		
		.top {
			border-bottom: 1px dotted #c7c8ca;
			padding-bottom: 16px;
		}
		
		.bottom {
			
			li {
				height: 160px;
			}
		}
		
		.icon {
			background: url('/assets/backgrounds/bg_menu_shops_5_en.jpg') no-repeat -8px 10px;
			padding: 100px 0 0;
			
			.fr-CA & {
				background-image: url('/assets/backgrounds/bg_menu_shops_5_fr.jpg');
			}
		}
		
		.bottom .icon {
			background-image: url('/assets/backgrounds/bg_menu_shops_4_en.jpg');
			
			.fr-CA & {
				background-image: url('/assets/backgrounds/bg_menu_shops_4_fr.jpg');
			}
		}
		
		.icon-bbfb {
			background-position: -498px 5px;
		}
		
		.icon-home-life {
			background-position: -182px top;

			.fr-CA & {
				background-position: -175px top;
			}
		}

		.icon-sale {
			background-position: -164px -1px;
			height: 36px;
		}
		
		.icon-bbym {
			background-position: -354px 5px;
		}
		
		.icon-weekly-ad {
			background-position: 2px -25px;
		}

		.icon-cinema-now {
			background-position: -657px 5px;
		}
		
		.icon-kiosk {
			background-position: -652px 5px;
		}
		
		.icon-exclusive {
			background-position: -486px 10px;
		}
		
		.icon-viva {
			background-position: -2px -1px;
		}

		.icon-clearance {
			background-position: -369px -28px;
		}
		
		.icon-onlineonly {
			background-position: -164px 10px;
			
			.fr-CA & {
				background-position: -168px 10px;
			}
		}
		
		.icon-refurbished {
			background-position: -532px -23px;
		}

		.icon-weekend-oos {
			background-position:-647px 10px
		}
	}
	
	.other-links {
		padding: 15px 0 0;
		margin: 15px 0 0;
		border-top: 1px dotted #c7c8ca;
		clear: both;
		
		h4 {
			margin: 0 0 6px;
		}
	}
	
	.community-content {
		margin: 15px 20px 20px;
		
		ul {
			margin: 20px 0 0;
		}
		
		li {
			float: left;
			width: 20.5%;
			margin-right: 3%;
			padding-right: 2%;
			border-right: 1px dotted #c7c8ca;
			min-height: 220px;
			
			&.last {
				border: none;
				margin: 0;
				padding: 0;
			}
			
			.fr-CA & {
				width: 29.5%;
			}			
		}
		
		.icon {
			padding: 90px 0 0;
			background: url('/assets/backgrounds/bg_menu_community.gif') no-repeat 10px top;
			
			.fr-CA & {
				background-position: 20px top;
				background: url('/assets/backgrounds/bg_menu_community_fr.gif') no-repeat 10px top;
			}	
			
		}
		
		.icon-blog {
			background-position: -150px top;
			
			.fr-CA & {
				background-position: -140px top;
			}				
		}
		
		.icon-b-blog {
			background-position: -306px top;
		}

		.icon-viva {
			background-position: -494px top;
		
			.fr-CA & {
				background-position: -494px top;	
			}	
		}
	}
	
	p {
		line-height: 1.45;
		margin: 0 0 10px;
	}
}


// bby mobile specific
// -----------------------------------
.bbym-master {
	.global-nav {
		.parent-carriers .sub-nav {
			left: 138px;
		}
		
		.parent-accessories .sub-nav {
			left: 247px;
		}
		
		.parent-m-community .sub-nav {
			left: 494px;
		}
			
		.parent-m-services .sub-nav {
			left: 387px;
		}

		.top-lvl {
			.link-top {
				padding: 0 15px;
			}
		}
	}

	.hdr-top {
		.bbym-logo {
			top: 3px;
			width: 180px;

			a {
				width: 157px;
				height: 46px;
				background-position: left -73px;
			}
		}
	}

	.hdr-search {
		.hdr-search-input {
			width: 280px;
		}
	}
}

.hdr-link-bby {
	float: left;
	font-size: 15px;
	text-transform: uppercase;
	height: 41px;
	line-height: 42px;
	padding: 0 15px;
	font-weight: bold;
	
	a, a:active, a:hover, a:visited {
		color: @white;
	}
}


// checkout header
// -----------------------------------
.checkout-master {
	.global-header {
		margin: 0 0 20px;
	}

	.bby-logo a {
		width: 77px;
		height: 52px;
		background-position: left -650px;
	}
	
	.hdr-top {
		height: 90px;
	}
	
	.hdr-toolbar {
		.welcome, .my-account, .order-status, .customer-service {
			display: none;
		}
		
		.language {
			margin: 0;
			padding: 0;
			border: none;
		}
	}
	
	.chkout-indicator {
		width: 920px;
		margin: 20px auto 30px;
		height: 35px;
		
		.progress{
			overflow: hidden;
		}
	}
}


// sitemap header
// -----------------------------------
.page-sitemap {
	.hdr-toolbar {
		.welcome, .my-account, .order-status, .customer-service {
			display: none;
		}	
		
		.language {
			margin: 0;
			padding: 0;
			border: none;
		}
	}
	
	.master-content-wrap {
		padding: 0 0 50px;
	}
}


// career header
// -----------------------------------
.career-master {
	.ftr-top-content, .ftr-bot-content,
	.hdr-top-content, .hdr-bot-content {
		width: 960px;
	}
	
	.hdr-items {
		width: 760px;
	}
	
	.hdr-toolbar .language {
		border: none;
		margin: 0;
		padding: 0;
	}
	
	.global-nav .top-lvl {
		&.parent-search {
			border-left: none;
		}
		
		&.parent-why {
			border-right: none;
		}
		
		.link-search {
			.border-radius(3px 0 0 0);
		}
		
		.link-why {
			.border-radius(0 3px 0 0);
		}
	}	
}

.fr-CA + .career-master .global-nav .top-lvl .link-top {
	padding: 0 13px;
}


/** Kiosk Page - Header Styling **/

.kiosk.content-wrapper{
    
    padding: 138px 0 20px;
}
.notification-banner{
    
    background: @lightBlack;

	a {
	
		color: @bbyLightYellow;
	}
	.container {
		background: url('../images/mcf-logo.png') no-repeat 0 6px;
		padding-top: 10px;
		padding-bottom: 12px;
		color: @white;
	}
	
	.pull-left {
		padding-left: 50px;
	
	}
	.inline-list li:first-child {
		padding-right: 8px;
		margin-right: 8px;
		border-right: 1px solid @white;
	}
	
	.edit-mode-container{
		float: left;
		padding-right: 8px;
		border-right: 1px solid @white;
	}
	
	.non-edit-mode-container{
		
		float: left;
		
		.new-order {
			float: left;
			padding-right: 8px;
			border-right: 1px solid @white;
		}
	}

	.store-number {
	
		float: left;
		padding-left: 8px;
	}
}

