// Best Buy homepage styling

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

// variables
// ------------------------

@techSpotLightBorder:           #dadada;  

@secondaryPromoBorder:          @hrBorder;
@secondaryPromoBorderRadius:    12px;


// hero promotion
// ------------------------
.homepage-slide-wrapper {
	position: relative; 
	
	.banner-price-module {
		position: absolute;
		z-index: 1;
		width: 150px;
		padding:10px;

		.btn-primary-alt {
			width:auto;
			min-width:58px;
			height:28px;
			line-height:28px;
			font-size:12px;
		}

		.bubbleInsert h4 {
			margin-bottom:8px;
			font-size:12px;
		}

		.bubbleInsert p {
			margin-bottom: 8px; 
		}

		.price-wrapper{
			margin-bottom:16px;
		}

	}
	
	.banner-price-background {
		background:#fff;
	}

	.trackable:hover .banner-price-module {
		text-decoration:none;
	}
}



// hero slideshow promotion
// ------------------------
.ui-slideshow {
	&-controls {
		display: none;
	}

	&-jmvc {
	height: 430px !important;
		.ui-slideshow-pager-wrapper {
			opacity: 1 !important;
		}
	}
}
.ui-slideshow-jmvc {
	.ui-slideshow-pager-wrapper {
		bottom: 16px;
	}
}

.homepage-banner {
	.main-banner {
		border-right: 1px dotted #ccc;
		height: 390px;	
		position: relative;	
		width: 612px;
		float: left;					
	}
	.small-banner {
		height: 163px;
		width: 274px;
		float: left;
		padding: 16px;
		&.first {
			border-bottom: 1px dotted #ccc;
			height: 179px;
		}		
	}		
}

#home-content {
		
	.community-wrapper {
		border: 1px solid #cccccc;
		margin-top: -1px;
		width: 918px;
	}
		
	.community-wrapper .community-heading {
			border-bottom: 1px solid #cccccc;
			position: relative;
			color: #003399;
			padding: 0 0 15px;
		
			h3 {
				font-weight: 900;
				font-family: 'Arial Black',Arial,Helvetica,sans-serif;
				margin: 0;
			}
			
			.thread:hover {
				background-color: #ffffff;
			}
			
			.link {
				display: inline;
				position: absolute;
				top: 2px;
				right: 1px;
				font-size: 11px;
				text-decoration: none;
		}
		
		.link span {
					padding-right: 13px;
					color: #cccccc;	
				}
				
		.link.two {
					right: 145px;	
				}
			}
	
	.community-wrapper .community-forum {
			background-color: #f7f7f7;		
			float: left;
			padding: 20px 20px 0;
			width: 267px;
			height: 420px;		
			
			ul li {
				border-bottom: 1px dotted #cccccc;
				padding: 20px 0;						
		}
				
		ul li .meta {
					color: #77787f;
					font-size: 11px;
				}
			}
		
	.community-wrapper .community-blog {
			width: 590px;
			float: left;
			border-right: 1px solid #cccccc;
			padding: 20px 0 0 20px;
			background-color: #fff;
			
			#community-box {
				&.banner-wrapper.mid 
					{
						height: auto;
					}

				#lia-ac-ask-expert-bestbuy-container, #lia-ac-ask-expert-bestbuyfr-container
					{	
						margin-bottom: 16px;
					}

				.lia-ac-ask-expert-results-container input
					{
	
						border: 1px solid #bababa;
						background: -webkit-linear-gradient(top,#f5f5f5 0,#bebebe 100%);
						background: -moz-linear-gradient(center top , #f5f5f5 0px, #bebebe 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
						border-radius: 6px;
						padding: 0 10px;
						height: 27px;
						font-weight: 700;
						font-size: 12px;
						text-shadow: 1px 1px #fff;
						margin: 0 20px 21px 0;
						float: right;
						min-width: 72px;
					}

				.lia-ac-ask-expert-header 
					{
						font-size: 12px;
						color: inherit;
						text-transform: uppercase;
						font-weight: bold;
						font-family: 'Arial Black', Arial, Sans-Serif;	
						margin-bottom: 14px;
						color: #003399;
					}

				p 
					{
						color: #636363;
						font-size: 11px;
						padding: 3px 0 3px 0;	
					}


				.lia-ac-ask-expert-see-more 
					{
						padding-top: 8px;
					}

				#lia-ac-ask-expert-question
					{
						width: 562px;
						margin-right: 10px;
						padding: 3px 5px 0;
						height: 43px;
					}

				&.mid {
					#TextBoxPlugIn
						{	
							width: 379px;
							margin-right: 10px;
							padding-left: 5px;
							height: 30px;
	
						}
					.community-button 
						{
							margin-top: 6px;	
						}

					.innerStroke .mid-container  {
							width:500px;
							height:40px;
							top: -10px;
							left: 34px;
							/*line-height:40px;*/  /* If the headline is 1 line only use 40px line height */

							p {
								padding:15px 0 0 0;    

								span {    
									font-weight: normal;
									text-decoration: none;
									text-transform: none;
									font-size: 12px;
									}
							}
					}
				}          
			}
			
			
			.community-heading {
				margin-right: 20px;
			}
					
			.article-item {
				float: left;
				width: 274px;
				border-bottom: 1px dotted #cccccc;
				padding: 20px 0 20px 0;
				height: 82px;
				margin-right: 20px;
				
				.article-meta {
					color: #77787F;
					font-size: 11px;
				}
				
				.article-title {
					padding: 5px 0 5px 0;
					font-size: 12px;
				}
				
				.article-thumb {
					background-size: 85px auto !important;
					height: 68px;
					width: 90px;
					border: 1px solid #cccccc;
					margin: 0 14px 0 0;
					.box-shadow(0px 0px 9px 0px #ccc);
			}
					
			.article-thumb a {
						width: 92px;
						height: 70px;
						display: block;
					}
				
			.article-content-wrapper .article-category {
						color: #77787f;
						font-weight: bold;
						font-size: 11px;
						text-transform: uppercase;
					}
										
			.article-content-wrapper .article-post {
						display: none;
			}
						
			.article-content-wrapper .article-post	img {
							display: none;
						}
					}
				}
		
	.section-heading {
		
		.sprite-community {
			background: url("/images/common/backgrounds/sprite-community.png");
			display: inline-block;
		}
		
		.logo-community {
			background-position: -25px -59px;
			width: 115px;
			height: 27px;
			
			.fr-CA & {
				background-position: -25px -138px;
				width: 143px;
				height: 27px;
			}			
		}
		
		.logo-rz {
			background-position: -24px -15px;
			width: 147px;
			height: 29px;
			
			.fr-CA & {
			
				background-position: -25px -98px;
				width: 203px;
				height: 27px;
			}			
		}
		
		.link {
			display: inline;
			padding: 0 0 0 8px;
			position: absolute;
			top: 16px;
			right: 0px;
			font-size: 11px;
		}
		
	}
	
}