// Best Buy ie hack

*, *:before, *:after { zoom: 1; }

// shadow divider override
.shadow-horizontal,
.shadow-horizontal-narrow {
	border-bottom: 1px solid #c9c9c9;
}

.shadow-vertical {
	border-left: 1px solid #c9c9c9;
}

//btn link disabled filter
.btn-link,
.btn-link:hover,
.btn-link:active {
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

// ISPU popup
.ui-modal-overlay, .ui-lightbox-mvc-overlay {
	background: #000;
	filter: alpha(opacity=50) !important;
}

// Regular EHF Lightbox
.ui-imageviewer {
	.modal-header {
		filter: none;
	}
}

.checkout-page-btc-dialog {
	width: 856px !important;
	height: 600px !important;
	background: transparent;
	border: none;

	.help-detail-content.surcharge-info {
		background: #FFF;
		margin-left: 0px;
		margin-bottom: 0px;
		padding-top: 10px;
		padding-right: 9px;
		padding-left: 8px;
		width: 98%;
	}
	
	.surchargeinfo {
		background: #FFF;

		.help-detail-content {
			height: 510px;
			padding-bottom: 30px;
			overflow-y: scroll;
		}
	}
}


// Best Buy Specific

// global header
// -----------------------------
.hdr-non-core-info {
	float: left;
}

.hdr-promo .hdr-non-core .btn-primary {
	line-height: 30px;
}

.hdr-cart {
	_width: 108px;
}

.hdr-search-input {
	_color: #77787B;
	_height: 20px;
	_width: 282px;
	_border: 0;
	_font-size: 14px;
	_padding: 8px 0 8px 6px;
	_float: left;
}

.fr-CA .hdr-search-input {
	_width: 202px;
}

.bbym-master .hdr-search-input {
	_width: 232px;
}

.fr-CA .bbym-master .hdr-search-input {
	_width: 162px;
}

.global-nav .sub-nav {
	border-bottom: 4px solid #004b91\9;
	border-color: #004b91\9;
}

.global-nav .additional-cat-content,
.global-nav .resources-content {
	_display: inline;
}

.global-nav .additional-cat-content ul {
	_width: 180px;
	_display: inline;
}

.global-nav .mega-content li {
	_padding: 0;
	_zoom: 1;
}

.global-nav .additional-cat-wrapper {
	_margin: 0;
	_zoom: 1;
}

.global-nav .sub-nav .hover {
	_zoom: 1;
}


// theme b price bubble
// -----------------------------
.price-bubble-wrap {
	background: url('/assets/images/bg_theme_b.png') repeat-x left top;
}

.price-bubble-wrap .prodPrice {
	padding: 0;
}

.price-bubble-wrap .point {
	_display: none;
}


// tech spotlight home
// -----------------------------
.tech-spotlight-home {
	.tech-spotlight-inner {
		.article-wrapper {
			.article-content {
				padding: 13px 0 0 8px;
			}
		}
	}
}

.tech-spotlight-dept {
	.tech-spotlight-inner {
		.article-wrapper {
			.article-content {
				padding: 13px 0 0 8px;
			}
		}
	}
}


// slideshow
// -----------------------------
.ui-slideshow-jmvc .ui-slideshow-pager-wrapper ul.ui-slideshow-pager li{
	display: inline;
	padding: 0px 3px;
}


// plp loading lightbox
// -----------------------------
.loadingLightBox {
	background: url(/assets/backgrounds/loading-lightbox-ie.png) repeat;
}


// checkout pages
// -----------------------------
.page-signin {
	.secure-signin {
		margin: 0 0 20px 0;

		.title {
			font-size: 18px;
			font-weight: bold;
			display: block;
			float: none;
		}

		.returning-customers {
			clear: both;

			.email-pass {
				clear: both;

				span {
					input {
						margin: 0 0 10px;
						padding: 6px 0 0 2px;
					}
				}
			}

			.forgot-pass {
				clear: both;
				margin: 20px 0px 0px 157px !important;
			}
		}
	}
}

/*Age Verification*/
.checkout-master {
	.master-content-wrap {
		.age-verification-buttons {
			&.btn-wrapper {
				.btn {
					margin-right: 0;
				}
			}
		}
	}
}

/* Thank you page - Guest account */
.checkout-master {
	.master-content-wrap {
		.order-complete-page {
			&.checkout-pages {
				.sign-in {
					&.login-area {
						min-height: 350px;
						padding-bottom: 0px;

						.guest-wrapper {
							min-height: 300px;

							.create-account-form {
								&.checkout-form {
									.field-list {
										margin-top: 0px;
										padding-bottom: 0px;
									}
								}
							}
						}
					}
				}
			}
		}
	}    
}

/** MCF **/

.checkout-pages {

	.checkout-form {
	
		input[type="radio"],
		input[type="checkbox"]{
		
			width: 18px;
			height: 18px;
		}

		input[type="checkbox"]{
			background: white;
			border: none;
			font-size: 16px;
		}
	}	
}

// Checkout Form

.checkout-form, 
.checkout-form .radio {
	input[type=radio] {

		background: none !important;
		border: none !important;
	}
}

// PDP Gallery
.ui-carousel-main-wrapper .feature-overlay.video {
	background: url('/assets/spacer.gif');
}