// bootstrap ie6 hacks
body {background:#ffffff;background-image:none; padding:0}
			   
// Original hacks by Jonathon Joyce (edited)
.row {margin:0}
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .span-pdp-left, .span-pdp-right, .span-availability-detail, .span-availability-btn, .span-sidebar, .span-listing, .span-side-banners, .span-listing-featured, .span-pdp-left, .span-pdp-right  {float:left;display:inline}
.last-child {margin-right:0}
.margin-left-20 {float: left;margin-left: 16px}


// Forms
.button-reset {height:auto;width:auto;margin-bottom:0px}
.input-text {display:inline-block;line-height:18px;height:18px;padding:4px;margin:0px;margin-bottom:9px;border:1px solid #ccc;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif}
.help-inline {display:block;line-height:18px;height:18px;padding:4px 0px 4px 5px}

label.checkbox {display:block;line-height:18px;height:18px;width:100%;padding-left:0px;margin: 0px 0px 9px -2px}
.input-checkbox {width:auto;float:left;display:inline-block;padding:0px;margin:0px;height:auto;border:none}

label.radio {display:block;line-height:18px;height:18px;width:100%;padding-left:0px;margin:0px 0px 9px -2px}
.input-radio {width:auto;float:left;display:inline-block;padding:0px;margin:0px;height:auto;border:none}

.form-inline label.checkbox {display:inline-block;line-height:18px;height:18px;width:auto;padding-left:0px;margin: 0px}
.form-inline .input-checkbox {width:auto;float:left;display:inline-block;padding:0px;margin:0px;height:auto;border:none}

legend { width:auto}	

.form-horizontal .help-block {display:inline-block;margin-left: 3px}
.form-horizontal .control-label {float:left;display:inline-block;width:140px;text-align:right;padding-top:5px}
.form-horizontal label.checkbox {display:inline-block;line-height:18px;height:18px;width:auto;padding-left:0px;margin: 0px 9px 9px 0px}
.form-horizontal .input-checkbox {margin-left:-3px;}
.form-horizontal .input-multiple {height: auto;}
.form-horizontal .input-file {display:inline-block;line-height:24px;height:24px;width:220px;padding:4px}
.btn-primary {margin-right:4px}

.disabled {cursor:not-allowed}
.control-group.warning  label, .control-group.warning .help-block, .control-group.warning .help-inline {color:#C09853}
.control-group.error label, .control-group.error .help-block, .control-group.error .help-inline {color:#B94A48}
.control-group.success label, .control-group.success .help-block, .control-group.success .help-inline {color:#468847}

input.span1, input.span2, input.span3, input.span4, input.span5, input.span6, input.span7, input.span8, input.span9, input.span10, input.span11, input.span12,
select.span1, select.span2, select.span3, select.span4, select.span5, select.span6, select.span7, select.span8, select.span9, select.span10, select.span11, select.span12  {float:left;display:inline-block;margin:0px}

input.btn, a.btn, button.btn {height:auto;width:auto}
.input-prepend input {margin-top:1px}

// general ie6 hacks

// inline list
.inline-list,
.inline-list li {
	margin: 0;
}

.inline-list li {
	display: inline;
	float: left;
}

.inline-list li a {
	float: left;
}


// carousel
.ui-carousel {
	width: 100%;
}


// tabs
.ui-tabs {
	background: none;
	background-size: 0% 0%;
	border-bottom: 1px solid #c9c9c9;
}

.ui-tabs .active {
	background: #000 !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.ui-tab-content-wrapper {
	background: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}