//IE7

// ie7 and below fixes

// header
// -----------------------------
.global-header,
.hdr-items,
.hdr-toolbar {
	position: relative;
}

.global-header {
	z-index: 10;
	zoom: 1;
}

.hdr-items {
	z-index: 1;
}

.hdr-search {
	.hdr-search-input {
		height: auto;
	}

	.btn-search {
		margin-top: -1px;
	}
}

.fr-CA {
	.hdr-search {
		.hdr-search-input {
			width: 185px;
		}

		.btn-search {
			position: relative;
			top: -1px;
		}
	}
}


// across item homepage
// -----------------------------
.module {
	.p3-across {
		.across-item {
			width: 33%;
		}
	}
	.p4-across {
		.across-item {
			width: 24%;
		}
	}
}


// clearfix bbym page container
// -----------------------------
.bbym-page-container {
	#bbym-accessories {
		.across-wrapper {
			.clearfix {
				clear: both;	
			}
		}
	}
}

// products
// -----------------------------
.p2-across,
.p3-across,
.p4-across,
.p5-across {
	h4 {
		a {
			font-size: 12px;
		}
	}
}


// products related
// -----------------------------
.across-wrapper {
	.prodTagLine {
		li {
			display: inline;
		}
	}
}

.p4-across {
	.across-item {
		width: 24.9%;
	}
}

.p5-across {
	.across-item {
		width: 19.9%;
	}
}


// search project plp
// -----------------------------
.listing-control-wrapper {
	.show-product-per-page {
		width: 160px;

		a {
			height: auto;
		}
	}

	.layout-toggle {
		top: 9px;
		
		a {
			height: auto;
			width: 15px;
		}
	}
}

.listing-control-middle {
	z-index: -1;
}

.listing-content {
	position: relative;
	z-index: -2;
}

.grid-view {
    .listing-item {
        width: 24.99% !important;
    }

    .prod-image,
    .prod-info,
    .price-wrapper {
        display: inline;
        zoom: 1;
    }

    .compare-checkbox {
        left: 14px;
    }

    .prod-availability {
        position: relative;
        margin: 32px 0 24px 0;
        bottom: 0;        
    }
}

.sorting-list {
	.sorting-item {
		display: inline;
		zoom: 1;
	}
}

.products-per-page-wrapper {
	.sorting-item {
		a {
			height: auto !important;
		}
	}
}


// pdp
// -----------------------------
.availability-section {
	.buttons {
		.active {
			display: block;
		}
	}
}

// Warranty popup
// -----------------------------
.ui-modal-warranties {

	.ui-dropdown-wrapper {
		position: relative;
		z-index: 1;
	}

	.terms-agreement {
		position: relative;
		z-index: 0;
	}

	.plans-list li {
		position: relative;
	}

}


// components
// -----------------------------
.across-item {
	.gradient {
		&-yellow {
			zoom: 1;
		}
	}
}

.homepage-banner {
	zoom:1;
}

// MCCP BUTTON HACK
.btn-wrapper {
	img {
		margin: 6px 4px 0 0px;
	}

	.btnmccpstd {
		padding: 8px 0 4px 0 !important;
	}

	.btn-primary {
		a {
			span {
				img {
					margin: 0 6px 0 0;
				}
			}
		}
	}
}

// Kiosk Sign In Page
#kiosk-body {
	.outOfOrderCheckBox {
		label {
			padding-top: 3px;
		}
	}
}


// search
// ----------------------
.widget-search-extend {
	ul {
		left: 0;
	}
}

.search-listing-wrapper {
	position: inherit;
}


// checkout
// ----------------------
.checkout-form {
	INPUT[type='text'] {
		padding: 5px 0 0 2px !important;
	}
}

// Loading
.loading-big:before,
.loading-medium:before,
.loading-small:before {
  background: url('/assets/backgrounds/transparent-white-60.png') repeat;
}

//Marketplace icon fallback

.vendor-soldby > DIV {
    width: 208px;
}

.marketplace-marker:before {
    content: '';
    background-image: url(../../images/common/icons/marketplace-icon.png);
    background-position: 1px -2px; 
    background-repeat: no-repeat;
    display: inline-block;
    float: left;
    height: 28px;
    margin: -5px 5px 0 0;
    padding: 0;
    width: 20px;

    &.new-line-under-logo {
        line-height: 18px;
    }
}

.marketplace-marker-small:before {
    &:extend(.marketplace-marker:before);
    background-image: url(../../images/common/icons/marketplace-icon-16px.png);
    height: 17px;
    margin: 0 2px 0 0;
}