// Best Buy Interstitial page styling
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";
@import (reference) "components.less";
@intSprite: url('/assets/backgrounds/sprite-interstitial.png');

.interstitial-pages {

	min-height: 500px;
	
	position: relative;

	h2, h3 {
		line-height: 1.15;
	}

	&, p, li {
		line-height: 1.38;
	}
	
	h1 {
		font-size: 18px;
		margin: 16px 0;
		padding: 0;
	}
	
	&.loading {
		background: url('/assets/ui/loading_sm_bg_white.gif') 340px center no-repeat;
	}
}	
		
.products-container {
	padding-top: 24px;
	width: 700px;
	float: left;
}

.cart-container {
	padding-top: 24px;
	width: 208px;
	left: 50%;
	margin: 0 0 0 252px;
	position: absolute;
	top: 0;

	.btn {
		display: block;
		margin: 0 0 16px;
		min-width: 150px;
        padding: 0;
	
		&:first-child {
			height: 36px;
			font-size: 14px;
			font-weight: bold;
			line-height: 36px;
			color: #2a2a2e;
			text-shadow: none;
		}
	}
}

.accessories-list li .icon, 
.cart-message, 
.icon-expand-list {
	background: @intSprite no-repeat 0 0;
}

.cart-title, .cart-subtotal, .cart-taxes, .cart-total {
	text-align: right;
	margin-bottom: 16px;
}

.cart-title {
	margin-bottom: 24px;
	
	h2 {
		font-size: 18px;
		line-height: 1;
		font-weight: bold;
		margin: 0;
		float: left;
		width: 140px;
		text-align: left;	
	}

	a {
		font-size: 12px;
		font-weight: normal;
		vertical-align: bottom;
	}
}

.cart-total {
	font-size: 16px;
	font-weight: bold;
	padding-top: 16px;
	border-top: 1px dotted #bfbfbf;
	margin-bottom: 24px;
}

.price-desc {
	float: left;
	width: 120px;
	text-align: left;		
}

.btn-paypal, .btn-paypal:active, .btn-paypal:hover, .btn-paypal.disabled, .btn-paypal.disabled:hover  {
	border: 1px solid #c88038;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;		
	background: #fee5b9;
	background: -moz-linear-gradient(top,  #fee5b9 0%, #fec874 51%, #fba919 52%, #fba919 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fee5b9), color-stop(50%,#fec874), color-stop(51%,#fba919), color-stop(100%,#fba919));
	background: -webkit-linear-gradient(top,  #fee5b9 0%,#fec874 51%,#fba919 52%,#fba919 100%);
	background: -o-linear-gradient(top,  #fee5b9 0%,#fec874 51%,#fba919 52%,#fba919 100%);
	background: -ms-linear-gradient(top,  #fee5b9 0%,#fec874 51%,#fba919 52%,#fba919 100%);
	background: linear-gradient(to bottom,  #fee5b9 0%,#fec874 51%,#fba919 52%,#fba919 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee5b9', endColorstr='#fba919',GradientType=0 );
	text-shadow: 1px 1px 0px #fff;	
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	line-height: 36px;	
	height: 36px;

	a {
		color: #003366;
		width: auto;
	}
	
	.icon-paypal {
		background: url('/assets/backgrounds/img-paypal.png') 0 0 no-repeat;
		display: inline-block;
		width: 62px;
		height: 19px;
		margin: 2px 0 0 4px;
	}
}

.btn-paypal.disabled, .btn-paypal.disabled:hover {
	opacity: 0.5;
}

.hero-product {
	.prod-image {
		float: left;
	}
}

.prod-summary {
    min-height: 150px;
	padding-left: 176px;
}

.accessories-list li {
	padding-left: 24px;
    position: relative;
}

.accessories-list li .icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 14px;
	background-position: -10px -164px;
}

.cart-message {
	line-height: 28px;
	font-size: 18px;
	font-weight: bold;
	padding-left: 38px;
	background-position: -10px -91px;
	color: #82b800;
}

.additional-items {
	margin-top: 16px;

	a {
		text-decoration: none;
	}
	
	.show {
		display: inline;
	}
	
	.hide {
		display: none;
	}	

	.active {
		display: inline;
		
		.show {
			display: none;
		}
		
		.hide {
			display: inline;
		}			
	}
}

.additional-items-expanded {
	display: none;
	border-top: 1px dotted #ccc;
	margin-top: 16px;
	padding-bottom: 16px;
}

.cart-line-item {
	border-bottom: 1px dotted #ccc;
	padding: 16px 0 0 0;
	min-height: 0;
	margin: 0;

	img, & > div {
		float: left;
	}

	& > div {
		padding: 0 0 16px 16px;
	}

	.prod-info {
		width: 304px;
		font-size: 12px;
	}

	.quantity {
		margin-top: 10px;
		
		span {
			font-weight: bold;
		}
	}
	
	.prod-price-total {
		margin-top: 6px;
	}
	
	.prod-price-summary {
		float: none;
		overflow: auto;
	}	
}

.cart-line-item:last-child {
	border-bottom: 1px dotted #ccc;
}

.icon-expand-list {
	width: 15px;
	height: 11px;
	margin-left: 2px;
	background-position: -10px -139px;
}

.additional-items-expanded .btn {
	margin-top: 8px;
}

.section-title {
	font-size: 18px;
	margin: 32px 0 16px;
	padding-bottom: 8px;
	border-bottom: 3px solid #c7c8ca;
}

.prod-special-offer-list {
	margin: 0 0 0 32px;
}

.across-item {
	border: 0;
	padding: 0;
	margin: 0;
}

.n-across .more-like-this {
	text-align: left;
	padding-left: 12px;

	.btn {
		min-width: 80px;

        .fr-CA & {
            min-width: 100px;
        }
	}
}

.p4-across .theme-a .product-content-wrapper {
	padding: 0 12px;
}

.across-thumb {
	width: auto;
}


// Quick View
// Wrap in ui-modal to reuse elsewhere
.ui-modal-quickview .ui-modal-dialog {
	width: 896px;
}

.ui-modal-body {
	padding: 16px 0 0 16px;
}

.ui-gallery-wrapper {
	height: 500px;
	float: left;
}

/* Code copied over from PDP.css - better than extending*/
.ui-carousel-item-list {height: 500px}

.ui-carousel-item {

	width: 500px;
	height: 500px;

	&:extend(.loading-big all);

	&.loaded,
	&.active {
		&:before {
			background: none;
			opacity: 1;
		}
	}
	&.loaded {
		&:after {
			background: none;
			border: none;
			box-shadow: none;
			content: '';
		}
	}
}

.ui-carousel-item .btn-spin-done {
	background: #fff url('/assets/ui/ui-close.png')0 0 no-repeat;
	width: 26px;
	height: 25px;
}	

.ui-carousel-item .feature-overlay {
	
	.feature-overlay-wrapper {
		width: 500px;
		height: 500px;
		position: absolute;
	}

	.feature-overlay-wrap {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #fff;
		opacity: .8;
	}

	.feature-overlay-image {
		width: 162px;
		height: 132px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -66px 0 0 -81px;
		border-radius: 6px;

		> a {
			display: block;
			padding-top: 100px;
			text-align: center;
		}
	}
}


.ui-carousel-item .feature-overlay.spin{
	.feature-overlay-image {
		background: #fff url('/assets/ui/pdp-gallery-overlay.png')30px 15px no-repeat;
	}
}

.ui-carousel-item .feature-overlay.video {
	.feature-overlay-image {
		background: #fff url('/assets/ui/pdp-gallery-overlay.png')30px -88px no-repeat;
	}
}

.pdp-gallery-carousel {
	width: 64px;
	float: left;
	margin-right: 16px;
	padding: 24px 0 56px;
	position: relative;
}

.pdp-gallery-carousel-control {
	background: url(/Assets/backgrounds/sprite_carousel_control.png) no-repeat;
	height: 32px;
	margin: 0;
	position: absolute;
	top: 43%;
	width: 24px;
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.pdp-gallery-carousel-controls {
	.pdp-gallery-carousel-control {
		background: @intSprite no-repeat -10px -237px;
		height: 17px;
		width: 29px;
		display: block;
		top: 0px;
		left: 18px;
		
		&.disabled {
			background-position: -10px -200px;
		}

		&.next {
			background-position: -10px -314px;
			top: auto;
			bottom: 32px;
			
			&.disabled {
				background-position: -10px -274px;
			}			
		}		
	}
}

.pdp-gallery-carousel {
	.pdp-gallery-carousel-inner {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100%;
	}
}

.pdp-gallery-carousel-item-list {
	overflow: hidden;
	text-align: left;
	height: 365px;
}

.ui-carousel-main-wrapper {
	float: right;
	height: 500px;
	width: 500px;
	overflow: hidden;
	position: relative;
}

.ui-carousel-item {
	float: left;
	display: list-item;
	position: relative;
}

.ui-gallery-controls {
	display: none;
}

.ui-carousel-control {
	position: absolute;
	top: 210px;
	left: 0;
	z-index: 2;
	text-indent: -4000px;
	font: 0/0 Arial;
	overflow: hidden;
	background: transparent url('/Assets/ui/sprite_arrows.png') no-repeat 4px center;
	height: 80px;
	width: 42px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
}

.ui-carousel-control.disabled {
	display: none;
}

.ui-carousel-control.prev {
	padding: 0;
}

.ui-carousel-control.next {
	right: 0;
	left: auto;
	padding: 0;
	float: none;
	background-position: -43px center;
}

.pdp-gallery-counter {
	font: 12px/1.35 Arial, Sans-serif;
	text-align: center;
	position: absolute;
	bottom: 116px;
	left: 33px;
	width: auto;
}

.ui-carousel.small {
	padding: 0 0 32px 0;
	
	.pdp-gallery-carousel-control {
		display: none;
	}
	.ui-carousel-item-list {
		overflow: hidden;
		height: auto;
	}	
}

.prod-details {
	width: auto;
	overflow: auto;
	padding: 0 16px 0 24px;
	
	.prod-title {
		font-size: 18px;
		line-height: 1.15;
		margin: 0 0 8px;
	}	
	
	.rating-score {
		font-weight: bold;
	}

	.price-wrapper {
		margin: 18px 0;
	}

	.prod-stock {
		font-weight: bold;
		line-height: 12px;
		color: #82b800;
	}

	.btn {
		margin: 12px 0 32px;
	}

	.prod-desc, .prod-link {
		font-size: 14px;
		line-height: 1.35;
	}

	.prod-desc {
		margin-bottom: 16px;
	}	
}

.pdp-gallery-carousel-item {
	
	margin: 5px 0;
	position: relative;
	line-height: 0;
	float: left;

	&.active {
		cursor: auto;
	}

	
	&:before {
		background: #fff;
		content: '';
		opacity: .7;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	&:after {
		background: #FFF;
		content: url('/Assets/ui/progress-medium.gif');
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -24px 0 0 -24px;
		padding: 8px;
		height: 32px;
		width: 32px;
	}

	img {
		background-color: #fff;
		padding: 3px;
		border: 1px #ebebeb solid;
		opacity: 0.35;
		filter: alpha(opacity=35);
		height: 55px;
		width: 55px;

	}

	&.loaded {
		&:before {
			background: transparent;
			opacity: 1;
		}
		&:after {
			content: "";
			bottom: auto;
			right: auto;
			padding: 0;
			width: 0;
			height: 0;
		}

		img {
			opacity: 1;
			filter: alpha(opacity=100);
		}
	}

	&.first {
		margin: 0 3px !important;
	}

	img {
		background-color: #fff;
		padding: 3px;
		border: 1px #ebebeb solid;
	}

	&.active:before {
		content: "";
		position: absolute;
		width: 3px;
		height: 100%;
		top: 0;
		left: 61px;
		background-color: #007fd8;
	}

	&.video,
	&.spin,
	&.video.active,
	&.spin.active{
		
		.overlay-wrapper {
			position: absolute;
			width: 63px;
			height: 63px;

			-webkit-transition: opacity .5s ease;
			-moz-transition: opacity .5s ease;
			-ms-transition: opacity .5s ease;
			-o-transition: opacity .5s ease;
			transition: opacity .5s ease;
		}
			
		.overlay-wrap {
			position: absolute;
			background: #fff;
			top: 4px;
			left: 4px;
			width: 75px;
			height: 75px;

			opacity: .8;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
			filter: alpha(opacity=80);
		}
		
		&.active,
		&:hover {

			cursor: pointer;
			
			.overlay-wrapper {

				opacity: 0;
			}		
		}
	
		&.active:hover {

			cursor: auto;
		}	
	}

	&.video {
		.overlay-image {
			background: transparent url('/assets/ui/pdp-thumb-overlay.png') -30px -130px no-repeat;
			width: 40px;
			height: 40px;	
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -20px 0 0 -20px;
		}
	}
	
	&.spin {
		.overlay-image {
			background: transparent url('/assets/ui/pdp-thumb-overlay.png') -30px -30px no-repeat;
			width: 40px;
			height: 40px;	
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -20px 0 0 -20px;
		}
	}
}

/* end pdp code copy*/