// Best Buy basic container layouts
// body container
// fixed-width and fluid (with sidebar) layouts
// sidebar
// section headings

// *new: List styling

// body reset --------------------------------
// -------------------------------------------

body {
	margin: 0;
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	color: @textColor;
	background-color: @bodyBackground;
}


// page width  -------------------------------
// -------------------------------------------

// Fixed (980px)
#grid > .core(@gridColumnWidth, @gridGutterWidth);

// Fluid (980px)
#grid > .fluid(@fluidGridColumnWidth, @fluidGridGutterWidth);

// page layouts ------------------------------
// -------------------------------------------

// Container (centered, fixed-width layouts)
#pagecontent,
.container {
	.container-fixed();
}

#bby-content {
	position: relative;
}

// Fluid layouts (left aligned, with sidebar, min- & max-width content)
.container-fluid {
	padding-right: @gridGutterWidth;
	padding-left: @gridGutterWidth;
	.clearfix();
}

// page without breadcrumb
.no-breadcrumb {
	margin-top: 24px;
}

// custom width

// pdp
.span-pdp {
	&-left {
		width: 534px;
	}

	&-right {
		width: 430px;
	}
}

.span-availability {
	&-left,
	&-right {
		.box-sizing(border-box);
	}

	&-left {
		margin: 0;
		padding: 0 20px 0 0;
		width: 212px;
		font-size: 12px;
	}

	&-right {
		margin: 0;
		width: 190px;
	}
}

// listing page
.span-sidebar {
	width: 170px;
}

.span-listing {
	width: 714px;
}

.span-side-banners {
}

.span-listing-featured {
}

// listing page fluid layout
.row-fluid {
	.span-sidebar {
		width: 18.4782609%;
	}

	.span-listing {
		width: 79.7826087%;
	}

	.span-side-banners {
	}

	.span-listing-featured {
	}
}


// modulatization layout ---------------------
// -------------------------------------------

// variables
@sectionHeadingBg:          @bodyBackground;

@sidebarMenuBgStart:        @white;
@sidebarMenuBgEnd:          @white;
@sidebarMenuBorder:         @white;

@sidebarWidgetBgStart:      @white;
@sidebarWidgetBgEnd:        @white;
@sidebarWidgetBorder:       @white;

@sidebarFacetBorder:        #eaeaea;
@sidebarFacetCountColor:    #666;

@sidebarMenuLink:           @linkColor;
@sidebarMenuLinkCurrent:    @black;

// module container
.module {
	margin-bottom: 16px;
}

// sidebar menu wrapper
.sidebar-menu {
	.gradient(@sidebarMenuBgStart, @sidebarMenuBgEnd);
	border: 1px solid @sidebarMenuBorder;
	font-size: 12px;
	margin: 0 0 16px;
	padding: 13px 16px 12px;

	.current-node {
		color: @sidebarMenuLinkCurrent;
	}

	.sidebar-menu-sublist {
		margin: 8px 0 0 14px;
	}
	
	.sidebar-heading h2,
	.sidebar-heading h3 {
		margin: 0 0 6px;
	}
}

// sidebar widgets
.sidebar-widget {
	.gradient(@sidebarWidgetBgStart, @sidebarWidgetBgEnd);
	border: 1px solid @sidebarWidgetBorder;
	margin: 0 0 16px;
	padding: 13px 16px 12px;

	&-secondary {
		border-top: 1px solid @hrBorder;
		font-size: 12px;
		margin: 8px 0 0;
		overflow: hidden;
		padding: 16px 16px 8px;
		word-wrap: break-word;

		.sidebar-menu-list {
			margin: 0 0 0 16px;
		}
	}
}

.additional-menu {
	background: #fff;
		h3 {
			margin-bottom: 8px;
			line-height: 18px;
	}
}

// facets
.facet-menu {
	font-size: 12px;
}

.facet-heading.facet-section-item {
	border-top: 0;
}

.facet-category {
	.facet-see-all {
		margin: 0 0 0 16px;
	}
}

.facet-section-item {
	padding: 8px 16px;

	h5,
	li {
		line-height: 20px;
		margin: 0;
	}

	.facet-list {
		margin: 0 0 0 16px;
	}

	.facet-count {
		color: @sidebarFacetCountColor;
	}
}

// category facet specific
.facet-category .facet-list li span {
	color: @sidebarFacetCountColor;
	margin: 0 0 0 3px;
}


// -------------------------------------------
// legacy grid system and page layout --------
// -------------------------------------------
.grid {
	&-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8,
	&-9, &-10, &-11, &-12, &-13, &-14, &-15, &-16  {
		display: inline;
		float: left;
		margin-right: 8px;
	}
}

.container-16 {
	.grid-1 {
		width: 50px;
	}
	.grid-2 {
		width: 108px;
	}
	.grid-3 {
		width: 166px;
	}
	.grid-4 {
		width: 224px;
	}
	.grid-5 {
		width: 282px;
	}
	.grid-6 {
		width: 340px;
	}
	.grid-7 {
		width: 398px;
	}
	.grid-8 {
		width: 456px;
	}
	.grid-9 {
		width: 514px;
	}
	.grid-10 {
		width: 572px;
	}
	.grid-11 {
		width: 630px;
	}
	.grid-12 {
		width: 688px;
	}
	.grid-13 {
		width: 746px;
	}
	.grid-14 {
		width: 804px;
	}
	.grid-15 {
		width: 862px;
	}
	.grid-16 {
		width: 920px;
	}

	.push {
		&-left-1 {
			margin-left: 58px;
		}
		&-left-2 {
			margin-left: 116px;
		}
		&-left-3 {
			margin-left: 174px;
		}
		&-left-4 {
			margin-left: 232px;
		}
		&-left-5 {
			margin-left: 290px;
		}
		&-left-6 {
			margin-left: 348px;
		}
		&-left-7 {
			margin-left: 406px;
		}
		&-left-8 {
			margin-left: 464px;
		}
		&-left-9 {
			margin-left: 522px;
		}
		&-left-10 {
			margin-left: 580px;
		}
		&-left-11 {
			margin-left: 638px;
		}
		&-left-12 {
			margin-left: 696px;
		}
		&-left-13 {
			margin-left: 754px;
		}
		&-left-14 {
			margin-left: 812px;
		}
		&-left-15 {
			margin-left: 870px;
		}

		&-right-1 {
			margin-right: 58px;
		}
		&-right-2 {
			margin-right: 116px;
		}
		&-right-3 {
			margin-right: 174px;
		}
		&-right-4 {
			margin-right: 232px;
		}
		&-right-5 {
			margin-right: 290px;
		}
		&-right-6 {
			margin-right: 348px;
		}
		&-right-7 {
			margin-right: 406px;
		}
		&-right-8 {
			margin-right: 464px;
		}
		&-right-9 {
			margin-right: 522px;
		}
		&-right-10 {
			margin-right: 580px;
		}
		&-right-11 {
			margin-right: 638px;
		}
		&-right-12 {
			margin-right: 696px;
		}
		&-right-13 {
			margin-right: 754px;
		}
		&-right-14 {
			margin-right: 812px;
		}
		&-right-15 {
			margin-right: 870px;
		}
	}
}

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

#pagecontent {
	&left,
  	&left2 {
		float: left;
		width: 170px;

		#HtmlContent {
			overflow: hidden;
		}
	}

	&left2 {
		clear: left;
		margin-right: 10px;
	}

	&right {
		float: right;
		width: 740px;

		.pc-headline {
			padding-bottom: 30px;
		}
	}

	&right2 {
		float: right;
		width: 170px;
	}

	&main2 {
		float: left;
		width: 560px;
	}

	&bottom2 {
		clear: both;
		margin: 2px 0 0;
	}
}

// template margin override
.template {
	&-department,
	&-class {
		.sidebar-wrapper {
			margin-bottom: 24px;
		}
	}

	&-subclass {
		.listing-product {
			margin: 0 0 24px 0;
		}
	}
}

// left navigation ---------------------------
// -------------------------------------------
.leftnav {
	padding: 1px 9px 4px 9px;
	background: #fff;
}

.leftnavHeading {
	background: #fff200;
	border-bottom: 1px solid #ccc;
	padding: 10px 10px;
	margin-bottom: 5px;
}

.leftnavHeading h1 {
	color: #4d4d4f;
	font-size: 14px;
	padding: 0px;
}

.leftnav h2, .leftnav h3 {
	font-size: 12px;
}

.leftnav .node h2 .current-node {
	font-weight: bold;
}

.leftnav ul li {
	margin-bottom: 4px;
}

.leftnav ul li.node h2 a {
	font-weight: normal;
}

.leftnav h2.title {
	padding: 5px 0 7px 0;
	margin: 0 0 7px 0;
	border-bottom: 1px solid #ccc;
}

.leftnav ul li img {
	vertical-align: bottom;
}

.leftnav .header-node {
	display: block;
	margin-bottom: 4px;
	font-weight: bold;
}

.leftnav .node ul.sub {
	margin: 4px 0 15px 9px;
}

.leftnav .node ul.sub h3 {
	font-weight: normal;
}

.leftnav ul li .hr {
	margin: 6px 0 6px 0;
}

.leftnavbox {
	background: #fff;
	padding: 0px;
	z-index: 1;
	position: relative;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}

.leftnavbox .bottom {
	height: 6px;
}

// white left navigation ---------------------
// -------------------------------------------
.leftnavbox-white {
	padding-top: 6px;
	margin-bottom: 10px;
	background: #fff url(/images/common/backgrounds/leftnav_top_white.gif) top no-repeat;
}

.leftnavbox-white .bottom {
	background: url(/images/common/backgrounds/leftnav_bottom_white.gif) bottom no-repeat;
	height: 6px;
	font-size: 1px;
	line-height: 1px;
}

.leftnavbox-white h3.title {
	margin-bottom: 4px;
	padding-bottom: 0px;
}

.leftnavbox-white .leftnav {
	background: url(/images/common/backgrounds/leftnav_mid_white.gif) repeat-y;
}


// inner content - PDP -----------------------
// -------------------------------------------

#contentleft,
#contentright {
	&1,
	&2,
	&3,
	&4 {
		float: left;
	}
}

.contentleft3,
#contentleftnomargin {
	float: left;
}

.content-left-,
#contentleft {

	&1 {
		float: left;
	width: 550px;
}

	&2 {
		float: left;
	width: 650px;
}
	&3 {
		float: left;
	margin: 0 10px 0 0;
		width: 740px;
}
	&4 {
		float: left;
	margin: 0 10px 0 0;
		width: 690px;
}
}

#contentleftnomargin {
	margin: 0 !important;
	width: 750px;
	overflow: hidden;
}

.content-right-,
#contentright {

	&1 {
		float: right;
	margin-left: 10px;
		width: 360px;
}

	&2 {
		float: right;
	margin-left: 9px;
		width: 260px;
}
	&3 {
		float: right;
	width: 170px;
}
	&4 {
		float: right;
	width: 220px;
}
}

// right help content - PDP ------------------
// -------------------------------------------
.helpblock {
	clear: both;
	background: url(/images/common/backgrounds/bluegradient.gif) repeat-x;
	border: 1px solid #ccc;
	overflow: auto;
	padding: 0 9px 9px 9px;
	margin-bottom: 10px;
}

.helpblock h2 {
	padding: 6px 0 16px 0;
	font-size: 12px;
}

.helpblock h2 a {
	color: #2e3337;
}

.helpblock div.search input,
.helpblock2 .content div.search input {
	vertical-align: middle;
	margin-right: 5px;
}

.helpblock div.search img,
.helpblock2 .content div.search img {
	vertical-align: middle;
}

.helpblock2 {
	clear: both;
	border: 1px solid #ccc;
	overflow: hidden;
	margin-bottom: 10px;
}

.helpblock2 .hdr {
	background: #d6dbf7;
	padding: 6px 7px 9px 9px;
	font-size: 12px;
	font-weight: bold;
}

#contentright3 .helpblock2 .additional {
	padding-top: 8px;
	margin-top: 0;
}

#contentright3 .helpblock2 .additional p {
	padding-top: 0;
	margin-top: 0;
}

#contentright3 .helpblock2 .priceblock {
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
}

#contentright3 .helpblock2 .priceblock.sale-regular,
#contentright3 .helpblock2 p.details.save,
#contentright3 .helpblock2 p.sale-end {
	font-size: 11px;
	line-height: 11px;
	margin: 4px 0;
	display: none;
}

#contentright3 .helpblock2 p.sale-end {
	margin-bottom: 10px;
}

.helpblock2 .content, .helpblock2 .content2 {
	padding: 7px 9px 10px 9px;
	height: 100%;
	background-color: #fff;
}

.helpblock2 .content ul li {
	padding-bottom: 5px;
}

.helpblock2 .see-all {
	padding-top: 5px;
	display: block;
}

.needhelp {
	width: 365px !important;
	padding-bottom: 0px !important;
}

.needhelp .helpimg {
	background: url(/images/common/pictures/two-employee.jpg) left bottom no-repeat;
	width: 170px;
	height: 191px;
}

.helpblock2 ol.stdlist {
	padding: 0px 0px 10px 17px; *padding-left:22px;/* ie fix */
	margin-top:10px;
}

.helpblock2 ol.stdlist li {
	margin: 0 0 2px 0;
	padding: 0;
	list-style-type: decimal;
}

/* IE 6 Fix*/
.helpblock2 .mccpblue, .helpblock2 .mccpgray {
	clear: both;
}

.helpblock2 .equal-btn .mccpright {
	width: 130px;
}

.helpblock2 .content div.chkbox input[type='checkbox'] {
	width: auto !important;
	margin: 0px;
}

.helpblock2 .small {
	font-size: 10px;
}

.helpblock2 .chkbox, #contentright1 .standardblock .chkbox {
	border: none;
	background: none;
	font-weight: normal;
	padding-left: 0 !important;
}

.helpblock2 .chkbox {
	margin-bottom: 0 !important;
	padding-bottom: 0px;
	margin-top: 0px;
}

.helpblock2 .content p, .helpblock2 .content .mccpblue, .helpblock2 .content .mccpgray {
	margin: 7px 0;
}

.helpblock2 .content .price {
	font-size: 14px;
	font-weight: bold;
}

.content .psp-hdr {
	display: block;
	font-weight: bold;
	font-size: 12px;
	padding-bottom: 4px;
}

.content .psp-text {
	font-size: 11px;
}

.content .psp-logo {
	display: block;
	width: 90px;
	height: 62px;
	background: url('/assets/backgrounds/sprite-interstitial.png') no-repeat -10px -10px;
	margin: 10px auto;

    .fr-CA & {
        background: url('/assets/backgrounds/geeksquad-protection-fr.png') no-repeat 0 0;	
        height: 76px;
    }
}

.pop-std .help-arrow {
	margin: 0;
	padding: 0 0 0 13px;
	background: url(/images/common/buttons/redarrow_right.gif) no-repeat 0px 8px;
	padding-top: 5px;
}

.help-arrow a:link {
	font-weight: bold;
}

.hsearch-top {
	padding: 3px 0 0 0;
}

// For HelpCustomerServiceMain
// Box sizes
.hcs-boxes {
	float: left;
	width: 220px;
	margin-right: 10px !important;
	margin-bottom: 10px !important;
}

.hcs-boxes .strong {
	font-size: 12px;
}

.hcs-boxes ul.stdlist li {
	padding-bottom: 3px;
}

.bottom-lstview {
	margin-top: 10px !important;
}

/** Shared in PDP, ISPU and Checkout Page **/

.cart-list {
	margin: 0 0 20px;
}

.cart-line-item {
	border-bottom: 1px dotted #ccc;
	padding: 0 0 15px 115px;
	margin: 15px 0 15px 0;
	min-height: 110px;
	position: relative;
	
	&:last-child {
		border-bottom: none;
	}

	.prod-image-remove {
		width: 100px;
		height: 100px;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.price-qty-wrapper {
		width: 165px;
		float: right;
		font-size: 11px;
		line-height: 1.35;
		margin: -2px 0 0;
		
		.regular {
			display: none;
		}
	}

	.prod-info {
		width: 235px;
		float: left;
	}
	
	h4 {
		color: #2A2A2E;
		font-size: 14px;
		margin: 0 0 15px 0;
		line-height: 1.35;
	}

	.availability-messaging,
	.ispu-not-available { /* for whatever reason... when used in reservation, it actually is available. */
		font-size: 12px;
		font-weight: bold;
		background: url("/assets/icons/icon_availability.png") no-repeat scroll left top transparent;
		padding: 0 0 0 24px;
		color: #689300;
	}
	
	.not-available {
		color: #77787b;
		font-weight: normal;
		background-position: left -76px;
	}
	
	.order-online {
		display: none;
	}
	
	.order-reserve {
		h3 {
			display: none;
		}
	}
	
	// price block starts here. shared in all cart list items
	
	.prod-saving {
		color: #da1a36;
	}
	
	.qty-update {
		margin: 7px 0 10px;
		background-color: #e7e7e7;
		padding: 7px;
		width: 155px;
	}
	
	.qty-update-field {
		float: left;
		
		.small {
			border: none;
			height: 20px;
			width: 26px;
			text-align: center;
			padding: 0 1px 0 0;
			line-height: inherit;
			text-indent: 0;
		}
	}
	
	.qty-update-text {
		padding: 3px 0 0;
		text-align: center;
	}
	
	.prod-price-total {
		border-top: 1px dotted #c7c8ca;
		padding: 6px 0 0;
		
		.label {
			font-family: Arial, Helvetica, Sans-serif;
		}
	}
}

// STANDARD BLOCK & SHIPHEAD ('ported over from Default.css, may be deprecated in the future)
// ----------------------------

.standardblock
{
    background: url(/images/common/backgrounds/graygradient.gif) repeat-x top left;
    border: 1px solid #ccc;
    padding: 0 9px 9px 9px;
    margin: 0 0 10px 0;

	h2 {
		padding: 6px 0 16px 0;
		font-size: 12px;
	}
	
	h2 a {
		font-size: 12px;
	}

	h3 {
		font-size: 12px;
		font-weight: bold;
		padding: 4px 0 2px 0;
	}

	h3 a {
		font-size: 12px;
	}

	p {
		padding: 0 0 4px 0;
	}
	
	ol li, 
	ul li {
		font-weight: bold;
		font-size: 12px;
		overflow: hidden;
	}

	ul li.sbullet {
		background: url(/images/common/pictures/bulletsmallsquare.gif) no-repeat 0 7px;
		margin: 0 0 5px 2px;
		padding: 0 0 0 10px;
		margin-bottom: 3px;
	}
	
	ul li.img {
		float: left;
		margin: 0 10px 3px 0;
	}

	ol li ol, 
	ul li ul {
		overflow: hidden;
		font-size: 1px;
	}

	ol li ol li, 
	ul li ul li {
		float: left;
		display: inline;
		margin: 0 12px 0 0;
		font-size: 12px;
		padding: 0;
	}

	.button {
		padding-top: 8px;
	}

	.button .left {
		float: left;
	}

	.button .right, 
	.button-bottompage .right {
		float: right;
	}

	a, 
	&collapse a {
		font-size: 11px;
	}

	.normal_size a, 
	&collapse .normal_size a {
		font-size: 12px !important;
	}
	
	h2.inner-padding a {
		float: right;
		font-weight: normal;
	}

	h2.inner-padding span {
		float: left;
	}

	h2.inner-padding {
		padding: 6px 9px 15px 9px;
	}

	p.inner-padding, 
	div.inner-padding {
		padding: 0 0 0 9px;
	}

	div.hr {
		height: 1px;
		line-height: 1px;
		font-size: 1px;
		background: #ccc;
		border: none;
		margin: 8px 0 8px 0;
	}

	div.hr hr {
		display: none;
	}

	dl.inner-padding {
		padding: 0 9px 0 9px;
		overflow: auto;
		clear: both;
	}

	dl.inner-padding ul li span {
		font-weight: normal !important;
	}

	dl {
		overflow: auto;
		clear: both;
	}

	dl.inner-padding dt {
		float: left;
		width: 85px;
	}

	dl.inner-padding dd {
		margin-left: 85px;
	}

	dl dt {
		float: left;
		width: 85px;
	}

	dl dd {
		margin-left: 85px;
	}

	ol li label, 
	label {
		font-weight: bold;
	}

	td input {
		margin-top: 2px;
		margin-bottom: 2px;
		margin-right: 6px;
	}
	th
	{
		padding-right: 10px;
	}

	a.titlelink, 
	&collapse a.titlelink
	{
		float: right;
		margin-top: 8px;
		font-size: 11px;
		white-space: nowrap;
	}
	p.para
	{
		padding: 10px 0;
	}
	img.expandlogo, &collapse img.expandlogo
	{
		float: left;
		padding-right: 8px;
		padding-top: 7px;
		cursor: pointer;
	}
	img.titlelogo, &collapse img.titlelogo
	{
		padding-left: 12px;
		padding-top: 2px;
		float: left;
	}
	&collapse
	{
		background: url(/images/common/backgrounds/graygradient.gif) repeat-x;
		border: 1px solid #ccc;
		padding: 0 9px 0 9px;
		margin: 0 0 10px 0;
		height: 29px;
	}

	&collapse h2
	{
		padding: 6px 0 6px 0;
		font-size: 12px;
	}
	.bg-line
	{
		background: url(/images/common/backgrounds/tblpricewatchersep.gif) repeat-y 216px 0;
		overflow: hidden;
		height: auto;
		padding-top: 8px;
		padding-bottom: 6px;
	}
}


// Lists -------------------------------------
// -------------------------------------------

//Bulleted List

ul.bullets {

	li {
		list-style-type: disc;
		list-style: disc;
		list-style-position: outside;
		margin: 0 0 8px 16px;
		padding: 0 0 0 8px;	
	}
}