//Marketplace seller name styles
.marketplace-seller-name {
    background: none;
    color: #4d4d4f;
    line-height: 16px;
    padding: 0;

    &:before {
        content: url(../images/common/icons/marketplace-icon.svg);
        display: inline-block;
        float: left;
        height: 18px;
        margin: -1px 5px 0 0;
        width: 16px;
    }

    &.new-line-under-logo {
        line-height: 18px;
    }
}

.list-layout-marketplace-seller-name,
.grid-layout-marketplace-seller-name {
  display: none;
}

.list-view .list-layout-marketplace-seller-name {
  display: inline-block;
  line-height: 18px;
  margin-top: 16px;
}

.grid-view {
    .grid-layout-marketplace-seller-name.marketplace-seller-name {
        display: inline-block;

        &:before {
            height: 19px;
            margin: -2px 5px 0 0;
        }
    }
}


// Cart and checkout styles
.sold-shipped-by {
    background: #d4eff4;
    padding: 10px 1px;
}

.product-shipment-list .shipment-title {
    background: #d4eff4;
    padding: 4px 16px;
    
    .seller-name,
    .shipment-id {
        float: left;
        width: 50%;
    }

    .seller-name {
        box-sizing: border-box;
        font-size: 14px;
        font-weight:300;
        padding: 0 16px 0 0;
    }

    .shipment-id {
        font-size: 16px;
        line-height: 40px;
    }
}

.contact-box {
    background: #e6e7e8;
    margin-bottom: 1px;
    padding: 10px 15px;

    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0;
    }

    strong,
    p {
        display: block;
        font-size: 14px;
        line-height: 150%;
        margin-bottom: 10px;
    }
}

.vendor-info p,
.vendor-info a {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 20px;
}

.sold-shipped-by {
    background: #d4eff4;
    margin-bottom: 20px;
    padding: 12px;

    h1 {
        font-size: 28px;
    }

    a {
        display: inline-block;
        font-size: 12px;
        margin-top: 8px;
    }

    .left-side,
    .right-side {
        width: 50%;
        display: inline-block;
    }

    .left-side {
        float: left;
    }

    .right-side {
        text-align: right;
        float: right;
        width: 161px;

        &::before {
            text-align: right;
        }
    }

    &.sellers-page {
        margin-top: 25px;
        min-height: 30px;

        .marketplace-seller-name::before {
            height: 20px;
            width: 20px;
            margin-top: 3px;
        }

        .vendor-moreinfo {
            margin-top: 5px;
            font-size: 10px;
            vertical-align: top;
        }
    }
}


.vendor-logo {
    display: block;
    margin: 0 auto 25px;
}

.accordion {
    margin-top: 20px;

    li {
        
        display: block;
        margin-bottom: 0;

        > a {
            border-top: 1px dotted #ccc;
            color: #4d4d4f;
            display: block;
            font-size: 20px;
            margin-bottom: 0;
            padding: 15px 0 15px 15px;
            transition: .2s;

            &:hover {
                background: #e6f1fb;
                text-decoration: none;
            }

            &:last-child {
                border-bottom: 1px dotted #ccc;
            }
        }

        h3 {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }

    .opened {
        border-bottom: 1px dotted #ccc;
        margin-bottom: 20px;

        &:hover {
            background: #fff;
        }
    }
}

.mp-plp-categories li {
    display: inline-block;
    margin-left: 10px;

    a {
        font-size: 16px;
        margin-right: 10px;
    }

    &::after {
        content: '|';
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child::after {
        content: '';
        font-size: 18px;
    }
}

.shop-by-category h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.show-all-products {
    margin-bottom: 5px;
    text-align: center;

    a {
        font-size: 14px;
    }

    hr {
        margin-bottom: 30px;
    }
}

.vendor-header {
    border-bottom: 3px solid #ccc;
    margin: 10px auto 20px 15px;
    padding-bottom: 5px;

    h1 {
        font-size: 24px;
        padding-bottom: 5px;
    }

    a {
        display: block;
        font-size: 14px;
        margin-top: 9px;
    }
}

.back-to-product {
    font-size: 14px;
}

.marketplace-title {
    background: #d4eff4 !important;
    margin-left: -16px;
    margin-right: -16px;

    p {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 2px;
    }

    strong {
        font-size: 14px;
    }

    > div {
        display: inline-block;
        width: 50%;
    }

    .shipment-number {
        float: right;
        margin-top: 11px;
    }
}

.delivery-options .mp-not-returnable {
    font-size: 13px;
    padding: 10px 40px 10px 20px !important;

    a {
        font-size: 13px;
    }
}

.product-shipment-list .product-items li .prod-info {
    font-size: 14px;
}

ul.cart-top-border.cart-list li:last-of-type {
    margin-bottom: 0;
    border-bottom: 0;
}