@import "variables.less";
@import "mixins.less";
@import (reference) "forms.less";

/*/////////////////////////////////////////////////////////////*/
/*////////////////////////// ORDER ////////////////////////////*/
/*/////////////////////////////////////////////////////////////*/

.basket {

	td.qty{	
		text-align:center !important;
		padding:10px 0 10px 2px !important;	
	
		.txtbox {	
			margin-bottom:9px;
		}

		.mccpsmall {

			width:45px;
			margin:0 auto;
			overflow:visible !important;
		}			
		
		.mccpsmall .mccpmain{
			overflow:visible !important;
			margin-bottom:7px;
		}
	}

	td.thick-bottom{
	    border-bottom:0px;
	    background-color:#ccc;
	    font-size:1px!important;
	    height:3px!important;
	    line-height:1px!important;
	    margin:0!important;
	    padding:0!important;
	} 

	td.item {

		ul.stdlist2 li{
			background:url(/images/common/backgrounds/red_check_sm.gif) no-repeat 0 5px;		
			padding: 0 0 0 12px;
		}
	}


	.item {

		li.tagline {
		    font-size: 11px;
		    background-position: 0 5px !important;
		}

		.description h2 a {
		    font-size: 12px;
		}

		.description h2 a.highlighted-item {
		    color: Red;
		}

		.sof-control {
		    margin-top: 7px;
		}

		.product-image {
		    padding-right: 9px;
		}
	}

	.standardblock {

		h3{
		    margin-top:0px;
		    padding-top:0px;
		    margin-bottom:4px;
		}

		.accessories-item .description{
		    font-weight:bold;
		}

		.accessories-item .description .text{
		    padding-bottom: 7px;
		    display:block;
		    font-size:11px;
		}
	}

	.accessories{
		overflow:hidden;
		width:630px;	
	}

	.separator{
		border-top:solid 1px #ccc;
		height:1px;
		margin-top: 10px;
		margin-bottom: 7px;
	}
}

table.basket {

	tr td {
		border-top:0!important;
	}

	td.noborder {
	    padding-top: 0 !important;
	}

	td.qty{
		width:80px;
	}

	td.item{
		width:300px;

		div.description {
			font-size:11px;
			min-width:150px;
			width: 180px;
			padding-left: 0;

			strong{
				display:block;
			}
		}
	}

	td.availability{
		width:90px;

		.varcol{
			color:#999;
		}
	}

	td.total{
		width:83px;
		font-size:14px;
	}
	
	a {
		font-size:11px;
	}

	ul.warranty {
		font-size: 11px;
		float: left;
	}
	
	ul.warranty li {
	    margin: 0 0 4px 8px;
	}

	strong  a{
		font-size:12px;
	}
}

table.viewpromocodes {

	&.basket tr.standardblock th{
		border-bottom:1px solid #ccc;
	}
}

td.hr{
	border:0!important;
	margin:0!important;
    padding:0 10px!important;
	
    div.hr{
		padding:0 10px;
	}
}

.grey-text{
    color:#7B7D7B !important;
}

dl.security-privacy {

	clear: both;
	margin-bottom: 9px;
	margin-left: 9px;
	
	dt img {
		padding-left:6px;
	}
}

.security-privacy{
	clear:both;

	.spacer{
		padding-top:15px;
	}
}

.basket-total .promotion .info {
	padding-left:8px;
	width:168px;
	float:left;
}

.checkout-button {
    float: right;
    clear: both;
    padding: 0 0 10px;

	a.btnmccpstd {
	    padding: 0 0 0 0 !important;
	}
}

/* TOTALS BLOCK */
span.highlighted,
span.highlighted-item {
    color:red;
}

fieldset h2{
	font-size:12px;
	text-align:left;	
	height:15px;
	padding-bottom: 12px;	
}

.total-summary {
	
	border:1px solid #e6e7e8;
	overflow:auto;
	margin:0 0 16px;
	
	h2{
		padding: 6px 0 16px 0;
		font-size:12px;
	}

	ul.pricing {

		li  {
		    clear:both;  
		    margin-bottom: 16px;
		    overflow:auto;

		    p {

	    	    float:right;   
			    width:30%;    
			    text-align:right;
		    }

			p.label{
			    float:left;  
			    width:70%; 
			    text-align:left;     
			}
		}

		li.balance p{
		    font-weight:bold;
		    font-size:14px;
		    padding:18px 0 0px 0;
		}

		li.order-total{
			font-weight:bold;
		}

		li.clearhr{
			padding-top:1px;
			line-height:1px;
			font-size:1px;
			padding-bottom:1px;
		}
	}

	.btncalculate{
		float:left;
		padding-left:10px;
	}

	.small{
	    font-size:11px;    
	}

	div {

		&.small{
		    font-size:11px;
		    padding-top:2px;
		}
	}

	select {
	    font-size: 11px;
	}
}

.order-total-text{
    margin-bottom:7px;
    position:relative;

	span, 
	a {
	    position:relative;
	    z-index:200;
	} 
}

.btn-calculate{
	padding: 1px 0 6px 10px;	
	float:left;

	.mccpsmall{
		width:80px !important;	
	}
}

.chkout_right {

	img.expandlogo{
		width:16px;
		margin-top:7px;
		margin-right:8px;
		padding:0!important;
		cursor:pointer;
	}
}

#contentright1 .standardblock h2 a {
	font-size:11px;
}

/* SHIPHEAD */
.shiphead {
    background: #e5e5e5;
    border: solid 1px #ccc;
    border-bottom: none;
    padding: 7px 5px 8px 9px;
    margin-top: 9px;
    line-height: 18px;
    overflow: auto;
    height: 100%;

    select {
        height: 20px;
    }

    h3 {
        font-size: 16px;
        font-weight: bold;
        margin: 4px 0;
        padding: 0;
    }

    h3 + p {
        clear: both;
        display: block;
    }

    .spacer {
        width: 1px;
        height: 13px;
        background: #999;
        margin: 0 9px 0 12px;
    }

    ul {
        display: block;
    }

    ul.info {

        li {
            padding-left: 10px;
            display: inline;
            background: url(/images/common/backgrounds/shiphead_divider.gif) no-repeat 4px 2px;
            font-weight: normal;
            vertical-align: middle;
        }

        li .ddl {
            vertical-align: middle;
            font-size: 11px;
        }
    }

    ul.link {

        li.tracking {
            padding: 0;
            margin: 4px 0 0 8px;
            display: block;
            border: none;
        }

        li.tracking:hover {
            text-decoration: none;
        }

        li.order-receipt {
            padding-left: 8px;
            display: inline;
            font-size: 11px;
            color: #003399;
        }

            li.order-receipt a {
                padding: 2px 0 2px 20px;
                background: url('/images/common/pictures/logo_pdf.gif') no-repeat;
                font-weight: normal;
            }

        a {
            font-size: 11px;
            color: #003399;
        }
    }

        ul.multi-line {
            clear: both;
        }

    div.informations {
        float: left;
        padding: 0 0 0 2px;
    }

    div.clear {
        height: 0px;
    }

    .link {
        margin-top: 4px;
    }

    .receipt input {
        background: #ffffff url("/images/common/pictures/logo_pdf.gif") no-repeat scroll 8px 4px;
        padding: 4px 10px 4px 26px;
        border: 1px solid #c7c8ca;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
    }

    .track {
        font-weight: normal;
    }

    .tracking-code {
        margin: 0 8px 0 0;
    }

}

.order-complete p.small{
    font-size:11px;
    padding:0 !important;
}

/* ADD PROMOCODES */
#leftcolpromo, 
#leftcolcheckorderstatus {
		width:740px;
	}


.addpromocodes p{
	padding:5px 0 5px 0;
}

.addpromocodes #contentblock{
	padding:0 0 9px 10px !important;
}

.editpromocodes input{
	margin:3px 0 4px 0px;
}

/* VIEW PROMOCODES */
table.viewpromocodes{
	border:solid 1px #ccc;	
	width:100%;
	background:#fff;

	caption h2{
		margin:6px 0 0 9px;
		font-size:16px;
	}

	th {
		font-size:12px;
		font-weight:bold;
		padding:5px 7px 6px 8px;
		border-left:solid 1px #fff;
		border-right:solid 1px #ccc;
	}
	
	th.first{
		border-left:none !important;
		vertical-align:top;
		text-align: center;
	}

	th.last{
		border-right:none !important;		
	}

	tr td{
		border-top:solid 1px #ccc;
		padding:8px;
		vertical-align:top;

		&.availability{	
			width:120px;
		}
		
		&.availability a{	
			margin-left:16px;	
		}

		&.total{	
			width:103px;	
		}
	}

	&.child td {
		border-top:none;
	}

	caption {
		height:33px;
		background:#e5e5e5;
		border:solid 1px #ccc;
		border-bottom:none;
	}
}

.addpromocodes table.viewpromocodes th.first{
    text-align:left;
}

.viewpromocodes img.thumb{
	float:left;
	margin:6px;
}

/* ORDER HISTORY BLOCK*/
.search-group{
	padding-bottom:10px;
	overflow:auto;

	label{
		font-weight:bold;
	}

	.line{
		float:left;
		padding-right:10px;
	}


	.mccpblue{
		display:inline;
	}

	.mccpmain{
		margin-top:-3px;
	}

	.go{
		padding:1px 10px 2px!important;
	}
}

.order-history .search-group{
	padding-left:10px;
	float:left;
	position:relative;

	&.first {
		padding-left: 0;
	}
}

.order-history table.viewpromocodes th.first{
	text-align:left;
}

/* CREDIT CARD UC SECTION */
.ccv{
	margin-top: 10px;

	img{
		float: left; 
		margin: 3px 10px 0 0;
	}
}

.standardblock {

	dl.ccv2 {
		clear:none;
		font-size:11px;
	
		dt{
			width:auto;
			display:block;
			clear:both;
		}

		dd{
			margin:0;
			font-weight:normal;	
			display:block;
			clear:both;
		}
	}
}

/*Credit Card Informations Zone*/
.credit-card{
    position:relative;

    div.chkbox{
		margin-bottom:0;
		padding-bottom:0;
	}
}

.test3 {
	position:relative;
}

.visaimageholder {       
    position:absolute;
    right:9px;    
    margin-top:2px;   
}

.credit-card-infos{
	display:block;
	line-height:0;
	font-size:0;
	padding-bottom:0;

	ol{
	    float:none;
	    width:340px;  
	    clear:both;
	    padding-bottom:0;  
	}

	ol li{
	    float:none;
	    margin-bottom:5px;
	    display:block;
	    clear:both;  
	    line-height:0;
		font-size:0;  
	}	
	
	ol li label,
	ol li a {
	    float:none;    
	    clear:both;  
	    padding-bottom:2px;
	    line-height:12px;
		font-size:12px;  
	}
		
	ol li ol li{  
	   margin-bottom:0; 
	   margin-right:5px;
	   float:left;
	   clear:none;
	}
}

.cid {
    float: left;
    margin-right: 5px;
}

.chkout-fieldbox {

	ol li.limit {
	    position:relative;    
	}

	ol li img.verified-visa {
	    position:absolute;
	    right:0;
	}
}

* html .chkout-fieldbox ol li img.verified-visa{
    position:absolute;
    right:10px;
    margin-top:7px;
}

/*Credit Block*/
.credit-block{
	min-height:205px !important;
	overflow:auto;
	width:220px;
	float:left;
	position:relative;
	margin-right:10px !important;

	.content{
		overflow:auto;
		min-height:145px;
	}

	.button{
		overflow:auto;
		padding:0 !important;
		margin:0 !important;
	}

	ul.std-bottomspace li{
	    margin-bottom: 2px;
	}
	
	.std-space{
	    margin-bottom: 2px;
	}
}
/* ORDER CHANGE CONFIRMATION SECTION */
.change-confirmation {

	.titlelink{
		display:none;
	}
}

/* LOYALTY PROGRAM */
.loyalty-program-area{
	position:relative;

	.chkbox{
	    margin:0;
	    padding-top:6px;
	    padding-bottom:6px;
	    position:static;
	    width: 210px;
	}

	.button-left{
	    padding:0 6px 10px 0;
	}

	img.rewardcard{
	    float:right;
	}
}

/*Your Info Fix*/
.your-info {

	.txtbox.large3{
		width:230px;
	}
}

/* RETURN QUALIFICATION FORM */
.optbox {

	input{
	    padding:0;
	    margin:0 3px 0 0;
	    vertical-align:middle;
	    height:19px;
	    width:15px;
	}

	label{
	   display:inline;
	   font-weight:normal !important;
	}
}

/* CHECK ORDER STATUS */
.checkorderstatus {

	h1{
		padding-top:10px;
	}

	p, 
	.marketing{
		padding-bottom:10px;
	}

	.chkout-fieldbox{
		width:345px;
	}

	.standardblock p{
		padding-top:2px;
	}
}

/* Change Shipping Section */

.hover-list {

	h2 {
		margin: 0 0 16px;
	}

	.form-standard-nested {
		&:extend(.form-standard-nested all);
		
		li {
			margin: 0 0 10px;

			&.link p{
			float: left;
			width: 175px;
			}

			&.link input[type="text"] {
				width: 315px;
			}

			&.link label {width: auto;}

			&.link span a {
				display: block;
				margin: 8px 0 0 0;
			}

			.address-tips-help {
				font-size: 11px;
			}
		}
	}
}


/* Change Payment Information */

.hover-list.payment-details {

	margin: 0 0 16px;

	.hdr {margin: 0 0 16px 8px; 
	
		>span {
			margin: 0 8px 0 0;	
		}

		.inline-group {
			input, label {
				display: inline-block;
			}
			input {
				margin: 0 8px 0 0;
			}

			label {
				font-weight: bold;
			}
		}
	}

	.payment-section {
		.label {display: none;}

		padding: 0 0 0 160px;
		position: relative;

		.ccdImage {
			position: absolute;
			left: 32px;
		}

		.payment-type {font-weight: bold;}
	}

	/** Override standardblock styling **/

	.standardblock {
		background: none;
		border: none;
		padding: 0;
		margin: 0 0 0 32px;
	}

	.std-bottomspace {
		margin: 0 0 0 32px;
	}

	ol li {
		padding: 0;
		border: none;
	}

	li {

		height: auto;
		
		&.link p{
		float: left;
		width: 175px;
		}

		&.link input[type="text"] {
			width: 315px;
		}

		&.link label {width: auto;}

		&.link span a {
			display: block;
			margin: 8px 0 0 0;
		}

		.address-tips-help {
			font-size: 11px;
		}
	}

	.chkbox {
		background: none;
		border: none;
		padding: 0;
		margin: 0;
		width: 100%;

		input {
			float: left;
		}
	}

	.form-credit-card {

		border-bottom: 1px dotted #9d9fa2;
		padding: 0;
		margin: 0 0 16px;

		.title {
			background: url('/assets/backgrounds/payment-options.png') no-repeat 0 32px;
			font-weight: bold;
			padding: 0 0 60px;
			margin: 0 0 8px;
		}
	}
}

.form-giftcard {

	input {
		margin: 0 0 8px;
	}

	th {
		font-weight: normal;
		padding: 0 4px 8px 0;
		text-align: left;
	}
}

table {

	&.info-credit-block {

		td {	
			width:275px;
			overflow:auto;	
			margin-bottom:10px !important;
			vertical-align:top;
		
			div {

				&.first{
					margin-right:10px !important;
					min-height:205px!important;
				}

				&.chkout-fieldbox{
					min-height:205px!important;	

					dl { 

						&.inner-padding {
							padding-left:0 !important;

							dt{
								display:none !important; 		
							}

							dd{
								margin-left:0 !important;	
							}			
						}
					}
				}
			}
		}
	}
}

.changeaddress-block{

	width:345px;
	float:left;
	margin:0 10px 10px 0 !important;

	.content{
		min-height:122px;

		.edit{
		    margin-top:10px;
		}
	}
}

.changeaddress-block-right{
    margin-right:0 !important;
}

/* DELIVERY OPTIONS */

#delivery-method {

	input{
	    padding:0;
	    margin: 0 4px 0 0;
	    vertical-align:middle;
	    height: 13px;
	    width: 13px;
	}
}

.delivery-options {
	margin-bottom:5px;

	.pickup-warning {
	    padding-left: 16px;
	}

	input {
	    padding:0;
	    margin: 0 4px 0 0;
	    vertical-align:middle;
	    height: 13px;
	    width: 13px;
	}

	label {
		font-weight:bold;
		padding:0 5px 0 0;
		display:inline;
	}

	a {
		font-size:11px;
	}

	ol {	
		margin:0;
		padding:10px 0 0 16px;		
	
		li {		
			float:left;
			padding:0 9px 0 0;
			margin:0;
		
			h3 {		
				padding:0 0 3px 0;
			}
		}

		&.pickup{		
			padding:0;
			margin:0;

			li{
				float:none;	
				padding:0px 0 0 16px;
			}

			select{		
				margin: 0 5px 0 5px;
				font-size: 11px;
			}

			.available{
			    font-weight:bold;
			    display:inline;
			}
		}
	}

	div {

		&.lnk-editadd{	
			padding:7px 0 0 16px;
		}
	}

	.pickup {

		div {

			&.lnk-store{
			    padding-left:0px;
			    margin-top:5px;
			}

			&.lnk-editadd {

				a {	
					margin-right:5px;
				}
			}
		}
	}

	.disabled{		
		color:#ccc;	
	}
}

.sm-text{
    font-size:11px;
} 

#delivery-method {
	ol {

		.help-link{
		    font-size:11px;
		}
	}
} 

table {

	&.shipping-and-pickup {

		tr {

			.help-link{
			    font-size:11px;
			} 
		}
	}

	&.shipping-and-pickup {

		.qty {

			a{
			    font-size:11px;
			}
		}
	}
}

.delivery-options {

	.ship {

		select {

			&.large{
				width:273px;
			}
		}
	}

	li {

		&.ship{
			display:inline;
			margin-right:10px;
		
			.ddl{
				font-size:11px;
			}
		}
	}
}
/* CART ITEM DELIVERY METHOD */
#delivery-method {
	clear: both;
	zoom: 1; /* for ie */

	label{
		display:inline;
		font-weight:bold;
		padding:0 5px 0 0;
	}

	ol {
	
		padding: 10px 0 0 0;		

		li{
			padding: 2px 9px 2px 0;
		
			&.availability {
			    margin-left: 17px;
			}
		}
	}
}

/* ORDER DETAILS */

.order-gen-info {

	font-size: 14px;
	margin: 0 0 16px;

	.title { 
		display: inline-block;
		min-width: 100px;
		
		+ span {
			font-weight: bold;
		}
	}

	.tracking,
	.tracking-status  {
		display: inline-block;
	}

	.tracking {
		min-width: 100px;
		padding: 0 8px 0 0;
	}

	.tracking-status {
		font-weight: bold;
	}
}

dl {

	&.order{
		clear:both;
		padding: 9px 0 15px 0;
		
		dt {
			font-size:14px;
			font-weight:normal;
			float:left;	
			padding:5px 12px 0 0;
			min-width: 100px;
		}

		dd{
			font-size:14px;
			font-weight: bold;
			padding:5px 0 0 0;

			&.strg{
				font-size:14px;
				font-weight:bold;
			}
		}
	}
}

/** Content Blocks -- used in Order Profile, Review submit on Checkout **/

.content-block {

	background: @tableBackgroundHover;
	padding: 16px;
	.border-radius(6px);

	.content-header {
		background: @tableHeaderBG;
		margin: -16px -16px 16px;
		min-height: 20px;
		padding: 16px;
		.border-radiuses(6px, 0, 0, 6px);
	}

	.content-title {
		float: left;
		font-size: 18px;
		font-weight: bold;
	}

	.title {
		font-size: 18px;
		font-weight: bold;
	}

	.divider {
		border-bottom: 1px dotted @tableBorderDivider;
		padding-bottom: 18px;
		margin-bottom: 18px;
	}
	
	.header-link {
		font-size: 14px;
		float: right;
	}

	.shipment-address {
		font-size: 14px;
		line-height: 20px;
		margin: 0 0 16px;
	}

	.standardblock {
		background: @tableBackgroundHover;
	}
}

.payment-block {
	margin: 0 0 10px;

	.label,
	.info {
		display: inline-block;
		vertical-align: top;
	}
	
	.label {
		width: 30%;
	}

	.payment-info {
		padding: 0 0 16px;
	}

	.payment-section {
		border-bottom: 1px solid #ccc;
		margin: 0 0 16px;
		padding: 0 0 16px;
	}

	.payment-type {
		font-weight: bold;
		font-size: 14px;
		text-transform: uppercase;
	}

	.promo-codes {
		a {display: none;} /*Hiding the help topic link - not as per mock-up*/
	}

	&.order-change,
	&.order-details {
		img {display: none;}
	}
}

.button-right {

	.order{
	    clear:none !important;
	    padding:0 0 10px 6px;
	    margin-top:-30px !important;
	}
}

.viewpromocodes {

	.qty{
		vertical-align:top;
		text-align:center;
	}
}

table {

	&.orderdetails-shipments {

		tr {

			td {

				&.qty{	
					width:56px;	
				}

				&.total{	
					width:103px;	
				}
			}
		}
	}

	&.review-and-payment,
	&.shipping-and-pickup {

		tr {

			td {

				&.qty{	
					width:58px;
				}

				&.total{	
					width:106px;	
				}
			}
		}
	}

	&.shipping-and-pickup {

		tr {

			td {

				&.availability{
					width:122px;
				}
			}

			img {

				&.thumb{
					margin:0 9px 0 0;
				}
			}
		}
	}
}

.addpromocodes {

	.standardblock{
	    padding-left:9px;

	    h2{
		    padding-bottom:13px;
		}
	}
}

#promotional-box {

	.link{
	    padding:6px 0;
	}

	.button{
	    padding:0 6px 10px 0;
	}
}

/* AGE VERIFICATION */

.age-verification {

    background: #FFF url('../images/common/checkout/bg_inner_1.png') left top no-repeat ;
    padding-top: 5px;
    margin: 0 0 10px 0;
    
	.abox {
	    padding:0px 15px 7px 15px;
	    min-height:10px;	    
	    border-left: 1px solid #E5E5E5;
	    border-right: 1px solid #E5E5E5;
	    margin: 14px 0 0 0;
	    overflow: hidden;
	    width: auto;
	    background: whitesmoke;

	    .product {
		    float:left;
		    width:420px;
		    margin: 0 0 5px 0;    

		    .image {
			    float:left;
			    width:120px;
			    height: 120px;
			    background: #FFF;
			    text-align:center;
			    -moz-box-shadow: 1px 1px 3px #c7c8ca;
				-webkit-box-shadow: 1px 1px 3px #c7c8ca;
				box-shadow: 1px 1px 3px #c7c8ca;

				img {

					padding: 10px;
				}
			}

			.description {
			   float:left;
			   width:250px;
			   padding:0 0 0 15px;
			   font-size:14px;
			   
			   h4 {
				margin-bottom: 2px;
			   }
			}
		}
		
		table {
				tr {
					td {
					
						padding-bottom: 10px !important;
					}
				}
		}
		
		div {

			&.hr{
			    margin-bottom:12px;
			}
		}
	}

	.clear{
	    margin: 0px;
	}

	hr {

		&.break {

			margin: 0px 15px;			
		}
	}

	.instructions {
	    padding:0 0 0 9px;
	}
	
	.terms-and-contions {
	    padding: 0px 15px;
	    width: auto;
	    background: #FFF url('../images/common/checkout/bg_inner_1.png') left bottom no-repeat ;
	    
		.alert.tc-alert{
			
			border: none;
			background-color: transparent;
			background-position: 6px -396px;
			padding: 15px 15px 15px 48px;
			margin-bottom: 0px;
		}
	}
}

.age-verification-buttons {

	text-align: center;
	float: right;

	.mccpblue {

		margin: 0px;

		.mccpmain,
		.mccpleft,
		.mccpright {

			float: none;
			height: auto;
			width: auto;
			background: none;
		}
	}

	.return-to-cart,
	.proceed-to-checkout {

		display: inline;
	}

	.return-to-cart {

		margin: 0 8px 0 0;
	}

	.rightarrow .btnmccpstd {

		padding: 0px;
	}
}

.checkout-master {

	.page-message-age-verification {
		
		width: auto;
		margin-left: 15px;

		p {
		
			font-size: 14px;
			margin: 0 0 15px 0;	
		}
	}
}

/** Checkout master **/

.checkout-master {

	h1 {
		
		font-size: 26px; 
		padding: 0 0 8px;		
	}
}

/** MCCP Button Styling Hack **/
.btn-wrapper {

	.btnmccpstd {

		cursor: pointer;
		font-weight: bold !important;
		font-size: 100%;
		background: transparent;
		border: 0;
		padding: inherit !important;
		overflow: visible;
		line-height: inherit;
		color: #FFF !important;
		text-align: center;
		display: block;
	}
}

/*PRINTABLE CART*/
.items-count{
	float:left;
}

.sub-header{
    clear:both;
    padding-bottom:20px;
    float:left;
    width:100%;
}

.line-items{
	padding:0 0 5px 0;
	clear:both;
}

.prnt-sku-item{
	border:1px solid #ccc;
	padding:15px;
	margin-bottom:10px;
}

.prnt-sku{
	padding-bottom:2px;

	.price{
		font-weight:bold;
		font-size:13px;
	}
}

.description-items{	
	display:table;	

	li {
		display:block;
		float:left;
		width:33%;

		&.qty{
			text-align:left;
		}

		&.unit-price{
			text-align:center;
		}

		&.total-price{
			text-align:right;
			font-size:14px;
			font-weight:bold;
		}
	}
}

.surcharge {

	li{
		display:block;
		float:left;
		width:33%;

		&.unit-price{
		    text-align:left;
		}

		&.total-price{
		    text-align:right;
		}
	}
}

.lnk-print-bottom{
	float:right;
	margin:0 0 0 30px;
	display:block;
}

/* REVIEW & PAYMENT */
.address-header{	
	font-size:14px; 
	font-weight:bold; 
	padding:0; 
	padding-top:5px !important;
}

/* WARRANTY */
.warranty {

	.pspprice{
		padding-right:15px;
		font-size:11px;
	}
}

/* GIFT CARD SECTION */
.giftcard-text{
	width:550px;
	float:left;
}

.giftcard-area {
    margin-top:5px;

	.lnk-remove{
		margin-left:10px;
	}
}

#change-payment {

	.giftcard-area {

		.inner-padding{
		    padding:0 !important;
		}
	}
}

img {

	&.checkgiftcard{
		float:right; 
		margin-bottom:10px;
	}

	&.gift{
		padding: 3px 0 6px 0;
	}
}

/* CHECK ORDER STATUS SECTION */
#check-order-status {

	.signinblock, 
	#check-order-status-uc{
		min-height:255px;
	}

	#check-order-status-uc{
		float:left;
	}

	#sign-in, 
	#check-order-status-uc{
	    width:345px;
	}
}
#check-order-status {

	.mcf-signin{

		#sign-in, 
		#check-order-status-uc{
			width:452px;
			min-height: 0;
		}
		
		#sign-in {
			float: left;
			margin: 0 16px 0 0;
			
			.std-half-cln-wrapper {
			
				position: relative;
				min-height: 308px;				
			}
		}
	}
}
/* ACCESSORIES ITEM */
.accessories-item{
	width:33%;
	float:left;

	.image{
		float:left;
		padding-right: 8px;
	}

	.description{
		float:left; 
		width: 140px;
	}
}

/* CHANGE PAYMENT INFOS SECTION*/
.lnk-edit{
	padding-top:10px;
}

img {

	&.rewardcard{
		position:absolute; 
		right:2px; 
		top:4px;
	}
}

/*/////////////////////////////////////////////////////////////*/
/*////////////////////////// PROFILE //////////////////////////*/
/*/////////////////////////////////////////////////////////////*/

/*CHECK-ON-ORDER - ACCOUNT SUMMARY*/
.check-on-order {	
	margin-bottom: 9px;
	padding-left: 15px;
	padding-right: 15px;

	.image{
		width:300px;
		float:left;	

		img{
			vertical-align:bottom;
		}
	}


	.content {

		h2{
			padding-top:5px;
			font-size:16px;
		}
	
		.input {

			select, 
			img {

				vertical-align:middle;
			}
		}

		ul{
			margin:15px 0 10px 0;
		}
	}
}

.myaccountblock{
	width:220px;
	float:left;

	ul {

		&.stdlist{
			margin:0 0 10px 0;
		}
	}

	label{
		margin:0 0 5px 0;
	}

	p{
		margin-bottom:10px;
	}

	a{
		font-size:12px;
	}

	img {

		&.rewardzone{
			padding:0 0 10px 0;
		}
	}
}

/* CREATE ACCOUNT */
.chkout-fieldbox {

	.rewardzone-left{
		float:left;
		margin-right:10px;
	
		p {

			&.information{
				padding-bottom:14px;
			}
		}
	}

	.rewardzone-right{
		float:right;
	}
}

/* SIGN IN */
.signinblock, 
.rewardzoneblock{
	float:left;		
	width:345px;
	
	&.std-half-cln {
	
		width: 452px;
		margin: 0 16px 0 0;
	}
}


.createaccountblock {
	
	&.std-half-cln {
	
		width: 452px;
		float: left;
		
		.std-half-cln-wrapper {
		
			min-height: 235px;
			position: relative;
			
			.mccp-css {
			
				position: absolute;
				bottom: 8px;				
			}
		}
		
		&:extend(.mccp-css all);
	}
}
/* button related -------------------------------------------------------------- */
.std-half-cln {

	.btn-wrapper {
		display: inline-block; /* clear fix implemented */
		display: block;
		zoom: 1;
		overflow: hidden;
		margin: 0 0 10px;
		text-align: center;
	    
		span {
			float: none;
			
			img {
				margin: 6px 6px 0 0; 			
			}
		}
	}
	
	p {
	
		margin: 1em 0;
	}
}
.signinblock {

	ol{	
		width:330px;		
	
		li{	
			padding: 0 0 6px 0;

			label{
				display:block;
				float:left;
				padding:0;
				font-weight:bold;
			}

			a{	
				font-size:11px;
				padding:0 0 0 5px;	
				font-weight:normal;
			}

			p{
				margin:0;
				padding:0;
			}
		}
	}

	ul {

		&.bullet-list {

			li{
			    font-weight:normal;
			}
		}
	}

	.button-left{
	    padding-bottom:0;
	}
}

/* REWARD ZONE */

.rewardzoneblock{
	min-height:155px;
	width:345px;
	float:left;

	label{
		padding:10px 0 0 0;
	}

	ul {

		&.stdlist {

			li{
				padding-bottom:4px;
			}
			
			a{
				font-size:12px;	
			}
		}
	}
}

/* COMMUNICATION PREFERENCES */
.com-pref {

	div {

		&.standardblock {

			&.half{
			    float:left;
			    width:345px;
			    margin-right:10px;
			}

			fieldset {

				&.standardblock{
				    background:none;
				    border:0px;
				    margin:0px;
				    padding:0px;
				}
			}

			ol {

				&.two-col {

					li{	
						width:165px !important;
						margin-right:5px;
						float:left;
						padding-bottom:0;
					}
				}

				li{		
					padding-bottom:6px;
					line-height:18px;
					font-weight:normal;

					label {
						display:inline;
						font-weight:normal !important;	
						line-height:18px;	
					}

					ol {

						li{	
							margin-left:20px;
							display:inline;	
						}
					}
				}
			}
				
			ul {

				li {

					label{			
						display:inline;
						font-weight:normal !important;	
						line-height:18px;
					}
				}
			}

			input{
			    padding:0;
			    margin:0 3px 0 0;
			    vertical-align:middle;
			    height:13px;
			    width:13px;
			}
		}
	}

	#box1 {

		label{
		    margin-bottom:3px;
		}
	}

	.full {

		ol {

			li {

				span {

					label{
						margin-right:16px;
					}

					input[type="radio"]{
						margin-left:20px;
					}
				}
			}
		}
	}
}

.processing {
    padding-top:80px;
    min-height:300px;
}
/* see all accessories page -------------------------------------- */
.all-accessories {

	.skublocklist {

		.infos {
		    width: 394px;
		}
	}
}

/* wishlist page starts ---------------------------------------------- */
.wishlist {

	table {
	    
	    width: 100%;
	
		.infos {
		    width: 388px !important;
		}

		.rating {

			.shipping {
			    width: 546px !important;
			}
		}
	}

	.itemslisting {
	    padding: 0px 0px 0px 0px;
	    border-style: none;
	}
}

/* wishlist page ends ------------------------------------------------ */

/* price watcher page starts ----------------------------------------- */
.pricewatcher {
    padding: 0px 0px 0px 0px;
    border-style: none;

	table {

		.infos {
		    width: 223px;
		}

		.rating {

			.shipping {
			    width: 546px !important;
			    margin-right: 0px;
			}
		}
	}

	.skublocklist {
	    width: 100%;

		.visual {
		    padding-left: 0;
		    width: 100px;
		}

		.rating {

			.customer-rating {
			    padding-left: 0;
			}
		}
	}
}

.setprice-box {
    padding: 5px 5px 10px 5px;
    overflow: hidden;
	
	.targetprice {
	    clear: both;
	    padding: 2px 0 0 19px;

	    .mccpsmall {
		    margin: 3px 0 0 3px;
		    float: left;
		    overflow: visible !important;
		}

		h3 {
		    float: left;
		    font-size: 14px;
		    font-weight: bold;
		    margin: 2px 6px 0 0;
		
			&.yellow {
			    background: #ffff00;
			}
		}
	}

	input {
	    position: relative;
	    float: left;
	    margin: 0 5px 0 0;
	    top: 2px;
	    font-weight: bold !important;
	    font-size: 14px;
	}

	input[type="radio"] {
	    width: 13px;
	    height: 13px;
	    float: left;
	}

	p {

		&.radiolabel {
		    float: left;
		    max-width: 115px;
		}
	}

	label {
	    position: relative;
	    float: left;
	    margin: 0;
	    width: 107px;
	}

	ol {

		li {
		    clear: both;
		    padding-bottom: 4px;
		}
	}

	.mccpsmall {

		input {
		    top: 0;
		    margin: 0;
		}
	}
}

/* price watcher page ends ------------------------------------------- */

/* ADDRESS / CREDIT CARD MANAGER */
.credit-block {

	.button-bottompage{

   		position: absolute;
	    bottom: 10px;	
	}

	ul{
		margin-bottom: 10px;
	}

	.hdr {

		input {
		    margin-top: 1px;
		}
	}
}

.address-block {
    min-height: 155px !important;
    overflow: auto;
    width: 220px;
    float: left;
    margin-right: 10px !important;
    position: relative;

	.button-bottompage {
	    position: absolute;
	    bottom: 10px;
	}

	.content {
	    overflow: auto;
	    min-height: 115px;
	}

	.button {
	    overflow: auto;
	    padding: 0 !important;
	    margin: 0 !important;
	}
	
	label {
	    display: block;
	}

	ul {
	    margin-bottom: 10px;
	}

	.hdr {

		input {
		    margin-top: 1px;
		}
	}
}
/* ORDER HISTORY */
.chkout-fieldbox {

	ol {

		li {

			ol {

				li {

					&.btn {
					    margin: 14px 12px 0 0;
					}
				}
			}
		}
	}
}

/* REVIEWS AND PAYMENT */
img {

	&.imgGiftCardsLoading {
	    display:none;
	    margin-left:10px;
	    position:relative;
	    top:1px;
	}
}

/* check gift card balance page ------------------------------------------ */
.check-giftcard-header {

	.num-digits {
	    width: 264px;
	}

	.security-code {
	    width: 104px;
	}
}

.check-giftcard {

	.large3 {
	    width: 260px;
	}

	.medium {
	    width: 100px;
	}
}

.ajax__tab_uitabview-theme {

	.ajax__tab_header {    
	    font-family:arial,helvetica,clean,sans-serif;
	    font-size:small;        
	    margin:0px 0px 0px 400px;

	    .ajax__tab_outer {
		    background:url(images/common/backgrounds/bg-grey-10white.gif) #D3D3D3 repeat-x;
		    margin:0px 0.16em 0px 0px;    
		    padding:1px 1px 1px 0px;
		    vertical-align:bottom;
		    border:solid 1px #a3a3a3;
		    border-bottom-width:0px;    
		}

		.ajax__tab_tab {       
		    color:#000;
		    padding:0.35em 0.75em; 
		    margin-right:0.01em;
		}
	}

	.ajax__tab_hover {

		.ajax__tab_outer {
		    background: url(images/common/backgrounds/bg-grey-10white.gif) #A9A9A9 repeat-x left -1300px;
		    font-family:verdana,tahoma,helvetica;
		    font-size:10pt;
		}
	}

	.ajax__tab_active {

		.ajax__tab_tab {
		    color:#000;
		}

		.ajax__tab_outer {
		    background:url(images/common/backgrounds/bg-grey-10white.gif) #A9A9A9 repeat-x left -1400px;
		    font-family:verdana,tahoma,helvetica;
		    font-size:10pt;   
		}
	}

	.ajax__tab_body {
	    font-family:verdana,tahoma,helvetica;
	    font-size:10pt;    
	    padding:0.25em 0.5em;
	    background-color:#FFFFF0;    
	    border:solid 1px #808080;
	    border-top:solid 5px #A9A9A9;
	    width:625px;
	}
}

.panel-estimate {
    background-color:#DCDCDC;
    border:solid 1px #a3a3a3;
}


/* Kiosk Sign-in Page */

#kiosk-body {

	div {

		margin: 0 0 10px 0;
	}

	input[type="checkbox"] {

		float: left;
		margin: 0 5px 0 0;
	}

	.kiosk-signin-entry {

		input[type="text"], 
		input[type="password"] {

	        padding: 5px;
	        background-color: #fff;
	        cursor: text;
	        color: #4d4d4f;
	        border: 1px solid #c7c8ca;

	        -webkit-border-radius: 2px;
	        -moz-border-radius: 2px;
	        border-radius: 2px;

			-webkit-box-shadow: inset 1px 1px 7px -2px #9d9fa2;
			box-shadow: inset 1px 1px 7px -2px #9d9fa2;
		}

		label {

			width: 120px;
			float: left;
			padding: 6px 0px;
		}
	}

	.btn-wrapper {

		text-align: center;
		float: left;

		img {

			float: left;
			margin: 6px 4px 0 0px;
		}

		.mccpblue {

			margin: 0px;

			.mccpmain,
			.mccpleft,
			.mccpright {

				float: none;
				height: auto;
				width: auto;
				background: none;

				a {

					vertical-align: top;
				}
			}
		}
	}

	.outOfOrderCheckBox {
	
		label {

			vertical-align: top;
			padding-top: 0px;
		}
	}
}

/* css fix for order details */

.order-details h2.indent,
.order-details .orderbox,
.order-details .standardblock p.align-right,
.order-details #ctl00_CP_RepShipment_ctl00_UcOrderDetailLineItem_GrdOrderDetailLineItem_ctl02_DvIndividualPricePnl,
.order-details #contentright1 dl.inner-padding.line-spacing img,
.order-details #contentright1 dl.inner-padding.line-spacing p strong {
    display: none;
}

.order-details #contentright1 span#ctl00_CP_OrderGiftCards1_LblNA,
.order-details #contentright1 span#ctl00_CP_CartRedeemPromotionCode_LblNA,
.order-details #contentright1 span#ctl00_CP_UcLoyaltyProgram_LblMemberId {
    font-weight: normal;
}

/*end*/

.order-details {

	font-size: 14px;

	table {font-size: 12px;}

	.button-right {

		&.notop {

			font-size: 14px;
			font-weight: bold;
		}
	}

	dl.order {
		margin: 0 0 8px;
	}
}

#contentleft1 {
	
	.btn-wrapper {
	
		.btn-primary {
		
			min-width: auto;
			
			&:hover {
				
				text-decoration: none;
				color: #FFF;
			}
		}

		&.link-wrapper {

			.btn-primary {

				float: right;
			}

			.lnkbackto {

				clear: none;
				float: left;
			}
		}
	}
}

#contentright1 {

	.btn-wrapper {

		&.change-confirmation {

			width: 100%;
			
			.btn-secondary {

				float: left;
			}

			.btn-primary {

				float: right;
				min-width: 160px;
			}
		}
	}
}

/* Captcha - conversion from inline to less - Veeresh */

#DivcaptchaMessage {
	
	display: none;
	
	.LblCaptchaMessage {
		
		margin: 7px 0 10px 1px; 
		padding-right: 0 !important; 
		font-weight: bold; 
		clear: both; 
		display: block; 
		overflow: hidden;	
		color: #ff0000 !important;
	}
}




/* ----------------------------------------------------------------------- */
/* global class additions for check order status fix---------------------- */
/* ----------------------------------------------------------------------- */

.margin-left { margin-left: 10px; }
.padding-none { padding: 0 !important; }

/*  PayPal related updates 	- Order Details */

.pnlPayPalInfo {
	
	.inner-padding {
		
		dd {
			
			p {
				
				padding: 0 0 8px 0;
			}
		}
	}
}

/** Shared checkout-fieldset, copied from checkout.less **/

.checkout-fieldset {

	.inline-form * {
		display: inline;
		width: auto;
	}

	.inline-form {
		label {
			float: left;
			margin: 0 0 8px 0;
			clear: right;
		}

		.tiny-txt  {

			clear: left;
		}
	}

	.returning-customers  {

		.inline-form {
			
			label {
				width:95%;

				label {

					margin: 0 0 10px;
				}
			}
		}

	}

	li {

		position: relative; 
		margin: 0 0 10px;
		display: block;
		clear: both;
		height: 29px;

		.page-signin & {

			height: auto;
		}

		span {

			&.address-tips-help{
				position: absolute;
			    font-size: 11px;
			    left: 60px;
			    top: 8px;
			}
		}

		&:after {

	    	height: 0px;
	    	visibility: hidden;
	    	clear: both;
	    	content: " ";
  	  	}

  	  	.phone-number, 
  	  	.phone-extension {

  	  		display: inline;
  	  	}

  	  	&.payment-credit-cards {

  	  		height: 38px;
  	  	}
	}

	span {
		float: left;
		width: 388px;
		margin: 0;
		position: relative; 
		display: inline-block; /* clear fix is implemented. method 2 not using overflow */
	
		&:after {
			content: " ";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}

		&:last-child:after {
		    display: inline;
		}
	}
}


.checkout-form {
	
	.checkout-fieldset {

		input {

			&.big,
			&.medium,
			&.small{
				float:left;
    			margin-right:5px;
			}
		}

		select{
			float:left;
    		margin-right:5px;
    		height: 25px;
    		padding: 2px 2px 2px 0px;
    		font-size: 14px;
		} 

		.inline-error-icon {
		    margin: 0 4px 2px 0;
		    float: left;
		}
	}

	label {

		em {
		    position: absolute;
		    left: -8px;
		}
	}	

 	.new-billing-address {

 		ul {

 			li {
			    clear: both;
			    margin: 0 0 10px;
			    position: relative;
			    overflow: visible;
			    min-height: 23px;
			}
		}

		label {
		    float:left;
		    display:inline;
		    width:150px;
		    margin:2px 10px 0 0;
		}

		.inline-form {

			label{
			    width:auto;
			    float:none;
			}
		}

		.ddl {

			font-size: 14px;
		}
	}

	.postal-radio {

		input[type="radio"]{
		    float: left;
		    margin: 3px 6px 4px 0;
		}
	}

	&.shipping-method {

		.checkout-fielset {

			li {

				margin: 0 0 12px;
				height: 32px;		
			}
		}
	}
}

/* form ------------------------------------------------------------------- */
.checkout-form {
	font-size: 14px;

	input,
	input[type='text'] {
		padding: 2px;
		height: 23px;
		font-size: 14px;

		&.small {
			width: 40px;
		}

		&.medium {
			width: 180px;
		}

		&.big {
			width: 350px;
		}
	}

	select {
		padding: 2px;
		height: 29px;
		font-size: 14px;
		
		&.medium {
			width: 188px;
		}

		&.big {
			width: 358px;
		}
	}

	input[type=radio], 
	input[type=checkbox] {
		width: 13px;
		height: 13px;
		margin: 4px 6px 4px 0px;
	}

	label  {
		width: 150px;
		float: left;
		display: inline; /* ie6 fix */
		margin: 5px 10px 0 0;
	}

	.ext-label{
	    margin-left: 10px !important;
	    width: auto !important;
	    float:left;
	}

	.ui-radio-head {
		label {
			width: auto;
			margin: 0;
		}
	}
	
	.fr-CA & {

		.checkout-form {
			select {
				&.big {
    				width:320px;
    			}
    		}
		}
	}
}

/* MCCP Button General Fix */

.mccp-css {
	
	.btn-wrapper {

		text-align: center;
		float: left;

		img {

			float: left;
			margin: 6px 4px 0 0px;
		}

		.mccpblue {

			margin: 0px;

			.mccpmain,
			.mccpleft,
			.mccpright {

				float: none;
				height: auto;
				width: auto !important;
				background: none;

				a {

					vertical-align: top;
				}
			}
		}
	}
}