// Best Buy global PDP styling

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";
@import (reference) "components.less";

// + Custom tooltip, specific to PDP for now

// pdp container
// -------------------------
.prod-detail-wrapper {
    .span7 {
        width: 500px;
    }

    .span5 {
        margin-left: 20px;
        width: 400px;
    }
}

.prod-detail-assets .span7 {
    min-height: 500px;
}

.list-sub-text {
    margin: 4px 0 0;

    li {
        border-right: 1px solid #9d9fa2;
        display: inline;
        margin: 0 8px 0;
        padding: 0 6px 0;

        &:last-child {
            border-right: none;
            margin: 0;
            padding: 0;
        }
    }
}

.price-wrapper {
    color: #2E3337;
    line-height: 1.35;
}

.price-onsale,
.prod-saving {
    color: #da1a36;
}

.price-xlarge {
    .prod-price {
        float: none;
        font-family: 'Arial Black', Arial, Helvetica;
        font-size: 27px;
        font-weight: 900;
        padding: 0;
        width: auto;
    }

    & .prod-saving {
        font-weight: bold;
    }
}

.prod-detail-wrapper .value-points {
    border-left: 1px dotted #c7c8ca;
    float: left;
    padding: 0 0 0 15px;
    width: 204px;

    li {
        list-style-type: disc;
        margin: 0 0 6px 15px;
    }
}

.product-image {
    cursor: pointer;
}

.breadcrumb a:visited {
    color: #039;
}

.brand-vendor-wrapper {
    .brand-logo {
        float: left;

        img {
            margin: 0 16px 8px 0;
        }
    }

        .brand-logo img[src='/images/common/pictures/noimage120x40.jpg'] {
            display: none;
        }

    .pdp-brand-store {
        display: inline-block;
        margin: 0 0 10px !important;
    }
}


// ****************************** MOVE THE ABOVE TO SOMEWHERE ELSE *******************

// pdp layout
// ------------------------------

.prod-detail-top {
    border-bottom: 3px solid #999;
    margin-bottom: 20px;
    padding-bottom: 10px;

    .prod-detail-ratings {
        text-align: right;
    }

    .rating-wrapper {
        border-right: 1px solid #999;
        display: inline-block;
        margin: 0 8px 0 0;
        padding: 0 8px 0 0;
    }

    .rating-title {
        display: none;
    }

    .customer-rating, & .rating-num, & .review-wrapper {
        display: inline;
    }

    .customer-rating {
        display: block;
        margin: 0 0 8px;
    }

    .rating-num {
        vertical-align: top;
    }

    .rating-list {
        display: none;
    }

    .review-wrapper {
        display: inline-block;
        margin: 0;
    }

    .rating-score {
        font-weight: bold;
        margin: 0;
        vertical-align: top;
    }

    .review-wrapper .review-num + .review-write {
        display: inline-block;
    }
}

.prod-detail-bot {
    line-height: 1.45;

    .availability-status {
        display: block;
        text-transform: none;
    }

    .same-day-delivery-message {
        background: url('/images/common/icons/delivery-icon.png') no-repeat 10px 0;
        border-top: 1px solid #ccc;
        display: none;
        padding-left: 75px;
        padding-top: 10px;

        &.active {
            display: block;
        }

        #delivery-message-pt1 {
            font-weight: bold;
        }

        p {
            display: inline;
        }
    }

    #same-day-delivery-article {
        display: none;

        &.active {
            display: block;
        }
    }


    .product-image,
    .price-module,
    .pdp-lowest-price {
        margin-bottom: 15px;
    }

    .alt-images,
    .price-wrapper {
        margin-bottom: 10px;
    }

    .price-wrapper {
        float: left;
        margin: -3px 0 15px 15px;
        width: 165px;
    }

    .pdp-lowest-price {
        li {
            list-style-type: disc;
            margin-bottom: 5px;
        }

        border-left: 1px dotted #999;
        float: right;
        padding: 0 5% 0 10%;
        width: 35%;
    }

    .purchasing-module {
        position: relative;
    }

    .purchasing-module.pdp-loading {

        .availability-section {
            min-height: 100px;
        }

        .qty-limit {
            min-height: 12px;
        }

        .loading-overlay {
            background: #FFF;
            height: 100%;
            opacity: .7;
            position: absolute;
            width: 100%;
        }

        .pdp-loader-animate {
            background: #fff url('/images/common/checkout/progress.gif') 50% 50% no-repeat;
            border: 1px solid @hrBorder;
            height: 120px;
            left: 50%;
            margin: -60px 0 0 -60px;
            opacity: 1;
            padding: 12px 0 15px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 120px;
            .border-radius(5px);
            .box-shadow(2px 2px 4px rgba(0,0,0,0.2));
            .box-sizing(border-box);
        }
    }

    .purchasing-module .order-online,
    .purchasing-module .order-reserve,
    .prod-cinema-now,
    .purchasing-module .qty-limit {
        background: #e6e7e8;
        margin-bottom: 1px;
        padding: 15px;
    }

    .pdp-loading-placeholder {
        position: relative;
    }

    .pdp-loading-placeholder .pdp-loader {
        background: #fff url('/images/common/checkout/progress.gif') 50% 50% no-repeat;
        height: 100%;
        opacity: .7;
        position: absolute;
        width: 100%;
    }

    .availability-special-message {
        display: none;

        &.active {
            display: block;
        }

        .title {
            background: transparent url('/assets/icons/icon_sm_check.png') 3px 3px no-repeat;
        }
    }

    .purchasing-module .qty-limit {
        font-size: 11px;
        min-height: 12px;
        padding: 16px;
    }

    .prod-toolbar-links {
        font-size: 11px;

        .secondary-buttons {
            text-align: right;
        }

        .secondary-buttons > a + a {
            border-left: 1px solid #9D9FA2;
            margin: 0 0 0 8px;
            padding: 0 0 0 10px;
        }

        .secondary-buttons a {
            cursor: pointer;
        }

        .secondary-buttons .pdp-add-to-pricewatch {
            border-left: 1px solid #9D9FA2;
            margin: 0 0 0 8px;
            padding: 0 0 0 10px;
        }
    }

    .purchasing-module .messaging {
        display: inline-block;
        width: 165px;
        margin: 0 8px 16px 0;
    }

    .shipping-description {
        margin: 0 0 8px 20px;
    }

    .messaging-quantity p {
        margin: 0;
    }

    .purchasing-module .buttons {
        display: inline-block;
        width: 192px;

        .btn {
            margin-bottom: 8px;
            min-width: 190px;
            padding: 0;
        }

        .btn-link {
            font-size: 11px;
        }

        .btn-link:last-child {
            border-left: 1px solid #9d9fa2;
            margin: 0 0 0 6px;
            padding: 0 0 0 6px;
        }
    }

    .purchasing-module.pdp-loading {
        min-height: 100px;
    }

    .purchasing-module.pdp-loading .btn {
        margin: 0 0 8px;
    }

    .ispu-online-only {
        margin: 12px 0 0;
    }

    .french-compliant {
        margin: 10px 0 0;
    }

    .pdp-icons {
        border-left: 1px dotted #ccc;
        float: right;
        padding-left: 32px;
        width: 184px;
    }

    .pdp-iconsli {
        list-style-type: disc;
        padding-bottom: 4px;
    }
}

.prod-detail-assets {
    .gallery-demo-wrapper {
        margin: 16px 0 0;
        text-align: center;

        .demo-wrapper,
        .alt-images {
            display: none;
        }

        .demo-wrapper.has-demo,
        .view-wrapper {
            display: inline-block;
        }
    }

    .color-options {
        text-align: center;

        .swatch-title {
            line-height: 2.1;
            vertical-align: top;
        }

        .img16x16 {
            border: 1px solid #c7c8ca;
            height: 24px;
            margin: 0 0 0 4px;
            width: 24px;
        }

        a:hover img {
            border: 1px solid #007fd8;
        }
    }
}


.pdp-product-info-wrapper {
    h4,
    h3 {
        font: 900 14px/1.35 Arial Black, Arial;
        margin: 0 0 12px;
    }

    .store-availability {
        margin: 0 0 10px;

        li {
            margin: 0 0 6px;

            .icon-status {
                vertical-align: bottom;
                margin: 0 2px 0 0;
            }

            &.available {
                background: url('../assets/icons/icon_availability.png') 0 1px no-repeat;
                padding: 0 0 0 20px;
            }

            &.not-available {
                background: url('../assets/icons/icon_availability.png') 0 -75px no-repeat;
                padding: 0 0 0 20px;
            }
        }
    }

    .btn-primary,
    .btn-primary-alt {
        padding: 0 8px;
        width: 160px;
    }

    .esrb-mpaa-rating {
        border-bottom: 1px dotted #c7c8ca;
        padding: 16px;

        img {
            float: left;
            margin: 0 15px 0 0;
        }
    }
}

.pdp-special-offers {
    .sof-control {
        border-top: 1px solid #c7c8ca;
        margin: 0 0 15px;
        padding: 12px 15px 0;

        li {
            list-style-type: disc;
            margin: 0 0 6px 16px;
        }
    }

    .sof-control:empty {
        display: none;
    }
}

.prod-overview-wrapper {
    margin-bottom: 32px;
}

.pdp-social-bookmark {
    padding: 15px 15px 0 15px;

    #social-media {
        text-align: center;

        span {
            display: inline-block;
            float: none;
        }
    }

    #google-1-button,
    .twitter-share-button {
        border: none;
        margin: 0;
    }
}


// zone warehouse
// ------------------------------
.inventory-regional {
    margin: 0 0 8px;

    .regional-limit {
        display: none;
    }

    #message2 #dropdown {
        margin: 0;
        width: 170px;
    }
}


// CinemaNow
// ------------------------------
.prod-cinema-now {
    h6 {
        background: transparent url('/assets/icons/icon_cinema_now.gif') no-repeat left top;
        font-size: 0;
        height: 36px;
        overflow: hidden;
        text-indent: -2000px;
    }

    .learnmore {
        font-size: 11px;
    }

    .btn {
        height: 29px;
        margin-bottom: 0 !important;
        min-width: 74px;
        padding: 0 5px;

        .mccpgray,
        .mccpgray .mccpmain,
        .mccpgray .mccpleft,
        .mccpgray .mccpright {
            background: none;
            float: none;
            height: auto;
            margin: 0;
        }

        .btnmccpstd {
            font-size: 12px;
            line-height: 29px;
            padding: 0 !important;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .cinema-now-inner {
        .cinema-now-content .messaging,
        .cinema-now-content .buttons {
            margin-bottom: 0;
        }
    }
}

.cinema-now {
    &-content {
        margin: 8px 0 0;
        padding: 8px 0 0;

        p {
            margin: 8px 0 0;
        }

        &:first-child {
            border-top: 0;
            margin: 0;
            padding: 0;

            p {
                margin: 0;
            }
        }
    }
}

// Warranty popup
// -----------------------------
.ui-modal-warranties {

    .cart-message,
    .current-plan .icon,
    .plans-trigger .icon {
        background: url('/assets/backgrounds/sprite-interstitial.png') no-repeat 0 0;
    }

    .ui-modal-dialog {
        overflow: visible;
    }

    .ui-modal-body {
        font-size: 14px;
        overflow: visible;
        padding: 32px 325px 0 32px;
    }

    .img-agent {
        position: absolute;
        right: -45px;
        top: -25px;
    }

    h2,
    h3,
    p,
    li {
        color: #2a2a2e;
    }

    h2,
    h3 {
        line-height: 1.15;
    }

    p,
    li {
        line-height: 1.38;
    }

    h2 {
        font-size: 24px;
        margin: 24px 0 10px;
    }

    h3 {
        font-size: 16px;
        margin: 0 0 24px;
    }

    .cart-message {
        background-position: -10px -91px;
        color: #82b800;
        font-weight: bold;
        line-height: 29px;
        padding-left: 36px;
    }

    .value-props {
        border-bottom: 1px solid #ccc;
        padding: 0 0 24px 30px;

        li {
            list-style-type: disc;
        }
    }

    .current-plan {
        margin-top: 18px;

        .icon {
            background-position: -10px -10px;
            display: block;
            float: left;
            height: 61px;
            margin: 0 20px 160px 0;
            position: relative;
            width: 84px;

            .fr-CA & {
                background: url('/assets/backgrounds/geeksquad-protection-fr.png') 0 0;
                height: 74px;
            }
        }
    }

    .plan-name, .plan-price {
        display: inline;
        font-size: 16px;
        margin: 0;
    }

    .plan-breakdown {
        text-transform: none;
    }

    a.plans-trigger {
        border: 1px solid #e5e5e5;
        display: inline-block;
        font-size: 14px;
        line-height: 29px;
        margin: 8px 0 16px;
        outline: 0;
        padding: 0 10px 0 8px;
        position: relative;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }

        .icon {
            background-position: -10px -139px;
            display: inline-block;
            height: 9px;
            margin-left: 5px;
            width: 15px;
        }
    }

    .plans-list {
        -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
        -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
        background: #fff;
        border: 1px solid #e5e5e5;
        clear: both;
        display: none;
        left: -1px;
        position: absolute;
        top: 26px;
        width: 700px;
        z-index: 2;

        li {
            font-size: 12px;
            height: auto;
            line-height: 22px;
            margin: 0;
            padding: 5px 104px 5px 12px;
            position: relative;

            &.selected,
            &:hover {
                background: #e6e7e8;
            }
        }

        .best-value {
            display: block;
            font-weight: bold;
            line-height: 32px;
            position: absolute;
            right: 16px;
            top: 0;
        }
    }

    .terms-agreement {
        margin-left: 76px;

        label,
        .error {
            font-size: 12px;
            line-height: 16px;
            margin: 0;
        }

        .error {
            color: red;
            display: none;
            font-size: 14px;
            font-weight: bold;
            margin: 16px 0 0 25px;
        }

        input[type="checkbox"] {
            float: left;
            margin: 0 12px 40px 0;
        }
    }

    .ui-modal-footer {
        z-index: 1;

        .btn-wrapper {
            float: right;
            padding: 12px 16px 0 0;
        }

        .btn + .btn {
            margin: 0;
            float: none;
            font-size: 14px;
            min-width: 180px;

            html[lang="fr-CA"] & {
                min-width: 200px;
            }
        }

        .btn:first-child {
            color: #2a2a2e;
            font-size: 14px;
            font-weight: bold;
            height: 36px;
            line-height: 36px;
            margin: 0 8px 0 0;
            min-width: 153px;
            padding: 0 16px;
            text-shadow: none;
        }
    }
}

// PSP Block
.psp-block {
    
    .psp-logo {
        background: url('/assets/backgrounds/sprite-interstitial.png') no-repeat -10px -10px;
        display: block;
        height: 61px;
        margin: 16px;
        width: 84px;

        .fr-CA & {
            background: url('/assets/backgrounds/geeksquad-protection-fr.png') 0 0;
            height: 74px;
        }

        h5 {
            font-size: 13px;
            line-height: 1.35;
        }
    }
}

// Services block
.tab-services-wrapper {
    .productWrap {
        clear: both;
    }

    .prodImageWrap {
        float: left;
        padding: 0 16px 16px 0;
    }

    .field-price {
        margin: 0 0 16px 0;

        .clear {
            clear: none;
        }
    }

    .product-details {
        display: none;
    }
}

// gallery
// pdp gallery
.gallery-wrapper {
    margin: 0 0 16px;
    margin: 50px auto;
    position: relative;
    width: 500px;
}

.pdp-gallery-content-wrapper,
.ui-carousel-main-wrapper {
    height: 500px;
    overflow: hidden;
    position: relative;
}

.pdp-gallery-content,
.ui-carousel-inner {
    left: 0;
    position: absolute;
    top: 0;

    .ui-carousel-item {
        display: list-item;
        float: left;
        position: relative;
    }

    .ui-carousel-item.loaded:before,
    .ui-carousel-item.loaded:after {
        display: none;
    }
}

.pdp-gallery-carousel-control,
.pdp-gallery-control,
.ui-carousel-control {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background: transparent url('/Assets/ui/sprite_arrows.png') no-repeat 4px center;
    cursor: pointer;
    font: 0/0 Arial;
    height: 80px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -4000px;
    top: 210px;
    width: 42px;
    z-index: 10;

    &.next {
        background-position: -43px center;
        float: none;
        left: auto;
        padding: 0;
        right: 0;
    }

    &.prev {
        padding: 0;
    }

    &.disabled {
        display: none;

        &.back-to-first {
            display: block;
        }
    }
}

.pdp-gallery-counter {
    margin: 8px 0 12px;
    text-align: center;
}

.pdp-gallery-carousel {
    position: relative;
    padding: 0;
    margin: 12px 0 0;
}

.pdp-gallery-carousel-controls .pdp-gallery-carousel-control {
    position: absolute;
    background: #fff url('/Assets/ui/sprite_arrows.png') no-repeat -126px center;
    height: 100%;
    width: 24px;
    top: 0;
    box-shadow: 0 0 9px #fff;
    text-indent: -4000px;
    font: 0/0 Arial;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    &.prev.disabled {
        background-position: -94px center;
        cursor: default;
    }

    &.next {
        left: auto;
        right: 0;
        background-position: -184px center;
    }

    &.next.disabled {
        background-position: -152px center;
        cursor: default;
    }

    &.back-to-first {
        background-position: -218px center !important;
        cursor: pointer !important;
    }
}

.pdp-gallery-carousel-inner {
    position: relative;
    top: 0;
    margin: 0 26px;
    overflow: hidden;
    text-align: center;
    height: 85px;
}

.pdp-gallery-carousel-item-list {
    overflow: hidden;
    text-align: left;
    padding: 2px 0 0;
    display: inline-block;
    position: relative;
}

.ui-carousel-item-list {
    position: relative;
    height: 500px;
    z-index: 9;
}

.feature-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    z-index: 8;
    overflow: hidden;

    &.spin {
        height: 500px;
    }

    &.video {
        height: 460px;
        overflow: visible;
    }
}

.btn-spin-done {
    position: absolute;
    top: 8px;
    right: 8px;
}

.ui-carousel-item {
    width: 500px;
    height: 500px;
    &:extend(.loading-big all);

    &.loaded,
    &.active {
        &:before {
            background: none;
            opacity: 1;
        }
    }

    &.loaded:after {
        background: none;
        border: none;
        box-shadow: none;
        content: '';
    }

    iframe {
        z-index: 6;
    }

    .btn-spin-done {
        background: url('/assets/ui/ui-close.png')0 0 no-repeat;
        width: 26px;
        height: 25px;
    }

    .feature-overlay {

        .feature-overlay-wrapper {
            width: 500px;
            height: 500px;
            position: absolute;
        }

        .feature-overlay-wrap {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: .8;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
            filter: alpha(opacity=80);
        }

        .feature-overlay-image {
            width: 162px;
            height: 132px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -66px 0 0 -81px;
            border-radius: 6px;
        }

        .feature-overlay-image > a {
            display: block;
            padding: 100px 16px 0;
            text-align: center;
        }

        &.spin .feature-overlay-image {
            background: #fff url('/assets/ui/pdp-gallery-overlay.png')30px 15px no-repeat;
        }

        &.video .feature-overlay-image {
            background: #fff url('/assets/ui/pdp-gallery-overlay.png')30px -88px no-repeat;
        }
    }
}



.pdp-gallery-carousel-item {
    cursor: pointer;
    float: left;
    margin: 0 3px;
    position: relative;

    &.active {
        cursor: auto;
    }

    &:before {
        background: #fff;
        content: '';
        opacity: .7;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:after {
        background: #FFF;
        content: url('/Assets/ui/progress-medium.gif');
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -24px 0 0 -24px;
        padding: 8px;
        height: 32px;
        width: 32px;
    }

    img {
        opacity: 0.35;
        filter: alpha(opacity=35);
    }

    &.loaded {
        img {
            opacity: 1;
            filter: alpha(opacity=100);      
        }

        &:before {
            background: transparent;
            opacity: 1;
        }

        &:after {
            content: "";
            bottom: auto;
            right: auto;
            padding: 0;
            width: 0;
            height: 0;
        }
    }


    &.first {
        margin: 0 3px !important;
    }

    img {
        background-color: #fff;
        padding: 3px;
        border: 1px #ebebeb solid;
    }

    &.active:before {
        content: "";
        position: absolute;
        height: 3px;
        top: -2px;
        left: 0;
        right: 0;
        background-color: #007fd8;
    }

    &.video,
    &.spin,
    &.video.active,
    &.spin.active {

        .overlay-wrapper {
            position: absolute;
            width: 86px;
            height: 83px;
            -webkit-transition: opacity .5s ease;
            -moz-transition: opacity .5s ease;
            -ms-transition: opacity .5s ease;
            -o-transition: opacity .5s ease;
            transition: opacity .5s ease;
        }

        .overlay-wrap {
            position: absolute;
            background: #fff;
            top: 4px;
            left: 4px;
            width: 75px;
            height: 75px;
            opacity: .8;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
            filter: alpha(opacity=80);
        }

        &.active,
        &:hover {
            cursor: pointer;

            .overlay-wrapper {
                opacity: 0;
            }
        }

        &.active:hover {
            cursor: auto;
        }
    }

    .overlay-image {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -20px 0 0 -20px;
    }

    .overlay-label {
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 14px;
        left: 0;
        line-height: 1;
        color: @bbyblue;
        font-size: 12px;
    }

    &.video .overlay-image {
        background: transparent url('/assets/ui/pdp-thumb-overlay.png') -30px -136px no-repeat;
    }

    &.spin .overlay-image {
        background: transparent url('/assets/ui/pdp-thumb-overlay.png') -30px -36px no-repeat;
    }
}

.ui-modal-video {

    .ui-modal-dialog {
        height: 546px;
    }

    .ui-modal-body {
        padding: 0;
        min-height: 0;
    }
}

.table-reviews {
    font-size: 14px;
}
// Learning Resources
.article {
    font-size: 14px;

    > a {
        margin: 16px 0 24px;
        display: inline-block;
    }

    .article-heading {
        font-size: 16px;
        font-weight: bold;
        margin: 8px 0 16px;
    }

    .article-desc {
        display: block;
        line-height: 1.35;
    }

    & + & {
        border-top: 1px dotted @bbyGrayDarker;

        .article-heading {
            margin-top: 16px;
        }
    }
}
// Bundle SKUs
.bundle-tablist {
    margin: 0 0 16px 0;
    border-bottom: 1px dotted #ccc;
    padding: 0px 0 24px;

    li {
        margin: 0;
        padding: 4px;
        clear: both;
        display: block;

        &.active {
            background: @tableBackgroundHover;
        }
    }

    label,
    span {
        float: left;
        margin: 0;
    }

    a {
        display: block;
        margin-left: 16px;
    }

    .pdp-bundle-details & {
        border: 0;
        padding: 0;
        margin: 0;
    }

    p {
        margin: 0;
    }
}

.pdp-bundle-details {
    > .package-desc {
        border-top: 1px dotted @bbyGrayDarker;
        padding: 16px 0;
        color: @bbyGreyText;

        h4 {
            font-size: 14px;
            color: @bbyGreyText;
        }

        ul {
            margin: 0 0 0 16px;
        }

        li {
            padding: 0 0 0 8px;
            list-style-type: disc;
        }

        .logos {
            float: right;
            margin: 0 0 16px 16px;

            .pdplogo {
                text-align: center;
                margin: 0;
                float: none;
                font-size: 10px;
            }
        }
    }
}
// Showcase banner
.pdp-inner-showcase {
    width: 530px;
    margin-bottom: 32px;

    .header {
        background: url('/assets/backgrounds/pdp_showcase_header.jpg') 0 0 no-repeat;
        height: 34px;
        margin: 0;

        .fr-CA & {
            background: url('/assets/backgrounds/pdp_showcase_header_fr.jpg');
        }
    }

    .article-wrapper {
        background: @grayLighter;
        border: 1px solid @bbyGrayDarker;
        border-top: 0;
    }

    .article-wrapper > a {
        display: block;
        height: 100%;
        width: 100%;
    }

    img,
    .inside {
        float: left;
        padding: 32px 0 0 24px;
    }

    img {
        width: 132px;
    }

    .inside {
        width: 316px;
    }

    h3 {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .readmore {
        color: @bbyBlueDarker;
        margin-bottom: 32px;
    }
}

// Banner ad
.pdp_banners {
    background: transparent url('../Assets/images/icon_last_chance.png') no-repeat 16px 20px;
    font-size: 12px;
    min-height: 45px;
    padding: 16px 16px 16px 90px;

    .banner-title {
        font-size: 16px;
        font-weight: bold;
    }
}

// Availability Section
// ------------------------------
.availability-section {
    padding: 15px;
    background: #e6e7e8;
    font-size: 12px;
    margin: 0 0 1px;

    &.qty-limit {
        padding: 16px;

        .qty-section {
            font-size: 11px;
            float: left;
        }

        .prod-toolbar-links {
            float: right;
            margin: 0;
        }
    }

    .secondary-buttons a {
        font-size: 11px;
    }
}

.online-availability-status {
    color: @gray;
    font-size: 14px;
    padding: 0;
    margin: 0 0 2px;
    background: url('/assets/icons/icon_availability.png') 0px -73px no-repeat;
    padding: 0 0 0 20px;

    &.enabled {
        background: url('../images/common/pictures/ico-in-stock.gif') 0px 3px no-repeat;
        line-height: 16px;
        margin: 0 0 8px;
        padding: 0 0 0 20px;
        color: #689300;
        font-weight: bold;

        + div.messaging-quantity {
            padding: 0 0 0 20px;
        }
    }
}

.availability-header {
    font-size: 12px;
    margin: 0 0 12px;

    .title {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 8px 0 0;
    }

    .info {
        border-left: 1px dotted grey;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        padding: 3px 0 0 8px;
        max-width: 248px;

       &.hide {
            display: none;
        }
    }
}

.availability-ispu-message p {
    margin: 0 0 6px;
}

.availability-special-message {

    p {
        font-size: 12px;
        padding-left: 20px;
    }

    &.promos p {
        margin: 0;
    }
}

.buttons {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

.messaging {
    margin: 0 0 10px;
    width: 160px;
    display: inline-block !important;
}

.messaging-status a {
    color: #689300;
    font-size: 14px;
    font-weight: bold;

    .not-available {
        font-size: 12px;
        font-weight: normal;
        background-position: -219px -106px;

        &:hover {
            text-decoration: none;
        }
    }
}

.messaging-quantity {
    font-size: 12px;
    margin: 0;
    padding: 0 0 0 20px;
}
// Best Buy global PDP styling

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";
@import (reference) "components.less";

// + Custom tooltip, specific to PDP for now

// pdp container
// -------------------------
.prod-detail-wrapper {
    .span7 {
        width: 500px;
    }

    .span5 {
        margin-left: 20px;
        width: 400px;
    }
}

.prod-detail-assets .span7 {
    min-height: 500px;
}

.list-sub-text {
    margin: 4px 0 0;

    li {
        border-right: 1px solid #9d9fa2;
        display: inline;
        margin: 0 8px 0;
        padding: 0 6px 0;

        &:last-child {
            border-right: none;
            margin: 0;
            padding: 0;
        }
    }
}

.price-wrapper {
    color: #2E3337;
    line-height: 1.35;
}

.price-onsale,
.prod-saving {
    color: #da1a36;
}

.price-xlarge {
    .prod-price {
        float: none;
        font-family: 'Arial Black', Arial, Helvetica;
        font-size: 27px;
        font-weight: 900;
        padding: 0;
        width: auto;
    }

    & .prod-saving {
        font-weight: bold;
    }
}

.prod-detail-wrapper .value-points {
    border-left: 1px dotted #c7c8ca;
    float: left;
    padding: 0 0 0 15px;
    width: 204px;

    li {
        list-style-type: disc;
        margin: 0 0 6px 15px;
    }
}

.product-image {
    cursor: pointer;
}

.breadcrumb a:visited {
    color: #039;
}

.brand-vendor-wrapper {
    .brand-logo {
        float: left;

        img {
            margin: 0 16px 8px 0;
        }
    }

        .brand-logo img[src='/images/common/pictures/noimage120x40.jpg'] {
            display: none;
        }

    .pdp-brand-store {
        display: inline-block;
        margin: 0 0 10px !important;
    }
}


// ****************************** MOVE THE ABOVE TO SOMEWHERE ELSE *******************

// pdp layout
// ------------------------------

.prod-detail-top {
    border-bottom: 3px solid #999;
    margin-bottom: 20px;
    padding-bottom: 10px;

    .prod-detail-ratings {
        text-align: right;
    }

    .rating-wrapper {
        border-right: 1px solid #999;
        display: inline-block;
        margin: 0 8px 0 0;
        padding: 0 8px 0 0;
    }

    .rating-title {
        display: none;
    }

    .customer-rating, & .rating-num, & .review-wrapper {
        display: inline;
    }

    .customer-rating {
        display: block;
        margin: 0 0 8px;
    }

    .rating-num {
        vertical-align: top;
    }

    .rating-list {
        display: none;
    }

    .review-wrapper {
        display: inline-block;
        margin: 0;
    }

    .rating-score {
        font-weight: bold;
        margin: 0;
        vertical-align: top;
    }

    .review-wrapper .review-num + .review-write {
        display: inline-block;
    }
}

.prod-detail-bot {
    line-height: 1.45;

    .availability-status {
        display: block;
        text-transform: none;
    }

    .same-day-delivery-message {
        background: url('/images/common/icons/delivery-icon.png') no-repeat 10px 0;
        border-top: 1px solid #ccc;
        display: none;
        padding-left: 75px;
        padding-top: 10px;

        &.active {
            display: block;
        }

        #delivery-message-pt1 {
            font-weight: bold;
        }

        p {
            display: inline;
        }
    }

    #same-day-delivery-article {
        display: none;

        &.active {
            display: block;
        }
    }


    .product-image,
    .price-module,
    .pdp-lowest-price {
        margin-bottom: 15px;
    }

    .alt-images,
    .price-wrapper {
        margin-bottom: 10px;
    }

    .price-wrapper {
        float: left;
        margin: -3px 0 15px 15px;
        width: 165px;
    }

    .pdp-lowest-price {
        li {
            list-style-type: disc;
            margin-bottom: 5px;
        }

        border-left: 1px dotted #999;
        float: right;
        padding: 0 5% 0 10%;
        width: 35%;
    }

    .purchasing-module {
        position: relative;
    }

    .purchasing-module.pdp-loading {

        .availability-section {
            min-height: 100px;
        }

        .qty-limit {
            min-height: 12px;
        }

        .loading-overlay {
            background: #FFF;
            height: 100%;
            opacity: .7;
            position: absolute;
            width: 100%;
        }

        .pdp-loader-animate {
            background: #fff url('/images/common/checkout/progress.gif') 50% 50% no-repeat;
            border: 1px solid @hrBorder;
            height: 120px;
            left: 50%;
            margin: -60px 0 0 -60px;
            opacity: 1;
            padding: 12px 0 15px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 120px;
            .border-radius(5px);
            .box-shadow(2px 2px 4px rgba(0,0,0,0.2));
            .box-sizing(border-box);
        }
    }

    .purchasing-module .order-online,
    .purchasing-module .order-reserve,
    .prod-cinema-now,
    .purchasing-module .qty-limit {
        background: #e6e7e8;
        margin-bottom: 1px;
        padding: 15px;
    }

    .pdp-loading-placeholder {
        position: relative;
    }

    .pdp-loading-placeholder .pdp-loader {
        background: #fff url('/images/common/checkout/progress.gif') 50% 50% no-repeat;
        height: 100%;
        opacity: .7;
        position: absolute;
        width: 100%;
    }

    .availability-special-message {
        display: none;

        &.active {
            display: block;
        }

        .title {
            background: transparent url('/assets/icons/icon_sm_check.png') 3px 3px no-repeat;
        }
    }

    .purchasing-module .qty-limit {
        font-size: 11px;
        min-height: 12px;
        padding: 16px;
    }

    .prod-toolbar-links {
        font-size: 11px;

        .secondary-buttons {
            text-align: right;
        }

        .secondary-buttons > a + a {
            border-left: 1px solid #9D9FA2;
            margin: 0 0 0 8px;
            padding: 0 0 0 10px;
        }

        .secondary-buttons a {
            cursor: pointer;
        }

        .secondary-buttons .pdp-add-to-pricewatch {
            border-left: 1px solid #9D9FA2;
            margin: 0 0 0 8px;
            padding: 0 0 0 10px;
        }
    }

    .purchasing-module .messaging {
        display: inline-block;
        width: 165px;
        margin: 0 8px 16px 0;
    }

    .shipping-description {
        margin: 0 0 8px 20px;
    }

    .messaging-quantity p {
        margin: 0;
    }

    .purchasing-module .buttons {
        display: inline-block;
        width: 192px;

        .btn {
            margin-bottom: 8px;
            min-width: 190px;
            padding: 0;
        }

        .btn-link {
            font-size: 11px;
        }

        .btn-link:last-child {
            border-left: 1px solid #9d9fa2;
            margin: 0 0 0 6px;
            padding: 0 0 0 6px;
        }
    }

    .purchasing-module.pdp-loading {
        min-height: 100px;
    }

    .purchasing-module.pdp-loading .btn {
        margin: 0 0 8px;
    }

    .ispu-online-only {
        margin: 12px 0 0;
    }

    .french-compliant {
        margin: 10px 0 0;
    }

    .pdp-icons {
        border-left: 1px dotted #ccc;
        float: right;
        padding-left: 32px;
        width: 184px;
    }

    .pdp-iconsli {
        list-style-type: disc;
        padding-bottom: 4px;
    }
}

.prod-detail-assets {
    .gallery-demo-wrapper {
        margin: 16px 0 0;
        text-align: center;

        .demo-wrapper,
        .alt-images {
            display: none;
        }

        .demo-wrapper.has-demo,
        .view-wrapper {
            display: inline-block;
        }
    }

    .color-options {
        text-align: center;

        .swatch-title {
            line-height: 2.1;
            vertical-align: top;
        }

        .img16x16 {
            border: 1px solid #c7c8ca;
            height: 24px;
            margin: 0 0 0 4px;
            width: 24px;
        }

        a:hover img {
            border: 1px solid #007fd8;
        }
    }
}


.pdp-product-info-wrapper {
    h4,
    h3 {
        font: 900 14px/1.35 Arial Black, Arial;
        margin: 0 0 12px;
    }

    .store-availability {
        margin: 0 0 10px;

        li {
            margin: 0 0 6px;

            .icon-status {
                vertical-align: bottom;
                margin: 0 2px 0 0;
            }

            &.available {
                background: url('../assets/icons/icon_availability.png') 0 1px no-repeat;
                padding: 0 0 0 20px;
            }

            &.not-available {
                background: url('../assets/icons/icon_availability.png') 0 -75px no-repeat;
                padding: 0 0 0 20px;
            }
        }
    }

    .btn-primary,
    .btn-primary-alt {
        padding: 0 8px;
        width: 160px;
    }

    .esrb-mpaa-rating {
        border-bottom: 1px dotted #c7c8ca;
        padding: 16px;

        img {
            float: left;
            margin: 0 15px 0 0;
        }
    }
}

.pdp-special-offers {
    .sof-control {
        border-top: 1px solid #c7c8ca;
        margin: 0 0 15px;
        padding: 12px 15px 0;

        li {
            list-style-type: disc;
            margin: 0 0 6px 16px;
        }
    }

    .sof-control:empty {
        display: none;
    }
}

.prod-overview-wrapper {
    margin-bottom: 32px;
}

.pdp-social-bookmark {
    padding: 15px 15px 0 15px;

    #social-media {
        text-align: center;

        span {
            display: inline-block;
            float: none;
        }
    }

    #google-1-button,
    .twitter-share-button {
        border: none;
        margin: 0;
    }
}


// zone warehouse
// ------------------------------
.inventory-regional {
    margin: 0 0 8px;

    .regional-limit {
        display: none;
    }

    #message2 #dropdown {
        margin: 0;
        width: 170px;
    }
}


// CinemaNow
// ------------------------------
.prod-cinema-now {
    h6 {
        background: transparent url('/assets/icons/icon_cinema_now.gif') no-repeat left top;
        font-size: 0;
        height: 36px;
        overflow: hidden;
        text-indent: -2000px;
    }

    .learnmore {
        font-size: 11px;
    }

    .btn {
        height: 29px;
        margin-bottom: 0 !important;
        min-width: 74px;
        padding: 0 5px;

        .mccpgray,
        .mccpgray .mccpmain,
        .mccpgray .mccpleft,
        .mccpgray .mccpright {
            background: none;
            float: none;
            height: auto;
            margin: 0;
        }

        .btnmccpstd {
            font-size: 12px;
            line-height: 29px;
            padding: 0 !important;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    .cinema-now-inner {
        .cinema-now-content .messaging,
        .cinema-now-content .buttons {
            margin-bottom: 0;
        }
    }
}

.cinema-now {
    &-content {
        margin: 8px 0 0;
        padding: 8px 0 0;

        p {
            margin: 8px 0 0;
        }

        &:first-child {
            border-top: 0;
            margin: 0;
            padding: 0;

            p {
                margin: 0;
            }
        }
    }
}

// Warranty popup
// -----------------------------
.ui-modal-warranties {

    .cart-message,
    .current-plan .icon,
    .plans-trigger .icon {
        background: url('/assets/backgrounds/sprite-interstitial.png') no-repeat 0 0;
    }

    .ui-modal-dialog {
        overflow: visible;
    }

    .ui-modal-body {
        font-size: 14px;
        overflow: visible;
        padding: 32px 325px 0 32px;
    }

    .img-agent {
        position: absolute;
        right: -45px;
        top: -25px;
    }

    h2,
    h3,
    p,
    li {
        color: #2a2a2e;
    }

    h2,
    h3 {
        line-height: 1.15;
    }

    p,
    li {
        line-height: 1.38;
    }

    h2 {
        font-size: 24px;
        margin: 24px 0 10px;
    }

    h3 {
        font-size: 16px;
        margin: 0 0 24px;
    }

    .cart-message {
        background-position: -10px -91px;
        color: #82b800;
        font-weight: bold;
        line-height: 29px;
        padding-left: 36px;
    }

    .value-props {
        border-bottom: 1px solid #ccc;
        padding: 0 0 24px 30px;

        li {
            list-style-type: disc;
        }
    }

    .current-plan {
        margin-top: 18px;

        .icon {
            background-position: -10px -10px;
            display: block;
            float: left;
            height: 61px;
            margin: 0 20px 160px 0;
            position: relative;
            width: 84px;

            .fr-CA & {
                background: url('/assets/backgrounds/geeksquad-protection-fr.png') 0 0;
                height: 74px;
            }
        }
    }

    .plan-name, .plan-price {
        display: inline;
        font-size: 16px;
        margin: 0;
    }

    .plan-breakdown {
        text-transform: none;
    }

    a.plans-trigger {
        border: 1px solid #e5e5e5;
        display: inline-block;
        font-size: 14px;
        line-height: 29px;
        margin: 8px 0 16px;
        outline: 0;
        padding: 0 10px 0 8px;
        position: relative;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }

        .icon {
            background-position: -10px -139px;
            display: inline-block;
            height: 9px;
            margin-left: 5px;
            width: 15px;
        }
    }

    .plans-list {
        -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
        -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
        background: #fff;
        border: 1px solid #e5e5e5;
        clear: both;
        display: none;
        left: -1px;
        position: absolute;
        top: 26px;
        width: 700px;
        z-index: 2;

        li {
            font-size: 12px;
            height: auto;
            line-height: 22px;
            margin: 0;
            padding: 5px 104px 5px 12px;
            position: relative;

            &.selected,
            &:hover {
                background: #e6e7e8;
            }
        }

        .best-value {
            display: block;
            font-weight: bold;
            line-height: 32px;
            position: absolute;
            right: 16px;
            top: 0;
        }
    }

    .terms-agreement {
        margin-left: 76px;

        label,
        .error {
            font-size: 12px;
            line-height: 16px;
            margin: 0;
        }

        .error {
            color: red;
            display: none;
            font-size: 14px;
            font-weight: bold;
            margin: 16px 0 0 25px;
        }

        input[type="checkbox"] {
            float: left;
            margin: 0 12px 40px 0;
        }
    }

    .ui-modal-footer {
        z-index: 1;

        .btn-wrapper {
            float: right;
            padding: 12px 16px 0 0;
        }

        .btn + .btn {
            margin: 0;
            float: none;
            font-size: 14px;
            min-width: 180px;

            html[lang="fr-CA"] & {
                min-width: 200px;
            }
        }

        .btn:first-child {
            color: #2a2a2e;
            font-size: 14px;
            font-weight: bold;
            height: 36px;
            line-height: 36px;
            margin: 0 8px 0 0;
            min-width: 153px;
            padding: 0 16px;
            text-shadow: none;
        }
    }
}

// PSP Block
.psp-block {
    
    .psp-logo {
        background: url('/assets/backgrounds/sprite-interstitial.png') no-repeat -10px -10px;
        display: block;
        height: 61px;
        margin: 16px;
        width: 84px;

        .fr-CA & {
            background: url('/assets/backgrounds/geeksquad-protection-fr.png') 0 0;
            height: 74px;
        }

        h5 {
            font-size: 13px;
            line-height: 1.35;
        }
    }
}

// Services block
.tab-services-wrapper {
    .productWrap {
        clear: both;
    }

    .prodImageWrap {
        float: left;
        padding: 0 16px 16px 0;
    }

    .field-price {
        margin: 0 0 16px 0;

        .clear {
            clear: none;
        }
    }

    .product-details {
        display: none;
    }
}

// gallery
// pdp gallery
.gallery-wrapper {
    margin: 0 0 16px;
    margin: 50px auto;
    position: relative;
    width: 500px;
}

.pdp-gallery-content-wrapper,
.ui-carousel-main-wrapper {
    height: 500px;
    overflow: hidden;
    position: relative;
}

.pdp-gallery-content,
.ui-carousel-inner {
    left: 0;
    position: absolute;
    top: 0;

    .ui-carousel-item {
        display: list-item;
        float: left;
        position: relative;
    }

    .ui-carousel-item.loaded:before,
    .ui-carousel-item.loaded:after {
        display: none;
    }
}

.pdp-gallery-carousel-control,
.pdp-gallery-control,
.ui-carousel-control {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background: transparent url('/Assets/ui/sprite_arrows.png') no-repeat 4px center;
    cursor: pointer;
    font: 0/0 Arial;
    height: 80px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-indent: -4000px;
    top: 210px;
    width: 42px;
    z-index: 10;

    &.next {
        background-position: -43px center;
        float: none;
        left: auto;
        padding: 0;
        right: 0;
    }

    &.prev {
        padding: 0;
    }

    &.disabled {
        display: none;

        &.back-to-first {
            display: block;
        }
    }
}

.pdp-gallery-counter {
    margin: 8px 0 12px;
    text-align: center;
}

.pdp-gallery-carousel {
    position: relative;
    padding: 0;
    margin: 12px 0 0;
}

.pdp-gallery-carousel-controls .pdp-gallery-carousel-control {
    position: absolute;
    background: #fff url('/Assets/ui/sprite_arrows.png') no-repeat -126px center;
    height: 100%;
    width: 24px;
    top: 0;
    box-shadow: 0 0 9px #fff;
    text-indent: -4000px;
    font: 0/0 Arial;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;

    &.prev.disabled {
        background-position: -94px center;
        cursor: default;
    }

    &.next {
        left: auto;
        right: 0;
        background-position: -184px center;
    }

    &.next.disabled {
        background-position: -152px center;
        cursor: default;
    }

    &.back-to-first {
        background-position: -218px center !important;
        cursor: pointer !important;
    }
}

.pdp-gallery-carousel-inner {
    position: relative;
    top: 0;
    margin: 0 26px;
    overflow: hidden;
    text-align: center;
    height: 85px;
}

.pdp-gallery-carousel-item-list {
    overflow: hidden;
    text-align: left;
    padding: 2px 0 0;
    display: inline-block;
    position: relative;
}

.ui-carousel-item-list {
    position: relative;
    height: 500px;
    z-index: 9;
}

.feature-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    z-index: 8;
    overflow: hidden;

    &.spin {
        height: 500px;
    }

    &.video {
        height: 460px;
        overflow: visible;
    }
}

.btn-spin-done {
    position: absolute;
    top: 8px;
    right: 8px;
}

.ui-carousel-item {
    width: 500px;
    height: 500px;
    &:extend(.loading-big all);

    &.loaded,
    &.active {
        &:before {
            background: none;
            opacity: 1;
        }
    }

    &.loaded:after {
        background: none;
        border: none;
        box-shadow: none;
        content: '';
    }

    iframe {
        z-index: 6;
    }

    .btn-spin-done {
        background: url('/assets/ui/ui-close.png')0 0 no-repeat;
        width: 26px;
        height: 25px;
    }

    .feature-overlay {

        .feature-overlay-wrapper {
            width: 500px;
            height: 500px;
            position: absolute;
        }

        .feature-overlay-wrap {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: .8;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
            filter: alpha(opacity=80);
        }

        .feature-overlay-image {
            width: 162px;
            height: 132px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -66px 0 0 -81px;
            border-radius: 6px;
        }

        .feature-overlay-image > a {
            display: block;
            padding: 100px 16px 0;
            text-align: center;
        }

        &.spin .feature-overlay-image {
            background: #fff url('/assets/ui/pdp-gallery-overlay.png')30px 15px no-repeat;
        }

        &.video .feature-overlay-image {
            background: #fff url('/assets/ui/pdp-gallery-overlay.png')30px -88px no-repeat;
        }
    }
}



.pdp-gallery-carousel-item {
    cursor: pointer;
    float: left;
    margin: 0 3px;
    position: relative;

    &.active {
        cursor: auto;
    }

    &:before {
        background: #fff;
        content: '';
        opacity: .7;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:after {
        background: #FFF;
        content: url('/Assets/ui/progress-medium.gif');
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -24px 0 0 -24px;
        padding: 8px;
        height: 32px;
        width: 32px;
    }

    img {
        opacity: 0.35;
        filter: alpha(opacity=35);
    }

    &.loaded {
        img {
            opacity: 1;
            filter: alpha(opacity=100);      
        }

        &:before {
            background: transparent;
            opacity: 1;
        }

        &:after {
            content: "";
            bottom: auto;
            right: auto;
            padding: 0;
            width: 0;
            height: 0;
        }
    }


    &.first {
        margin: 0 3px !important;
    }

    img {
        background-color: #fff;
        padding: 3px;
        border: 1px #ebebeb solid;
    }

    &.active:before {
        content: "";
        position: absolute;
        height: 3px;
        top: -2px;
        left: 0;
        right: 0;
        background-color: #007fd8;
    }

    &.video,
    &.spin,
    &.video.active,
    &.spin.active {

        .overlay-wrapper {
            position: absolute;
            width: 86px;
            height: 83px;
            -webkit-transition: opacity .5s ease;
            -moz-transition: opacity .5s ease;
            -ms-transition: opacity .5s ease;
            -o-transition: opacity .5s ease;
            transition: opacity .5s ease;
        }

        .overlay-wrap {
            position: absolute;
            background: #fff;
            top: 4px;
            left: 4px;
            width: 75px;
            height: 75px;
            opacity: .8;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
            filter: alpha(opacity=80);
        }

        &.active,
        &:hover {
            cursor: pointer;

            .overlay-wrapper {
                opacity: 0;
            }
        }

        &.active:hover {
            cursor: auto;
        }
    }

    .overlay-image {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -20px 0 0 -20px;
    }

    .overlay-label {
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 14px;
        left: 0;
        line-height: 1;
        color: @bbyblue;
        font-size: 12px;
    }

    &.video .overlay-image {
        background: transparent url('/assets/ui/pdp-thumb-overlay.png') -30px -136px no-repeat;
    }

    &.spin .overlay-image {
        background: transparent url('/assets/ui/pdp-thumb-overlay.png') -30px -36px no-repeat;
    }
}

.ui-modal-video {

    .ui-modal-dialog {
        height: 546px;
    }

    .ui-modal-body {
        padding: 0;
        min-height: 0;
    }
}

.table-reviews {
    font-size: 14px;
}
// Learning Resources
.article {
    font-size: 14px;

    > a {
        margin: 16px 0 24px;
        display: inline-block;
    }

    .article-heading {
        font-size: 16px;
        font-weight: bold;
        margin: 8px 0 16px;
    }

    .article-desc {
        display: block;
        line-height: 1.35;
    }

    & + & {
        border-top: 1px dotted @bbyGrayDarker;

        .article-heading {
            margin-top: 16px;
        }
    }
}
// Bundle SKUs
.bundle-tablist {
    margin: 0 0 16px 0;
    border-bottom: 1px dotted #ccc;
    padding: 0px 0 24px;

    li {
        margin: 0;
        padding: 4px;
        clear: both;
        display: block;

        &.active {
            background: @tableBackgroundHover;
        }
    }

    label,
    span {
        float: left;
        margin: 0;
    }

    a {
        display: block;
        margin-left: 16px;
    }

    .pdp-bundle-details & {
        border: 0;
        padding: 0;
        margin: 0;
    }

    p {
        margin: 0;
    }
}

.pdp-bundle-details {
    > .package-desc {
        border-top: 1px dotted @bbyGrayDarker;
        padding: 16px 0;
        color: @bbyGreyText;

        h4 {
            font-size: 14px;
            color: @bbyGreyText;
        }

        ul {
            margin: 0 0 0 16px;
        }

        li {
            padding: 0 0 0 8px;
            list-style-type: disc;
        }

        .logos {
            float: right;
            margin: 0 0 16px 16px;

            .pdplogo {
                text-align: center;
                margin: 0;
                float: none;
                font-size: 10px;
            }
        }
    }
}
// Showcase banner
.pdp-inner-showcase {
    width: 530px;
    margin-bottom: 32px;

    .header {
        background: url('/assets/backgrounds/pdp_showcase_header.jpg') 0 0 no-repeat;
        height: 34px;
        margin: 0;

        .fr-CA & {
            background: url('/assets/backgrounds/pdp_showcase_header_fr.jpg');
        }
    }

    .article-wrapper {
        background: @grayLighter;
        border: 1px solid @bbyGrayDarker;
        border-top: 0;
    }

    .article-wrapper > a {
        display: block;
        height: 100%;
        width: 100%;
    }

    img,
    .inside {
        float: left;
        padding: 32px 0 0 24px;
    }

    img {
        width: 132px;
    }

    .inside {
        width: 316px;
    }

    h3 {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .readmore {
        color: @bbyBlueDarker;
        margin-bottom: 32px;
    }
}

// Banner ad
.pdp_banners {
    background: transparent url('../Assets/images/icon_last_chance.png') no-repeat 16px 20px;
    font-size: 12px;
    min-height: 45px;
    padding: 16px 16px 16px 90px;

    .banner-title {
        font-size: 16px;
        font-weight: bold;
    }
}

// Availability Section
// ------------------------------
.availability-section {
    padding: 15px;
    background: #e6e7e8;
    font-size: 12px;
    margin: 0 0 1px;

    &.qty-limit {
        padding: 16px;

        .qty-section {
            font-size: 11px;
            float: left;
        }

        .prod-toolbar-links {
            float: right;
            margin: 0;
        }
    }

    .secondary-buttons a {
        font-size: 11px;
    }
}

.online-availability-status {
    color: @gray;
    font-size: 14px;
    padding: 0;
    margin: 0 0 2px;
    background: url('/assets/icons/icon_availability.png') 0px -73px no-repeat;
    padding: 0 0 0 20px;

    &.enabled {
        background: url('../images/common/pictures/ico-in-stock.gif') 0px 3px no-repeat;
        line-height: 16px;
        margin: 0 0 8px;
        padding: 0 0 0 20px;
        color: #689300;
        font-weight: bold;

        + div.messaging-quantity {
            padding: 0 0 0 20px;
        }
    }
}

.availability-header {
    font-size: 12px;
    margin: 0 0 12px;

    .title {
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 8px 0 0;
    }

    .info {
        border-left: 1px dotted grey;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        padding: 3px 0 0 8px;
        max-width: 248px;

       &.hide {
            display: none;
        }
    }
}

.availability-ispu-message p {
    margin: 0 0 6px;
}

.availability-special-message {

    p {
        font-size: 12px;
        padding-left: 20px;
    }

    &.promos p {
        margin: 0;
    }
}

.buttons {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

.messaging {
    margin: 0 0 10px;
    width: 160px;
    display: inline-block !important;
}

.messaging-status a {
    color: #689300;
    font-size: 14px;
    font-weight: bold;

    .not-available {
        font-size: 12px;
        font-weight: normal;
        background-position: -219px -106px;

        &:hover {
            text-decoration: none;
        }
    }
}

.messaging-quantity {
    font-size: 12px;
    margin: 0;
    padding: 0 0 0 20px;
}

.availability-special-message {
    clear: both;
    margin: 0 0 6px;
}

.store-availability li {
    margin: 0 0 8px;

    .icon-status {
        vertical-align: top;
    }
}

// Custom tooltip
.pdp_availability_tooltip {
    position: relative;
    color: #039;
    cursor: default;

    .pdp-countdown-tooltip {
        background: #333;
        border-radius: 5px;
        bottom: 35px;
        color: #fff;
        content: attr(title);
        left: 20%;
        min-width: 150px;
        position: absolute;
        padding: 5px 15px;
        position: absolute;
        width: auto;
        z-index: 98;

        &:after {
            border: solid;
            border-color: #333 transparent;
            border-width: 6px 6px 0 6px;
            bottom: -5px;
            content: "";
            left: 20%;
            position: absolute;
            z-index: 99;
        }
    }
}

//Marketplace Specific Styling

.vendor-moreinfo {
    color: #0074d5;
    font-size: 10px;
}

.vendor-shippedby {
    margin-bottom: 24px;
   
}

.vendor-soldby {
    background: #d4eff4;
    margin-bottom: 16px;
    padding: 12px;
    font-size: 14px;

    .marketplace-marker {
        color: #00437f;
        font-size: 12px;
        font-weight: 100;
        margin-top: 4px;
    }

    .large-text {
        font-size: 14px;
        font-weight: bold;
    }

    svg {
        float: left;
        margin-right: 4px;
        max-height: 20px;
        max-width: 20px;
    }

    > div {
        display: inline-block;
        width: 50%;

        &:first-child {
            box-sizing: border-box;
            float: left;
            padding-right: 12px;
            padding-top: 7px;
    
            a {
                float: left;
            }
        }
    }
}

.availability-special-message {
    clear: both;
    margin: 0 0 6px;
}

.store-availability li {
    margin: 0 0 8px;

    .icon-status {
        vertical-align: top;
    }
}

// Custom tooltip
.pdp_availability_tooltip {
    position: relative;
    color: #039;
    cursor: default;

    .pdp-countdown-tooltip {
        background: #333;
        border-radius: 5px;
        bottom: 35px;
        color: #fff;
        content: attr(title);
        left: 20%;
        min-width: 150px;
        position: absolute;
        padding: 5px 15px;
        position: absolute;
        width: auto;
        z-index: 98;

        &:after {
            border: solid;
            border-color: #333 transparent;
            border-width: 6px 6px 0 6px;
            bottom: -5px;
            content: "";
            left: 20%;
            position: absolute;
            z-index: 99;
        }
    }
}

//Marketplace Specific Styling

.vendor-moreinfo {
    color: #0074d5;
    font-size: 10px;
}

.vendor-shippedby {
    margin-bottom: 24px;
   
}

.vendor-soldby {
    background: #d4eff4;
    margin-bottom: 16px;
    padding: 12px;
    font-size: 14px;

    .marketplace-marker {
        color: #00437f;
        font-size: 12px;
        font-weight: 100;
        margin-top: 4px;
    }

    .large-text {
        font-size: 14px;
        font-weight: bold;
    }

    .pdp-marketplace-icon::before {
        float: left;
        margin-right: 4px;
        height: 20px;
        width: 20px;
    }

    > div {
        display: inline-block;
        max-width: 208px;
        width: 50%;

        &:first-child {
            box-sizing: border-box;
            float: left;
            padding-right: 12px;
            padding-top: 7px;
    
            a {
                float: left;
            }
        }
    }
}

.marketplace-additional-information {
    float: right;
    display: inline-block;
    width: 50%;

    li {
        list-style: disc;
    }
}




// Tooltip

@popover-bg-color: #FFFFD3;
@popover-border-color: #FFFFD3;

@popover-triangle-size: 11px;
@popover-triangle-color: @popover-bg-color;
@popover-triangle-border-color: @popover-border-color;

.ns-popover-list-theme {
  background-color: #fff;
  box-sizing: border-box;
  z-index: 100;

  ul,
  .list {
    display: block;
    margin: 0.625rem 0;
    padding: 0;
  }

  li, .list-item {
    list-style-type: disc;

    a {
      display: block;
      padding: .1875rem .625rem;

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

// @mixins
//
// We use this to create equilateral triangles
// @triangle-size - Used to set border-size. No default, set a px or em size.
// @triangle-color - Used to set border-color which makes up triangle. No default
// @triangle-direction - Used to determine which direction triangle points. Options: top, bottom, left, right
.triangle(@triangle-direction,
  @triangle-size:@popover-triangle-size,
  @triangle-color:@popover-triangle-color,
  @triangle-border-color:@popover-triangle-border-color) {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid @triangle-size;
  border-color: transparent;
  position: absolute;

  &:after {
    content: " ";
    display: block;
    width:0;
    height:0;
    border: solid (@triangle-size - 1px);
    border-color: transparent;
    position: absolute;
  }

  & when (@triangle-direction = "top") {
    border-top-color: @triangle-border-color;
    left:50%;
    bottom: -@triangle-size;
    margin-left: -@triangle-size;

    &:after {
      border-top-color: @triangle-color;
      border-bottom-width: 0;
      bottom: 1px;
      margin-left: -(@triangle-size - 1px);
    }
  }

  & when (@triangle-direction = "bottom") {
    border-bottom-color: @triangle-border-color;
    left:50%;
    top: -@triangle-size;
    margin-left: -@triangle-size;

    &:after {
      border-bottom-color: @triangle-color;
      border-top-width: 0;
      top: 1px;
      margin-left: -(@triangle-size - 1px);
    }
  }

  & when (@triangle-direction = "left") {
    border-left-color: @triangle-border-color;
    top:50%;
    right: -@triangle-size;
    margin-top: -@triangle-size;

    &:after {
      border-left-color: @triangle-color;
      border-right-width: 0;
      right: 1px;
      bottom: -(@triangle-size - 1px);
    }
  }

  & when (@triangle-direction = "right") {
    border-right-color: @triangle-border-color;
    top:50%;
    left: -@triangle-size;
    margin-top: -@triangle-size;

    &:after {
      border-right-color: @triangle-color;
      border-left-width: 0;
      left: 1px;
      bottom: -(@triangle-size - 1px);
    }
  }
}

.ns-popover-tooltip-theme {
  background-color: transparent;
  box-sizing: border-box;
  color: #111;
  z-index: 100;

  .ns-popover-tooltip {
            box-shadow: 0 0 10px #999;
       -moz-box-shadow: 0 0 10px #999;
    -webkit-box-shadow: 0 0 10px #999;
    background-color: #ffffd1;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.1em;
    margin: @popover-triangle-size - 1px;
    max-width: 24em;
    padding: 1.3em 2.5em 1.6em 1.5em;
    z-index: 100;

    h2 {
      font-size: 1.1em;
      font-weight: bold;
    }

    ul {
      display: block;
      margin: 1em 0;
      padding: 0 0 0 1.4em;
    }

    li {
      list-style-type: disc;
      line-height: 1.2em;
      margin: 0 0 1.1em;

      a {
        padding: .1875rem .625rem;
        display: block;

        &:hover {
          background-color: #f5f5f5;
        }
      }
      strong {
        display: block;
        font-style: italic;
      }
    }
  }

  .ns-popover-close {
    top: 4px;
    line-height: 1em;
    color: #999;
    font-size: 3em;
    position: absolute;
    right: 25px;
    text-shadow: 0 -1px 1px #111;

    &:before {
        font-family: "Helvetica", Arial, sans-serif;
        content: '\00D7';
        cursor: pointer;
    }
  }

  &.ns-popover-bottom-placement {
    .triangle {
      .triangle("bottom");
    }
  }

  &.ns-popover-top-placement {
    .triangle {
      .triangle("top");
    }
  }

  &.ns-popover-right-placement {
    .triangle {
      .triangle("right");
    }
  }

  &.ns-popover-left-placement {
    .triangle {
      .triangle("left");
    }
  }

  &.ns-popover-left-align {
    .ns-popover-tooltip {
      margin-left: 0;
    }
  }

  &.ns-popover-right-align {
    .ns-popover-tooltip {
      margin-right: 0;
    }
  }

  &.ns-popover-top-align {
    .ns-popover-tooltip {
      margin-top: 0;
    }
  }

  &.ns-popover-bottom-align {
    .ns-popover-tooltip {
      margin-bottom: 0;
    }
  }
}

//modal hack
.ngdialog-content {
    background: transparent !important;
    position: relative;
    width: 570px;
    margin: 0px auto;
}

.ngdialog-content .ui-modal-dialog {
    margin-top: 100px;
    width: 570px;

    .ui-modal-body .row {
        padding: 0 16px;
    }

    h4 {
        margin: 8px 0;
    }
}

.ngdialog-content .ngdialog-close {
    position: absolute;
    top: 13px;
    right: 13px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    background: url(/images/common/buttons/modal-sprite.png) 0 -46px no-repeat;
    border: none;
    text-indent: -10000px;
    overflow: hidden;
    z-index: 100000;
}

.ns-popover-tooltip-theme {
    top: 344px !important;

    .triangle {
        top: 25px !important;
    }
}