// Best Buy global PLP styling

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";


// adsplash
// -------------------------
.plp-adsplash {
	margin: 48px 0 0;
}


// variables
// ------------------------

@techSpotLightBorder:           #dadada;  

@secondaryPromoBorder:          @hrBorder;
@secondaryPromoBorderRadius:    12px;

// prod listing item
.skulist {
	.messaging {
		h3 {
			display: none;
		}

		.available {
			background: url('/images/common/pictures/ico-in-stock.gif') no-repeat;
			padding: 0 0 0 20px;
		}

		.not-available {
			background: url('/images/common/pictures/ico-out-of-stock.gif') no-repeat;
			padding: 0 0 0 20px;
		}

		.online-limit,
		.french-compliant {
			margin: 5px 0 0;
		}

		.ispu-online-only {
			display: none;
		}
	}

	.order-reserve {
		margin: 8px 0 0;
	}

	.customer-rating {
		margin: 0 0 13px;

		.rating-title {
			display: none;
		}

		.rating-stars {
			width: 110px;
		}
	}

	.skublocklist{
		.infos{
			padding: 0px 5px 0 0;
			
			.availability-special-message{
				display: none;
			}
			
			p{
				margin: 0px 0px 6px 0px;
			}
			
			p.model{
				margin: 0 0 13px 1px;	
			}
		}
	}
		
	.hr{
		height: 1px;
	}
	
	.hr.top{
		height: 4px;
	}
	
	td.prices{
		border-left: 1px dotted #999;
		
		.prodprice .amount{
			font-family: Arial black, arial;
			font-weight: 900;
		}
	}
}


.tech-spotlight-dept {
	
	.tech-spotlight-inner {
		border-top: 1px solid @techSpotLightBorder;
		border-bottom: 1px solid @techSpotLightBorder;
		background-image: url('/images/common/backgrounds/showcase-dept-en.jpg'); 
		background-repeat: no-repeat;
		height: 69px;
		padding: 0 0 0 15px;

			.all-articles {
				width: 94px;
				padding-top: 50px;
				color: @white;
				font-size: 11px;
				line-height: 10px;
			}
			
			.article-wrapper {
				height: 69px;
				overflow: hidden;
				background-image: url('/images/common/backgrounds/showcase-bg.jpg');
				border-right: 1px solid @techSpotLightBorder;
				width: 450px;
				background-repeat: repeat-x;
				cursor: pointer;
			}	

			.article-wrapper a.learn-more {
				display: none;
			}
  
			.article-wrapper:hover {
				background-image: url('/images/common/backgrounds/showcase-selected-dept.jpg');
			}

			.article-thumb {
				height: 68px;
				width: 90px;
            }

			.article-thumb img {
				height: 68px;
				width: 90px;
			}

			.article-content {	
				width: 260px;
				padding: 0 0 0 8px;
				height: 69px;
            }

			.article-content .article-heading {
				margin: 0;
				display: table-cell;
				vertical-align: middle;
				height: 69px;
            }

			.article-content .article-heading a {
				color: #4d4d4f;
				text-decoration: none;
				text-transform: uppercase; 
			}

	.article-arrow {	
		background-image: url('/images/common/buttons/learn-more-button-en.jpg');	
		background-position: 0px 27px;
		background-repeat:no-repeat;
		width: 90px;
		height: 69px;
		}
	}
}

.rating-stars{
	.rating-score{
		font-weight: bold;
		vertical-align: top;
		margin-left: 5px;
	}
}

// Steve Yawan - Temporarily hide buttons - issue related
.prod-layout-skublockgrid {
	.btn{
		display: none;
	}
}

// department page edit
// -----------------------------

// theme related
#pagecontentmain2 {
	.p4-across {
		.img150x150 { // using same theme for 4 across wide, forcing across thumb size for center column
			height: 100px !important;
			width: 100px !important;
		}
	}
}

// temporary during boxing day 2012
.p3-across .across-item .gradient-yellow .across-thumb img {
	height: 130px;
	width: 130px;
}


// plp container
// -------------------------
.prod-listing-wrapper {
	float: right;
}

.listing-content-dynamic {
	display: none;
	margin: 0 0 24px;
	width: 734px; // due to legacy structure
}

// legacy ids
#pagecontentmain2 {
	margin: 0 10px 0 0;
}


// listing content item
// ----------------------------
.listing-content-heading {	
	h1 {
		font-size: 28px;
		line-height: 32px;
		margin: 0 0 2px;
	}
}

// override float when span-listing
.span-listing {
	.listing-content-heading {
		float: none;
		width: 100%;
	}
}


// listing content item
// ----------------------------
.listing-item {
	border-top: 1px solid @hrBorder;
	margin: 0;
	padding: 16px 0;
	position: relative;

	.prod-image,
	.prod-info {
		float: left;
	}
	
	.prod-image > a {
		display: block;
		height: 150px;
	}
	
	.price-wrapper {
		float: right;
		margin: -2px 0 0;
	}

	.prod-info {
		border-right: 1px dotted @hrBorder;
	}

	.compare-checkbox {
		bottom: 0;
		color: @linkColor;
		line-height: normal;
		margin: 4px 0 0;
		position: relative;
		text-align: center;
		
		label {
			cursor: pointer;
			margin: 0;
		}

		input {
			display: inline;
			margin: -2px 0 0;
		}

		.btn-compare {
			left: 118px;
			padding: 0 8px;
			position: absolute;
			top: -6px;
			width: 115px;
			.animation(fadeIn 0.20s linear);
		}
	}

	.prod-title {
		font-size: 14px;
		line-height: 1.35;
		margin: 0;
	}

	.prod-rating,
	.prod-availability {
		margin: 24px 0 0;
	}

	.rating-stars {
		margin: 0 8px 0 0;
	}

	.rating-num {
		color: @black;
	}

	.prod-availability {
		li {
			border: 0;
			margin: 0 0 6px;
		}
	}

	// width
	.prod {
		&-image {
			margin: 0 2.17983651% 0 0; // 16px / 734px
			width: 20.4359673%; // 150px / 734px
		}

	&-info {
			margin: 0 2.17983651% 0 0; // 16px / 734px
			padding: 0 4.35967302% 0 0; // 32px / 734px
			width: 48.5013624%; // 356px / 734px
		}
	}

	.price-wrapper {
		width: 22.2070845%; // 163px / 734px
	}
}


// list listing specific
// -----------------------------
.list-view {
	.listing-item {
		.prod-info {
			min-height: 150px;
		}

		&:first-child {
			border-top: 0;
		}
	}

	.listing-row {
		.listing-item {
			border-top: 1px solid @hrBorder;
		}

		&:first-child .listing-item:first-child {
			border-top: 0;
		}
	}
}


// grid listing specific
// -----------------------------
.grid-view {
	.listing-row {
		border-top: 1px dotted @hrBorder;
		*zoom: 1;

		&:before,
		&:after {
			display: table;
			content: "";
		}

		&:after {
			clear: both;
		}

		&:first-child {
			border-top: 0;
		}
	}

	.listing-item {
		border: 0;
		float: left;
		padding: 24px 0;
		width: 25%;

		&.row-item-last .item-inner {
			border-right: 0;
		}
	}

	.item-inner {
		border-right: 1px dotted @hrBorder;
		padding: 0 16px;
	}

	.prod-image,
	.prod-info,
	.price-wrapper {
		float: none;
		width: 100%;
	}

	.prod-info {
		border-right: 0;
		margin: 0 0 106px;
		padding: 0;
	}

	.prod-image {
		margin: 0 0 10px;
		text-align: center;
	}
	
	.prod-title {
		font-weight: normal;
		overflow: hidden;
	}

	.prod-availability {
		bottom: 56px;
		margin: 0;
		min-height: 56px;
		padding: 0 8px 0 0;
		position: absolute;

		li {
			float: none;
			margin: 8px 0 0;
        }

		li:first-child {
			margin: 0;
		}
	}

	.compare-checkbox {
		bottom: 24px;
		position: absolute;

		input {
			margin: -2px 4px 0 1px;
		}
	}

	.compare-checked {
		.listing-item {
			padding: 24px 0 52px;
		}

		.item-inner {
			padding: 0 16px 32px;
		}
		
		.prod-availability {
			bottom: 84px;
		}
		
		.compare-checkbox {
			bottom: 52px;
		}

		.btn-compare {
			left: 0;
			top: 22px;
		}
	}

	.prod-rating {
		margin: 16px 0 0;
	}

	.price-wrapper {
		margin: 0 0 16px;
	}

	.rating-stars {
		margin: 0 4px 0 0;
	}
}


// listing control wrapper
// -------------------------
@bbyListControlBorder:			#ccc;
@bbyListControlBgStart:			@white;
@bbyListControlBgEnd:			#ededed;

.listing-control-wrapper {
	font-size: 12px;
	padding: 10px 0;
	position: relative;

	.pagination-control-wrapper,
	.display-product-number {
		float: left;
	}
	
	.sort-by-wrapper {
		float: right;
		line-height: 19px;
	}

	.products-per-page-wrapper,
	.layout-toggle {
		z-index: 1;
	}

	.products-per-page-wrapper {
		vertical-align: middle;
	}

	.display-product-number {
		margin: 0 1.06718346% 0 0;
		width: 19%;
	}

	.pagination-control-wrapper {
		line-height: 17px;
		margin: 0 1.06718346% 0 0;
		width: 55.8656331%;
	}

	.sort-by-wrapper {
		width: 23%;
	}
}


.listing-control {
	&-bby {
		border-bottom: 1px solid @bbyListControlBorder;
		border-top: 3px solid @bbyListControlBorder;
	}

	&-top {
		height: 25px;
		padding: 8px 0 7px;
		text-align: right;
	}
}


// display product number
// -------------------------
.display-product-number {
	line-height: 29px;
}


// grid / list view toggle
// -------------------------
@toggleBg:            		@white;
@toggleBorder: 				#ccc;
@toggleBorderActive: 		#007fd8;

.layout-toggle {
	position: absolute;
	right: 0;

	a {
		background: @toggleBg;
		border-bottom: 3px solid @toggleBorder;
		.box-sizing(border-box);
		float: left;
		line-height: normal;
		height: 35px;
		outline: 0;
		padding: 4px 9px 12px;
    }

	a:hover {
		border-bottom: 3px solid @toggleBorderActive;
		.transition(border linear 0.15s);
	}

	.list-view.active .icon-list {
		background-position: -38px -1px;
	}
	
	.grid-view.active .icon-grid {
		background-position: -56px -1px;
	}

	.active a {
		border-bottom: 3px solid @toggleBorderActive;
		cursor: default;
	}

	.icon-list {
		background-position: -2px -1px;
		height: 15px;
		width: 15px;
	}

	.icon-grid {
		background-position: -20px -1px;
		height: 15px;
		width: 15px;
	}
}


// sorting filters
// --------------------------
@sortingViewByActiveBg:     #c7c8ca;
@sortingViewByActiveColor:  @black;
@uiSelectMenuBg:            @white;
@uiSelectMenuActiveBg:      #e5e5e5;
@uiSelectMenuBorder:        #c7c8ca;

.sorting-filter-wrapper {
  vertical-align: middle;
}

// filter dropdown icon
.icon-filter-dropdown {
	background-position: 2px -63px;
	border-left: 1px solid @uiSelectMenuBorder;
	height: 19px;
	margin: -2px 0 0 5px;
	width: 16px;
}

// sorting list
.sorting-list {
	background-color: @uiSelectMenuBg;
	display: inline-block;
	.ie7-inline-block();
	margin: 0;
	position: relative;

	.sorting-item {
		border: 1px solid @uiSelectMenuBorder;
		.border-radius(3px);
		cursor: pointer;
		margin: 0;
		padding: 4px 5px;

		&:hover,
		&:active,
		&:focus {
			background-color: @uiSelectMenuActiveBg;
		}

		> a {
			color: @black;
			text-decoration: none;
		}
	}
}

// sorting sublist
.sorting-sublist  {
	background-color: @uiSelectMenuBg;
	border: 1px solid @uiSelectMenuBorder;
	padding: 0;
	top: 94%;

	.active {
		background: none;
		
		a {
			text-decoration: none;
		}
	}

	.sorting-subitem {
		border-left: 0;
		margin: 0;
		text-align: left;

		a {
			padding: 4px 16px;

			&:hover {
				background: @uiSelectMenuActiveBg;
			}
		}
	}
}


// product per page sorting
// --------------------------
@prodPerPageBorder: 			#ccc;
@prodPerPageBorderActive: 		#007fd8;
@prodPerPageColorActive:		@prodPerPageBorderActive;

.products-per-page-wrapper {
	position: absolute;
	right: 92px;
	
	.sorting {
		&-label {
			float: left;
			line-height: 25px;
		}

		&-list {
			float: right;
		}

		&-item {
			border: 0;
			.border-radius(0);
			padding: 0;

			a {
				border-bottom: 3px solid @prodPerPageBorder;
				.box-sizing(border-box);
				color: @black;
				float: left;
				height: 35px;
				outline: 0;
				padding: 5px 9px 12px;

				&:hover {
					border-bottom: 3px solid @prodPerPageBorderActive;
					.transition(border linear 0.15s);
					text-decoration: none;
				}
			}

			&:hover {
				background: 0;
			}
		}
	}

	.active {
		a {
			border-bottom: 3px solid @prodPerPageBorderActive;
			color: @prodPerPageColorActive;
			cursor: default;
			text-decoration: none;
		}

		&:hover {
			text-decoration: none;
		}
	}
}


// pagination --------------------------------
// -------------------------------------------
@pagiText:        		#2e3337;
@pagiBgSelected:        #e2e2e2;


.pagination-control-wrapper {
	vertical-align: middle;
	height: 29px;
}

// pagination control
.pagination-control {
	height: 29px;
	overflow: hidden;

	a {
		color: @pagiText;
		cursor: pointer;
		float: left;
		outline: 0;
		padding: 6px 10px;
		text-decoration: none;
    }

    a:hover {
		text-decoration: underline;
	}
	
	.current {
		a {
			background: @pagiBgSelected;
			.border-radius(3px);
			.box-shadow(inset 1px 1px 1px rgba(0,0,0,0.15));
			cursor: default;
			font-weight: bold;
			text-decoration: none;
        }
		
        a:hover {
			text-decoration: none;
		}
	}

	.disabled a,
	.disabled a:hover {
		background-color: transparent;
		color: @grayLight;
		cursor: default;
		text-decoration: none;
	}

	.pagi-dots {
		a {
			padding: 6px 0;
		}
	}
}


// previous and next icons
.pagination-control {
	.pagi-prev,
	.pagi-next {
		a {
			background: url('/assets/backgrounds/sprite-base-component.png') no-repeat;
			font-weight: bold;
		}
	}

	.pagi-prev {
		a {
			background-position: -130px -73px;
			padding: 6px 10px 6px 16px;
		}
	}

	.pagi-next {
		a {
			background-position: -84px -73px;
			padding: 6px 16px 6px 10px;

			.fr-CA & {
				background-position: -66px -73px;
			}
		}
	}

	.disabled {
		&.pagi-prev a {
			background-position: -130px -92px;
		}

		&.pagi-next a {
			background-position: -84px -92px;
		}
	}
}


// loading light box
// -----------------------------
.loading {
	&LightBox {
		background: rgba(255,255,255,0.45);
		bottom: 0;
		display: none;
		height: 100%;
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10000;
	}
	
	&-wrapper {
		background: @white;
		border: 1px solid @hrBorder;
		.border-radius(5px);
		.box-sizing(border-box);
		.box-shadow(2px 2px 4px rgba(0,0,0,0.2));
		height: 130px;
		left: 52%;
		padding: 12px 0 15px;
		position: absolute;
		top: 250px;
		text-align: center;
		width: 160px;
		z-index: 10001;

		p {
			margin: 0 0 18px;
		}
	}
}


// sidebar shared
// -----------------------------
.menu-wrapper {
	border-right: 1px solid #ccc;
	font-size: 12px;
	padding: 0 0 16px;

	nav {
		margin: 0 0 32px;
	}

	.menu-title {
		background: #e6e7e8;
		color: inherit;
		font-size: 14px;
		font-weight: bold;
		margin: 0 0 10px;
		padding: 12px 8px 10px;
		text-rendering: optimizelegibility;
	}

	.checkbox {
		min-height: 18px; // clear the floating input if there is no label text
		padding-left: 18px;
	}

	.checkbox input[type="checkbox"] {
		float: left;
		margin-left: -18px;
	}
	
	ul {
		padding: 0 8px;
	}

	li {
		margin: 0 0 10px;

		&:last-child {
			margin: 0;
		}
	}
}

.count {
	color: #4d4d4f;
	font-size: 10px;
}


// menu category
// ----------------------
.category-list {
	.current-node {
		color: @textColor;
		cursor: default;
		font-weight: 700;
		pointer-events: none;

		&:hover {
			text-decoration: none;
		}
	}
}


// menu facet
// ----------------------
.facet {
	&-section {
		margin: 0 0 32px;

		&:last-child {
			margin: 0;
		}

		li {
			margin: 0 0 6px;
		}
	}

	&-list {
		color: @linkColor;

		.checkbox {
			cursor: pointer;
			margin: 0;
			position: relative;
			
			input[type=checkbox] {
				-webkit-appearance: none;
				background: @white;
				.border-radius(2px);
				border: 1px solid @hrBorder;
				cursor: pointer;
				content: '';
				display: inline-block;
				.ie7-inline-block();
				height: 14px;
				width: 14px;
				
				&:checked + .item {
					color: #007fd8;
					font-weight: bold;
				}

				&:checked:after {
					border: 3px solid #007fd8;
					border-top: none;
					border-right: none;
					content: '';
					height: 3px;
					left: 2px;
					position: absolute;
					top: 3px;
					.rotate(-50deg);
					width: 7px;
				}
			}
		}
	}

	&-price {
		height: 110px;
		position: relative;
	}
	
	&-customerRating &-list {
		.item {
			background: url('/Assets/backgrounds/sprite-search-rating.png') no-repeat;
			display: inline-block;
			.ie7-inline-block();
			padding: 0 0 0 74px;
		}

		.filter--5-0 {
			.item {
				background-position: 0 -1px;
			}
		}

		.filter-4-0-5-0 {
			.item {
				background-position: 0 -27px;
			}
		}

		.filter-3-0-4-0 {
			.item {
				background-position: 0 -52px;
			}
		}

		.filter-2-0-3-0 {
			.item {
				background-position: 0 -76px;
			}
		}

		.filter-1-0-2-0 {
			.item {
				background-position: 0 -100px;
			}
		}
	}

	&-expanded {
		height: 300px;
		overflow-y: scroll;
	}
}


// facet slider
// ----------------------
.facet {
	&-slider {
		height: 39px;
		margin: 0 14px;
		position: relative;
		width: 135px;
	}
}

.slider {
	&-bar {
		border: 1px solid #c7c8ca;
		.box-sizing(border-box);
		height: 8px;
		left: 0;
		right: 0;
		position: absolute;
		top: 10px;
	}

	&-inactive {
		background: @white;
	}

	&-active {
		background: #007fd8;
	}
	
	&-control {
		background: url('/Assets/backgrounds/sprite_facet_slider.png') no-repeat;
		cursor: pointer;
		height: 26px;
		position: absolute;
		width: 16px;
	}

	&-left {
		background-position: -2px -2px;
		left: -9px;
	}

	&-right {
		background-position: -2px -41px;
		right: -9px;
	}
	
	&-points {
		display: block;
		font-size: 10px;
		position: relative;
		top: 25px;

		li {
			margin: 0;
			position: absolute;
		}

		.active {
			color: @bbyBlueDarker;
		}

		.first-point {
			left: -9px;
		}

		.last-point {
			right: -9px;
		}
	}
}

.facet-slider-graph {
	background: @white;
	display: none;
	position: relative;
	
	ul {
		padding: 0;
	}
	
	.graph {
		&-y-axis {
			color: #2e3337;
			font-size: 10px;
			float: left;
			line-height: normal;
			width: 27px;

			li {
				line-height: 19px;
				margin: 0;
			}
		}
		
		&-chart {
			float: left;
		}

		&-line {
			border-top: 1px solid #e6e7e8;
			height: 18px;
			margin: 0;
			position: relative;
			top: 10px;
			width: 128px;

			&:last-child {
				border-top: 1px solid #9d9fa2;
			}
		}
		
		&-bars {
			position: absolute;
			left: 27px;
			height: 105px;
			width: 128px;
		}

		&-bar {
			background: #cfd0d2;
			bottom: 0;
			height: 100%;
			margin: 0;
			position: absolute;
			width: 3px;
		}
	}
}

// animation for facet slider
@-webkit-keyframes slideUpFacet{.slideUpFacet;}
@-moz-keyframes slideUpFacet{.slideUpFacet;}
@-o-keyframes slideUpFacet{.slideUpFacet;}
@keyframes slideUpFacet{.slideUpFacet;}

.slideUpFacet {
	0% {
		opacity: 0;
		.translate(0, 20px);
	}
	
	100% {
		opacity: 1;
		.translate(0, 0);
	}
}

.facet-slider-wrapper {
	&:active {
		background: @white;
		.box-shadow(0 -8px 10px -6px rgba(0,0,0,0.35));
		bottom: 10px;
		height: 153px;
		padding: 13px 3px 13px 2px;
		position: absolute;

		.facet-slider-graph {
			display: block;
			.animation(slideUpFacet 0.5s);
		}

		.facet-slider {
			left: -2px;
		}
	}
}
