// Best Buy products styling
// includes across styling and anything that is related to itemize product display

// availability status
// -----------------------
@notAvailableColor:     #77787b;

.availability-status {
	background: url('/assets/backgrounds/sprite-base-component.png') no-repeat;
	color: inherit;
	font-size: 12px;
	line-height: 16px;
	padding: 0 0 0 22px;

	&:first-letter {
		text-transform: uppercase;
	}
	
	.ispu_reservation & {
	
		background: none;
		padding: 0px;
	}
}

.available {
	background: url('/assets/icons/icon_availability.png') no-repeat 0px 1px;
}

.not-available {
	color: @notAvailableColor;
	background: url('/assets/icons/icon_availability.png') no-repeat 0px -75px;
}


// variable
// -----------------------
@notAvailableColor:		  #666;

@across-border:           #c9c9c9;
@themeHeadlineBorder:     #ee2831;
@option3BgStart: #fff657;
@option3BgEnd: #ffd800;
@option3BgStop1: #f3df00;

@option1BgStart: #656768;
@option1BgEnd: #2e3337;
@option1BgStop1: #2e3337;

@option2BgStart: #e5e6e7;
@option2BgEnd: #c7c8ca;
@option2BgStop1: #c7c8ca;


// across items
// ------------------------
.spite-rz {
	background: url("/images/common/backgrounds/sprite-rz-themes.png") repeat scroll 0 0 transparent;
	display: inline-block;
}
  
.rz {
	&-bubble {
		background-position: -10px 108px;
		width: 54px;
		height: 53px;
		position: absolute;
		top: 0;
		right: -10px;
	}

	&-dept-icon {
		background-position: 5px 230px;
		width: 107px;
		height: 51px;	
	}  

	&-2across-icon {
		background-position: 13px 610px;
		width: 160px;
		height: 50px;	
	}  

	&-2across-special-icon {
		background-position: 2px 853px;
		width: 100px;
		height: 80px;	
	}

	&-3across-special-icon {
		background-position: -6px 662px;
		width: 55px;
		height: 55px;	
	}

	&-pc-icon {
		background-position: 5px 478px;
		width: 142px !important;
		height: 66px;	
	}
}

.across-wrapper {
	.theme-headline-inner-text {
		font-size: 14px;
		color: @grayDark;
		font-weight: bold;
	}
	
	.section-heading {
		background-image: url('/images/heading-bg.jpg');
		height: 34px;
		border: 1px solid #cccccc;
		padding: 16px 0 0 20px; 
		position: relative;
		background-position: bottom;
		background-repeat: repeat-x;
		margin: -1px 0 0 0;		
		z-index: 10;    
		
		h2 {
			text-transform:uppercase;
			color: #2e3337;
			font-weight: 900;
			font-family: 'Arial Black',Arial,Helvetica,sans-serif;
		}
	}

	.prodTagLine li {
		background: url("/images/common/buttons/icon_check_red.gif") no-repeat scroll 0 5px transparent;
		line-height: 1.35;
		list-style-type: none;
		padding-left: 12px;
		font-size: 11px;
	}

	.across-item {
		float: left;
		
		h3,
		h4,
		.across-thumb,
		.price-wrapper,
		.prod-quick-infos,
		.rating-wrapper {
			margin: 0 0 16px;
		}
		
		h3,
		h4 {
			font-size: 14px;
			line-height: 19px;
		}

		.review-wrapper {
			display: none;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		a {
			font-weight: bold;

			&:hover,
			&:active {
				color: @linkColor;
				text-decoration: underline;
			}
		}
	}
}

.inner-product-wrapper {
  padding: 0 8px 8px;
}

// the unusual 6 across item, no dividing rules and centered content  - i.e. used for homepage featured brands
.p6-across {
	// always apply on full width
	&-full {
		.across-item {
			text-align: center;
			width: 163px;
		}
	}
}

.p5-across {
	.across-item {
		margin: 16px 0;
		width: 20%;
	}

	.theme-d {
		.theme-headline-inner-text {
			padding-bottom: 10px;
		}	
		.swatches {
			display: none;
		}
	}
  
	.theme-c {
		.theme-headline-inner-text {
			background-color: #fff200;
			border: 1px solid #ffd800;
			margin: 0 0 10px 0;
			padding: 10px;
		}	
	}
  
	.theme-b {
		.across-thumb {
			position: relative;
		}
	}
  
	// full page width
	&-full {
		.across-item {
			width: 195px;
		}

		.last {
			width: 194px;
		}
	}
}

.p4-across {
	.across-item {
		margin: 16px 0;
		width: 25%;
	}
  
	.theme-c, .theme-e {
		.theme-headline-inner-text {
			background-color: #fff200;
			border: 1px solid #ffd800;
			margin: 0 0 10px 0;
			padding: 10px;
		}		
	}
  
	.theme-d {
		.theme-headline-inner-text {
			padding-bottom: 10px;
		}

		.swatches {
			display: none;
		}
	}
  
	.theme-b {
		.across-thumb {
			position: relative;
		}
	}	

	// full page width
	&-full {
		.across-item  {
			width: 244px;
		}

		.last {
			width: 243px;
		}
	}
}

.p3-across {
	.across-item {
		margin: 16px 0;
		width: 33.3333%;
	}

	// full page width
	&-full {
		.across-item {
			width: 326px;
		}

		.last {
			width: 324px;
		}
	}
}

.p2-across {
	.theme-c {
		.theme-product-headline {
			background-color: #fff200;
			border: 1px solid #ffdd00;

			.theme-headline-inner-text {
				color: @black;
			}
		}	
	}
  
	.across-item {    
		margin: 16px 0;    
		width: 50%;
	}    
  
	.product-content-wrapper {
		padding: 0px 20px;	
	}
  
	.last {
		.theme-product-headline {
			display: none;
		}
	}
  
	.feature-box {
		margin-top: 60px;
		padding: 0;
	}
  
	.theme-product-headline {
		background-color: #00375f;
		padding: 5px 0;
		position: absolute;
		top: -60px;
		left: -1px;
		width: 100.4%;	
		height: 50px;
		display: table;

		.theme-headline-inner-text {
			font-size: 20px;
			color: #fff;
			display: table-cell;
			vertical-align: middle;
			height: 50px;		
			line-height: 22px;
			overflow: hidden;
			padding: 0 10px;
		}
	}

	// full page width
	&-full {
		.across-item {
			width: 489px;
		}

		.last {
			width: 488px;
		}
	}
}

.p1-across {
	.across-item {    
	width: 100%;
	}

  // full page width
	&-full {
		.across-item {
			border-right: 0;
			width: 978px;
		}
	}
}

.p1-across-special {
	.feature-box {
		border: none;
		margin: 0 0 0 0;
		padding: 5px 0;		
		
		.hdr {
			display: none;
		}
	}

	.p1-across-dept-banner {
		margin: 8px 0 8px 0;
			
		.product-content-wrapper {
			padding: 4px 0;				
			min-height: 62px;
		
			&.theme-d {			
				border: 1px solid #c9c9c9;
			}
			
			&.theme-e {
				background-color: #e6e7e8;
				border: 1px solid #c9c9c9;
			}
			
			&.theme-f {
				.gradient(@option3BgStart, @option3BgEnd, 50%, @option3BgStop1);
			}
			
			.row-fluid {
				position: relative;
			}
			
			.theme-left-column {
				text-align: center;
				padding-top: 5px;
			}
			
			.theme-middle-column {
				margin-top: 2%;
				margin-bottom: 2%;
				a {
					color: #000;
				}
			}
			
			.theme-right-column {
				position: absolute;
				bottom: 5px;
				right: 4px;
				float: right;			
				width: 83px;
				line-height: 14px;									
				a {
					font-size: 12px;				
				}
			}
			
			.theme-headline-inner-text {
				font-weight: bold;
				font-size: 16px;
			}
		}
	}

	.p1-across-pc-banner {
		position: relative;
		margin: 66px 0;	
		
		.more-like-this {
			font-size: 14px;
			color: #666666;
			margin: 10px 24px 0 0;
			padding: 0 0 0 442px;
		}

		.theme-headline-inner-text {
			font-weight: bold;
			font-size: 24px;
			min-height: 87px;
			padding: 4% 38px 4% 440px;
		}

		.image-container {
			background-color: @white;
			left: 60px;
			position: absolute;
			top: -84px;
			width: 344px;
			text-align: center;
		}

		.product-content-wrapper {
			&.theme-a {
				.theme-headline-inner-text {	
					.gradient(@option1BgStart, @option1BgEnd, 50%, @option1BgStop1);
					color: #fff;
				}
			}
		
			&.theme-b {
				.theme-headline-inner-text {	
					.gradient(@option2BgStart, @option2BgEnd, 50%, @option2BgStop1);
					color: #2e3337;
				}
				
				.span8 {
					padding-right: 20px;
					border-right: 1px solid #000;
				}
			}
		
			&.theme-c {				    		
				.theme-headline-inner-text {	
					.gradient(@option3BgStart, @option3BgEnd, 50%, @option3BgStop1);
					color: #000;
				}
			}
		}
	}
}


// themes
// ---------------------

// shared across style
// ---------------------

// Across Special
.p2-across-special,
.p3-across-special,
.p4-across-special,
.p5-across-special {

	.inner-product-wrapper {
		padding-bottom: 0;
		border-right: 1px dotted @hrBorder;
		position: relative;        
	}

	.more-like-this {
		font-size:12px;
		position: relative;    
	}
}

.p1-across,
.p2-across,
.p3-across,
.p4-across,
.p5-across {
	.last, .row-item-last {
		.inner-product-wrapper {
			border-right: 0px !important;
		}
	}
}

.p2-across,
.p3-across,
.p4-across,
.p5-across { 
	.more-like-this {
		padding-top: 15px;
	}
}

.p3-across,
.p4-across,
.p5-across {
	.theme-a,
	.theme-b,
	.theme-c,
	.theme-d,
	.theme-e {

		.inner-product-wrapper {
			border-right: 1px dotted @hrBorder;
			padding-bottom: 40px;
			position: relative;
		}
	}

	.theme-beta {

		.across-thumb {
			float: left;
		}

		.theme-short-headline {
			margin: 0 0 0 60px;
		}

		.more-like-this {
			text-align: right;
			font-size:12px;
		}

		&.home {

			.product-content-wrapper {
				padding: 5px 20px 0 25px;
			}

			.more-like-this {
				text-align: left;
				margin: 0 0 0 130px;
			}

			.theme-short-headline {
				margin: 0 0 0 130px;
			}
		}
	}
}


// n across
// -------------------------------

.n-across {
	.theme-headline-inner {
		.gradient(#f7f7f7, @white);
		color: @grayDark;
		font-weight: bold;
		font-size: 13px;
		height: 45px;
		margin: 0 2px 0 3px;
		text-align: center;
		padding: 8px;
		overflow: hidden;
	}
}


//1Big1Small
// ---------------------
.p-1big1small {
	margin-top: 100px;
	
	.view-large {
		border-right: 1px dotted #ccc;	
		position: relative;
		
		
		.theme-a, .theme-b {
			.theme-product-headline {
				background-color: #00375f;

				.theme-headline-inner-text {
					color: #fff;
				}
			}
		}
		
		.theme-c {
			.theme-product-headline {
				background-color: #fff200;
				border: 1px solid #ffd800;
				.theme-headline-inner-text {
					color: #000;
				}
			}
		}

		.theme-product-headline {
			padding: 5px 0;
			position: absolute;
			top: -80px;
			left: -1px;
			width: 920px;	
			height: 50px;
			display: table;
			text-align: center;

			.theme-headline-inner-text {
				font-size: 20px;
				display: table-cell;
				vertical-align: middle;
				height: 50px;		
				line-height: 22px;
				overflow: hidden;
				padding: 0 10px;
				font-weight: bold;
			}
		}
			
		.inner-product-wrapper {
			padding: 0 20px;

			.product-content-wrapper {
				.brand-logo, .shadow-horizontal-narrow, .call-to-action {
					display: none;			
				}						
				
				h3 {
					font-size: 20px;
				}
				
				.link {
					font-size: 14px;
				}
			}
		}
	}
	
	.view-small {
		.inner-product-wrapper {
			padding: 0 20px;
			
			.theme-headline-inner-text {
				font-weight: normal;
				font-size: 12px;
				text-align: left;
				color: #003399;
			}
		
			.price-wrapper, h4, .rz-2across-icon, .prodTagLine {
				display: none;
			}
		}
	}
}


//1Big2Small
// ---------------------

#pc-static-template,
#pc-static-title-template {
	.homepage-banner {
		margin-top: 80px;
	}
}

.homepage-banner {
	margin: 20px 0 20px 0;	
	
	.margin-left {
		margin-left: 20px;
	}
	
	.main-banner {
		border-right: 1px dotted #cccccc;
		height: 390px;	
		position: relative;	
		width: 615px;
		float: left;
		
		.theme-a, .theme-b {
			.theme-product-headline {
				background-color: #00375f;

				.theme-headline-inner-text {
					color: #fff;

				}
			}
		}
		
		.theme-c {
			.theme-product-headline {
				background-color: #fff200;
				border: 1px solid #ffd800;
				
				.theme-headline-inner-text {
					color: #000;
				}
			}
		}
		
		.theme-a,
		.theme-b,
		.theme-c {
			
			.theme-product-headline {
				padding: 5px 0;
				position: absolute;
				top: -80px;
				left: -1px;
				width: 920px;	
				height: 50px;
				display: table;
				text-align: center;
	
				.theme-headline-inner-text {
					font-size: 20px;
					display: table-cell;
					vertical-align: middle;
					height: 50px;		
					line-height: 22px;
					overflow: hidden;
					padding: 0 10px;
					font-weight: bold;
				}
			}						
			
			.inner-product-wrapper {
				padding: 20px;
			}
			
			h3 {
				font-size: 20px;
				line-height: 24px;
			}
			
			.brand-logo, .shadow-horizontal-narrow, .call-to-action {
				display: none;			
			}
			
			.link {
				font-size: 14px;
			}
		}			
	}			
	
	.small-banner {
		height: 195px;
		width: 304px;
		float: left;
		
		.theme-a, .theme-b, .theme-c {
		
			.inner-product-wrapper {
				padding: 20px;
				
				.more-like-this {
					margin-top: 16px;	
				}
			}
		}
		
		&.first {
			border-bottom: 1px dotted #cccccc;
		}
	}
}


// Column across
// ---------------------
.p-column {
	&.across-wrapper {
		.section-heading {
			height: auto;
			padding: 15px 10px;
			text-align: center;
		}
						
		.feature-box {
			margin-top: -1px;
			padding: 0;
			
			.theme-d {
				.inner-product-wrapper {
					margin-left: 10px;
				}
			}
			
			.inner-product-wrapper {
				padding: 20px;
				.theme-short-headline, .price-wrapper {
					padding-top: 8px;
				}
			}
		}
	}
}


// 1 across
// ---------------------
.p1-across {
	.buying-guide {
		margin-top: 30px;
	}
  
	.customer-rating {
		margin-bottom: 16px;
	}

	.theme-b {

		.rz-logo {
			background: url('/images/common/icons/reward-zone-en.png') left center no-repeat;
			padding: 0 0 0 150px;
		}					
	}
  
	.theme-c {
		.theme-headline-inner-text {
			background-color: #fff200;
			border: 1px solid #ffd800; 
			color: @black;
		}
	
		h3 {
			margin-top: 16px;
		}
	}
  
	.theme-d,
	.theme-e {
		.theme-left-column {
			display: table;
			text-align: left;
		}

		.centered {
			display: table-cell;
			height: 250px;
			vertical-align: middle;
		}

		h2 {
			font-size: 28px;
			line-height: 31px;
			margin: 0 0 24px;
		}

		.theme-right-column {
			height: 250px;
			overflow: hidden;
		}

		.shadow-horizontal-narrow {
			margin: 16px 0 0;
		}
	}
  
	.theme-headline-inner-text {
		font-size: 20px;
		color: @white;
		padding: 10px;
		text-align: center;
		background-color: #00375f;
		font-weight: bold;
	}
  
	.h1 {
		font-size: 20px;
	}
  
	.link {
		font-size: 14px;
	}

	.brand-logo {
		float: left;
	}
  
	.call-to-action {
		text-align: center;
	}

	.inner-product-wrapper {
		margin: 16px 0 0;
	}

	.feature-box {
		border: none;	
		margin: 0px 0px 8px 0px;
		padding-top: 0px;

		.hdr {
			display: none;
		}
	}

	.swatch {
		.colors {
			&:nth-child(7n+1) {
				margin: 0;
			}
		}
	}
}



// 2 across
// -------------------------

// 2AcrossSpecial
.p2-across-special {
	.product-content-wrapper {
		padding: 5px 0;
	}

	.section-heading {
		margin: 0;
	}

	.feature-box {
		margin-top: -1px;	
	}

	.more-like-this {
		text-align: left;
	}
}


// 3 across
// -------------------------
.p3-across-special, 
.p4-across-special, 
.p5-across-special {
	
	.feature-box {
		padding: 0;
	}
	
	.theme-a, .theme-b {
		.inner-product-wrapper {
				padding-bottom: 8px;
					.product-content-wrapper {
						padding: 0;	
						
						.prod-image {
							text-align: center;
						}
					}
		 }
	}
	
	.swatch {
		.colors {
				&:nth-child(5n+1) {
					margin: 0;
				}
			}
		}

	// theme treatment
	.theme-d {
		.product-content-wrapper {
			padding: 5px 20px 0 25px;
		}

		.more-like-this {
			text-align: left;
		}
	}
}

.p3-across {
	.theme-d {
		.theme-headline-inner-text {
			padding-bottom: 10px;
		}

		.swatches {
			display: none;
		}
	}
  
	.theme-c,
	.theme-e {
		.theme-headline-inner-text {
			background-color: #fff200;
			border: 1px solid #ffd800;
			margin: 0 0 10px 0;
			padding: 10px;
		}	
	}
  
	.theme-b {

		.across-thumb {
			position: relative;
		}

		.theme-headline-inner-text {						
			padding: 0 0 5px 0;
		}

		.img130x130 {
			float: left;
		}
	}

	.swatch {
		.colors {
			&:nth-child(5n+1) {
			margin: 0;
			}
		}
	}
}


// theme a
// --------------------------
.n-across {
	.theme-a,
	.theme-b,
	.theme-c,
	.theme-d,
	.theme-e {
		.more-like-this {
			text-align: center;
		}
	}
}


// themes shared elements
// -------------------------
.theme-special-offers {
	a {
		display: block;
		margin: 8px 0 0;
	}
}

.n-across {
	.border-triangle {
		position: relative;
		top: -2px;
	}

	.l2-triangle {
		display: block;
		margin: auto;
	}
}

.p2-across,
.p3-across,
.p4-across,
.p5-across,
.p-column {
	h4 {
		a {
			font-weight: normal;
		}
	}
}

.p2-across-special,
.p3-across-special,
.p4-across-special,
.p5-across-special {
	.across-item {
		h4 {
			font-size: 12px;

			a {
				font-weight: 700;
			}
		}
	}
}


// from default.css
// below is legacy codes, revisit for clean up
// --------------------------------------------

// THEMES

// 1 Across
.p1-across .product-content-wrapper {
	padding: 0px 12px 0px 12px;
}

.p1-across img.img250x250 {
	width: 200px !important;
	height: 200px !important;
}

.p1-across .theme-across-headline-inner {
	padding-top: 15px;
	padding-bottom: 10px;
}

.p1-across .theme-left-column {
	float: left;
	text-align: center;    
	padding-bottom:3px;
}

.a1-theme-get-it-first {
	float: right;
}

.p1-across .pricepill {
	float: left;
	width: 130px;
}

.p1-across-tech-spotlight .std li {
	padding: 0px;
}

a.p1-across-buy-now {
	margin-top: 25px;
	color: #be0027;
	font-weight: bold;
	display: block;
	float: left;
	text-decoration: none;
	font-size: 12px;
}

.p1-across .theme-right-column {
	float: right;
}

.p1-across-tech-spotlight {
	margin-top: 15px;
}

.p1-across-swatches .top-spacem {
	margin-bottom: 10px;
}

.across-more-colors {
	display: none;
}

.p1-across-swatches .across-more-colors{
	display: block;
}

// 1-across Tab Layout


// 2 Across, 3 Across, 4 Across, 5 across
.p2-across {
	margin-bottom: 8px;
}

.n-across .theme-a .img130x130,
.n-across .theme-c .img130x130 {
	margin: 0 auto 15px;
	display: block;
}

.p2-across .last .theme-product-headline {
	margin-right: 0px;
	margin-left: 4px;
}

.p3-across .theme-headline-inner {
	font-size: 12px;
}

.n-across .inner-product-wrapper {
	border-right: 1px solid #ccc;
	padding: 0px;
	padding-right: 4px;
}

.featureproduct .inner-product-wrapper {
	border-right: none; 
}

.n-across .last .inner-product-wrapper {
	padding-right: 0px;
	padding-left: 4px;
}

.p3-across .theme-a .more-like-this,
.p3-across .theme-b .more-like-this,
.p3-across .theme-c .more-like-this,
.p3-across .theme-d .more-like-this,
.p3-across .theme-e .more-like-this,
.p4-across .theme-a .more-like-this,
.p4-across .theme-b .more-like-this,
.p4-across .theme-c .more-like-this,
.p4-across .theme-d .more-like-this,
.p5-across .theme-a .more-like-this,
.p5-across .theme-b .more-like-this,
.p5-across .theme-c .more-like-this,
.p5-across .theme-d .more-like-this {
	bottom: 5px;    
	left: 0;
	position: absolute;
	right: 0;
	padding-left: 17px;
	padding-right: 17px;
}

.n-across .pricepill a img {
	display: block;
	margin: auto;
}

.n-across .theme-a .product-content-wrapper,
.n-across .theme-c .product-content-wrapper {
	padding: 0px 20px;
	text-align: center;
}

.p4-across .theme-a .product-content-wrapper,
.p4-across .theme-b .product-content-wrapper,
.p4-across .theme-c .product-content-wrapper,
.p4-across .theme-d .product-content-wrapper {
	padding: 0px 20px;
}

.product-content-wrapper .theme-short-headline {
	font-weight:bold;
}

.p3-across .theme-a .product-content-wrapper,
.p3-across .theme-b .product-content-wrapper,
.p3-across .theme-c .product-content-wrapper,
.p3-across .theme-d .product-content-wrapper,
.p3-across .theme-e .product-content-wrapper {
	padding: 0px 20px;
}

.ui-tabcontrol-contents {
  padding-top: 0px;

	.feature-box {
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
}

.department-headline .ui-tabcontrol-contents {
	padding-top: 0px;
}

.theme-b .theme-short-headline a {
	text-decoration: none;
}

.p5-across .theme-a .product-content-wrapper,
.p5-across .theme-b .product-content-wrapper,
.p5-across .theme-c .product-content-wrapper,
.p5-across .theme-d .product-content-wrapper {
	padding: 0px 10px;
}

.rebate-top-custom .callout {
	display: block;
	font-size: 9px;
	font-weight: bold;
	letter-spacing: -1px;
	padding: 2px 5px;
}

.rebate-top-custom {
	background: url("/projects/_content/promo/assets/samplesale/MediumFSSaveBanner.gif") no-repeat scroll right top white;
	height: 16px;
	margin-left: 15px;
	text-align: left;
	width: 97px;
}

.department-headline .ui-tabcontrol-tabs .selected a:hover {
  *filter: none !important;
}

// QL CSS
.featureproduct {
	border-right: 1px dotted #ccc;
	padding-top: 20px;
	padding-bottom: 20px;
	*padding-bottom: 36px; // IE Fix
}

.featureproduct .inner-product-wrapper {
	display: table-cell;
	vertical-align: middle;
}

.last .featureproduct {
	border-right: none;
}

.n-across .rating-holder {
	margin-bottom: 8px;
	margin-top: 0px
}

.n-across .customer-rating {    
	margin-top: 8px
}

.n-across .swatches {    
	margin-top: 8px
}

.n-across .across-thumb {
	text-align: center;
}

.n-across .rating {
	background: none;
	text-align: left;
	padding-left: 0px;
	margin-left: 0px
}

.n-across .rating-title,
.n-across .customer-text {
	display: none;
}

.n-across .theme-a .product-content-wrapper {
	text-align: left
}

.content-title-block {
	padding-left:12px;
	width:420px;
	padding-bottom: 9px; 
}

.pdpdetailbox .content-block .getfirst_style {
	font-size:13px;
	clear:left; 
}

//PDP
.ui-tab-content-wrapper .tab-overview-item {
    margin: 0 0 16px;

    p {
        margin: 0 0 8px;
    }

    ul {
        margin: 8px 0 0 0;
    }

    ul li {
        list-style: disc inside none;
        display: list-item;
        overflow: visible;
        margin: 0 0 8px;
    }
}

.theme-c .red-arrow-list li {
	text-align: left;
}

.n-across .theme-a .product-content-wrapper,
.n-across .theme-c .product-content-wrapper {
	text-align: left;
}

.theme-c .pricepillred {
	text-align: left;	
}

// Category pages: Featured Products
.category-main {
	.prod-container {
		.feature-box {
		
			.theme-a {
			
				.product-content-wrapper {
					
					h4,
					.price-wrapper,
					.prodTagLine,
					.customer-rating,
					.rating-title {
					
						margin: 0 0 10px 0;
					}
					
					.customer-rating,
					.more-like-this {
						
						clear: both;
					}
					
					.more-like-this {
						
						position: absolute;
						bottom: 5px;
					}
				}
			}
		}	
	}
}


/*//////////////////////////////////////////////////////////////*/
/*////////////////// LAYOUT ACROSS - THEMES ////////////////////*/
/*//////////////////////////////////////////////////////////////*/

/** === THEME SPECIFIC CSS === **/
.b1.prodWrap .prodPrice, .b2.prodWrap .prodPrice, .b3.prodWrap .prodPrice, .b4.prodWrap .prodPrice {
	padding-top: 0;
}

.OneAcrossSpecial .prodWrap .prodHeadline {
	padding: 0px 20px 10px 0px;
	font-size: 18px;
}

.OneAcrossSpecial .prodWrap .prodTitle, .OneAcrossSpecial .prodWrap .prodTitle a{
	font-size: 12px;
	font-weight: normal;
	color: #77787b;
}


/** HOME PAGE LAYOUT OVERRIDES **/

.ui-accordion-content .feature-box {
	border-top: none;
	border-bottom: none;
	padding: 0px;
	margin: 0px;
}

/** END HOME PAGE LAYOUT OVERRIDES **/

/** === END THEME SPECIFIC CSS === **/

.prod-layout-column {
	z-index: 3;
	position: relative;
}

.prod-layout-column .hr {
	margin: 0px 10px;
}

.prod-layout-column .feature-box {
	padding: 0px;
}

.prod-layout-column .feature-box .hdr {
	background: #D6DBF7;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 7px 9px 9px;
	display: block;
	margin: 0px;
	position: relative;
	top: 0px;
	left: 0px;
	color: #2e3337;
}

.prod-layout-column .prodWrap {
	padding: 10px;
}

.prod-layout-column .prodTitle {

}

.prod-layout-column .miniQuickViewWrap {
	position: relative;
	z-index: 2;
}

.prod-layout-column .miniQuickView {
	position: absolute;
	top: -13px;
}

/** BASE TEMPLATE LAYOUT CSS **/
.prodPrice .priceblock {
	line-height: 1.1;
}

.prodPrice .sale, .red {
	color: #ff0000;
}

.prodPrice .sale-end {
	font-weight: normal;
	font-size: 11px;
}

.prodPrice .details {
	font-size: 11px;
}

.prodPrice .sale-regular {
	display: none;
}

.prod-container .hr {
	margin: 15px;
}

.prod-no-border {
	border-right: none !important;
}

.prodWrap .prodHeadline {
	color: #4d4d4f;
	font-weight: bold;
	font-size: 18px;
	display: block;
	padding: 0px 20px 10px;
}

.prodWrap .prodDetails
{
	margin: 0px;
}

.prodWrap .prodTitle
{
	font-size: 12px;
	color: #4d4d4f;
	font-weight: bold;
	line-height: 1.35;
}

.prodWrap .prodTitle a, .prodWrap .prodTitle a:visited, .prodWrap .prodTitle a:active {
	color: #003399;
}

.prodWrap .prodImage
{
	text-align: center;
	margin: 0px auto 5px;
}

.prodWrap .customer-rating {
	padding-top: 10px;
}

.prodWrap .customer-rating .rating-title {
	display: none;
	/*font-weight: normal;
	font-size: 8px;
	padding-bottom: 2px;*/
}

.prodWrap .customer-rating .rating-stars .nbr {
	vertical-align: top;
	margin-left: 2px;
}

.prodWrap ul.prodTagLine {
	list-style-type: none;
	padding-top: 10px;
}

.prodWrap .prodTagLine li {
	background: transparent url(/images/common/buttons/icon_check_red.gif) no-repeat scroll 0 5px;
	margin: 0px;
	padding-left: 12px;
	list-style-type: none;
	line-height: 1.35;
}

* html .prodWrap .prodTagLine li {
	zoom: 1;
}


.prodWrap .prodPrice {
	padding-top: 10px;
	font-weight: bold;
	font-size: 14px;
}

.prodWrap .prodTagLine {

}

.prodWrap .quickview {
	font-size: 11px;
	padding-top: 10px;
	clear: both;
}

.prodWrap .buttons {
	padding-top: 15px;
}

.prodWrap .mccpblue, .prodWrap .mccpgray {
	float: left;
}

.prodWrap .mccpright {
	width: 128px;
}

.prodWrap .prod-image a { /* ie fix */
	display: block;
	zoom: 1;
}

.prodWrap .seeMore {
	padding-top: 10px;
}

.prodWrap .swatches {
	padding-top: 10px;
}

.prodWrap .swatches .colors {
	margin: 2px 4px 0 0;
}

.prodWrap .prodLogo {
	text-align: right;
}

/** END BASE TEMPLATE LAYOUT CSS **/

/** VERTICAL ORIENTATION LAYOUT CSS **/

.prod-orient-ver {
	float: left;
	border-right: 1px dotted #ccc;
	position: relative;
}

.prod-orient-ver .prodWrap {
	border: none;
	padding: 0 10px;
}

/** VERTICAL ORIENTATION LAYOUT CSS **/

/** HORIZONTAL ORIENTATION LAYOUT CSS **/

.prod-orient-hor .prodWrap .prodImage {
	float: left;
	padding: 0px 10px 0px 20px;
	position: relative;
}

.prod-size-1 .prod-orient-hor .prodWrap.c1 .prodDetails {
	float: right;
}

.prod-size-1 .prod-orient-hor .prodWrap.c1 .prodImage .shop-now {
	display: none;
}

.prod-orient-hor .prodWrap .prodDetails {
	float: left;
	padding: 0px 10px;
	line-height: 1.4;
}

.prod-orient-hor .prodTitle, .prod-orient-hor .prodTitle a {
	font-size: 15px;
	font-weight: bold;
	color: #4d4d4f;
}

.prod-orient-hor .prodPrice {
	font-size: 15px;
}

.prod-orient-hor .prodPrice .priceBubble, .prod-orient-hor .prodPrice .priceBubbleSmall {
	margin: 0px;
}

.prod-orient-hor .swatches {
	position: absolute;
	top: 262px;
	left: 20px;
}

.prod-orient-hor .c1 .swatches {
	position: static;
	top: auto;
	left: auto;
	padding-top: 20px;
}

.prod-orient-hor .swatches p.small {
	display: none;
}

/** END HORIZONTAL ORIENTATION LAYOUT CSS **/

/** LAYOUT SIZES **/
/* -------------------------------------------------------------------- */
/* ONE ACROSS STARTS -------------------------------------------------- */
/* -------------------------------------------------------------------- */
* html .prod-size-1 .prodWrap {
	zoom: 1;
}

.prod-size-1 .hr {
	margin: 0 5px !important; /* jk - when 1 across is stacked */
}

.prod-size-1 .feature-box {
	margin: 0 0 10px;
	padding: 0;
	border: none;
	zoom: 1;
}
.prod-size-1 .prod-orient-hor {
	overflow: hidden;
}

.prod-size-1 .prod-orient-hor .prodWrap .prodImage {
	margin: 0;
	padding: 0 15px 0 10px;
	width: 54%;
	zoom: 1; /* ie6 fix */
}

.ui-tabcontrol .prod-size-1 .prod-orient-hor .prodWrap .prodImage {
	margin: 5px auto;
}

.ui-tabcontrol .prod-size-1 .std-bottommargin { /* to override standard bottom margin if custom content block is inside tabbed layout */
	margin-bottom: 0 !important;
}

.prod-size-1 .prod-orient-hor .prodWrap .prodDetails {
	width: 40%;
	padding: 0 8px 0 0;
	zoom: 1; /* ie6 fix */
	overflow: hidden;
}

.prod-size-1 .prod-orient-hor .prodTitle a {
	font-size: 16px;
}

.prod-size-1 .prod-orient-hor .prodPrice, .prod-size-1 .prod-orient-hor .prodPrice .priceTitle {
	font-size: 18px;
}

.prod-size-1 .prod-orient-hor .prodPrice .details {
	font-size: 14px;
}

.prod-size-1 .shop-now {
	display: block;
	margin-top: 15px;
	margin-bottom: 10px;
}

.prod-size-1 .prodWrap ul.prodTagLine {
	padding-top: 12px;
}

.prod-size-1 .prodWrap ul.prodTagLine li {
	font-size: 14px;
	background-position: 0 7px;
}

.prod-size-1 .prod-orient-hor .prodWrap .swatches {
	padding: 0;
	position: absolute;
	top: 270px;
	left: 20px;
}

/*doorcrasher flag*/
.prod-size-1 .prodWrap .flag-dc {
	background: url('/Projects/BoxingDay/Assets/flag_doorcrasher_big_en.gif') no-repeat left top transparent;
	height: 66px;
	width: 193px;
	margin: 0;
}

.prod-size-1 .feature-box .clear2 {
	height: 0;
}

.ui-tabcontrol-contents .prod-size-1 .feature-box {
	background: #fff;
	padding: 0;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: none;
	zoom: 1;
}

.prod-size-1 .feature-box .hdr {
	display: none;
}

/* -------------------------------------------------------------------- */
/* ONE ACROSS ENDS ---------------------------------------------------- */
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* ONE ACROSS MAIN STARTS --------------------------------------------- */
/* -------------------------------------------------------------------- */

.prod-size-1am .feature-box {
	border: none;
	padding: 0;
	margin-top: 0;
}

.l1am .prodWrap .prodImage {
	padding: 0;
	width: 330px;
	float: left;
}

.l1am .prodWrap .prodDetails {
	width: 580px;
	padding: 0;
	position: relative;
	float: left;
}

.l1am .prodTitle, .l1am .prodTitle a {
	font-size: 16px;
}

.l1am .prodTitle {
	border-bottom: 1px dotted #ccc;
}

.l1am .prodDescription {
	margin: 10px 0 5px;
}

.l1am .prodDescription li {
	padding-left: 12px;
	background: url('/images/common/buttons/icon_check_red.gif') no-repeat scroll 0 5px transparent;
	font-size: 11px;
	margin: 0 0 2px 15px;
	zoom: 1;
}

.l1am .shop-now {
	margin: 15px 0 0;
	display: inline-block;
}

.l1am .prodPrice {
	padding: 10px 0 12px;
}

.l1am .priceblock {
	font-size: 21px;
}

.l1am .prodPrice .details {
	font-size: 12px;
}

.prod-size-1am div.hr {
	height: 3px;
	margin: 15px 0;
}

.l1am .swatches {
	position: static;
	left: auto;
	top: auto;
	margin-left: 15px;
}

.l1am .prodTagLine {
	padding: 10px;
	font-size: 24px !important;
	font-weight: bold;
	text-align: center;
	color: #4d4d4f;
	background-color: #efefef;
}

.l1am .prodWrap .customer-rating .rating-title, .l1am .prodWrap .rating-stars {
	display: inline;
	font-weight: bold;
	margin-right: 2px;
}

.l1am .prodWrap .rating-stars img {
	vertical-align: middle;
}

.l1am .b5 .prodPrice {
	padding-bottom: 0;
}

.l1am .b5 .prodPrice .priceBubble {
	margin: 0;
}

.ui-tabcontrol-contents .prod-size-1am .feature-box {
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	padding: 0;
}

.ui-tabcontrol-contents .prod-size-1am .prod-orient-hor {
	margin-bottom: 15px;
}

/* -------------------------------------------------------------------- */
/* ONE ACROSS MAIN ENDS ----------------------------------------------- */
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* TWO ACROSS MAIN STARTS --------------------------------------------- */
/* -------------------------------------------------------------------- */
.prod-size-2am .prod-orient-ver {
	width: 50%;
}
.prod-size-2am .prod-orient-ver.prod-no-border, .prod-size-2am .prod-orient-ver.last {
	width: 49.8%;
}

.prod-size-2am .prod-orient-ver .prodWrap {
	padding: 0 15px;
}

.prod-size-2am .prodImage {
	width: 220px;
	float: left;
}

.prod-size-2am .prodImage .img300x300 {
	width: 220px;
	height: 220px;
}

.prod-size-2am .prodWrap .prodDetails {
	width: 186px;
	margin-left: 12px;
	float: left;
}

.prod-size-2am .prodWrap .prodTitle {
	font-size: 14px;
}

.prod-size-2am .prodPrice .priceblock {
	font-size: 14px;
}

.prod-size-2am .prodPrice .details {
	font-size: 12px;
}

.prod-size-2am .b4 .prodPrice {
	width: 186px;
	float: right;
}

.prod-size-2am .prodWrap .prodTagLine li {
	font-size: 11px;
}

/* -------------------------------------------------------------------- */
/* TWO ACROSS MAIN ENDS ----------------------------------------------- */
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* THREE ACROSS MAIN STARTS ------------------------------------------- */
/* -------------------------------------------------------------------- */

.prod-size-3am .prod-orient-ver {
	width: 33.3%;
}
.prod-size-3am .prod-orient-ver.prod-no-border, .prod-size-3am .prod-orient-ver.last {
	width: 33.1%;
}

.prod-size-3am .prod-orient-ver .prodWrap {
	padding: 0 15px;
}

.prod-size-3am .prodImage .img300x300 {
	width: 200px;
	height: 200px;
}

.prod-size-3am .prodWrap .prodTitle {
	font-size: 14px;
}

.prod-size-3am .prodPrice .priceblock {
	font-size: 16px;
}

.prod-size-3am .prodPrice .details {
	font-size: 12px;
}

.prod-size-3am .prodWrap .prodTagLine li {
	font-size: 11px;
}


/* -------------------------------------------------------------------- */
/* THREE ACROSS MAIN ENDS --------------------------------------------- */
/* -------------------------------------------------------------------- */

.prod-size-3 .prod-orient-ver {
	width: 33.2%;
}

.prod-size-4 .prod-orient-ver {
	width: 24.8%;
}

.prod-size-4am .prod-orient-ver {
	width: 24.9%;
}
.prod-size-4am .prod-orient-ver.prod-no-border, .prod-size-4am .prod-orient-ver.last {
	width: 24.7%;
}

.prod-size-6 .prod-orient-ver {
	width: 16.6%;
}
.prod-size-6 .prod-orient-ver.prod-no-border, .prod-size-6 .prod-orient-ver.last {
	width: 16.4%;
}

.prod-size-5 .prod-orient-ver {
	width: 19.9%;
}
.prod-size-5 .prod-orient-ver.prod-no-border, .prod-size-5 .prod-orient-ver.last {
	width: 19.6%;
}

/** END LAYOUT SIZES **/


/** SKU BLOCK GRID LAYOUT **/
.prod-layout-skublockgrid .compare {
	padding-bottom: 10px;
}

.prod-layout-skublockgrid .compare input {
	margin-right: 3px;
}

.prod-layout-skublockgrid .sub-info {
	font-size: 9px;
	padding-top: 10px;
}

.prod-layout-skublockgrid .last {
	clear: both;
}

/** END SKU BLOCK GRID LAYOUT **/

/* ---------------------------------------------------------------------- */
/* TWO ACROSS STARTS ---------------------------------------------------- */
/* ---------------------------------------------------------------------- */
.prod-size-2 .feature-box {
	margin: 0 0 10px;
	padding: 0 0 15px;
	border: none;
	background: url('/images/common/backgrounds/bg_2across_dept.png') repeat-x center bottom transparent;
	zoom: 1;
}

.prod-size-2 .l2a {
	width: 50%;
	float: left;
	border-right: dotted 1px #ccc;
}
.prod-size-2 .l2a.prod-no-border, .prod-size-2 .l2a.last {
	width: 49.5%;
	overflow: hidden;
}

.prod-size-2 .l2a .prod-image img {
	width: 250px;
	height: 250px;
}

.prod-size-2 .prodWrap {
	padding: 0 15px;
}

.prod-size-2 .prodWrap .prodTitle {
	font-size: 16px;
}

.prod-size-2 .prodPrice .priceblock {
	font-size: 18px;
}

.prod-size-2 .prodPrice .details {
	font-size: 14px;
	margin-bottom: 1px;
}

.prod-size-2 .prodTagLine li {
	font-size: 14px;
	background-position: 0 7px;
}

.ui-tabcontrol-contents .prod-size-2 .feature-box {
	padding-top: 15px;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	zoom: 1;
}

/* doorcrasher flag */
.prod-size-2 .prodWrap .flag-dc {
	background: url('/Projects/BoxingDay/Assets/flag_doorcrasher_big_en.gif') no-repeat left top transparent;
	height: 66px;
	width: 193px;
}

/* ---------------------------------------------------------------------- */
/* TWO ACROSS ENDS ------------------------------------------------------ */
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* THREE ACROSS STARTS -------------------------------------------------- */
/* ---------------------------------------------------------------------- */

.prod-size-3 .prod-orient-ver .prodWrap {
	padding: 0 15px;
}

.prod-size-3 .feature-box {
	margin: 15px 0 10px;
}

.prod-size-3 .prodPrice .priceblock {
	font-size: 14px;
}

.prod-size-3 .prodPrice .details {
	font-size: 11px;
}

.prod-size-3 .prodTagLine {
	font-size: 11px;
}

/* doorcrasher flag */
.prodWrap .flag-dc {
	width: 147px;
	height: 50px;
	margin: 0 auto;
	background: url('/Projects/BoxingDay/Assets/flag_doorcrasher_en.gif') no-repeat left top transparent;
	text-indent: -999px;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}

/* ---------------------------------------------------------------------- */
/* THREE ACROSS ENDS ---------------------------------------------------- */
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* FOUR ACROSS STARTS --------------------------------------------------- */
/* ---------------------------------------------------------------------- */

.prod-size-4am .feature-box {
	margin-top: 10px;
	zoom: 1;
}

.prod-size-4am .prod-orient-ver .prodWrap {
	padding: 0 10px 15px 15px;
}

.prod-size-4am .prodPrice 
{
	/* boxing day - font-size: 22px;*/
	font-size: 16px;
}

.prod-size-4am .prodTagLine {
	font-size: 11px;
}

.prod-size-4am .prodTitle {
	font-size: 14px;
}


/* ---------------------------------------------------------------------- */
/* FOUR ACROSS ENDS ----------------------------------------------------- */
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* FIVE ACROSS STARTS --------------------------------------------------- */
/* ---------------------------------------------------------------------- */

.prod-size-5 .feature-box {
	margin-top: 10px;
}

.prod-size-5 .feature-box .hdr {
	display: none;
}

.prod-size-5 .prodPrice 
{
	/* boxing day - font-size: 14px;*/
	font-size: 12px;
}

.prod-size-5 .prodTagLine {
	font-size: 11px;
}

/* ---------------------------------------------------------------------- */
/* FIVE ACROSS ENDS ----------------------------------------------------- */
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* SIX ACROSS STARTS ---------------------------------------------------- */
/* ---------------------------------------------------------------------- */

.prod-size-6 .prodPrice .pricetitle, .prod-size-6 .prodPrice .sale-end {
	display: none;
}

.prod-size-6 .prodPrice .details {
	font-size: 12px;
}

/* doorcrasher flag 
.prod-size-6 .prodWrap .flag-dc {
	background: url('/Projects/BoxingDay/Assets/flag_doorcrasher_sm_en.gif') no-repeat left top transparent;
	height: 45px;
	width: 127px;
} */

/* ---------------------------------------------------------------------- */
/* SIX ACROSS ENDS ------------------------------------------------------ */
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* 1 BIG 4 SMALL STARTS ------------------------------------------------- */
/* ---------------------------------------------------------------------- */

.l1bg4sm .feature-box {
	padding-top: 0;
}

.l1bg4sm .one-bg {
	margin-bottom: 10px;
}

.l1bg4sm .a5, .l1bg4sm .b5, .l1bg4sm .c5 {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: dotted 1px #ccc;
}

/* ---------------------------------------------------------------------- */
/* 1 BIG 4 SMALL ENDS --------------------------------------------------- */
/* ---------------------------------------------------------------------- */

/* SKU BLOCK LIST */
.skublocklist {
	width: 100%;
}
.skublocklist .first, .skublocklist .firstline {
	background: url(/images/common/backgrounds/tblpricewatchersepleft.gif) repeat-y right top;
	width: 66px;
	padding-left: 8px;
}
.skublocklist .firstline {
	width: 1px;
}
.skublocklist .infos ul.stdlist2 li {
	font-weight: bold;
}
.skublocklist .visual {
	padding: 0 8px 0 0;
	text-align: center;
	width: 100px;
	font-size: 11px;
}
.skublocklist .infos {
	padding: 0 5px 0 0;
}
.skublocklist .prices {
	background: none;
	font-size: 11px;
	padding: 0 0 0 10px;
	width: 155px;
}
.skublocklist .last {
	background: url(/images/Common/backgrounds/bg-grey-10white.gif) repeat-y top left;
	width: 155px;
	padding-left: 10px;
}
.skublocklist .chk-box {
	background: url(/images/Common/backgrounds/vertical_dashed.gif) repeat-y top left;
	width: 48px;
	text-align: center;
}
.skublocklist .rating .customer-rating {
	width: 100px;
	padding: 5px 8px 0 0;
	margin: 0;
	float: left;
	font-size: 11px;
	font-weight: bold;
}
.skublocklist .rating .customer-rating .rating-title {
	margin-bottom: 2px;
}
.skublocklist .rating .customer-rating .nbr {
	vertical-align: top;
	margin: 0 0 0 2px;
}
.skublocklist .last .date {
	background: #fff;
	padding-bottom: 7px;
}
.skublocklist .ispu {
	float: left;
}
#homefeatured {
	width: 920px;
	height: 323px;
}


/* PC Static with Titles */

#pc-static-title-template .feature-box .hdr {
	border: 1px solid #c7c8ca;
	.box-shadow(0 5px 6px -5px #c7c8ca);
	background: #f5f5f5;
		background: -moz-linear-gradient(top, #ffffff 0, #f1f1f1 96%, #ffffff 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%, #ffffff),color-stop(96%, #f1f1f1),color-stop(100%, #ffffff));
		background: -webkit-linear-gradient(top, #ffffff 0, #f1f1f1 96%, #ffffff 100%);
		background: -o-linear-gradient(top, #ffffff 0, #f1f1f1 96%, #ffffff 100%);
		background: -ms-linear-gradient(top, #ffffff 0, #f1f1f1 96%, #ffffff 100%);
		background: linear-gradient(top, #ffffff 0, #f1f1f1 96%, #ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f1f1', GradientType=0);
	font-family: 'Arial Black', Arial, Helvetica, Sans-Serif;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 900;
	padding: 15px 0 0 20px;
	width: 898px;
	height: 34px;
	line-height: 20px;
	.border-radius(6px 6px 0 0);
	top: -51px;
	margin-left: -1px;
}

#pc-static-title-template .feature-box {
	margin-top: 0px;    
}

#pc-static-title-template .n-across .feature-box {
	margin-top: 60px;    
}

#pc-static-title-template .prod-container {
	padding-top:54px;
}


/* standard feature box ------------------------------------------------------- */
.feature-box {
	background: #ffffff;
	border: 1px solid #cccccc;
	padding: 15px 0 15px 0;
	margin-bottom: 10px;
	margin-top: 15px;
	clear: both;
	position: relative;
	zoom: 1;
}

.layout-tabbed .feature-box {
	border-top: none;
	margin-top: 0;
	overflow: hidden;
}

.feature-box .hdr {
	position: absolute;
	top: -9px;
	background: #ffffff;
	display: inline;
	padding: 0 9px;
	color: #666666;
	margin-left: 6px;
	font-weight: bold;
	font-size: 14px;
}

.feature-box .ta1 {
	padding-top: 0px;
}

.feature-box .l3a {
	margin-top: 0px;
}

.feature-box #hypArtistDetailsDiv {
	display: none;
}

/* Featured Box OVERRIDE for Brand Logos - Non-core-------------------------*/
.featured-brands-box { 
   padding:10px 0 15px 5px;
}

.featured-brands-box a {
	text-align:center; margin:0 8px;
}

.featured-brands-box img {
	width:90px;
}

.vendor-category {
	border-right: 1px dotted #CCC; 
	float:left; 
	width:24%; 
	height:180px; 
	margin:15px 2px 5px;
	text-align:center;
}

.vendor-category h2 { 
	padding: 0 6px 10px 0;
	font-weight:normal;
}

// *Project: Delivery Promise - shared product list component with pop-up and checkout page

.product-shipment-list {
    &:extend(.clearfix all);
    margin-bottom: 16px;
    position: relative;

    &.highlight .shipment-title {
        background: @hoverListHover;
    }

    .product-container {
        padding: 0;
    }

    .product-item,
    .delivery-options {
        display: inline-block;
        vertical-align: top;
    }

    .shipment-title {
        background: #ebebeb;
        font-size: 16px;
        font-weight: bold;
        padding: 10px 16px;
        margin-bottom: 16px;

        &.active {
            background-color: #ffc;
        }
    }

    .shipment-content {
        padding: 0 16px;
    }

    .product-items {
        box-sizing: border-box;
        float: left;
        padding: 0 16px 0 0;
        width: 50%;

        li {
            border-bottom: 1px dotted #c7c8ca;
            margin-bottom: 14px;

            .prod-info,
            .item-title,
            .availability-quantity {
                margin-bottom: 5px;
            }

            .availability-quantity {
                font-size: 12px;
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }

        .prod-info,
        .delivery-options,
        .prod-image {
            display: inline-block;
            vertical-align: top;
        }

        .prod-image {
            margin-right: 8px;
            min-width: 70px;

            img {
                width: 70px;
                height: 70px;
            }
        }

        .prod-info {
            margin: 0;
            width: 190px;
        }

        .prod-title-links {
            margin: 0 0 6px;
            line-height: 16px;
        }

        .prod-qty {
            margin: 0 0 16px;
        }

        .price-wrapper {
            margin: 0 0 8px;
        }
    }
}

.expired-message-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-weight: bold;
    z-index: 100;

    p {
        font-weight: bold;
        font-size: 16px;
    }
}

.expired-message-panel:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    content: '';
    .opacity(80);
}

.expired-message-panel .stale-message {
    position: absolute;
    top: 44%;
    text-align: center;
    z-index: 101;
    background: white;
    width: 200px;
    height: auto;
    left: 46%;
    padding: 16px;
    margin-left: -75px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);

    p {
        margin: 0 0 8px;
    }

    a {
        font-size: 14px;
    }
}

.delivery-options {
    border: none;
    width: 50%;

    p {
        font-size: 13px;
        margin: 0;
    }

    .title {
        font-weight: 700;
        line-height: 15px;
    }

    .prompt {
        font-weight: bold;
        text-transform: uppercase;
    }

    .timer {
        color: red;
        background: #ccc;
        padding: 8px;
        text-align: center;
        font-weight: bold;
        margin: 0;
    }

    li {
        padding: 0px;
        position: relative;

        input[type="radio"],
        label {
            display: inline-block;
            vertical-align: top;
        }

        input {
            position: absolute;
            top: 16px;
            left: 16px;
        }

        label {
            display: block;
        }

        &:hover {
            background-color: #eee;
        }
    }



    .hover-list,
    &.hover-list {
        border-radius: 0;
        border: none;
    }

        .hover-list label,
        &.hover-list label {
            padding: 15px 12px 8px 40px;
        }

    .los-message {
        padding: 8px 16px;
    }

    .edit-mode-False {
        label,
        .hover-list label,
        &.hover-list label {
            border-bottom: solid 1px #fff;
            padding: 15px 12px 8px 40px;
        }

        .scheduled-delivery-item input {
            display: none;
        }
    }

    .pdp-delivery,
    &.pdp-delivery {
        li {
            padding: 12px;
        }
    }

    .los-message {
        p {
            padding: 0 16px 5px 0;
            margin: 0;
        }

        &.single p {
            padding: 8px 16px;
        }

        .title {
            font-weight: bold;
            padding: 0 16px 0 0;
        }
    }

    .cart-countdown {
        background: @grayLightFaint;
        color: @bbyRed;
        font-weight: bold;
        padding: 8px 16px;
        text-align: center;

        &:hover {
            background: @grayLightFaint;
        }
    }
}

.view-estimated-delivery-times {
    clear: both; 
    padding: 8px;
    text-align: center;
}

.delivery-prompt {
 
 text-align: center;

  span {
    background: url('/assets/backgrounds/sprite-base-component.png') no-repeat -213px -121px;
    padding-left: 35px;
    padding-top: 8px;
    padding-bottom: 9px;
    font-weight: bold;
    font-size: 14px;
  }
}

.temp-wrapper-delivery {
    width: 630px;
}

.checkout-section {

  .section-title {
    background: url('/images/common/checkout/bg_sprite_accordion.gif') #fff no-repeat left top;

    .title {
      display: inline-block;
      margin: 0;
      padding: 12px 16px;
      font: bold 18px/24px Arial;
    }

    .btn {
      display: inline-block;
      float: right;
      margin: 10px 16px 0 0;
    }
  }

  .product-shipment-list {
      
    &:last-child {
      margin: 0 0 8px;
    }
  }
}