// BestBuy ratings
// Basic and global styles for rating control and customer rating page
@import (reference) "variables.less";
@import (reference) "mixins.less";


// rating container
// ----------------
.rating-stars {
	background: url('/assets/backgrounds/sprite-rating-stars.png') no-repeat -4px -28px;
	display: inline-block;
	height: 18px;
	margin: 0 8px 0 0;
	overflow: hidden;
	width: 96px;
	vertical-align: top;

	.star {
		background: url('/assets/backgrounds/sprite-rating-stars.png') no-repeat -4px -4px;
		height: 18px;
		color: @white;
		font-size: 12px;
		text-align: center;
		width: 0%;

		input[type='radio'] {
			// display: none;
		}
	}

	&.large {
		background: url('/assets/backgrounds/sprite-rating-stars-large.png') no-repeat -6px -42px;
		height: 25px;
		width: 144px;

		.star {
			background: url('/assets/backgrounds/sprite-rating-stars-large.png') no-repeat -6px -6px;
			height: 25px;
		}		
	}	
}


// rating elements
// ---------------
.rating-score,
.rating-num {
	color: #000;
	display: inline-block;
	font-size: 12px;
	line-height: 18px;
}


/*** Current BestBuy Rating implementation **/
.prod-container{
	.prodWrap{
		.customer-rating{
			.rating-stars{
				position: relative;
				
				.rating-stars{
					.rating-score{
						position: absolute;
						top: 3px;
						left: 86px;
					}
				}
			}
		}
	}

}

// PDP + All Reviews module
.customer-reviews-module {
	color: @bbyGreyText;

	.rating-score, .rating-num {
		color: @bbyGreyText;
	}		

	position: relative;

	&.loading {
		.loading {
			&LightBox {
				display: block;
			}
		}
	}
}

.no-rating-wrapper {

	.customer-review-detail-ratings & {
		padding: 0;
		border: 0;
	}

	h3, p {
		margin: 0 0 24px;
	}
}

// Loading lightbox from PLP
.loading {
	&LightBox {
		background: rgba(255,255,255,0.45);
		bottom: 0;
		display: none;
		height: 100%;
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10000;
	}
	
	&-wrapper {
		background: @white;
		border: 1px solid @hrBorder;
		.border-radius(5px);
		.box-sizing(border-box);
		.box-shadow(2px 2px 4px rgba(0,0,0,0.2));
		height: 130px;
		padding: 12px 0 15px;
		margin: 110px auto 0;
		position: relative;
		text-align: center;
		width: 160px;
		z-index: 10001;

		p {
			margin: 0 0 18px;
		}
	}
}

// Filter toolbar
.filter-toolbar {
	font-size: 12px;
	padding: 8px 0 16px;
}

.toolbar-viewby {
	font-size: 12px;
	margin: 2px 0 0;

	.sorting-label,
	.sorting-viewby {
		display: inline-block;
		vertical-align: middle;
	}

	.sorting-viewby {
		li {
			line-height: 14px;
			padding: 0 10px;
		}

		.active {
			a {
				color: @textColor;
				font-weight: bold;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

// sorting filters
// --------------------------
@sortingViewByActiveBg:     #c7c8ca;
@sortingViewByActiveColor:  @black;
@uiSelectMenuBg:            @white;
@uiSelectMenuActiveBg:      #e5e5e5;
@uiSelectMenuBorder:        #c7c8ca;

.sorting-filter-wrapper {
  vertical-align: middle;
}

// filter dropdown icon
.icon-filter-dropdown {
	background-position: 2px -63px;
	border-left: 1px solid @uiSelectMenuBorder;
	height: 19px;
	margin: -2px 0 0 5px;
	width: 16px;
}

// sorting list
.sorting-list {
	background-color: @uiSelectMenuBg;
	display: inline-block;
	.ie7-inline-block();
	margin: 0;
	position: relative;

	.sorting-item {
		border: 1px solid @uiSelectMenuBorder;
		.border-radius(3px);
		cursor: pointer;
		margin: 0;
		padding: 4px 5px;

		&:hover,
		&:active,
		&:focus {
			background-color: @uiSelectMenuActiveBg;
		}

		> a {
			color: @black;
			text-decoration: none;
		}
	}

	&.active {
		display:inline-block;
	}
}

// sorting sublist
.sorting-sublist  {
	background-color: @uiSelectMenuBg;
	border: 1px solid @uiSelectMenuBorder;
	padding: 0;
	top: 94%;

	.active {
		background: none;
		
		a {
			text-decoration: none;
		}
	}

	.sorting-subitem {
		border-left: 0;
		margin: 0;
		text-align: left;

		a {
			padding: 4px 16px;

			&:hover {
				background: @uiSelectMenuActiveBg;
			}
		}
	}
}

// Review nav toolbar
.review-control-wrapper {
	font-size: 12px;
	padding: 10px 0;
	position: relative;

	.load-more-wrapper,
	.display-review-number,
	.pagination-control-wrapper {
		float: left;
	}
	
	.sort-by-wrapper {
		float: right;
		line-height: 19px;
	}

	.display-review-number, {
		margin: 0;
		width: 30%;
		line-height: 29px;
	}

	.display-total {
		margin: 0 16px 0 0;
	}

	.load-more-wrapper {
		line-height: 17px;
		margin: 0 7% 0 0;
		width: 40%;
		height: 29px;
		line-height: 29px;
		font-size: 14px;

		.icon-arrow {
			margin: -2px 0 0 4px;
		}

		&.loading {
			text-indent: -9999px;
			background: url('/assets/ui/loading_sm_bg_white.gif') no-repeat center center;
		}
	}

	.sort-by-wrapper {
		width: 23%;
	}

	&.top {
		border-top: 1px solid @bbyGrayDarker;
	}

	&.bottom {
		border-top: 3px solid @bbyGrayDarker;
		border-bottom: 1px solid @bbyGrayDarker;
	}

	.customer-review-page & {
		.display-review-number {
			margin: 0 1.06718346% 0 0;
			width: 19%;
		}		

		.pagination-control-wrapper {
			line-height: 17px;
			margin: 0 1.06718346% 0 0;
			width: 55.8656331%;
		}

		.sort-by-wrapper {
			width: 23%;
		}			
	}
}

// Product details 
.customer-review-top {
	
	h1 {

		font-size: 28px;
		margin: 24px 0;
		
		> span{
			display: block;
			font-weight: normal;
			font-size: 18px;
		}
	}

	.btn {
		margin: 16px 0 0;
		// Unable to add class to the markup, adding btn-small styling here
		font-size: 12px;
		font-weight: 700;
		height: 27px;
		line-height: 27px;
		padding: 0 10px;
		min-width: 0;		
	}

}

// Customer reviews details module
.customer-review-detail-ratings {
	display: table;
	table-layout: fixed;
	margin: 0 0 36px;

	& > div {
		display: table-cell;
		float: none;
		vertical-align: top; 
		padding: 0 0 0 16px;
		border-left: 1px dotted @bbyGrayDarker;
		
		&.first {
			padding: 0;
		}
	}

	.customer-review-page & {
		margin: 62px 0 36px;
		padding: 24px 0 0;
		border-top: 3px solid @bbyGrayDarker;
	}
}

.rating-title {
	font-weight: bold;
	font-size: 14px;
	margin: 0 0 16px;
	color: @textColor;
}

// Overall rating summary
.overall-rating-block {
	text-align: center;

	.rating-score {
		font-size: 60px;
		font-weight: bold;
		line-height: 1;
	}

	.rating-denominator {
		display: none;
	}

	.rating-stars {
		display: block;
		margin: 0 auto 8px;
	}

	.rating-num {
		line-height: 1.4;
	}

	a {
		display: block;
		font-size: 11px;
	}	
}

.btn-write-review {
	min-width: 0;
}

// Overall rating breakdown
.overall-rating-total {
	font-size: 12px;
}

.rating-total-item {
	line-height: 1.2;
	margin: 0 0 4px;
}

.rating-total-item {
	.rating-label,
	.rating-totals,
	.rating-total-num {
		display: inline-block;
		.ie7-inline-block();
		vertical-align: middle;
	}
}

.overall-rating-total {
	.rating-label {
		width: 48px;
		vertical-align: top;
	}	
}

.rating-totals {
	background: @white;
	border: 1px solid #b7b7b7;
	height: 8px;
	margin: 0 5px 0 0;
	overflow: hidden;
	vertical-align: middle;
	width: 124px;

	.attributes & {
		width: 80px;
	}

	.total {
		background: @bbyBlueHighlight;
		height: 8px;
		width: 0%;
	}
}

.attributes {

	.rating-label {
		width: 92px;
	}

	.rating-totals {
		width: 80px;
	}
}

// positive negative element
.review-bar-wrapper {
	line-height: 1.2;
	margin: 0 0 12px;
}

.review-bar {
	vertical-align: middle;
	background: @bbyGrayDarker;
	height: 10px;
	display: inline-block;
	width: 100%;

	.bar {
		background: @bbyGreenHighlight;
		height: 10px;
		width: 0%;
		border-right: 1px solid @white;
		position: relative;

		&:after {
			position: absolute;
			content: "";
			right: 0;
			top: -3px;
			height: 16px;
			width: 2px;
			background: @bbyGreenHighlight;
		}
	
	}
}

.positive-critical-label {

	h4 {
		font-weight: normal;	
	
		.value {
			font-weight: bold;	
		}
	}

	.rating-num {
		font-size: 11px;
	}
}

.critical-label {
	text-align: right;
}

.review-bar-wrapper,
.positive-critical-label {
	max-width: 202px;
}


// Write review section
.write-review {
	p {
		font-size: 14px;
		line-height: 1.35;
		margin: 0 0 16px;
	}
}

// Review list wrapper

// Review list item
.customer-review-item {
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	-moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;		
    transform: translate3d(0,0,0);

	&.show {
	    display: table;
	    table-layout: fixed;		
		opacity: 1;
		max-height:1200px;
		padding: 24px 0;
		border-top: 1px solid @bbyGrayDarker;
		width: 100%;
	}

	& > div {
		display: table-cell;
		float: none;
		vertical-align: top;
	}

	.name, .customer-review-title {
		color: @grayDark;
		font-size: 14px;
		font-weight: bold;
	}

	.name {
		margin: 0;
	}

	.loc, .date, .customer-review-title {
		margin: 0 0 16px;
	}

	.rating-score {
		display: none;
	}
}

.review-item-wrapper {
	padding: 0 0 0 16px;
	border-left: 1px dotted @bbyGrayDarker;		

	p {
		font-size: 14px;
		line-height: 1.45;
	}
}

.customer-review-page {
	.breadcrumb-toolbar {
		margin-top: 32px;
	}
}

// Write review page
.customer-write-review-page {
	.span7 {
		border-right: 1px dotted @bbyGrayDarker;	

		p {
			padding-right: 16px;	
		}
	}

	.catalog-review-rate-guidelines {
		width: 373px;
	}

	h3, p, li, label {
		font-size: 14px;
		line-height: 1.45;
		color: @bbyGreyText;
		margin: 0 0 16px;
	}

	li {
		margin: 0 0 8px;
	}

	h3 {
		color: @textColor;
	}

	.alert-error {
		margin-bottom: 32px;

		p, li {
			color: @bbyRed;
		}
	}

	label {
		margin: 0;
	}

	.styled {
		margin: 0 0 24px 16px;
	}

	.txtbox {
		width: 438px;
		margin: 4px 0 24px;
		min-height: 28px;
		padding: 2px 8px 1px;
	}

	textarea.txtbox {
		min-height: 178px;
	}

	.btn-wrapper {
		margin: 8px 0 0;

		> * {
			vertical-align: baseline;
		}
	}

	.btn-primary-alt {
		min-width: 0;
	}

	.link {
		font-size: 14px;
		margin: 0 0 0 24px;
	}
}

.write-review-wrapper {
	margin: 16px 0 0;
	padding: 32px 0 0;
	border-top: 3px solid @bbyGrayDarker;
}

.write-review-stars {
	padding: 16px 0 24px;

	li {
		margin: 0 0 16px;
	}

	label {
		display: inline-block;
		margin: 0 16px 0 0;
		vertical-align: middle;
		color: @textColor;
		min-width: 120px;
	}

	.rating-stars {
		vertical-align: middle;
	}	

	.help-inline {
		display: none;
	}	

	.last {
		border-top: 1px dotted @bbyGrayDarker;
		border-bottom: 1px dotted @bbyGrayDarker;
		padding: 8px 0;

		label {
			font-weight: bold;
		}
	}
}