// Best Buy Search Page Components

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

// adsplash
// -----------------------
.adsplash {
	margin: 48px 0 0;
}


// search breadcrumb
// ----------------------
.breadcrumb-toolbar {
	margin: 6px auto 18px;

	.breadcrumb {
		padding: 0 0 0 6px;
		width: 100%;
	}
}


// search menu wrapper
// ----------------------
.sidebar-wrapper {
	border-right: 1px solid #ccc;
	padding: 0 0 16px;
}

.search {
	&-menu-wrapper {
		.active {
			display: block;
		}

		.menu-category {
			margin: 32px 0;
		}
	}
	
	&-tab-menu {
		display: none;
	}
}

.menu-wrapper {
	border-right: 0;
	padding: 0;
}


// search tabs
// ----------------------
@-webkit-keyframes searchTab{.searchTab;}
@-moz-keyframes searchTab{.searchTab;}
@-o-keyframes searchTab{.searchTab;}
@keyframes searchTab{.searchTab;}

.searchTab {
	0% {border-right: 0 solid #007fd8;}	
	100% {border-right: 5px solid #007fd8;}
}

.search {
	&-tab {
		border-top: 1px solid @hrBorder;
		cursor: pointer;
		font-size: 14px;
		margin: 0;

		a {
			color: #2e3337;
			display: block;
			font-weight: 700;
			padding: 12px 0 12px 8px;
			position: relative;

			&:hover,
			&:active {
				text-decoration: none;
			}
		}

		&:hover {
			a {
				border-right: 5px solid #007fd8;
				.animation(searchTab 0.25s);
			}
		}
		
		.count {
			font-weight: normal;
			font-size: 12px;
		}

		&-listing {
			display: none;
		}
	}

	&-tabs {
		border-bottom: 1px solid @hrBorder;

		.active {
			a {
				background: #007fd8;
			}

			a,
			.count {
				color: @white;
			}
		}
	}
}


// search listing wrapper
// ----------------------
.search {
	&-listing-wrapper {
		position: relative;

		.active {
			display: block;
		}

		.search-loading {
			display: none !important;
		}
	}
}

.row-fluid {
	.search-listing-wrapper {
		min-height: 500px;
	}
}


// search heading
// ----------------------
.search-heading {
	font-size: 28px;
	
	.search-keyword-result {
		color: #003b64;
	}
}


// search no result
// ----------------------
.no-results {
	.widget-related,
	.listing-control-wrapper {
		display: none;
	}
}


// shared content listing
// ----------------------
.content {
	&-listing-item {
		border-top: 1px solid @hrBorder;
		margin: 0;
		padding: 16px 0;
		position: relative;

		&:first-child {
			border-top: 0;
		}
		
		.h2 {
			font-size: 16px;
			line-height: 1.35;
			margin: 0 0 5px;
		}

		.meta {
			font-size: 11px;
			margin: 5px 0 0;
		}

		.post {
			clear: both;
			font-size: 14px;
			line-height: 19px;
			margin: 13px 0;
		}

		.read-more {
			font-size: 11px;
		}

		.category,
		.author {
			font-weight: 700;
		}
	}
}


// shared content listing: grid
// ----------------------
.grid-view {
	.listing-row {
		&:first-child {
			.content-listing-item {
				border-top: 0;
			}
		}
	}

	.content {
		&-listing-item {
			border-top: 1px dotted @hrBorder;
			float: left;
			padding: 24px 0 21px;
			width: 25%;

			.post,
			.read-more {
				display: none;
			}

			.meta {
				margin: 0;
			}

			.item-inner {
				border-right: 0;
			}
		}
	}
}


// -----------------------
// listing content shared
// -----------------------
.listing {
	&-article,
	&-forum,
	&-help {
		.products-per-page-wrapper {
			right: 0;
		}
	}
}


// -----------------------
// listing product specific
// -----------------------

// -----------------------
// listing article specific
// -----------------------
.search-article-listing {
	.content {
		&-thumbnail {
			height: 132px;
			float: right;
			margin: 0 0 0 16px;
			text-align: center;
			/*width: 132px;*/
			
			img {
				border: 1px solid @hrBorder;
			}
		}

		&-body {
			float: left;
			/*width: 586px;*/
		}
	}
}

.listing-article {
	.grid-view {
		.content {
			&-thumbnail,
			&-body {
				float: none;
				height: 100%;
				width: 100%;
			}

			&-thumbnail {
				margin: 0 0 8px;
			}
		}
	}
}


// -----------------------
// listing forum specific
// -----------------------
.search-forum-listing {
	.h2 {
		width: 500px;
	}
}

.meta-attributes-wrapper {
	.meta {
		line-height: 14px; 
		margin: 0;
		width: 60%;
	}

	.forum-attributes {
		text-align: right;
		width: 40%;
	}
}

.forum-attributes {
	li {
		background: url('/Assets/backgrounds/sprite-search-forum.png') no-repeat;
		font-size: 12px;
		padding: 1px 0 1px 24px;
		margin: 0 0 0 16px;
	}

	.forum {
		&-views {
			background-position: -2px 0;
			margin: 0;
		}

		&-replies {
			background-position: -2px -27px;
		}

		&-kudos {
			background-position: -2px -56px;
		}
	}
}


// -----------------------
// listing help specific
// -----------------------


// shared no product / some results
// ----------------------
.search {
	&-no-results,
	&-some-results {
		font-size: 14px;
		
		.h1 {
			font-size: 21px;
			margin: 18px 0 21px;
		}

		h4 {
			font-size: 14px;
			margin: 0 0 8px;
		}
	}
}


// search some results
// ----------------------
.search-some-results {
	.section-heading {
		margin: 38px 0 32px;
	}

	.content-listing-item {
		&:first-child {
			border-top: 0;
			padding: 0 0 13px;
		}
	}

	.count {
		font-size: inherit;
		margin: 0 0 0 4px;
	}
}


// shared widget style
// ----------------------------
.widget {
	&-spell-checking,
	&-related {
		display: none;
	}

	&-spell-checking,
	&-search-promotion > div {
		margin: 18px 0 5px;
	}
}


// widget search spell checking
// ----------------------------
.widget-spell-checking {
	span {
		color: @linkColor;
		font-size: 14px;
		font-weight: 700;
	}
}


// widget search related
// ----------------------------
.widget-related {
	font-size: 12px;
	margin: 18px 0 0;
	
	ul {
		float: left;
		width: 613px;
	}

	div {
		margin: 5px 0 0;

		&:first-child {
			margin: 0;
		}
	}
	
	li {
		border-right: 1px solid @hrBorder;
		line-height: 14px;
		margin: 0 8px 5px 0;
		padding: 0 8px 0 0;

		&:last-child {
			border-right: 0;
			margin: 0;
			padding: 0;
		}
	}

	.related {
		&-label {
			border: 0;
			color: #2e3337;
			float: left;
			font-size: 12px;
			line-height: 14px;
			margin: 0;
			padding: 0;
			width: 120px;
		}
	}

	&-queries-wrapper,
	&-categories-wrapper {
		*zoom: 1;

		&:before,
		&:after {
		display: table;
			content: "";
		}

		&:after {
			clear: both;
		}
	}
}


// widget keyword suggestion
// ----------------------------
.widget-keyword-suggestion {
	margin: 0 0 14px;
}


// widget content results
// ----------------------------
.widget-content-results {
	a {
		&:hover {
			text-decoration: none;
		}
	}
}


// widget search promotion
// -----------------------
.search-promotion-left {
	> div {
		margin: 0;
	}
}