@font-face {
    font-family: 'GStymie_medium';
    src: url('/css/fonts/Stymie/gstymie_medium-webfont.eot');
    src: url('/css/fonts/Stymie/gstymie_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/Stymie/gstymie_medium-webfont.woff') format('woff'),
         url('/css/fonts/Stymie/gstymie_medium-webfont.ttf') format('truetype'),
         url('/css/fonts/Stymie/gstymie_medium-webfont.svg#gstymiemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GStymie_bold';
    src: url('/css/fonts/Stymie/gstymiebt_extrabold-webfont.eot');
    src: url('/css/fonts/Stymie/gstymiebt_extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/Stymie/gstymiebt_extrabold-webfont.woff') format('woff'),
         url('/css/fonts/Stymie/gstymiebt_extrabold-webfont.ttf') format('truetype'),
         url('/css/fonts/Stymie/gstymiebt_extrabold-webfont.svg#gstymieregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'GStymie_medium_italic';
    src: url('/css/fonts/Stymie/gstymiemediumitalic-webfont.eot');
    src: url('/css/fonts/Stymie/gstymiemediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/Stymie/gstymiemediumitalic-webfont.woff') format('woff'),
         url('/css/fonts/Stymie/gstymiemediumitalic-webfont.ttf') format('truetype'),
         url('/css/fonts/Stymie/gstymiemediumitalic-webfont.svg#gstymiemedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

.gstymie-bold, .gstymie-bold-s {
    font-family:'GStymie_bold', Arial, Helvetica, sans-serif;
    font-weight:normal;
    text-transform:uppercase;
}
      
.gstymie-medium{
    font-family:'GStymie_medium', Arial, Helvetica, sans-serif;
    font-weight:normal;
}
