// Best Buy basic typography
// Headings
// body text
// lists
// code
// and more for a versatile and durable typography system


// font face ---------------------------------
// -------------------------------------------

// BBY doesn't have at the moment

// default links -----------------------------
// -------------------------------------------
a,
.link {
	color: @linkColor;
	text-decoration: none;
	cursor: pointer;
}

a:visited,
.link:visited {
	color: @linkColorVisited;
}

a:hover,
.link:hover {
	color: @linkColorHover;
	text-decoration: underline;
}

a:active,
.link:active {
	color: @linkColorActive;
	text-decoration: underline;
}


// body text ---------------------------------
// -------------------------------------------
p {
	margin: 0;
	padding: 0;
}


// headings ----------------------------------
// -------------------------------------------
h1, .h1, h2, .h2, h3, .h3, h4, h5, h6 {
	font-weight: @headingsFontWeight;
	color: @headingsColor;
	margin: 0;
	padding: 0;
	text-rendering: optimizelegibility; // Fix the character spacing for headings

	small {
		font-weight: normal;
		color: @grayLight;
	}
}

h1,
.h1 {
	font-size: 18px;

	&.product-title {
		font-size: 22px;
		line-height: 1.35;
	}
	&.page-title {
		font-size: 26px;
		line-height: 1.35;
		margin-bottom: 8px;
	}	
}

h2,
.h2 {
	font-size: 14px;
	
	&.module-title{
		font-size: 18px;
	}
}

h3,
.h3 {
	font-size: 12px;
	margin: 0 0 5px;
}

h4 {
	font-size: 12px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 11px;
	color: @grayLight;
}

.section-heading {
	color: @textColor;
	font-size: 18px;
	margin: 32px 0 24px;
	padding-bottom: 8px;
	border-bottom: 3px solid @bbyGrayDarker;
}


// lists -------------------------------------
// -------------------------------------------

// Unordered and Ordered lists
ul {
	list-style: none;
	
	&.styled {
		margin: 0 0 9px 25px;
	}
	
	&.styled-lflush {
		margin-left: 16px;
	}
	
	&.styled,
	&.styled-lflush {
	
		list-style: disc;

		li {
			list-style: disc;

			ul,
			ul li {
				list-style: circle;
			} 	
		}	
	}
}

ul, ol {
	margin: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

li {
	margin: 0 0 6px 0;
}

ol {
	margin: 0 0 10px;
}

ol,
ol li {
	list-style: decimal;

	ol,
	ol li {
		list-style: lower-roman;
	}
}


.inline-list {
	display: inline-block;
	.ie7-inline-block();
}

.inline-list,
.inline-list > li {
	margin: 0;
}

.inline-list > li {
	display: inline;
	float: left;
}

// Description Lists
dl {
	margin-bottom: @baseLineHeight;
}
dt,
dd {
	line-height: @baseLineHeight;
}
dt {
	font-weight: bold;
	line-height: @baseLineHeight - 1; // fix jank Helvetica Neue font bug
}
dd {
	margin-left: @baseLineHeight / 2;
}
// Horizontal layout (like forms)
.dl-horizontal {
	dt {
		float: left;
		width: 120px;
		clear: left;
		text-align: right;
		.text-overflow();
	}
	dd {
		margin-left: 130px;
	}
}

// misc rules --------------------------------
// -------------------------------------------

// Horizontal rules
hr {
	margin: 10px 0;
	border: 0;
	border-top: 1px solid @hrBorder;
}

.dotted-border {
	border-top: 1px dotted @hrBorder;
}

div.hr hr {
	display: none;
}

// Emphasis
strong,
.strong,
.bold {
	font-weight: bold;
}
em {
	font-style: italic;
}
.muted {
	color: @grayLight;
}
.highlighted {
	color: @bbyBlueDarker;
}


// Misc

sub,
.sub-text,
.txt-small {
	font-size: 12px;
}

.disclaimer {
	color: #9d9fa2;
	font-size: 11px;
}

.uppercase {
	text-transform: uppercase;
}

.type-normal,
.normal,
.nobold,
.nobold li {
	font-weight: normal;
}

.text {
	// alignment
	&-center {
		text-align: center;
	}

	&-right {
		text-align: right;
	}

	// colour variations
	&-bbyBlueDarker {
		color: @bbyBlueDarker;
	}

	&-bbyRed {
		color: @bbyRed;
	}
	
	&-bbyRedNotification {
		color: @bbyRedNotification;
	}

	&-bbyGray {
		color: @bbyGray;
	}

	&-bbyBlueLight {
		color: @bbyBlueLight;
	}

	&-bbyYellow {
		color: @bbyYellow;
	}

	&-bbyGreen {
		color: @bbyGreen;
	}

	&-bbySpecialGreen {
		color: @bbySpecialGreen;
	}

	&-bbyGradientLightBlue {
		color: @bbyGradientLightBlue;
	}
}


// link promo boxes --------------------------
// -------------------------------------------

// include promo-link-block class to a tag
.promo-link-block {
	display: block;
	color: @black;
	height: 100%;
	text-decoration: none;

	&:hover,
	&:active {
		color: @black;
		text-decoration: none;
	}

	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	h5,
	h6,
	p {
		color: @black;
	}
	
	a,
	.call-to-action {
		color: @linkColor;

		&:hover,
		&:active {
			text-decoration: underline;
		}        
		
		&.white {
			color: @white;
		}
	}    
}