// Best Buy utilities classes
// floats
// margin
// paddings

@import "variables.less";

// Quick floats
.pull-right,
.floatright, // legacy class
.float-right, // legacy class
img.right { // legacy class
	float: right;
}

.pull-left,
.floatleft, // legacy class
.float-left { // legacy class
	float: left;
}

//fade
.fade {
	opacity: 0;
}

// Clear floats
.clear,
.clear2 {
	clear: both;
}

// Toggling content
.hide,
.hidden {
	display: none;
}

.show,
.active,
.block { // legacy class
	display: block;
}

// Visibility
.invisible {
	visibility: hidden !important;
}

// no-scroll
.no-scroll {overflow: hidden;}

// override elements
.first {
	border-left: none !important;
	margin-left: 0 !important;
}

.last {
	border-right: none !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	margin-right: 0 !important;
}

// default white spaces

.top {

	&-padding	{	padding-top: @defaultWhiteSpace; }
	&-padding2x {	padding-top: @defaultWhiteSpace * 2; }
	&-padding3x {	padding-top: @defaultWhiteSpace * 3; }

	&-margin	{	margin-top: @defaultWhiteSpace; }
	&-margin2x {	margin-top: @defaultWhiteSpace * 2; }
	&-margin3x {	margin-top: @defaultWhiteSpace * 3; }

}

.right {

	&-padding	{	padding-right: @defaultWhiteSpace; }
	&-padding2x {	padding-right: @defaultWhiteSpace * 2; }
	&-padding3x {	padding-right: @defaultWhiteSpace * 3; }

	&-margin	{	margin-right: @defaultWhiteSpace; }
	&-margin2x {	margin-right: @defaultWhiteSpace * 2; }
	&-margin3x {	margin-right: @defaultWhiteSpace * 3; }
}

.btm {

	&-padding	{	padding-bottom: @defaultWhiteSpace; }
	&-padding2x {	padding-bottom: @defaultWhiteSpace * 2; }
	&-padding3x {	padding-bottom: @defaultWhiteSpace * 3; }

	&-margin	{	margin-bottom: @defaultWhiteSpace; }
	&-margin2x {	margin-bottom: @defaultWhiteSpace * 2; }
	&-margin3x {	margin-bottom: @defaultWhiteSpace * 3; }
}

.left {

	&-padding	{	padding-left: @defaultWhiteSpace; }
	&-padding2x {	padding-left: @defaultWhiteSpace * 2; }
	&-padding3x {	padding-left: @defaultWhiteSpace * 3; }

	&-margin	{	margin-left: @defaultWhiteSpace; }
	&-margin2x {	margin-left: @defaultWhiteSpace * 2; }
	&-margin3x {	margin-left: @defaultWhiteSpace * 3; }
}

.padding-top {
	padding-top: @defaultWhiteSpace;
}

.padding-bottom {
	padding-bottom: @defaultWhiteSpace;
}

.padding-right {
	padding-right: @defaultWhiteSpace;
}

.padding-left {
	padding-left: @defaultWhiteSpace;
}

.padding-none,
.std-no-padding { // legacy class
	padding: 0 !important;
}

.margin-top {
	margin-top: @defaultWhiteSpace;
}

.margin-bottom {
	margin-bottom: @defaultWhiteSpace;
}

.margin-right {
	margin-right: @defaultWhiteSpace;
}

.margin-left {
	margin-left: @defaultWhiteSpace;
}

.margin-none,
.std-no-margin { // legacy class
	margin: 0 !important;
}


// legacy overriding style from default.css
.std-btm-margin {
	margin-bottom: 10px;
}

.std-btm-sm-margin {
	margin-bottom: 5px;
}

.std-btm-big-margin {
	margin-bottom: 20px;
}

.std-btm-x-margin {
	margin-bottom: 30px;
}

.std-btm-padding {
	padding-bottom: 10px
}

.std-btm-sm-padding {
	padding-bottom: 5px
}

.std-btm-big-padding {
	padding-bottom: 20px;
}

.std-btm-x-padding {
	padding-bottom: 30px;
}

.std-top-margin {
	margin-top: 10px;
}

.std-top-sm-margin {
	margin-top: 5px;
}

.std-top-big-margin {
	margin-top: 20px;
}

.std-top-x-margin {
	margin-top: 30px;
}

.std-top-padding {
	padding-top: 10px;
}

.std-top-sm-padding {
	padding-top: 5px;
}

.std-top-big-padding {
	padding-top: 20px;
}

.std-top-x-padding {
	padding-top: 30px;
}

.no-float {
	float: none !important;
}

.inline-link {

	display: inline-block;
	padding-top: 8px;
}