// Best Buy basic global style
// last updated by: Steve Yawan (syawan@bestbuycanada.ca)
// last updated on: August 13, 2014


// GLOBAL VALUES
// --------------------------------------------------


// Grays
// -------------------------
@black:                 #000;
@lightBlack:			#1a1a1a;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLightFaint:		#ccc;
@grayLighter:           #eee;
@white:                 #fff;
@dirtywhite:			#f1f1f1;

// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #fed800;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;


// BBY accent colors
// -------------------------
@bbyBlueDarkLight:		 #276cac;
@bbyBlueDark:			 #004a8d;
@bbyBlueDarker:          #003399;
@bbyRed:		         #da1a36;
@bbyRedNotification:	 #ae1231;
@bbyGray:                #ebebeb;
@bbyGrayDarker:          #cccccc;
@bbyBlueLight:           #e7f1fd;
@bbyBlueHighlight:       #007fd8;
@bbyYellow:              #ffdd00;
@bbyLightYellow:         #fff200;
@bbyGreen:               #009500;
@bbyGreenHighlight:      #82b800;
@bbySpecialGreen:		 #689300;
@bbyGradientLightBlue:   #dee8f4;
@bbyGradientBase:		 #006abf;
@bbyGradientBaseEnd:	 #004187;
@bbyGreyText:	 		 #4d4d4f;	
@bbyblue:				 #003e6b;

// BBY Scaffolding
// -------------------------
@bodyBackground:        @white;
@textColor:             #2e3337;
@notAvailable:			#77787b;


// BBY links
// -------------------------
@linkColor:             @bbyBlueDarker;
@linkColorVisited:      @linkColor;
@linkColorActive:       @linkColor;
@linkColorHover:        @linkColor;


// Typography
// -------------------------
@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@serifFontFamily:       Georgia, "Times New Roman", Times, serif;
@monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;
@defaultFont:           Arial, "Helvetica Neue", sans-serif;

@baseFontSize:          12px;
@baseFontFamily:        @defaultFont;
@baseLineHeight:        19px;
@altFontFamily:         @serifFontFamily;

@headingsFontFamily:    Arial,Helvetica,sans-serif; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         inherit; // empty to use BS default, @textColor


// White space
// -------------------------
@defaultWhiteSpace:     8px;

// Tables
// -------------------------
@tableHeaderBG:						#e7e7e7;
@tableBackground:                   transparent; // overall background-color
@tableBackgroundNew:				#f5f5f5; // introduced in Delivery Promise
@tableBackgroundAccent:             #f9f9f9; // for striping
@tableBackgroundHover:              #f5f5f5; // for hover
@tableBorder:                       #ddd; // table and cell border
@tableBorderDivider:				#9d9fa2;   


// Forms
// -------------------------
@inputBackground:               @white;
@inputBorder:                   #bebebe;
@inputBorderRadius:             6px;
@inputDisabledBackground:       @grayLighter;
@formActionsBackground:         #f5f5f5;
@formBorderSection:				#9d9fa2;

// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownLinkColor:             @linkColor;
@dropdownLinkColorHover:        @linkColor;
@dropdownLinkBackgroundHover:   @linkColor;



// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1020;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;


// Input placeholder text color
// -------------------------
@placeholderText:         @grayLight;


// Hr border color
// -------------------------
@hrBorder:                #c7c8ca;


// Form states and alerts
// -------------------------
@alertText:             #c09853;
@alertBackground:       #f5f5f7;
@alertBorder:           @hrBorder;

@errorText:				@bbyRed;

@successText:			@bbyGreen;

@infoText:				#2a2a2e;
@infoBackground:        #ffffcc;

// Hover List (Used in MCF)
// -------------------------
@hoverListBackground:	#f5f5f5;
@hoverListHover:		#ffffcc;

// GRID
// --------------------------------------------------

// Default 920px grid
// -------------------------
@gridColumns:             12;
@gridColumnWidth:         62px;
@gridGutterWidth:         16px;
@gridRowWidth:            (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));

// Fluid grid
// -------------------------
@fluidGridColumnWidth:    6.73913043478261%;
@fluidGridGutterWidth:    1.73913043478261%;
