// Best Buy vendor styling
// for Vendor pages, make your edit here


// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";


// vendor container
// -------------------------
.master-content-wrap{
	&.marketing {
		.feature-box {
			border: none;
		}

		.vendor-promotion-banner {
			padding-bottom: 16px;
	
			.promo-link-block {
				height: 368px;
				display: block;
			
				p {
					font-size:14px;
					width: 205px;
					&#first {
						padding: 200px 0px 0 83px;
					}
					
					&#second {
						padding: 10px 0px 0 83px;
					}
					
					&#third {
						padding: 10px 0px 0 83px;
					}
				}
			}	
		}

		.vendor-rz-banner {
			margin-left: 0px;
			padding-bottom: 16px;
		}

		.vendor-feature-brands {
			margin-left: 0px;
			padding-bottom: 16px;
			margin-bottom: 16px;
			border-bottom: 1px solid #cccccc;
		}
		
		.vendor-promotion-item {
			padding-bottom: 16px;
		
			&.span4 {
				padding: 0 5px;
			}
			
			.promo-link-block {
				height: 200px;  
				display: block;          
			}
		
			.call-to-action {
				font-size:14px;
			}
			
			.promotion-item-1 {
				.secondary-promotion-content {
					padding: 88px 22px 0;            
				}        
			}
			
			.promotion-item-2 {
				.secondary-promotion-content {
					padding: 107px 20px 0;            
				}        
			}
			
			.promotion-item-3 {
				.secondary-promotion-content {
					padding: 150px 22px 0;            
				}        
			}
		}

		.vendor-department-container {
			border-bottom: 1px solid #cccccc;
			margin-bottom: 16px;
				
			.vendor-department-banner {
				margin-bottom: 16px;            
				height: 400px;
				background: url('/images/common/backgrounds/1px_gray.gif') repeat-y right;
				width: 24.9%;
			
				&.last {
					background: none;            
					width: 24.7%;
				}
			
				ul li {
					padding: 10px 15px 0 15px;
					font-size: 14px;        
				}                
			
				h2 {            
					padding: 0 15px 10px 0;
				}      
			}
		}

		.section-heading {
			h2 {
				font-size:18px;
			}
	 
			a {
				font-size:14px;
			}
	 
			.span3 {
				width: 150px;
				&#two {
				padding-top:4px;
				}
			}	 
		}
	}
}