
<div class="top-promotion hide-for-small row" data-sticky-bar
  data-mini-styles="{top: -45}"
  data-mini-duration="0.5"
  data-full-styles="{top: 0}"
  data-mini-duration="0.2"
  data-function-x="unfold()"
  dat-fallback-class="TODO">
  <div class="small-12 columns">
    <a class="top-promotion-text left">SAVE UP TO $150 ON AIR CONDITIONERS <i class="fa fa-chevron-right"></i></a>
    <a class="top-promotion-text right">SAVE UP TO $150 ON AIR CONDITIONERS <i class="fa fa-chevron-right"></i></a>
  </div>
</div>

<nav class="main-nav mobile-nav hide-for-small"
data-sticky-header
data-sticky-header-unfold
data-flyout-menu
data-fallback-class="TODO" >
  <div class="row">
    <div class="small-12 columns">
      <a href="/" class="bby-logo-link">
        <img src="/images/assets/logo.svg" alt="Bestbuy.ca" class="bby-logo">
        <img src="/images/assets/bestbuy-mobile.png" alt="Best Buy Mobile" class="bby-mobile-logo">
      </a>
      <ul class="secondary-links">
        <li><a href="#">Français</a></li>
        <li>Welcome, Adam! <a href="#">Sign Out</a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Order Status</a></li>
        <li><a href="#">Customer Service</a></li>
      </ul>
      <form class="search-wrapper">
        <input type="text" name="Search" placeholder="Search products, articles &amp; help topics" class="search-bar">
        <button type="button" class="search-button">
          <img src="/images/assets/header/search.svg" alt="search">
        </button>
      </form>
      <ul class="search-links">
        <li><a href="#">Store Locator</a></li>
        <li><a href="#">Weekly Ad</a></li>
        <li><a href="#">Gift Cards</a></li>
        <li><a href="#">Reward Zone</a></li>
      </ul>

      <ul class="main-nav-categories" data-flyout-menu data-ng-mouseover="showFlyout($event)" data-ng-mouseleave="hideFlyout($event)">
        <li><a href="#" data-flyout-id="flyout-products">Products</a></li>
        <li><a href="#" data-flyout-id="flyout-brands">Carriers</a></li>
        <li><a href="#" data-flyout-id="flyout-services">Accessories</a></li>
        <li><a href="#" data-flyout-id="flyout-deals">Services</a></li>
        <li class="community-btn"><a href="#" data-flyout-id="flyout-community">Community</a></li>
        <li class="bby-button"><a href="#">BESTBUY.CA</a></li>
      </ul>

      <div class="unfold">
          <a href="">
            <i class="fa fa-chevron-down"></i>
          </a>
      </div>
      <div class="cart-container">
          <a href="#" class="cart-button"><img src="/images/assets/header/cart.svg" alt="cart"></a>
      </div>
    </div>
  </div>
</nav>

<div class="row">
  <div class="small-12 columns">
    <ul class="mobile-flyout products">
      <li><a href="#">iPhone</a></li>
      <li><a href="#">Android</a></li>
      <li><a href="#">Windows Phone</a></li>
      <li><a href="#">Blackberry</a></li>
      <li><a href="#">Prepaid Phones</a></li>
      <li><a href="#">Windows Phone</a></li>
      <li><a href="#">Unlocked Phones</a></li>
      <li><a href="#">Tablets &amp; iPads</a></li>
    </ul>

    <ul class="mobile-flyout carriers">
      <li><a href="#">Bell</a></li>
      <li><a href="#">Chatr</a></li>
      <li><a href="#">Fido</a></li>
      <li><a href="#">Koodo</a></li>
      <li><a href="#">Rogers</a></li>
      <li><a href="#">SaskTel</a></li>
      <li><a href="#">TbayTel</a></li>
      <li><a href="#">Telus</a></li>
      <li><a href="#">Virgin Mobile</a></li>
    </ul>

    <ul class="mobile-flyout accessories">
      <li><a href="#">Cases &amp; Screen Protectors</a></li>
      <li><a href="#">Chargers, Cables &amp; Batteries</a></li>
      <li><a href="#">Memory</a></li>
      <li><a href="#">Bluetooth Headsets &amp; Car Kits</a></li>
      <li><a href="#">Fitness Monitors</a></li>
      <li><a href="#">Smartwatches</a></li>
      <li><a href="#">Miscellaneous</a></li>
    </ul>

    <ul class="mobile-flyout services">
      <li><a href="#">Compare Rate Plan</a></li>
      <li><a href="#">Gift Cards</a></li>
      <li><a href="#">Credit Cards</a></li>
      <li><a href="#">Recycling</a></li>
      <li><a href="#">Customer Services</a></li>
      <li><a href="#">Best Buy for Business</a></li>
    </ul>

    <ul class="mobile-flyout community">
      <li><a href="#">Plug-in Home</a></li>
      <li><a href="#">Plug-in Forum</a></li>
      <li><a href="#">Plug-in Blog</a></li>
      <li><a href="#">Brand Blog</a></li>
    </ul>
  </div>
</div>
