
<div>
  <div class="top-promotion hide-for-small row" data-sticky-bar
    data-mini-styles="{top: -45}"
    data-mini-duration="0.5"
    data-full-styles="{top: 0}"
    data-full-duration="0.2"
    dat-fallback-class="TODO">
    <div class="small-12 columns">
      <div class="skip"><a href="#content" tab-index="0">Skip to Main Content</a></div>
      <a class="top-promotion-text left"  tab-index="0">SAVE UP TO $150 ON AIR CONDITIONERS <i class="fa fa-chevron-right"></i></a>
      <a class="top-promotion-text right" tab-index="0">SAVE UP TO $150 ON AIR CONDITIONERS <i class="fa fa-chevron-right"></i></a>
    </div>
  </div>

  <div class="mobile-nav show-for-small-only">
    <ul class="mobile-nav-items">
      <li><a href="#"><i class="fa fa-arrow-left"></i></a></li>
      <li>
        <a href="#"><img src="/images/assets/logo.svg" alt="" class="bby-logo"></a>
      </li>
      <li><a href="#" class="right"><i class="fa fa-times"></i></a></li>
    </ul>
  </div>

  <nav class="main-nav hide-for-small"
  data-sticky-header
  data-sticky-header-unfold
  data-flyout-menu
  data-fallback-class="TODO" >
    <div class="row">
      <div class="small-12 columns">
        <a href="/" class="bby-logo-link" tab-index="0">
          <img src="/images/assets/logo.svg" alt="" class="bby-logo">
        </a>
        <ul class="secondary-links">
          <li><a href="#" tab-index="0">Français</a></li>
          <li>Welcome, Adam! <a href="#"  tab-index="0">Sign Out</a></li>
          <li><a href="#" tab-index="0">My Account</a></li>
          <li><a href="#" tab-index="0">Order Status</a></li>
          <li><a href="#" tab-index="0">Customer Service</a></li>
        </ul>
        <form class="search-wrapper">
          <input type="text" name="Search" placeholder="Search products, articles &amp; help topics" class="search-bar">
          <button type="button" class="search-button">
            <img src="/images/assets/header/search.svg" alt="search">
          </button>
        </form>
        <ul class="search-links">
          <li><a href="#" tab-index="0">Store Locator</a></li>
          <li><a href="#" tab-index="0">Weekly Flyer</a></li>
          <li><a href="#" tab-index="0">Gift Cards</a></li>
          <li><a href="#" tab-index="0">Reward Zone</a></li>
        </ul>

        <ul class="main-nav-categories" data-flyout-menu data-ng-mouseover="showFlyout($event)" data-ng-mouseleave="hideFlyout($event)" data-options="is_hover: false">
          <li><a href="#" data-flyout-id="flyout-products" tab-index="0">Products</a></li>
          <li><a href="#" data-flyout-id="flyout-brands" tab-index="0">Featured Brands</a></li>
          <li><a href="#" data-flyout-id="flyout-services" tab-index="0">Services</a></li>
          <li><a href="#" data-flyout-id="flyout-deals" tab-index="0">Deals &amp; Shops</a></li>
          <li class="community-btn"><a href="#" data-flyout-id="flyout-community" tab-index="0">Community</a></li>

        </ul>
        <div class="unfold">
          <a href="#">
            Expand
            <img src="/images/icons/mini-nav-arrow.svg">
          </a>
        </div>
        <div class="cart-container">
            <a href="#" class="cart-button" tab-index="0"><img src="/images/assets/header/cart.svg" alt="cart"></a>
        </div>
      </div>
    </div>
  </nav>
</div>
<div ng-include src="'/partials/header/flyouts/products.html'"></div>
<div ng-include src="'/partials/header/flyouts/featured-brands.html'"></div>
<div ng-include src="'/partials/header/flyouts/community.html'"></div>
<div ng-include src="'/partials/header/flyouts/services.html'"></div>
<div ng-include src="'/partials/header/flyouts/deals-shops.html'"></div>


