<div class="breadcrumb-container"
  data-sticky-bar
  data-mini-styles="{top: 70}"
  data-mini-duration="0.5"
  data-full-styles="{top: 178}"
  data-full-duration="0.4"
  dat-fallback-class="TODO">
  <div class="row hide-for-small">
    <div class="small-12 columns">
      <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
        <li role="menuitem"><a href="#">Home</a></li>
        <li role="menuitem"><a href="#">Shop by All brands</a></li>
        <li role="menuitem" class="current">Sony store at Best Buy</li>
      </nav>
    </div>
  </div>
</div>

