<div class="small-9 columns viva-list">
  <div class="row">
    <div class="small-12 columns">
      <h4 class="title">Appliances</h4>
      <ul class="small-block-grid-5">
        <li class="text-center">
          <a href="#" class="product-sprite row-10 slot-1">
            <div class="text">
              Kitchen Appliances &amp; Accessories
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-10 slot-2">
            <div class="text">
              Laundry Appliances &amp; Accessories
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-10 slot-3">
            <div class="text">
              Small Kitchen Appliances
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-10 slot-4">
            <div class="text">
              Vacuums &amp; Floorcare
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-10 slot-5">
            <div class="text">
              Air Conditioners &amp; Fans
            </div>
          </a>
        </li>
      </ul>
    </div>
    </div>
  <hr>
  <div class="small-8 columns additional-categories">
    <h4>Additional Categories</h4>
    <ul class="small-block-grid-2">
      <li><a href="#">Refrigerators</a></li>
      <li><a href="#">Coffee, Tea &amp; Espresso</a></li>
      <li><a href="#">Dishwashers</a></li>
      <li><a href="#">Juicers &amp; Blenders</a></li>
      <li><a href="#">Ranges &amp; Ovens</a></li>
      <li><a href="#">Mixers &amp; Food Processors</a></li>
      <li><a href="#">Microwaves</a></li>
      <li><a href="#">Specialty Kitchen Appliances</a></li>
      <li><a href="#">Freezers</a></li>
      <li><a href="#">Shavers &amp; Groomers</li>
      <li><a href="#">Bar Fridges</li>
      <li><a href="#">Humidifiers, Heaters &amp; Air Puri</li>
      <li><a href="#"><b>Shop all Appliances</b></a></li>
    </ul>
  </div>
  <div class="small-4 columns">

  </div>
</div>