<div class="small-9 columns product-content">
  <div class="row">
    <div class="small-12 columns">
      <h4 class="title">TV &amp; Home Theatre</h4>
      <ul class="small-block-grid-4" data-equalizer>
        <li class="text-center">
          <a href="#" class="product-sprite row-7 slot-1">
            <div class="text">
              Car Audio &amp; Video
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-7 slot-2">
            <div class="text">
              Convenience, Security &amp; Collision Avoidance
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-7 slot-3">
            <div class="text">
              GPS
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-7 slot-4">
            <div class="text">
              Satellite Radio
            </div>
          </a>
        </li>
      </ul>
    </div>
    </div>
  <hr>
  <div class="small-8 columns additional-categories">
    <h4>Additional Categories</h4>
    <ul class="small-block-grid-2">
      <li><a href="#">Car Accessories</a></li>
      <li><a href="#">Car Speakers</a></li>
      <li><a href="#">Vehicle Specific Subwoofer Boxes</a></li>
      <li><a href="#">Car Receivers</a></li>
      <li><a href="#">GPS Accessories</a></li>
      <li><a href="#">Car Subwoofers</a></li>
      <li><a href="#">Dash Cameras</a></li>
      <li><a href="#">Car Amplifiers</a></li>
      <li><a href="#">GPS Watches</a></li>
      <li><a href="#">Portable Bower</a></li>
      <li><a href="#"><b>Shop all GPS, Car Audio &amp; Marine</b></a></li>
    </ul>
  </div>
  <div class="small-4 columns">
    <h4 class="resources-title">Resources</h4>
    <ul class="resources">
      <li><a href="#">GPS Buying Guide</a></li>
      <li><a href="#">Satellite Radio Buying Guide</a></li>
    </ul>
  </div>
</div>