<div class="small-9 columns product-content">
  <div class="row">
    <div class="small-12 columns">
      <h4 class="title">iPod, Headphones &amp; Portable Audio</h4>
      <ul class="small-block-grid-5" data-equalizer>
        <li class="text-center">
          <a href="#" class="product-sprite row-6 slot-1">
            <div class="text">
              Apple iPod
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-6 slot-2">
            <div class="text">
              Headphones
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-6 slot-3">
            <div class="text">
              Wireless Speakers &amp; Bluetooth Speakers
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-6 slot-4">
            <div class="text">
              iPod &amp; MP3 Accessories
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-6 slot-5">
            <div class="text">
              Home Theatre Audio
            </div>
          </a>
        </li>
      </ul>
    </div>
    </div>
  <hr>
  <div class="small-8 columns additional-categories">
    <h4>Additional Categories</h4>
    <ul class="small-block-grid-2">
      <li><a href="#">MP3 Players</a></li>
      <li><a href="#">Wireless Headphones</a></li>
      <li><a href="#">CD Players &amp; Turntables</a></li>
      <li><a href="#">Noise-Cancelling Headphones</a></li>
      <li><a href="#">CD players, Boomboxes &amp; Clock </a></li>
      <li><a href="#">Lens Filters</a></li>
      <li><a href="#">Lenses</a></li>
      <li><a href="#">Accessory Kits</a></li>
      <li><a href="#">Flashes &amp; Lighting</a></li>
      <li><a href="#">Drones</a></li>
      <li><a href="#"><b>Shop all Cameras &amp; Camcorders</b></a></li>
    </ul>
  </div>
  <div class="small-4 columns">

  </div>
</div>