<div class="small-9 columns product-content">
  <div class="row">
    <div class="small-12 columns">
      <h4 class="title" tabindex="-1">Computers, Tablets &amp; eReaders</h4>
      <ul class="small-block-grid-5" data-equalizer>
        <li class="text-center">
          <a href="#" class="product-sprite row-1 slot-1">
            Laptops &amp; Ultrabooks
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-1 slot-2">
            Tablets &amp; iPads
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-1 slot-3">
            Macbook, iMac &amp; Mac Pro
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-1 slot-4">
            Desktop Computers
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-1 slot-5">
            Monitors
          </a>
        </li>
      </ul>
    </div>
    </div>
  <hr>
  <div class="small-8 columns additional-categories">
    <h4>Additional Categories</h4>
    <ul class="small-block-grid-2">
      <li><a href="#">Computer Accessories</a></li>
      <li><a href="#">iPad &amp; Tablet Accessories</a></li>
      <li><a href="#">Mice &amp; Keyboards</a></li>
      <li><a href="#">Printers, Scanners &amp; Fax</a></li>
      <li><a href="#">Drives &amp; Storage</a></li>
      <li><a href="#">Software</a></li>
      <li><a href="#">Networking</a></li>
      <li><a href="#">Projectors</a></li>
      <li><a href="#">eBook Readers</a></li>
      <li><a href="#">Video Cards &amp; PC Components</a></li>
      <li><a href="#"><b>Shop all Computer &amp; Tablets</b></a></li>
    </ul>
  </div>
  <div class="small-4 columns">
    <h4 class="resources-title">Resources</h4>
    <ul class="resources">
      <li><a href="#">Laptop Buying Guide</a></li>
      <li><a href="#">Ultrabook Buying Guide</a></li>
      <li><a href="#">Tablet Buying Guide</a></li>
      <li><a href="#">Networking Buying Guide</a></li>
      <li><a href="#">Printer Buying Guide</a></li>
      <li><a href="#">Build Your Own PC Buying Guide</a></li>
    </ul>
  </div>
</div>