<div class="small-9 columns product-content viva-list">
  <div class="row">
    <div class="small-7 columns">
        <div class="small-12 columns">
          <h4 class="title">VIVA logo goes here</h4>
          <hr>
        </div>
        <div class="small-7 columns">
          <ul>
            <li><a href="#"><b>VIVA Healthy Living</b></a></li>
            <li><a href="#">Fitness Equipment</a></li>
            <li><a href="#">Fitness Monitors</a></li>
            <li><a href="#">Yoga, Pilates &amp; Stretching</a></li>
            <li><a href="#">Back &amp; Body Supports</a></li>
            <li><a href="#">Sports Nutrition</a></li>
            <li><a href="#">Vitamins &amp; Supplements</a></li>
          </ul>
          <ul>
            <li><a href="#"><b>VIVA Naturals</b></a></li>
            <li><a href="#">Natural &amp; Organic Personal Care, Health &amp; Baby Products</a></li>
          </ul>
        </div>
        <div class="small-5 columns">
          <ul>
            <li><a href="#"><b>VIVA Style</b></a></li>
            <li><a href="#">Travel &amp; Luggage</a></li>
            <li><a href="#">Backpacks</a></li>
            <li><a href="#">Messenger Bags</a></li>
            <li><a href="#">Travel &amp; Luggage Accessories</a></li>
            <li><a href="#">Handbags</a></li>
            <li><a href="#">Wallets</a></li>
            <li><a href="#">Watches</a></li>
            <li><a href="#">Jewelry</a></li>
            <li><a href="#">Fashion Accessories</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <a href="#"><b>Explore all VIVA from Best Buy ></b></a>
        </div>
      </div>
      <div class="small-5 columns hidden-overflow">
        <a href="#" class="large-banner beauty-personal-care">
          <b class="banner-title">BURTON BAGS</b>
          <p class="banner-info">Now Available on VIVA from Best Buy</p>
          <p class="banner-cta">Shop Now ></p>
        </a>
      </div>
    </div>
  </div>
</div>