<div class="small-9 columns product-content viva-list">
  <div class="row">
    <div class="small-7 columns">
        <div class="small-12 columns">
          <h4 class="title logo">Home, Furniture &amp; Kitchen</h4>
        </div>
        <div class="small-6 columns">
          <ul>
            <li><a href="#"><b>Kitchen &amp; Dining</b></a></li>
            <li><a href="#">Small Kitchen Appliances</a></li>
            <li><a href="#">Cookware</a></li>
            <li><a href="#">Bakeware</a></li>
            <li><a href="#">Dinnerware</a></li>
            <li><a href="#">Glassware &amp; Drinkware</a></li>
            <li><a href="#">Kitchen Knives</a></li>
            <li><a href="#">Barware &amp; Wine Accessories</a></li>
          </ul>
          <ul>
            <li><a href="#"><b>Home</b></a></li>
            <li><a href="#">Surveillance &amp; Automation</a></li>
            <li><a href="#">Household Cleaning</a></li>
            <li><a href="#">Bath &amp; Bedding</a></li>
          </ul>
        </div>
        <div class="small-6 columns">
          <ul>
            <li><a href="#"><b>Furniture &amp; Decor</b></a></li>
            <li><a href="#">Bedroom Furniture</a></li>
            <li><a href="#">Office Furniture</a></li>
            <li><a href="#">Kitchen &amp; Dining Room Furniture</a></li>
            <li><a href="#">Living Room Furniture</a></li>
            <li><a href="#">Home Decor &amp; Lighting</a></li>
            <li><a href="#">Mattresses &amp; Box Springs</a></li>
          </ul>
          <ul>
            <li><a href="#"><b>Outdoor Living</b></a></li>
            <li><a href="#">BBQs &amp; Outdoor Cooking</a></li>
            <li><a href="#">Patio Furniture</a></li>
            <li><a href="#">Patio Heaters</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <a href="#"><b>Shop Home &amp; Lifestyle ></b></a>
        </div>
      </div>
      <div class="small-5 columns hidden-overflow">
        <a href="#" class="large-banner home-furniture-kitchen">
          <b class="banner-title white">Update your space for less</b>
          <p class="banner-info white">Great deals on a huge selection of stylish furniture.</p>
          <p class="banner-cta white">Shop Now ></p>
        </a>
      </div>
    </div>
  </div>
</div>