<div class="small-9 columns product-content">
  <div class="row">
    <div class="small-12 columns">
      <h4 class="title">Ink, Office Supplies &amp; Telephones</h4>
      <ul class="small-block-grid-5" data-equalizer>
        <li class="text-center">
          <a href="#" class="product-sprite row-2 slot-1">
            <div class="text">
              Printers, Scanners, &amp; Fax
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-2 slot-2">
            <div class="text">
              Ink &amp; Toner
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-2 slot-3">
            <div class="text">
              Desk &amp; School Supplies
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-2 slot-4">
            <div class="text">
              Home Office Furniture
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-2 slot-5">
            <div class="text">
              Home Phones &amp; Office Communications
            </div>
          </a>
        </li>
      </ul>
    </div>
    </div>
  <hr>
  <div class="small-8 columns additional-categories">
    <h4>Additional Categories</h4>
    <ul class="small-block-grid-2">
      <li><a href="#">Shredders &amp; Paper Cutters</a></li>
      <li><a href="#">Voice Recorders</a></li>
      <li><a href="#">Binding &amp; Laminating</a></li>
      <li><a href="#">Home Office Furniture</a></li>
      <li><a href="#">Filing Storage &amp; Binders</a></li>
      <li><a href="#">Calculators</a></li>
      <li><a href="#">Planners, Boards, &amp; Presentation</a></li>
      <li><a href="#">Batteries</a></li>
      <li><a href="#">Other Office Supplies</a></li>
      <li><a href="#">Surveillance &amp; Automation</a></li>
    </ul>
  </div>
  <div class="small-4 columns">

  </div>
</div>