<div class="small-9 columns product-content">
  <div class="row">
    <div class="small-12 columns">
      <h4 class="title">iPod, Headphones &amp; Portable Audio</h4>
      <ul class="small-block-grid-5" data-equalizer>
        <li class="text-center">
          <a href="#" class="product-sprite row-5 slot-1">
            <div class="text">
              Apple iPod
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-5 slot-2">
            Headphones
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-5 slot-3">
            <div class="text">
              Wireless Speakers &amp; Bluetooth Speakers
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-5 slot-4">
            <div class="text">
              iPod &amp; MP3 Accessories
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-5 slot-5">
            <div class="text">
              Home Theatre Audio
            </div>
          </a>
        </li>
      </ul>
    </div>
    </div>
  <hr>
  <div class="small-8 columns additional-categories">
    <h4>Additional Categories</h4>
    <ul class="small-block-grid-2">
      <li><a href="#">Action &amp; Helmet Cameras</a></li>
      <li><a href="#">Tripods &amp; Mounts</a></li>
      <li><a href="#">Waterproof Cameras</a></li>
      <li><a href="#">Cases &amp; Bags</a></li>
      <li><a href="#">Memory Cards &amp; Card Readers</a></li>
      <li><a href="#">Lens Filters</a></li>
      <li><a href="#">Lenses</a></li>
      <li><a href="#">Accessory Kits</a></li>
      <li><a href="#">Flashes &amp; Lighting</a></li>
      <li><a href="#">Drones</a></li>
      <li><a href="#"><b>Shop all Cameras &amp; Camcorders</b></a></li>
    </ul>
  </div>
  <div class="small-4 columns">

  </div>
</div>