<div class="small-9 columns product-content">
  <div class="row">
    <div class="small-12 columns">
      <h4 class="title">Musical Instruments</h4>
      <ul class="small-block-grid-5" data-equalizer>
        <li class="text-center">
          <a href="#" class="product-sprite row-9 slot-1">
            Guitars
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-9 slot-2">
            <div class="text">
              Keyboards &amp; Digital Pianos
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-9 slot-3">
            <div class="text">
              Microphones
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-9 slot-4">
            <div class="text">
              Karaoke
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-9 slot-5">
            <div class="text">
              Recording Interfaces and Equipment
            </div>
          </a>
        </li>
      </ul>
    </div>
    </div>
  <hr>
  <div class="small-8 columns additional-categories">
    <h4>Additional Categories</h4>
    <ul class="small-block-grid-2">
      <li><a href="#">DJ Equipment</a></li>
      <li><a href="#">String Instruments</a></li>
      <li><a href="#">Speakers &amp; Monitors</a></li>
      <li><a href="#">Amps</a></li>
      <li><a href="#">Live Performance Equipment</a></li>
      <li><a href="#">Musical Instrument Accessories</a></li>
      <li><a href="#">Drums &amp; Percussion</a></li>
      <li><a href="#">Other Instruments</a></li>
      <li><a href="#">Woodwind Instruments</a></li>
      <li><a href="#">Guitar Accessories</a></li>
      <li><a href="#">Brass Instruments</a></li>
      <li><a href="#"><b>Shop all TV &amp; Musical Instruments</b></a></li>
    </ul>
  </div>
  <div class="small-4 columns">
    <h4 class="resources-title">Resources</h4>
    <ul class="resources">
      <li><a href="#">Keyboard and Digital Piano Buying Guide</a></li>
      <li><a href="#">Speakers and Monitors Buying Guide</a></li>
      <li><a href="#">Drums &amp; Percussion Buying Guide</a></li>
      <li><a href="#">Guitar Buying Guide</a></li>
      <li><a href="#">Guitar Pedal Buying Guide</a></li>
      <li><a href="#">Amp Buying Guide</a></li>
    </ul>
  </div>
</div>