<div class="small-9 columns product-content viva-list">
  <div class="row">
    <div class="small-7 columns">
        <div class="small-12 columns">
          <h4 class="title">Toys, Sports &amp; Recreation</h4>
          <hr>
        </div>
        <div class="small-7 columns">
          <ul>
            <li><a href="#"><b>Toys, Games &amp; Collectibles</b></a></li>
            <li><a href="#">RC Cars &amp; Hobby Toys</a></li>
            <li><a href="#">LEGO &amp; Building Toys</a></li>
            <li><a href="#">Kids Tablets &amp; Educational Toys</a></li>
            <li><a href="#">Games &amp; Puzzles</a></li>
            <li><a href="#">App Toys, Robotics &amp; Drones</a></li>
            <li><a href="#">Ride-on &amp; Push Toys</a></li>
            <li><a href="#">Playsets &amp; Pretend Play</a></li>
            <li><a href="#">Action Figures &amp; Dolls</a></li>
            <li><a href="#">Arts &amp; Crafts</a></li>
          </ul>
        </div>
        <div class="small-5 columns">
          <ul>
            <li><a href="#"><b>Sports &amp; Recreation</b></a></li>
            <li><a href="#">Bikes &amp; Scooters</a></li>
            <li><a href="#">Binoculars &amp; Monoculars</a></li>
            <li><a href="#">Telescopes</a></li>
            <li><a href="#">Solar Panels &amp; Chargers</a></li>
            <li><a href="#">Camping Equipment</a></li>
            <li><a href="#">Sports Training Equipment</a></li>
            <li><a href="#">Rec Room Games</a></li>
          </ul>
        </div>
        <div class="small-12 columns">
          <a href="#"><b>Shop all Toys and Games ></b></a>
        </div>
      </div>
      <div class="small-5 columns hidden-overflow">
        <a href="#" class="large-banner toys-sports-recreation">
          <p class="banner-info bold black">Thousands of toys from the brands you love</p>
          <p class="banner-cta">Shop the best toys for the summer ></p>
        </a>
      </div>
    </div>
  </div>
</div>