<div class="small-9 columns product-content">
  <div class="row">
    <div class="small-12 columns">
      <h4 class="title">TV &amp; Home Theatre</h4>
      <ul class="small-block-grid-5" data-equalizer>
        <li class="text-center">
          <a href="#" class="product-sprite row-3 slot-1">
            <div class="text">
              Televisions
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-3 slot-2">
            <div class="text">
              Home Audio &amp; Speakers
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-3 slot-3">
            <div class="text">
              Blu-ray, DVD &amp; Video Recorders
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-3 slot-4">
            <div class="text">
              Home Theatre Accessories
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-3 slot-5">
            <div class="text">
              TV Stands &amp; Mounts
            </div>
          </a>
        </li>
      </ul>
    </div>
    </div>
  <hr>
  <div class="small-8 columns additional-categories">
    <h4>Additional Categories</h4>
    <ul class="small-block-grid-2">
      <li><a href="#">Media Streaming</a></li>
      <li><a href="#">Wireless Speakers &amp; Bluetooth</a></li>
      <li><a href="#">Projectors &amp; Accessories</a></li>
      <li><a href="#">CD Players &amp; Turntables</a></li>
      <li><a href="#">Digital Cable, Satellite &amp; IPTV</a></li>
      <li><a href="#">Tower Speakers</a></li>
      <li><a href="#">Sound Bars</a></li>
      <li><a href="#">Subwoofers</a></li>
      <li><a href="#">Receivers</a></li>
      <li><a href="#">TV Antennas</a></li>
      <li><a href="#"><b>Shop all TV &amp; Home Theatre</b></a></li>
    </ul>
  </div>
  <div class="small-4 columns">

  </div>
</div>