<div class="small-9 columns product-content">
  <div class="row">
    <div class="small-12 columns">
      <h4 class="title">Video Games, Movies &amp; Music</h4>
      <ul class="small-block-grid-5" data-equalizer>
        <li class="text-center">
          <a href="#" class="product-sprite row-9 slot-1">
            <div class="text">
              Xbox One
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-9 slot-2">
            <div class="text">
              PlayStation 4
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-9 slot-3">
            <div class="text">
              Nintendo Wii U
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-9 slot-4">
            <div class="text">
              Pre-order Games
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-9 slot-5">
            <div class="text">
              Movies &amp; TV Shows
            </div>
          </a>
        </li>
      </ul>
    </div>
    </div>
  <hr>
  <div class="small-8 columns additional-categories">
    <h4>Additional Categories</h4>
    <ul class="small-block-grid-2">
      <li><a href="#">Playstation 3</a></li>
      <li><a href="#">Disney INFINITY, Skylanders, Amiibo</a></li>
      <li><a href="#">Xbox 360</a></li>
      <li><a href="#">Gaming Console Headsets</a></li>
      <li><a href="#">Nintendo 3DS, 3DS XL &amp; 2DS</a></li>
      <li><a href="#">Trade-in Games</a></li>
      <li><a href="#">Playstation Vita</a></li>
      <li><a href="#">Funko Figurines</a></li>
      <li><a href="#">PC Games</a></li>
      <li><a href="#">Music</li>
      <li><a href="#">Previously Played Games</li>
      <li><a href="#">SteelBooks</li>
      <li><a href="#"><b>Shop all Video Games</b></a></li>
    </ul>
  </div>
  <div class="small-4 columns">
    <h4 class="resources-title">Resources</h4>
    <ul class="resources">
      <li><a href="#">GPS Buying Guide</a></li>
      <li><a href="#">Satellite Radio Buying Guide</a></li>
    </ul>
  </div>
</div>