<div class="small-9 columns product-content">
  <div class="row">
    <div class="small-12 columns">
      <h4 class="title">Wearable Technology</h4>
      <ul class="small-block-grid-5" data-equalizer>
        <li class="text-center">
          <a href="#" class="product-sprite row-8 slot-1">
            <div class="text">
              Wearable Technology
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-8 slot-2">
            <div class="text">
              Smartwatches
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-8 slot-3">
            <div class="text">
              Activity Trackers &amp; Pedometers
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-8 slot-4">
            <div class="text">
              GPS Watches &amp; Smart Tracking Devices
            </div>
          </a>
        </li>
        <li class="text-center">
          <a href="#" class="product-sprite row-8 slot-5">
            <div class="text">
              Healthcare Devices
            </div>
          </a>
        </li>
      </ul>
    </div>
    </div>
  <hr>
  <div class="small-8 columns additional-categories">
    <h4>Additional Categories</h4>
    <ul class="small-block-grid-2">
      <li><a href="#">Smart Sports Equipment</a></li>
      <li><a href="#">Blood Pressure Montiors</a></li>
      <li><a href="#">Pet Wearables</a></li>
      <li><a href="#">Heart Rate Monitors</a></li>
      <li><a href="#">Action &amp; Body Mounted Cameras</a></li>
      <li><a href="#">Thermometers</a></li>
      <li><a href="#">Gesture Control Devices</a></li>
      <li><a href="#">Fitness Equipment</a></li>
      <li><a href="#">Smart Glasses &amp; Virtual Reality</a></li>
      <li><a href="#">Sports Training Equipment</a></li>
      <li><a href="#">Wearable Technology Accessories</a></li>
      <li><a href="#">Smart Clothing</a></li>
      <li><a href="#">Scales</a></li>
    </ul>
  </div>
  <div class="small-4 columns">

  </div>
</div>